<div class="row">
<div class="col-md-12">
<h3>Como tornar os testes gen&eacute;ticos mais baratos e acess&iacute;veis.</h3>

<p>Atualmente, a Invitae pode fornecer resultados para qualquer teste gen&eacute;tico constante do <a href="{% page_url 'portal_common.test-catalog' %}"> nosso cat&aacute;logo</a> por um mesmo pre&ccedil;o<sup>*</sup> em um tempo m&eacute;dio de tr&ecirc;s semanas.</p>

<p>Como parte desse cat&aacute;logo, a empresa atualmente oferece os seguintes pain&eacute;is:</p>

<div class="categories-section" style="margin-bottom:20px;">
<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGIA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">C&Acirc;NCER<br />
HEREDIT&Aacute;RIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGIA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGIA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">CAT&Aacute;LOGO DE<br />
TESTES </span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
</div>

<p>Adicionalmente, a Invitae tem o compromisso de melhorar a sa&uacute;de familiar utilizando o poder das informa&ccedil;&otilde;es gen&eacute;ticas e tecnologias inovadoras. A &ldquo;Ferramenta do hist&oacute;rico familiar da Invitae&rdquo; &eacute; um aplicativo gratuito de coleta de hist&oacute;rico familiar que permite que os conselheiros gen&eacute;ticos geneticistas digitalmente criem, modifiquem, compartilhem e gravem a linhagem dos seus pacientes.</p>

<p>Saiba mais sobre a <a href="{% page_url 'portal_common.family-history' %}">Ferramenta do hist&oacute;rico familiar</a>.</p>
</div>
</div>