<div class="row">
<div class="col-md-12">
<h3>Results</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the turnaround time?</h4>

<div class="expandable-content">
<p>For non-STAT panel testing, the turnaround time is 10&ndash;21 calendar days (14 days on average); for Invitae Breast Cancer STAT panels, it is 5&ndash;12 calendar days (7 days on average).</p>

<p>For the Invitae Boosted Exome, the turnaround time is approximately 6-8 weeks.</p>

<p>Please note that the turnaround time for all tests begins when Invitae receives the sample(s).</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Will ordering&nbsp;fewer genes result in a shorter turnaround time?</h4>

<div class="expandable-content">
<p>No, our average turnaround time does not change depending on how many genes are ordered. The turnaround time for all non-STAT tests is 10&ndash;21 calendar days (14 days on average) from the time Invitae receives the sample. For STAT panels, the turnaround time is 5&ndash;12 calendar days (7 days on average); please note that the genes on the STAT panel cannot be customized for the initial order. For the Invitae Boosted Exome, the turnaround time is approximately 6-8 weeks.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer expedited report delivery?</h4>

<div class="expandable-content">
<p>The Invitae Breast Cancer STAT Panels offer rapid results in 5&ndash;12 calendar days (7 days on average). These panels use the same high quality, peer-reviewed process as Invitae&rsquo;s other diagnostic tests. Like other Invitae panel&nbsp;tests, they also include the option to re-requisition additional genes if needed within 90 days of receiving STAT report, at no additional charge.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How will I get the report?</h4>

<div class="expandable-content">
<p>When the report is ready, you will receive an email notification and be able to view and download it directly from your Invitae account. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services if you would like us to send the report via fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does an Invitae clinical report include?</h4>

<div class="expandable-content">
<p>Results and their clinical interpretations are presented in the form of a readily comprehensible clinical report with full transparency into the performance characteristics for each condition or gene. A sample report can be found on the <a href="{% page_url 'portal_common.brochures-handouts' %}">Brochures</a> page of our website.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How does Invitae classify genetic variants?</h4>

<div class="expandable-content">
<p>Invitae&rsquo;s team of scientists, physicians, and genetic counselors works together to provide high-quality and rigorous variant classifications. Invitae&rsquo;s method of variant classification is a systematic process for assessing the evidence gathered during variant review and applying a formal variant classification based on this evidence. Our method of variant classification adheres closely to the recommendations from the American College of Medical Genetics (ACMG). These guidelines for variant interpretation represent the industry standard among clinical genetic testing laboratories. To learn more, visit our <a href="{% page_url 'portal_common.variant-classification' %}">Variant Classification</a> page.</p>
</div>
</div>
</div>
</div>
