<div class="row">
<div class="col-md-12">
<h3>Licensing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Is Invitae Clinical Laboratory Improvement Amendments (CLIA) certified?</h4>

<div class="expandable-content">
<p>Yes. Our CLIA ID number is 05D2040778. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Is Invitae College of American Pathologists (CAP) accredited?</h4>

<div class="expandable-content">
<p>Yes. Our CAP LAP number is 8770489 and our AU-ID is 1703789. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Do you accept samples from all states?</h4>

<div class="expandable-content">
<p>Yes we currently accept samples from all US states including New York. Please visit our <a href="{% page_url 'portal_common.new-york' %}">New York approved</a> page to download lists of the&nbsp;tests and genes which are approved or under conditional approval by New York State to be performed at Invitae.</p>
</div>
</div>
</div>
</div>
