<div class="row">
<div class="col-md-12">
<h3>Data sharing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Which variants does Invitae submit to ClinVar?</h4>

<div class="expandable-content">
<p>As a matter of policy, Invitae submits all clinically observed variants to ClinVar, with a few exceptions:</p>

<ul class="bullet-list">
	<li>Benign common polymorphisms, observed in public population databases, have historically not been submitted to ClinVar. However we intend to add those in the near future in order to be complete.</li>
	<li>Only variants in clinically requisitioned genes are submitted.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How often does Invitae submit to ClinVar? Are the data kept up to date?</h4>

<div class="expandable-content">
<p>Data are submitted approximately once every quarter. Any reclassifications made since our last submission are included.</p>

<p>If new evidence for a variant becomes available but its classification does not change, then the ClinVar record may not be updated.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What information about variants does Invitae submit to ClinVar?</h4>

<div class="expandable-content">
<p>Invitae submits clinically observed variants with their pathogenicity classifications and the date of that classification. Importantly, a summary of the underlying evidence for and against pathogenicity is also provided for each variant, with some exceptions:</p>

<ul class="bullet-list">
	<li>Evidence descriptions have not been included for most submitted benign or likely benign variants. We intend to add these descriptions in the near future.</li>
	<li>Some older classified variants do not have evidence descriptions submitted.</li>
	<li>Variants without classifications do not include evidence descriptions.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Why does Invitae submit data to ClinVar?</h4>

<div class="expandable-content">
<p>Data sharing through ClinVar allows ongoing (a) inter-laboratory quality control, (b) detailed peer review, and (c) consensus interpretation for each and every variant classification by the global community of experts. Invitae submits data per recommendations of the American Medical Association (AMA), the National Society of Genetic Counselors (NSGC), and other groups.</p>

<p>These public data are essential for ongoing quality improvement in personalized medicine. Expert variant curation teams have now been set up by the ClinGen consortium, which are reviewing ClinVar classifications in their respective areas of expertise. Not only do these teams work towards consensus interpretation (particularly in cases where there is disagreement) but also they use this information to help improve variant interpretation guidelines for the entire medical genetics community.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Have Invitae&rsquo;s data submission practices been approved by an IRB?</h4>

<div class="expandable-content">
<p>Yes. <a href="{% page_url 'portal_common.contact' %}">Contact us</a> for details.</p>
</div>
</div>
</div>
</div>
