<div class="row">
<div class="col-md-12">
<h3>Genetic Counseling Services</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer genetic counseling?</h4>

<div class="expandable-content">
<p>Yes. Consultation with a genetic counselor is offered for every patient in the US who undergoes hereditary cancer testing at Invitae. Learn more on the <a href="{% page_url 'portal_common.gc-services' %}">Clinical Support Services</a> webpage.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Are genetic counseling services provided for patients undergoing all types of Invitae tests?</h4>

<div class="expandable-content">
<p>This service is currently available for patients in the US undergoing hereditary cancer testing.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Is there a charge for Invitae&rsquo;s genetic counseling services?</h4>

<div class="expandable-content">
<p>Invitae&rsquo;s genetic counseling services are included in the cost of Invitae&rsquo;s tests.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can my patient reach an Invitae genetic counselor?</h4>

<div class="expandable-content">
<p>Please have your patient call our Client Services team at 800-436-3037 and ask to speak with a genetic counselor.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What should my patient expect when they call Invitae?</h4>

<div class="expandable-content">
<p>Patients may call Invitae&#39;s genetic counselors at 800-436-3037 anytime during business hours to:</p>

<ul class="bullet-list">
	<li>ask general questions about the genetic testing process</li>
	<li>briefly review their genetic test results (after you release them)</li>
	<li>schedule a comprehensive post-test genetic counseling session</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What happens during a comprehensive post-test genetic counseling session?</h4>

<div class="expandable-content">
<p>If your patient chooses to schedule a comprehensive post-test genetic counseling session, the genetic counselor will briefly review your patient&rsquo;s medical history, ask questions about family medical history, review information about the genetic test results and what those results may mean for your patient and their family. A detailed consult note and pedigree will be made available to both you and your patient after the post-test genetic counseling session is complete.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Are genetic counseling services provided in languages other than English?</h4>

<div class="expandable-content">
<p>Yes. Spanish-language genetic counseling is available within Invitae. We also have access to interpreters who can provide services in most languages.</p>
</div>
</div>
</div>
</div>
