<div class="row">
<div class="col-md-12">
<h3>Preguntas frecuentes</h3>

<div class="faq-block">
<div class="faq-block__heading theme-one">Estudios gen&eacute;ticos con Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; es un estudio gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Los estudios gen&eacute;ticos analizan los genes, que son las instrucciones codificadas en el ADN. Los genes ayudan a determinar el color del pelo y de los ojos, la estatura y otros rasgos f&iacute;sicos que nos caracterizan. Los estudios gen&eacute;ticos buscan variaciones en los genes que pueden potencialmente causar enfermedades. Usted o su m&eacute;dico pueden considerar realizar un estudio gen&eacute;tico por una variedad de razones, como confirmar una enfermedad que posiblemente usted tenga o comprender la causa de una afecci&oacute;n hereditaria.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; tipos diferentes de estudios gen&eacute;ticos existen?</h4>

<div class="expandable-content">
<p>Invitae ofrece estudios de diagn&oacute;stico y predictivos. Los estudios de diagn&oacute;stico se realizan para confirmar gen&eacute;ticamente una enfermedad que su m&eacute;dico sospecha que usted podr&iacute;a tener, en funci&oacute;n de sus s&iacute;ntomas. Los estudios predictivos son aquellos que se realizan para determinar su futuro riesgo de desarrollar una enfermedad o afecci&oacute;n. Si tiene antecedentes familiares de una enfermedad espec&iacute;fica que puede ser hereditaria, ya sea que se trate de una enfermedad hereditaria rara o una m&aacute;s com&uacute;n, como el c&aacute;ncer, su m&eacute;dico puede recomendarle que se realice un estudio predictivo para dilucidar su riesgo de desarrollar la enfermedad en el futuro.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; tipos de estudios gen&eacute;ticos ofrece Invitae?</h4>

<div class="expandable-content">
<p>Invitae se especializa en Estudios gen&eacute;ticos para afecciones hereditarias relacionadas con una variedad de disciplinas m&eacute;dicas, incluidas la cardiolog&iacute;a, los c&aacute;nceres hereditarios, la pediatr&iacute;a, la neurolog&iacute;a y la hematolog&iacute;a. Para obtener informaci&oacute;n m&aacute;s detallada sobre nuestros estudios gen&eacute;ticos, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.test-catalog' %}"> cat&aacute;logo de estudios.</a></p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; apoyo ofrece Invitae durante el proceso de estudios?</h4>

<div class="expandable-content">
<p>Comprendemos que tomar decisiones acerca de los estudios gen&eacute;ticos puede algunas veces ser abrumador. Con Invitae, encontrar&aacute; el apoyo que necesita en cada paso del recorrido, antes, durante y despu&eacute;s del estudio. Ponemos todos nuestros recursos en funcionamiento para usted a fin de que pueda poner toda su atenci&oacute;n en su propio cuidado y el cuidado de su familia y su futuro.</p>

<p>Los servicios de estudios gen&eacute;ticos de Invitae incluyen lo siguiente:</p>

<ul class="bullet-list">
	<li>Estudios gen&eacute;ticos simples, convenientes y econ&oacute;micos</li>
	<li>Resultados en aproximadamente tres semana</li>
	<li>An&aacute;lisis a cargo de expertos para facilitar la comprensi&oacute;n</li>
	<li>Estudios de alta calidad y econ&oacute;micos, incluidos, en algunos casos, programas de financiamiento para el paciente</li>
	<li>Asesoramiento gen&eacute;tico (con derivaci&oacute;n del m&eacute;dico) para ayudarlo a comprender sus resultados de estudios gen&eacute;ticos</li>
	<li>Si corresponde, estudios para miembros de la familia para dilucidar los riesgos para sus familiares</li>
	<li>Ayuda con el seguro y el proceso de facturaci&oacute;n en los Estados Unidos</li>
	<li>Acceso conveniente en l&iacute;nea y la capacidad de hacer un seguimiento de sus muestras durante todo el proceso de estudios</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo s&eacute; qu&eacute; tipo de estudio gen&eacute;tico es el correcto para m&iacute;?</h4>

<div class="expandable-content">
<p>Encontrar el estudio gen&eacute;tico correcto depende de sus antecedentes m&eacute;dicos y familiares, sus afecciones m&eacute;dicas actuales, y los tipos de respuestas que usted y su m&eacute;dico est&eacute;n buscando. Hable con su m&eacute;dico acerca de qu&eacute; tipo de estudios gen&eacute;ticos son los adecuados para usted, o <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al Cliente para obtener m&aacute;s informaci&oacute;n acerca de sus opciones.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; sucede si se descubre que tengo una variante gen&eacute;tica y mis familiares desean realizarse un estudio?</h4>

<div class="expandable-content">
<p>Los resultados de sus estudios gen&eacute;ticos pueden tener consecuencias no solo para usted sino tambi&eacute;n para su familia.</p>

<p>Si usted recibe resultados positivos de un estudio de Invitae, los estudios de variantes familiares espec&iacute;ficas pueden ayudar a identificar a otros familiares con la misma variante gen&eacute;tica y entregarles informaci&oacute;n sobre sus riesgos gen&eacute;ticos. Para obtener m&aacute;s informaci&oacute;n acerca de las opciones de estudios para su familia, hable con su m&eacute;dico o comun&iacute;quese con nuestro equipo de Atenci&oacute;n al Cliente.</p>

<p>Los estudios de variantes familiares de Invitae involucran un an&aacute;lisis completo del gen en el cual fue identificada la variante del miembro original de la familia. El reporte incluir&aacute; el estado de la variante familiar, as&iacute; como tambi&eacute;n cualquier otra variante(s) identificada en el gen, que sean causantes o probablemente causantes de enfermedad.</p>

<p>Los estudios de variantes familiares son ofrecidos a miembros elegibles de la familia a $200 por gen por familiar estudiado. En promedio, los resultados est&aacute;n disponibles en tres semanas desde que recibimos la muestra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qui&eacute;nes son elegibles para los estudios&nbsp;de variantes familiares?</h4>

<div class="expandable-content">
<p>Un miembro de la familia del paciente original es elegible si cumple con las siguientes condiciones:</p>

<ul class="bullet-list">
	<li>El paciente original fue estudiado en Invitae*</li>
	<li>En el reporte del paciente original fue identificada una variante causante o probablemente causante de enfermedad**</li>
	<li>El familiar est&aacute; en riesgo por ser portador de la misma variante</li>
</ul>

<p>*Los estudios de variantes familiares no est&aacute;n disponibles para familias en las que la variante del paciente original fue encontrada por un laboratorio distinto de Invitae.</p>

<p>**Si el reporte del paciente original identific&oacute; una variante de significancia invierta (VUS, por sus siglas en ingl&eacute;s), podr&iacute;a estar disponible la Resoluci&oacute;n de VUS sin cargo adicional para los familiares elegibles. Los familiares de pacientes que no califican para Resoluci&oacute;n de VUS sin costo, pueden beneficiarse de los Estudios de Variantes Familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; sucede si mi estudio gen&eacute;tico tiene un resultado negativo o no concluyente?</h4>

<div class="expandable-content">
<p>Si recibe un resultado negativo o no concluyente en un estudio de Invitae, su m&eacute;dico puede decidir analizar otros genes relacionados con la &aacute;rea cl&iacute;nica original por la cual usted se someti&oacute; al estudio. Estos genes agregados se pueden solicitar sin cargo adicional dentro de los 90 d&iacute;as posteriores a la recepci&oacute;n del resultado del primer estudio por parte del m&eacute;dico. (Solo son elegibles los genes disponibles en el momento del informe original). Se encuentra disponible m&aacute;s informaci&oacute;n acerca de este programa en nuestra p&aacute;gina de solicitud de genes adicionales en <a href="{% page_url 'portal_common.re-requisition' %}">invitae.com/solicitud-de-genes-adicionales</a>.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-two">El proceso de estudio gen&eacute;tico en Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo funciona?</h4>

<div class="expandable-content">
<p>Los estudios gen&eacute;ticos cl&iacute;nicos de Invitae deben ser ordenados por un profesional de atenci&oacute;n m&eacute;dica certificado y autorizado.</p>

<p>Queremos que el proceso de las pruebas gen&eacute;ticas sea lo m&aacute;s sencillo posible. Una vez que usted y su m&eacute;dico hayan decidido cu&aacute;l es la prueba gen&eacute;tica correcta para usted, se enviar&aacute; una muestra de sangre o saliva a Invitae para su an&aacute;lisis.</p>

<p>Muchos pacientes se realizan la extracci&oacute;n de sangre en el consultorio de su m&eacute;dico o laboratorio local. Si necesita ayuda con la extracci&oacute;n de sangre, Invitae ofrece un servicio conveniente para realizar la extracci&oacute;n en su domicilio sin costo adicional. Este servicio de recolecci&oacute;n de muestras se ofrece en los Estados Unidos y Canad&aacute;.</p>

<p>Al momento de la recepci&oacute;n de la muestra de sangre, un equipo de cient&iacute;ficos, cl&iacute;nicos y asesores gen&eacute;ticos lleva a cabo el estudio gen&eacute;tico y trabaja en conjunto para revisar los resultados y proporcionar interpretaci&oacute;n experta. Luego los resultados del estudio gen&eacute;tico se env&iacute;an a su m&eacute;dico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo proporciono una muestra?</h4>

<div class="expandable-content">
<p>Una vez que ha decidido realizarse la prueba y su m&eacute;dico haya ordenado la prueba, deber&aacute; proporcionar una muestra de sangre o saliva.</p>

<p>Si decide proporcionar una muestra de saliva, el m&eacute;dico puede solicitar que Invitae le env&iacute;e un kit de recolecci&oacute;n de muestras de saliva al consultorio de su m&eacute;dico o a su casa.</p>

<p>Si est&aacute; en los EE. UU. o Canad&aacute; y decide proporcionar una muestra de sangre, se puede recolectar en el consultorio de su m&eacute;dico o en su casa, lo que usted prefiera. Para solicitar el servicio de extracci&oacute;n de sangre dentro de los EE. UU. o Canad&aacute;, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al cliente. Debe programar la cita al menos tres d&iacute;as antes. Invitae enviar&aacute; el kit de recolecci&oacute;n a su casa o al consultorio del m&eacute;dico con todos los insumos y la documentaci&oacute;n necesarios. Ofrecemos este servicio sin cargo extra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;nto tiempo demoran en estar listos los resultados?</h4>

<div class="expandable-content">
<p>Comprendemos que a los pacientes les gustar&iacute;a recibir los resultados de su estudio gen&eacute;tico lo antes posible. Con Invitae, su m&eacute;dico recibir&aacute; los resultados en el plazo de aproximadamente tres semanas. Nuestro portal en l&iacute;nea le permite saber exactamente d&oacute;nde est&aacute; su muestra durante el proceso de estudio. Tambi&eacute;n puede ver sus resultados en l&iacute;nea una vez que su m&eacute;dico los haya revisado y publicado. El portal en l&iacute;nea de Invitae se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo reviso el estado de mi estudio?</h4>

<div class="expandable-content">
<p>Despu&eacute;s de que su m&eacute;dico haya ordenado una prueba para usted con Invitae, usted puede iniciar sesi&oacute;n en nuestro portal en l&iacute;nea para revisar el estado de su estudio. Tambi&eacute;n puede revisar los resultados de su estudio una vez que su m&eacute;dico los haya publicado. El portal en l&iacute;nea de Invitae se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo inicio sesi&oacute;n en mi cuenta de Invitae?</h4>

<div class="expandable-content">
<p>Si su m&eacute;dico ingres&oacute; su direcci&oacute;n de correo electr&oacute;nico cuando coloc&oacute; su solicitud de estudio, entonces se le envi&oacute; un correo electr&oacute;nico a usted con la informaci&oacute;n que necesita para establecer su cuenta del portal en l&iacute;nea de Invitae. Su nombre de usuario para esta cuenta es su direcci&oacute;n de correo electr&oacute;nico; usted puede establecer su contrase&ntilde;a en el momento en que cree su cuenta. El portal en l&iacute;nea se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>

<p>Si perdi&oacute; su contrase&ntilde;a o no recibi&oacute; en mensaje de correo electr&oacute;nico para establecer la cuenta, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; sucede si mi m&eacute;dico no sabe acerca de Invitae?</h4>

<div class="expandable-content">
<p>Los estudios gen&eacute;ticos de Invitae deben ser ordenados por un profesional de atenci&oacute;n m&eacute;dica certificado. Si usted est&aacute; interesado en obtener informaci&oacute;n acerca de nuestros servicios de estudios gen&eacute;ticos, nuestro equipo de Atenci&oacute;n al Cliente con gusto lo ayudar&aacute; de la siguiente manera:</p>

<ul class="bullet-list">
	<li>Le proporcionar&aacute; m&aacute;s informaci&oacute;n acerca de los estudios que ofrecemos</li>
	<li>Lo ayudar&aacute; a facilitar una conversaci&oacute;n con su m&eacute;dico</li>
	<li>Lo conectar&aacute; con uno de nuestros asesores gen&eacute;ticos, quien podr&aacute; responder sus preguntas acerca del proceso general de estudios gen&eacute;ticos y lo ayudar&aacute; a encontrar profesionales especialistas en gen&eacute;tica para que lo ayuden</li>
</ul>

<p>Para obtener m&aacute;s informaci&oacute;n, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al Cliente.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-three">Apoyo de asesoramiento gen&eacute;tico a trav&eacute;s de Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; es un asesor gen&eacute;tico y por qu&eacute; mi m&eacute;dico quiere que yo hable con uno?</h4>

<div class="expandable-content">
<p>Los asesores gen&eacute;ticos son proveedores de atenci&oacute;n m&eacute;dica especialmente capacitados que pueden ayudarlo a comprender los resultados de sus Estudios gen&eacute;ticos y lo que significan para usted y para sus familiares.</p>

<p>Muchos m&eacute;dicos derivan sus pacientes a asesores gen&eacute;ticos a fin de ofrecerles la oportunidad de aprender m&aacute;s acerca de sus estudios gen&eacute;ticos y para darles la posibilidad de hacer preguntas acerca del proceso de estudios gen&eacute;ticos. Cuando se define una variante gen&eacute;tica, muchos m&eacute;dicos tambi&eacute;n valoran la manera detallada en la que los asesores gen&eacute;ticos ayudan al paciente a identificar a miembros de la familia en riesgo y le proporcionan recursos acerca de los estudios gen&eacute;ticos que pueden compartir con sus familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Ofrece Invitae servicios de asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Si usted no tiene acceso a un asesor gen&eacute;tico local, Invitae ofrece servicios de asesoramiento gen&eacute;tico remoto por tel&eacute;fono o video. (En los Estados Unidos, estos servicios se realizan de acuerdo con los requisitos estatales que rigen la pr&aacute;ctica de la telegen&eacute;tica). Para los servicios de asesoramiento gen&eacute;tico de Invitae se requiere derivaci&oacute;n del m&eacute;dico. Para obtener m&aacute;s informaci&oacute;n, visite la p&aacute;gina web de los servicios de asesoramiento gen&eacute;tico en <a href="{% page_url 'portal_common.gc-services' %}">invitae.com/servicios-asesoramiento-genetico</a>. Los servicios de asesoramiento gen&eacute;tico de Invitae se ofrecen actualmente solo para nuestros estudios gen&eacute;ticos de c&aacute;ncer.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Est&aacute;n los asesores gen&eacute;ticos de Invitae acreditados y certificados por el consejo correspondiente en los Estados Unidos?</h4>

<div class="expandable-content">
<p>S&iacute;. Invitae emplea asesores gen&eacute;ticos certificados por el American Board of Genetic Counseling (Consejo Americano de Asesor&iacute;a Gen&eacute;tica). Invitae tambi&eacute;n emplea asesores gen&eacute;ticos con licencia en cada estado de los Estados Unidos con requisitos de licenciatura.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;nto cuesta el asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Consideramos que el asesoramiento gen&eacute;tico es una parte muy importante del proceso de estudios gen&eacute;ticos y nos alegra poder ofrecer este servicio sin costo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo solicito una cita para asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Para los servicios de asesoramiento gen&eacute;tico para el paciente de Invitae se requiere derivaci&oacute;n del m&eacute;dico. Para obtener m&aacute;s informaci&oacute;n acerca de c&oacute;mo comunicarse con uno de nuestros asesores gen&eacute;ticos, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.gc-services' %}">servicios de asesoramiento gen&eacute;tico</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; debo esperar durante mi cita de asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Durante su sesi&oacute;n de asesoramiento, su asesor gen&eacute;tico revisar&aacute; brevemente su historia cl&iacute;nica y le har&aacute; preguntas acerca de sus antecedentes m&eacute;dicos familiares. Usando esta informaci&oacute;n, el asesor gen&eacute;tico le explicar&aacute; el estudio gen&eacute;tico que su m&eacute;dico ha ordenado y analizar&aacute; los posibles resultados, incluso lo que significan dichos resultados tanto para usted como para sus familiares. Su asesor gen&eacute;tico tambi&eacute;n le explicar&aacute; la forma en que se realizan los estudios gen&eacute;ticos, lo ayudar&aacute; con el env&iacute;o de sus muestra de ADN (en caso de que decida llevar a cabo el an&aacute;lisis), y revisar&aacute; los resultados con usted una vez que se hayan completado.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo debo prepararme para mi sesi&oacute;n de asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Las sesiones de asesoramiento gen&eacute;tico son similares a cualquier otra cita m&eacute;dica. Debe disponer de una hora para su sesi&oacute;n y asegurarse de que no habr&aacute; interrupciones durante este tiempo.</p>

<p>Antes de la sesi&oacute;n de asesoramiento gen&eacute;tico, tal vez desee preguntar a sus familiares acerca de sus antecedentes m&eacute;dicos familiares. Es particularmente &uacute;til preguntarles acerca de cualquier afecci&oacute;n m&eacute;dica (como c&aacute;ncer o enfermedad card&iacute;aca) y la edad en la que se diagnostic&oacute; cada afecci&oacute;n m&eacute;dica. Tal vez tambi&eacute;n desee preguntar acerca de la causa y edad de muerte de familiares fallecidos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; sucede si soy adoptado o no conozco detalles de mis antecedentes m&eacute;dicos familiares?</h4>

<div class="expandable-content">
<p>Es bastante frecuente que las personas sean adoptadas o tengan muy poca informaci&oacute;n m&eacute;dica acerca de un lado particular de la familia. Tenga la seguridad de que su asesor gen&eacute;tico trabajar&aacute; con cualquier informaci&oacute;n que usted tenga disponible durante el proceso de estudio gen&eacute;tico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;nto tiempo toma una sesi&oacute;n de asesoramiento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Las sesiones de asesoramiento gen&eacute;tico, por lo general, duran una hora, pero pueden extenderse m&aacute;s o durar menos dependiendo de la cantidad de preguntas que usted tenga para hacerle a su asesor gen&eacute;tico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; sucede si tengo preguntas acerca de mi atenci&oacute;n m&eacute;dica?</h4>

<div class="expandable-content">
<p>Toda pregunta relacionada con su atenci&oacute;n m&eacute;dica debe dirigirse al m&eacute;dico encargado de su caso.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-four">Costo y cobertura de seguro</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;nto cuestan los estudios gen&eacute;ticos de Invitae?</h4>

<div class="expandable-content">
<p>La misi&oacute;n de Invitae es llevar la informaci&oacute;n gen&eacute;tica a la pr&aacute;ctica m&eacute;dica corriente a fin de mejorar la calidad de la atenci&oacute;n de la salud para miles de millones de personas. Creemos en el an&aacute;lisis responsable basado en pautas m&eacute;dicas establecidas y aspiramos a ser completamente transparentes con nuestros precios para que pacientes, m&eacute;dicos y pagadores sepan el costo del estudio. En los Estados Unidos, nuestra estructura de precios es por &aacute;rea cl&iacute;nica*:</p>

<ul class="bullet-list">
	<li>$1500 - Precio de lista</li>
	<li>$950 - Precio de contrato institucional, para proveedores dentro de la red y para distribuidores</li>
	<li>$475 - Precio de pago del paciente
	<ul class="bullet-list">
		<li>El paciente acepta registrarse en l&iacute;nea y establecer preferencias de contacto.</li>
		<li>Los programas de ayuda para el paciente no se encuentran disponibles para las opciones de prepago del paciente.</li>
		<li>Las &oacute;rdenes de prepago del paciente deben realizarse en l&iacute;nea, incluida la solicitud del m&eacute;dico cl&iacute;nico.</li>
		<li>Para &oacute;rdenes internacionales, la opci&oacute;n de prepago del paciente no incluye el env&iacute;o.</li>
	</ul>
	</li>
</ul>

<p>Invitae trabaja con distribuidores locales en pa&iacute;ses fuera de los Estados Unidos. <a href="{% page_url 'patient.contact' %}">Comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al Cliente para que lo contactemos con su distribuidor local y para conocer los precios en su &aacute;rea.</p>

<p>Es importante tener en cuenta que para los precios de pago del paciente tanto dentro como fuera de los Estados Unidos, los pacientes deben visitar a su proveedor de atenci&oacute;n m&eacute;dica para solicitar nuestras pruebas. Los profesionales de atenci&oacute;n m&eacute;dica son fundamentales para ordenar el estudio correcto para el paciente correcto y para interpretar la informaci&oacute;n gen&eacute;tica. Invitae considera que los pacientes deben poseer y controlar su propia informaci&oacute;n gen&eacute;tica; por consiguiente, no les exigimos a nuestros pacientes que cedan sus datos; les permitimos excluirse y a&uacute;n as&iacute; recibir el estudio. Si bien la informaci&oacute;n gen&eacute;tica es m&aacute;s valiosa cuando se comparte, los pacientes poseen sus propios datos y deben decidir qu&eacute; quieren hacer con ellos.</p>

<p class="endnote"><sup>*</sup>Precio por &aacute;rea cl&iacute;nica: Precio de lista de $1500, con descuento hasta $950 para instituciones y distribuidores con contrato con Invitae, as&iacute; como tambi&eacute;n para proveedores dentro de la red. El precio de pago del paciente por adelantado es de $475. El precio fuera de los Estados Unidos no incluye las tarifas de env&iacute;o. Para obtener m&aacute;s informaci&oacute;n, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese </a> con nuestro equipo de Atenci&oacute;n al Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Est&aacute;n los estudios gen&eacute;ticos de Invitae cubiertos por el seguro en los Estados Unidos?</h4>

<div class="expandable-content">
<p>Es posible que su seguro m&eacute;dico cubra los estudios gen&eacute;ticos de Invitae. No ser&aacute; necesario que se comunique con su compa&ntilde;&iacute;a de seguros para averiguar si los estudios est&aacute;n cubiertas ni para obtener un reembolso. Invitae se comunicar&aacute; con su compa&ntilde;&iacute;a de seguros directamente para coordinar la cobertura y el pago. Posiblemente reciba una explicaci&oacute;n de beneficios (explanation of benefits, EOB) de su compa&ntilde;&iacute;a de seguros por correo. No se trata de una factura. Invitae tambi&eacute;n recibir&aacute; esta EOB y manejar&aacute; cualquier proceso de apelaci&oacute;n en su nombre.</p>

<p>El seguro de Medicare puede cubrir el costo de un estudio de Invitae cuando se cumplen ciertos criterios espec&iacute;ficos. Medicare solo cubre estudios de diagn&oacute;stico, no estudios basados en antecedentes familiares &uacute;nicamente o de detecci&oacute;n. Si solicita un estudio que incluye BRCA1 o BRCA2, debe cumplir con los criterios de pruebas de BRCA y no haberse realizado anteriormente una prueba de BRCA para reunir los requisitos de cobertura.</p>

<p>Incluso si su plan de seguro no cubre el estudio, Invitae puede ofrecer estudios sin costo o a un costo limitado para aquellas personas que re&uacute;nen los requisitos para asistencia financiera basada en la necesidad. Para obtener m&aacute;s informaci&oacute;n, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con Atenci&oacute;n al Cliente llamando.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Est&aacute;n los estudios gen&eacute;ticos de Invitae cubiertos por el seguro fuera de los Estados Unidos?</h4>

<div class="expandable-content">
<p>Es posible que su seguro m&eacute;dico no estadounidense cubra los estudios gen&eacute;ticos de Invitae. Comun&iacute;quese con su proveedor de seguros local para averiguar si usted re&uacute;ne los requisitos para cobertura y, si es as&iacute;, c&oacute;mo debe solicitarlo. Si no re&uacute;ne los requisitos, comun&iacute;quese con su proveedor de atenci&oacute;n m&eacute;dica para ver si una opci&oacute;n de pago por parte del paciente es correcta para usted.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; opciones de pago est&aacute;n disponibles?</h4>

<div class="expandable-content">
<p>Ofrecemos las siguientes opciones de facturaci&oacute;n. Para obtener m&aacute;s informaci&oacute;n acerca de cada una de estas opciones, visite nuestra <a href="{% page_url 'portal_common.billing' %}">p&aacute;gina de facturaci&oacute;n</a>.</p>

<ul class="bullet-list">
	<li><strong>Pago por parte del paciente:</strong> &mdash; el paciente puede usar una tarjeta de cr&eacute;dito o d&eacute;bito para pagar el estudio en su totalidad. Aceptamos Visa, MasterCard, American Express y JCB.</li>
	<li><strong>Facturaci&oacute;n institucional:</strong> &mdash; Invitae trabajar&aacute; con su instituci&oacute;n para establecer un contrato si es que no hay uno ya vigente.</li>
	<li><strong>Seguro de tercero (Estados Unidos):</strong> &mdash; Invitae facturar&aacute; directamente a su compa&ntilde;&iacute;a de seguro m&eacute;dico en su nombre.</li>
	<li><strong>Medicare (Estados Unidos):</strong> &mdash; la cobertura de Medicare est&aacute; disponible cuando se cumplen criterios espec&iacute;ficos.</li>
</ul>

<p>Invitae puede ofrecer asistencia si usted cumple con ciertos criterios financieros. Para obtener m&aacute;s informaci&oacute;n, <a href="{% page_url 'patient.contact' %}">comun&iacute;quese</a> con nuestro equipo de Atenci&oacute;n al Cliente.</p>
</div>
</div>
</div>
</div>
</div>
