<div class="row">
<div class="col-md-12">
<h3>Invitae&rsquo;s VUS resolution program</h3>

<p>In order to help resolve variants of uncertain significance (VUS) in our diagnostic panel test results, Invitae offers follow-up testing to selected family members of patients previously tested at Invitae, at no additional charge. This service is available when testing additional family members may clarify the disease-variant relationship. The goal is to better understand the clinical impact of the variant and, when possible, to decrease the uncertainty of the original test result.</p>

<p>Although participation in this program may not result in an immediate reclassification of the VUS, the reclassification may still occur a later date, after multiple families with the variant are tested. If a variant is reclassified, Invitae will issue amended reports with the new interpretation to all individuals we&rsquo;ve tested who have the variant.</p>

<p>Invitae supports sharing our variant interpretations, and makes de-identified variant interpretations publicly available to the research and medical communities via the <a href="http://www.ncbi.nlm.nih.gov/clinvar/" target="blank">Clinvar</a> and <a href="{% page_url 'portal_common.clinvitae' %}" target="blank">Clinvitae</a> databases. Participating in this program can ultimately help many families in similar situations.</p>

<h4><strong>Who is eligible?</strong></h4>

<p>Not all variants can be resolved with this kind of analysis, and not all family members can provide informative data. Decisions about program eligibility are based on:</p>

<ul class="bullet-list">
	<li>The family structure, disease status, and clinical presentation of available individuals</li>
	<li>The type of sequence change in question</li>
	<li>The gene in which the VUS was identified</li>
	<li>The inheritance pattern(s) and penetrance of the disease(s) associated with the gene</li>
	<li>The VUS was reported as part of an Invitae diagnostic test</li>
</ul>

<p>If our clinical team determines that a case may be eligible for our VUS resolution program, the original clinical report will include a statement recommending consideration of VUS resolution.</p>

<h4><strong>How do I apply?</strong></h4>

<p>If a recommendation to consider VUS resolution was issued on your patient&rsquo;s test report and you are interested in participating, please provide:</p>

<ul class="bullet-list">
	<li>The order number (&ldquo;RQ number&rdquo;) of the original proband</li>
	<li>A detailed family pedigree including the clinical histories of all affected family members</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Sign In</a>

<p>The preferred method of contact is via our secure messaging system in your online account. To access this system, sign in to your account, view your order history, and select the order number (&ldquo;RQ number&rdquo;) of the original proband. You can then click on the &ldquo;Messages&rdquo; tab to contact us about VUS resolution and upload the patient&#39;s pedigree in a secure and HIPAA-compliant manner.</p>

<p>Alternatively, you can also contact our client services team:</p>

<ul class="bullet-list">
	<li>Phone: 800-436-3037 or +1-415-374-7782</li>
	<li>Email: <a href="mailto:clientservices@invitae.com?Subject=VUS%20resolution">clientservices@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Family History Tool</a>

<p>We encourage use of the Invitae Family History Tool to easily submit a pedigree for this program. Learn more about this free app.</p>

<p>Once the information is submitted and reviewed by our clinical team, we will contact you regarding which relatives may qualify for this test program at no additional charge. Our VUS resolution review process takes one week on average.</p>

<h4><strong>What if I want to test individuals who don&rsquo;t qualify for the VUS resolution program?</strong></h4>

<p>For cases that do not qualify for VUS resolution at no additional charge, Invitae offers family variant testing. Learn more about this program on our <a href="{% page_url 'portal_common.family-testing' %}">Family Variant Testing</a> page.</p>
</div>
</div>