<p>To download a copy, please provide your information below: <input value="Website" type="hidden" name="source"><input value="Gated Content: Cancer Checklist" type="hidden" name="source_description"><input value="" type="hidden" name="ao_campid"></p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>

<div class="field-wrapper required"></div>

<p style="text-align: center;"><button type="submit" class="btn btn-lg btn-color-mountain">Download now</button></p>
