<p style="text-align: center;"><br />
<strong>VER EL CAT&Aacute;LOGO DE ESTUDIOS DE INVITAE POR &Aacute;REA CL&Iacute;NICA:</strong></p>

<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOG&Iacute;A</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text"> C&Aacute;NCER<br />
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text"> GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOG&Iacute;A </span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOG&Iacute;A</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">ESTUDIOS<br />
GEN&Eacute;TICOS</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
