<div class="row">
<div class="col-md-12">

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What are limited-evidence genes?</h4>

<div class="expandable-content">
<p>Limited-evidence genes are genes that were selected from a review of the literature and expert recommendations. For some of these genes, no definitive pathogenic variants have ever been identified. For others, the association between the gene and the specific condition has not been completely established.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Why would I include limited-evidence genes in my panel?</h4>

<div class="expandable-content">
<p>Adding limited-evidence genes can increase the number of uncertain variants, and can reveal pathogenic variants of uncertain relevance to the patient’s condition. This uncertainty may be resolved as new information becomes available, and some clinicians may wish to include these genes in their investigation.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can I add limited-evidence genes to a primary panel?</h4>

<div class="expandable-content">
<p>Limited-evidence genes can be added by simply selecting the “opt-in” checkbox next to the list of genes.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if I am unsure what to order?</h4>

<div class="expandable-content">
<p>With our flexible test options, clinicians can feel confident starting with only with the genes they are comfortable with. Then, if they do not get the answers they need with their initial selection of genes, clinicians can submit a re-requisition for the analysis of additional genes related to the same clinical indication, at no additional charge.<sup>*</sup> We also offer clinical consultation services for clinicians who wish to discuss cases with genetic-counseling experts.</p>

<p class="endnote">*Please see our <a href="{% page_url 'portal_common.re-requisition' %}">Re-requisition</a> web page for requirements and additional details.</p>
</div>
</div>
</div>
</div>
