<div class="row">
<div class="col-sm-6 col-lg-7 privacy-message">
<h3>Apoyo</h3>

<p>Consulte nuestra gu&iacute;a del usuario para ver las instrucciones paso a paso de la herramienta de antecedentes familiares.</p>
<a class="btn btn-color-inherit btn-lg" target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" " mixpanel.track2('Clicked Links on FHT Landing Page',
{'Action': 'User Guide'}
)"><span class="icon icon-files"></span>gu&iacute;a del usuario</a>

<p>&nbsp;</p>

<h3>Privacidad</h3>

<p>Nos comprometemos a proteger la seguridad y la confidencialidad de la informaci&oacute;n personal, la informaci&oacute;n gen&eacute;tica y los resultados de las pruebas de su paciente.</p>

<p>Para obtener informaci&oacute;n m&aacute;s detallada, consulte nuestro <a href="{% page_url 'portal_common.privacy-practices' %}" target="_blank">Aviso sobre Pr&aacute;cticas de Privacidad</a> y nuestra <a href="{% page_url 'portal_common.privacy-policy' %}" target="_blank">Pol&iacute;tica de Privacidad</a>.</p>
</div>

<div class="clearfix visible-xs"><br />
&nbsp;</div>

<div class="col-sm-6 col-lg-5 family-history-email">
<h3>&iquest;Tiene preguntas o comentarios?</h3>

<div class="email-icon">
<div class="content">
<h4>Nos gustar&iacute;a<br />
conocer su opini&oacute;n.</h4>

<p><a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
</div>
</div>
</div>
</div>