<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Ghecemy Lopez</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">This is part of me, but it doesn&rsquo;t define me</span></h2>

<h5>Ghecemy Lopez on breast cancer</h5>

<p>Ghecemy is a breast cancer survivor and an advocate for bilingual patient outreach</p>

<p>Ghecemy Lopez still remembers a hug that happened 25 years ago. One afternoon as a young girl, she was visiting her grandmother&rsquo;s best friend in her quiet hometown on the coast of Veracruz, Mexico. She&rsquo;d regularly stop by to visit and always greeted her with a warm embrace. But on that particular day, when she hugged the woman, confusion and fright overcame her.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="allowfullscreen" allowtransparency="true" class="wistia_embed embed-responsive-item" frameborder="0" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" name="wistia_embed" oallowfullscreen="oallowfullscreen" scrolling="no" src="//fast.wistia.net/embed/iframe/flxf7o3vzu?videoFoam=true" webkitallowfullscreen="webkitallowfullscreen"></iframe></div>
</div>

<div class="col-md-12">
<p></p>

<p>&ldquo;I felt like something was missing in her chest, and that was very shocking for a little eight-year-old because I didn&rsquo;t know why that was happening,&rdquo; Ghecemy recalls. No words passed between them. &ldquo;With her eyes, I felt like she wanted to tell me the truth, but she didn&rsquo;t explain&hellip; It&rsquo;s like a whisper. Cancer was the thing that nobody wanted to talk about.&rdquo;</p>

<p>Today, at just 33, Ghecemy is also a breast cancer survivor. It was a regular weeknight in February 2011 when she was watching TV with her husband in their Los Angeles home that she discovered the lump. Within a week, she was diagnosed with aggressive breast cancer known as triple negative. Ghecemy&rsquo;s doctor urged her to consider genetic testing, given the rarity of her condition for a woman of only 30.</p>

<p>The genetic counselor informed Ghecemy that she had tested positive for a mutation in the BRCA1 gene, which greatly increases a woman&rsquo;s chance of developing breast cancer. She also learned that it was her father, not her mother, who&rsquo;d passed it down to her. &ldquo;My world just crumbled there, because I could not feel 100% happy for the fact that my mom was not going to have to deal with this, but then knowing that my dad was a carrier&hellip; And then thinking about my brother and the generations that will come after us&mdash;what does that mean? What about my cousins or my aunts and uncles?&rdquo;</p>

<p>The BRCA1 mutation doesn&rsquo;t only run in her family&rsquo;s bloodline; research has shown that the specific subtype of Ghecemy&rsquo;s mutation (deletion exon 9-12) originated more than 600 years ago in the Toltec population, an ancient civilization who lived in the same part of Mexico as Ghecemy&rsquo;s ancestors.</p>

<p>But instead of looking back, Ghecemy is looking forward. She&rsquo;s now an active breast cancer advocate, employed in bilingual patient outreach, and mentors young children in her spare time. &ldquo;I don&rsquo;t think about the mutation as I used to any more, maybe because I&rsquo;m learning more about it. I just really see it as, &lsquo;Okay, this is part of me, but it doesn&rsquo;t define me.&rsquo; I just happen to have breast and ovarian cancer predisposition. It&rsquo;s not going to change my life or stop me.&rdquo;</p>

<p>During a recent trip to visit family in Mexico, Ghecemy reunited with the old woman she befriended during her childhood. &ldquo;When I saw her again, she told me, &lsquo;Now you know exactly what I was going through that day when you hugged me.&rsquo; She remembered it, too.&rdquo;</p>
</div>
</div>