<div class="row">
<div class="col-md-12">
<h3>Programa de resolución de VSI de Invitae</h3>

<p>A fin de ayudar a resolver variantes de significado incierto (VSI) en los resultados de nuestras pruebas, Invitae ofrece análisis de seguimiento sin cargo adicional para miembros seleccionados de la familia de pacientes previamente analizados en Invitae.</p>

<h4><strong>Beneficios de la resolución de VSI</strong></h4>

<p>En algunos casos, identificar una variante genética en un solo individuo no es suficiente para determinar su significado clínico. En algunos de estos casos, analizar a otros miembros de la familia podría aclarar la relación de la variante con la enfermedad. El objetivo de este proceso es reclasificar la VSI como benigna o patogénica y resolver la incertidumbre del resultado de la prueba.</p>

<h4><strong>Qué se puede esperar</strong></h4>

<p>La reclasificación de variantes depende de la información reunida de múltiples familias. La participación en este programa puede no dar lugar a una reclasificación inmediata, pero puede proporcionar información que contribuya con este proceso. Si se reclasifica una variante, Invitae proporcionará informes corregidos con la nueva interpretación a todas las personas que tienen la variante.</p>

<p>Invitae apoya la divulgación de las interpretaciones de variantes, y pone las interpretaciones de variantes de forma anónima a disposición de las comunidades médicas y de investigación a través de las bases de dato <a target="blank" href="http://www.ncbi.nlm.nih.gov/clinvar/">Clinvar</a> y <a target="blank" href="{% page_url 'portal_common.clinvitae' %}">Clinvitae</a>. La participación en este programa puede en última instancia ayudar a muchas familias en situaciones similares.</p>

<h4><strong>¿Quiénes son elegibles?</strong></h4>

<p>No todas las variantes se pueden resolver con este tipo de análisis, y no todos los miembros de la familia pueden proporcionar datos informativos. Las decisiones acerca de la elegibilidad para el programa se basan en las siguientes pautas:</p>

<ul class="bullet-list">
	<li>La estructura de la familia, el estado de la enfermedad, y la presentación clínica de las personas disponibles</li>
	<li>El tipo de cambio de secuencia en cuestión</li>
	<li>El gen en el que se identificó la VSI</li>
	<li>Los patrones hereditarios y la penetrancia de las enfermedades asociadas con el gen</li>
</ul>

<p>Algunos genes no son elegibles para nuestro programa de resolución de VSI; visite nuestra página de <a href="{% page_url 'portal_common.gene-eligibility' %}">Elegibilidad de Genes</a> para obtener información detallada sobre reglas de elegibilidad de genes de cáncer y cardiología.</p>

<p>Si nuestro equipo clínico determina que un caso puede ser elegible para nuestro programa de resolución de VSI, el informe clínico original incluirá una declaración que recomienda la consideración de la resolución de VSI.</p>

<h4><strong>¿Cómo puedo presentar una solicitud?</strong></h4>

<p>Si se ha emitido una recomendación para considerar una resolución de VSI en el informe del análisis de su paciente y usted está interesado en participar, proporcione lo siguiente:</p>

<ul class="bullet-list">
	<li>El número de identificación de pedido (“número RQ”) del caso índice original</li>
	<li>Un árbol genealógico detallado que incluya las historias clínicas de todos los miembros de la familia afectados</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">inicie sesión</a>

<p>El método de contacto preferido es a través de nuestro sistema de mensajería seguro en su cuenta en línea. Para acceder al sistema, inicie sesión en su cuenta, consulte su historial de pedidos y seleccione el número de identificación de pedido del caso índice original. Luego puede hacer clic en la ficha "Messages" (Mensajes) para comunicarse con nosotros por la resolución de VSI y cargar el árbol genealógico del paciente de manera segura y en cumplimiento de la ley HIPAA.</p>

<p>También puede comunicarse con el departamento de atención al cliente para obtener más información (no incluya ningún registro médico ni información médica en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=VUS%20resolution">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>

<p>Lo invitamos a usar la herramienta de antecedentes familiares de Invitae para enviar fácilmente un árbol genealógico para este programa. Obtenga más información acerca de esta aplicación gratuita.</p>

<p>Una vez que se ha enviado la información y esta ha sido revisada por nuestro equipo clínico, nos comunicaremos con usted para informarle qué familiares reúnen los requisitos para este programa de análisis sin cargo adicional. Nuestro proceso de revisión de resolución de VSI toma aproximadamente una semana.</p>

<h4><strong>¿Qué sucede si deseo evaluar individuos que no reúnen los requisitos para el programa de resolución de VSI?</strong></h4>

<p>Para los casos que no reúnen los requisitos para la resolución de VSI sin cargo adicional, Invitae ofrece análisis de variante familiar por solo $200 por cada gen en el que se encontró una VSI. Para obtener más información acerca de este programa visite nuestra página de <a href="{% page_url 'portal_common.family-testing' %}">Análisis de Variante Familiar</a>.</p>
</div>
</div>