<div class="row">
<div class="col-md-12">
<h3>Rede de encaminhamento para aconselhamento gen&eacute;tico</h3>

<p>A Invitae acredita que os testes gen&eacute;ticos devem ser supervisionados por um profissional de sa&uacute;de bem experiente em gen&eacute;tica. A nossa Rede de profissionais em gen&eacute;tica conecta os pacientes e m&eacute;dicos com os profissionais locais em gen&eacute;tica.</p>

<p>Saiba mais na nossa webpage <a href="{% page_url 'portal_common.genetics-provider-network' %}">Rede de profissionais em gen&eacute;tica</a>.</p>
</div>
</div>