<div class="row">
<div class="col-md-12">
<h3>La importancia de los paneles multi-gen para pacientes con cáncer hereditario.</h3>

<p>Para demostrar la importancia de los paneles que incluyen múltiples genes en la estimación del riesgo de cáncer hereditario, Invitae colaboró con los investigadores James Ford, M.D. y Allison W. Kurian, MD, MSc. de la Universidad de Stanford. Los resultados de esta investigación, publicados recientemente en <i>Journal of Clinical Oncology</i>, demostraron que los paneles multi-gen para cáncer hereditario ofrecen un desempeño comparable a los estudios genéticos tradicionales para <i>BRCA1/2</i>, y pueden proveer beneficios clínicos adicionales, tanto a los médicos como a los pacientes en búsqueda de la evaluación del riesgo para desarrollar cáncer.</p>

<h4>Referencia</h4>
<a target="_blank" href="http://jco.ascopubs.org/content/early/2014/04/09/JCO.2013.53.6607">Kurian, A.W., et al. Clinical Evaluation of a Multiple-Gene Sequencing Panel. JCO published online on April 14, 2014; DOI:10.1200/JCO.2013.53.2630.</a>

<h3 style="margin:40px 0 20px 0;">Diseño del Estudio</h3>

<p>En este estudio se utilizó un panel de 42 genes de riesgo de cáncer, seleccionados por su relevancia clínica y científica. Se usó ADN de línea germinal, almacenados en bancos de ADN, correspondientes a 198 mujeres que habían sido derivadas al Centro Médico de la Universidad de Stanford para la realización de un estudio genético para cáncer de mama y ovario hereditario. En todos los casos se analizaron previamente los genes <i>BRCA1</i> y <i>BRCA2</i> en un laboratorio independiente. De las pacientes que participaron en este estudio, 174 tuvieron cáncer de mama y 57 portaban variantes patogénicas en los genes <i>BRCA1/2</i>.</p>

<h3 style="margin:40px 0 20px 0;">Resumen de los Resultados</h3>

<p style="margin:0px 0 20px 0;"><strong>Alta concordancia con resultados de análisis de <i>BRCA</i> previos.</strong></p>

<p>Este estudio mostró que los resultados del análisis de los genes <i>BRCA1/2</i> con los paneles de Invitae fueron altamente concordantes con los resultados de los estudios clínicos previos de los genes <i>BRCA1/2</i>, realizados en el laboratorio de referencia.</p>

<p>Además del estudio acá descrito, Invitae se embarcó en un gran y riguroso estudio clínico para validar nuestros resultados analíticos e interpretaciones clínicas. Para mayor información sobre esta investigación, visite nuestra página de <a href="{% page_url 'portal_common.validation-studies' %}">Estudios de Validación.</a></p>

<p><strong>Identificación de genes adicionales de riesgo de cáncer</strong></p>

<p>Entre las 141 pacientes <i>BRCA</i> negativos, el panel de Invitae permitió identificar variantes de riesgo adicionales en los genes <i>MLH1, CDH1, NBN, ATM, MUTYH, CDKN2A, SLX4, BLM</i> y <i>PRSS1</i>.</p>

<p style="margin:0px 0 20px 0;"><strong>Información para el manejo clínico</strong></p>

<p>Basados en la identificación de nuevas variantes de riesgo en genes distintos a<i> BRCA1/2,</i> el grupo clínico de Stanford determinó que en cerca del 9% de los participantes (13 de 141) se justifica recontactar y otorgar asesoramiento adicional sobre la base de esta nueva información. Stanford entregó recomendaciones personalizadas para un tamizaje adicional, y posibles cambios en la atención clínica. El equipo de Stanford encontró que esta consejería fue factible y valorada por los pacientes.</p>

<p style="margin:0px 0 20px 0;"><strong>Caso clínico para una mejor atención al paciente.</strong></p>

<p><em>Antecedentes:</em> Uno de los pacientes descritos anteriormente es una mujer diagnosticada con cáncer de mama unilateral a mediados de su cuarta década de vida. Al tiempo del diagnóstico original, la paciente recibió un informe de análisis de los genes <i>BRCA1/2</i> con resultado negativo, emitido por un laboratorio independiente, y dio su consentimiento para que su ADN fuese guardado en un banco de ADN.</p>

<p><em>Nuevos Resultados: </em> En este estudio, se encontró que la paciente portaba una variante patogénica en el gen <i>MLH1</i>, asociada al síndrome de Lynch. De acuerdo al protocolo aprobado por el comité revisor institucional, el resultado fue confirmado independientemente, y el paciente fue nuevamente contactado, comunicándosele el resultado del análisis del gen <i>MLH1</i>.</p>

<p><em>Resultado:</em> En el tiempo transcurrido entre el análisis de los genes <i>BRCA1/2</i> y el panel de genes de Invitae, la paciente fue diagnosticada con cáncer de endometrio. Además, se realizó una colonoscopia basal a los 50 años de edad, con resultado negativo, y se le dijo que volviera a los 60 años. Tras la comunicación de su estado mutacional de <i>MLH1</i>, se sometió a una segunda colonoscopia temprana, encontrándose un pólipo que fue removido. En la actualidad, la paciente tiene 53 años, por lo que este adenoma tubular fue detectado 7 años antes, que si no se hubiese realizado una análisis genético amplio.</p>

<p style="margin:0px 0 20px 0;"><strong>Evaluación de la tasa de Variantes de Significado Incierto.</strong></p>

<p>Este estudio de investigación reportó un promedio de 2,1 VUSs por paciente de entre los 42 genes del panel de Invitae, seleccionados según su relevancia clínica y científica.</p>

<p>A raíz de este estudio de investigación, en Invitae desarrollamos nuestro estudio genético comercial para cáncer hereditario, enfocado en 29 de los genes de riesgo de cáncer clínicamente más relevantes. El panel de 29 genes de Invitae reduce la tasa de VUS del panel mas amplio a aproximadamente 0,7 VUS por paciente, y alrededor del 40% de los pacientes recibe un resultado incierto del estudio genético en cualquiera de estos 29 genes (porque algunos pacientes portan más de una VUS).</p>

<p>Invitae está trabajando para ayudar a la comunidad científica y clínica a reducir las tasas de VUS para todos los análisis genéticos. Lea más sobre la inevitable caída de las tasas de VUS en esta entrada de blog de John García (de Invitae), <a href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">¿Un mejor cuidado del paciente depende del intercambio de información genética?</a></p>
</div>
</div>