<div class="row">
                <div class="col-md-12">

                    <div class="catalog-group brca">

                        <h3><span class="icon"></span>Hereditary Breast and Gynecologic Cancers</h3>

                        <a href="{% page_url 'portal_common.brca-testing' %}" class="btn btn-color-purple btn-md btn-right">
                            BRCA Testing
                        </a>
                        <p>Each of the tests in this category includes BRCA1 and BRCA2 gene testing. Order the BRCA
                            genes alone or look beyond BRCA to select the test that best meets the needs of your patient. To learn more
                            about our suite of BRCA test options, please visit our BRCA Testing page.</p>

                        <div class="expandable-item">

                            <h4><span class="icon icon-angle-right"></span>BRCA1 and BRCA2 Testing</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.condition-detail' 'CND0089' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>Hereditary breast and ovarian cancer syndrome (HBOC) is caused by mutations in the BRCA1 or BRCA2
                                    genes. Mutations in these genes are the most significant inherited risk factor for hereditary breast
                                    cancer, accounting for approximately 50% of cases in individuals with strong family history or an
                                    early-onset diagnosis.</p>

                                <p class="genes-analyzed">Genes analyzed: BRCA1, BRCA2</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary breast cancer, high-risk panel</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0009' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>The hereditary breast cancer, high-risk panel includes genes known to be associated with high-risk
                                    breast cancer syndromes. Patients who have inherited one of these syndromes have an extremely high risk of
                                    developing breast cancer in their lifetime, ranging from 40% to 90% depending on the disorder,
                                    specific genetic variant, and environmental factors.</p>

                                <p class="genes-analyzed">Genes analyzed: BRCA1, BRCA2, CDH1, PALB2, PTEN, STK11, TP53</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary breast cancer, moderate risk panel</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0020' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>The hereditary breast cancer, moderate-risk panel includes 10 genes that have been associated with a moderate risk for developing breast cancer.</p>

                                <p class="genes-analyzed">Genes analyzed: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, NF1, RAD50, RAD51C</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary breast cancer, extended panel</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0021' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>The hereditary breast cancer, extended panel covers 17 genes that are associated with an increased lifetime risk of developing breast cancer, as well as other cancer types.</p>

                                <p class="genes-analyzed">Genes analyzed: ATM, BARD1, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, FANCC, NBN, NF1, PALB2, PMS2, PTEN, RAD50, RAD51C, STK11, TP53</p>

                            </div>
                        </div>
                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary gynecologic cancers, high-risk panel</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0022' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>Covers 9 genes with published management guidelines.</p>

                                <p class="genes-analyzed">Genes analyzed: BRCA1, BRCA2, EPCAM, MLH1, MSH2, MSH6, PMS2, PTEN, TP53</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary breast and gynecologic cancers (previously Women's hereditary cancers)</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0007' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

                                <p>The hereditary breast and gynecologic cancers provides a broad genetic analysis of a patient's hereditary
                                    breast, ovarian, and endometrial cancer genetics. This test can identify hereditary cancer syndromes without
                                    the need for sequential gene testing, especially in patients who have a non-classical clinical
                                    presentation or a limited pedigree.</p>

                                <p class="genes-analyzed">Genes analyzed: ATM, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, NBN, PALB2, PMS2, PTEN, RAD51C, STK11, TP53</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>