<div class="row">
                <div class="col-md-12">
                    <div class="catalog-group other">

                        <h3><span class="icon"></span>All Hereditary Cancer Syndromes</h3>

                        <p>Our hereditary cancer syndromes test panel covers a group of well-established hereditary cancer syndromes.
                            Alternatively, each of these syndromes can be ordered as individual tests.</p>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary cancer syndromes</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0004' %}" class="btn btn-color-inherit btn-md btn-right">View Test</a>

                                <p>The hereditary cancer syndromes panel can be informative for patients who are adopted or have a limited pedigree
                                    and who are seeking information about hereditary cancer risk. It is also appropriate for physicians and patients
                                    who are seeking more genetic information in order to move away from the limitations of reactionary medicine and
                                    focus on the benefits of wellness and preventative care.</p>

                                <p class="genes-analyzed">Genes analyzed: APC, ATM, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A, CHEK2, EPCAM, FANCC, MEN1,
                                    MET, MLH1, MRE11A, MSH2, MSH6, MUTYH, NBN, NF1, PALB2, PALLD, PMS2, PTCH1, PTEN, RAD50, RAD51C, RET, SMAD4, STK11, TP53, VHL</p>

                                <p style="margin-top:30px;">Disorders included in the hereditary cancer syndromes panel or available as individual tests:</p>

                                <div class="expandable-sub-item">
                                    <h4>ATM-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0109' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: ATM</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>BARD1-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0122' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: BARD1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Basal cell nevus syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0008' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: PTCH1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>BRIP1-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0111' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: BRIP1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>CHEK2-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0112' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: CHEK2</p>
                                    </div>
                                </div>

                                <div class="expandable-sub-item">
                                    <h4>Familial adenomatous polyposis</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0022' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: APC</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Familial cutaneous melanoma</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0023' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: CDK4, CDKN2A</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Familial pancreatic adenocarcinoma</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0028' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: PALLD</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>FANCC-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0113' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: FANCC</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Hereditary breast and ovarian cancer syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0089' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: BRCA1, BRCA2</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Hereditary diffuse gastric cancer</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0024' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: CDH1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Hereditary papillary renal call carcinoma</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0036' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: MET</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Juvenile polyposis syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0042' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: BMPR1A, SMAD4</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Li-Fraumeni syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0049' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: TP53</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Lynch syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0053' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>MRE11A-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0118' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: MRE11A</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Multiple endocrine neoplasia, type 1</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0091' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: MEN1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Multiple endocrine neoplasia, type 2</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0092' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: RET</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>MUTYH-associated polyposis</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0061' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: MUTYH</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>NBN-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0114' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: NBN</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Neurofibromatosis, type 1</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0090' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: NF1</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Peutz-Jeghers syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0069' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: STK11</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>PTEN hamartoma tumor syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0075' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: PTEN</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>RAD50-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0119' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: RAD50</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>RAD51C-related cancer risk</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0116' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: RAD51C</p>
                                    </div>
                                </div>
                                <div class="expandable-sub-item">
                                    <h4>Von Hippel-Lindau syndrome</h4>

                                    <div class="expandable-sub-content">
                                        <a href="{% url 'physician.condition-detail' 'CND0086' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

                                        <p class="genes-analyzed">Genes analyzed: VHL</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>