<div class="full-width-content clearfix" data-equalize-height=".landing-tool-text h3, .landing-tool-text">
<div class="col-sm-3 landing-tool">
<div class="landing-tool-text">
<a href="{% url 'physician.panelsgenes' %}">
<span class="icon icon-panelsgenes"></span>
</a>
<h3><a href="{% url 'physician.panelsgenes' %}">DIAGNOSTIC PANELS</a></h3>

<p>Select diagnostic panels from our comprehensive menu, or design your own panel at no additional charge.</p>
</div>
<a class="landing-link" href="{% url 'physician.panelsgenes' %}">Learn more</a></div>

<div class="col-sm-3 landing-tool">
<div class="landing-tool-text">
<a href="{% url 'physician.category' code='CAT000168' %}">
<span class="icon icon-fingerprint"></span>
</a>
<h3><a href="{% url 'physician.category' code='CAT000168' %}">EXOME</a></h3>

<p>Perform a rigorous and customized analysis of your patient&#39;s exome.</p>
</div>
<a class="landing-link" href="{% url 'physician.category' code='CAT000168' %}">Learn more</a></div>

<div class="col-sm-3 landing-tool">
<div class="landing-tool-text">
<a href="{% url 'physician.reproductive-health' %}">
<span class="icon icon-family-baby"></span>
</a>
<h3><a href="{% url 'physician.reproductive-health' %}">REPRODUCTIVE AND FAMILY HEALTH</a></h3>

<p>Carrier screening, preimplantation genetic testing (PGS and PGD), prenatal diagnosis, miscarriage analysis, and pediatric developmental disorders.</p>
</div>
<a class="landing-link" href="{% url 'physician.reproductive-health' %}">Learn more</a></div>

<div class="col-sm-3 landing-tool">
<div class="landing-tool-text">
<a class="landing-link" href="/en/proactive/">
<span class="icon icon-apple"></span>
</a>
<h3><a class="landing-link" href="/en/proactive/">PROACTIVE HEALTH SCREENS</a></h3>

<p>Proactive genetic screening can determine a healthy adult&#39;s predisposition to cancer, cardiovascular and other conditions.</p>
</div>
<a class="landing-link" href="/en/proactive/">Learn more</a></div>
</div>