<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2 class="text-center" style="font-family:invitae;font-weight:normal;">Explore our genetic test catalog</h2>

<form action="{% url 'search' %}" class="search-form">
<div class="input-group"><input class="form-control" name="q" placeholder="Search Invitae" type="text" /> <span class="input-group-btn"><button class="icon-search" type="submit"></button> </span></div>
</form>

<div class="list-group"></div>
</div>
</div>

<div class="container" data-equalize-height=".landing-tool-text">
<div class="text-content" style="padding-top:40px;"></div>

<div class="row">
<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/physician/panelsgenes"><span class="icon icon-stethoscope-o gradient-icon-reverse"></span></a>

<h3><a href="/physician/panelsgenes">Diagnostics</a></h3>

<p class="landing-text">Confirm a diagnosis, provide a better understanding of prognosis, and direct medical management</p>
</div>
<a class="patient-feature-link" href="/physician/panelsgenes">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/physician/reproductive-health"><span class="icon icon-pregnant-o gradient-icon-reverse"></span></a>

<h3><a href="/physician/reproductive-health">Reproductive health</a></h3>

<p class="landing-text">Help make healthy pregnancies possible with carrier screening and preimplantation testing</p>
</div>
<a class="patient-feature-link" href="/physician/reproductive-health">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/proactive"><span class="icon icon-apple-o gradient-icon-reverse"></span></a>

<h3><a href="/proactive">Proactive health</a></h3>

<p class="landing-text">Determine a healthy adult&rsquo;s predisposition to cancer, cardiovascular conditions, and more</p>
</div>
<a href="/proactive">Learn more</a></div>
</div>
</div>