<div class="row">
                <div class="col-md-12">
                    <h3>Family variant testing</h3>

                    <p>A genetic test result has health implications not only for an individual, but for an entire family.</p>

                    <p>After a patient receives a positive test result, family variant testing can be used to identify other
                        family members with the same variant and provide information about their genetic risks. Family members
                        who test positive can make informed decisions about their health.</p>

                    <p>Invitae’s family variant testing involves full analysis of the gene in which the original family member’s
                        variant was identified. The report will include the status of the familial variant as well as any other
                        pathogenic or likely pathogenic variant(s) identified in that gene.</p>

                    <p>Family variant testing is provided to eligible family members for just $200 per gene for each family
                        member tested. On average, results are available three weeks from the time we receive the sample.</p>

                    <h4><strong>Who is eligible?</strong></h4>

                    <p>A family member of the original patient is eligible if all of the following criteria are met:</p>

                    <ul class="bullet-list">
                        <li>The original patient was tested at Invitae</li>
                        <li>A pathogenic or likely pathogenic variant was identified in the original patient's test report<sup>*</sup></li>
                        <li>The family member is at risk for carrying the same variant</li>
                    </ul>
                    <p><sup>*</sup>If the original patient's test report identified a variant of uncertain significance (VUS),
                        <a href="{% page_url 'portal_common.vus-resolution' %}">VUS Resolution</a> may be available at no additional charge to
                        eligible family members. Family members of patients who don’t qualify for VUS resolution at no additional charge may
                        be able to take advantage of family variant testing.</p>

                    <h4><strong>What if the original patient was tested outside of Invitae?</strong></h4>

                    <p>Family variant testing is not available to families if the original patient’s pathogenic variant was
                        detected by a lab other than Invitae. For these cases, we offer single-gene analysis of the entire
                        gene in question for $1500<sup>*</sup>.</p>

                    <p>If you would like to order this test, we require a copy
                        of the family member's positive test result to verify that the variant in question is likely to be
                        picked up by our assay. A positive
                        control may be requested in cases where variant nomenclature is ambiguous or where the variant is of
                        a type that may be refractory to analysis by NGS methods. Unless a positive control is explicitly
                        requested by Invitae, additional samples will not be analyzed.</p>

                    <h4><strong>How do I order family variant testing?</strong></h4>

                    <p>To order family variant testing, place an order for the gene in question for each new patient. In
                        the indication for testing and family history fields please provide:</p>
                    <ul class="bullet-list">
                        <li>The order number “RQ number” of the original proband</li>
                        <li>Information on how the family member to be tested is related to the original proband</li>
                        <li>A pedigree of affected family members (recommended) and/or affected status of the patient</li>
                    </ul>

                    <a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Sign
                        In</a>

                    <p>If you have any questions about family variant testing with Invitae, you can contact us via the secure
                        messaging system in your online account. To access this system, sign in to your Invitae account,
                        view your order history, and select the order number “RQ number” of the original proband. You can then
                        click on the “Messages” tab to contact us about family variant testing and upload the patient's information
                        in a secure, HIPAA-compliant manner.</p>

                    <p>Alternatively, you can contact our client services team:</p>

                    <ul class="bullet-list">
                        <li>Phone: 800-436-3037 or +1-415-374-7782</li>
                        <li>Email: <a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
                    </ul>
                    <p>If you contact client services via email, please do not include any medical records or medical
                        information with your initial inquiry.</p>

                    <a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Family History Tool</a>
                    <p>We encourage use of the Invitae Family History Tool to easily submit a pedigree for this program.<br>
                        Learn more about this free app.</p>

                </div>
            </div>