<div class="row  ">
<div class="col-md-12  ">
<h3>Targeted family variant testing</h3>

<p class="">A genetic test result has health implications not only for an individual, but for an entire family.</p>

<p class="">After a patient receives a positive test result, targeted family testing can help identify other family members who have the same positive result and provide information about their genetic risks. Family members who test positive can make informed decisions about their health and those who test negative may gain peace of mind.</p>

<p class="">Targeted family variant testing is provided to eligible family members for just $200 per variant for each family member tested. Results are available in an average of three weeks from the time we receive the sample.</p>

<h4><strong>Who is eligible?</strong></h4>

<p class="">A family member of the original patient is eligible if all of the following criteria are met:</p>

<ul class="bullet-list">
	<li>The original patient was tested at Invitae</li>
	<li>A pathogenic or likely pathogenic variant was identified in the original patient's test report<sup>*</sup></li>
	<li>The family member is at risk for carrying the same variant</li>
</ul>

<p class=""><sup>*</sup>If the original patient's test report identified a variant of uncertain significance (VUS), <a href="{% page_url 'portal_common.vus-resolution' %}">VUS resolution testing</a> may be available free of charge to eligible family members. Family members of patients who are not eligible for free VUS resolution can take advantage of this program.</p>

<h4><strong>How do I apply?</strong></h4>

<p class="">Please provide:</p>

<ul class="bullet-list">
	<li>The Order ID number (RQ number) of the original proband</li>
	<li>A detailed family pedigree including the clinical histories of all affected family members</li>
</ul>
<a href="{% url 'portal_common.signin' %}" class="btn btn-color-mountain btn-sm btn-right">Sign In</a>

<p class="">The preferred method of contact is via our secure messaging system in your online account. To access this system, sign in to your account, view your order history, and select the Order ID number of the original proband. You can then click on the messages tab to contact us about Family Variant Testing and upload the patient's pedigree in a secure and HIPAA-compliant manner.</p>

<p class="">Alternatively, you can also contact our client services team:</p>

<ul class="bullet-list">
	<li>Phone: 800-436-3037 or +1-415-374-7782</li>
	<li>Email: <a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
</ul>

<p class="">If you contact client services via email, please do not include any medical records or medical information with your initial inquiry.</p>
<a href="{% page_url 'portal_common.family-history' %}" class="btn btn-color-mountain btn-sm btn-right">Family History Tool</a>

<p class="">We encourage use of the Invitae Family History Tool to easily submit a pedigree for this program.<br>
Learn more about this free app.</p></div></div>
