<div class="row">
<div class="col-md-7"> 
<h2>Is genetic testing <span class="colored-mountain">right for me?</span></h2>

<p>Finding the right genetic test depends on your medical and family histories, your current medical indication, and the kinds of answers you and your healthcare provider seek.</p>

<p>The first step in getting a genetic test is to share your family health history with your doctor and ask if a genetic counseling referral is appropriate. A genetics provider can help determine if genetic testing is right for you.</p>

<p>Invitae can help you identify a qualified genetics professional in your area through the Invitae Genetics Provider Network (GPN). Please <a href="{% url 'patient.signin' %}?next={% url 'patient.gpn-search' %}">sign in</a> to your Invitae account—or, if you don't yet have one, <a href="{% url 'patient.signup' %}?next={% url 'patient.gpn-search' %}">create an account</a>—to connect with our network of genetic counselors, geneticists, and genetic nurses.</p>
</div>

<div class="col-md-5 image-col"><img class="img-responsive center-block" alt="" src="/static/img/patient_portal/illustration-talk-with-your-doctor.png"></div>
</div>
