<div class="row">
<div class="col-md-7">
<h2>Family history</h2>

<p>Family history can offer clues to your future health. Collecting your family's medical history may help you identify diseases you may be at risk for.</p>

<p>Invitae believes that capturing a complete and accurate family history is critical to interpreting genetic results. That’s why we offer a free digital tool that allows you to map out your family medical history.</p>

<p>Get started with your own <a href="{% page_url 'portal_common.family-history' %}">family history</a> today.</p>
</div>

<div class="col-md-5 image-col"><img src="/static/img/patient_portal/illustration-pedigree-people.png" alt="" class="img-responsive center-block"></div>
</div>
