<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Histórias reais</a></li>
	<li>Debbi Crowder</li>
</ul>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'Esperança de um futuro mais saudável'</span></h2>

<h5>Debbi Crowder</h5>

<p>“Vivemos em Kansas, onde os tornados são comuns e as fundações são importantes. Quando um forte tornado varreu nossa cidade há alguns anos, as casas construídas sobre laje foram destruídas. As casas com porões, fundações sólidas, foram as únicas que se salvaram. A família é a mesma coisa. Quando uma família é construída sobre uma base sólida de fé, esperança e amor, ela pode sobreviver às mais difíceis tempestades da vida."</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe src="//fast.wistia.net/embed/iframe/9ll1tn7ors?videoFoam=true" allowtransparency="true" msallowfullscreen="msallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" name="wistia_embed" scrolling="no" class="wistia_embed embed-responsive-item" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" frameborder="0" oallowfullscreen="oallowfullscreen"></iframe></div>
</div>

<div class="col-md-12">
<p> </p>

<p><span style="font-size: 14px; line-height: 20px;"></span>Debbi Crowder cresceu como filha de um pastor. Seu lar, construído sobre a fé, era cheio de amor, alegria e música. Aos 25 anos, ela tinha se casado com seu namorado dos tempos de escola, Dick, e tinha dado à luz a dois filhos: Ric e Adam. Ela descreve a vida como um "conto de fadas", mas logo após o nascimento de seu terceiro filho, sua vida mudaria.</p>

<p>Depois de ser submetido a uma cirurgia cardíaca de emergência, quando tinha menos de duas semanas de vida, Chad, o filho recém-nascido de Debbi e Dick morreu tragicamente na noite de Ação de Graças.</p>

<p>Embora estivesse enfrentando um período de tristeza indescritível, Debbi ajudou a formar um grupo de apoio a mães que lidam com a morte neonatal. Através do conforto que deu a outras mãe, Debbi logo se recuperou e confortou a si mesma. Por fim, ela e Dick decidiram adotar um menino.</p>

<p>“Matt era pura energia e o atleta da família”, Debbi lembra-se de seu filho. Ele praticou todos os esportes quando menino e treinou uma equipe de futebol juvenil depois de adulto. Quando Matt tinha apenas 27 anos, ele desmaiou de repente e morreu enquanto jogava tênis com um amigo.</p>

<p>“Todos, a família e os amigos, ficamos totalmente chocados. Ele era tão ativo — e saudável. Matt aproveitou ao máximo a vida. Ficamos todos descrentes. Ele não havia apresentado nenhum sintoma. Nenhuma dor, falta de ar, fraqueza ou arritmia cardíaca.”</p>

<p>Matt morreu de cardiomiopatia hipertrófica (CMH), uma doença genética que resulta no aumento da espessura do músculo do coração. Como a espessura do músculo do coração (miocárdio) aumenta de maneira anormal, isso pode dificultar o bombeamento do sangue. No entanto, muitas vezes a condição não é diagnosticada.</p>

<p>Desde que Matt foi adotado, a família Crowder não sabia do histórico genético de sua família biológica. Quando faleceu, Matt deixou uma esposa e um filho de quatro meses de idade chamado Griffin. Coletivamente, a família decidiu fazer o teste de DNA a que Griffin foi submetido e descobriu que ele também carrega a mesma mutação genética de seu pai. Hoje, Griffin tem nove anos e faz acompanhamento com um cardiologista pediátrico para monitorar sua condição cardíaca.</p>

<p>Saber da doença hereditária tornou-se especialmente doloroso para a família Crowder após a morte de Matt. Eles também têm uma filha adotiva, Maci, com quem conversaram sobre fazer o sequenciamento de DNA para descobrir se há qualquer "segredo" importante em sua composição genética. A resposta dela foi um firme “sim”.</p>

<p>Além disso, os Crowders também têm uma neta, Britanny, com uma doença genética rara chamada galactosemia, o que dificulta a capacidade do corpo de metabolizar a galactose do açúcar simples, um componente da lactose. Sua condição foi identificada porque Kansas inclui a galactosemia em seu teste de triagem "do pezinho" em recém-nascidos.</p>

<p>“O sequenciamento de DNA parecia uma ciência futurística”, diz Debbi. "Hoje em dia sabemos que está disponível aqui e agora. E isso traz à nossa família e a muitas outras o conhecimento de nossos corpos, um melhor entendimento de como lidar com doenças e até mesmo de como preveni-las e uma esperança para um futuro mais saudável para as próximas gerações.”</p>
<i>A história de Debbi Crowder é uma das muitas que inspiraram os fundadores da Invitae a criar a empresa. Debbi é membro da família de Randy Scott, CEO da Invitae. Ouça mais sobre como suas experiências ajudaram a contar a missão da Invitae no vídeo  "<a href="http://blog.invitae.com/randy-scott-biochemist-and-invitae-co-founder/">Genetics is about everybody</a>"(A genética  é sobre todos nós).</i></div>
</div>