<div class="row">
<div class="col-md-12">
<h3>&nbsp;&nbsp;&nbsp;&nbsp; More information</h3>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For more information about ordering with Invitae, visit our <a href="https://support.invitae.com/hc/en-us">help center</a>. If you don&#39;t find the answer you&#39;re looking for, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
</div>
</div>
