<div class="row">
<div class="brca-tool-overlay"> </div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Ferramenta de informações </span> sobre câncer de mama</h2>
</div>

<div class="col-md-7 image"><img src="/static/img/slideshow/education-talk-w-your-doctor.png" alt="talk with a doctor" class="talk-with-doctor">
<div aria-labelledby="myLargeModalLabel" role="dialog" aria-hidden="true" class="modal fade modal-fullscreen bs-example-modal-lg" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button type="button" class="close icon-cross" aria-label="Close" data-dismiss="modal"><span aria-hidden="true"></span></button><iframe src="{% url 'patient.education-breast-cancer' %}" id="reveal" name="education-breast-cancer"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>Como parte do nosso suporte contínuo aos pacientes, desenvolvemos diversas ferramentas e informações para orientá-lo durante a experiência de teste genético.</p>

<p>Essa ferramenta de informações sobre câncer de mama é um exemplo do suporte educativo que oferecemos. Ela destina-se a indivíduos que agendaram os serviços de consultoria genética com a Invitae e estão interessados em nossos serviços de testes genéticos de câncer.</p>
<button type="button" data-toggle="modal" class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg"><span class="icon icon-angle-right"></span>INICIALIZAR FERRAMENTA</button></div>
</div>