<div class="row">
<div class="brca-tool-overlay"> </div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Ferramenta de informações </span> sobre câncer de mama</h2>
</div>

<div class="col-md-7 image"><img class="talk-with-doctor" alt="talk with a doctor" src="/static/img/slideshow/education-talk-w-your-doctor.png">
<div role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade modal-fullscreen bs-example-modal-lg" aria-hidden="true" tabindex="-1">
<div class="modal-dialog modal-lg">
<div id="brca-education" class="modal-content"><button type="button" data-dismiss="modal" class="close icon-cross" aria-label="Close"><span aria-hidden="true"></span></button><iframe name="education-breast-cancer" id="reveal" src="{% url 'patient.education-breast-cancer' %}"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>Como parte do nosso suporte contínuo aos pacientes, desenvolvemos diversas ferramentas e informações para orientá-lo durante a experiência de teste genético.</p>

<p>Essa ferramenta de informações sobre câncer de mama é um exemplo do suporte educativo que oferecemos. Ela destina-se a indivíduos que agendaram os serviços de consultoria genética com a Invitae e estão interessados em nossos serviços de testes genéticos de câncer.</p>
<button type="button" data-target=".bs-example-modal-lg" data-toggle="modal" class="btn btn-lg btn-color-mountain"><span class="icon icon-angle-right"></span>INICIALIZAR FERRAMENTA</button></div>
</div>