<div class="row">
<div class="col-md-12">
<h2><span class="highlighted-text-mountain">A Ferramenta de Histórico Familiar </span>Invitae</h2>
</div>

<div class="col-md-5">
<p>Na Invitae, acreditamos que coletar um histórico familiar completo e preciso é fundamental para interpretar os resultados genéticos. É por isso que oferecemos uma ferramenta digital gratuita que permite traçar o histórico de saúde de sua família.</p>

<p>A Ferramenta de Histórico Familiar faz com que seja mais fácil acompanhar seu histórico médico familiar de maneira rápida, completa e precisa. O questionário para pacientes integrado gerará automaticamente seu histórico familiar para poupar tempo.</p>

<p>Comece com seu próprio histórico familiar hoje.</p>
<a href="{% page_url 'portal_common.family-history' %}" class="btn fht-button btn-color-mountain btn-lg" id=""><span class="icon none"></span> FERRAMENTA DE HISTÓRICO FAMILIAR </a></div>

<div class="col-md-7">
<div class="hero-devices">
<div class="content"> </div>
</div>
</div>
</div>