<div class="row">
                <div class="col-md-12">
                    <div class="offset-panel">
                        <div class="number-color-willow2">1</div><h3>Search conditions</h3>
                        <a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-right">Test Catalog</a>

                        <p>Search our online test catalog for genes and conditions of
                            interest and create your own custom order.</p>
                    </div>
                </div>
            </div>