<div class="row">
<div class="col-md-12">
<h3>BRCA and beyond at your pace.</h3>

<p>New ordering options for hereditary breast, ovarian, and endometrial/uterine cancer. Order the BRCA genes alone or upgrade to any of our multi-gene panels for the same price<sup>*</sup>, with just three weeks on average from sample to results.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0089' %}"><span class="icon icon-angle-right"></span>Hereditary breast and ovarian cancer syndrome</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">View Test</a>

<p>BRCA1 and BRCA2 account for ~50% of hereditary breast and ovarian cancer cases in individuals with strong family history or early-onset diagnosis. Our test includes full gene sequencing and deletion/duplication.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0009' %}"><span class="icon icon-angle-right"></span>Hereditary breast cancer, high-risk panel</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">View Test</a>

<p>Covers disorders caused by 7 genes that confer a high lifetime risk of breast cancer, ranging from 40% to 90%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0020' %}"><span class="icon icon-angle-right"></span>Hereditary breast cancer, moderate-risk panel</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">View Test</a>

<p>This panel includes 10&nbsp;genes that have been associated with a moderate risk for developing breast cancer.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0021' %}"><span class="icon icon-angle-right"></span>Hereditary breast cancer, extended panel</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">View Test</a>

<p>This panel covers 17 genes that are associated with an increased lifetime risk of developing breast cancer, as well as other cancer types.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0022' %}"><span class="icon icon-angle-right"></span>Hereditary gynecologic cancers, high-risk panel</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">View Test</a>

<p>Covers 9 genes with published management guidelines.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0007' %}"><span class="icon icon-angle-right"></span>Hereditary breast and gynecologic cancers</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">View Test</a>

<p>(Previously Women&#39;s hereditary cancers panel) a 22 gene panel analyzes a patient&#39;s hereditary breast, ovarian, and endometrial/uterine cancer genetics.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Hereditary cancer syndromes</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">View Test</a>

<p>Tests 34 genes known to be associated with well-<br />
established hereditary cancer syndromes.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="brca-testing-figure">
<div class="content">&nbsp;</div>
</div>

<p class="fig-footnotes"><sup>*</sup> NF1: exons 16-24, 31-35 are not included in deletion/duplication analysis</p>
</div>
</div>
