<p><a name="newsletter-signup"></a></p>

<h4><strong>Sign up:</strong> <strong>Genetics Insider</strong></h4>

<h4>As the field of genetics evolves, we strive to help keep you up to date. This bi-monthly email includes the latest genetic advancements and studies, from Invitae and the community as a whole. Sign up today!</h4>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input value="{{ user.userprofile.practice.name }}" type="text" name="organization" id="cms_id_organization"></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value=""></option><option value="Genetic Counselor">Genetic Counselor</option><option value="Other">Other</option></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" name="specialty" id="cms_id_specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input value="{{ user.contact_info.zipcode }}" type="text" name="zipcode" id="cms_id_zipcode"></div>

<div style="text-align: center;" class="field-wrapper required"><button type="submit" class="btn btn-lg btn-color-mountain">Submit</button></div>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>

<div class="field-wrapper required"><input value="Website" type="hidden" name="source"></div>

<p><input value="Genetics Resource Hub" type="hidden" name="source_description"></p>

<p><input value="" type="hidden" name="cmpid" id="campaignId"><input value="" type="hidden" name="ao_campid" id="ao_campid"></p>

<h5 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"></h5>