<div class="row">
<div class="col-md-12">
<h3>Ofrecemos opciones flexibles de pruebas.</h3>

<p>Invitae ofrece opciones para pruebas de cáncer pancreático que son amplias y económicas.</p>

<p>Solicite nuestro panel de Cáncer Pancreático Hereditario diseñado por expertos: lo último en nuestro conjunto de pruebas para el cáncer hereditario. Este panel cubre 17 de los genes más comúnmente vinculados a un mayor riesgo de cáncer de páncreas. Si quieres profundizar aún más, también puede mejorar su opción con nuestro panel de Síndromes de Cáncer Hereditario.</p>

<p>Sin importar la opción que elija, es el mismo precio<sup>*</sup>.<sup> </sup>Sólo tres semanas en promedio desde la muestra hasta los resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0010' %}"><span class="icon icon-angle-right"></span>Cáncer pancreático hereditario</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">Ver Prueba</a>

<p>Un panel de 17 genes analiza el riesgo de un paciente de sufrir cáncer de páncreas hereditario, así como otros tipos de cáncer. Se pueden agregar a su solicitud, sin costo adicional, otros genes que evalúan el riesgo hereditario de un paciente de sufrir pancreatitis.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Síndromes de cáncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se saben están asociados con síndromes de cáncer hereditario bien establecidos.</p>
</div>
</div>
 

<h3>Personalizar para análisis adicionales.</h3>

<p>Además de los 17 genes en el panel de Cáncer Pancreático de Invitae, algunos proveedores también optan por incluir los siguientes genes al evaluar a un paciente por cáncer pancreático hereditario:</p>

<p><em>CDK4</em>, <em>CFTR</em>, <em>CTRC</em>, y <em>SPINK1</em></p>

<p>Como siempre en Invitae, puede personalizar su pedido para incluir estos genes sin costo adicional. Haga clic en Ver Prueba para más información.</p>
</div>

<div class="col-md-5">
<div class="pancreatic-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure3" href="#"><span class="icon"></span>Síndromes de cáncer hereditario </a> <a class="figure4" href="#"> <span class="icon"></span>Cáncer pancreático hereditario </a></div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NF1†</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div> </div>

<div class="check"> </div>
</div>
</div>
</div>

<p> </p>

<p class="fig-footnotes">
† NF1: Los exones 16-24, 31-35 no están incluidos en el análisis de eliminación/duplicación</p>
</div>
</div>
