<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-mountain">3</div>

<h3>Enviar una muestra</h3>

<p>Para obtener más detalles sobre nuestros requerimientos para las muestras y su envío, visite nuestra página de <a href="{% page_url 'portal_common.sample-requirements' %}">Requisitos para las Muestras</a>. Para solicitar un kit gratuito de recolección de muestras con nuestro formulario de solicitud en línea, visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a>.</p>

<p>&nbsp;</p>
</div>
</div>
</div>