<div class="row">
<div class="col-md-12">
<h3>Solicitud en línea sencillos</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>Haga su solicitud en línea para un procesamiento más eficaz de su solicitud, una entrega de informes más rápida y acceso a las otras funciones en línea. Crear una cuenta solo toma unos pocos minutos, y también puede navegar y realizar su solicitud directamente de nuestro catálogo de estudios en línea.</p>

<p>Para obtener más información sobre cómo crear una cuenta y realizar una solicitud en línea, mire nuestros videos instructivos más abajo.</p>

<p><strong>Una cuenta en línea de Invitae le permite:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-5">
<ul class="bullet-list">
	<li>Diseñar y guardar solicitudes personalizados para facilitar las solicitudes repetidos.</li>
	<li>Compartir de forma segura los resultados de los estudios con pacientes y colegas.</li>
	<li>Hacer solicitudes en nombre de los médicos de su organización.</li>
</ul>
</div>

<div class="col-md-7">
<ul class="bullet-list">
	<li>Seguir el estado de su solicitud en tiempo real y mantener un registro de sus solicitudes anteriores.</li>
	<li>Enviar mensajes de forma segura al personal de Invitae y subir documentos.</li>
	<li>Ver y descargar sus informes de estudios.</li>
</ul>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>Si prefiere realizar una solicitud en papel, también puede descargar nuestro formulario de solicitud en papel de la página <a href="{% page_url 'portal_common.order-forms' %}">Formularios</a>.</p>
</div>
</div>