<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Haga una solicitud en l&iacute;nea</h3>

<p>Haga su solicitud en l&iacute;nea para un procesamiento m&aacute;s eficaz de su solicitud, una entrega de informes m&aacute;s r&aacute;pida y acceso a las otras funciones en l&iacute;nea. Crear una cuenta solo toma unos pocos minutos, y tambi&eacute;n puede navegar y realizar su solicitud directamente de <a href="{% page_url 'portal_common.test-catalog' %}">nuestro cat&aacute;logo de estudios</a> en l&iacute;nea.</p>
</div>
</div>
</div>