<div class="row">
<div class="col-md-12">
<h3>Programa de resoluci&oacute;n de VSI de Invitae</h3>

<p>A fin de ayudar a resolver variantes de significado incierto (VSI) en los resultados de nuestras pruebas, Invitae ofrece an&aacute;lisis de seguimiento sin cargo adicional para miembros seleccionados de la familia de pacientes previamente analizados en Invitae.</p>

<h4><strong>Beneficios de la resoluci&oacute;n de VSI</strong></h4>

<p>En algunos casos, identificar una variante gen&eacute;tica en un solo individuo no es suficiente para determinar su significado cl&iacute;nico. En algunos de estos casos, analizar a otros miembros de la familia podr&iacute;a aclarar la relaci&oacute;n de la variante con la enfermedad. El objetivo de este proceso es reclasificar la VSI como benigna o patog&eacute;nica y resolver la incertidumbre del resultado de la prueba.</p>

<h4><strong>Qu&eacute; se puede esperar</strong></h4>

<p>La reclasificaci&oacute;n de variantes depende de la informaci&oacute;n reunida de m&uacute;ltiples familias. La participaci&oacute;n en este programa puede no dar lugar a una reclasificaci&oacute;n inmediata, pero puede proporcionar informaci&oacute;n que contribuya con este proceso. Si se reclasifica una variante, Invitae proporcionar&aacute; informes corregidos con la nueva interpretaci&oacute;n a todas las personas que tienen la variante.</p>

<p>Invitae apoya la divulgaci&oacute;n de las interpretaciones de variantes, y pone las interpretaciones de variantes de forma an&oacute;nima a disposici&oacute;n de las comunidades m&eacute;dicas y de investigaci&oacute;n a trav&eacute;s de las bases de dato <a href="http://www.ncbi.nlm.nih.gov/clinvar/" target="blank">Clinvar</a> y <a href="{% page_url 'portal_common.clinvitae' %}" target="blank">Clinvitae</a>. La participaci&oacute;n en este programa puede en &uacute;ltima instancia ayudar a muchas familias en situaciones similares.</p>

<h4><strong>&iquest;Qui&eacute;nes son elegibles?</strong></h4>

<p>No todas las variantes se pueden resolver con este tipo de an&aacute;lisis, y no todos los miembros de la familia pueden proporcionar datos informativos. Las decisiones acerca de la elegibilidad para el programa se basan en las siguientes pautas:</p>

<ul class="bullet-list">
	<li>La estructura de la familia, el estado de la enfermedad, y la presentaci&oacute;n cl&iacute;nica de las personas disponibles</li>
	<li>El tipo de cambio de secuencia en cuesti&oacute;n</li>
	<li>El gen en el que se identific&oacute; la VSI</li>
	<li>Los patrones hereditarios y la penetrancia de las enfermedades asociadas con el gen</li>
</ul>

<p>Algunos genes no son elegibles para nuestro programa de resoluci&oacute;n de VSI; visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.gene-eligibility' %}">Elegibilidad de Genes</a> para obtener informaci&oacute;n detallada sobre reglas de elegibilidad de genes de c&aacute;ncer y cardiolog&iacute;a.</p>

<p>Si nuestro equipo cl&iacute;nico determina que un caso puede ser elegible para nuestro programa de resoluci&oacute;n de VSI, el informe cl&iacute;nico original incluir&aacute; una declaraci&oacute;n que recomienda la consideraci&oacute;n de la resoluci&oacute;n de VSI.</p>

<h4><strong>&iquest;C&oacute;mo puedo presentar una solicitud?</strong></h4>

<p>Si se ha emitido una recomendaci&oacute;n para considerar una resoluci&oacute;n de VSI en el informe del an&aacute;lisis de su paciente y usted est&aacute; interesado en participar, proporcione lo siguiente:</p>

<ul class="bullet-list">
	<li>El n&uacute;mero de identificaci&oacute;n de pedido (&ldquo;n&uacute;mero RQ&rdquo;) del caso &iacute;ndice original</li>
	<li>Un &aacute;rbol geneal&oacute;gico detallado que incluya las historias cl&iacute;nicas de todos los miembros de la familia afectados</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">inicie sesi&oacute;n</a>

<p>El m&eacute;todo de contacto preferido es a trav&eacute;s de nuestro sistema de mensajer&iacute;a seguro en su cuenta en l&iacute;nea. Para acceder al sistema, inicie sesi&oacute;n en su cuenta, consulte su historial de pedidos y seleccione el n&uacute;mero de identificaci&oacute;n de pedido del caso &iacute;ndice original. Luego puede hacer clic en la ficha &quot;Messages&quot; (Mensajes) para comunicarse con nosotros por la resoluci&oacute;n de VSI y cargar el &aacute;rbol geneal&oacute;gico del paciente de manera segura y en cumplimiento de la ley HIPAA.</p>

<p>Tambi&eacute;n puede comunicarse con el departamento de atenci&oacute;n al cliente para obtener m&aacute;s informaci&oacute;n (no incluya ning&uacute;n registro m&eacute;dico ni informaci&oacute;n m&eacute;dica en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=VUS%20resolution">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>

<p>Lo invitamos a usar la herramienta de antecedentes familiares de Invitae para enviar f&aacute;cilmente un &aacute;rbol geneal&oacute;gico para este programa. Obtenga m&aacute;s informaci&oacute;n acerca de esta aplicaci&oacute;n gratuita.</p>

<p>Una vez que se ha enviado la informaci&oacute;n y esta ha sido revisada por nuestro equipo cl&iacute;nico, nos comunicaremos con usted para informarle qu&eacute; familiares re&uacute;nen los requisitos para este programa de an&aacute;lisis sin cargo adicional. Nuestro proceso de revisi&oacute;n de resoluci&oacute;n de VSI toma aproximadamente una semana.</p>

<h4><strong>&iquest;Qu&eacute; sucede si deseo evaluar individuos que no re&uacute;nen los requisitos para el programa de resoluci&oacute;n de VSI?</strong></h4>

<p>Para los casos que no re&uacute;nen los requisitos para la resoluci&oacute;n de VSI sin cargo adicional, Invitae ofrece an&aacute;lisis de variante familiar por solo $200 por cada gen en el que se encontr&oacute; una VSI. Para obtener m&aacute;s informaci&oacute;n acerca de este programa visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.family-testing' %}">An&aacute;lisis de Variante Familiar</a>.</p>
</div>
</div>