<div class="row">
<div class="col-md-12">
<h3>Perguntas frequentes</h3>

<div class="faq-block">
<div class="faq-block__heading theme-one">Testes genéticos com a Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é um teste genético?</h4>

<div class="expandable-content">
<p>O teste genético analisa os genes, que são as instruções codificadas no DNA. Os genes ajudam a determinar a cor dos seus olhos e dos seus cabelos, a sua altura e outros traços físicos que fazem de você quem você é. O teste genético procura variações nos genes que podem levar a doenças. Você ou o seu médico podem cogitar o teste genético por várias razões, como confirmar uma doença que ele suspeite que você tenha ou compreender a causa de uma doença que é comum na sua família.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais são os diferentes tipos de testes genéticos?</h4>

<div class="expandable-content">
<p>A Invitae oferece tanto testes diagnósticos como preditivos. Os testes diagnósticos são realizados para confirmar geneticamente uma doença que o médico suspeite que você possa ter, com base nos seus sintomas. Os testes preditivos envolvem a realização de testes genéticos para determinar o risco futuro de desenvolver uma doença ou uma condição. Se você tiver histórico familiar de uma determinada doença passível de ser herdada (seja uma doença hereditária rara ou uma mais comum, como câncer), seu médico poderá recomendar testes preditivos para detectar o risco de você vir a desenvolver a doença no futuro.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que tipos de testes genéticos a Invitae oferece?</h4>

<div class="expandable-content">
<p>A Invitae é especializada em testes genéticos para condições herdadas relativas a várias áreas médicas, como cardiologia, cânceres hereditários, pediatria, neurologia e hematologia. Para obter mais detalhes sobre nossos testes genéticos, acesse nossa página de <a href="{% page_url 'portal_common.test-catalog' %}"> catálogo de testes</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que apoio a Invitae oferece durante o processo de teste?</h4>

<div class="expandable-content">
<p>Entendemos que fazer escolhas sobre o teste genético pode às vezes ser devastador. Com a Invitae, você encontrará apoio em cada etapa do caminho: antes, durante e depois do teste. Colocamos à sua disposição todos os nossos recursos para que você possa se concentrar apenas em cuidar de si mesmo, da sua família e do seu futuro.</p>

<p>Os serviços de testes genéticos da Invitae incluem:</p>

<ul class="bullet-list">
	<li>Testes genéticos simples, convenientes e acessíveis</li>
	<li>Resultados em três semanas, em média</li>
	<li>Análise especializada para uma compreensão clara</li>
	<li>Testes de alta qualidade por um preço acessível, incluindo programas de ajuda financeira para pacientes, em alguns casos</li>
	<li>Aconselhamento genético (com encaminhamento médico) para ajudar você a compreender os resultados do seu teste genético</li>
	<li>Se for o caso, testagem familiar para detectar o risco para seus familiares</li>
	<li>Ajuda com o seguro e o processo de cobrança nos EUA</li>
	<li>Conveniente acesso online e a capacidade de controlar sua amostra durante todo o processo de teste</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso saber que tipo de teste genético é o certo para mim?</h4>

<div class="expandable-content">
<p>Descobrir o teste genético certo depende do seu histórico médico e familiar, das suas condições médicas atuais e dos tipos de respostas que você e o seu profissional de saúde procuram. Converse com seu médico sobre o tipo de teste genético certo para você ou entre em <a href="{% page_url 'patient.contact' %}">contato</a> com o nosso Serviço de Atendimento ao Cliente para saber mais sobre as suas opções.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se for descoberto que eu tenho uma variação genética e meus familiares quiserem se submeter ao teste?</h4>

<div class="expandable-content">
<p>Os resultados do seu teste genético poderão ter implicações não só para a sua saúde, mas para a saúde da sua família também.</p>

<p>Se você recebe um resultado positivo para um teste de Invitae, o teste de variantes familiares pode ser utilizado para identificar outros membros da sua família com a mesma variante e fornecer informações sobre seus riscos genéticos. Para saber mais sobre as opções de testes para a sua família, por favor, fale com o seu médico ou contate a nossa equipe de Serviço ao Cliente.</p>

<p>O teste de variantes familiares de Invitae envolve uma análise completa do gene no qual foi identificada a variante no membro familiar original. O informe incluirá o status da variante familiar, assim como qualquer outra (s) variante (s) identificada (s) no gene que poderia ser causadora de doenças.</p>

<p>O teste de variantes familiares é fornecido para os membros da família elegíveis por apenas $200 por gene por cada familiar testado. Em média, os resultados estarão disponíveis em três semanas a partir da recepção da amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quem é elegível para os testes familiares?</h4>

<div class="expandable-content">
<p>Um membro da família do paciente inicial é elegível se todos os seguintes critérios são atendidos:</p>

<ul class="bullet-list">
	<li>O paciente original foi testado em Invitae*</li>
	<li>Uma variante causadora da doença ou provável causadora da doença foi identificada no informe de testes do paciente original**</li>
	<li>O membro da família está em risco em ter a mesma variante</li>
</ul>

<p>*O teste de variantes familiares não está disponível para as famílias se a variante patogênica do paciente original foi detectada por um laboratório que não seja Invitae.</p>

<p>**Se o informe do teste do paciente original identificou uma variante de importância duvidosa (VUS), a resolução VUS pode estar disponível sem custo adicional para os membros da família elegíveis. Os familiares de pacientes que não se qualificam à resolução VUS sem nenhum custo adicional podem beneficiados de testes de variantes familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se o meu teste genético der negativo ou inconclusivo?</h4>

<div class="expandable-content">
<p>Se você receber um resultado negativo ou inconclusivo em um teste da Invitae, seu médico poderá optar por testar mais genes relacionados à área clínica original para a qual você foi submetido à testagem. Esses genes adicionais podem ser solicitados sem custo adicional em até 90 dias a partir da data em que seu médico tiver recebido o resultado do primeiro teste. (Válido apenas para genes disponíveis no momento do relatório original.) Obtenha mais informações sobre esse programa na nossa página de <a href="{% page_url 'portal_common.re-requisition' %}">Nova Solicitação</a>.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-two">O processo de teste genético na Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como ele funciona?</h4>

<div class="expandable-content">
<p>Os testes genéticos clínicos da Invitae devem ser solicitados por um profissional de saúde certificado e autorizado</p>

<p>Queremos facilitar ao máximo o processo de testes genéticos. Depois que você e seu médico decidirem que o teste genético é adequado para você, uma amostra de sangue ou saliva poderá ser enviada à Invitae para teste. Muitos pacientes coletam sangue no laboratório ou no consultório do médico. Se você precisar de ajuda nesse sentido, a Invitae disponibiliza o serviço de coleta de sangue a domicílio sem nenhum custo adicional. Esse serviço é oferecido em nos Estados Unidos e no Canadá.</p>

<p>Após o recebimento da amostra de sangue, uma equipe de cientistas, médicos e conselheiros genéticos realiza o teste genético e trabalha em conjunto para analisar os resultados e oferecer uma interpretação especializada. Os resultados do teste genético são enviados então para o seu médico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como forneço a amostra?</h4>

<div class="expandable-content">
<p>Depois que você decidir realizar o teste e seu médico tiver feito a solicitação, você precisará fornecer uma amostra de sangue ou de saliva.</p>

<p>Se você optar por fornecer uma amostra de saliva, o médico poderá pedir à Invitae que envie um kit de coleta de saliva ao consultório ou à sua residência.</p>

<p>Se você estiver nos EUA ou no Canadá e optar por enviar uma amostra de sangue, esta poderá ser coletada no consultório ou em sua residência — como você preferir. Para solicitar um serviço de coleta de sangue nos Estados Unidos ou no Canadá, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nossa equipe de Atendimento ao cliente. As consultas devem ser marcadas pelo menos com três dias de antecedência. A Invitae enviará um kit de coleta para sua casa ou para o consultório do seu médico com todo o material e formulários necessários. Esse serviço é oferecido sem custo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto tempo demora para eu receber meus resultados?</h4>

<div class="expandable-content">
<p>Sabemos que os pacientes gostariam de receber os resultados de seu teste genético o mais rápido possível. Com a Invitae, seu médico receberá os resultados dentro de três semanas, em média. Nosso portal online torna mais fácil você saber exatamente em que ponto do processo de teste a sua amostra se encontra. Você também poderá ver seus resultados online assim que eles tiverem sido avaliados e liberados pelo seu médico. <a href="{% url 'patient.signin' %}">Este</a> é o site do portal online da Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como faço para verificar o status do meu teste?</h4>

<div class="expandable-content">
<p>Depois que o seu médico tiver solicitado um teste para você na Invitae, você poderá entrar no nosso portal online para verificar o status do seu teste. Também poderá ver os resultados do teste assim que eles forem liberados pelo seu médico. <a href="{% url 'patient.signin' %}">Este</a> é o site do portal online da Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como faço login na minha conta da Invitae?</h4>

<div class="expandable-content">
<p>Se o seu médico tiver informado seu endereço de e-mail ao fazer o pedido do teste, você receberá um e-mail com as informações necessárias para criar sua conta no portal online da Invitae. O nome de usuário para essa conta é o seu endereço de e-mail e você pode definir a senha no momento em que criar a conta. <a href="{% url 'patient.signin' %}">Este</a> é o site do portal online da Invitae.</p>

<p>Se você perder sua senha ou não receber o e-mail de configuração de conta, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se o meu médico não conhecer a Invitae?</h4>

<div class="expandable-content">
<p>Os testes genéticos da Invitae devem ser solicitados por um profissional de saúde certificado. Se você estiver interessado em saber mais sobre nossos serviços de testes genéticos, nosso Serviço de Atendimento ao Cliente terá o prazer em auxiliá-lo:</p>

<ul class="bullet-list">
	<li>Fornecendo mais informações sobre os testes que oferecemos</li>
	<li>Facilitando a conversa com seu médico</li>
	<li>Colocando você em contato com nossos conselheiros genéticos, que podem responder às suas perguntas sobre o processo de teste genético em geral e ajudá-lo a encontrar um geneticista para assisti-lo</li>
</ul>

<p>Para saber mais, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-three">Aconselhamento genético oferecido pela Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que vem a ser um conselheiro genético e por que meu médico quer que eu converse com um?</h4>

<div class="expandable-content">
<p>Conselheiros genéticos são profissionais de saúde especialmente treinados para ajudá-lo a compreender o resultado do teste genético e o que isso significa para você e seus familiares.</p>

<p>Muitos médicos encaminham os pacientes aos conselheiros genéticos para que eles tenham a oportunidade de saber mais detalhes sobre testes genéticos e fazer perguntas sobre o processo. Quando uma variante genética é identificada, muitos médicos também apreciam a maneira detalhada como os conselheiros genéticos ajudam o paciente a identificar membros da família em risco e proporcionam ao paciente recursos sobre testes genéticos que eles podem compartilhar com seus familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece serviços de aconselhamento genético?</h4>

<div class="expandable-content">
<p>Caso você não tenha acesso a um conselheiro genético, a Invitae oferecerá serviços remotos de aconselhamento genético por telefone ou vídeo. (Nos EUA, esses serviços são realizados de acordo com os requisitos estaduais que regulam a prática de telegenética.) O encaminhamento médico é necessário para os serviços de aconselhamento genético da Invitae. Para saber mais, visite a página de <a href="{% page_url 'portal_common.gc-services' %}">serviços de aconselhamento genético</a> da Invitae. Os serviços de aconselhamento genético oferecidos atualmente pela Invitae são somente para nossos testes genéticos de câncer.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os conselheiros genéticos da Invitae são credenciados e licenciados nos Estados Unidos?</h4>

<div class="expandable-content">
<p>Sim, a Invitae emprega conselheiros genéticos certificados pelo American Board of Genetic Counseling (Conselho Americano de Aconselhamento Genético). A Invitae também emprega conselheiros genéticos licenciados em cada estado dos EUA com requisitos de licenciamento.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto custa o aconselhamento genético?</h4>

<div class="expandable-content">
<p>Acreditamos que o aconselhamento genético seja uma parte muito importante do processo de teste genético e ficamos felizes de oferecer esse serviço sem nenhum custo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como faço para solicitar uma consulta de aconselhamento genético?</h4>

<div class="expandable-content">
<p>O encaminhamento médico é necessário para os serviços de aconselhamento genético a pacientes oferecido pela Invitae. Para saber mais sobre como entrar em contato com um dos nossos conselheiros genéticos, visite a página de nossa <a href="{% page_url 'portal_common.gc-services' %}">serviços de aconselhamento genético</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que posso esperar da consulta de aconselhamento genético?</h4>

<div class="expandable-content">
<p>Durante a sessão de aconselhamento, o conselheiro genético examinará rapidamente seu histórico médico e fará perguntas sobre o histórico médico da sua família. De posse dessas informações, o conselheiro genético explicará o teste genético solicitado pelo seu médico e discutirá os possíveis resultados do teste, inclusive o que esses resultados podem significar para você e para os membros da sua família. O conselheiro genético também explicará como o teste é realizado, ajudará você a enviar sua amostra de DNA (caso você decida prosseguir com o teste) e examinará os resultados dos seus testes genéticos junto com você quando eles estiverem prontos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso me preparar para a sessão de aconselhamento genético?</h4>

<div class="expandable-content">
<p>As sessões de aconselhamento genético são semelhantes a qualquer consulta médica. Você deve reservar uma hora para a sessão e garantir que não seja interrompido durante esse tempo.</p>

<p>Antes da sessão de aconselhamento genético, convém perguntar aos membros da sua família sobre seu histórico médico familiar. Será muito útil se você conseguir informações sobre possíveis condições médicas diagnosticadas (como câncer ou doenças cardíacas) e a idade em que cada condição médica foi diagnosticada. Você também pode perguntar a eles sobre a causa da morte de familiares falecidos e a idade que eles tinham quando morreram.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se eu for adotada ou não souber detalhes do meu histórico médico familiar?</h4>

<div class="expandable-content">
<p>Não são raros os casos de pessoas que foram adotadas ou que têm poucas informações médicas sobre um determinado lado da família. Tenha certeza de que o conselheiro genético trabalhará com todas as informações que você tiver disponíveis durante o processo de teste genético.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto tempo dura a sessão de aconselhamento genético?</h4>

<div class="expandable-content">
<p>As sessões de aconselhamento genético geralmente duram uma hora, mas podem levar mais ou menos tempo dependendo do número de perguntas que você fizer aos conselheiros genéticos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que acontece se eu tiver dúvidas sobre os meus cuidados médicos?</h4>

<div class="expandable-content">
<p>Qualquer dúvida relacionada a cuidados médicos deve ser direcionada ao seu médico.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-four">Custo e cobertura do seguro</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto custam os testes genéticos da Invitae?</h4>

<div class="expandable-content">
<p>A missão da Invitae é levar informação genética à prática médica convencional para melhorar a qualidade da assistência médica para bilhões de pessoas. Nós acreditamos em testagem responsável com base em diretrizes médicas estabelecidas e pretendemos ser completamente transparentes nos nossos preços para que pacientes, médicos e responsáveis financeiros saibam o custo do teste. Nos EUA, nossa estrutura de preços por área clínica é*:</p>

<ul class="bullet-list">
	<li>US$ 1.500 - Preço de tabela</li>
	<li>US$ 950 - Preço de contrato para distribuidores, provedores em rede e instituições</li>
	<li>US$ 475 - Preço básico para pacientes dos EUA e Canadá
	<ul class="bullet-list">
		<li>O paciente concorda em se registrar online e definir preferências de contato</li>
		<li>Os programas de assistência a pacientes não estão disponíveis para a opção de pagamento antecipado pelo paciente.</li>
		<li>Os pedidos de pagamento antecipado pelo paciente devem ser feitos online, incluindo a solicitação do clínico.</li>
		<li>No caso de pedidos internacionais, a opção de pagamento antecipado pelo paciente não inclui frete</li>
	</ul>
	</li>
</ul>

<p>A Invitae trabalha com distribuidores locais em países fora dos EUA. Entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente para ser apresentado ao distribuidor local e tomar conhecimento dos preços na sua região.</p>

<p>É importante destacar que, para o pagamento pelo paciente (tanto dentro como fora dos EUA), exigimos a solicitação dos testes emitida pelo profissional de saúde dos pacientes. Os profissionais de saúde são fundamentais para solicitar o teste certo para o paciente certo e interpretar as informações genéticas. A Invitae acredita que os pacientes devam possuir e controlar suas próprias informações genéticas, por isso não exigimos que nossos pacientes transfiram a titularidade de seus dados. Nós permitimos que eles optem por recusar e ainda assim recebam o teste. Embora as informações genéticas sejam mais valiosas quando compartilhadas, os pacientes são donos de seus dados e devem decidir o que querem fazer com elas.</p>

<p class="endnote"><sup>*</sup>*Preços por área clínica: preço de tabela de US$ 1.500, com desconto de US$ 950 para instituições e distribuidores que possuam contrato com a Invitae, bem como provedores em rede. O preço básico inicial para pacientes é US$ 475. Os preços fora dos Estados Unidos não incluem taxas de frete. Para obter mais informações, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os testes genéticos da Invitae estão cobertos pelo seguro nos EUA?</h4>

<div class="expandable-content">
<p>Os testes genéticos da Invitae podem estar cobertos pelo seu seguro de saúde. Você não precisará entrar em contato com a seguradora para saber se o teste está coberto ou para obter reembolso. A Invitae contatará diretamente a companhia de seguros para coordenar a cobertura e o pagamento. Talvez a seguradora envie pelo correio para você uma EOB (Explanation of Benefits, explicação dos benefícios). Não é uma cobrança. A Invitae receberá uma EOB igual a esta e tratará dos possíveis processos de recurso para você.</p>

<p>O seguro do Medicare (saúde pública nos EUA) pode cobrir o custo de um teste da Invitae quando alguns critérios específicos são atendidos. O Medicare cobre apenas testes de diagnóstico, e não testes com base em histórico familiar ou mapeamento. Caso solicite um teste que inclua os genes BRCA1 ou BRCA2, você deverá atender aos critérios de teste de BRCA e não ter realizado ainda esse teste para ter direito à cobertura.</p>

<p>Mesmo que o seu plano de saúde não cubra os testes, a Invitae pode oferecer testes com custos limitados ou insignificantes para quem comprove que precisa de ajuda financeira. Para obter mais informações, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os testes genéticos da Invitae estão cobertos pelo seguro fora dos EUA?</h4>

<div class="expandable-content">
<p>Os testes genéticos da Invitae podem estar cobertos pelo seu seguro de saúde em outros países. Entre em contato com a sua corretora de seguros para saber se você tem direito à cobertura e, em caso afirmativo, como fazer para solicitá-la. Se você não tiver direito, entre em contato com seu profissional de saúde para avaliar se a opção de pagamento pelo paciente é a certa para você.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que opções de pagamento estão disponíveis?</h4>

<div class="expandable-content">
<p>Oferecemos as opções de cobrança a seguir. Para saber mais sobre cada uma destas opções, acesse nossa <a href="{% page_url 'portal_common.billing' %}">página de cobrança</a>.</p>

<ul class="bullet-list">
	<li><strong>Pagamento pelo paciente</strong> — O paciente pode usar cartão de débito ou crédito para pagar integralmente o teste. Aceitamos Visa, MasterCard, American Express e JCB.</li>
	<li><strong>Cobrança institucional</strong> — A Invitae estabelecerá um contrato com a instituição caso ainda não haja um em vigor.</li>
	<li><strong>Seguro de terceiros (EUA)</strong> — A Invitae cobrará das seguradoras por você.</li>
	<li><strong>Medicare (EUA)</strong> — A cobertura do Medicare está disponível quando alguns critérios específicos são atendidos.</li>
</ul>

<p>A Invitae poderá oferecer assistência se você se enquadrar dentro de certos critérios financeiros. Para obter mais informações, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Serviço de Atendimento ao Cliente.</p>
</div>
</div>
</div>
</div>
</div>
