<div class="row">
<div class="col-md-12">
<h3>Ofrecemos opciones flexibles de pruebas.</h3>

<p>Invitae ofrece opciones para pruebas de c&aacute;ncer pancre&aacute;tico que son amplias y econ&oacute;micas.</p>

<p>Solicite nuestro panel de C&aacute;ncer Pancre&aacute;tico Hereditario dise&ntilde;ado por expertos: lo &uacute;ltimo en nuestro conjunto de pruebas para el c&aacute;ncer hereditario. Este panel cubre 17 de los genes m&aacute;s com&uacute;nmente vinculados a un mayor riesgo de c&aacute;ncer de p&aacute;ncreas. Si quieres profundizar a&uacute;n m&aacute;s, tambi&eacute;n puede mejorar su opci&oacute;n con nuestro panel de S&iacute;ndromes de C&aacute;ncer Hereditario.</p>

<p>Sin importar la opci&oacute;n que elija, es el mismo precio<sup>*</sup>.<sup>&nbsp;</sup>S&oacute;lo tres semanas en promedio desde la muestra hasta los resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0010' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer pancre&aacute;tico hereditario</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">Ver Prueba</a>

<p>Un panel de 17 genes analiza el riesgo de un paciente de sufrir c&aacute;ncer de p&aacute;ncreas hereditario, as&iacute; como otros tipos de c&aacute;ncer. Se pueden agregar a su solicitud, sin costo adicional, otros genes que eval&uacute;an el riesgo hereditario de un paciente de sufrir pancreatitis.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&aacute;ncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se saben est&aacute;n asociados con s&iacute;ndromes de c&aacute;ncer hereditario bien establecidos.</p>
</div>
</div>
&nbsp;

<h3>Personalizar para an&aacute;lisis adicionales.</h3>

<p>Adem&aacute;s de los 17 genes en el panel de C&aacute;ncer Pancre&aacute;tico de Invitae, algunos proveedores tambi&eacute;n optan por incluir los siguientes genes al evaluar a un paciente por c&aacute;ncer pancre&aacute;tico hereditario:</p>

<p><em>CDK4</em>, <em>CFTR</em>, <em>CTRC</em>, y <em>SPINK1</em></p>

<p>Como siempre en Invitae, puede personalizar su pedido para incluir estos genes sin costo adicional. Haga clic en Ver Prueba para m&aacute;s informaci&oacute;n.</p>
</div>

<div class="col-md-5">
<div class="pancreatic-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure3" href="#"><span class="icon"></span>S&iacute;ndromes de c&aacute;ncer hereditario </a> <a class="figure4" href="#"> <span class="icon"></span>C&aacute;ncer pancre&aacute;tico hereditario </a></div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NF1&dagger;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>
</div>
</div>

<p>&nbsp;</p>

<p class="fig-footnotes">
&dagger; NF1: Los exones 16-24, 31-35 no est&aacute;n incluidos en el an&aacute;lisis de eliminaci&oacute;n/duplicaci&oacute;n</p>
</div>
</div>
