<div class="row">
<div class="col-md-12">
<h3>Opciones que cubren las necesidades de su paciente.</h3>

<p>Invitae hace que la prueba de PEH sea más asequible que nunca antes. Puede solicitar un subtipo de PEH o ampliar a cualquiera de nuestros paneles multigenes, por el mismo precio<sup>*</sup>, y recibir los resultados en sólo tres semanas posteriores a la recepción de la muestra.</p>
</div>
</div>

<div class="row">
<div class="col-md-9">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0015' %}"><span class="icon icon-angle-right"></span>Paraplejia espástica hereditaria</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0015' %}">ver prueba</a>

<p>Este panel multigenes cubre los 17 genes más susceptibles de causar PEH sin complicaciones y PEH con complicaciones.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0080' %}"><span class="icon icon-angle-right"></span>PEH, sin complicaciones</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0080' %}">ver prueba</a>

<p>Esta prueba cubre los 10 genes más susceptibles de causar PEH sin complicaciones. La presentación clínica de la PEH sin complicaciones o "pura" se limita a los síntomas clásicos de debilidad espástica en las extremidades inferiores.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0102' %}"><span class="icon icon-angle-right"></span>PEH, con complicaciones</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0102' %}">ver prueba</a>

<p>Esta prueba cubre los 13 genes más susceptibles de causar PEH con complicaciones. La presentación clínica de la PEH con complicaciones incluye los síntomas clásicos así como otras características neurológicas.</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="hsp-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>