<div class="row">
<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-amanda' %}"><img alt="Amanda Burris" class="rs-hero" src="/static/img/patient_portal/rs_amanda_burris.jpg" /> <span class="rs-photo-container__caption">&#39;Para mí, el conocimiento es poder&#39;<br />
&mdash;Amanda Burris</span> </a></div>
</div>

<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-ghecemy' %}"><img alt="Ghecemy Lopez" class="rs-hero" src="/static/img/patient_portal/rs_ghecemy_lopez.jpg" /> <span class="rs-photo-container__caption">&#39;Esto es parte de mí, pero no me define&#39;&mdash;Ghecemy Lopez</span> </a></div>
</div>

<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-debbi' %}"><img alt="Debbi Crowder" class="rs-hero" src="/static/img/patient_portal/rs_debbi_crowder.jpg" /> <span class="rs-photo-container__caption">&#39;Una esperanza para un futuro más saludable&#39;<br />
&mdash;Debbi Crowder</span> </a></div>
</div>
<br />
<br />
<br />
&nbsp;</div>