<div class="row">
<div class="col-md-12">
<h4>What are preliminary-evidence genes?</h4>

<p>Invitae prides itself on the quality of its gene curation. Our primary panels contain genes for which there is definitive evidence in the literature or from expert consensus that variants in these genes cause specific diseases. Preliminary-evidence genes are genes that are also selected from a review of the literature and expert recommendations, but are given the preliminary designation because currently there is only early evidence of a relationship between variants in these genes and specific diseases.</p>

<p>Some genes are designated preliminary-evidence because rare variants have been identified in patients, but these variants have not been proven to cause the disease. For others, the association between the gene and a specific disease has not been definitively established and additional studies are needed to strengthen the evidence. We highlight the difference between definitive-evidence and preliminary-evidence genes to help clinicians choose the most appropriate test for their patient.</p>

<h4>Why would I include preliminary-evidence genes in my panel?</h4>

<p>Adding preliminary-evidence genes can increase the number of variants of uncertain significance (VUS), and can reveal pathogenic variants of uncertain relevance to the patient&rsquo;s condition. However, this uncertainty may be resolved as new information becomes available, and some clinicians may wish to include these genes in their investigation.</p>

<h4>How can I add preliminary-evidence genes to a primary panel?</h4>

<p>Preliminary-evidence genes can be added by simply selecting the &ldquo;opt-in&rdquo; checkbox next to the list of genes.</p>

<h4>What if I am unsure what to order?</h4>

<p>With our flexible test options, clinicians can feel confident starting with only the genes they are comfortable with. Then, if they do not get the answers they need with their initial selection of genes, clinicians can submit a re-requisition for the analysis of additional genes within the original clinical area, at no additional charge.<sup>*</sup> We also offer clinical consultation services for clinicians who wish to discuss cases with genetic-counseling experts.</p>

<p class="endnote">*Please see our <a href="{% page_url 'portal_common.re-requisition' %}">Re-requisition</a> web page for requirements and additional details.</p>
</div>
</div>
