<div class="row">
<div class="col-md-12">
<h3>Resultados dos testes genéticos de BRCA nos quais você pode confiar</h3>

<p>Para demonstrar que os resultados dos estudos de BRCA realizados por Invitae através de sequenciamento de próxima geração (NGS, em inglês) são da mais alta qualidade, Invitae embarcou em um rigoroso estudo clínico para validar nossos resultados analíticos e interpretações clínicas.</p>

<p><strong>Estudos</strong></p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Estudo de validação analítica de Invitae</h4>

<div class="expandable-content">
<p><strong>Desenho do estudo</strong></p>

<p>A equipe de pesquisadores da Invitae colaborou com dois importantes centros clínicos para analisar 600 pacientes com indicação de estudo de <i>BRCA1</i> e <i>BRCA2</i> de acordo com orientações de NCCN<sup>1</sup>.</p>

<p>Os resultados deste estudo estão descritos abaixo. Para mais detalhes, por favor, leia nosso <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00a8/1/-/-/-/-/WP101%20WhitePaper%20Analytic%20Validation%20Summary.pdf"> Estudos de validação analítica (publicação em inglês)</a>.</p>

<p><strong>Sensibilidade analítica: 100%</strong></p>

<p>O estudo de Invitae detectou todas as mutações de <i>BRCA1</i> e <i>BRCA2</i> previamente detectadas e confirmadas independentemente, incluindo variantes de diferente tamanho e complexidade de sequencia, assim como deleções e duplicações.</p>

<p><strong>Especificidade analítica: 100% de verdadeiros positivos.</strong></p>

<p>Todas as variantes patogênicas detectadas por Invitae foram confirmadas com os dados de referência, incluindo tanto as variantes de sequência como as deleções e duplicações.</p>

<p>Como parte do compromisso de Invitae com a alta qualidade, nós confirmamos todas as variantes patogênicas utilizando tecnologias alternativas para demonstrar a precisão do sequenciamento de próxima geração.</p>

<p><strong>Interpretações clínicas altamente concordantes.</strong></p>

<p>Observamos um 99,8% de concordância entre nossa interpretação clínica de variantes patogênicas e as realizadas pelo laboratório de referência. Apresentou-se somente uma divergência: uma variante de <i>BRCA</i> descrita como patogênica em um estudo do laboratório de referência, mas sem nenhuma evidência específica de sua patogenicidade.</p>

<p><strong>Taxa VSI de padrão industrial</strong></p>

<p>No subgrupo de pacientes do estudo com dados de sequências completas de ambos os genes <i>BRCA1</i> e <i>BRCA2</i>, obtidos tanto por Invitae como pelo laboratório de referência, Invitae informou uma VSI presente em 6% dos pacientes, enquanto que o outro laboratório informou que 4% dos pacientes apresentava uma VSI. Nestes resultados, foram excluídos aqueles pacientes que participaram de estudos dirigidos ou limitados (por exemplo, de um painel de mutações Ashkenazi ou estudos de detecção de mutações pontuais conhecidas), já que esses estudos não poderiam gerar VSI, reduzindo artificialmente as taxas de VSI.</p>

<p><strong>A informação genética é mais valiosa quando é compartilhada.</strong></p>

<p>Compartilhar os dados de variantes genéticas interpretadas clinicamente beneficia a comunidade médica e científica, tornando o conhecimento mais acessível, reduzindo a taxa de VSI, e permitindo a verificação independente dos resultados de estudos genéticos. Na Invitae, estamos comprometidos a compartilhar as variantes interpretadas clinicamente, assim como a evidência que as respaldam.</p>

<p class="endnote">1) Daly, et.al. NCCN Clinical practice guidelines in oncology: Genetic/familial high-risk assessment: breast and ovarian. J Natl Compr Canc Netw. 2010; 8(5):562-94.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Avaliação clínica de painéis multi-genes para câncer hereditário</h4>

<div class="expandable-content">
<p>Para demonstrar o valor dos painéis multi-genes na avaliação de câncer hereditário, Invitae colaborou com pesquisadores da Universidade de Stanford, James Ford, M.D. e Allison W.Kurian, M.D., MSc. Os resultados desta pesquisa, recentemente publicada no jornal científico <i>Journal of Clinical Oncology</i>, mostram que os painéis multi-genes no estudo de câncer hereditário podem oferecer um desempenho comparável ao estudo genético tradicional de <i>BRCA1/2</i> e podem oferecer benefício clínico adicional para médicos e pacientes na avaliação do risco de câncer.</p>

<p>Para saber mais sobre esta publicação, visite nossa página de <a href="{% page_url 'portal_common.clinical' %}"> Estudos Clínicos</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Sequenciamento dos éxons 12-15 de <i>PMS2</i> utilizando sequenciamento de próxima geração (NGS)</h4>

<div class="expandable-content">
<p>A análise de <i>PMS2</i> é complicada pela presença de um pseudogene altamente homólogo, <i>PMS2CL</i>, que abrange os éxons 12-15 de <i>PMS2</i>. Invitae desenvolveu e validou uma abordagem para sequenciar o gene <i>PMS2</i> completo utilizando um conjunto de 32 amostras de referência que contém 205 variantes positivas e 34.876 variantes negativas para <i>PMS2</i> ou <i>PMS2CL</i> e demonstrou uma precisão, reprodutibilidade, sensibilidade analítica e especificidade de 100%.</p>

<p>Para saber mais, por favor, leia nossa <a target="blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0139/1/-/-/-/-/WP103-1_PMS2%20Sequencing%20NGS%20Validation%20Summary.pdf
                            ">declaração de validação do sequenciamento de <i>PMS2</i></a>.</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p> </p>

<p>Nós estamos felizes em compartilhar mais detalhes sobre qualquer um dos nossos estudos de validação com você. Por favor, <a href="{% page_url 'portal_common.contact' %}">contate</a> nosso Serviço ao Cliente para solicitar informações adicionais.</p>
</div>
</div>