<div class="row">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Bethany Meloche</li>
</ul>
</div>

<div>
<h2><span class="highlighted-text-mountain">Is it better not to know?</span></h2>

<h5></h5>
<img src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-09dd/1/-/-/-/-/bethany1.jpg" hspace="20" height="500" align="right">
<p>“I heard there is something called the neuropathy score,” I said to my neurologist. “It’s supposed to grade how severe your disease is.”</p>

<p>“That’s correct,” she said. “It’s on a scale from 0 to 36. Zero being unaffected.”</p>

<p>“Do I have a score?”</p>

<p>“Yeah, every patient in our clinic who has Charcot-Marie-Tooth [CMT] disease is given a score.”</p>

<p>I had deliberately brought up this question as casually as possible, but I <i>wanted </i>my score; it was the primary reason I’d come to this follow-up appointment. So while she was playing coy, I was willing to push as hard as needed. Any information they had about my disease—my body—I wanted too.</p>

<p>“What’s <i>my </i>score?”</p>

<p>She hesitated for a moment before pulling my file from her desk. I watched as she flipped through the pages, and I considered what number I was hoping to hear. What was a passing grade in this situation? Normally a 75 is passing, but even that is subjective—in my house growing up, anything below an 80 might as well have been an F. And what did “passing” even mean here? A low number would mean that my disease was less severe, which is obviously good, but a high number would also be validating. (“See? There really is something wrong with me!” Plus, I could turn down any invitation with: “I’m sorry, I’m not up to it. I have a … <i>very</i> high score.”)</p>

<p>I didn’t have long before she looked up and said: “You scored a 26.”</p>

<p>“Is that good? What does that mean?”</p>

<p>“Well, how bad would <i>you</i> say your CMT is?”</p>

<p>“Moderate to severe.”</p>

<p>“That’s exactly what the number means.”</p>

<p>I looked it up later. It really means “severe.” More severe than a 25, but less severe than a 27.</p>

<p>I understand why my neurologist didn’t want to tell me my neuropathy score, and didn’t want to interpret the number for me. She didn’t want to put any ideas into my head about my level of ability or disability. But it is almost impossible not to.</p>

<p>When making decisions about my health, I like facts; I like numbers; I like data. The more information is out on the table, the better. I want to know exactly what is happening to my body, so that I can take good care of it.</p>

<p>But is there such a thing as <i>too</i> much information?</p>

<p>CMT disease runs in my family, and many of my relatives have chosen not to be officially diagnosed. Some have concerns about insurance and privacy, but others just feel like, “What’s the point? Isn’t it better not to know?”</p>

<p>For me? Is it better not to know? Not at all. And maybe not for you either.</p>

<p>I know a man who thought he had CMT for decades but never had a confirmed genetic diagnosis. “What’s the point?” he thought. “Why pay someone to tell me what I already know?” Eventually he travelled to see a CMT expert and agreed to undergo formal testing. The tests came back, and the expert told the man that he didn’t have CMT at all! He had another disease that was easily treatable, and could have been treated decades earlier. Even if you think you know your diagnosis—because you walk just like your father and your uncle John—there can be real value in having that diagnosis confirmed through testing.</p>

<p>Another line I’ve heard a lot is: “If there’s no cure, what’s the point in knowing the exact diagnosis?” It’s a fair question. But research is progressing ever more quickly.</p>

<p>The CMT Association recently <a href="https://www.cmtausa.org/cmt1a-ionis-press-release/">announced a breakthrough</a> for the type of CMT that runs in my family. Researchers at Ionis Pharmaceuticals have identified promising drug candidates for treating CMT1A, one of which stopped the progression and even improved existing symptoms in two rodent models.</p>

<p>More nonprofits and pharmaceutical companies are partnering to develop treatments for CMT and other rare diseases. New clinical trials start every year, and new drugs hit the market.</p>

<p>Because I know I have CMT1A, I’m ready for it. I’ve made sure I’m in the system. I’m on the email lists, I’m signed up for the Google alerts, and I’m on the <a href="https://www.rarediseasesnetwork.org/registry">patient registry</a> so that I will be notified about clinical trials that I’m eligible for. Every year, I participate in research by providing data on my natural progression to support work toward clinical trials.</p>

<p>Do I go through life differently because I know that I have CMT? Because I know that I score 26? Yes, it’s the knowledge of my condition that led me to proper bracing, to me taking seriously my “clumsiness” and weakness, to me having the foresight to pivot my career, to me adopting a diet that supports nerve health, and to me stopping wasting time investigating other reasons for my physical abnormalities. It is the reason I am on all of the registries and all the lists.</p>

<p>Having a progressive disease can be a powerless place to be, but knowledge gives me back some of that power.</p>
<i><a href="http://www.bethanymeloche.com"><i>Bethany Meloche</i></a><i> is the author of  </i></i><i><a href="https://www.amazon.com/How-Should-Body-Bethany-Meloche/dp/1542679354/">How Should a Body Be</a></i><i><i>, a coming-of-age story about growing up in Michigan, falling in love, and learning to live with Charcot-Marie-Tooth disease. Her story has been featured in the Daily Cal, the Mercury News, Mountain View Voice, and Lower Extremity Review.</i></i></div>