<h1 class="landing-section-header color-white">Join the community changing<br />
healthcare for good</h1>

<div class="full-width-content landing-section-content">
<div class="landing-text community-advocacy">Advocacy is a courageous and necessary part of advancing patient care. <a class="scrollspy-swing landing-link" href="#audience">Join our network</a> of patients, clinicians, and partners working to improve healthcare for everyone. Or <a class="scrollspy-swing landing-link" href="#medical-speciality">learn more</a> about our community harnessing genetics across medical specialities.</div>

<h2 class="landing-big-text" id="audience">Become a part of the invitae network</h2>

<div class="row community-groups">
<div class="community-group col-xs-6 col-sm-3"><span class="icon icon-clinician"></span>

<div class="group-name">Clinicians</div>
<a class="landing-link" href="{% url 'portal_common.registries' %}">Partner with us</a></div>

<div class="community-group col-xs-6 col-sm-3"><span class="icon icon-research"></span>

<div class="group-name">Researchers</div>
<a class="landing-link" href="{% url 'portal_common.contact' %}">Collaborate with us</a></div>

<div class="community-group col-xs-6 col-sm-3"><span class="icon icon-family"></span>

<div class="group-name">Patients</div>
<a class="landing-link" href="{% url 'portal_common.registries' %}">Contribute data</a></div>

<div class="community-group col-xs-6 col-sm-3"><span class="icon icon-advocate"></span>

<div class="group-name">Advocates</div>
<a class="landing-link" href="{% url 'portal_common.contact' %}">Connect with us</a></div>
</div>

<h2 class="landing-big-text" id="medical-speciality">Learn more about our community within each medical speciality</h2>

<div class="community-category-panel panel cardiology-category-panel">
<div class="category-header collapsed" data-target="#category-content-cardiology" data-toggle="collapse"><label><span class="icon icon-bullet-arrow"></span>Cardiology </label></div>

<div class="category-content collapse" id="category-content-cardiology"></div>
</div>

<div class="community-category-panel panel cancer-category-panel">
<div class="category-header collapsed" data-target="#category-content-cancer" data-toggle="collapse"><label><span class="icon icon-bullet-arrow"></span>Hereditary Cancer </label></div>

<div class="category-content collapse" id="category-content-cancer"></div>
</div>

<div class="community-category-panel panel neurology-category-panel">
<div class="category-header collapsed" data-target="#category-content-neurology" data-toggle="collapse"><label><span class="icon icon-bullet-arrow"></span>Neurology </label></div>

<div class="category-content collapse" id="category-content-neurology"></div>
</div>

<div class="community-category-panel panel pediatric-genetics-category-panel">
<div class="category-header collapsed" data-target="#category-content-pediatric-genetics" data-toggle="collapse"><label><span class="icon icon-bullet-arrow"></span>Pediatric Genetics </label></div>

<div class="category-content collapse" id="category-content-pediatric-genetics"></div>
</div>

<div class="community-category-panel panel rare-diseases-category-panel">
<div class="category-header collapsed" data-target="#category-content-rare-diseases" data-toggle="collapse"><label><span class="icon icon-bullet-arrow"></span>Rare Diseases </label></div>

<div class="category-content collapse" id="category-content-rare-diseases"></div>
</div>

<p class="community-disclaimer">Invitae honors the independence of these advocacy groups. These organizations are not endorsing any specific company.<br />
We are sharing their information to help connect people with them through our network.</p>
</div>
