<div class="row">
<div class="register-test">
<h3><a href="{% url 'patient.register-test-step1' %}">Introdução.</a></h3>

<div class="invite-signin"><span class="icon icon-angle-right"></span> <a href="{% url 'patient.register-test-step1' %}">Registre seu teste</a> ou saiba como começar.</div>
</div>

<div class="text">
<div class="striped-background"> </div>

<h1>Estamos todos conectados.</h1>

<p>Nosso DNA compartilhado nos une e pode fornecer informações importantes sobre o risco de um indivíduo desenvolver determinadas doenças. Ao considerar o teste genético para si ou para seu filho, talvez você não saiba o que esperar ou o que isso significará para você e sua família. A Invitae oferece testes genéticos acessíveis e de alta qualidade.</p>
</div>
</div>

<p><a class="scroll-to-next" href="#"><span class="round icon-chevron-bracket-down"></span> </a></p>