<div class="row">
<div class="register-test">
<h3><a href="{% url 'patient.register-test-step1' %}">Get started.</a></h3>

<div class="invite-signin"><span class="icon icon-angle-right"></span> <a href="{% url 'patient.register-test-step1' %}">Register your test</a> or find out how to get started.</div>
</div>

<div class="text">
<div class="striped-background"> </div>

<h1>We are all connected.</h1>

<p>Our shared DNA unites us and can provide powerful insights into an individual's risk of developing certain diseases. When you’re considering genetic testing for yourself or your child, you may not know what to expect or what it will mean for you and your family. Invitae provides high-quality, affordable genetic testing.</p>
</div>
</div>

<p><a class="scroll-to-next" href="#"><span class="round icon-chevron-bracket-down"></span> </a></p>