<div class="row">
<div class="col-md-6">
<h2>Testes familiares.</h2>

<p>Os resultados dos testes genéticos podem ter implicações não só para a sua saúde, mas também para a saúde da sua família.</p>

<p>Os testes orientados para familiares pode ajudar a identificar aqueles que tem os mesmos riscos genéticos que você. Se você receber algum teste da Inivitae, nós oferecemos testes por apenas U$ 200 por gene por cada membro da família. Este teste é frequentemente coberto pelos planos de saúde. Para saber mais sobre opções de testes para a sua família, por favor fale com o seu médico ou <a href="{% page_url 'patient.contact' %}">entre em contato</a> com nosso Serviço ao Cliente.</p>
</div>

<div class="col-md-6 image"><img class="img-responsive" alt="" src="/static/img/patient_portal/audacity-19.jpg"></div>
</div>
