<div class="row">
<div class="col-md-12">
<h3>Amplíe su búsqueda.</h3>

<p>El servicio de solicitud adicional de Invitae se ofrece sin costo adicional y proporciona la flexibilidad que usted necesita para ordenar los genes correctos al precio justo.</p>

<p>Según los antecedentes clínicos y familiares de su paciente, es posible que sea apropiado comenzar con una prueba genética pequeña y recurrir a un panel más amplio si los resultados iniciales son negativos o no concluyentes.</p>

<p>Puede analizar más genes<sup>*</sup> relacionados con la área clínica inicial, sin cargo adicional.</p>

<ul class="bullet-list">
	<li>No se requiere una nueva muestra<sup>**</sup></li>
	<li>Sin costo adicional para el nuevo reporte del estudio</li>
	<li>Pazo de entrega de tres semanas promedio para los nuevos resultados</li>
</ul>

<p><sup>*</sup>Se aplica solamente a los genes disponibles en el momento del pedido original.<br>
<sup>**</sup>Si en la solicitud adicional se encuentra un resultado positivo, es posible que se requiera una nueva muestra para confirmación del análisis.</p>

<h4><strong>¿Quiénes son elegibles?</strong></h4>

<p>Un caso es elegible para una solicitud adicional sin cargo extra si se presenta alguna de las siguientes situaciones:</p>

<ul class="bullet-list">
	<li>La solicitud adicional se realiza dentro de los 90 días de la divulgación del reporte original</li>
	<li>Los genes agregados están relacionados con la área clínica original de estudio del paciente</li>
</ul>

<p>Una vez transcurridos los 90 días después de la fecha de divulgación del reporte original, se le cobrará a su paciente $475 por solicitudes adicionales relacionadas con la misma área clínica (solo para aquellos genes disponibles en el momento del pedido original).</p>

<h4><strong>¿Cómo hacer una solicitud adicional?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Inicie sesión</a>

<p>Para usar nuestra herramienta automática de solicitudes adicionales:</p>

<ul class="bullet-list">
	<li>Inicie sesión en su cuenta y consulte su página de historial de solicitudes</li>
	<li>Seleccione la solicitud para la cual desearía colocar una solicitud adicional</li>
	<li>Haga clic en el botón "View Options" (Ver opciones) en la sección de solicitud adicional de la página Order Status (Estado de solicitudes)</li>
	<li>Use la herramienta de solicitudes adicionales para seleccionar genes o paneles adicionales para su paciente</li>
</ul>

<p>También puede comunicarse con Servicio al Cliente para obtener más información (no incluya ningún registro médico o información médica confidencial en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
</ul>

<h4><strong>¿Qué sucede si deseo hacer una solicitud relacionada con una área clínica diferente a la original?</strong></h4>

<p>Puede realizar una solicitud adicional de genes relacionados con otras área clínica en cualquier momento. Estos pedidos se cobrarán por separado como un nuevo pedido y posiblemente también requieran una nueva muestra, dependiendo del área clínica de la nueva área clínica.</p>
</div>
</div>
