<div class="row">
<div class="register-test">
<h3><a href="{% url 'patient.register-test-step1' %}">Introdu&ccedil;&atilde;o.</a></h3>

<div class="invite-signin"><span class="icon icon-angle-right"></span> <a href="{% url 'patient.register-test-step1' %}">Registre seu teste</a> ou saiba como come&ccedil;ar.</div>
</div>

<div class="text">
<div class="striped-background">&nbsp;</div>

<h1>Estamos todos conectados.</h1>

<p>Nosso DNA compartilhado nos une e pode fornecer informa&ccedil;&otilde;es importantes sobre o risco de um indiv&iacute;duo desenvolver determinadas doen&ccedil;as. Ao considerar o teste gen&eacute;tico para si ou para seu filho, talvez voc&ecirc; n&atilde;o saiba o que esperar ou o que isso significar&aacute; para voc&ecirc; e sua fam&iacute;lia. A Invitae oferece testes gen&eacute;ticos acess&iacute;veis e de alta qualidade.</p>
</div>
</div>

<p><a class="scroll-to-next" href="#"><span class="round icon-chevron-bracket-down"></span> </a></p>