<div class="row">
<div class="col-md-6">
<h2>Testes familiares.</h2>

<p>Os resultados dos testes gen&eacute;ticos podem ter implica&ccedil;&otilde;es n&atilde;o s&oacute; para a sua sa&uacute;de, mas tamb&eacute;m para a sa&uacute;de da sua fam&iacute;lia.</p>

<p>Os testes orientados para familiares pode ajudar a identificar aqueles que tem os mesmos riscos gen&eacute;ticos que voc&ecirc;. Se voc&ecirc; receber algum teste da Inivitae, n&oacute;s oferecemos testes por apenas U$ 200 por gene por cada membro da fam&iacute;lia. Este teste &eacute; frequentemente coberto pelos planos de sa&uacute;de. Para saber mais sobre op&ccedil;&otilde;es de testes para a sua fam&iacute;lia, por favor fale com o seu m&eacute;dico ou&nbsp;<a href="{% page_url 'patient.contact' %}">entre em contato</a>&nbsp;com nosso Servi&ccedil;o ao Cliente.</p>
</div>

<div class="col-md-6 image"><img alt="" class="img-responsive" src="/static/img/patient_portal/audacity-19.jpg" /></div>
</div>
