<div class="team-content active" id="team-specimen-content">
<div class="list-content row">
<div class="col-md-2">Sample Types</div>

<div class="col-md-10">The following sample types are accepted:
<ul class="bullet-list">
	<li>Whole blood samples.</li>
	<li>We also accept frozen or partially frozen blood samples, although deletion/duplication analysis is not supported for frozen or partially frozen blood samples at this time.</li>
	<li>We do not accept hemolyzed or clotted blood samples.</li>
	<li>We do not accept samples from patients who have had a bone marrow transplant.</li>
	<li>We do not accept samples from patients who have active hematologic malignancies.</li>
	<li>Patients who have had a blood transfusion must wait at least two weeks from the transfusion date before providing a sample.</li>
</ul>
If you are interested in analysis of genomic DNA extracted in other laboratories, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our client services team to speak with one of our genetic counselors. Our genetic counselors would be happy to discuss the current benefits and limitations with you in the context of your specific case.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">We require a minimum of 3 mL of whole blood, regardless of how many genes you order. 3 mL is the minimum volume required for both adults and infants.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Container</div>

<div class="col-md-10">The sample should be sent in one EDTA purple-top tube. We accept both K2EDTA and K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">Each tube must be labeled with:
<ul class="bullet-list">
	<li>The patient&rsquo;s full name</li>
	<li>One additional unique identifier
	<ul class="bullet-list">
		<li>Date of birth</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Sample collection date</li>
</ul>
The patient name and the additional unique identifier written on the tube must <strong>match</strong> the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Storage &amp; Stability</div>

<div class="col-md-10">We recommend using overnight shipping the same day that the blood sample is collected.
<ul class="bullet-list">
	<li>If the blood sample is stored at room temperature, it is viable for up to 48 hours.</li>
	<li>If the blood sample is refrigerated, it is viable for up to one week.</li>
	<li>Please do not freeze the blood sample if you require deletion/duplication analysis. Deletion/duplication analysis is not supported for frozen or partially frozen blood samples.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Paperwork</div>

<div class="col-md-10">A printed copy of the online requisition form must be submitted with the sample. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>
</div>

<div class="team-content" id="team-shipping-content">
<div class="list-content row">
<div class="col-md-2">Shipping</div>

<div class="col-md-10">Samples should be shipped overnight at room temperature. We recommend including cold packs in hot weather to keep the sample at 2-8 degrees Celsius (35.6-46.6 degrees Fahrenheit).</div>
</div>

<div class="list-content row">
<div class="col-md-2">Sample Collection Kits</div>

<div class="col-md-10">To assist with sample collection and shipping, you can request a free Invitae sample collection kit by submitting our online <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> form.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Self Shipping</div>

<div class="col-md-10">
<p>Alternatively, you can send us the sample in a crush-proof container via FedEx Priority Overnight (in accordance with the <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="blank&gt;">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae&rsquo;s client services team to obtain the FedEx account number.</p>

<p>Shipping address:</p>
Attn: Client Services<br />
Invitae Corporation<br />
475 Brannan St, Suite 230<br />
San Francisco, CA 94107</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping Schedule</div>

<div class="col-md-10">Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="blank"> FedEx Holiday Service Schedule</a>.</div>
</div>
</div>
