<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Avances<br>
<span>en el análisis genético.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>INVITAE ES UNA COMPAÑÍA DE INFORMACIÓN GENÉTICA.</h6>

<p>Estamos reduciendo las barreras para los análisis genéticos clínicos tanto para médicos como para pacientes.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel"><span class="icon icon-dollar-sign"></span>

<h4>Más asequible<br>
que nunca.</h4>

<p>Un gen o varios genes a un mismo precio<sup>*</sup>.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clock-face"></span>

<h4>Resultados<br>
más rápidos.</h4>

<p>Desde la recepción de la muestra a los resultados en un promedio de 3 semanas.</p>
</div>

<div class="advancing-panel"><span class="icon icon-sliders"></span>

<h4>Opciones flexibles<br>
de análisis.</h4>

<p>Diseñe su propio estudio genético o seleccione un panel diseñado por expertos.</p>
</div>

<div class="advancing-panel"><span class="icon icon-light-bulb"></span>

<h4>Una perspectiva genética<br>
más profunda.</h4>

<p>Elija paneles con múltiples genes o haga una re-solicitud con genes adicionales gratis<sup>**</sup>.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clipboard-check-outside"></span>

<h4>Confianza<br>
y calidad.</h4>

<p>Nuestro equipo de expertos en genética asegura resultados de gran calidad.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>Precio por cuadro clínico: Precio de lista de $1500 dólares, rebajado a $950 dólares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 dólares por solicitudes hechas en línea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de envío.<br>
<sup>**</sup>Si el paciente recibe un resultado negativo o no concluyente en un estudio genético de Invitae, puede hacer una re-solicitud de genes adicionales, relacionados con la indicación original, gratis dentro de los 90 días posteriores a la entrega del informe original. Visite nuestra página de <a href="{% page_url 'portal_common.re-requisition' %}">e-solicitud para genes adicionales</a> para obtener más detalles.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">‌</a></div>