<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Avances<br>
<span>en el análisis genético.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>INVITAE ES UNA COMPAÑÍA DE INFORMACIÓN GENÉTICA.</h6>

<p>Estamos reduciendo las barreras para los análisis genéticos clínicos tanto para médicos como para pacientes.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel"><span class="icon icon-dollar-sign"></span>

<h4>Precios asequibles y <br>transparentes.</h4>

<p>Los genes precisos a un precio justo.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clock-face"></span>

<h4>Menores tiempos de respuesta.</h4>

<p>Desde la recepción de la muestra al resultado en un promedio de 3 semanas.</p>
</div>

<div class="advancing-panel"><span class="icon icon-sliders"></span>

<h4>Opciones de estudios flexibles.</h4>

<p>Seleccione un panel de genes pre-diseñado, modifíquelo con un click, o diseñe su propio panel.</p>
</div>

<div class="advancing-panel"><span class="icon icon-light-bulb"></span>

<h4>Información genética más profunda.</h4>

<p>Comience con genes seleccionados; agregue otros mas tarde, sin cargo adicional.<sup>*</sup>.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clipboard-check-outside"></span>

<h4>Calidad y confianza.</h4>

<p>Resultados comprobados, basados en datos publicados y con el respaldo de nuestro equipo de expertos en el área genética y clínica.</p>
</div>

<div class="advancing-panel"><span class="icon icon-support"></span>

<h4>Apoyo en cada etapa del camino.</h4>

<p>Desde consultas clínicas con consejeros genéticos a ayuda en el proceso de solicitud, facturación e interpretación de resultados.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>Re-solicitud: Se aplican restricciones. Vea nuestra página de <a href="{% page_url 'portal_common.re-requisition' %}">re-solicitud</a> para más detalles.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">‌</a></div>