<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="{% page_url 'portal_common.brca-testing' %}">Ahora se ofrece cobertura completa para CHEK2 y ofertas extendidas para cáncer de mama y ginecológico. <span class="highlight">Más información.</span></a></li>
	<li><a href="{% url 'physician.panel-detail' 'PNL0007' %}">CHEK2 completo y contenido expandido para el panel de cáncer hereditario de mama y ginecológico. <span class="highlight">Más información.</span></a></li>
	<li><a href="http://blog.invitae.com/chek2s-journey-to-bona-fide-inherited-cancer-susceptibility-gene">Nueva publicación en el blog - CHEK2's journey to <i>bona fide</i> inherited cancer susceptibility gene. <span class="highlight">Más información.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Estamos todos conectados.</h1>

<h2>Nuestra herencia genética compartida une a la humanidad.</h2>

<p>Invitae hace que la información genética sea más accesible para pacientes y médicos.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg wistia-popover[height=360,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/gwnwz702t3?popover=true"><span class="icon icon-angle-right"></span>Ver el video </a></p>
</div>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>
{% include 'social_links_snippet.html' %}