<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0">Anunciando cientos de nuevos genes, menú de estudios ampliado radicalmente.<span class="highlight">Más información.</span></a></li>
	<li><a href="{% page_url 'portal_common.brca-testing' %}">Ahora se ofrece cobertura completa para CHEK2 y ofertas extendidas para cáncer de mama y ginecológico. <span class="highlight">Más información.</span></a></li>
	<li><a href="http://blog.invitae.com/chek2s-journey-to-bona-fide-inherited-cancer-susceptibility-gene">Nueva publicación en el blog - CHEK2's journey to <i>bona fide</i> inherited cancer susceptibility gene. <span class="highlight">Más información.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Construyendo sobre nuestra promesa.</h1>

<p>Estamos haciendo los estudios genéticos aún más accesibles, ofreciendo más muchos más genes, manteniendo nuestro compromiso con la alta calidad y precios ​​asequibles.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg" href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0"><span class="icon icon-angle-right"></span>EXPLORE LO NUEVO</a></p>
</div>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>
{% include 'social_links_snippet.html' %}