<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Cardiology"><span class="text">CARDIOLOGÍA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hereditary+cancer"><span class="text"> CÁNCER<br>
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Pediatric+genetics"><span class="text"> GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Neurology"><span class="text">NEUROLOGÍA </span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hematology"><span class="text">HEMATOLOGÍA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">ESTUDIOS<br>
GENÉTICOS</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
