<div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="{% if active == 'account' %}active{% endif %}team-button active" id="team-medical">
                            <a href="#team-medical-content">Lab Directors<br> &amp; Medical Team</a>
                        </li>
                        <li class="{% if active == 'password' %}active{% endif %}team-button" id="team-counselors">
                            <a href="#team-counselors-content">Genetic <br>Counselors</a>
                        </li>
                        <li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-client">
                            <a href="#team-client-content">Client <br>Services</a>
                        </li>
                        <li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-advisory">
                            <a href="#team-advisory-content">Advisory<br> Board</a>
                        </li>
                        <li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-executive">
                            <a href="#team-executive-content">Executive Team <br> &amp; Co-Founders</a>
                        </li>
                    </ul>
                </div>
            </div>