<div class="row">
<div class="col-md-12">
<h3>Solicita&ccedil;&otilde;es</h3>

<p><strong>Solicita&ccedil;&atilde;o on-line f&aacute;cil</strong></p>

<p>Fa&ccedil;a a sua solicita&ccedil;&atilde;o on-line para um processamento mais eficiente, uma entrega mais r&aacute;pida do relat&oacute;rio e acesso a recursos on-line adicionais. A configura&ccedil;&atilde;o de uma conta leva apenas alguns minutos e voc&ecirc; tamb&eacute;m pode navegar e solicitar diretamente do nosso cat&aacute;logo on-line de testes.</p>

<p><strong>Uma conta on-line da Invitae permite que voc&ecirc;:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Projete e salve solicita&ccedil;&otilde;es personalizadas para facilitar sua repeti&ccedil;&atilde;o.</li>
	<li>Compartilhe os resultados dos testes com pacientes e colegas com seguran&ccedil;a.</li>
	<li>Solicite em nome dos m&eacute;dicos da sua organiza&ccedil;&atilde;o.</li>
	<li>Rastreie o status da solicita&ccedil;&atilde;o em tempo real e mantenha um registro das solicita&ccedil;&otilde;es pr&eacute;vias.</li>
	<li>Carregue documentos e troque mensagens com o pessoal da Invitae com seguran&ccedil;a.</li>
	<li>Visualize e baixe os seus relat&oacute;rios de testes.</li>
</ul>
</div>

<div class="col-md-6">
<p>&nbsp;</p>

<p><a class="btn btn-color-inherit btn-sm btn-left" href="{% url 'portal_common.signup' %}" target="_blank"><span class="icon icon-clipboard-check"></span>Configurar uma conta</a></p>
<a class="btn btn-color-inherit btn-sm btn-left" href="{% page_url 'portal_common.test-catalog' %}" target="_blank"><span class="icon icon-categories"></span>Cat&aacute;logo de testes</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>Voc&ecirc; tamb&eacute;m pode baixar os formul&aacute;rios de solicita&ccedil;&atilde;o em papel aqui:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0148/1/-/-/-/-/FM102-4.02_Invitae-TRF-all-tests.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o completo (apenas ingl&ecirc;s) </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0149/1/-/-/-/-/FM103-4.02_Invitae-TRF-cancer-tests.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o de oncologia (apenas ingl&ecirc;s) </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0236/1/-/-/-/-/TRF903-1_%20Invitae%20Hereditary%20Cancer%20Simplified%20Req%20Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o de oncologia simplificada (apenas ingl&ecirc;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904-1_%20Req%20Form%20Cardio.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o de cardiol&oacute;gico (apenas ingl&ecirc;s) </a></div>

<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905-1_%20Req%20Form%20Neuro.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o de neurol&oacute;gico (apenas ingl&ecirc;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906-1_%20Req%20Form%20Pediatrics.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formul&aacute;rio de solicita&ccedil;&atilde;o de pedi&aacute;trico (apenas ingl&ecirc;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Termo de Consentimento Livre e Esclarecido do pacient (apenas ingl&ecirc;s)</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p>&nbsp;</p>
</div>
</div>
