<div class="row">
                <div class="col-md-12">
                    <h3>Family testing services</h3>

                    <p>Genetic testing can have health implications &mdash; not only for an individual, but for an entire
                        family. To help resolve variants of uncertain significance (VUS) in our test results, Invitae
                        offers complimentary follow-up testing to select family members of patients tested at Invitae
                        if an Invitae lab director determines that doing so will aid in variant interpretation. We also offer affordable family variant testing
                        to enable identification of other family members who have the same variant as the original patient.</p>

                    <p>To learn more about these programs, please visit our <a href="{% page_url 'portal_common.vus-resolution' %}" target="blank">VUS Resolution</a> and
                        <a href="{% page_url 'portal_common.family-testing' %}" target="blank">Family Variant Testing</a> pages.</p>

                </div>
            </div>