<div class="row">
<div class="col-md-12">
<h3>Tipos de amostras</h3>

<p>O tipo de amostra de preferência da Invitae para ensaios de sequenciamento de ùltima geração é o sangue total venoso periférico em um tubo de EDTA de tampa roxa. Também aceitamos amostras de saliva, além de DNA genômico (DNAg) que tenha sido isolado em nossos laboratórios, embora existam limitações ao ensaio com DNAg. Para conhecer detalhes, consulte a seção "DNAg" a seguir.</p>

<p>Para facilitar ao máximo o fornecimento de uma amostra, podemos enviar-lhekits gratuitos para a coleta de amostras de sangue ou saliva. Também oferecemos serviços de flebotomia sem custo adicional nos EUA e Canadá. Podemosagendar uma coleta de sangue no seu consultório ou na residência do seu paciente. Acesse nossa página 

<a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais sobre ambos os serviços.</p>
</div>
</div>
