<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="company" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input id="cms_id_zipcode" name="zipcode" type="text" value="{{ user.contact_info.zipcode }}" /></div>

<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-country="" data-country-value="#cms_id_country_value" data-long-value="true" data-states-selector="#cms_id_state" id="cms_id_country" name="country"></select>

<div><input id="cms_id_country_value" type="hidden" value="{{ user.contact_info.country }}" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="specialty"></select></div>

<div class="field-wrapper required" style="text-align: center;"><button class="btn btn-lg btn-color-mountain" type="submit">Submit</button></div>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>

<p><input name="source" type="hidden" value="website" /><input name="source_description" type="hidden" value="NIPS Landing Page Form" /><input name="ao_campid" type="hidden" value="" /><input name="cmpid" type="hidden" value="" /></p>