<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Fazer uma solicitação on-line</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p>Este vídeo mostra como um profissional de saúde pode navegar no nosso catálogo on-line de testes, fazer uma solicitação on-line e salvar testes personalizados para facilitar a repetição da solicitação.</p>
</div>

<div class="col-md-3">
<p><a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-mountain btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>CATÁLOGO DE TESTES</a></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div style="margin:20px 0;text-align:center;" class="visible-sm visible-md visible-lg"><iframe width="640" mozallowfullscreen="" height="431" msallowfullscreen="" class="wistia_embed" allowfullscreen="" frameborder="0" oallowfullscreen="" src="//fast.wistia.net/embed/iframe/mgl52jef62" allowtransparency="true" webkitallowfullscreen="" name="wistia_embed" scrolling="no"></iframe><script src="https://fast.wistia.net/assets/external/E-v1.js" async></script></div>
</div>

<div>
<div style="margin:20px;" class="visible-xs"><a class="btn-color-bondi btn btn-sm wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/mgl52jef62?popover=true"><span class="icon icon-angle-right"></span>ASSISTIR AO VÍDEO</a></div>
</div>
</div>
