<div class="row">
<div class="col-md-12">
<h3>Solicitação on-line fácil</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>Faça sua solicitação on-line para um processamento mais eficiente, uma entrega mais rápida do relatório e acesso a recursos on-line adicionais. A configuração de uma conta leva apenas alguns minutos e você também pode navegar e solicitar diretamente do nosso catálogo on-line de testes.</p>

<p>Para saber mais sobre como configurar uma conta e fazer uma solicitação on-line, assista aos nossos vídeos instrutivos abaixo.</p>

<p><strong>Uma conta on-line da Invitae permite que você: </strong></p>
</div>
</div>

<div class="row">
<div class="col-md-5">
<ul class="bullet-list">
	<li>Projete e salve solicitações personalizadas para facilitar sua repetição.</li>
	<li>Compartilhe os resultados dos testes com pacientes e colegas com segurança.</li>
	<li>Solicite em nome dos médicos da sua organização.</li>
</ul>
</div>

<div class="col-md-7">
<ul class="bullet-list">
	<li>Rastreie o status da solicitação em tempo real e mantenha um registro das solicitações prévias.</li>
	<li>Carregue documentos e troque mensagens com o pessoal da Invitae com segurança.</li>
	<li>Visualize e baixe os seus relatórios de testes.</li>
</ul>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>Se você preferir fazer uma solicitação em papel, também poderá baixar a requisição de teste em papel na nossa página <a href="{% page_url 'portal_common.order-forms' %}">Formulários</a>.</p>
</div>
</div>