<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Fazer uma solicitação on-line</h3>

<p>Faça sua solicitação on-line para um processamento mais eficiente, uma entrega mais rápida do relatório e acesso a recursos on-line adicionais. A configuração de uma conta leva apenas alguns minutos e você também pode navegar e solicitar diretamente do nosso <a href="{% page_url 'portal_common.test-catalog' %}">catálogo on-line de testes</a>.</p>
</div>
</div>
</div>