<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-bondi">4</div>

<h3>Receber resultados</h3>

<p>Seus resultados ficarão prontos em média três semanas depois da chegada da amostra. Um relatório clínico detalhado, analisado pela nossa equipe clínica autorizada, estará disponível on-line para que você possa visualiza, baixar e imprimir conforme a sua conveniência. Você pode acessar o relatório a qualquer momento <a href="{% url 'portal_common.signin' %}">Acessando</a> a sua conta on-line.</p>
</div>
</div>
</div>