<div class="row">
<div class="col-md-12">
<h3>Solicitações</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p><strong>Solicitação on-line fácil</strong></p>

<p>Faça a sua solicitação on-line para um processamento mais eficiente, uma entrega mais rápida do relatório e acesso a recursos on-line adicionais. A configuração de uma conta leva apenas alguns minutos e você também pode navegar e solicitar diretamente do nosso catálogo on-line de testes.</p>

<p> </p>
</div>

<div class="col-md-3">
<p> </p>

<p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-clipboard-check"></span>CONFIGURAR UMA CONTA</a></p>

<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>CATÁLOGO DE TESTES</a>

<p> </p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<p><strong>Uma conta on-line da Invitae permite que você:</strong></p>

<ul class="bullet-list">
	<li>Projete e salve solicitações personalizadas para facilitar sua repetição.</li>
	<li>Compartilhe os resultados dos testes com pacientes e colegas com segurança.</li>
	<li>Solicite em nome dos médicos da sua organização.</li>
	<li>Rastreie o status da solicitação em tempo real e mantenha um registro das solicitações prévias.</li>
	<li>Carregue documentos e troque mensagens com o pessoal da Invitae com segurança.</li>
	<li>Visualize e baixe os seus relatórios de testes.</li>
</ul>
</div>

<div class="col-md-6">
<p><strong>Formulários de solicitação</strong><br>
Você também pode baixar os formulários de solicitação em papel aqui:</p>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00af/1/-/-/-/-/FM102-3.18_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de Requisição Completo</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00b0/1/-/-/-/-/FM103-3.17_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de Requisição para Câncer</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de Consentimento Informado do Paciente</a></div>
</div>
