<div class="row">
<div class="col-md-12">
<h3>Solicitações</h3>

<p><strong>Solicitação on-line fácil</strong></p>

<p>Faça a sua solicitação on-line para um processamento mais eficiente, uma entrega mais rápida do relatório e acesso a recursos on-line adicionais. A configuração de uma conta leva apenas alguns minutos e você também pode navegar e solicitar diretamente do nosso catálogo on-line de testes.</p>

<p><strong>Uma conta on-line da Invitae permite que você:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Projete e salve solicitações personalizadas para facilitar sua repetição.</li>
	<li>Compartilhe os resultados dos testes com pacientes e colegas com segurança.</li>
	<li>Solicite em nome dos médicos da sua organização.</li>
	<li>Rastreie o status da solicitação em tempo real e mantenha um registro das solicitações prévias.</li>
	<li>Carregue documentos e troque mensagens com o pessoal da Invitae com segurança.</li>
	<li>Visualize e baixe os seus relatórios de testes.</li>
</ul>
</div>

<div class="col-md-6">
<p> </p>

<p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-clipboard-check"></span>Configurar uma conta</a></p>
<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>Catálogo de testes</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>Você também pode baixar os formulários de solicitação em papel aqui:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-0148/1/-/-/-/-/FM102-4.02_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação completo (apenas inglês) </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-0149/1/-/-/-/-/FM103-4.02_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação de oncologia (apenas inglês) </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-0236/1/-/-/-/-/TRF903-1_%20Invitae%20Hereditary%20Cancer%20Simplified%20Req%20Form.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação de oncologia simplificada (apenas inglês)</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904-1_%20Req%20Form%20Cardio.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação de cardiológico (apenas inglês) </a></div>

<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905-1_%20Req%20Form%20Neuro.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação de neurológico (apenas inglês)</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906-1_%20Req%20Form%20Pediatrics.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulário de solicitação de pediátrico (apenas inglês)</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Termo de Consentimento Livre e Esclarecido do pacient (apenas inglês)</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p> </p>
</div>
</div>
