<div class="row">
<div class="col-md-7">&nbsp;
<h2>O teste gen&eacute;tico &eacute; <span class="colored-mountain">adequado<br />
para mim?</span></h2>

<p>O primeiro passo ao fazer um teste gen&eacute;tico &eacute; compartilhar seu hist&oacute;rico de sa&uacute;de familiar com o seu m&eacute;dico e perguntar se um encaminhamento ao aconselhamento gen&eacute;tico &eacute; apropriado. Um profissional em gen&eacute;tica pode ajudar a determinar se o teste gen&eacute;tico &eacute; adequado para voc&ecirc;.</p>

<p>A Invitae pode ajudar você a identificar um profissional genético qualificado na sua área a través da Rede de Prestadores Genéticos (RPG) da Invitae. Por favor, <a href="{% url 'patient.signin' %}?next={% url 'patient.gpn-search' %}">entre na sua conta</a> da Invitae – ou, se você ainda não tem uma, <a href="{% url 'patient.signup' %}?next={% url 'patient.gpn-search' %}">crie uma conta</a> — para conectar-se com nossa rede de conselheiros genéticos, geneticistas e enfermeiras genéticas.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-talk-with-your-doctor.png" /></div>
</div>