<div class="row">
<div class="col-md-7">
<h2>Hist&oacute;rico familiar</h2>

<p>O hist&oacute;rico familiar pode fornecer dicas para sua sa&uacute;de futura. Coletar o hist&oacute;rico m&eacute;dico de sua fam&iacute;lia pode ajud&aacute;-lo a identificar doen&ccedil;as que voc&ecirc; corre o risco de desenvolver.</p>

<p>A Invitae acredita que coletar um histórico familiar completo e preciso é fundamental para interpretar os resultados genéticos. É por isso que oferecemos uma ferramenta digital gratuita que permite traçar seu histórico médico familiar.</p>

<p>Comece com seu pr&oacute;prio <a href="{% page_url 'portal_common.family-history' %}">hist&oacute;rico familiar</a> hoje.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-pedigree-people.png" /></div>
</div>