<p>The Invitae Medicare criteria for testing align with clinical practice guidelines from organizations including the National Comprehensive Cancer Network<b style="color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px;">®</b> (NCCN). Medicare orders that do not meet the updated Invitae Medicare criteria are offered at the patient-pay price of $475 per clinical indication (please see Invitae's <a href="{% page_url 'portal_common.billing' %}">billing webpage</a> for full details).</p>

<p>Invitae’s Medicare criteria are listed below and also available on the Invitae Medicare criteria form for <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0295/1/-/-/-/-/FM133-1_Oncology-Medicare-Criteria-Form.pdf">hereditary cancer</a> and <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0290/1/-/-/-/-/FM132-1_Cardiology-Medicare-criteria-form.pdf">cardiology</a>.</p>
