<p>Invitae is changing its Medicare criteria for testing to better align with clinical practice guidelines from organizations including the National Comprehensive Cancer Network (NCCN) and the American Heart Association (AHA). We will transition to the new criteria (listed below for both <a href="#oncology">oncology</a> and <a href="#cardiology">cardiology</a>) during the month of February, using that time to educate our customers of the new policy. Beginning March 1, Medicare orders that do not meet the updated Invitae Medicare criteria will be offered at the patient-pay price of $475 per clinical indication (please see Invitae's <a href="{% page_url 'portal_common.billing' %}">billing webpage</a> for full details).</p>

<p>Invitae’s Medicare criteria are also available on the <a href="http://marketing.invitae.com/acton/ct/7098/p-00a8/Bct/-/-/ct5_1/1?sid=">Invitae Medicare criteria form</a>.</p>
