<div class="row">
<div class="col-md-12">
<h3>Ampl&iacute;e su b&uacute;squeda.</h3>

<p>El servicio de solicitud adicional de Invitae se ofrece sin costo adicional y proporciona la flexibilidad que usted necesita para ordenar los genes correctos al precio justo.</p>

<p>Seg&uacute;n los antecedentes cl&iacute;nicos y familiares de su paciente, es posible que sea apropiado comenzar con una prueba gen&eacute;tica peque&ntilde;a y recurrir a un panel m&aacute;s amplio si los resultados iniciales son negativos o no concluyentes.</p>

<p>Puede analizar m&aacute;s genes<sup>*</sup> relacionados con la &aacute;rea cl&iacute;nica inicial, sin cargo adicional.</p>

<ul class="bullet-list">
	<li>No se requiere una nueva muestra<sup>**</sup></li>
	<li>Sin costo adicional para el nuevo reporte del estudio</li>
	<li>Pazo de entrega de tres semanas promedio para los nuevos resultados</li>
</ul>

<p><sup>*</sup>Se aplica solamente a los genes disponibles en el momento del pedido original.<br />
<sup>**</sup>Si en la solicitud adicional se encuentra un resultado positivo, es posible que se requiera una nueva muestra para confirmaci&oacute;n del an&aacute;lisis.</p>

<h4><strong>&iquest;Qui&eacute;nes son elegibles?</strong></h4>

<p>Un caso es elegible para una solicitud adicional sin cargo extra si se presenta alguna de las siguientes situaciones:</p>

<ul class="bullet-list">
	<li>La solicitud adicional se realiza dentro de los 90 d&iacute;as de la divulgaci&oacute;n del reporte original</li>
	<li>Los genes agregados est&aacute;n relacionados con la &aacute;rea cl&iacute;nica original de estudio del paciente</li>
</ul>

<p>Una vez transcurridos los 90 d&iacute;as despu&eacute;s de la fecha de divulgaci&oacute;n del reporte original, se le cobrar&aacute; a su paciente $475&nbsp;por solicitudes adicionales relacionadas con la misma &aacute;rea cl&iacute;nica (solo para aquellos genes disponibles en el momento del pedido original).</p>

<h4><strong>&iquest;C&oacute;mo hacer una solicitud adicional?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Inicie sesi&oacute;n</a>

<p>Para usar nuestra herramienta autom&aacute;tica de solicitudes adicionales:</p>

<ul class="bullet-list">
	<li>Inicie sesi&oacute;n en su cuenta y consulte su p&aacute;gina de historial de solicitudes</li>
	<li>Seleccione la solicitud para la cual desear&iacute;a colocar una solicitud adicional</li>
	<li>Haga clic en el bot&oacute;n &quot;View Options&quot; (Ver opciones) en la secci&oacute;n de solicitud adicional de la p&aacute;gina Order Status (Estado de solicitudes)</li>
	<li>Use la herramienta de solicitudes adicionales para seleccionar genes o paneles adicionales para su paciente</li>
</ul>

<p>Tambi&eacute;n puede comunicarse con Servicio al Cliente para obtener m&aacute;s informaci&oacute;n (no incluya ning&uacute;n registro m&eacute;dico o informaci&oacute;n m&eacute;dica confidencial en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
</ul>

<h4><strong>&iquest;Qu&eacute; sucede si deseo hacer una solicitud relacionada con una área clínica diferente a la original?</strong></h4>

<p>Puede realizar una solicitud adicional de genes relacionados con otras &aacute;rea cl&iacute;nica en cualquier momento. Estos pedidos se cobrar&aacute;n por separado como un nuevo pedido y posiblemente tambi&eacute;n requieran una nueva muestra, dependiendo del &aacute;rea cl&iacute;nica de la nueva &aacute;rea cl&iacute;nica.</p>
</div>
</div>
