<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Historias reales</a></li>
	<li>Debbi Crowder</li>
</ul>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'Una esperanza para un futuro más saludable'</span></h2>

<h5>Debbi Crowder</h5>

<p>“Vivimos en Kansas, donde los tornados son comunes, y los cimientos son importantes. Cuando un enorme tornado arrasó nuestra cuidad hace unos años, las casas construidas sobre una losa se destruyeron. Pero las casas con sótanos, cimientos fuertes, fueron las que resistieron. Una familia es algo parecido a esto. Cuando una familia se sostiene sobre un cimiento fuerte de fe, esperanza y amor, puede superar las tormentas más difíciles de la vida."</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" class="wistia_embed embed-responsive-item" allowfullscreen="allowfullscreen" frameborder="0" oallowfullscreen="oallowfullscreen" src="//fast.wistia.net/embed/iframe/9ll1tn7ors?videoFoam=true" allowtransparency="true" webkitallowfullscreen="webkitallowfullscreen" name="wistia_embed" scrolling="no"></iframe></div>
</div>

<div class="col-md-12">
<p> </p>

<p><span style="font-size: 14px; line-height: 20px;"></span>Debbi Crowder creció como hija de un ministro. Su hogar, construido sobre la fe, estaba lleno de amor, risas y música. A los 25 años de edad ya se había casado con su novio de la escuela secundaria, Dick, y dado a luz a sus hijos Ric y Adam. Ella describe vivir una "vida de cuento de hadas", pero justo después del nacimiento de su primer hijo, su vida cambiaría por completo.</p>

<p>Después de ser sometido a una cirugía de corazón de emergencia cuando tenía dos meses de vida, Chad, el bebé recién nacido de Debbi y Dick murió trágicamente en noche del Día de Acción de Gracias.</p>

<p>Mientras atravesaba un período de enorme dolor, Debbi ayudó a formar un grupo de apoyo para madres que habían experimentado la muerte de un bebé recién nacido. A través de brindar consuelo a otros, Debbi pronto sintió sanación y se reconfortó. Con el tiempo, ella y Dick decidieron adoptar un bebé.</p>

<p>“Matt era un torbellino de energía y el atleta de la familia", recuerda Debbi de su hijo. Jugó a todos los deportes mientras crecía y entrenó a un equipo juvenil de fútbol cuando ya era adulto. Cuando Matt tenía solo 27 años, cayó desmayado y murió mientras jugaba tenis con un amigo.</p>

<p>“La familia y los amigos estaban completamente consternados. Era tan activo y saludable. Matt vivió la vida intensamente. Nadie podría creer lo que había sucedido. No hubo síntomas de aviso. No hubo dolor, falta de aire, debilidad ni irregularidades cardíacas."</p>

<p>Matt murió de miocardiopatía hipertrófica (HCM), una enfermedad genética que produce hipertrofia muscular y agrandamiento del corazón. Debido a que el músculo cardíaco (miocardio) aumenta anormalmente de tamaño, puede verse dificultado el bombeo de sangre. Sin embargo, la afección con frecuencia permanece sin ser diagnosticada.</p>

<p>Debido a que Matt era adoptado, los Crowder desconocían los antecedentes genéticos de su familia biológica. En el momento de su muerte, Matt dejó sola a una esposa y un hijo de cuatro meses llamado Griffin. La familia, en conjunto, decidió hacerle un análisis de ADN a Griffin y descubrieron que él también es portador de la misma mutación genética que su padre. Hoy, Griffin tiene nueve años y es atendido de forma regular por un cardiólogo pediatra para controlar su afección cardíaca.</p>

<p>Comprender la enfermedad hereditaria resultó especialmente duro para la familia Crowder después de la muerte de Matt. Ellos también tienen una hija adoptiva, Maci, con la que han hablado pobre la posibilidad de realizarse un análisis de la secuencia del ADN para averiguar si hay algún "secreto" importante en su conformación genética. Su respuesta fue definitivamente "sí".</p>

<p>Además, los Crowder también tienen una nieta, Brittany, con una enfermedad genética rara llamada galactosemia, la cual restringe la capacidad del cuerpo de procesar el azúcar simple galactosa, un componente de la lactosa. Su afección pudo ser identificada porque Kansas incluye la galactosemia en las pruebas de detección mediante "punción en el talón" que se les realizan a los bebés recién nacidos.</p>

<p>“El análisis de la secuencia del ADN solía parecer algo perteneciente a una ciencia futurista", comenta Debbi. "Ahora sabemos que está disponible aquí y ahora. Y ofrece a nuestra familia y muchas otras la posibilidad de comprender nuestros cuerpos, un mejor conocimiento de cómo lidiar con enfermedades e incluso prevenirlas, y la esperanza de un futuro más saludable para las próximas generaciones."</p>
<i>La historia de Debbi Crowder es una de las muchas que inspiraron a los fundadores de Invitae para comenzar su empresa. Debbi es parte de la familia de Randy Scott, director general de Invitae. Escuche más acerca de la manera en que su experiencia ayudó a comunicar la misión de Invitae en el video<a href="http://blog.invitae.com/randy-scott-biochemist-and-invitae-co-founder/">Genetics is about everybody</a>" (La genética es una cuestión que nos involucra a todos).</i></div>
</div>
