<div class="row">
<div class="col-md-12"><a href="{% page_url 'portal_common.vus-resolution' %}">Return to VUS resolution page</a>
<p></p>

<h3>Gene eligiblity rules.</h3>

<p>Gene eligibility for our VUS resolution program.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cardiology genes</h4>

<div class="expandable-content">
<div class="row">
<div class="col-md-12">
<p>The following genes are not eligible for our VUS resolution program due to their limited evidence for a cardiac disorder:<br />
AKAP9, ANKRD1, CACNA2D1, CALR3, CTF1, CTNNA3, DTNA, FHL2, GATAD1, GDF2, ILK, JPH2, KCND3, KCNE3, KCNE5, KCNJ5, KCNJ8, LAMA4, MYH6, MYLK2, MYOM1, MYOZ2, MYPN, NEBL, NEXN, NPPA, PDLIM3, PRDM16, RANGRF, SCN10A, SCN1B, SCN2B, SCN3B, SCN4B, SLMAP, SMAD6, SMAD9, SNTA1, TMPO, TRPM4, and TXNRD2.</p>
</div>
</div>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cancer genes</h4>

<div class="expandable-content">
<p>The following genes are not eligible for our VUS resolution program due to being either moderate-risk or candidate genes for the disorder:</p>

<ul class="bullet-list">
	<li>Moderate-risk cancer genes: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, RAD50 and RAD51C</li>
	<li>Limited cancer risk: PALLD</li>
</ul>
</div>
</div>
</div>
</div>
