<div class="row">
                <div class="col-md-12">
                    <h3>The right choice for your patient.</h3>
                    <p>Invitae is making it easy and affordable to order the right CMT test
                        for your patient. Whether you select the full CMT panel or a specific subtype, it's the same
                        price of $1500.<sup>*</sup> Just three weeks on average from sample to results.<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.panel-detail' 'PNL0011' %}"><span class="icon icon-angle-right"></span>Charcot-Marie-Tooth disease, full panel</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0011' %}">View Test</a>
                            <p>A multi-gene panel that includes CMT type 1, CMT type 2, dominant intermediate CMT, CMT type 4, and CMT type X.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.panel-detail' 'PNL0012' %}"><span class="icon icon-angle-right"></span>CMT, autosomal dominant</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0012' %}">View Test</a>
                            <p>This test includes the CMT subtypes that have an autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0016' %}"><span class="icon icon-angle-right"></span>CMT, type 1</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0016' %}">View Test</a>
                            <p>CMT type 1 is a demyelinating form of CMT with an autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0103' %}"><span class="icon icon-angle-right"></span>CMT, type 2</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0103' %}">View Test</a>
                            <p>CMT type 2 is an axonal form of CMT with a predominantly autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0105' %}"><span class="icon icon-angle-right"></span>CMT, dominant intermediate</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0105' %}">View Test</a>
                            <p>Dominant intermediate CMT has both axonal and demyelinating defects and is inherited in an autosomal dominant pattern.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.panel-detail' 'PNL0013' %}"><span class="icon icon-angle-right"></span>CMT, autosomal recessive</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0013' %}">View Test</a>
                            <p>This test includes the CMT subtypes that have an autosomal recessive pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0106' %}"><span class="icon icon-angle-right"></span>CMT, type 4</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0106' %}">View Test</a>
                            <p>CMT type 4 is primarily demyelinating, although a subset of cases are axonal. All forms of CMT type 4 are autosomal recessive.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.panel-detail' 'PNL0014' %}"><span class="icon icon-angle-right"></span>CMT, X-linked</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0014' %}">View Test</a>
                            <p>This test includes the CMT subtypes that have an X-linked pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0104' %}"><span class="icon icon-angle-right"></span>CMT, type X</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0104' %}">View Test</a>
                            <p>CMT type X has an intermediate presentation with both axonal and demyelinating defects. It is inherited in an X-linked pattern.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="cmt-testing-figure"><div class="content"></div></div>
                </div>
            </div>