<div class="row">
                <div class="col-md-12">

                    <div class="catalog-group other">

                        <h3><span class="icon"></span>Other Test Panels</h3>

                        <p>Multi-gene panels in neurology and pediatrics.</p>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Noonan Spectrum Disorders</h4>

                            <div class="expandable-content">
                                <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0006' %}">View Test</a>

                                <p>Noonan Spectrum Disorders (NSDs) are a class of diseases also referred to as RASopathies
                                    because they are caused by genetic defects that impact the RAS-mitogen-activated protein
                                    kinase (MAPK) intracellular signaling pathway. Many NSDs share one or more of a common
                                    set of symptoms, including congential heart defects, short stature, distinctive
                                    craniofacial features, and predisposition to various tumors, both benign and
                                    cancerous.</p>

                                <p class="genes-analyzed">Genes analyzed: BRAF, CBL, HRAS, KRAS, MAP2K1, MAP2K2, NF1, NRAS, PTPN11, RAF1, SHOC2,
                                    SOS1, SPRED1</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Ciliopathies</h4>

                            <div class="expandable-content">
                                <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0001' %}">View Test</a>

                                <p>The ciliopathies are a class of diseases caused by mutations that impair the function of
                                    hair-like structures on the surface of cells called cilia. Cilia play many roles during
                                    development, so defects in their structure and function result in complex multisystemic
                                    disorders. Common symptoms associated with many ciliopathy disorders include liver
                                    fibrosis, degeneration of the retina of the eye (rod-cone dystrophy), the development of
                                    kidney cysts, the partial reversal of the left-right body axis (heterotaxy), extra
                                    fingers or toes (polydactyly), and cognitive impairment.</p>

                                <p class="genes-analyzed">Genes analyzed: AHI1, ARL13B, ARL6, B9D1, B9D2, BBS1, BBS10, BBS12, BBS2, BBS4, BBS5,
                                    BBS7, BBS9, CC2D2A, CCDC39, CCDC40, CEP290, CFTR, DNAAF1, DNAAF2, DNAH11, DNAH5, DNAI1,
                                    DNAI2, DNAL1, DYNC2H1, <br> FOXH1, GDF1, GLIS2, IFT80, INPP5E, INVS, IQCB1, MKKS, MKS1,
                                    NEK8, NODAL, NPHP1, NPHP3, NPHP4, OFD1, <br> PKD2, PKHD1, RPGRIP1L, RSPH4A, RSPH9,
                                    TCTN1, TCTN2, TMEM216, TMEM67, TRIM32, TTC21B, TTC8, WDPCP, <br> XPNPEP3, ZIC3</p>

                            </div>
                        </div>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Charcot-Marie-Tooth Disease</h4>

                            <div class="expandable-content">
                                <a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.cmt-testing' %}">View Test</a>

                                <p>Charcot Marie Tooth disease (CMT) refers to a group of hereditary neuropathies that
                                    together are one of the most common inherited neurologic disorders. CMT results in the
                                    impairment of both the motor and sensory functions of the peripheral nervous system,
                                    resulting in symptoms such as progressive muscle weakness, sensory loss in the
                                    extremities, foot deformities such as high arched feet or hammertoes, and depressed
                                    tendon reflexes.</p>

                                <p class="genes-analyzed">Genes analyzed: AARS, BSCL2, DNM2, EGR2, FGD4, FIG4, GARS, GDAP1, GJB1, HSPB1, HSPB8,
                                    KIF1B, LITAF, LMNA, MED25, MFN2, MPZ, MTMR2, NDRG1, NEFL, PMP22, PRPS1, PRX,
                                    RAB7A, SBF2, SH3TC2, TRPV4, YARS</p>

                            </div>
                        </div>

                        <a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.condition-list' %}">View Disorders Page</a>
                        <p>View our disorders page for an alphabetized list of all disorders in our catalog.</p>
                        <br>
                    </div>
                </div>
            </div>