<div class="row products-section">
<div class="col-sm-6">
<h2>Explore our test catalog.</h2>

<h6>Invitae specializes in genetic testing for hereditary disorders.<br>
Our test catalog includes disorders in a variety of medical specialties, including cardiology, hereditary cancers, pediatric genetics, neurology, and hematology.</h6>
</div>

<div class="col-sm-6">
<form onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})" method="get" action="{% url 'physician.search' %}" id="catalog-search-form">
<div class="catalog-search-wrapper no-top-margin"><label for="catalog-search-input">Search our test catalog</label> <input type="text" class="catalog-search" autocorrect="off" value="{{ request.GET.q }}" name="q" autocomplete="off" id="catalog-search-input"><button type="submit" class="catalog-search-button"><span class="button-image"></span></button></div>
</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">You can order any combination of genes, disorders, and multi-gene panels, all at a price of $1500.* The turn around time from sample to results is just three weeks on average.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1"> </div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Cardiology"><span class="text">CARDIOLOGY</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hereditary+cancer"><span class="text">HEREDITARY<br>
CANCER</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Pediatric+genetics"><span class="text">PEDIATRIC<br>
GENETICS</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Neurology"><span class="text">NEUROLOGY</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hematology"><span class="text">HEMATOLOGY</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1"> </div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;" class="endnote"><br>
<sup>*</sup>U.S. contract pricing only, with appropriate clinical indication. Ex-US pricing does not include distribution and shipping fees. Please contact <a target="_blank" href="{% page_url 'portal_common.contact' %}">Client Services</a> for more information.<br>
 </p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">‌</a></div>