<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Testes de Cardiologia</h3>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome do QT longo</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">VISUALIZAR TESTE</a>

<p>A síndrome do QT longo (SQTL) é uma arritmia cardíaca hereditária que pode causar morte súbita, parada cardíaca, crises semelhantes a convulsões e desmaios em crianças e adultos. A SQTL é causada por uma condução elétrica anormal que resulta em um prolongamento “corrigido” do intervalo QT (uma medição do tempo que um sinal elétrico leva para se deslocar através do coração). A anormalidade do QTc é frequentemente, mas não sempre, visível em um eletrocardiograma.</p>

<p class="genes-analyzed">Genes analisados: AKAP9, ANK2, CACNA1C, CAV3, KCNE1, KCNE2, KCNH2, KCNJ2, KCNJ5, KCNQ1, SCN4B, SCN5A, SNTA1</p>

<p style="margin-top:30px;">Subtipos de QT longo disponíveis como testes individuais:</p>

<div class="expandable-sub-item">
<h4>Síndrome de Andersen-Tawil</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0003' %}">VISUALIZAR TESTE </a>

<p class="genes-analyzed">Genes analisados: KCNJ2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Timothy</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0084' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: CACNA1C</p>
</div>
</div>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de Brugada</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">VISUALIZAR TESTE</a>

<p>A Síndrome de Brugada (SBr) é uma afecção cardíaca hereditária que afeta principalmente o sistema elétrico do coração. A SBr é definida por alterações características em uma fase do padrão elétrico do coração chamada de segmento ST. Isso resulta em um sinal distintivo no eletrocardiograma (ECG).</p>

<p class="genes-analyzed">Genes analisados: CACNA1C, CACNA2D1, CACNB2, GPD1L, KCNE3, KCNH2, KCNJ8, SCN1B, SCN3B, SCN5A</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cardiomiopatia hipertrófica</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">VISUALIZAR TESTE </a>

<p>A cardiomiopatia hipertrófica (CMH) é uma doença cardíaca definida pelo espessamento inexplicado e anormal do músculo do coração, ou miocárdio. Esse espessamento anormal, ou hipertrofia, afeta o ventrículo esquerdo do coração e, tipicamente, pode ser detectado pelo ecocardiograma. A CMH pode prejudicar tanto a maneira como o coração contrai e o sistema elétrico do coração, causando palpitações, tonturas (pré-síncope), desmaios (síncope), dor no peito, falta de ar e, em alguns casos, parada cardíaca ou morte súbita.
</p>

<p class="genes-analyzed">Genes analisados: ACTC1, ACTN2, CAV3, CSRP3, JPH2, MYBPC3, MYH7, MYL2, MYL3, MYOZ2, NEXN, TCAP, TNNC1, TNNI3, TNNT2, TPM1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome do QT curto</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">VISUALIZAR TESTE</a>

<p>A síndrome do QT curto (SQTC) é uma arritmia cardíaca hereditária rara que pode causar desmaios, tonturas, crises semelhantes a convulsões, parada cardíaca e/ou morte súbita em crianças e adultos. Ela pode ser uma causa subjacente de alguns casos de síndrome da morte súbita infantil (SMSI).</p>

<p class="genes-analyzed">Genes analisados: CACNA1C, CACNA2D1, CACNB2, KCNH2, KCNJ2, KCNQ1</p>
</div>
</div>
</div>
</div>
</div>