<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Outros painéis de testes</h3>

<p>Painéis de vários genes em neurologia e pediatria.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndromes do espectro de Noonan</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0006' %}">VISUALIZAR TESTE </a>

<p>As síndromes do espectro de Noonan (SEN) são uma classe de doenças também chamadas de RASopatias porque são causadas por defeitos genéticos que afetam a via de sinalização intracelular da proteína quinase ativada por RAS-mitógeno (MAPK). Muitas SENs compartilham um ou mais de um conjunto de sintomas, incluindo defeitos cardíacos congênitos, baixa estatura, características craniofaciais distintivas e predisposição a vários tumores, tanto benignos como cancerosos.</p>

<p class="genes-analyzed">Genes analisados: BRAF, CBL, HRAS, KRAS, MAP2K1, MAP2K2, NF1, NRAS, PTPN11, RAF1, SHOC2, SOS1, SPRED1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Ciliopatias</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0001' %}">VISUALIZAR TESTE </a>

<p>As ciliopatias são uma classe de doenças causadas por mutações que comprometem a função de estruturas semelhantes a pêlos na superfície das células, chamadas de cílios. Os cílios cumprem várias funções durante o desenvolvimento, de modo que os defeitos em sua estrutura e função resultam em doenças multissistêmicas complexas. Os sintomas mais comuns associados a diversas ciliopatias incluem fibrose hepática, degeneração da retina ocular (distrofia da haste do cone), desenvolvimento de cistos renais, reversão parcial do eixo corporal da esquerda para a direita (heterotaxia), dedos extras nos pés ou nas mãos (polidactilia) e comprometimento cognitivo.</p>

<p class="genes-analyzed">Genes analisados: AHI1, ARL13B, ARL6, B9D1, B9D2, BBS1, BBS10, BBS12, BBS2, BBS4, BBS5, BBS7, BBS9, CC2D2A, CCDC39, CCDC40, CEP290, CFTR, DNAAF1, DNAAF2, DNAH11, DNAH5, DNAI1, DNAI2, DNAL1, DYNC2H1,
FOXH1, GDF1, GLIS2, IFT80, INPP5E, INVS, IQCB1, MKKS, MKS1, NEK8, NODAL, NPHP1, NPHP3, NPHP4, OFD1,
PKD2, PKHD1, RPGRIP1L, RSPH4A, RSPH9, TCTN1, TCTN2, TMEM216, TMEM67, TRIM32, TTC21B, TTC8, WDPCP,
XPNPEP3, ZIC3</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Doença de Charcot-Marie-Tooth</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.cmt-testing' %}">VISUALIZAR TESTE </a>

<p>A doença de Charcot Marie Tooth (CMT) refere-se a um grupo de neuropatias hereditárias que, juntas, formam uma das mais comuns doenças neurológicas hereditárias. A CMT resulta em comprometimentos das funções motoras e sensoriais do sistema nervoso periférico, causando sintomas como fraqueza muscular progressiva, perda de sensibilidade nas extremidades, deformidades dos pés como arco alto ou dedos em martelo e reflexos tendinosos deprimidos.</p>

<p class="genes-analyzed">Genes analisados: AARS, BSCL2, DNM2, EGR2, FGD4, FIG4, GARS, GDAP1, GJB1, HSPB1, HSPB8, KIF1B, LITAF, LMNA, MED25, MFN2, MPZ, MTMR2, NDRG1, NEFL, PMP22, PRPS1, PRX, RAB7A, SBF2, SH3TC2, TRPV4, YARS</p>
</div>
</div>
<a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.condition-list' %}">VISUALIZAR PÁGINA DE DOENÇAS</a>

<p>Visualize a nossa página de doenças para obter uma lista em ordem alfabética de todas as doenças do nosso catálogo.</p>
</div>
</div>
</div>
