<div class="row">
<div class="col-md-12">
<div class="catalog-group pancreatic">
<h3><span class="icon"></span>Câncer pancreático hereditário</h3>
<a class="btn btn-color-grape btn-md btn-right" href="{% page_url 'portal_common.pancreatic-cancer-testing' %}">TESTE DE CÂNCER PANCREÁTICO</a>

<p>O nosso painel para Câncer pancreático hereditário abrange 17 dos genes mais comumente vinculados a um risco elevado de câncer de pâncreas. Saiba mais sobre as nossas ofertas de testes para o câncer pancreático, em nossa página Testes de câncer pancreático.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer pancreático hereditário</h4>

<div class="expandable-content"><a class="btn btn-color-grape btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">VISUALIZAR TESTE</a>

<p>Um painel de 17 genes analisa o risco de um paciente ter câncer de pâncreas hereditário, além de outros cânceres. Outros genes que avaliem o risco hereditário de pancreatite em um paciente podem ser adicionados à sua requisição sem custo adicional.</p>

<p class="genes-analyzed">Genes analisados: BRCA1, BRCA2, PALB2, APC, ATM, CDKN2A, MLH1, FANCC, MEN1, PALLD, STK11, TP53, VHL, MSH2, MSH6, EPCAM, and PMS2<br>
Opcionais: CDK4, CFTR, CTRC, and SPINK1</p>
</div>
</div>
</div>
</div>
</div>