<div class="row">
<div class="col-md-12">
<div class="catalog-group brca">
<h3><span class="icon"></span>Cânceres de mama e ginecológicos hereditários</h3>
<a class="btn btn-color-purple btn-md btn-right" href="{% page_url 'portal_common.brca-testing' %}">TESTE DE BRCA</a>

<p>Cada um dos testes nesta categoria inclui o teste do gene BRCA1 e BRCA2. Solicite apenas os genes BRCA ou vá além do BRCA para selecionar o teste que melhor atenda às necessidades do seu paciente. Para saber mais sobre o nosso conjunto de opções de testes de BRCA, visite a nossa página Testes de BRCA.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Testes de BRCA1 e BRCA2</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">VISUALIZAR TESTE</a>

<p>A síndrome de câncer de mama e ovário hereditário (CMOH) é causada por mutações nos genes BRCA1 ou BRCA2. As mutações nesses genes são o mais significativo fator de risco herdado para câncer de mama hereditário, responsável por aproximadamente 50% dos casos em indivíduos com forte histórico familiar ou um diagnóstico precoce.</p>

<p class="genes-analyzed">Genes analisados: BRCA1, BRCA2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer de mama hereditário, painel de alto risco</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">VISUALIZAR TESTE</a>

<p>O painel de câncer de mama hereditário de alto risco inclui genes conhecidos por serem associados a síndromes de câncer da mama de alto risco. Os pacientes que herdaram uma dessas síndromes têm um risco extremamente alto de desenvolver câncer de mama durante a sua vida, variando de 40% a 90%, dependendo da doença, variante genética específica e fatores ambientais.</p>

<p class="genes-analyzed">Genes analisados: BRCA1, BRCA2, CDH1, PALB2, PTEN, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer de mama hereditário, painel de risco moderado</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">VISUALIZAR TESTE</a>

<p>O painel de risco moderado de câncer de mama hereditário inclui 10 genes que foram associados a um risco moderado de desenvolvimento de câncer de mama.</p>

<p class="genes-analyzed">Genes analisados: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, NF1, RAD50, RAD51C</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer de mama hereditário, painel estendido</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">VISUALIZAR TESTE</a>

<p>O painel estendido de câncer de mama hereditário abrange 17 genes associados a um risco elevado de desenvolvimento de câncer de mama ao longo da vida, além de outros tipos de câncer.</p>

<p class="genes-analyzed">Genes analisados: ATM, BARD1, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, FANCC, NBN, NF1, PALB2, PMS2, PTEN, RAD50, RAD51C, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cânceres ginecológicos hereditários, painel de alto risco</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">VISUALIZAR TESTE</a>

<p>Engloba 9 genes com diretrizes de tratamento publicadas.</p>

<p class="genes-analyzed">Genes analisados: BRCA1, BRCA2, EPCAM, MLH1, MSH2, MSH6, PMS2, PTEN, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cânceres de mama e ginecológicos hereditários (previamente chamados de cânceres hereditários da mulher)</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">VISUALIZAR TESTE</a>

<p>Os cânceres de mama e ginecológicos hereditários fornecem uma ampla análise genética do câncer de mama, ovário e endométrio hereditário. Esse teste pode identificar síndromes de câncer hereditário sem a necessidade de testes de genes sequenciais, principalmente em pacientes que tiverem uma apresentação clínica não clássica ou uma linhagem limitada.</p>

<p class="genes-analyzed">Genes analisados: ATM, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, NBN, PALB2, PMS2, PTEN, RAD51C, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>