<div class="row products-section">
<div class="col-md-12">
<h2>Explore nosso catálogo de testes</h2>
</div>

<div class="col-sm-6">
<h6>A Invitae é especializada em testes genéticos para doenças hereditárias. Para explorar o nosso catálogo de testes, use a barra de pesquisa para encontrar um gene ou afecção específico ou navegue por especialidade médica usando os botões abaixo.</h6>

<h6>Informações adicionais sobre os testes genéticos com a Invitae, a criação de uma conta on-line e como fazer uma solicitação podem ser encontradas nos vídeos instrutivos abaixo.</h6>
</div>

<div class="col-sm-6">
<form onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})" id="catalog-search-form" action="{% url 'physician.search' %}" method="get">
<div class="catalog-search-wrapper no-top-margin"><label for="catalog-search-input">Pesquise</label> <input type="text" class="catalog-search" autocorrect="off" value="{{ request.GET.q }}" name="q" autocomplete="off" id="catalog-search-input"><button type="submit" class="catalog-search-button"><span class="button-image"></span></button></div>
</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">Você pode solicitar qualquer combinação entre genes, doenças e painéis de vários genes pelo mesmo preço<sup>*</sup>, apenas com três semanas em média desde a amostra até os resultados.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1"> </div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Cardiology"><span class="text">CARDIOLOGIA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hereditary+cancer"><span class="text">CÂNCER<br>
HEREDITÁRIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Pediatric+genetics"><span class="text">GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Neurology"><span class="text">NEUROLOGIA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hematology"><span class="text">HEMATOLOGIA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1"> </div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;" class="endnote"><br>
<sup>*</sup>Preço por condição clínica: Preço de lista de $1500 dólares, com desconto a $950 dólares para instituições e distribuidores sob contrato com Invitae e para provedores em rede. O preço para pacientes com pago à vista é de $450 dólares para pedidos realizados on-line e conectados a uma conta de um paciente. Os preços para fora dos EUA não incluem as taxas de envio. Por favor, <a target="_blank" href="{% page_url 'portal_common.contact' %}">contate-se com</a> nosso Atendimento ao Cliente para mais informações.</p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">‌</a></div>