<div class="row">
<div class="col-md-12">
<div class="catalog-group colon">
<h3><span class="icon"></span>Câncer de cólon hereditário</h3>
<a class="btn btn-color-bay btn-md btn-right" href="{% page_url 'portal_common.colon-cancer-testing-page' %}">TESTE DE CÂNCER DE CÓLON</a>

<p>Nosso menu de testes para câncer de cólon hereditário abrange as síndromes de câncer colorretal e polipose hereditárias, incluindo a síndrome de Lynch. Saiba mais sobre as nossas ofertas de testes para o câncer de cólon, em nossa página Testes de câncer de cólon.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de Lynch</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">VISUALIZAR TESTE </a>

<p>A síndrome de Lynch (SL) é uma síndrome de câncer hereditário que aumenta significativamente o risco de um indivíduo de desenvolver câncer colorretal ao longo da vida. Os indivíduos afetados também estão em risco mais alto de desenvolver outros tipos de cânceres, incluindo de estômago, endométrio, ovário, mama, trato hepatobiliar, trato urinário, intestino, cérebro e pâncreas.</p>

<p class="genes-analyzed">Genes analisados: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer de cólon hereditário, painel de alto risco</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">VISUALIZAR TESTE</a>

<p>O painel de alto risco de cânceres de cólon hereditário inclui genes conhecidos por serem associados a síndromes de câncer colorretal de alto risco. Os pacientes que herdaram uma dessas doenças têm um risco extremamente alto de desenvolver câncer colorretal durante a sua vida, variando de 80% a quase 100%, dependendo da doença.</p>

<p class="genes-analyzed">Genes analisados: APC, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Câncer de cólon hereditário</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">VISUALIZAR TESTE</a>

<p>O painel de cânceres de cólon hereditários fornece uma ampla análise genética de câncer de cólon hereditário de um paciente e pode identificar síndromes de câncer hereditário, sem a necessidade de testes de genes sequenciais. Esse teste analisa os genes mais comuns associados às síndromes de câncer de cólon hereditário como a síndrome de Lynch e também pode capturar resultados menos esperados.</p>

<p class="genes-analyzed">Genes analisados: APC, BMPR1A, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2, PTEN, SMAD4, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>