{% load dictionaries %}
<div class="container resources-background-container">
<div class="section-background"></div>

<div class="row">
<div class="col-xs-12 col-sm-8 resources-tree">
<div class="text-content">
<h2 class="normal-font-weight">Find out&nbsp;more about your specific condition</h2>

<p class="landing-text">Navigate by disease area</p>
</div>

<div id="existing-conditions-tree">
<ul class="main-categories">{% for category in patient_categories %}
	<li class="main-categories-item {% if sub_category.categories %}has-children{% endif %}" data-code="{{ category.code }}">
	<div class="main-category-name category-name"><span class="icon {{ icon_map|getitem:category.code }}"></span> <span class="main-category-name-text">{{ category.name }}</span></div>

	<div class="category-expandable-content">
	<p class="main-category-description">{{ category.description | safe }}</p>

	<ul class="sub-categories">{% for sub_category in category.categories %}
		<li class="sub-categories-item {% if sub_category.patient_conditions %}has-children{% endif %}" data-code="{{ sub_category.code }}">
		<hr />
		<div class="sub-category-name category-name"><span class="icon icon-caret-right"></span> <span class="sub-category-name-text">{{ sub_category.name }}</span></div>

		<div class="category-expandable-content">
		<ul class="patient-conditions">{% for patient_condition in sub_category.patient_conditions %}{% if patient_condition.has_content_guide %}
			<li class="patient-conditions-item" data-code="{{ patient_condition.code }}"><a href="{% url 'patient.conditions' code=patient_condition.code %}">{{patient_condition.name}} <span class="icon icon-patient-guide"></span> </a></li>
			{% endif %}{% endfor %}
		</ul>
		</div>
		</li>
		{% endfor %}{% for patient_condition in category.patient_conditions %}
		<li class="sub-categories-item" data-code="{{ patient_condition.code }}">
		<hr />
		<div class="sub-category-name category-name"><span class="sub-category-name-text"> {% if patient_condition.has_content_guide %} <a href="{% url 'patient.conditions' code=patient_condition.code %}"> {{patient_condition.name}} <span class="icon icon-patient-guide"></span> </a> {% else %} {{patient_condition.name}} {% endif %} </span></div>
		</li>
		{% endfor %}
	</ul>
	</div>
	</li>
	{% endfor %}
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-4">
<div class="resources-section">
<p class="landing-big-text">CURRENT PATIENTS</p>

<p class="landing-text">Our online portal offers tracking, results, and tools to help you connect seamlessly with your doctor and family.</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'patients' %}">LEARN MORE</a></div>

<div class="resources-section">
<p class="landing-big-text">CONSULT WITH A GENETICS EXPERT</p>

<ul class="simple-bullet-list landing-page-bullets">
	<li>
	<p class="landing-text">Invitae&#39;s Genetics Provider Network (GPN) can help you locate genetics professionals in your area who can help assess if genetic testing is right for you and, if so, can order your test</p>
	</li>
	<li>
	<p class="landing-text">Register for an account to search the GPN</p>
	</li>
</ul>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="/patients/signin/?next=/en/patients/gpn-search/">REGISTER</a></div>
</div>
</div>
</div>
<p><a name="video"></a></p>