<div class="row">
<div class="col-md-12">
<h3>Sending in a sample</h3>

<p>Invitae’s preferred sample type for our next-generation sequencing (NGS) assay is peripheral whole blood in a purple-top EDTA tube. Read more below for details on Invitae's sample and shipping requirements.</p>

<p>To make it as easy as possible for you to provide a whole blood sample, we can send you sample collection kits free of charge. We also offer a nationwide free phlebotomy service. We can schedule a blood draw appointment at your office or at your patient's home. Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more about both these services.</p>
</div>
</div>
