<div class="row">
<div class="col-md-12">
<h3>&iquest;Tiene preguntas y comentarios? H&aacute;ganos saber.</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<h4>Formulario de Contacto en L&iacute;nea</h4>

<form accept-charset="UTF-8" action="http://marketing.invitae.com/acton/forms/userSubmit.jsp" enctype="multipart/form-data" id="form_0020" method="post"><input id="campaignId" name="cmpid" type="hidden" /><input name="ao_a" type="hidden" value="7098" /> <input name="ao_f" type="hidden" value="0020" /> <input name="ao_d" type="hidden" value="0020:d-0001" /> <input id="ao_p" name="ao_p" type="hidden" value="0" /> <input id="ao_jstzo" name="ao_jstzo" type="hidden" value="" /> <input name="ao_cuid" type="hidden" value="" /> <input name="ao_srcid" type="hidden" value="" /> <input id="ao_bot" name="ao_bot" type="hidden" value="yes" /> <input name="ao_camp" type="hidden" value="" />
<div><input id="form_0020_fld_3_hidden" type="hidden" value="{{user_country_value}}" /></div>

<div><input id="form_0020_fld_4_hidden" type="hidden" value="{{user_state_value}}" /></div>
<input id="form_0020_fld_6_hidden" type="hidden" value="{{user_info.persona}}" />
<div class="row">
<div class="col-md-6">
<div class="formField"><label for="form_0020_fld_1_fn">Nombre <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <input class="l6e formFieldText formFieldMediumLeft" id="form_0020_fld_1_fn" name="First Name" type="text" value="" /></div>
</div>

<div class="col-md-6">
<div class="formField"><label for="form_0020_fld_1_ln">Apellido <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <input class="l6e formFieldText formFieldMediumRight" id="form_0020_fld_1_ln" name="Last Name" type="text" value="" /></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_1_em">Direcci&oacute;n de correo electr&oacute;nico <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <input class="l6e formFieldText formFieldLarge" id="form_0020_fld_1_em" name="Email" type="Email" value="" /></div>
</div>
</div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_1_fn'); addRequiredField ('form_0020_fld_1_ln'); addRequiredField ('form_0020_fld_1_em'); } if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0020_fld_1_em', 'EMAIL'); } </script>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_2">Tel&eacute;fono</label> <input class="formFieldText formFieldLarge" id="form_0020_fld_2" name="Phone" onblur="singleCheck ('form_0020_fld_2', 'ANYPHONE', 'form_0020_fld_2-Label')" type="text" /></div>
<script type="text/javascript">if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0020_fld_2', 'ANYPHONE'); addFieldToValidate ('form_0020_fld_2', 'LENGTH', 110); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_3">Pa&iacute;s<b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <select class="formFieldSmall" data-country="" data-country-value="#form_0020_fld_3_hidden" data-long-value="true" data-states-selector="#form_0020_fld_4" id="form_0020_fld_3" name="Country" size="1"></select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_3'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_4">Estado</label> <select class="formFieldSmall" data-state-value="#form_0020_fld_4_hidden" data-state-value-without-country="true" id="form_0020_fld_4" name="State" size="1"></select></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_5">Organizaci&oacute;n</label> <input class="formFieldText formFieldLarge" id="form_0020_fld_5" name="Organization" type="text" /></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_6">Soy un: <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <select class="formFieldSmall" data-persona="" id="form_0020_fld_6" name="Lead Type" size="1"></select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_6'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_7">Topic <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label> <select class="formFieldSmall" id="form_0020_fld_7" name="Contact form topic" size="1"><option value=""></option><option id="form_0020_fld_7-0" value="Testing Inquiries">Consultas sobre estudios</option><option id="form_0020_fld_7-1" value="Partnerships and Collaborations">Sociedades y colaboraciones</option><option id="form_0020_fld_7-2" value="Family History Tool">Herramienta de Antecedentes Familiares</option><option id="form_0020_fld_7-3" value="Media Inquiries">Consultas de los medios</option><option id="form_0020_fld_7-4" value="Investor Information">Informaci&oacute;n para inversores</option><option id="form_0020_fld_7-5" value="Other">Otro</option> </select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_7'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_4">Pregunta o comentario <b style="color: #FF0000; cursor: default" title="Required Field">*</b></label><textarea class="formTextArea formTextAreaLarge formTextAreaWidthLarge" id="form_0020_fld_8" name="Contact_Text"></textarea></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_8'); } </script></div>
</div>

<div class="row">
<div align="center" class="col-md-12" style="padding-left: 10px; padding-right: 10px"><input id="form_0020_fld_9" name="Lead Source" type="hidden" value="Website" /></div>
</div>

<div class="row">
<div align="center" class="col-md-12" style="padding-left: 10px; padding-right: 10px"><input id="form_0020_fld_10" name="Source Description" type="hidden" value="Contact Form" /></div>
</div>
<!-- BUTTONS -->

<div class="row">
<div class="col-md-12"></div>
</div>

<div class="row">
<div align="center" id="form_0020_ao_submit_button" style="padding-bottom: 10px"><input id="form_0020_ao_submit_input" name="Submit" onclick=" mixpanel.track2('Contacted Support',
{'Form': '/en/contact/', 'Role': 'request.user.get_profile.role'}
); doSubmit(document.getElementById('form_0020'));" type="button" value="Submit" /></div>

<div class="formNegCap"><input id="ao_form_neg_cap" name="ao_form_neg_cap" type="text" value="" /></div>
</div>
<img height="1" src="https://marketing.invitae.com/acton/form/7098/0020:d-0001/pgend.gif" width="1" /></form>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Consultas sobre Estudios</h4>

<p>Asistencia al cliente est&aacute; disponible de Lunes a Viernes, desde las 8:00 am hasta las 5:00 pm (Horario Est&aacute;ndar del Pac&iacute;fico)</p>

<p>Tel&eacute;fono: +1 415-374-7782</p>

<p>L&iacute;nea gratuita: 800-436-3037</p>

<p>En espa&ntilde;ol: +1 415-423-3277</p>

<p>Fax: +1 415-276-4164</p>

<p>Correo electr&oacute;nico: <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a></p>

<h4>Consultas internacionales</h4>

<p>Asistencia al cliente est&aacute; disponible de Lunes a Viernes, desde las 9:00 am hasta las 5:00 pm (Horario Est&aacute;ndar del Pac&iacute;fico)</p>

<p>Correo electr&oacute;nico: <a href="mailto:globalsupport@invitae.com">globalsupport@invitae.com</a></p>

<p>En Ingl&eacute;s: +1 415-930-4018</p>

<p>N&uacute;meros de tel&eacute;fono locales:</p>

<p>Argentina: +54 11-5032-0180</p>

<p>Brazil: +55 11-3181-4924</p>

<p>Chile: +56 2-2599-4386</p>

<p>Colombia: +57 1-486-4863</p>

<p>Mexico: +52 554-777-2190</p>

<p>Peru: +51 1-705-9827</p>

<p>Uruguay: +598 000-4019-0910</p>

<h4>Sociedades y Colaboraciones</h4>

<p>Correo electr&oacute;nico: <a href="mailto:bd@invitae.com">bd@invitae.com</a></p>

<h4>Consultas de los Medios</h4>

<p>Correo electr&oacute;nico: <a href="mailto:pr@invitae.com">pr@invitae.com</a></p>

<h4>Inversores</h4>

<p>Correo electr&oacute;nico: <a href="mailto:ir@invitae.com">ir@invitae.com</a></p>

<h4>Otras Consultas</h4>

<p>Correo electr&oacute;nico: <a href="mailto:info@invitae.com">info@invitae.com</a></p>

<h4>Casa central</h4>

<p><a href="https://maps.google.com/maps?q=458+Brannan+Street,+San+Francisco.+CA+94107" target="_blank">458 Brannan St.<br />
San Francisco, CA, 94107</a></p>

<h4>Laboratorio &amp; Env&iacute;os</h4>

<p><a href="https://www.google.com/maps/place/475+Brannan+St,+San+Francisco,+CA+94107" target="_blank">475 Brannan St. Ste. 230<br />
San Francisco, CA, 94107</a></p>
</div>
</div>
</div>
