<div class="row text-box">
<h2>Sus opciones de análisis</h2>

<p>Invitae se especializa en el estudio genético de afecciones hereditarias relacionadas con una variedad de disciplinas médicas, entre ellas, cardiología. cánceres hereditarios, neurología, medicina pediátrica y hematología. Encontrar el estudio genético correcto para usted depende de sus antecedentes médicos y familiares, su afección médica actual, y los tipos de respuestas que usted y su proveedor de atención médica busquen.</p>

<div class="serv-categories"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-matisse" href="/en/physician/search/?q=Cardiology"><span class="text"><span class="td">CARDIOLOGÍA</span></span> <span class="icon icon-heart-solid"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-bondi" href="/en/physician/search/?q=Hereditary+cancer"> <span class="text"><span class="td">CÁNCER HEREDITARIO</span></span> <span class="icon icon-ribbon"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-mountain" href="/en/physician/search/?q=Pediatric+genetics"> <span class="text"><span class="td">GENÉTICA PEDIÁTRICA</span></span> <span class="icon icon-teddy"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-willow2" href="/en/physician/search/?q=Neurology"> <span class="text"><span class="td">NEUROLOGÍA</span></span> <span class="icon icon-brain"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-emerald" href="/en/physician/search/?q=Hematology"> <span class="text"><span class="td">HEMATOLOGÍA</span></span> <span class="icon icon-drop-solid"></span> </a> <a href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf" class="col-sm-4 col-md-2 product bgcolor-silver" target="_blank"> <span class="text"><span class="td">CONSULTE LA LISTA COMPLETA</span></span> <span class="icon icon-pdf"></span> </a></div>
<br>
<br>
<br>
 </div>