<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5 image"><img src="/static/img/patient_portal/mac.jpg" alt="" class="img-responsive center-block"></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Seguimiento en línea</span></h2>

<p>Nuestro sistema de seguimiento en línea hace que sea más fácil para usted saber exactamente dónde se encuentra su muestra en el proceso de estudio. También puede ver sus resultados en línea una vez que su médico los haya revisado y divulgado.</p>

<p><a href="//fast.wistia.net/embed/iframe/2x8vj7bo1t?popover=true" class="btn btn-color-mountain btn-lg wistia-popover[height=400,playerColor=7b796a,width=640]" id=""><span class="icon icon-angle-right"></span>MIRE UN VIDEO</a></p>
<script src="//fast.wistia.com/assets/external/popover-v1.js" charset="ISO-8859-1"></script>

<p><a href="{% url 'patient.signup' %}" class="btn btn-color-mountain btn-lg" id=""><span class="icon icon-angle-right"></span> INSCRÍBASE</a></p>
</div>
</div>