<h2>How it works</h2>

<p>At Invitae, quality always comes first. Our <a href="https://www.invite.com/en/physician/category/CAT000015/#category-content-CAT000152">Breast Cancer STAT Panel</a> uses the same <a href="{% page_url 'portal_common.validation-studies' %}">thoroughly validated</a> process as our standard diagnostic tests—including all confirmation procedures.</p>

<p><strong>Ordering</strong><br>
Expand your search by <a href="{% page_url 'portal_common.re-requisition' %}">re-requisitioning</a> additional genes within the same clinical area. Please note that the STAT panel cannot be customized or combined with additional panels or genes at the time of the order.</p>

<p><strong>Billing</strong><br>
The STAT panel is available at the <a href="{% page_url 'portal_common.billing' %}">same price</a> as all of Invitae’s other panels, and we will not hold a sample or report while working with the patient’s insurance company.</p>

<p>We cannot guarantee that our benefits investigation will be complete before report release; in such instances, we will continue to work with your patient to determine the best payment option.</p>

<p><strong>Sample requirements</strong><br>
Invitae accepts blood and saliva samples for STAT panel orders; gDNA is not accepted for STAT turnaround. All other sample requirements <a href="{% page_url 'portal_common.sample-requirements' %}">remain the same</a>.</p>
