<ul class="bullet-list">
	<li>Rapid results in 8-12 calendar days</li>
	<li>Invitae will not hold a sample or report while managing insurance claims</li>
	<li>Same <a href="{% page_url 'portal_common.validation-studies' %}">high quality, peer-reviewed process</a> as Invitae’s other diagnostic tests</li>
	<li>Option to <a href="{% page_url 'portal_common.re-requisition' %}">expand to a larger hereditary cancer panel</a> if needed within 90 days of receiving STAT report, at no additional charge</li>
</ul>
