<ul class="bullet-list">
	<li>Rapid results in 5–12 calendar days (7 days on average)</li>
	<li>Two options: the 7–9-gene <a href="https://www.invitae.com/en/physician/tests/50001/">Invitae Breast Cancer STAT Panel</a> or the 2-gene <a href="https://www.invitae.com/en/physician/tests/50002/">Invitae BRCA1 and BRCA2 STAT Panel</a></li>
	<li>Invitae will not hold a sample or report while managing insurance claims</li>
	<li>Same <a href="{% page_url 'portal_common.validation-studies' %}">high quality, peer-reviewed process</a> as Invitae’s other diagnostic tests</li>
	<li>Option to <a href="{% page_url 'portal_common.re-requisition' %}">expand to a larger hereditary cancer panel</a> if needed within 90 days of receiving STAT report, at no additional charge</li>
</ul>
