<div style="padding-right:10%">
<div class="row">
<div class="col-sm-4"><img alt="" class="img-responsive" src="http://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-03c9/1/-/-/-/-/CHECKwordImage.png" /></div>

<div class="col-sm-4">
<h4>This toolkit is designed to guide clinicians through the entire screening process for patients at risk of hereditary cancers. CancerCHECK helps:</h4>

<ul class="bullet-list">
	<li>identify appropriate candidates for genetic testing</li>
	<li>choose the most appropriate guidelines-based genetic test for those patients</li>
	<li>identify medical management guidelines based on test results indicating risk for hereditary breast, ovarian and colorectal cancers.</li>
</ul>
</div>

<div class="col-sm-4">
<form action="http://dev-invitae.actonservice.com/acton/eform/17263/0006/d-ext-0001" class="form-wrapper" method="post"><input name="Source Description" type="hidden" value="Gated content: CancerCHECK" /> <input name="Lead Source" type="hidden" value="Website" /> <input id="ao_campid" name="ao_campid" type="hidden" /> <input name="Company" type="hidden" value="[not provided]" />
<p>Please provide your information to download the toolkit:</p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="First Name" type="text" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="Last Name" type="text" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="Email" type="text" /></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input id="cms_id_phone" name="phone" type="text" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>

<div style="text-align:center">
<p><button class="btn btn-lg btn-color-mountain" type="submit">Download</button></p>
</div>
</form>
</div>
</div>
</div>
