<div class="row">
                <div class="col-md-7">
                    <h3>The right choice for your patient.</h3>
					<p style="margin-bottom: 35px;">Invitae is making it easy and affordable to order the right CMT test for your patient. Whether you select the full CMT panel or a specific subtype, it's the same price of $1500.<sup>*</sup> Just three weeks on average from sample to results.</p>
					
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>Charcot-Marie-Tooth disease, full panel</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>A multi-gene panel that includes CMT type 1, CMT type 2, dominant intermediate CMT, CMT type 4, and CMT type X.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, autosomal dominant</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>This test includes the CMT subtypes that have an autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, type 1</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.condition-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>CMT type 1 is a demyelinating form of CMT with an autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, type 2</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.condition-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>CMT type 2 is an axonal form of CMT with a predominantly autosomal dominant pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, dominant intermediate</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.condition-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>Dominant intermediate CMT has both axonal and demyelinating defects and is inherited in an autosomal dominant pattern.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, autosomal recessive</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>This test includes the CMT subtypes that have an autosomal recessive pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, type 4</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.condition-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>CMT type 4 is primarily demyelinating, although a subset of cases are axonal. All forms of CMT type 4 are autosomal recessive.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, X-linked</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>This test includes the CMT subtypes that have an X-linked pattern of inheritance.</p>
                        </div>
                    </div>
                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>CMT, type X</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.condition-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>CMT type X has an intermediate presentation with both axonal and demyelinating defects. It is inherited in an X-linked pattern.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="cmt-testing-figure"><div class="content"></div></div>
                </div>
            </div>