<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Historias reales</a></li>
	<li>Debbi Crowder</li>
</ul>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">&#39;Una esperanza para un futuro m&aacute;s saludable&#39;</span></h2>

<h5>Debbi&nbsp;Crowder</h5>

<p>&ldquo;Vivimos en Kansas, donde los tornados son comunes, y los cimientos son importantes. Cuando un enorme tornado arras&oacute; nuestra cuidad hace unos a&ntilde;os, las casas construidas sobre una losa se destruyeron. Pero las casas con s&oacute;tanos, cimientos fuertes, fueron las que resistieron. Una familia es algo parecido a esto. Cuando una familia se sostiene sobre un cimiento fuerte de fe, esperanza y amor, puede superar las tormentas m&aacute;s dif&iacute;ciles de la vida.&quot;</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="allowfullscreen" allowtransparency="true" class="wistia_embed embed-responsive-item" frameborder="0" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" name="wistia_embed" oallowfullscreen="oallowfullscreen" scrolling="no" src="//fast.wistia.net/embed/iframe/9ll1tn7ors?videoFoam=true" webkitallowfullscreen="webkitallowfullscreen"></iframe></div>
</div>

<div class="col-md-12">
<p>&nbsp;</p>

<p><span style="font-size: 14px; line-height: 20px;"></span>Debbi Crowder creci&oacute; como hija de un ministro. Su hogar, construido sobre la fe, estaba lleno de amor, risas y m&uacute;sica. A los 25 a&ntilde;os de edad ya se hab&iacute;a casado con su novio de la escuela secundaria, Dick, y dado a luz a sus hijos Ric y Adam. Ella describe vivir una &quot;vida de cuento de hadas&quot;, pero justo despu&eacute;s del nacimiento de su primer hijo, su vida cambiar&iacute;a por completo.</p>

<p>Despu&eacute;s de ser sometido a una cirug&iacute;a de coraz&oacute;n de emergencia cuando ten&iacute;a dos meses de vida, Chad, el beb&eacute; reci&eacute;n nacido de Debbi y Dick muri&oacute; tr&aacute;gicamente en noche del D&iacute;a de Acci&oacute;n de Gracias.</p>

<p>Mientras atravesaba un per&iacute;odo de enorme dolor, Debbi ayud&oacute; a formar un grupo de apoyo para madres que hab&iacute;an experimentado la muerte de un beb&eacute; reci&eacute;n nacido. A trav&eacute;s de brindar consuelo a otros, Debbi pronto sinti&oacute; sanaci&oacute;n y se reconfort&oacute;. Con el tiempo, ella y Dick decidieron adoptar un beb&eacute;.</p>

<p>&ldquo;Matt era un torbellino de energ&iacute;a y el atleta de la familia&quot;, recuerda Debbi de su hijo. Jug&oacute; a todos los deportes mientras crec&iacute;a y entren&oacute; a un equipo juvenil de f&uacute;tbol cuando ya era adulto. Cuando Matt ten&iacute;a solo 27 a&ntilde;os, cay&oacute; desmayado y muri&oacute; mientras jugaba tenis con un amigo.</p>

<p>&ldquo;La familia y los amigos estaban completamente consternados. Era tan activo y saludable. Matt vivi&oacute; la vida intensamente. Nadie podr&iacute;a creer lo que hab&iacute;a sucedido. No hubo s&iacute;ntomas de aviso. No hubo dolor, falta de aire, debilidad ni irregularidades card&iacute;acas.&quot;</p>

<p>Matt muri&oacute; de miocardiopat&iacute;a hipertr&oacute;fica (HCM), una enfermedad gen&eacute;tica que produce hipertrofia muscular y agrandamiento del coraz&oacute;n. Debido a que el m&uacute;sculo card&iacute;aco (miocardio) aumenta anormalmente de tama&ntilde;o, puede verse dificultado el bombeo de sangre. Sin embargo, la afecci&oacute;n con frecuencia permanece sin ser diagnosticada.</p>

<p>Debido a que Matt era adoptado, los Crowder desconoc&iacute;an los antecedentes gen&eacute;ticos de su familia biol&oacute;gica. En el momento de su muerte, Matt dej&oacute; sola a una esposa y un hijo de cuatro meses llamado Griffin. La familia, en conjunto, decidi&oacute; hacerle un an&aacute;lisis de ADN a Griffin y descubrieron que &eacute;l tambi&eacute;n es portador de la misma mutaci&oacute;n gen&eacute;tica que su padre. Hoy, Griffin tiene nueve a&ntilde;os y es atendido de forma regular por un cardi&oacute;logo pediatra para controlar su afecci&oacute;n card&iacute;aca.</p>

<p>Comprender la enfermedad hereditaria result&oacute; especialmente duro para la familia Crowder despu&eacute;s de la muerte de Matt. Ellos tambi&eacute;n tienen una hija adoptiva, Maci, con la que han hablado pobre la posibilidad de realizarse un an&aacute;lisis de la secuencia del ADN para averiguar si hay alg&uacute;n &quot;secreto&quot; importante en su conformaci&oacute;n gen&eacute;tica. Su respuesta fue definitivamente &quot;s&iacute;&quot;.</p>

<p>Adem&aacute;s, los Crowder tambi&eacute;n tienen una nieta, Brittany, con una enfermedad gen&eacute;tica rara llamada galactosemia, la cual restringe la capacidad del cuerpo de procesar el az&uacute;car simple galactosa, un componente de la lactosa. Su afecci&oacute;n pudo ser identificada porque Kansas incluye la galactosemia en las pruebas de detecci&oacute;n mediante &quot;punci&oacute;n en el tal&oacute;n&quot; que se les realizan a los beb&eacute;s reci&eacute;n nacidos.</p>

<p>&ldquo;El an&aacute;lisis de la secuencia del ADN sol&iacute;a parecer algo perteneciente a una ciencia futurista&quot;, comenta Debbi. &quot;Ahora sabemos que est&aacute; disponible aqu&iacute; y ahora. Y ofrece a nuestra familia y muchas otras la posibilidad de comprender nuestros cuerpos, un mejor conocimiento de c&oacute;mo lidiar con enfermedades e incluso prevenirlas, y la esperanza de un futuro m&aacute;s saludable para las pr&oacute;ximas generaciones.&quot;</p>
<i>La historia de Debbi Crowder es una de las muchas que inspiraron a los fundadores de Invitae para comenzar su empresa. Debbi es parte de la familia de Randy Scott, director general de Invitae. Escuche m&aacute;s acerca de la manera en que su experiencia ayud&oacute; a comunicar la misi&oacute;n de Invitae en el video<a href="http://blog.invitae.com/randy-scott-biochemist-and-invitae-co-founder/">Genetics is about everybody</a>&quot; (La gen&eacute;tica es una cuesti&oacute;n que nos involucra a todos).</i></div>
</div>
