 <div class="section-overlay"></div>
        <h1 class="landing-section-header">Genetic testing, your way.</h1>
        <p class="landing-section-subhead">Working together to get the right answers for your patients.</p>
        <a class="btn btn-lg responsive-button btn-color-mountain" href="{% url 'portal_common.signup' %}">Get started</a>
        <div class="nav-scrollspy-link landing-scrollspy-link"><a class="icon-chevron-bracket-down" href="#genetics-video-section"></a></div>