<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Post-mortem specimens</h4>

<div class="expandable-content">
<div class="row">
<div class="col-md-12">After the death of a loved one from a suspected inherited condition, post-mortem genetic testing may provide valuable information for family members. Post-mortem testing may help confirm the deceased person’s cause of death, as well as clarify whether family members could benefit from genetic testing for the same condition.<br>
<br>
Post-mortem genetic testing involves consideration of several important factors prior to testing. Below is general information about Invitae’s testing process for post-mortem analysis. Due to the sensitive nature of this type of analysis and these specimens, we require that clinicians <a href="{% page_url 'portal_common.contact' %}">contact</a> us before sending a post-mortem specimen. Please note that at this time, we do not conduct exome testing on post-mortem samples.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Test type</strong></span></div>

<div class="col-md-10">Accepted for the following test type:
<ul class="bullet-list">
	<li class="col-md-10">Diagnostic testing (panels and exome)</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Specimen types</strong></span></div>

<div class="col-md-10">Please refer to the whole blood or DNA tabs on this page for specimen requirements.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Specimen quality</strong></span></div>

<div class="col-md-10">The success of genetic testing is dependent on specimen quality. While we make every effort to generate complete test results, this may not always be possible if a specimen is of poor quality. Deletion/duplication testing is not guaranteed for DNA isolated in other labs or for frozen blood.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Container</strong></span></div>

<div class="col-md-10">Containers accepted for whole blood post-mortem specimens:
<ul class="bullet-list">
	<li class="col-md-10">We prefer specimens sent in EDTA purple-top or pink-top tubes. We accept both K2EDTA and K3EDTA.</li>
	<li class="col-md-10">We accept specimens sent in gray-top tubes containing sodium fluoride and either potassium oxalate or Na2EDTA. Deletion/duplication analysis is not guaranteed for these specimens.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Specimen storage &amp; send-out</strong></span></div>

<div class="col-md-10">Invitae is unable to store or hold specimens at this time. We encourage consideration of DNA banking through other facilities specifically focused on long-term DNA storage.<br>
Specimens received that do not meet Invitae’s minimum requirements for testing may be returned to the sender. Specimens that meet minimum requirements will start the testing process and will likely be consumed.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Payment &amp; billing</strong></span></div>

<div class="col-md-10">Families have the option of paying $250 per <a href="https://www.invitae.com/en/clinical-areas/">clinical area</a> for testing when the test is ordered online by a clinician. For this option, a family member agrees to register the deceased patient through Invitae’s online <a href="{% url 'patient.signin' %}">patient portal</a> and provide payment by credit card upfront and in full. This family member must be the authorized next-of-kin because the portal will display test results, and these can only be accessed by authorized individuals. Please note that insurance does not typically cover post-mortem testing, so we cannot submit claims to insurers for tests performed on deceased patients.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Results reporting</strong></span></div>

<div class="col-md-10">The results of genetic testing are reported to the ordering clinician. The family member who registered the patient in the Invitae patient portal may request a copy of the patient’s test results, which will become available online once reviewed and released by the ordering clinician.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><span style="color:#1971AB;"><strong>Shipping requirements</strong></span></div>

<div class="col-md-10">Please refer to the whole blood or DNA tabs on this page for shipping requirements for these specimen types.</div>
</div>
</div>
</div>