<div class="row">
<div class="col-md-12">
<h3>Sending in a specimen</h3>

<p>Invitae’s preferred specimen type is fresh peripheral whole blood in a purple-top EDTA tube. We also accept saliva as well as DNA that has been isolated in other laboratories, although there are assay limitations for DNA specimens (for details, please see the “DNA” section below).</p>

<p>We offer free kits for either blood or saliva specimen collection. We also offer phlebotomy services at no additional charge within the US and Canada; we can schedule a blood draw appointment at your office or at your patient's home. Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more about both of these services.</p>
</div>
</div>
