<div class="row">
<div class="col-md-12">
<h4><strong>Invitae accepts sample types listed below and offers free kits for sample collection. Please visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more and <a href="/en/contact">contact</a> Client Services if you require any assistance.</strong></h4>

<h4>For diagnostic and proactive testing, saliva is the easiest specimen for patients to provide from home and enables results just as accurate as blood.</h4>

<h4>Invitae also accepts DNA that has been isolated in other laboratories, although there are assay limitations for previously-extracted DNA specimens (for details, please see the “DNA” section below). Please note that we cannot accept DNA specimens for exome or STAT testing at this time.</h4>
</div>
</div>