<div class="row">
<div class="col-md-12">
<h3>Opções que atendem às necessidades do seu paciente.</h3>

<p>A Invitae está tornando os testes de PEH mais acessíveis que nunca. Você pode solicitar um subtipo de PEH ou atualizar para qualquer um dos nossos painéis de multigenes pelo mesmo preço<sup>*</sup> baixo e leva apenas três semanas, em média, da amostra até os resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-9">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0015' %}"><span class="icon icon-angle-right"></span>Paraplegia espástica hereditária</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0015' %}">Ver Teste</a>

<p>Esse painel multigenes abrange os 17 genes mais prováveis de causar a PEH com ou sem complicações.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0080' %}"><span class="icon icon-angle-right"></span>PEH, sem complicações</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0080' %}">Ver Teste</a>

<p>Esse teste abrange os 10 genes mais prováveis de causar a PEH sem complicações. A apresentação clínica da PEH sem complicações ou "pura" é limitada aos sintomas clássicos de fraqueza espástica nas extremidades inferiores.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0102' %}"><span class="icon icon-angle-right"></span>PEH, com complicações</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0102' %}">Ver Teste</a>

<p>Esse teste abrange os 13 genes mais prováveis de causar a PEH com complicações. A apresentação clínica da PEH com complicações inclui os sintomas clássicos bem como características neurológicas adicionais.</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="hsp-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>