<div class="row">
<div class="col-md-12">
<h3>An&aacute;lisis flexibles; seleccione un panel &uacute;nico, combine varios paneles o personalice su propio panel.</h3>

<p>Invitae est&aacute; haciendo pruebas de cardiolog&iacute;a m&aacute;s r&aacute;pidas y m&aacute;s asequibles que nunca. Sin importar la prueba que elija, ofrecemos una tarifa &uacute;nica<sup>*</sup>. S&oacute;lo tres semanas en promedio desde la muestra hasta los resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0017' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de QT largo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">Ver Prueba</a>

<p>Un panel de 13 genes que incluye los cinco genes principales asociados con el s&iacute;ndrome de QT largo - KCNQ1, KCNH2, SCN5A, KCNE1 y KCNE2 - as&iacute; como ocho genes adicionales. Proporcionamos la secuenciaci&oacute;n gen&eacute;tica completa y an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n en una sola prueba.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0016' %}"><span class="icon icon-angle-right"></span> S&iacute;ndrome de Brugada </a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">Ver Prueba</a>

<p>Un panel de 10 genes que incluye el gen primario asociado con el s&iacute;ndrome de Brugada - SCN5A - as&iacute; como otros nueve genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0019' %}"><span class="icon icon-angle-right"></span>Cardiomiopat&iacute;a hipertr&oacute;fica</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">Ver Prueba</a>

<p>Un panel de 16 genes de la cardiomiopat&iacute;a hipertr&oacute;fica que incluye los 10 genes del sarc&oacute;mero primarios, as&iacute; como seis genes adicionales.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0018' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de QT corto</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">Ver Prueba</a>

<p>Un panel de seis genes que incluye KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1 y CACNA1C.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cardio-testing-figure">
<div class="content">&nbsp;</div>
</div>
</div>
</div>
