<div class="team-content active" id="team-specimen-content">
<div class="list-content row">
<div class="col-md-2">Tipos de Muestras</div>

<div class="col-md-10">Tipos de muestras aceptadas:
<ul class="bullet-list">
	<li>Aceptamos muestras de sangre entera.</li>
	<li>También aceptamos muestras de sangre congeladas o parcialmente congeladas, aunque no se admite el análisis de deleción/duplicación para las muestras de sangre congeladas o parcialmente congeladas en este momento.</li>
	<li>No aceptamos muestras de sangre hemolizada o coagulada.</li>
	<li>No aceptamos muestras de pacientes que han tenido un trasplante de médula ósea.</li>
	<li>No aceptamos muestras de los pacientes que tienen enfermedades malignas hematológicas activas.</li>
	<li>Los pacientes que han tenido una transfusión de sangre deben esperar por lo menos dos semanas a partir de la fecha de la transfusión antes de proporcionar una muestra.</li>
</ul>
Si bien también aceptamos ADN genómico (ADNg) que ha sido aislado en otros laboratorios, existen limitaciones en los ensayos cuando se utiliza este tipo de muestra. Para obtener más información, <a href="{% page_url 'portal_common.contact' %}">Comuníquese</a> con el equipo de atención al cliente de Invitae.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volumen</div>

<div class="col-md-10">Se requiere un mínimo de 3 mililitros (ml) de sangre entera, independientemente del número de genes que pida. 3 mililitros (ml) es el volumen mínimo requerido tanto para adultos como para niños.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Envase</div>

<div class="col-md-10">Se debe enviar la muestra en un tubo de EDTA con tapa morada (lila). Aceptamos tanto K2EDTA como K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">El tubo debe ser etiquetado con:
<ul class="bullet-list">
	<li>El nombre completo del paciente</li>
	<li>Un identificador único adicional
	<ul class="bullet-list">
		<li>Fecha de nacimiento</li>
		<li>Número de expediente médico</li>
		<li>Número IB, si lo coloca el médico que presenta la muestra</li>
		<li>ID de la solicitud de estudio de Invitae (RQ#)</li>
		<li>Número de seguro social u otra identificación única</li>
	</ul>
	</li>
	<li>Fecha de recolección de la muestra</li>
</ul>
El nombre del paciente y el identificador único adicional escritos en el tubo deben <strong>coincidir</strong> con el nombre y el identificador proporcionado cuando se colocó la solicitud de estudio.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento &amp; Estabilidad</div>

<div class="col-md-10">Se recomienda utilizar el servicio de envío rápido de la noche a la mañana el mismo día en que se recoge la muestra de sangre.
<ul class="bullet-list">
	<li>Si la muestra de sangre se almacena a temperatura ambiente, es viable por hasta 48 horas.</li>
	<li>Si la muestra de sangre se refrigera, es viable hasta por una semana.</li>
	<li>No congele la muestra de sangre si requiere el análisis de deleción/duplicación. Las muestras de sangre congeladas o parcialmente congeladas no son aptas para el análisis de deleción/duplicación.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentación</div>

<div class="col-md-10">Se debe presentar junto con la muestra una copia impresa del formulario de solicitud en línea. Podrá imprimir una copia del formulario de solicitud luego de haber completado el proceso de solicitud en línea.</div>
</div>
</div>

<div class="team-content" id="team-shipping-content">
<div class="list-content row">
<div class="col-md-2">Información de Envío</div>

<div class="col-md-10">Las muestras deben ser enviadas con el servicio de envío rápido de la noche a la mañana a temperatura ambiente. Se recomienda incluir packs fríos en climas cálidos para mantener la muestra a 2-8 grados centígrados (35,6 a 46,6 grados Fahrenheit).</div>
</div>

<div class="list-content row">
<div class="col-md-2">Kits de Recolección de Muestras</div>

<div class="col-md-10">Para ayudarle con la recolección y el envío de las muestras, puede solicitar un kit de recolección de muestras de Invitae sin costo alguno usando nuestro formulario en línea de solicitud de <a href="{% page_url 'portal_common.request-a-kit' %}">kit de recolección de muestras</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Autoenvío</div>

<div class="col-md-10">
<p>Si lo prefiere, puede enviarnos la muestra en un envase a prueba de golpes a través de FedEx Priority Overnight (de acuerdo con la <a target="blank>" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Guía de Embalaje de Federal Express para Muestras Clínicas</a>). <a href="{% page_url 'portal_common.contact' %}">Comuníquese</a> con el equipo de atención al cliente de Invitae para obtener el número de cuenta de FedEx.</p>

<p>Enviar a:</p>
Atención: Invitae Client Services<br>
Invitae Corporation<br>
475 Brannan St, Suite 230<br>
San Francisco, CA 94107</div>
</div>

<div class="list-content row">
<div class="col-md-2">Horario de Envío</div>

<div class="col-md-10">Invitae acepta paquetes de lunes a viernes. Le recomendamos que envíe su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el sábado. Invitae sigue el <a target="blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendario de servicios en días feriados de FedEx.</a>.</div>
</div>
</div>
