<div class="row">
<div class="col-md-12">
<h3>Tipos de muestras</h3>

<p>El tipo de muestra preferido de Invitae para nuestro ensayo de secuenciación de nueva generación es sangre entera periférica en un tubo EDTA de tapa morada. También aceptamos ADN genómico (ADNg) que haya sido aislado en otros laboratorios, pero existen limitaciones para los ensayos cuando se usa este tipo de muestra. Para obtener información detallada, consulte la sección ADNg a continuación.</p>

<p>Para que le resulte lo más fácil posible proporcionar una muestra de sangre entera, podemos enviarle kits de recolección de muestras gratuitos. También ofrecemos servicios de flebotomía sin cargo adicional dentro de Norteamérica; podemos programar una cita para extracción de sangre en su consultorio o en la casa de su paciente. Visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener más información.</p>
</div>
</div>