<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li id="team-blood" class="{% if active == 'account' %}active{% endif %}team-button active"><a href="#team-blood-content">Muestras de sangre entera</a></li>
	<li id="team-saliva" class="{% if active == 'shipping' %}active{% endif %}team-button"><a href="#team-saliva-content">Muestras de saliva</a></li>
	<li id="team-gdna" class="{% if active == 'password' %}active{% endif %}team-button"><a href="#team-gdna-content">Muestras de ADNg</a></li>
	<li id="team-postmortem" class="{% if active == 'contact' %}active{% endif %}team-button"><a href="#team-postmortem-content">Muestras post mortem</a></li>
</ul>
</div>
</div>
