<div class="row">
<div class="col-md-12">
<h3>Tipos de muestras</h3>

<p>La muestra preferida de Invitae para nuestro ensayo de secuenciación de próxima generación es de sangre periférica entera en un tubo EDTA de tapa morada (lila).</p>

<p>Para que le resulte lo más sencillo posible proporcionar una muestra de sangre entera, podemos enviarle, sin costo alguno, kits de recolección de muestras. También ofrecemos un servicio de flebotomía gratuita en todo el país. Podemos programar una cita para extracción de sangre en su consultorio o en la casa de su paciente. Visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener más información.</p>
</div>
</div>
