<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li class="{% if active == 'account' %}active{% endif %}team-button active" id="team-blood"><a href="#team-blood-content">Muestras de sangre entera</a></li>
	<li class="{% if active == 'password' %}active{% endif %}team-button" id="team-gdna"><a href="#team-gdna-content">Muestras de ADNg</a></li>
	<li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-postmortem"><a href="#team-postmortem-content">Muestras post mortem</a></li>
	<li class="{% if active == 'shipping' %}active{% endif %}team-button" id="team-shipping"><a href="#team-shipping-content">Información de envío</a></li>
</ul>
</div>
</div>
