<div class="row">
<div class="col-md-12">
<h3>Amplie sua pesquisa.</h3>

<p>O servi&ccedil;o de nova requisi&ccedil;&atilde;o da Invitae &eacute; oferecido sem qualquer custo adicional e fornece a flexibilidade de que voc&ecirc; precisa para solicitar os genes certos, no ritmo certo.</p>

<p>Dependendo do hist&oacute;rico cl&iacute;nico e familiar do paciente, pode ser apropriado come&ccedil;ar com um teste gen&eacute;tico menor e recorrer a um painel mais amplo se os resultados iniciais forem negativos ou inconclusivos. V<span style="font-family: inherit; font-style: inherit; font-variant: inherit; line-height: 1.5em;">oc&ecirc; poder&aacute; testar mais genes</span><sup style="font-family: inherit; font-style: inherit; font-variant: inherit;">*</sup><span style="font-family: inherit; font-style: inherit; font-variant: inherit; line-height: 1.5em;"> relacionados com a &aacute;rea cl&iacute;nica original do teste, sem qualquer custo adicional.</span></p>

<ul class="bullet-list">
	<li>Nenhuma nova amostra &eacute; necess&aacute;ria<sup>**</sup></li>
	<li>Nenhum custo adicional pelo relat&oacute;rio do novo teste</li>
	<li>Tempo m&eacute;dio de retorno de tr&ecirc;s semanas para os novos resultados</li>
</ul>

<p class="endnote"><sup>*</sup>Aplica-se apenas aos genes dispon&iacute;veis no momento da solicita&ccedil;&atilde;o original.<br />
<sup>**</sup>Se um resultado positivo for encontrado na nova requisi&ccedil;&atilde;o, uma nova amostra poder&aacute; ser necess&aacute;ria para testes de confirma&ccedil;&atilde;o.</p>

<h4><strong>Quem &eacute; eleg&iacute;vel?</strong></h4>

<p>Um caso &eacute; eleg&iacute;vel para uma (1) nova requisi&ccedil;&atilde;o, sem custo adicional, se:</p>

<ul class="bullet-list">
	<li>A solicita&ccedil;&atilde;o da nova requisi&ccedil;&atilde;o for efetuada em at&eacute; 90 dias ap&oacute;s a libera&ccedil;&atilde;o do relat&oacute;rio original</li>
	<li>Os genes adicionados forem relacionados &agrave; indica&ccedil;&atilde;o original do paciente para o teste</li>
</ul>

<p>Al&eacute;m de 90 dias ap&oacute;s a data de libera&ccedil;&atilde;o do relat&oacute;rio original, ser&atilde;o cobrados US$ 475 ao seu paciente pelas novas requisi&ccedil;&otilde;es relacionadas &agrave; mesma &aacute;rea cl&iacute;nica (apenas genes dispon&iacute;veis no momento da solicita&ccedil;&atilde;o original s&atilde;o eleg&iacute;veis).</p>

<h4><strong>Como fazer uma nova requisi&ccedil;&atilde;o?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>Para usar nossa ferramenta automatizada de nova requisi&ccedil;&atilde;o:</p>

<ul class="bullet-list">
	<li>Fa&ccedil;a o login na sua conta e veja a sua p&aacute;gina de hist&oacute;rico de solicita&ccedil;&otilde;es.</li>
	<li>Selecione a solicita&ccedil;&atilde;o para a qual voc&ecirc; gostaria de fazer uma nova requisi&ccedil;&atilde;o.</li>
	<li>Clique no bot&atilde;o &quot;Exibir op&ccedil;&otilde;es&quot; na se&ccedil;&atilde;o de nova requisi&ccedil;&atilde;o da p&aacute;gina Estado da Requisi&ccedil;&atilde;o.</li>
	<li>Use a ferramenta de nova requisi&ccedil;&atilde;o para selecionar genes adicionais, pain&eacute;is ou dist&uacute;rbios para o seu paciente.</li>
</ul>

<p>Voc&ecirc; tamb&eacute;m pode entrar em contato com o atendimento ao cliente para obter mais informa&ccedil;&otilde;es (n&atilde;o inclua registros m&eacute;dicos ou informa&ccedil;&otilde;es m&eacute;dicas na sua pergunta inicial):</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
</ul>

<h4><strong>E se eu quiser fazer uma solicita&ccedil;&atilde;o relacionada a uma &aacute;rea cl&iacute;nica diferente para o teste?</strong></h4>

<p>Voc&ecirc; pode fazer a qualquer momento uma nova requisi&ccedil;&atilde;o de genes adicionais relacionados a outras &aacute;rea cl&iacute;nica para o teste. Essas solicita&ccedil;&otilde;es ser&atilde;o cobradas separadamente como uma nova solicita&ccedil;&atilde;o e tamb&eacute;m podem exigir uma nova amostra, dependendo da &aacute;rea cl&iacute;nica da nova indica&ccedil;&atilde;o.</p>
</div>
</div>
