<div class="row">
<div class="col-sm-6 col-lg-7 privacy-message">
<h3>Apoyo</h3>

<p>Consulte nuestra guía del usuario para ver las instrucciones paso a paso de la herramienta de antecedentes familiares.</p>
<a class="btn btn-color-inherit btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" target="_blank"><span class="icon icon-files"></span>Guía del Usuario</a>

<p>&nbsp;</p>

<h3>Privacidad</h3>

<p>Nos comprometemos a proteger la seguridad y la confidencialidad de la información personal, la información genética y los resultados de las pruebas de su paciente.</p>

<p>Para obtener información más detallada, consulte nuestro <a href="{% page_url 'portal_common.privacy-practices' %}" target="_blank"> Aviso sobre Prácticas de Privacidad</a> y nuestra <a href="{% page_url 'portal_common.privacy-policy' %}" target="_blank">Política de Privacidad</a>.</p>
</div>

<div class="clearfix visible-xs"><br />
&nbsp;</div>

<div class="col-sm-6 col-lg-5 family-history-email">
<h3>¿Tiene preguntas o comentarios?</h3>

<div class="email-icon">
<div class="content">
<h4>Nos gustaría<br />
conocer su opinión!</h4>

<p>Correo electrónico: <a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
</div>
</div>
</div>
</div>