<div class="row">
<div class="col-md-12">
<h3>Programa de Resolu&ccedil;&atilde;o de VSI da Invitae</h3>

<p>A fim de ajudar a resolver as variantes de significado incerto (VSI) nos resultados do teste, a Invitae oferece um teste de acompanhamento, sem custo adicional, para selecionar os membros da fam&iacute;lia de pacientes previamente testados na Invitae.</p>

<h4><strong>Benef&iacute;cios da Resolu&ccedil;&atilde;o de VSI</strong></h4>

<p>Em alguns casos, a identifica&ccedil;&atilde;o de uma variante gen&eacute;tica em um indiv&iacute;duo n&atilde;o &eacute; o suficiente para determinar a sua import&acirc;ncia cl&iacute;nica. Em alguns desses casos, um teste dos membros adicionais da fam&iacute;lia pode esclarecer a rela&ccedil;&atilde;o entre a variante e a doen&ccedil;a. O objetivo desse processo &eacute; reclassificar o VSI como benigno ou patog&ecirc;nico e resolver a incerteza do resultado do teste.</p>

<h4><strong>O que esperar</strong></h4>

<p>A reclassifica&ccedil;&atilde;o da variante se baseia em informa&ccedil;&otilde;es coletadas de v&aacute;rias fam&iacute;lias. A participa&ccedil;&atilde;o neste programa pode n&atilde;o resultar em uma reclassifica&ccedil;&atilde;o imediata, mas pode fornecer informa&ccedil;&otilde;es que contribuem para o processo. Se uma variante for reclassificada, a Invitae emitir&aacute; relat&oacute;rios atualizados com a nova interpreta&ccedil;&atilde;o para todos os indiv&iacute;duos que tiverem a variante.</p>

<p>A Invitae suporta o compartilhamento de nossas interpreta&ccedil;&otilde;es de variantes e disponibiliza publicamente as interpreta&ccedil;&otilde;es de variantes n&atilde;o identificadas aos pesquisadores e m&eacute;dicos atrav&eacute;s dos bancos de dados <a href="http://www.ncbi.nlm.nih.gov/clinvar/" target="blank">Clinvar</a> e <a href="{% page_url 'portal_common.clinvitae' %}" target="blank">Clinvitae</a>. A participa&ccedil;&atilde;o neste programa pode, por fim, ajudar muitas fam&iacute;lias em situa&ccedil;&otilde;es semelhantes.</p>

<h4><strong>Quem &eacute; eleg&iacute;vel?</strong></h4>

<p>Nem todas as variantes podem ser resolvidas com esse tipo de an&aacute;lise e nem todos os membros da fam&iacute;lia podem fornecer dados informativos. As decis&otilde;es sobre a elegibilidade para o programa s&atilde;o baseadas em:</p>

<ul class="bullet-list">
	<li>Estrutura familiar, status patol&oacute;gico e apresenta&ccedil;&atilde;o cl&iacute;nica dos indiv&iacute;duos dispon&iacute;veis</li>
	<li>Tipo de altera&ccedil;&atilde;o na sequ&ecirc;ncia em quest&atilde;o</li>
	<li>Gene em que o VSI foi identificado</li>
	<li>Padr&otilde;es de hereditariedade e penetr&acirc;ncia da(s) doen&ccedil;a(s) associada(s) ao gene</li>
</ul>

<p>Alguns genes n&atilde;o s&atilde;o eleg&iacute;veis para o nosso programa de Resolu&ccedil;&atilde;o de VSI; visite a nossa p&aacute;gina <a href="{% page_url 'portal_common.gene-eligibility' %}">Elegibilidade do Gene</a> para obter detalhes sobre as regras de elegibilidade para genes relacionados ao c&acirc;ncer e cardiologia.</p>

<p>Se a nossa equipe cl&iacute;nica determinar que um caso pode ser eleg&iacute;vel para o nosso programa de resolu&ccedil;&atilde;o de VSI, o relat&oacute;rio cl&iacute;nico original incluir&aacute; uma declara&ccedil;&atilde;o recomendando a considera&ccedil;&atilde;o da resolu&ccedil;&atilde;o de VSI.</p>

<h4><strong>Como fazer a inscri&ccedil;&atilde;o?</strong></h4>

<p>Se uma recomenda&ccedil;&atilde;o para considerar a resolu&ccedil;&atilde;o de VSI foi emitida no relat&oacute;rio do teste do seu paciente e voc&ecirc; estiver interessado em participar, forne&ccedil;a:</p>

<ul class="bullet-list">
	<li>O n&uacute;mero de ID da solicita&ccedil;&atilde;o (&ldquo;n&uacute;mero RQ&rdquo;) do paciente original</li>
	<li>Uma &aacute;rvore geneal&oacute;gica familiar detalhada, incluindo os hist&oacute;ricos cl&iacute;nicos de todos os membros afetados</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>O m&eacute;todo de contato prefer&iacute;vel &eacute; atrav&eacute;s do nosso sistema seguro de mensagens em sua conta on-line. Para acessar esse sistema, fa&ccedil;a login em sua conta, visualize o seu hist&oacute;rico de solicita&ccedil;&otilde;es e selecione o n&uacute;mero de ID da solicita&ccedil;&atilde;o do paciente original. Clique na guia &quot;Mensagens&quot; para entrar em contato conosco sobre sobre a resolu&ccedil;&atilde;o de VSI e carregue a &aacute;rvore geneal&oacute;gica do paciente de forma segura e compat&iacute;vel com as leis do HIPAA.</p>

<p>Voc&ecirc; tamb&eacute;m pode entrar em contato com o atendimento ao cliente para obter mais informa&ccedil;&otilde;es (n&atilde;o inclua registros m&eacute;dicos ou informa&ccedil;&otilde;es m&eacute;dicas na sua pergunta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=VUS%20resolution">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Ferramenta de Hist&oacute;rico Familiar</a>

<p>Incentivamos o uso da Ferramenta de Hist&oacute;rico Familiar Invitae para enviar facilmente uma &aacute;rvore geneal&oacute;gica para este programa. Saiba mais sobre esse aplicativo gratuito.</p>

<p>Uma vez que as informa&ccedil;&otilde;es forem enviadas e analisadas pela nossa equipe cl&iacute;nica, entraremos em contato com voc&ecirc; em rela&ccedil;&atilde;o a quais parentes podem se qualificar para este programa de teste, sem custo adicional. O nosso processo de revis&atilde;o da resolu&ccedil;&atilde;o de VSI leva uma semana, em m&eacute;dia.</p>

<h4><strong>E se eu quiser testar indiv&iacute;duos que n&atilde;o se qualificam para o programa de resolu&ccedil;&atilde;o de VSI?</strong></h4>

<p>Para os casos que n&atilde;o se qualificarem para a resolu&ccedil;&atilde;o de VSI sem custo adicional, a Invitae oferecer&aacute; testes de variantes familiares por apenas US$ 200 para cada gene em que um VSI foi encontrado. Saiba mais sobre este programa em nossa p&aacute;gina <a href="{% page_url 'portal_common.family-testing' %}">Testes de Variantes Familiares</a>.</p>
</div>
</div>