<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input value="{{ user.contact_info.phone }}" type="text" name="phone" id="cms_id_phone"></div>

<div class="field-wrapper required"><label for="cms_id_city">City</label><input value="{{ user.contact_info.city }}" type="text" name="city" id="cms_id_city"></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">ZIP/Postcode</label><input value="{{ user.contact_info.zipcode }}" type="text" name="zipcode" id="cms_id_zipcode"></div>

<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-long-value="true" data-country-value="#cms_id_country_value" name="country" data-states-selector="#cms_id_state" id="cms_id_country" data-country=""></select>

<div><input value="<!--{cke_protected}%7B%7B%20user.contact_info.country%20%7D%7D-->" type="hidden" id="cms_id_country_value"></div>
</div>

<div class="field-wrapper required"><label for="cms_id_state">State/Province</label><select data-state-value="#cms_id_state_value" name="state" data-long-value="true" id="cms_id_state"></select>

<div><input value="<!--{cke_protected}%7B%7B%20user.contact_info.state%20%7D%7D-->" type="hidden" id="cms_id_state_value"></div>
</div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input value="{{ user.userprofile.practice.name }}" type="text" name="organization" id="cms_id_organization"></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" name="specialty" id="cms_id_specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select><button type="submit" class="btn btn-lg btn-color-mountain">Continue</button></div>