<div class="row">
<div class="col-md-12">
<h3>The value of multi-gene panels for hereditary cancer patients.</h3>

<p>To demonstrate the value of multi-gene panels in hereditary cancer risk assessment, Invitae collaborated with Stanford University researchers, James Ford, M.D., and Allison W. Kurian, MD, MSc. The results of this research, recently published in the <i>Journal of Clinical Oncology</i>, show that that multi-gene hereditary cancer panels can offer comparable performance to traditional BRCA1/2 genetic testing and can provide additional clinical benefit to doctors and patients seeking cancer risk assessment.</p>

<h4>Reference</h4>
<a href="http://jco.ascopubs.org/content/early/2014/04/09/JCO.2013.53.6607">Kurian, A.W., et al. Clinical Evaluation of a Multiple-Gene Sequencing Panel. <i>JCO</i> published online on April 14, 2014; DOI:10.1200/JCO.2013.53.2630.</a>

<h3 style="margin:40px 0 20px 0;">Study Design</h3>

<p>The study utilized a panel of 42 cancer risk genes selected for clinical and research relevance that were tested by Invitae on biobanked germline DNA from 198 women who had been referred for hereditary breast and ovarian cancer testing to the Stanford University Medical Center. These individuals had been previously tested for BRCA1/2 by an independent laboratory. Of the patients who participated in this study, 174 had breast cancer and 57 carried pathogenic germline variants in BRCA1/2.</p>

<h3 style="margin:40px 0 20px 0;">Results summary</h3>

<p style="margin:0px 0 20px 0;"><strong>High concordance with previous BRCA test results</strong></p>

<p>The study found that BRCA1/2 results from Invitae’s panel were highly concordant with previous clinical BRCA1/2 test results on these individuals.</p>

<p>In addition to the study described here, Invitae has also embarked on a large rigorous clinical study to validate our analytic results and clinical interpretations, for more information about this research, please visit our <a href="{% page_url 'portal_common.validation-studies' %}">Validation page.</a></p>

<p style="margin:0px 0 20px 0;"><strong>Identification of additional cancer risk genes</strong></p>

<p>Among the 141 BRCA-negative women, Invitae’s panel identified additional risk variants in the MLH1, CDH1, NBN, ATM, MUTYH, CDKN2A, SLX4, BLM, and PRSS1 genes.</p>

<p style="margin:0px 0 20px 0;"><strong>Informing medical management</strong></p>

<p>Based on the identification of new risk variants in genes beyond BRCA1/2, Stanford’s clinical staff determined that about 9% (13 of 141) participants warranted re-contact and additional counseling based on this new information. Stanford provided personalized recommendations for additional screening and other potential changes in care were provided as appropriate. The Stanford team found that this counseling was both feasible and was appreciated by the patients.</p>

<p style="margin:0px 0 20px 0;"><strong>A case study of better patient care</strong></p>

<p><em>Background:</em> One of the patients described above is a woman who had been diagnosed with unilateral breast cancer in her mid-40s. At the time of her original diagnosis, the patient received a negative BRCA1/2 test report from an independent laboratory, and consented to have her DNA biobanked.</p>

<p><em>New Results:</em> In this study, the patient was found to have a pathogenic variation in the gene MLH1 associated with Lynch syndrome. Following IRB-approved protocol, the patient was re-contacted and the MLH1 results independently confirmed and communicated to her.</p>

<p><em>Outcome:</em> In the time between the BRCA1/2 and gene panel tests, the patient had been diagnosed with endometrial cancer. Additionally, a baseline colonoscopy had been performed at age 50 with negative results, and she had been told to come back at age 60. Following communication of her MLH1 status, she underwent an early second colonoscopy and a polyp was found and removed. She is currently 53 years old, so this tubular adenoma was caught 7 years earlier than if no broad genetic test had been performed.</p>

<p style="margin:0px 0 20px 0;"><strong>Assessing Variant of Uncertain Significance (VUS) rates</strong></p>

<p>This research study reported an average of 2.1 VUSs per patient across the complete panel of 42 genes selected for clinical and research relevance.</p>

<p>Following this research study, Invitae developed our <a href="{% page_url 'portal_common.brca-testing' %}">commercial test</a> for hereditary cancer focusing on 29 of the most clinically relevant cancer risk genes. Invitae's 29-gene test reduces the panel-wide VUS rate to about 0.7 VUS per patient and about 40% of patients receive an uncertain test result in any of these 29 genes (because some patients carry more than one VUS).</p>

<p>Invitae is working to help the clinical and scientific community reduce VUS rates for all genetic tests. Read more about the inevitable fall of VUS rates in this blog post by Invitae's own John Garcia, <a href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">Is better patient care dependent on sharing genetic data?</a></p>
</div>
</div>
