<div class="row">
<div class="col-md-12">
<h3>La importancia de los paneles multi-gen para pacientes con c&aacute;ncer hereditario.</h3>

<p>Para demostrar la importancia de los paneles que incluyen m&uacute;ltiples genes en la estimaci&oacute;n del riesgo de c&aacute;ncer hereditario, Invitae colabor&oacute; con los investigadores James Ford, M.D. y Allison W. Kurian, MD, MSc. de la Universidad de Stanford. Los resultados de esta investigaci&oacute;n, publicados recientemente en <i>Journal of Clinical Oncology</i>, demostraron que los paneles multi-gen para c&aacute;ncer hereditario ofrecen un desempe&ntilde;o comparable a los estudios gen&eacute;ticos tradicionales para <i>BRCA1/2</i>, y pueden proveer beneficios cl&iacute;nicos adicionales, tanto a los m&eacute;dicos como a los pacientes en b&uacute;squeda de la evaluaci&oacute;n del riesgo para desarrollar c&aacute;ncer.</p>

<h4>Referencia</h4>
<a href="http://jco.ascopubs.org/content/early/2014/04/09/JCO.2013.53.6607" target="_blank">Kurian, A.W., et al. Clinical Evaluation of a Multiple-Gene Sequencing Panel. JCO published online on April 14, 2014; DOI:10.1200/JCO.2013.53.2630.</a>

<h3 style="margin:40px 0 20px 0;">Dise&ntilde;o del Estudio</h3>

<p>En este estudio se utiliz&oacute; un panel de 42 genes de riesgo de c&aacute;ncer, seleccionados por su relevancia cl&iacute;nica y cient&iacute;fica. Se us&oacute; ADN de l&iacute;nea germinal, almacenados en bancos de ADN, correspondientes a 198 mujeres que hab&iacute;an sido derivadas al Centro M&eacute;dico de la Universidad de Stanford para la realizaci&oacute;n de un estudio gen&eacute;tico para c&aacute;ncer de mama y ovario hereditario. En todos los casos se analizaron previamente los genes <i>BRCA1</i> y <i>BRCA2</i> en un laboratorio independiente. De las pacientes que participaron en este estudio, 174 tuvieron c&aacute;ncer de mama y 57 portaban variantes patog&eacute;nicas en los genes <i>BRCA1/2</i>.</p>

<h3 style="margin:40px 0 20px 0;">Resumen de los Resultados</h3>

<p style="margin:0px 0 20px 0;"><strong>Alta concordancia con resultados de an&aacute;lisis de <i>BRCA</i> previos.</strong></p>

<p>Este estudio mostr&oacute; que los resultados del an&aacute;lisis de los genes <i>BRCA1/2</i> con los paneles de Invitae fueron altamente concordantes con los resultados de los estudios cl&iacute;nicos previos de los genes <i>BRCA1/2</i>, realizados en el laboratorio de referencia.</p>

<p>Adem&aacute;s del estudio ac&aacute; descrito, Invitae se embarc&oacute; en un gran y riguroso estudio cl&iacute;nico para validar nuestros resultados anal&iacute;ticos e interpretaciones cl&iacute;nicas. Para mayor informaci&oacute;n sobre esta investigaci&oacute;n, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.validation-studies' %}">Estudios de Validaci&oacute;n.</a></p>

<p><strong>Identificaci&oacute;n de genes adicionales de riesgo de c&aacute;ncer</strong></p>

<p>Entre las 141 pacientes <i>BRCA</i> negativos, el panel de Invitae permiti&oacute; identificar variantes de riesgo adicionales en los genes <i>MLH1, CDH1, NBN, ATM, MUTYH, CDKN2A, SLX4, BLM</i> y <i>PRSS1</i>.</p>

<p style="margin:0px 0 20px 0;"><strong>Informaci&oacute;n para el manejo cl&iacute;nico</strong></p>

<p>Basados en la identificaci&oacute;n de nuevas variantes de riesgo en genes distintos a<i> BRCA1/2,</i> el grupo cl&iacute;nico de Stanford determin&oacute; que en cerca del 9% de los participantes (13 de 141) se justifica recontactar y otorgar asesoramiento adicional sobre la base de esta nueva informaci&oacute;n. Stanford entreg&oacute; recomendaciones personalizadas para un tamizaje adicional, y posibles cambios en la atenci&oacute;n cl&iacute;nica. El equipo de Stanford encontr&oacute; que esta consejer&iacute;a fue factible y valorada por los pacientes.</p>

<p style="margin:0px 0 20px 0;"><strong>Caso cl&iacute;nico para una mejor atenci&oacute;n al paciente.</strong></p>

<p><em>Antecedentes:</em> Uno de los pacientes descritos anteriormente es una mujer diagnosticada con c&aacute;ncer de mama unilateral a mediados de su cuarta d&eacute;cada de vida. Al tiempo del diagn&oacute;stico original, la paciente recibi&oacute; un informe de an&aacute;lisis de los genes <i>BRCA1/2</i> con resultado negativo, emitido por un laboratorio independiente, y dio su consentimiento para que su ADN fuese guardado en un banco de ADN.</p>

<p><em>Nuevos Resultados: </em> En este estudio, se encontr&oacute; que la paciente portaba una variante patog&eacute;nica en el gen <i>MLH1</i>, asociada al s&iacute;ndrome de Lynch. De acuerdo al protocolo aprobado por el comit&eacute; revisor institucional, el resultado fue confirmado independientemente, y el paciente fue nuevamente contactado, comunic&aacute;ndosele el resultado del an&aacute;lisis del gen <i>MLH1</i>.</p>

<p><em>Resultado:</em> En el tiempo transcurrido entre el an&aacute;lisis de los genes <i>BRCA1/2</i> y el panel de genes de Invitae, la paciente fue diagnosticada con c&aacute;ncer de endometrio. Adem&aacute;s, se realiz&oacute; una colonoscopia basal a los 50 a&ntilde;os de edad, con resultado negativo, y se le dijo que volviera a los 60 a&ntilde;os. Tras la comunicaci&oacute;n de su estado mutacional de <i>MLH1</i>, se someti&oacute; a una segunda colonoscopia temprana, encontr&aacute;ndose un p&oacute;lipo que fue removido. En la actualidad, la paciente tiene 53 a&ntilde;os, por lo que este adenoma tubular fue detectado 7 a&ntilde;os antes, que si no se hubiese realizado una an&aacute;lisis gen&eacute;tico amplio.</p>

<p style="margin:0px 0 20px 0;"><strong>Evaluaci&oacute;n de la tasa de Variantes de Significado Incierto.</strong></p>

<p>Este estudio de investigaci&oacute;n report&oacute; un promedio de 2,1 VUSs por paciente de entre los 42 genes del panel de Invitae, seleccionados seg&uacute;n su relevancia cl&iacute;nica y cient&iacute;fica.</p>

<p>A ra&iacute;z de este estudio de investigaci&oacute;n, en Invitae desarrollamos nuestro <a href="/en/physician/category/CAT000015/">estudio gen&eacute;tico comercial para c&aacute;ncer hereditario</a>, enfocado en 29 de los genes de riesgo de c&aacute;ncer cl&iacute;nicamente m&aacute;s relevantes. El panel de 29 genes de Invitae reduce la tasa de VUS del panel mas amplio a aproximadamente 0,7 VUS por paciente, y alrededor del 40% de los pacientes recibe un resultado incierto del estudio gen&eacute;tico en cualquiera de estos 29 genes (porque algunos pacientes portan m&aacute;s de una VUS).</p>

<p>Invitae est&aacute; trabajando para ayudar a la comunidad cient&iacute;fica y cl&iacute;nica a reducir las tasas de VUS para todos los an&aacute;lisis gen&eacute;ticos. Lea m&aacute;s sobre la inevitable ca&iacute;da de las tasas de VUS en esta entrada de blog de John Garc&iacute;a (de Invitae), <a href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">&iquest;Un mejor cuidado del paciente depende del intercambio de informaci&oacute;n gen&eacute;tica?</a></p>
</div>
</div>