<div class="row">
<div class="col-md-12">
<h3>We offer flexible test choices.</h3>

<p>Invitae offers options for pancreatic cancer testing that are both broad and affordable.</p>

<p>Order our expertly-curated Hereditary Pancreatic Cancer panel, the latest in our suite of hereditary cancer tests. This panel covers 17 of the genes most commonly linked to an increased risk of pancreatic cancer. If you want to go even deeper, you can also upgrade to our Hereditary Cancer Syndromes panel.</p>

<p>No matter which option you choose, it’s the same price<sup>*</sup>, with just three weeks on average from sample to results.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0010' %}"><span class="icon icon-angle-right"></span>Hereditary Pancreatic Cancer</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">View Test</a>

<p>A 17-gene panel analyzes a patient’s risk of hereditary pancreatic cancer, as well as other cancers. Additional genes that assess a patient’s hereditary risk of pancreatitis can be added to your requisition at no additional charge.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Hereditary Cancer Syndromes</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">View Test</a>

<p>Tests 34 genes known to be associated with well-<br>
established hereditary cancer syndromes.</p>
</div>
</div>
 

<h3>Customize for additional analysis.</h3>

<p>In addition to the 17 genes on Invitae's Pancreatic Cancer panel, some providers also choose to include the following genes when assessing a patient for hereditary pancreatic cancer:</p>

<p><em>CDK4</em>, <em>CFTR</em>, <em>CTRC</em>,and <em>SPINK1</em></p>

<p>As always at Invitae, you can customize your order to include these genes at no additional charge.</p>
</div>

<div class="col-md-5">
<div class="pancreatic-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure3" href="#"><span class="icon"></span>Hereditary Cancer Syndromes </a> <a class="figure4" href="#"> <span class="icon"></span>Hereditary Pancreatic Cancer </a></div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PMS2<sup>*</sup></div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NF1†</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div> </div>

<div class="check"> </div>
</div>
</div>
</div>

<p> </p>

<p class="fig-footnotes"><sup>*</sup> Exons 12-15 are not included in deletion/ duplication analysis<br>
† Exons 16-24, 31-35 are not included in deletion/duplication analysis</p>
</div>
</div>
