<p>To download a copy of our &quot;Hereditary Cancer Risks and References&quot; chart, please provide your information below. You&#39;ll have immediate access to the document after submitting the form.&nbsp;</p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>

<p></p>

<div class="field-wrapper required" style="text-align: center;"><button class="btn btn-lg btn-color-mountain" type="submit">Get my copy</button></div>

<p></p>
