<div class="background"></div>

<div class="striped-background-green landing-section-content">
<h2 class="landing-section-header color-white">Accessible neurological testing</h2>

<ul class="landing-page-bullets color-white">
	<li>Test at-risk families affordably</li>
	<li>Targeted follow-up for family members<br />
	at no additional charge within 90 days</li>
</ul>
<a class="btn btn-lg ghost-button" href="{% url 'portal_common.signup' %}">Get started</a></div>
