<div class="container">
<h3>Make your voice heard</h3>

<p class="landing-text">The Invitae Patient&nbsp;Insights Network<sup>SM</sup> (PIN) amplifies the voice of patients to help researchers and drug developers find better treatments, faster. Through our secure online PIN you can contribute data, learn how others manage similar health journeys, and receive information about the latest research and clinical trial opportunities. Register now to become part of a research-ready PIN with participants from around the world.</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="/patients/pin/">JOIN TODAY</a>

<hr />
<h3>Genetic counseling</h3>

<p class="landing-text">Our counselors can help put your results in context</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'genetic-counseling-patients' %}">LEARN MORE</a>

<hr />
<h3>See our community</h3>

<p class="landing-text">Learn more about how patient advocacy groups are harnessing genetics</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'portal_common.community' %}">VIEW COMMUNITY</a></div>