<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-4 patients-feature"><span class="icon icon-patient-guides gradient-icon-reverse"></span>
<h3 class="normal-font-weight">Patient guides</h3>

<p class="landing-text patients-feature-guides">Our guides help explain your condition and provide links to patient advocacy groups and other resources</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'patient.resources' %}">VIEW GUIDES</a></div>

<div class="col-xs-12 col-sm-4 patients-feature"><span class="icon icon-how-step3 gradient-icon-reverse"></span>

<h3 class="normal-font-weight">Register your test</h3>

<p class="landing-text patients-feature-register">Work with your doctor to interpret your results as soon as they&rsquo;re available</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% url 'patient.register-test-step1' %}">REGISTER YOUR TEST</a></div>

<div class="col-xs-12 col-sm-4 patients-feature"><span class="icon icon-wallet-circle gradient-icon-reverse"></span>

<h3 class="normal-font-weight">Pay for your test</h3>

<p class="landing-text patients-feature-pay">Securely submit a credit card payment for your test</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" data-target="#patient-payment-modal" data-toggle="modal">PAY FOR YOUR TEST</a></div>
</div>
{% include "patient_portal/_payment_modal.html" %}</div>
