<div class="section-background"></div>
        <div class="landing-section-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 pull-right">
                        <p class="landing-section-subhead">CURRENT PATIENTS</p>
                        <h1 class="landing-section-header normal-font-weight">
                            <div>Invitae is here to help</div>
                            <div>every step of the way</div>
                        </h1>
                        <a class="btn btn-lg ghost-button" href="{% page_url 'patient.how_it_works' %}">how testing works</a>
                    </div>
                </div>
            </div>
        </div>