<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2 style="font-family:invitae;font-weight:normal;" class="text-center">Explore our genetic test catalog</h2>

<form class="search-form" action="{% url 'search' %}">
<div class="input-group"><input type="text" class="form-control" placeholder="Search Invitae" name="q"> <span class="input-group-btn"><button type="submit" class="icon-search"></button> </span></div>
</form>

<div class="list-group"></div>
</div>
</div>

<div data-equalize-height=".landing-tool-text" class="container">
<div style="padding-top:40px;" class="text-content"></div>

<div class="row">
<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/physician/panelsgenes"><span style="font-size:150px;" class="icon icon-stethoscope-o gradient-icon-reverse"></span></a>

<h3><a style="font-weight:bold;font-size:115%;" href="/physician/panelsgenes">Diagnostics</a></h3>

<p style="font-size:120%;" class="landing-text">Confirm a diagnosis, provide a better understanding of prognosis, and direct medical management</p>
</div>
<a class="patient-feature-link" href="/physician/panelsgenes">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/physician/reproductive-health"><span style="font-size:150px;" class="icon icon-pregnant-o gradient-icon-reverse"></span></a>

<h3><a style="font-weight:bold;font-size:115%;" href="/physician/reproductive-health">Reproductive health</a></h3>

<p style="font-size:120%;" class="landing-text">Help make healthy pregnancies possible with carrier screening and preimplantation testing</p>
</div>
<a class="patient-feature-link" href="/physician/reproductive-health">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-tool">
<div class="landing-tool-text"><a href="/proactive"><span style="font-size:150px;" class="icon icon-apple-o gradient-icon-reverse"></span></a>

<h3><a style="font-weight:bold;font-size:115%;" href="/proactive">Proactive health</a></h3>

<p style="font-size:120%;" class="landing-text">Determine a healthy adult’s predisposition to cancer, cardiovascular conditions, and more</p>
</div>
<a href="/proactive">Learn more</a></div>
</div>
</div>