<div class="row">
<div class="col-md-12">
<h3>Genetic Counseling Services</h3>

<h6>SUPPORTING BOTH PATIENTS AND CLINICIANS</h6>

<p>Invitae offers genetic counseling services to support clinicians and their patients. Genetic counselors are healthcare providers trained in medical genetics. These licensed, board-certified experts work with you and your patients to:</p>

<ul class="bullet-list">
	<li>explain complex genetic concepts</li>
	<li>analyze patients' family histories to understand disease risk</li>
	<li>help patients and their families understand what their genetic test results mean</li>
</ul>

<p>Visit the <a target="_blank" href="http://nsgc.org"> National Society of Genetic Counselors</a> website to find a genetic counselor in your area. If a local genetic counselor is not available, Invitae can help. For more information about Invitae’s Genetic Counseling Services, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team.</p>

<p>Discover below how Invitae's genetic counseling services can help you and your patients. To learn more, download our flyer or watch the recording of our genetic counseling services webinar.</p>
</div>
</div>

<div class="row">
<div class="col-md-3">
<p><br><a href="http://marketing.invitae.com/acton/attachment/7098/f-0110/1/-/-/-/-/F125-1_Flyer-GC-Services-comm-oncol.pdf" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-arrow-stop-down"></span>Download Flyer</a></p>
<a href="http://w.on24.com/r.htm?e=937470&amp;s=1&amp;k=8F7D2E940E31CB4F4EB07FBC42D4991B" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-angle-right"></span>View Webinar</a>

<p> </p>
</div>
</div>
