<div class="row">
<div class="col-md-12">
<h3>Genetic counseling referral network</h3>

<p>Invitae believes that genetic testing should be overseen by a healthcare professional well versed in genetics. Our Genetics Provider Network connects patients and clinicians with local genetics professionals.</p>

<p>Learn more on our <a href="{% page_url 'portal_common.genetics-provider-network' %}">Genetics Provider Network</a> web page.</p>
</div>
</div>