<div class="row">
<div class="col-md-12">
<h3>BRCA y más, a su propio ritmo.</h3>

<p>Nuevas opciones de pedido para cáncer hereditario de mama, ovario y endometrial/uterino. Solicite sólo los genes BRCA o mejore su opción con cualquiera de nuestros paneles de múltiples genes por el mismo precio<sup>*</sup>. Sólo tres semanas en promedio desde la muestra hasta los resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0089' %}"><span class="icon icon-angle-right"></span>Síndrome de cáncer de mama y de ovario hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">Ver Prueba</a>

<p>BRCA1 y BRCA2 representan el ~50% de los casos de cáncer hereditario de mama y de ovario en mujeres con antecedentes familiares o diagnóstico a edad temprana. Nuestra prueba incluye la secuenciación genética completa y análisis de deleción/duplicación.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0009' %}"><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel de alto riesgo </a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">Ver Prueba</a>

<p>Cubre trastornos causados por 7 genes que confieren un alto riesgo de cáncer de mama durante la vida, que va desde el 40% hasta casi el 90%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0020' %}"><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel de riesgo moderado</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">Ver Prueba</a>

<p>Este panel incluye 5 genes que se han asociado con un riesgo moderado de desarrollar cáncer de mama.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0021' %}"><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel extendido</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">Ver Prueba</a>

<p>Este panel cubre 17 genes que están asociados con un mayor riesgo de desarrollar cáncer de mama en la vida, así como otros tipos de cáncer.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0022' %}"><span class="icon icon-angle-right"></span>Cáncer ginecológico hereditario, panel de alto riesgo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">Ver Prueba</a>

<p>Cubre 9 genes que cuentan con pautas de manejo clínico publicadas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0007' %}"><span class="icon icon-angle-right"></span>Cáncer hereditario de mama y ginecológico</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">Ver Prueba</a>

<p>(Anteriormente panel de cáncer hereditario de mujeres) un panel de 22 genes analiza la genética para cáncer hereditario de mama, de ovario y endometrial/uterino de un paciente.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Síndromes de cáncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se sabe están asociados con síndromes de cáncer hereditarios bien establecidos.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="brca-testing-figure">
<div class="content"> </div>
</div>

<p class="fig-footnotes"><sup>*</sup> NF1: los exones 16-24, 31-35 no están incluidos en el análisis de deleción/duplicación<br>
<sup>*</sup> PMS2: los exones 12-15 no están incluidos en el análisis de deleción/duplicación</p>
</div>
</div>
