<p>The Invitae Medicare criteria for testing align with clinical practice guidelines from organizations including the National Comprehensive Cancer Network<b style="color: rgb(37, 37, 37); font-family: sans-serif; font-size: 14px;">&reg;</b> (NCCN). Medicare orders that do not meet the updated Invitae Medicare criteria are offered at the patient-pay price of $475 per clinical indication (please see Invitae&#39;s <a href="{% page_url 'portal_common.billing' %}">billing webpage</a> for full details).</p>

<p>Invitae&rsquo;s Medicare criteria are listed below and also available on the Invitae Medicare criteria form for <a href="http://marketing.invitae.com/acton/attachment/7098/f-0295/1/-/-/-/-/FM133-1_Oncology-Medicare-Criteria-Form.pdf" target="_blank">hereditary cancer</a> and <a href="http://marketing.invitae.com/acton/attachment/7098/f-0290/1/-/-/-/-/FM132-1_Cardiology-Medicare-criteria-form.pdf" target="_blank">cardiology</a>.</p>
