<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Histórias reais</a></li>
	<li>Amanda Burris</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'O conhecimento é poder'</span></h2>

<h5>Amanda Burris ao fazer o teste de BRCA</h5>

<p>Quando menina, Amanda Burris sabia mais sobre o câncer de mama do que a maioria dos adultos. “Nossa família tem um longo histórico de câncer de mama", diz ela. “Minha bisavó, minha avó, minhas tias, minha mãe e minhas primas — todas tiveram”.</p>

<p>Depois de acompanhar a batalha que sua mãe, de 33 anos, e sua tia, de 39 anos, travaram contra a doença, Amanda decidiu fazer o teste de BRCA1 e BRCA2 aos 23 anos. Assim como o teste de sua avó, mãe e tia, o resultado deu positivo.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe width="640" mozallowfullscreen="" height="360" msallowfullscreen="" class="wistia_embed embed-responsive-item" allowfullscreen="" frameborder="0" oallowfullscreen="" src="//fast.wistia.net/embed/iframe/t5e6qu3wuq" allowtransparency="true" webkitallowfullscreen="" name="wistia_embed" scrolling="no"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script></div>
</div>

<div class="col-md-12">
<p>Longe de ficar consternada, Amanda diz que saber que ela tem uma variação no gene BRCA2, que aumenta significativamente sua chance de desenvolver câncer de mama, é um passo a frente.</p>

<p>“Para mim, o conhecimento é poder”, diz Amanda. "O teste da Invitae me deu as informações para controlar minha saúde — e meu futuro”.</p>

<p>Amanda vai se casar no final deste ano e planeja ter filhos em breve, caso ela opte por fazer uma mastectomia como medida preventiva em idade relativamente jovem. Ela já está considerando as medidas preventivas que são adequadas para ela e quando elas se encaixariam em sua vida. Por exemplo, Amanda diz que provavelmente fará exames regulares de ressonância magnética em vez de mamografias, pois a ressonância magnética pode detectar melhor o tipo de câncer de mama que ela tem propensão a desenvolver.</p>

<p>Sandy, a mãe de Amanda, diz que apesar de ter sido difícil ouvir que ela passou a variação de BRCA2 para sua filha, ela está feliz que Amanda agora conhece bem sua variação genética específica e pode, junto com um médico, tomar decisões fundamentadas.</p>

<p>“Quando estávamos falando sobre o teste genético, pensamos: ela realmente precisa fazer o teste? De acordo com nossa histórico familiar, já sabemos que ela tem alto risco”, diz ela. “Mas o conhecimento deu forças à Amanda”.</p>

<p>Amanda concorda. "O fato interessante sobre o teste genético é que todo mundo tem um histórico de algo", diz ela. “Entender esse histórico — onde ele teve origem e como funciona — é um conhecimento muito importante”.</p>

<p>“Fazer o teste genético realmente ajudou, pois temos um plano e agora entendemos melhor nossas opções. É uma questão de retomar o controle da minha vida”.</p>
</div>
</div>