<div class="full-width-content landing-page-video">
<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
<div class="wistia_embed wistia_async_l3dlf93ln7 videoFoam=true" style="height:100%;width:100%"></div>
</div>
</div>

<div class="landing-page-video-overlay">
<div class="row landing-video-caption">
<div class="col-xs-12 col-sm-6 landing-video-icon"><span class="wistia_embed wistia_async_lk1ggro58a popover=true popoverContent=link" style="display:inline"> <a class="icon icon-play-circle" data-cke-processor="off" data-cke-saved-href="#" data-cke-survive="true" href="#"></a> <a class="video-plain-link icon icon-play-circle" href="https://invitae.wistia.com/medias/lk1ggro58a" target="_blank">&nbsp;</a> </span></div>

<div class="col-xs-12 col-sm-6 landing-video-text">
<h2 class="landing-section-header">Technical sophistication, made easy</h2>
</div>
</div>
</div>
</div>

<div class="full-width-content landing-section-content">
<div class="row">
<div class="col-sm-12">
<div class="landing-page-bullets-header color-white">High-quality testing backed by science</div>
</div>

<div class="col-sm-8">
<ul class="landing-page-bullets color-white">
	<li>Analytical and clinical validation established with a &gt;1,000 person comparative study</li>
	<li>Advancing the field by collaborating with leading academic centers</li>
	<li>Including full-gene sequencing and deletion/duplication analysis in a single test</li>
	<li>Utilizing an evidence-based scoring system enabling objective reproducible reporting</li>
</ul>
</div>

<div class="col-sm-4 text-right"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.validation-studies' %}">View studies</a></div>
</div>
</div>