<div class="section-overlay">&nbsp;</div>

<h1 class="landing-section-header">Genetic&nbsp;testing, your&nbsp;way</h1>

<p class="landing-section-subhead">Working together to get the right answers for your&nbsp;patients</p>

<p><a class="btn btn-lg responsive-button btn-color-mountain" href="{% url 'portal_common.signup' %}">Get started</a></p>

<div class="nav-scrollspy-link landing-scrollspy-link"><a class="icon-chevron-bracket-down" href="#genetics-video-section" data-cke-processor="off" data-cke-survive="true"></a></div>

