<h2 class="landing-section-header">Move medicine forward with us</h2>

<p class="landing-section-subhead">By sharing genetic information, we can advance genetics and patient care</p>

<div class="full-width-content landing-section-content">
<div class="row">
<div class="col-xs-12 col-sm-4 landing-note">
<div class="note-logo freethedata-note">&nbsp;</div>

<p>Founding partner of Free&nbsp;the&nbsp;Data</p>
<a class="landing-link" href="http://www.free-the-data.org/">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-note">
<div class="note-logo clinvitae-note">&nbsp;</div>

<p>Every variant contributed to ClinVar</p>
<a class="landing-link" href="{% page_url 'portal_common.clinvitae' %}">Learn more</a></div>

<div class="col-xs-12 col-sm-4 landing-note">
<div class="note-logo pubmed-note">&nbsp;</div>

<p>Publications in leading journals ensure new knowledge is spread</p>
<a class="landing-link" href="http://www.ncbi.nlm.nih.gov/pubmed/26207792">Learn more</a></div>
</div>
</div>
