<div class="section-overlay"></div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-5 col-sm-offset-6 col-md-offset-7">
<h1 class="landing-section-header color-white">Genetic testing for pediatric conditions</h1>

<p class="landing-section-subhead color-white">Find answers quickly and affordably</p>
<a class="btn btn-lg responsive-button" href="{% url 'portal_common.signup' %}">START AN ORDER</a></div>
</div>

<div class="nav-scrollspy-link landing-scrollspy-link"><a class="icon-chevron-bracket-down" data-cke-processor="off" data-cke-saved-href="#pg-video-section" data-cke-survive="true" href="#pg-video-section"></a></div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-5 col-sm-offset-6 col-md-offset-7">
<p></p>

<p><a class="btn btn-lg responsive-button" href="{% url 'portal_common.signup' %}">INVITAE ADVANTAGE</a></p>
</div>
</div>