<div class="field-wrapper required"><label for="cms_id_first_name">Clinican first name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="organization" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required"><input name="source" type="hidden" value="Website" /><input name="source_description" type="hidden" value="CPC page" /><input name="cmpid" type="hidden" value="" /><button class="btn btn-lg btn-color-mountain" type="submit">Continue</button></div>