<div class="row">
<div class="col-md-7">
<h2>Family history</h2>

<p>Family history can offer clues to your future health. Collecting your family&#39;s health history may help you identify diseases you may be at risk for.</p>

<p>Invitae believes that capturing a complete and accurate family history is critical to interpreting genetic results. That&rsquo;s why we offer a free digital tool that allows you to map out your family health history.</p>

<p>Get started with your own <a href="{% page_url 'portal_common.family-history' %}>family history</a> today.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-pedigree-people.png" /></div>
</div>