<div class="row">
<div class="col-md-12">
<h3>Pruebas gen&eacute;ticas econ&oacute;micas y accesibles.</h3>

<p>Hoy, Invitae puede ofrecer resultados de cualquier prueba gen&eacute;tica de <a href="{% page_url 'portal_common.test-catalog' %}">nuestro cat&aacute;logo</a> por un mismo precio<sup>*</sup>&nbsp;en un promedio de tres semanas.</p>

<p>Como parte de ese cat&aacute;logo, la compa&ntilde;&iacute;a ofrece actualmente los siguientes paneles:</p>

<div class="categories-section" style="margin-bottom:20px;">
<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOG&Iacute;A</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text"> C&Aacute;NCER<br />
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text"> GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOG&Iacute;A </span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOG&Iacute;A</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">ESTUDIOS<br />
GEN&Eacute;TICOS</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
</div>

<p>Adem&aacute;s, Invitae se ha comprometido a mejorar la salud de la familia, aprovechando el poder de la informaci&oacute;n gen&eacute;tica y las tecnolog&iacute;as innovadoras. La Herramienta de Antecedentes Familiares de Invitae&nbsp;es una aplicaci&oacute;n gratuita de recopilaci&oacute;n de antecedentes familiares que permite a los asesores gen&eacute;ticos construir, modificar, compartir y guardar digitalmente las genealog&iacute;as de sus pacientes.</p>

<p>M&aacute;s informaci&oacute;n sobre la <a href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>.</p>
</div>
</div>