<div class="row">
<div class="col-md-12">
<h3>Un equipo inigualable.</h3>

<p>Invitae ha reunido a un equipo de m&aacute;s de 200&nbsp;de los principales expertos en gen&eacute;tica, bioinform&aacute;tica, ingenier&iacute;a, tecnolog&iacute;a y desarrollo comercial del mundo, entre otras disciplinas. Invitae se constituy&oacute; en 2010 como Locus Development,&nbsp;Inc., fundada por Sean George, Michele Cargill, Alex Furman y Mat Falkowski, y en 2012 cambi&oacute; su nombre por el de Invitae Corporation.</p>

<p>Conozca al <a href="{% page_url 'portal_common.team' %}">Equipo de Invitae</a>.</p>
</div>
</div>
