<div class="row">
<div class="col-md-12">
<h4>O que são genes de evidência limitada?</h4>

<p>Os genes de evidência limitada são os que foram selecionados em uma análise das recomendações da literatura e de especialistas. Para alguns desses genes, não foram identificadas variantes patogênicas definitivas. Para outros, a associação entre o gene e a condição específica ainda não foi completamente estabelecida.</p>

<h4>Por que eu incluiria os genes de evidência limitada no meu painel?</h4>

<p>A adição dos genes de evidência limitada pode aumentar o número de variantes incertas e revelar as variantes patogênicas de relevância incerta para a condição do paciente. Essa incerteza pode ser resolvida assim que novas informações estiverem disponíveis e alguns médicos podem querer incluir esses genes em sua investigação.</p>

<h4>Como posso adicionar os genes de evidência limitada a um painel primário?</h4>

<p>Os genes de evidência limitada podem ser adicionados selecionando a opção “aceitar” ao lado da lista de genes.</p>

<h4>E se eu não souber o que devo solicitar?</h4>

<p>Com as nossas opções de testes flexíveis, os médicos podem se sentir confiantes e começar apenas com os genes com os quais se sintam familiarizados. Então, se os médicos não obtiverem as respostas necessárias com a seleção inicial de genes, podem enviar uma nova requisição para a análise de genes adicionais relacionados com a mesma area clínica, sem nenhum custo adicional.<sup>*</sup> Nós também oferecemos serviços de consulta clínica para os médicos que quiserem discutir os casos com especialistas em aconselhamento genético.</p>

<p class="endnote">*Consulte a <a href="{% page_url 'portal_common.re-requisition' %}">webpage de nova solicitação</a> da Invitae para ver os requisitos e detalhes adicionais.</p>
</div>
</div>
