
<div class="row">
                <div class="col-sm-6">
                    <h2>Explore our test catalog.</h2>
                    <h6>Invitae specializes in genetic testing for hereditary disorders. <br>Our test catalog includes disorders in a variety of medical specialties, including cardiology, hereditary cancers, pediatric genetics, neurology, and hematology.</h6>
                </div>
                <div class="col-sm-6">
                    <form id="catalog-search-form" action="{% url 'physician.search' %}" method="get">
                        <div class="catalog-search-wrapper no-top-margin">
                            <label for="catalog-search-input">Search our test catalog</label>
                            <input autocomplete="off" name="q" id="catalog-search-input" class="catalog-search" type="text" value="{{ request.GET.q }}">
                            <button class="catalog-search-button" type="submit"><span class="button-image"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 14px; margin: 0 0 15px 0;">You can order any combination of genes, disorders, and multi-gene panels, all at a
                        price of $1500.* The turn around time from sample to results is just three weeks on average.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-push-1 product-box one-line-text">
                    <a href="/en/physician/search/?q=Cardiology">
                        Cardiology
                        <span class="icon-heart"></span>
                    </a>
                </div>
                <div class="col-sm-2 col-sm-push-1 product-box">
                    <a href="/en/physician/search/?q=Hereditary+cancer">
                        Hereditary<br>cancer
                        <span class="icon-ribbon"></span>
                    </a>
                </div>
                <div class="col-sm-2 col-sm-push-1 product-box">
                    <a href="/en/physician/search/?q=Pediatric+genetics">
                        Pediatric<br>genetics
                        <span class="icon-teddy"></span>
                    </a>
                </div>
                <div class="col-sm-2 col-sm-push-1 product-box one-line-text">
                    <a href="/en/physician/search/?q=Neurology">
                        Neurology
                        <span class="icon-brain"></span>
                    </a>
                </div>
                <div class="col-sm-2 col-sm-push-1 product-box one-line-text">
                    <a href="/en/physician/search/?q=Hematology">
                        Hematology
                        <span class="icon-drop-solid"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="pricing-info" style="font-size: 14px;">*$1500 U.S. contract pricing only. Ex-US pricing does not include distribution
                    and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client
                        Services</a> for more information.</p>
                </div>
            </div>
  
        <div class="nav-scrollspy-link"><a href="#scrollspyid1" class="icon-chevron-bracket-down"></a></div>