<div class="row      ">
<div class="col-md-12      ">
<h3>Cardiology</h3>

<div class="catalog-group other      ">
<h3><span class="icon      "></span>Cardiology Tests</h3>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Long QT syndrome</h4>

<div class="expandable-content      "><a href="{% url 'physician.panel-detail' 'PNL0017' %} " class="btn btn-color-inherit btn-md btn-right">View Test</a>

<p class="">Long QT Syndrome (LQTS) is a hereditary cardiac arrhythmia that can cause sudden death, cardiac arrest, seizure-like episodes, and fainting in both children and adults. LQTS is caused by abnormal electrical conduction that results in a “corrected” prolonged QT interval (a measure of the time it takes for an electrical signal to travel through the heart). The QTc abnormality is often, but not<br>
always, visible on an electrocardiogram.</p>

<p class="genes-analyzed      ">Genes analyzed: AKAP9, ANK2, CACNA1C, CAV3, KCNE1, KCNE2, KCNH2, KCNJ2, KCNJ5, KCNQ1, SCN4B, SCN5A, SNTA1</p>

<p class="" style="margin-top: 30px;">Long QT subtypes available as individual tests:</p>

<div class="expandable-sub-item      ">
<h4>Andersen-Tawil syndrome</h4>

<div class="expandable-sub-content      "><a href="{% url 'physician.condition-detail' 'CND0003'%} " class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed      ">Genes analyzed: KCNJ2</p></div></div>

<div class="expandable-sub-item      ">
<h4>Timothy syndrome</h4>

<div class="expandable-sub-content      "><a href="{% url 'physician.condition-detail' 'CND0084'%} " class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed      ">Genes analyzed: CACNA1C</p></div></div></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Brugada syndrome</h4>

<div class="expandable-content      "><a href="{% url 'physician.panel-detail' 'PNL0016' %} " class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="">Brugada syndrome (BrS) is a hereditary cardiac condition that primarily affects the electrical system of the heart. BrS is defined by characteristic changes in a phase of the heart’s electrical pattern called the ST-segment. This results in a distinctive electrocardiogram (ECG/EKG) signal.</p>

<p class="genes-analyzed      ">Genes analyzed: CACNA1C, CACNA2D1, CACNB2, GPD1L, KCNE3, KCNH2, KCNJ8, SCN1B, SCN3B, SCN5A</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Hypertrophic Cardiomyopathy</h4>

<div class="expandable-content      "><a href="{% url 'physician.panel-detail' 'PNL0019'%} " class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="">Hypertrophic cardiomyopathy (HCM) is a cardiac disorder defined by unexplained, abnormal thickening of the heart muscle, or myocardium. This abnormal thickening, or hypertrophy, affects the left ventricle of the heart and can typically be detected by echocardiogram. HCM can impair both how the heart contracts and the heart’s electrical system, leading to palpitations, dizziness<br>
(pre-syncope), fainting (syncope), chest pain, shortness of breath and, in some cases, sudden cardiac arrest or death.</p>

<p class="genes-analyzed      ">Genes analyzed: ACTC1, ACTN2, CAV3, CSRP3, JPH2, MYBPC3, MYH7, MYL2, MYL3, MYOZ2, NEXN, TCAP, TNNC1, TNNI3, TNNT2, TPM1</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Short QT syndrome</h4>

<div class="expandable-content      "><a href="{% url 'physician.panel-detail' 'PNL0018' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="">Short QT syndrome (SQTS) is a rare hereditary cardiac arrhythmia that can cause fainting, dizziness, seizure-like episodes, cardiac arrest, and/or sudden death in both children and adults. It may be an underlying cause of some cases of Sudden Infant Death Syndrome (SIDS).</p>

<p class="genes-analyzed      ">Genes analyzed: CACNA1C, CACNA2D1, CACNB2, KCNH2, KCNJ2, KCNQ1</p></div></div></div></div></div>
