<div class="row  ">
<div class="col-md-12  ">
<h3>Hereditary Cancer Testing</h3>

<div class="catalog-group brca  ">
<h3><span class="icon  "></span>Hereditary Breast, Ovarian, and Endometrial Cancers</h3>
<a href="{% page_url 'portal_common.brca-testing' %}" class="btn btn-color-purple btn-md btn-right">BRCA Testing </a>

<p class="">Each of the tests in this category includes BRCA1 and BRCA2 gene testing. Order the BRCA genes alone or look beyond BRCA to select the test that best meets the needs of your patient. To learn more about our suite of BRCA test options, please visit our BRCA Testing page.</p>

<div class="expandable-item  ">
<h4><span class="icon  "></span>BRCA1 and BRCA2 Testing</h4>

<div class="expandable-content  "><a href="{% url 'physician.condition-detail' 'CND0089' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

<p class="">Hereditary breast and ovarian cancer syndrome (HBOC) is caused by mutations in the BRCA1 or BRCA2 genes. Mutations in these genes are the most significant inherited risk factor for hereditary breast cancer, accounting for approximately 50% of cases in individuals with strong family history or an early-onset diagnosis.</p>

<p class="genes-analyzed  ">Genes analyzed: BRCA1, BRCA2</p>

<p class="">Disorders included: Hereditary breast and ovarian cancer syndrome</p></div></div>

<div class="expandable-item  ">
<h4><span class="icon  "></span>High-Risk Hereditary Breast Cancers</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0009' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

<p class="">The High-Risk Hereditary Breast Cancers panel includes genes known to be associated with high-risk breast cancer syndromes. Patients who have inherited one of these syndromes have an extremely high risk of developing breast cancer in their lifetime, ranging from 40% to 90% depending on the disorder, specific genetic variant, and environmental factors.</p>

<p class="genes-analyzed  ">Genes analyzed: BRCA1, BRCA2, CDH1, PALB2, PTEN, STK11, TP53</p>

<p class="">Disorders included: Hereditary breast and ovarian cancer syndrome, PTEN hamartoma tumor syndrome (Cowden syndrome), Li-Fraumeni syndrome, Peutz-Jeghers syndrome, Hereditary diffuse gastric cancer (also causes lobular breast cancer in women)</p></div></div>

<div class="expandable-item  ">
<h4><span class="icon  "></span>Women's Hereditary Cancers</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0007' %}" class="btn btn-color-purple btn-sm btn-right">View Test</a>

<p class="">The Women's Hereditary Cancers panel provides a broad genetic analysis of a patient's hereditary breast, ovarian, and endometrial cancer genetics. This test can identify hereditary cancer syndromes without the need for sequential gene testing, especially in patients who have a non-classical clinical presentation or a limited pedigree.</p>

<p class="genes-analyzed  ">Genes analyzed: ATM, BRCA1, BRCA2, BRIP1, CDH1, CHEK2 (1100delC variant), EPCAM, MLH1, MSH2,<br>
MSH6, NBN, PALB2, PMS2, PTEN, RAD51C, STK11, TP53</p>

<p class="">Disorders included: Hereditary breast and ovarian cancer syndrome, PTEN hamartoma tumor syndrome (Cowden syndrome), Li-Fraumeni syndrome, Lynch syndrome, Peutz-Jeghers syndrome, Hereditary diffuse gastric cancer (also causes lobular breast cancer in women), Moderate-risk breast cancer susceptibility</p></div></div></div>

<div class="catalog-group colon  ">
<h3><span class="icon  "></span>Hereditary Colon Cancers</h3>
<a href="{% page_url 'portal_common.colon-cancer-testing-page' %}" class="btn btn-color-bay btn-md btn-right">Colon Cancer Testing </a>

<p class="">Our hereditary colon cancer test menu covers both hereditary colorectal and polyposis cancer syndromes, including Lynch syndrome. Learn more about our colon cancer offerings on our Colon Cancer Testing page.</p>

<div class="expandable-item  ">
<h4><span class="icon  "></span>Lynch Syndrome</h4>

<div class="expandable-content  "><a href="{% url 'physician.condition-detail' 'CND0053' %}" class="btn btn-color-bay btn-sm btn-right">View Test</a>

<p class="">Lynch syndrome (LS) is a hereditary cancer syndrome that significantly increases an individual's lifetime risk of developing colorectal cancer. Affected individuals are also at higher risk of developing other cancers, including stomach, endometrial, ovarian, breast, hepatobilliary tract, urinary tract, intestinal, brain, and pancreatic cancers.</p>

<p class="genes-analyzed  ">Genes analyzed: EPCAM, MLH1, MSH2, MSH6, PMS2</p>

<p class="">Disorders included: Lynch syndrome</p></div></div>

<div class="expandable-item  ">
<h4><span class="icon  "></span>High-Risk Hereditary Colon Cancers</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0008' %}" class="btn btn-color-bay btn-sm btn-right">View Test</a>

<p class="">The High-Risk Hereditary Colon Cancers panel includes genes known to be associated with high-risk colorectal cancer syndromes. Patients who have inherited one of these disorders have an extremely high risk of developing colorectal cancer in their lifetimes, ranging from 80% to nearly 100% depending on the disorder.</p>

<p class="genes-analyzed  ">Genes analyzed: APC, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2</p>

<p class="">Disorders included: Lynch syndrome, MYH-associated polyposis syndrome, Familial adenomatous polyposi</p></div></div>

<div class="expandable-item  ">
<h4><span class="icon  "></span>Hereditary Colon Cancers</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0005' %}" class="btn btn-color-bay btn-sm btn-right">View Test</a>

<p class="">The Hereditary Colon Cancers panel provides a broad analysis of a patient's hereditary colon cancer genetics and can identify hereditary cancer syndromes without the need for sequential gene testing. This test analyzes the most common genes associated with hereditary colon cancer syndromes, such as Lynch syndrome, and may also capture less-expected results.</p>

<p class="genes-analyzed  ">Genes analyzed: APC, BMPR1A, CDH1, CHEK2 (1100delC variant), EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2, PTEN, SMAD4, STK11, TP53</p>

<p class="">Disorders included: Lynch syndrome, MYH-associated polyposis syndrome, Familial adenomatous polyposis, Juvenile polyposis syndrome, Peutz-Jeghers syndrome, PTEN hamartoma tumor syndrome, Li-Fraumeni syndrome, Hereditary diffuse gastric cancer, Moderate-risk breast cancer susceptibility</p></div></div></div>

<div class="catalog-group pancreatic  ">
<h3><span class="icon  "></span>Hereditary Pancreatic Cancer</h3>
<a href="{% page_url 'portal_common.pancreatic-cancer-testing' %}" class="btn btn-color-grape btn-md btn-right">Pancreatic Cancer Testing </a>

<p class="">Our Hereditary Pancreatic Cancer panel covers 17 of the genes most commonly linked to an increased risk of pancreatic cancer. Learn more about our pancreatic cancer offerings on our Pancreatic Cancer Testing page.</p>

<div class="expandable-item  ">
<h4><span class="icon  "></span>Hereditary Pancreatic Cancer</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0010' %}" class="btn btn-color-grape btn-sm btn-right">Order Test</a>

<p class="">A 17-gene panel analyzes a patient’s risk of hereditary pancreatic cancer, as well as other cancers. Additional genes that assess a patient’s hereditary risk of pancreatitis can be added to your requisition at no additional charge.</p>

<p class="genes-analyzed  ">Genes analyzed: BRCA1, BRCA2, PALB2, APC, ATM, CDKN2A, MLH1, FANCC, MEN1, PALLD, STK11, TP53, VHL, MSH2, MSH6, EPCAM, and PMS2<br>
Optional: CDK4, CFTR, and SPINK1</p>

<p class="">Disorders include: Familial adenomatous polyposis, Familial cutaneous melanoma, Familial pancreatic adenocarcinoma, Li-Fraumeni syndrome, Lynch syndrome, Peutz-Jeghers syndrome Von Hippel-Lindau syndrome, Hereditary breast and ovarian cancer syndrome, Multiple endocrine neoplasia, type 1, Moderate-risk pancreatic cancer susceptibility</p></div></div></div>

<div class="catalog-group other  ">
<h3><span class="icon  "></span>All Hereditary Cancer Syndromes</h3>

<p class="">Our hereditary cancer syndromes test panel covers a group of well-established hereditary cancer syndromes. Alternatively, each of these syndromes can be ordered as individual tests.</p>

<div class="expandable-item  ">
<h4><span class="icon  "></span>Hereditary Cancer Syndromes</h4>

<div class="expandable-content  "><a href="{% url 'physician.panel-detail' 'PNL0004' %}" class="btn btn-color-inherit btn-md btn-right">View Test</a>

<p class="">The Hereditary Cancer Syndromes panel can be informative for patients who are adopted or have a limited pedigree and who are seeking information about hereditary cancer risk. It is also appropriate for physicians and patients who are seeking more genetic information in order to move away from the limitations of reactionary medicine and focus on the benefits of wellness and preventative care.</p>

<p class="genes-analyzed  ">Genes analyzed: APC, ATM, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A, CHEK2 (1100delC variant), EPCAM, MEN1, MET, MLH1, MSH2, MSH6, MUTYH, NBN, PALB2, PALLD, PMS2, PTCH1, PTEN, RAD51C, RET, SMAD4, STK11, TP53, VHL</p>

<p class="" style="margin-top: 30px;">Disorders included in the Hereditary Cancer Syndromes panel or available as individual tests:</p>

<div class="expandable-sub-item  ">
<h4>Basal cell nevus syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0008' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: PTCH1</p></div></div>

<div class="expandable-sub-item  ">
<h4>Familial adenomatous polyposis</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0022' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: APC</p></div></div>

<div class="expandable-sub-item  ">
<h4>Familial cutaneous melanoma</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0023' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: CDK4, CDKN2A</p></div></div>

<div class="expandable-sub-item  ">
<h4>Familial pancreatic adenocarcinoma</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0028' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: PALLD</p></div></div>

<div class="expandable-sub-item  ">
<h4>Hereditary breast and ovarian cancer syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0089' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: BRCA1, BRCA2</p></div></div>

<div class="expandable-sub-item  ">
<h4>Hereditary diffuse gastric cancer</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0024' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: CDH1</p></div></div>

<div class="expandable-sub-item  ">
<h4>Hereditary papillary renal call carcinoma</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0036' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: MET</p></div></div>

<div class="expandable-sub-item  ">
<h4>Juvenile polyposis syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0042' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: BMPR1A, SMAD4</p></div></div>

<div class="expandable-sub-item  ">
<h4>Li-Fraumeni syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0049' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: TP53</p></div></div>

<div class="expandable-sub-item  ">
<h4>Lynch syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0053' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: EPCAM, MLH1, MSH2, MSH6, PMS2</p></div></div>

<div class="expandable-sub-item  ">
<h4>Moderate-risk breast cancer susceptibility</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0058' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: ATM, BRIP1, CHEK2 (1100delC variant), NBN, PALB2, RAD51C</p></div></div>

<div class="expandable-sub-item  ">
<h4>Multiple endocrine neoplasia, type 1</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0091' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: MEN1</p></div></div>

<div class="expandable-sub-item  ">
<h4>Multiple endocrine neoplasia, type 2</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0092' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: RET</p></div></div>

<div class="expandable-sub-item  ">
<h4>MYH-associated polyposis syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0061' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: MUTYH</p></div></div>

<div class="expandable-sub-item  ">
<h4>Peutz-Jeghers syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0069' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: STK11</p></div></div>

<div class="expandable-sub-item  ">
<h4>PTEN hamartoma tumor syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0075' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: PTEN</p></div></div>

<div class="expandable-sub-item  ">
<h4>Von Hippel-Lindau syndrome</h4>

<div class="expandable-sub-content  "><a href="{% url 'physician.condition-detail' 'CND0086' %}" class="btn btn-color-inherit btn-sm btn-right">View Test</a>

<p class="genes-analyzed  ">Genes analyzed: VHL</p></div></div></div></div></div></div></div>
