<div class="row">
<div class="col-md-12">
<div class="catalog-group colon">
<h3><span class="icon"></span>Hereditary Colon Cancer</h3>
<a class="btn btn-color-bay btn-md btn-right" href="{% page_url 'portal_common.colon-cancer-testing-page' %}">Colon Cancer Testing </a>

<p>Our hereditary colon cancer test menu covers both hereditary colorectal and polyposis cancer syndromes, including Lynch syndrome. Learn more about our colon cancer offerings on our Colon Cancer Testing page.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Lynch Syndrome</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">View Test</a>

<p>Lynch syndrome (LS) is a hereditary cancer syndrome that significantly increases an individual's lifetime risk of developing colorectal cancer. Affected individuals are also at higher risk of developing other cancers, including stomach, endometrial, ovarian, breast, hepatobilliary tract, urinary tract, intestinal, brain, and pancreatic cancers.</p>

<p class="genes-analyzed">Genes analyzed: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Hereditary colon cancer, high risk panel</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">View Test</a>

<p>The High-Risk Hereditary Colon Cancers panel includes genes known to be associated with high-risk colorectal cancer syndromes. Patients who have inherited one of these disorders have an extremely high risk of developing colorectal cancer in their lifetimes, ranging from 80% to nearly 100% depending on the disorder.</p>

<p class="genes-analyzed">Genes analyzed: APC, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Hereditary colon cancer</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">View Test</a>

<p>The Hereditary Colon Cancers panel provides a broad analysis of a patient's hereditary colon cancer genetics and can identify hereditary cancer syndromes without the need for sequential gene testing. This test analyzes the most common genes associated with hereditary colon cancer syndromes, such as Lynch syndrome, and may also capture less-expected results.</p>

<p class="genes-analyzed">Genes analyzed: APC, BMPR1A, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2, PTEN, SMAD4, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>
