<div class="row">
<div class="col-sm-6 col-lg-7 privacy-message">
<h3>Suporte</h3>

<p>Veja o nosso guia de usu&aacute;rio para obter instru&ccedil;&otilde;es passo a passo sobre a Ferramenta de Hist&oacute;rico Familiar.</p>
<a class="btn btn-color-inherit btn-lg" target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" " mixpanel.track2('Clicked Links on FHT Landing Page',
{'Action': 'User Guide'}
)"><span class="icon icon-files"></span>guia de usu&aacute;rio</a>

<p>&nbsp;</p>

<h3>Privacidade</h3>

<p>Estamos comprometidos em proteger a seguran&ccedil;a e confidencialidade das informa&ccedil;&otilde;es pessoais e gen&eacute;ticas e dos resultados dos testes do seu paciente.</p>

<p>Para obter detalhes, consulte o nosso <a href="{% page_url 'portal_common.privacy-practices' %}" target="_blank">Aviso de Pr&aacute;ticas de Privacidade</a> and <a href="{% page_url 'portal_common.privacy-policy' %}" target="_blank">Pol&iacute;tica de Privacidade</a>.</p>
</div>

<div class="clearfix visible-xs"><br />
&nbsp;</div>

<div class="col-sm-6 col-lg-5 family-history-email">
<h3>Perguntas ou coment&aacute;rios?</h3>

<div class="email-icon">
<div class="content">
<h4>Adorar&iacute;amos<br />
saber!</h4>

<p>E-mail: <a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
</div>
</div>
</div>
</div>