<div class="row">
<div class="col-md-12">
<h3>Red de referencia a asesoramiento gen&eacute;tico</h3>

<p>Invitae considera que el an&aacute;lisis gen&eacute;tico debe ser supervisado por un profesional de atenci&oacute;n m&eacute;dica experto en gen&eacute;tica. Nuestra Red de proveedores de servicios gen&eacute;ticos conecta a pacientes y m&eacute;dicos con profesionales especialistas en gen&eacute;tica locales.</p>

<p>Obtenga m&aacute;s informaci&oacute;n en nuestra p&aacute;gina web de la <a href="{% page_url 'portal_common.genetics-provider-network' %}">Red de proveedores de servicios gen&eacute;ticos</a>.</p>
</div>
</div>