<div class="row">
<div class="col-md-12">
<h3>Flexible testing; select a single panel, combine multiple panels, or customize your own panel.</h3>

<p>Invitae is making cardiology testing faster and more affordable than ever before. No matter which test you choose, we offer a flat price<sup>*</sup>, with just three weeks on average from sample to results.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0017' %}"><span class="icon icon-angle-right"></span>Long QT syndrome</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">View Test</a>

<p>A 13-gene panel that includes the five primary genes associated with Long QT syndrome -- KCNQ1, KCNH2, SCN5A, KCNE1 and KCNE2 -- as well as eight additional genes. We provide full gene sequencing and deletion/duplication analysis in a single test.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0016' %}"><span class="icon icon-angle-right"></span>Brugada syndrome</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">View Test</a>

<p>A 10-gene panel that includes the primary gene associated with BrS -- SCN5A -- as well as nine other genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0019' %}"><span class="icon icon-angle-right"></span>Hypertrophic cardiomyopathy</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">View Test</a>

<p>A 16-gene panel for HCM that includes the 10 primary sarcomere genes, as well as six additional genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0018' %}"><span class="icon icon-angle-right"></span>Short QT syndrome</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">View Test</a>

<p>A six-gene panel that includes KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1, and CACNA1C.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cardio-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>
