 <div class="row">
                <div class="col-md-12">
                    <h3>Flexible testing; select a single panel, combine multiple panels, or customize your own panel.</h3>

                    <p style="margin-bottom: 35px;">Invitae is making cardiology testing faster and more affordable than ever before. No matter which test you choose, we offer a flat rate of
                        $1500.<sup>*</sup> Just three weeks on average from sample to results.</p>

                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>Long QT syndrome</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>A 13-gene panel that includes the five primary genes associated with Long QT syndrome -- KCNQ1, KCNH2, SCN5A, KCNE1 and KCNE2 -- as well as eight additional genes. We provide full gene sequencing and deletion/duplication analysis in a single test.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>Brugada syndrome</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>A 10-gene panel that includes the primary gene associated with BrS -- SCN5A -- as well as nine other genes.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>Hypertrophic cardiomyopathy</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>A 16-gene panel for HCM that includes the 10 primary sarcomere genes, as well as six additional genes.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><span class="icon"></span>Short QT syndrome</h4>

                        <div class="expandable-content">
                            <a href="{% url 'physician.panel-detail' " class="btn btn-color-inherit btn-sm btn-right">View Test</a>
                            <p>A six-gene panel that includes KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1, and CACNA1C.</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row cardio-testing-figures">
                <div class="col-xs-12">
                    <h3>Gene Charts</h3>
                </div>
            </div>
            <div class="row cardio-testing-figures">
                <div class="col-sm-3">
                    <h4>Long QT Syndrome</h4>
                    <div class="cardio-testing-figure cardio-longqt"><div class="content"></div></div>
                </div>
                <div class="col-sm-3">
                    <h4>Brugada Syndrome</h4>
                    <div class="cardio-testing-figure cardio-brugada"><div class="content"></div></div>
                </div>
                <div class="col-sm-3">
                    <h4>Hypertrophic Cardiomyopathy</h4>
                    <div class="cardio-testing-figure cardio-hc"><div class="content"></div></div>
                </div>
                <div class="col-sm-3">
                    <h4>Short QT Syndrome</h4>
                    <div class="cardio-testing-figure cardio-shortqt"><div class="content"></div></div>
                </div>
            </div>