<div class="row">
                <div class="col-md-12">
                    <h3>Have a question or comment? Let us know.</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-9">
                    <h4>Online Contact Form</h4>
                    <form method="post" action="{% url 'portal_common.leave-comment' %}" id="form_comment">
                        <div id="contact-form" class="form-wrapper">

                            <div class="field-wrapper id_first_name required">
                                <label for="id_first_name">First Name</label>
                                <input value="{{ user.first_name }}" name="first_name" id="id_first_name" type="text">
                            </div>

                            <div class="field-wrapper id_last_name required">
                                <label for="id_last_name">Last Name</label>
                                <input value="{{ user.last_name }}" name="last_name" id="id_last_name" type="text">
                            </div>

                            <div class="field-wrapper id_email required">
                                <label for="id_email">Email</label>
                                <input value="{{ user.userprofile.email_address }}" name="email" id="id_email" type="text">
                            </div>

                            <div class="field-wrapper id_phone">
                                <label for="id_phone">Phone</label>
                                <input value="{{ user.userprofile.contact_info.phone }}" name="phone" id="id_phone" type="text">
                            </div>

                            <div class="field-wrapper id_topic">
                                <label for="id_topic">Topic</label>
                                <select name="topic" cols="30" id="id_topic">
                                    <option value="" selected></option>
                                    <option value="testing">Testing Inquiries</option>
                                    <option value="media">Media Inquiries</option>
                                    <option value="bd">Business Development Inquiries</option>
                                    <option value="other">All Other</option>
                                </select>
                            </div>

                            <div class="field-wrapper id_subject required">
                                <label for="id_subject">Subject</label>
                                <input name="subject" id="id_subject" type="text">
                            </div>

                            <div class="field-wrapper text-area id_comments required">
                                <label for="id_comments">Question Or Comment</label>
                                <textarea name="comments" id="id_comments"></textarea>
                            </div>

                            <div class="field-wrapper id_contact_me required">
                                <label for="id_contact_me">I would like to be contacted by Invitae about my inquiry</label>
                                <input value="yes" type="checkbox" name="contact_me" id="id_contact_me" checked>
                            </div>

                            <button class="btn btn-color-inherit btn-lg" type="submit">Submit</button>

                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="content-sidebar">

                        <h4>Testing Inquiries</h4>
                        <p>Phone: +1 415-374-7782</p>
                        <p>Toll Free: 800-436-3037</p>
                        <p>Email: <a href="mailto:clinical@invitae.com">clinical@invitae.com</a></p>

                        <h4>Partnerships and Collaborations</h4>
                        <p>Email: <a href="mailto:bd@invitae.com">bd@invitae.com</a></p>

                        <h4>Media Inquiries</h4>
                        <p>Email: <a href="mailto:pr@invitae.com">pr@invitae.com</a></p>

                        <h4>Investors</h4>
                        <p>Email: <a href="mailto:ir@invitae.com">ir@invitae.com</a></p>

                        <h4>Other Inquiries</h4>
                        <p>Email: <a href="mailto:info@invitae.com">info@invitae.com</a></p>

                        <h4>Mailing Address</h4>
                        <p><a href="https://maps.google.com/maps?q=458+Brannan+Street,+San+Francisco.+CA+94107" target="_blank">458 Brannan St.<br>
                        San Francisco, CA, 94107</a></p>

                    </div>
                </div>
            </div>