<p>Invitae is a New York State approved clinical laboratory (PFI# 8884). The following tests and genes are approved or under conditional approval by New York State to be performed at Invitae and do not require a New York exemption form. A patient informed consent form is mandatory for all New York approved tests.</p>

<p><a href="http://marketing.invitae.com/acton/attachment/7098/f-03d3/1/-/-/-/-/F158_NewYorkApproved_TestCatalog.pdf" id="" target="_blank" class="btn btn-color-transparent btn-lg"><span class="icon icon-arrow-box-stop-down"></span>Invitae New York approved test catalog</a></p>

<p><a href="http://marketing.invitae.com/acton/attachment/7098/f-03d2/1/-/-/-/-/F157_NewYorkApproved_GeneList.pdf" id="" target="_blank" class="btn btn-color-transparent btn-lg"><span class="icon icon-arrow-box-stop-down"></span>Invitae New York approved gene list</a></p>

<p><a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" id="" target="_blank" class="btn btn-color-transparent btn-lg"><span class="icon icon-arrow-box-stop-down"></span>Patient informed consent form</a></p>

<p>To order a test or gene(s) <strong>not</strong> listed in the Invitae New York approved test catalog, please complete a <a href="https://marketing.invitae.com/acton/attachment/7098/f-03ea/1/-/-/-/-/FM142_Invitae_NewYork-Waiver.pdf">New York exemption form</a> and fax it to the New York State Department of Health to seek their permission prior to shipping your sample to Invitae.</p>

<p>Visit our <a href="{% page_url 'portal_common.licensing' %}">Licensing</a> page to download a pdf of our New York license in addition to other licenses and certifications.</p>
