<div class="row">
<div class="col-md-7">
<h2>Family history</h2>

<p>Family history can offer clues to your future health. Collecting your family's medical history may help you identify diseases you may be at risk for.</p>

<p>Invitae believes that capturing a complete and accurate family history is critical to interpreting genetic results. That’s why we offer a free digital tool that allows you to map out your family medical history.</p>

<p>Get started with your own <a href="{% page_url 'portal_common.family-history' %}">family history</a> today.</p>

<p><a href="//fast.wistia.net/embed/iframe/w2dfbz26yx?popover=true" id="" class="btn btn-color-mountain btn-lg wistia-popover[height=400,playerColor=7b796a,width=640]"><span class="icon icon-angle-right"></span>WATCH VIDEO</a></p>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script></div>

<div class="col-md-5 image-col"><img class="img-responsive center-block" alt="" src="/static/img/patient_portal/illustration-pedigree-people.png"></div>
</div>
