<div class="offset-panel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="number-color-willow2">1</div><h3>Sign up for an online account</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                         <p>This video provides instructions for healthcare providers; if you are a patient interested in
                        setting up an account to track the status of your test, please visit our
                            <a href="{% page_url 'portal_common.for-patients' %}">Patients</a> page.</p>
                    </div>
                    <div class="col-md-3">
                        <p><a href="{% url 'portal_common.signup' %}" target="_blank" class="btn btn-color-mountain btn-sm btn-left">
                        <span class="icon icon-clipboard-check"></span>Sign Up for Account</a></p>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin:20px 0;text-align:center;" class="visible-sm visible-md visible-lg">
                        <iframe width="640" scrolling="no" height="431" class="wistia_embed" allowfullscreen="" frameborder="0" mozallowfullscreen="" oallowfullscreen="" src="//fast.wistia.net/embed/iframe/zb60ne3xfc" msallowfullscreen="" allowtransparency="true" webkitallowfullscreen="" name="wistia_embed"></iframe>
                        <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
                        </div>
                        </div>
                        <div>
                        <div style="margin:20px;" class="visible-xs">
                        <a class="btn-color-bondi btn btn-lg wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/zb60ne3xfc?popover=true">
                            <span class="icon icon-angle-right"></span>WATCH VIDEO
                        </a>
                        </div>
                    </div>
                </div>