<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-willow2">1</div>

<h3>Regístrese para obtener una cuenta en línea</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p>Este video ofrece instrucciones para proveedores de salud; si usted es un paciente interesado en crear una cuenta para realizar el seguimiento del estado de su estudio, visite nuestra página de <a href="{% page_url 'portal_common.for-patients' %}">Pacientes</a>.</p>
</div>

<div class="col-md-3">
<p><a href="{% url 'portal_common.signup' %}" target="_blank" class="btn btn-color-mountain btn-sm btn-left"><span class="icon icon-clipboard-check"></span>REGÍSTRESE</a></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="visible-sm visible-md visible-lg" style="margin:20px 0;text-align:center;"><iframe oallowfullscreen="" webkitallowfullscreen="" src="//fast.wistia.net/embed/iframe/yh1tb2ue2x" msallowfullscreen="" allowtransparency="true" scrolling="no" allowfullscreen="" frameborder="0" name="wistia_embed" width="640" mozallowfullscreen="" class="wistia_embed" height="400"></iframe><script async src="https://fast.wistia.net/assets/external/E-v1.js"></script></div>
</div>

<div>
<div class="visible-xs" style="margin:20px;"><a href="//fast.wistia.net/embed/iframe/yh1tb2ue2x?popover=true" class="btn-color-bondi btn btn-sm wistia-popover[height=431,playerColor=7b796a,width=640]"><span class="icon icon-angle-right"></span>MIRAR VIDEO</a></div>
</div>
</div>