<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-bondi">4</div>

<h3>Recibir los resultados</h3>

<p>Sus resultados estarán listos en un promedio de tres semanas después de que llegue la muestra. Un informe clínico detallado, revisado por nuestro equipo clínico registrado, estará disponible en línea para que usted pueda verlo, descargarlo e imprimirlo según su conveniencia. Puede acceder al informe en cualquier momento <a href="{% url 'portal_common.signin' %}">Iniciando Sesión</a> en su cuenta en línea.</p>
</div>
</div>
</div>