<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Haga una solicitud en línea</h3>
</div>
</div>

<div class="row">
<div class="col-md-8">
<p>Este video muestra cómo un profesional de la salud puede navegar por nuestro catálogo de estudios en línea, hacer una solicitud en línea y guardar estudios personalizados para facilitar la solicitud repetida de estudios.</p>
</div>

<div class="col-md-4">
<p><a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-mountain btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>BUSCAR EN EL CATÁLOGO DE ESTUDIOS</a></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div style="margin:20px 0;text-align:center;" class="visible-sm visible-md visible-lg"><iframe width="640" mozallowfullscreen="" height="431" msallowfullscreen="" class="wistia_embed" allowfullscreen="" frameborder="0" oallowfullscreen="" src="//fast.wistia.net/embed/iframe/hs4e0j8l38" allowtransparency="true" webkitallowfullscreen="" name="wistia_embed" scrolling="no"></iframe><script src="https://fast.wistia.net/assets/external/E-v1.js" async></script></div>
</div>

<div>
<div style="margin:20px;" class="visible-xs"><a class="btn-color-bondi btn btn-lg wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/hs4e0j8l38?popover=true"><span class="icon icon-angle-right"></span>MIRAR VIDEO</a></div>
</div>
</div>