<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Haga una solicitud en línea</h3>

<p>Haga su solicitud en línea para un procesamiento más eficaz de su solicitud, una entrega de informes más rápida y acceso a las otras funciones en línea. Crear una cuenta solo toma unos pocos minutos, y también puede navegar y realizar su solicitud directamente de <a href="{% page_url 'portal_common.test-catalog' %}">nuestro catálogo de estudios</a> en línea.</p>
</div>
</div>
</div>