<div class="row">
<div class="col-md-12">
<h3>Más información</h3>

<p>Para obtener más información sobre cómo hacer solicitudes con Invitae, visite nuestra página de <a href="{% page_url 'portal_common.faq' %}">Preguntas Frecuentes</a>.</p>
</div>
</div>