<div class="offset-panel">
                <div class="row">
                    <div class="col-md-12">
                        <div class="number-color-bondi">4</div><h3>Receive results</h3>
                        <p>Your results will be ready an average of three weeks after sample arrival. A detailed clinical report,
                            reviewed by our clinical sign-out team, will be available online for you to view, download, and print
                            at your convenience. You can access the report anytime by <a href="{% url 'portal_common.signin' %}">Signing In</a>
                            to your online account</p>
                    </div>
                </div>
            </div>