<div class="row">
<div class="col-md-12">
<h3>Your own team of genetic experts.</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p>Our team of genetic counselors, medical geneticists, and scientists works together to provide you with a curated genetic testing menu and clinically-relevant test results.</p>

<ul class="bullet-list">
	<li>Invitae&#39;s team of scientists extensively reviews the available literature and public database entries for each gene.</li>
	<li>Genetic disorders associated with each gene are analyzed, including disease penetrance, inheritance, and known pathogenic variants.</li>
	<li>Each gene&#39;s molecular characteristics are defined, including known isoforms, detailed gene structures, and challenging regions to assay.</li>
	<li>After review, genes are organized into testing options that help you select the genetic test your patient needs.</li>
	<li>During report signout, our clinical team follows the American College of Medical Genetics (ACMG) guidelines for variant classification.</li>
</ul>

<p>To learn more about Invitae&#39;s method of variant classification, please visit our <a href="{% page_url 'portal_common.variant-classification' %}">Variant Classification</a> page.</p>

<p>&nbsp;</p>
</div>
</div>
