<div class="row">
<div class="col-md-12">
<h3>When technology enables better medical practice.</h3>

<p>Invitae is a College of American Pathologists (CAP)-accredited and Clinical Laboratory Improvement Amendments (CLIA)-certified clinical diagnostic laboratory performing full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology (NGS).</p>

<h4>Gene list</h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.test-catalog' %}" target="_blank"><span class="icon icon-arrow-stop-down"></span>View Test Catalog </a>

<p>Our sequence analysis covers clinically important regions of each gene and other non-coding sequence positions containing select known pathogenic variants. Deletion/duplication analysis is not performed for all genes in our catalog. For some genes, analysis may be limited to specific exons or targeted variants. Download our gene list for a complete list of the genes in our catalog with details on the analysis of each.</p>

<h4>Leading with science</h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.validation-studies' %}"> <span class="icon icon-angle-right"></span>Validation Studies </a>

<p>To demonstrate that Invitae&#39;s analysis provides high-quality results, we validated both our analytic results and our clinical interpretations through collaborations with Massachusetts General Hospital, Harvard Medical School, Stanford University, and Beth Israel Deaconess Medical Center. The results demonstrate 100 percent analytic sensitivity and specificity for Invitae&rsquo;s panel compared to traditional genetic test results. To learn more about these studies, please visit our Validation Studies page.</p>
</div>
</div>
