<div class="row">
<div class="col-md-12">
<h2><span class="highlighted-text-mountain">La herramienta de antecedentes familiares </span>de Invitae</h2>
</div>

<div class="col-md-5">
<p>En Invitae, creemos que la recopilaci&oacute;n completa y exacta de los antecedentes familiares es esencial para la interpretaci&oacute;n de los resultados gen&eacute;ticos. Es por esta raz&oacute;n que ofrecemos una herramienta digital gratuita que le permite hacer un mapa de sus antecedentes de salud familiares.</p>

<p>La herramienta de antecedentes familiares facilita el rastreo r&aacute;pido, completo y preciso de sus antecedentes m&eacute;dicos familiares. El cuestionario del paciente integrado generar&aacute; autom&aacute;ticamente sus antecedentes familiares para ayudarle a ahorrar tiempo.</p>

<p>Comience con sus propios antecedentes familiares hoy mismo.</p>
<a class="btn fht-button btn-color-mountain btn-lg" href="{% page_url 'portal_common.family-history' %}" id=""><span class="icon none"></span> HERRAMIENTA DE ANTECEDENTES FAMILIARES </a></div>

<div class="col-md-7">
<div class="hero-devices">
<div class="content">&nbsp;</div>
</div>
</div>
</div>
