<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-mountain">3</div>

<h3>Send in sample</h3>

<p>For details about our sample and shipping requirements, visit our <a href="{% page_url 'portal_common.sample-requirements' %}">Sample Requirements</a> page. To request a free sample collection kit using our online request form, visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page.</p>

<p> </p>
</div>
</div>
</div>
