<h2>Easy online ordering</h2>

<p>Place your order online for more efficient processing, faster report delivery, and access to additional online features. <a href="/en/common/signup/">Setting up an account</a> only takes a few minutes, and you can also browse and order directly from our online <a href="/en/search/">test catalog</a>.</p>

<p>Online ordering is available for diagnostic testing, exome, and carrier screening. To order other reproductive testing, including preimplantation genetic testing and prenatal diagnosis, please visit the <a href="https://www.invitae.com/en/physician/reproductive-health/">reproductive health catalog</a> for ordering information. To order our proactive testing, please download the <a href="https://marketing.invitae.com/acton/attachment/7098/f-045d/1/-/-/-/-/TRF907_Invitae_GeneticHealthScreen_ReqForm.pdf">test requisition form</a>.</p>

<p>If you prefer to place a paper-based order for panel testing, you can also download our paper test requisition from our <a href="{% page_url 'portal_common.order-forms' %}">Forms</a> page. Please note that there is no paper requisition for the Invitae Boosted Exome, which can only be ordered online.</p>

<table cellspacing="1" style="width:auto; margin-left: auto; margin-right: auto;" border="0" cellpadding="1" class="table-with-lines">
	<tbody>
		<tr>
			<td style="text-align:center"><br>
			<span style="font-size:125px" class="icon icon-click gradient-icon-reverse"></span></td>
			<td> 
			<h4><strong>1. Sign up for a portal account</strong></h4>

			<p style="font-size:18px">Get started by creating your Invitae portal account. Any medical professional can create an account and order on behalf of multiple clinicians and organizations.</p>

			<p><a href="/common/signup/" class="btn btn-color-mountain btn-lg" target="_blank">Sign up</a></p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;"><br>
			<span style="font-size:125px" class="icon icon-get-test gradient-icon-reverse"></span></td>
			<td> 
			<h4><strong>2. Place an order</strong></h4>

			<p style="font-size:18px">Our online ordering flow is streamlined and flexible. Choose from pre-curated panels or design and save custom orders for easy re-ordering. Not quite ready to place your order? No problem. Save draft orders and come back to them later.</p>

			<p></p>

			<p></p>

			<p></p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;"><br>
			<span style="font-size:125px" class="icon icon-how-step2 gradient-icon-reverse"></span></td>
			<td> 
			<h4><strong>3. Send in sample</strong></h4>

			<p style="font-size:18px">Collect a sample from your patient and return it using one of our free <a href="/request-a-kit/">specimen collection kits</a>. Visit our <a href="/specimen-requirements/">Specimen Requirements</a> page for more information and be sure to label each sample with the patient's <strong>full name</strong>, <strong>date of birth</strong>, <strong>sample collection date</strong> , and either medical record or requisition number (if known). </p>

			<p><a href="/request-a-kit/" class="btn btn-color-mountain btn-lg" target="_blank">Request Kits</a></p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;"><br>
			<span style="font-size:125px" class="icon icon-how-step3 gradient-icon-reverse"></span></td>
			<td> 
			<h4><strong>4. Track the status of your orders</strong></h4>

			<p style="font-size:18px">Track the progress of your orders as they move through our lab. You can set your preferences to receive email notifications about key events such as when a sample arrives, or when a report is released. Use our secure messaging tool to communicate with Invitae staff and easily upload additional documentation.</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;"><br>
			<span style="font-size:125px" class="icon icon-insurance gradient-icon-reverse"></span></td>
			<td> 
			<h4><strong>5. Receive results</strong></h4>

			<p style="font-size:18px">Once test results are ready (10-21 calendar days for panel testing), you'll be able to download the detailed clinical report and securely share the results with patients and colleagues.</p>

			<p><a href="https://marketing.invitae.com/acton/attachment/7098/f-037f/1/-/-/-/-/SR135_Invitae_Sample_Report_Cancer_Positive.pdf" class="btn btn-color-mountain btn-lg" target="_blank">View sample report</a></p>
			</td>
		</tr>
	</tbody>
</table>