<div class="row">
                <div class="col-md-12">
                    <h3>Easy online ordering</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Place your order online for more efficient order processing, faster report delivery, and access to
                        additional online features. Setting up an account only takes a few minutes, and  you can also browse
                        and order directly from our online test catalog.</p>
                    <p>To learn more about how to set up an account and place an order online, watch our instructional
                        videos below.</p>
                    <p><strong>An Invitae online account enables you to:</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                     <ul class="bullet-list">
                         <li>Design and save custom orders for easy re-ordering.</li>
                         <li>Securely share test results with patients and colleagues.</li>
                         <li>Order on behalf of clinicians in your organization.</li>
                     </ul>
                </div>
                <div class="col-md-7">
                     <ul class="bullet-list">
                         <li>Track order status in real time and keep a record of previous orders.</li>
                         <li>Securely message Invitae staff and upload documents.</li>
                         <li>View and download your test reports.</li>
                     </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>If you prefer to place a paper-based order, you can also download our paper
                        test requisition from our <a href="{% page_url 'portal_common.order-forms' %}">Forms</a> page.</p>
                </div>
            </div>