
<div class="row   ">
<div class="col-md-1   ">
<div class="number-emerald   ">2</div></div>

<div class="col-md-11   ">
<h3>Place your order</h3>
<a href="{% url 'physician.search' %}" class="btn btn-color-inherit btn-sm btn-right"><span class="icon icon-order-cart   "></span>Start an order </a>

<p class="">After selecting conditions from our online catalog, follow our simple step-by-step online ordering process to submit a requisition.</p>

<p class="">If you prefer placing a paper-based order, you can also download our test requisition form on our <a href="{% page_url 'portal_common.order-forms' %}">Order Forms</a> page.</p></div></div>
