<div class="row">
<div class="col-md-12">
<h3>A escolha certa para o seu paciente.</h3>

<p>A Invitae est&aacute; tornando mais f&aacute;cil e acess&iacute;vel solicitar o teste de CMT correto para o seu paciente. Independentemente de voc&ecirc; selecionar o painel de CMT completo ou um subtipo espec&iacute;fico, &eacute; o mesmo pre&ccedil;o<sup>*</sup> baixo e leva apenas tr&ecirc;s semanas, em m&eacute;dia, da amostra at&eacute; os resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0011' %}"><span class="icon icon-angle-right"></span>Doen&ccedil;a de Charcot-Marie-Tooth, painel completo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0011' %}">Ver Teste</a>

<p>Um painel multigenes que inclui o CMT tipo 1, CMT tipo 2, CMT dominante intermedi&aacute;rio, CMT tipo 4 e CMT tipo X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0012' %}"><span class="icon icon-angle-right"></span>CMT, autoss&ocirc;mico dominante</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0012' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que t&ecirc;m um padr&atilde;o de heran&ccedil;a autoss&ocirc;mica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0016' %}"><span class="icon icon-angle-right"></span>CMT, tipo 1</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0016' %}">Ver Teste</a>

<p>O CMT tipo 1 &eacute; uma forma desmielinizante do CMT com um padr&atilde;o de heran&ccedil;a autoss&ocirc;mica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0103' %}"><span class="icon icon-angle-right"></span>CMT, tipo 2</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0103' %}">Ver Teste</a>

<p>O CMT tipo 2 &eacute; uma forma axonal do CMT com um padr&atilde;o de heran&ccedil;a predominantemente autoss&ocirc;mica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0105' %}"><span class="icon icon-angle-right"></span>CMT, dominante intermedi&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0105' %}">Ver Teste</a>

<p>O CMT dominante intermedi&aacute;rio tem defeitos axonais e desmielinizantes e &eacute; herdado em um padr&atilde;o autoss&ocirc;mico dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0013' %}"><span class="icon icon-angle-right"></span>CMT, autoss&ocirc;mico recessivo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0013' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que t&ecirc;m um padr&atilde;o de heran&ccedil;a autoss&ocirc;mica recessiva.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0106' %}"><span class="icon icon-angle-right"></span>CMT, tipo 4</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0106' %}">Ver Teste</a>

<p>O CMT tipo 4 &eacute; principalmente desmielinizante, embora um subconjunto de casos seja axonal. Todas as formas de CMT tipo 4 s&atilde;o autoss&ocirc;micas recessivas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0014' %}"><span class="icon icon-angle-right"></span>CMT, ligado ao X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0014' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que t&ecirc;m um padr&atilde;o de heran&ccedil;a ligada ao X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0104' %}"><span class="icon icon-angle-right"></span>CMT, tipo X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0104' %}">Ver Teste</a>

<p>O CMT tipo X tem uma apresenta&ccedil;&atilde;o intermedi&aacute;ria, com defeitos axonais e desmielinizantes. Ele &eacute; herdado em um padr&atilde;o ligado ao X.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cmt-testing-figure">
<div class="content">&nbsp;</div>
</div>
</div>
</div>
