<div class="container">
<div class="text-content">
<h2>Easy online ordering</h2>

<p style="margin-right: 40px;">Place your order online for more efficient order processing, faster report delivery, and access to additional online features. Setting up an account only takes a few minutes, and you can also browse and order directly from our online test catalog.</p>

<table style="width:90%" class="table-with-lines">
	<tbody>
		<tr>
			<th>
			<p>An Invitae online account enables you to: </p>

			<ul class="bullet-list">
				<li>Design and save custom orders for easy reordering.</li>
				<li>Securely share test results with patients and colleagues.</li>
				<li>Order on behalf of clinicians in your organization.</li>
				<li>Track order status in real time and keep a record of previous orders.</li>
				<li>Securely message Invitae staff and upload documents.</li>
				<li>View and download your test reports.</li>
			</ul>
			</th>
			<th>
			<p><br>
			 </p>
			<a href="{% url 'portal_common.signup' %}" class="btn btn-lg landing-simple-button btn-color-mountain" target="_blank"><span class="icon icon-clipboard-check"></span>Set up an account</a>

			<p></p>
			<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-lg landing-simple-button btn-color-mountain" target="_blank"><span class="icon icon-categories"></span>View test catalog</a>

			<p></p>
			</th>
		</tr>
	</tbody>
</table>

<p style="margin-right: 40px;"><br>
Invitae continually updates its panels based on the most recent evidence. Please note that if an order is placed using an older version of these forms, Invitae reserves the right to upgrade any ordered panel(s) to the current version(s). To avoid confusion, please consider placing your order online. <i>If you choose to place an order using one of the forms below, please use Adobe Acrobat for the best experience.</i></p>

<p></p>
</div>
</div>