<div class="row">
<div class="col-md-12">
<h3>Ordering</h3>

<p><strong>Easy online ordering</strong></p>

<p>Place your order online for more efficient order processing, faster report delivery, and access to additional online features. Setting up an account only takes a few minutes, and you can also browse and order directly from our online test catalog.</p>

<p><strong>An Invitae online account enables you to:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Design and save custom orders for easy reordering.</li>
	<li>Securely share test results with patients and colleagues.</li>
	<li>Order on behalf of clinicians in your organization.</li>
	<li>Track order status in real time and keep a record of previous orders.</li>
	<li>Securely message Invitae staff and upload documents.</li>
	<li>View and download your test reports.</li>
</ul>
</div>

<div class="col-md-6">
<p> </p>

<p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-clipboard-check"></span>Set Up an Account</a></p>
<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>View Test Catalog</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>You can also download paper order forms here:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-0148/1/-/-/-/-/FM102-4.02_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Full Requisition Form </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-0149/1/-/-/-/-/FM103-4.02_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Hereditary Cancer Requisition Form </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-0236/1/-/-/-/-/TRF903-1_%20Invitae%20Hereditary%20Cancer%20Simplified%20Req%20Form.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Hereditary Cancer Simplified Requisition Form </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904-1_%20Req%20Form%20Cardio.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Cardiology Requisition Form </a></div>

<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905-1_%20Req%20Form%20Neuro.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Neurology Requisition Form</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906-1_%20Req%20Form%20Pediatrics.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Pediatric Genetics Requisition Form</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Patient Informed Consent Form </a>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p> </p>
</div>
</div>