<div class="row">
<div class="col-md-12">
<h3>Tipos de amostras</h3>

<p>O tipo de amostra de prefer&ecirc;ncia da Invitae para ensaios de sequenciamento de &ugrave;ltima gera&ccedil;&atilde;o &eacute; o sangue total venoso perif&eacute;rico em um tubo de EDTA de tampa roxa. Tamb&eacute;m aceitamos amostras de saliva, al&eacute;m de DNA gen&ocirc;mico (DNAg) que tenha sido isolado em nossos laborat&oacute;rios, embora existam limita&ccedil;&otilde;es ao ensaio com DNAg. Para conhecer detalhes, consulte a se&ccedil;&atilde;o &quot;DNAg&quot; a seguir. Por favor note que não podemos aceitar amostras de DNA para testes de exome neste momento.</p>

<p>Para facilitar ao m&aacute;ximo o fornecimento de uma amostra, podemos enviar-lhekits gratuitos para a coleta de amostras de sangue ou saliva. Tamb&eacute;m oferecemos servi&ccedil;os de flebotomia sem custo adicional nos EUA e Canad&aacute;. Podemosagendar uma coleta de sangue no seu consult&oacute;rio ou na resid&ecirc;ncia do seu paciente. Acesse nossa p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais sobre ambos os servi&ccedil;os.</p>
</div>
</div>
