<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Advancing<br>
<span>genetic testing.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>INVITAE IS A GENETIC INFORMATION COMPANY.</h6>

<p>We are lowering the barriers to clinical genetic testing for both clinicians and patients.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel">
                        <span class="icon icon-dollar-sign"></span>
                        <h4>Affordable, transparent pricing.</h4>
                        <p>The right genes at the right price.</p>
                    </div>
                    <div class="advancing-panel">
                        <span class="icon icon-clock-face"></span>
                        <h4>Faster time to answers.</h4>
                        <p>From sample to results in three weeks on average.</p>
                    </div>
                    <div class="advancing-panel">
                        <span class="icon icon-sliders"></span>
                        <h4>Flexible test options.</h4>
                        <p>Select a curated panel, customize with one click, or design your own.</p>
                    </div>
                    <div class="advancing-panel">
                        <span class="icon icon-light-bulb"></span>
                        <h4>Deeper genetic insights.</h4>
                        <p>Start with targeted genes; add more later at no additional charge.<sup>*</sup></p>
                    </div>
                    <div class="advancing-panel">
                        <span class="icon icon-clipboard-check-outside"></span>
                        <h4>Quality and confidence.</h4>
                        <p>Proven results based on published data and backed by our team of genetic and medical experts.</p>
                    </div>
                    <div class="advancing-panel">
                        <span class="icon icon-support"></span>
                        <h4>Support every step of the way.</h4>
                        <p>From clinical consultations with genetic counselors to help with ordering, billing, and understanding results.</p>
                    </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>Pricing per indication: List price of $1500, with discount to $950 for institutions and distributors under contract with Invitae, and payers who contract with Invitae under certain terms. Upfront patient-pay price is $475 for orders placed online and connected to a patient account. Pricing outside the US does not include shipping fees.<br>
<sup>**</sup>If your patient receives a negative or inconclusive result on an Invitae test, you can order one re-requisition at no additional charge for additional genes related to the original indication for testing within 90 days of the original report release date. Visit our <a href="{% page_url 'portal_common.re-requisition' %}">re-requisition</a> page for details.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">‌</a></div>