<div class="container">
<div class="row">
<div class="col-md-4">
<h2>Caring<br>
<span>for your<br>
patients and<br>
their families.</span></h2>
</div>

<div class="col-md-8"><a class="fht-responsive" href="{% page_url 'portal_common.family-history' %}">
<div class="content"> </div>
</a></div>
</div>

<div class="row">
<div class="col-md-2"> </div>

<div class="col-md-9">
<div class="row">
<div class="intro">
<div class="col-md-8">
<h6>INTRODUCING THE INVITAE FAMILY HISTORY TOOL.</h6>

<p>A free app to build, modify, share, and save patient pedigrees.</p>
</div>

<div class="col-md-4">
<ul class="bullet-list">
	<li><a class="text-link" href="{% page_url 'portal_common.family-history' %}"><span class="icon icon-chevron-bracket-right"></span>Learn more</a></li>
	<li><a class="text-link" href="https://itunes.apple.com/us/app/invitae-family-history-tool/id789320252?ls=1&amp;mt=8" target="itunes_store" id="button-fht-ipad"><span class="icon icon-chevron-bracket-right"></span>Download for iPad</a></li>
	<li><a href="https://familyhistory.invitae.com" style="margin-right:0;" class="text-link" id="button-fht-web"><span class="icon icon-chevron-bracket-right"></span>Use the web app</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="col-md-1"> </div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid4">‌</a></div>
