<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Cardiology"><span class="text">CARDIOLOGY</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hereditary+cancer"><span class="text">HEREDITARY<br>
CANCER</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Pediatric+genetics"><span class="text">PEDIATRIC<br>
GENETICS</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Neurology"><span class="text">NEUROLOGY</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hematology"><span class="text">HEMATOLOGY</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">TEST<br>
CATALOG</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
