<div class="transparent-background"> </div>

<div class="container">
<div class="row">
<div class="col-sm-7 col-md-8">
<h2>Explore<br>
<span>our test catalog.</span></h2>

<form id="catalog-search-form" onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})" action="{% url 'physician.search' %}" method="get">
<div class="catalog-search-wrapper"><a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-mountain btn-lg">View our catalog</a></div>
</form>
</div>

<div class="col-sm-4 col-md-3">
<h6>INVITAE SPECIALIZES IN GENETIC TESTING FOR HEREDITARY DISORDERS.</h6>

<p>Our test catalog includes disorders in a variety of medical specialties, including cardiology, hereditary cancer, pediatric genetics, neurology, and hematology.</p>
</div>

<div class="col-sm-1 col-md-1"> </div>
</div>
</div>

<div class="nav-scrollspy-link"><a href="#scrollspyid2" class="icon-chevron-bracket-down">‌</a></div>

<p>‌</p>
