<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0">Announcing hundreds of new genes, dramatically expanded test menu.<span class="highlight">Learn more.</span></a></li>
	<li><a href="{% page_url 'portal_common.validation-studies' %}">Now offering full PMS2 testing including full gene sequencing and deletion/duplication analysis, at no additional charge. <span class="highlight">Learn more.</span></a></li>
	<li><a href="{% page_url 'portal_common.clinical' %}">New publication in JAMA Oncology shows the clinical benefits of panel testing. <span class="highlight">Learn more.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Building on our promise.</h1>

<h2>Hundreds of new genes. Dramatically expanded menu. Same mission.</h2>

<p>We’re offering more genes than ever while keeping our commitment to high quality and ​​affordable prices.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg" href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0">EXPLORE WHAT’S NEW</a></p>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>

<p>{% include 'social_links_snippet.html' %}</p>
</div>