<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Advancing<br>
<span>genetic testing.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>INVITAE IS A GENETIC INFORMATION COMPANY.</h6>

<p>We are lowering the barriers to clinical genetic testing for both clinicians and patients.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel"><span class="icon icon-dollar-sign"></span>

<h4>More affordable<br>
than ever before.</h4>

<p>One price, any test.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clock-face"></span>

<h4>Faster time<br>
to answers.</h4>

<p>From sample to results<br>
in 3 weeks on average.</p>
</div>

<div class="advancing-panel"><span class="icon icon-sliders"></span>

<h4>Flexible test<br>
options.</h4>

<p>Design your own test or select a curated panel.</p>
</div>

<div class="advancing-panel"><span class="icon icon-light-bulb"></span>

<h4>Deeper<br>
genetic insights.</h4>

<p>Choose multi-gene panels or order a re-requisition at no additional charge.<sup>*</sup></p>
</div>

<div class="advancing-panel"><span class="icon icon-clipboard-check-outside"></span>

<h4>Confidence<br>
and quality.</h4>

<p>Our team of genetic experts assures high-quality test results.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>If your patient receives a negative or inconclusive result on an Invitae test, you can order one re-requisition at no additional charge for additional genes related to the original indication for testing within 90 days of the original report release date. Visit our <a href="{% page_url 'portal_common.re-requisition' %}">re-requisition</a> page for details.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">‌</a></div>
