<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="{% page_url 'portal_common.validation-studies' %}">New publication comparing Invitae's multi-gene panel and traditional tests for hereditary breast and ovarian cancer in <i>JMD</i>. <span class="highlight">Learn more.</span></a></li>
	<li><a href="{% page_url 'patients ' %}">Announcing our new patient website and portal, offering realtime tracking, access to results, and more. <span class="highlight">Visit portal.</span></a></li>
	<li><a href="https://www.invitae.com/en/press/invitae-announces-first-quarter-2015-financial-results-and-highlights/#.VVuxcmC23aO">Introducing Invitae's transparent new pricing programs, including $475 upfront patient pay. <span class="highlight">Learn more.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>We are all connected.</h1>

<h2>Our shared genetic heritage unites humanity.</h2>

<p>Invitae is making genetic information more accessible to patients and clinicians, through high-quality, affordable genetic testing.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg wistia-popover[height=360,playerColor=7b796a,width=640]" href="https://fast.wistia.net/embed/iframe/0i1qqujcc8?popover=true"><span class="icon icon-angle-right"></span>WATCH VIDEO </a></p>
</div>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>

<p>{% include 'social_links_snippet.html' %}</p>
