<div class="row">
<div class="col-md-12">
<h3>Tipos de amostras</h3>

<p>O tipo de amostra preferido da Invitae para o nosso ensaio de sequenciamento de última geração é o sangue total periférico em um tubo de EDTA com tampa roxa. Também aceitamos DNA genômico (gDNA) isolado em outros laboratórios, mas existem limitações no ensaio ao utilizar esse tipo de amostra. Para ver mais detalhes, consulte a seção “gDNA” abaixo.</p>

<p>Para facilitar o máximo possível o fornecimento de uma amostra de sangue, podemos enviar kits gratuitos de coleta de amostras. Também oferecemos serviços de coleta de sangue sem nenhum custo adicional na América do Norte. Podemos agendar uma consulta para a retirada no seu consultório ou na casa do paciente. Para saber mais, visite a nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a>.</p>
</div>
</div>