<div class="team-content active" id="team-specimen-content">
<div class="list-content row">
<div class="col-md-2">Tipos de Amostras</div>

<div class="col-md-10">Tipos de amostras aceitos:
<ul class="bullet-list">
	<li>Aceitamos amostras de sangue total.</li>
	<li>Também aceitamos amostras de sangue congeladas ou parcialmente congeladas, apesar de que para a análise de deleção/duplicação não são aceitas amostras de sangue congeladas ou parcialmente congeladas neste momento.</li>
	<li>Não aceitamos amostras de sangue hemolisadas ou coaguladas.</li>
	<li>Não aceitamos amostras de pacientes que fizeram transplante de medula óssea.</li>
	<li>Não aceitamos amostras de pacientes que tenham malignidades hematológicas ativas.</li>
	<li>Os pacientes que fizeram transfusão de sangue devem esperar pelo menos duas semanas, a contar da data de transfusão, antes de fornecer uma amostra.</li>
</ul>
Embora também aceitemos o DNA genômico (DNAg) que foi isolado em outros laboratórios, existem limitações no ensaio quando se utiliza esse tipo de amostra. Entre em <a href="{% page_url 'portal_common.contact' %}">contato</a> com a equipe de atendimento ao cliente da Invitae.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">Exigimos um mínimo de 3 mililitros (mL) de sangue total, independentemente do número de genes que você solicitar. O volume de 3 mililitros (mL) é o mínimo exigido para adultos e crianças.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">A amostra deve ser enviada em um tubo de EDTA de tampa roxa. Aceitamos K2EDTA e K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Rotulagem</div>

<div class="col-md-10">O tubo deve ser etiquetado com:
<ul class="bullet-list">
	<li>O nome completo do paciente</li>
	<li>Um identificador único adicional
	<ul class="bullet-list">
		<li>Data de nascimento</li>
		<li>Número do expediente médico</li>
		<li>Número de IB, se colocado pelo médico solicitante</li>
		<li>ID de solicitação de teste da Invitae (número RQ)</li>
		<li>Número de identidade ou outra ID única</li>
	</ul>
	</li>
	<li>Data de coleta da amostra</li>
</ul>
O nome do paciente e o identificador único adicional escritos no tubo devem <strong>corresponder</strong> ao nome e ao identificador fornecidos quando a solicitação do teste foi efetuada.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento &amp; estabilidade</div>

<div class="col-md-10">Recomendamos usar a remessa noturna no mesmo dia em que a amostra de sangue for coletada.
<ul class="bullet-list">
	<li>Se a amostra de sangue for armazenada à temperatura ambiente, ela será viável por até 48 horas.</li>
	<li>Se a amostra de sangue for refrigerada, ela será viável por até uma semana.</li>
	<li>Não congele a amostra de sangue se você precisar da análise de deleção/duplicação. Não é possível realizar a análise de deleção/duplicação para as amostras de sangue congeladas ou parcialmente congeladas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentos</div>

<div class="col-md-10">Uma cópia impressa do formulário de requisição on-line deve ser enviada com a amostra. Você poderá imprimir uma cópia do formulário de requisição depois de concluir o processo de requisição on-line.</div>
</div>
</div>

<div class="team-content" id="team-shipping-content">
<div class="list-content row">
<div class="col-md-2">Remessa</div>

<div class="col-md-10">As amostras devem ser enviadas durante a noite em temperatura ambiente. Recomendamos incluir compressas frias em climas quentes para manter a amostra a 2-8 graus Celsius (35.6-46.6 graus Fahrenheit).</div>
</div>

<div class="list-content row">
<div class="col-md-2">Kits de coleta de amostras</div>

<div class="col-md-10">Para ajudar na coleta e remessa de amostras, você pode solicitar um kit de coleta de amostras gratuito da Invitae enviando o nosso formulário on-line de <a href="{% page_url 'portal_common.request-a-kit' %}">solicitação do kit de coleta de amostras</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Remessa própria</div>

<div class="col-md-10">
<p>Como alternativa, você pode nos enviar a amostra em um recipiente à prova de esmagamento via FedEx Priority Overnight (em conformidade com as <a target="blank>" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Regras de embalagens da Federal Express para amostras clínicas</a>). Entre em <a href="{% page_url 'portal_common.contact' %}">Contato</a> com a equipe de atendimento ao cliente da Invitae para obter o número da conta FedEx.</p>

<p>Envie para:</p>
A/C de: Atendimento ao cliente<br>
Invitae Corporation<br>
475 Brannan St, Suite 230<br>
San Francisco, CA 94107</div>
</div>

<div class="list-content row">
<div class="col-md-2">Cronograma da remessa</div>

<div class="col-md-10">A Invitae aceita pacotes de segunda a sexta-feira. Recomendamos que você envie o seu pacote de forma que ele saia das suas instalações de segunda a quinta-feira. Não solicite a entrega aos sábados. A Invitae segue o <a target="blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendário de serviços em feriados da FedEx</a>.</div>
</div>
</div>