<div id="team-blood-content" class="team-content active">
<div class="list-content row">
<div class="col-md-2">Tipos de Amostras</div>

<div class="col-md-10">Tipos de amostras aceitos:
<ul class="bullet-list">
	<li>Amostras de sangue total.</li>
	<li>Amostras de sangue congeladas ou parcialmente congeladas, apesar de no momento a análise de exclusão/duplicação não ser realizada para amostras de sangue congeladas ou parcialmente congeladas.</li>
</ul>
Não podemos aceitar:

<ul class="bullet-list">
	<li>Amostras de sangue hemolisado ou coagulado.</li>
	<li>Amostras de pacientes que fizeram um transplante de medula óssea.</li>
	<li>Amostras de pacientes com malignidades hematológicas ativas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">Nós exigimos um mínimo de 3 mililitros (mL) de sangue total, independentemente de quantos genes você solicitar, para adultos e crianças.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">A amostra deve ser enviada em um tubo de EDTA de tampa roxa. Aceitamos K2EDTA e K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetagem</div>

<div class="col-md-10">O tubo deve ser etiquetado com:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Um identificador único adicional:
	<ul class="bullet-list">
		<li>Data de nascimento</li>
		<li>Número do prontuário médico</li>
		<li>Número IB, se colocado pelo médico solicitante</li>
		<li>ID do pedido de teste da Invitae (Número RQ)</li>
		<li>Número de identidade ou outra identificação única</li>
	</ul>
	</li>
	<li>Data de coleta da amostra</li>
</ul>
O nome do paciente e o identificador único adicional escritos no tubo devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento e estabilidade</div>

<div class="col-md-10">Recomendamos o uso de envio noturno no mesmo dia em que a amostra de sangue é coletada.
<ul class="bullet-list">
	<li>Se a amostra de sangue for armazenada à temperatura ambiente, ela é viável por até 48 horas.</li>
	<li>Se a amostra de sangue for refrigerada, ela é viável por até uma semana.</li>
	<li>Caso solicite a análise de deleção/duplicação, não congele a amostra de sangue. A análise de deleção/duplicação realizada para amostras de sangue congeladas ou parcialmente congeladas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentação</div>

<div class="col-md-10">Uma cópia impressa do formulário de requisição on-line deve ser enviada com a amostra. Você poderá imprimir uma cópia do formulário de requisição depois de concluir oprocesso de requisição on-line.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">As amostras de sangue devem ser enviadas durante à noite em temperatura ambiente. Recomendamos o uso de bolsas de gelo em dias quentes para manter a amostra entre 2 e 8 graus centígrados (35,6 a 46,6 graus Fahrenheit). As amostras de sangue congelado devem ser enviadas durante a noite usando bolsas de gelo.<br>
<br>
Para ajudar na coleta e no envio das amostras, você pode solicitar um kit de coleta de amostras de sangue Invitae gratuito enviando nosso formulário de requisição on-line <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.<br>
<br>
Como alternativa, você pode nos enviar a amostra em uma embalagem à prova de esmagamento por meio do serviço noturno FedEx Priority Overnight (de acordo com as <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Diretrizes de embalagem da FedEx para amostras clínicas</a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato</a> com a equipe de atendimento ao cliente da Invitae para obter o número da conta FedEx. (Preço de fora os EUA não inclui taxas de envio.) Endereço de envio:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     475 Brannan St, Suite 230<br>
     San Francisco, CA 94107<br>
<br>
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que você envie seu pacote entre segunda e quinta-feira. Não solicite a entrega para sábado. A Invitae segue a programação <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">de serviços em feriados da FedEx</a>.<br>
<br>
Se você enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisará de três cópias de uma fatura comercial (ProForma). Certifique-se de também incluir um formulário de declaração alfandegária.</div>
</div>
</div>

<div id="team-gdna-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Limitações do ensaio</div>

<div class="col-md-10">No momento, a análise de exclusão/duplicação não é garantida para amostras de gDNA, independentemente da origem do tecido. A análise de exclusão/duplicação será provada para todas as amostras de gDNA. No entanto, a taxa de sucesso varia conforme a qualidade da amostra. Se você precisar da análise de exclusão/duplicação, forneça uma amostra de sangue total.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Devolução da amostra e política de faturamento</div>

<div class="col-md-10">A Invitae realiza uma análise de controle de qualidade (QC) inicial em todos as amostras de gDNA recebidos. Se o a sua amostra de gDNA não for aprovado na etapa de QC, entraremos em contato com você e a devolveremos de bom grado ou a descartaremos com segurança, sem nenhum custo.<br>
 <br>
Em casos raros, amostras de gDNA aprovadas no QC inicial pode não produzir resultados de sequenciamento aceitáveis e isso impossibilita a entrega do relatório do ensaio. Nesses casos:
<ul class="bullet-list">
	<li>A Invitae repetirá o sequenciamento uma vez.</li>
	<li>Se a segunda tentativa não atingir nossos padrões de qualidade, nós o informaremos e você pode optar, sem nenhum custo adicional, por enviar uma nova amostra de outra origem. A segunda amostra não deve ser outro gDNA do mesmo tubo ou origem de amostra que a primeira.</li>
	<li>A amostra original terá sido consumida durante a análise e não pode ser devolvida.</li>
	<li>Se você não puder ou não quiser enviar uma segunda amostra, não receberá um relatório de ensaio e o teste não será cobrado.</li>
</ul>
Se uma amostra de gDNA produzir resultados de sequenciamento, mas não de exclusão/duplicação:

<ul class="bullet-list">
	<li>Você receberá um relatório completo do ensaio sobre a análise desequenciamento.</li>
	<li>Se você quiser repetir o teste para análise de exclusão/duplicação utilizandouma amostra de sangue total, será responsável pelo custo integral de umsegundo teste da Invitae.</li>
	<li>A amostra original terá sido consumida durante a análise e não pode serdevolvida.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de amostras aceitos</div>

<div class="col-md-10">Aceitamos gDNA purificado a partir de sangue total venoso periférico.<br>
 <br>
O gDNA das seguintes origens também é aceito. No entanto, o gDNA extraído dessas fontes é mais provável que não cumpra os nossos padrões de qualidade para o sequenciamento da leitura:
<ul class="bullet-list">
	<li>Sangue congelado</li>
	<li>Swab/raspagem bucal</li>
	<li>Saliva</li>
	<li>Bochechos (enxágue bucal)</li>
	<li>Tecido de músculo ou pele</li>
</ul>
O gDNA das seguintes origens não é aceito:

<ul class="bullet-list">
	<li>Amostragem de vilosidade coriônica</li>
	<li>Amniócitos</li>
	<li>Produtos de concepção ou aborto</li>
	<li>Tumores</li>
	<li>Os pacientes que tenham uma malignidade hematológica ativa</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Quantidade e concentração</div>

<div class="col-md-10">Nós exigimos um mínimo de 20 ug de gDNA a uma concentração mínima de 50 ug/uL. A amostra de gDNA completa será consumida durante nossos processos laboratoriais.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">Nosso tipo de recipiente preferido é um tubo de 2 mililitros de microcentrífuga autônomo da marca Fisher com tampa de rosca; no entanto, aceitaremos o gDNA em qualquer tubo de plástico estéril.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetagem</div>

<div class="col-md-10">O recipiente de gDNA deve ser etiquetado com:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Um identificador exclusivo adicional:
	<ul class="bullet-list">
		<li>Data de nascimento</li>
		<li>Número do prontuário médico</li>
		<li>Número IB, se colocado pelo médico solicitante</li>
		<li>ID do pedido de teste da Invitae (Número RQ)</li>
		<li>Número de identidade ou outra identificação única</li>
	</ul>
	</li>
	<li>Data da coleta da amostra</li>
</ul>
O nome do paciente e o identificador único adicional escritos no recipiente devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentação</div>

<div class="col-md-10">Utilize este <a href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_gDNA-form.pdf">Modelo de formulário do gDNA</a> para documentar as informações necessárias. Imprima uma cópia preenchida deste formulário e anexe-a à amostra de gDNA.<br>
 <br>
Para preencher este formulário, você precisará das seguintes informações:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Data de nascimento do paciente</li>
	<li>Data de óbito do paciente (se aplicável)</li>
	<li>Origem da amostra</li>
	<li>Data da coleta</li>
	<li>Método de extração</li>
	<li>Data da extração</li>
	<li>Concentração do gDNA</li>
	<li>Quantidade de gDNA</li>
	<li>Método de quantificação</li>
	<li>Outras métricas do gDNA (por exemplo, 260/280, dados do gel/bioanalisador)</li>
	<li>Condições de armazenamento prévias e atuais</li>
</ul>
Uma cópia impressa do formulário de requisição on-line deve ser enviada com a amostra. Você poderá imprimir uma cópia do formulário de requisição depois de concluir oprocesso de requisição on-line.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">As amostras de DNAg devem ser enviadas durante à noite em temperatura ambiente. Recomendamos o uso de bolsas de gelo em dias quentes para manter a amostra entre 2 e 8 graus centígrados (35,6 a 46,6 graus Fahrenheit). As amostras de DNAg congelado devem ser enviadas durante a noite usando bolsas de gelo.<br>
<br>
Envie a amostra em uma embalagem à prova de esmagamento por meio do serviço noturno FedEx Priority Overnight (de acordo com as <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Diretrizes de embalagem da FedEx para amostras clínicas</a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato </a> com a equipe de atendimento ao cliente da Invitae para obter o número da conta FedEx. (Preço de fora os EUA não inclui taxas de envio.) Endereço de envio:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     475 Brannan St, Suite 230<br>
     San Francisco, CA 94107<br>
<br>
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que você envie seu pacote entre segunda e quinta-feira. Não solicite a entrega para sábado. A Invitae segue a programação <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">de serviços em feriados da FedEx</a>.<br>
<br>
Se você enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisará de três cópias de uma fatura comercial (ProForma). Certifique-se de também incluir um formulário de declaração alfandegária.</div>
</div>
</div>

<div id="team-postmortem-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Testes <i>post mortem</i></div>

<div class="col-md-10">Após a morte de uma pessoa querida devido a uma condição hereditária suspeita, o teste genético <i>post mortem</i> pode fornecer informações valiosas para os membros da família. Os testes <i>post mortem</i> podem ajudar a confirmar a causa da morte, bem como esclarecer se os membros da família podem se beneficiar com testes genéticos da mesma condição.<br>
 <br>
Os testes genéticos <i>post mortem</i> consideram vários fatores importantes antes de testar as amostras genéticas de indivíduos falecidos. Abaixo estão as informações gerais sobre o processo de teste da Invitae para a análise <i>post mortem</i>. Devido à natureza sensível desse tipo de análise e dessas amostras, exigimos que os médicos <a href="{% page_url 'portal_common.contact' %}">entrem em contato</a> conosco antes de enviar uma amostra <i>post mortem</i>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de amostras</div>

<div class="col-md-10">Aceitamos sangue total em um tubo de EDTA (tampa lavanda). Também aceitamos DNA genômico (gDNA) extraído em outros laboratórios. Consulte a página Requisitos da amostra para obter mais detalhes. Observe: No momento, não podemos aceitar tecidos congelados ou amostras de células cultivadas.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Qualidade da amostra</div>

<div class="col-md-10">Os resultados dos testes genéticos são afetados pela idade e qualidade da amostra. Embora façamos todos os esforços para gerar resultados completos do teste, nem sempre isso é possível se a amostra apresentar má qualidade. O médico solicitante será notificado se um teste puder ser apenas parcialmente concluído ou não puder ser concluído. Consulte a página Requisitos da amostra para obter mais detalhes.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento e envio da amostra</div>

<div class="col-md-10">No momento, a Invitae não pode armazenar ou reter amostras. Nós encorajamos considerar um banco de DNA em outras instituições focadas especificamente no armazenamento de DNA de longo prazo.<br>
 <br>
As amostras recebidas que não cumprirem os requisitos mínimos da Invitae para os testes podem ser devolvidas ao remetente. As amostras que cumprirem os requisitos mínimos iniciarão o processo de testes. No momento, as amostras não podem ser retidas ou devolvidas, independentemente de o teste ser ou não concluído.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Pagamento e faturamento</div>

<div class="col-md-10">As famílias têm a opção de pagar $ 475 pelos testes, quando o teste é solicitado on-line por um médico. Para essa opção, um membro da família deve registrar o paciente falecido no <a href="{% url 'patient.signin' %}">portal do paciente on-line</a> da Invitae, para que o pagamento seja processado. Esse membro da família deve ser o parente autorizado, porque o portal mostrará os resultados dos testes e eles só podem ser acessados por pessoas autorizadas. Observe que tipicamente o seguro não cobre testes post mortem, por isso não podemos enviar solicitações para as seguradoras pagarem pelos testes realizados em pacientes falecidos.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Relatório dos resultados</div>

<div class="col-md-10">Os resultados dos testes genéticos são relatados para o médico solicitante. O membro da família que registrou o paciente no portal do paciente da Invitae é o titular da conta e também pode solicitar uma cópia dos resultados dos testes do paciente. O acesso será negado se a Invitae determinar que o titular da conta não está autorizado a receber esta informação. Em tais casos, o indivíduo pode solicitar os resultados do teste através do médico solicitante.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">Consulte as guias de amostras de sangue total venoso periférico ou de DNAg nesta página para conhecer os requisitos de envio para estes tipos de amostra.</div>
</div>
</div>

<div id="team-saliva-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Tipo de amostra aceito</div>

<div class="col-md-10">OrageneTM Self-collection Kit (OG500/OGD500). Observe que este kit necessita de 2 mililitros de saliva. Para solicitar um kit de autocoleta gratuito OrageneTM Self-collection Kit, acesse nossa págin <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Não podemos aceitar:</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>Saliva em qualquer recipiente diferente do kit de autocoleta OrageneTM Self-collection Kit (OG500/OGD500)</li>
	<li>Amostras de swabs e enxaguatórios bucais</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Rotulagem</div>

<div class="col-md-10">
<p>O tubo de coleta deverá ser rotulado com:</p>

<ul class="bullet-list">
	<li>O nome completo do paciente</li>
	<li>Um identificador exclusivo adicional:
	<ul class="bullet-list">
		<li>Data de nascimento (MM/DD/AAAA)</li>
		<li>Número do expediente médico</li>
		<li>Número IB, se colocado pelo médico solicitante</li>
		<li>ID da solicitação de teste da Invitae (Nº RQ)</li>
		<li>Número da identidade ou outra identificação exclusiva</li>
	</ul>
	</li>
	<li>Data de coleta da amostra</li>
	<li>O nome do paciente e o identificador exclusivo adicional escritos no tubo devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento</div>

<div class="col-md-10">Armazene a amostra de saliva à temperatura ambiente. Embora não haja exigências especiais de tempo, recomendamos que as amostras sejam enviadas à Invitae logo após a coleta.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentação</div>

<div class="col-md-10">Uma cópia impressa do formulário de requisição on-line deve ser enviada com a amostra. Você poderá imprimir uma cópia do formulário de requisição depois de concluir o processo de requisição on-line.<br>
<br>
Para envios internacionais, são necessários documentos adicionais. Consulte a guia Requisitos de envio acima.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">Exceto pelo uso de um kit de autocoleta OrageneTM Self-collection Kit (OG500/OGD500), não há requisitos especiais quanto à temperatura e à rapidez do envio das amostras de saliva.<br>
<br>
Para ajudar na coleta e no envio das amostras, você pode solicitar um kit de coleta de amostras de saliva Invitae gratuito enviando nosso formulário de requisição on-line <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.<br>
<br>
Como alternativa, você pode nos enviar a amostra em uma embalagem à prova de esmagamento por meio do serviço noturno FedEx Priority Overnight (de acordo com as <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Diretrizes de embalagem da FedEx para amostras clínicas </a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato</a> com a equipe de atendimento ao cliente da Invitae para obter o número da conta FedEx. (Preço de fora os EUA não inclui taxas de envio.) Endereço de envio:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     475 Brannan St, Suite 230<br>
     San Francisco, CA 94107<br>
<br>
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que você envie seu pacote entre segunda e quinta-feira. Não solicite a entrega para sábado. A Invitae segue a programação <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">de serviços em feriados da FedEx</a>.<br>
<br>
Se você enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisará de três cópias de uma fatura comercial (ProForma). Certifique-se de também incluir um formulário de declaração alfandegária.</div>
</div>
</div>
