<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li class="{% if active == 'whole-blood' %}active{% endif %}team-button active" id="team-blood"><a href="#team-blood-content">Amostras de sangue total</a></li>
	<li class="{% if active == 'gDNA' %}active{% endif %}team-button" id="team-gdna"><a href="#team-gdna-content">Amostras de gDNA</a></li>
	<li class="{% if active == 'post-mortem' %}active{% endif %}team-button" id="team-postmortem"><a href="#team-postmortem-content">Testes <i>post mortem</i></a></li>
	<li class="{% if active == 'shipping' %}active{% endif %}team-button" id="team-shipping"><a href="#team-shipping-content">Informação de envio</a></li>
</ul>
</div>
</div>