<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li class="{% if active == 'account' %}active{% endif %}team-button active" id="team-specimen"><a href="#team-specimen-content">Requisitos de Amostra</a></li>
	<li class="{% if active == 'password' %}active{% endif %}team-button" id="team-shipping"><a href="#team-shipping-content">Informações de Remessa</a></li>
</ul>
</div>
</div>