<div class="row">
<div class="col-md-12">
<h3>Tipos de amostras</h3>

<p>A amostra preferencial da Invitae para o nosso ensaio de sequenciamento de próxima geração é o sangue total periférico em um tubo de EDTA com tampa roxa.</p>

<p>Para facilitar-lhe o máximo possível o fornecimento de uma amostra de sangue total, podemos enviar-lhe kits de coleta de amostra gratuitamente. Também oferecemos um serviço de flebotomia gratuito para todo o país. Podemos agendar uma visita para retirada do sangue em seu consultório ou na casa do seu paciente. Visite nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais.</p>
</div>
</div>