<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li id="team-blood" class="{% if active == 'whole-blood' %}active{% endif %}team-button active"><a href="#team-blood-content">Amostras de sangue total</a></li>
	<li id="team-saliva" class="{% if active == 'shipping' %}active{% endif %}team-button"><a href="#team-saliva-content">Amostras de saliva</a></li>
	<li id="team-gdna" class="{% if active == 'gDNA' %}active{% endif %}team-button"><a href="#team-gdna-content">Amostras de gDNA</a></li>
	<li id="team-postmortem" class="{% if active == 'post-mortem' %}active{% endif %}team-button"><a href="#team-postmortem-content">Testes <i>post mortem</i></a></li>
</ul>
</div>
</div>
