<div class="row">
<div class="col-md-12">
<h3>An&aacute;lisis de variante familiar</h3>

<p>El resultado de una prueba gen&eacute;tica tiene consecuencias en la salud no solo para un individuo sino para la familia completa.</p>

<p>Despu&eacute;s de que un paciente recibe un resultado positivo en una prueba, se puede usar el an&aacute;lisis de variante familiar para identificar a otros miembros de la familia con la misma variante y proporcionar informaci&oacute;n acerca de sus riesgos gen&eacute;ticos. Los miembros de la familia que presentan resultados positivos en las pruebas pueden tomar decisiones informadas acerca de su salud.</p>

<p>El an&aacute;lisis de variante familiar de Invitae incluye un an&aacute;lisis completo del gen en el que se ha identificado la variante del miembro original de la familia. El informe incluir&aacute; el estado de la variante familiar as&iacute; como tambi&eacute;n cualquier otra variante patog&eacute;nica o probablemente patog&eacute;nica identificada en ese gen.</p>

<p>El an&aacute;lisis de variante familiar se proporciona a los miembros elegibles de la familia por solo $200 por gen por familiar. En promedio, los resultados se encuentran disponibles en el plazo de tres semanas a partir de la recepci&oacute;n de la muestra.</p>

<h4><strong>&iquest;Qui&eacute;nes son elegibles?</strong></h4>

<p>Un miembro de la familia del paciente original es elegible si se cumplen los siguiente criterios en su totalidad:</p>

<ul class="bullet-list">
	<li>El paciente original se realiz&oacute; la prueba en Invitae</li>
	<li>Se identific&oacute; una variante patog&eacute;nica o probablemente patog&eacute;nica en el informe de prueba del paciente original<sup>*</sup></li>
	<li>El miembro de la familia est&aacute; en riesgo de ser portador de la misma variante</li>
</ul>

<p><sup>*</sup>Si el informe de prueba del paciente original identific&oacute; una variante de significado incierto (VSI), es posible que se encuentre disponible una&nbsp;<a href="{% page_url 'portal_common.vus-resolution' %}">Resoluci&oacute;n de VSI</a> sin cargo adicional para los miembros elegibles de la familia. Los miembros de la familia de los pacientes que no re&uacute;nen los requisitos para una resoluci&oacute;n de VSI sin cargo adicional posiblemente puedan aprovechar las ventajas del an&aacute;lisis de variante familiar.</p>

<h4><strong>&iquest;Qu&eacute; sucede si el paciente original realiz&oacute; su an&aacute;lisis fuera de Invitae?</strong></h4>

<p>El an&aacute;lisis de variante familiar no est&aacute; disponible para las familias si la variante patog&eacute;nica del paciente original fue detectada por un laboratorio distinto de Invitae. Para estos casos, ofrecemos el an&aacute;lisis de un solo gen del gen completo en cuesti&oacute;n por el mismo precio de un pedido original.</p>

<p>Si desea solicitar esta prueba, comun&iacute;quese con nosotros antes de realizar su pedido. Requerimos una copia del resultado positivo de la prueba del miembro de la familia para verificar que la variante en cuesti&oacute;n tenga probabilidad de ser detectada por nuestro ensayo. Las deleciones y duplicaciones pueden ser de diversos tama&ntilde;os o complejidad. Es posible que se solicite un control positivo en los casos en los que la nomenclatura de la variante es ambigua o cuando la variante es de un tipo que puede ser refractario al an&aacute;lisis por m&eacute;todos de secuenciaci&oacute;n de nueva generaci&oacute;n (NGS). A menos que Invitae solicite expresamente un control positivo, no se analizar&aacute;n muestras adicionales.</p>

<h4><strong>&iquest;C&oacute;mo solicito un an&aacute;lisis de variante familiar?</strong></h4>

<p>Proporcione lo siguiente:</p>

<ul class="bullet-list">
	<li>El n&uacute;mero de pedido (&ldquo;n&uacute;mero RQ&rdquo;) del caso &iacute;ndice original</li>
	<li>Informaci&oacute;n sobre la forma en que el miembro de la familia que se someter&aacute; al an&aacute;lisis est&aacute; relacionado con el caso &iacute;ndice original</li>
	<li>Un &aacute;rbol geneal&oacute;gico de los miembros de la familia afectados (recomendado)</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Inicie sesi&oacute;n</a>

<p>El m&eacute;todo de contacto preferido es a trav&eacute;s de nuestro sistema de mensajer&iacute;a seguro en su cuenta en l&iacute;nea. Para acceder al sistema, inicie sesi&oacute;n en su cuenta, consulte su historial de pedidos y seleccione el n&uacute;mero de pedido (n&uacute;mero RQ) del caso &iacute;ndice original. Luego puede hacer clic en la ficha &quot;Messages&quot; (Mensajes) para comunicarse con nosotros por el an&aacute;lisis de variante familiar y cargar la informaci&oacute;n del paciente de manera segura y en cumplimiento de la ley HIPAA.</p>

<p>Tambi&eacute;n puede comunicarse con el departamento de atenci&oacute;n al cliente para obtener m&aacute;s informaci&oacute;n (no incluya ning&uacute;n registro m&eacute;dico ni informaci&oacute;n m&eacute;dica confidencial en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>

<p>Lo invitamos a usar la herramienta de antecedentes familiares de Invitae para enviar f&aacute;cilmente un &aacute;rbol geneal&oacute;gico para este programa. Obtenga m&aacute;s informaci&oacute;n acerca de esta aplicaci&oacute;n gratuita.</p>
</div>
</div>