<div class="row">
<div class="col-md-12">
<h3>Tipos de muestras</h3>

<p>El tipo de muestra preferido de Invitae para nuestro ensayo de secuenciaci&oacute;n de pr&oacute;xima generaci&oacute;n es de sangre entera perif&eacute;rica en un tubo EDTA de tapa p&uacute;rpura. Tambi&eacute;n aceptamos muestras de saliva y de ADN gen&oacute;mico (gDNA) que han sido asiladas en otros laboratorios, aunque existen limitaciones en los ensayos cuando se utiliza gDNA. Para obtener m&aacute;s informaci&oacute;n, consulte la secci&oacute;n &quot;gDNA&quot; a continuaci&oacute;n. Por favor tenga en cuenta que no podemos aceptar espec&iacute;menes de ADN para pruebas de exoma en este momento.</p>

<p>Para que le resulte lo m&aacute;s sencillo posible proporcionar una muestra, podemos enviarle sin costo alguno kits de recolecci&oacute;n de muestras de sangre o saliva. Tambi&eacute;n ofrecemos un servicio de flebotom&iacute;a sin cargo extra en los EE. UU. y Canad&aacute;; podemos programar una cita para extracci&oacute;n de sangre en su consultorio o en la casa de su paciente. Visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener m&aacute;s informaci&oacute;n sobre estos dos servicios.</p>
</div>
</div>
