<div class="team-content active" id="team-blood-content">
<div class="list-content row">
<div class="col-md-2">Tipos de Muestras</div>

<div class="col-md-10">Tipos de muestras que se aceptan:
<ul class="bullet-list">
	<li>Muestras de sangre entera.</li>
	<li>Muestras de sangre congeladas o parcialmente congeladas, aunque no se puede realizar an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n para muestras de sangre congeladas o parcialmente congeladas en este momento.</li>
</ul>
No podemos aceptar:

<ul class="bullet-list">
	<li>Muestras de sangre hemolizada o coagulada.</li>
	<li>Muestras de pacientes que han sido sometidos a un trasplante de m&eacute;dula &oacute;sea.</li>
	<li>Muestras de pacientes que tienen malignidades hematol&oacute;gicas activas.</li>
</ul>

<p>Malignidad hematol&oacute;gica:</p>

<p style="margin-left: 28px;">Los resultados pueden verse alterados por muestras de sangre o saliva de pacientes con malignidad hematol&oacute;gica circulante en la sangre perif&eacute;rica. En estos casos, se sugiere una muestra que no sea derivada de sangre o saliva, como el ADNg de una biopsia de piel. Por favor, consulte la pesta&ntilde;a &quot;ADNg&quot; arriba para m&aacute;s detalles y haga clic&nbsp;<a href="https://support.invitae.com/hc/en-us/articles/115006902607-My-patient-has-a-hematologic-malignancy-What-are-the-limitations-with-testing-"><font color="#0000ff">aqu&iacute;</font></a>&nbsp;para obtener m&aacute;s informac&iacute;on.</p>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volumen</div>

<div class="col-md-10">Requerimos un m&iacute;nimo de 3 mililitros (ml) de sangre entera, independientemente de la cantidad de genes que se soliciten, para adultos o ni&ntilde;os.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">La muestra debe enviarse en un tubo EDTA de tapa morada. Aceptamos K2EDTA y K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">El tubo debe estar etiquetado con la siguiente informaci&oacute;n:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Un identificador &uacute;nico adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento</li>
		<li>N&uacute;mero de registro m&eacute;dico</li>
		<li>N&uacute;mero IB, si lo coloca el m&eacute;dico que presenta la muestra</li>
		<li>ID de solicitud de estudio de Invitae (n.&ordm; de RQ)</li>
		<li>N&uacute;mero de seguro social u otro ID &uacute;nico</li>
	</ul>
	</li>
	<li>Fecha de recolecci&oacute;n de la muestra</li>
</ul>
El nombre del paciente y el identificador &uacute;nico adicional escrito en el tubo deben coincidir con el nombre y el identificador proporcionados en el momento en que se hizo la solicitud de estudio.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento &amp; Estabilidad</div>

<div class="col-md-10">Recomendamos usar env&iacute;o en 24 horas el mismo d&iacute;a de recolecci&oacute;n de la muestra.
<ul class="bullet-list">
	<li>Si la muestra de sangre se almacena a temperatura ambiente, ser&aacute; viable por hasta 48 horas.</li>
	<li>Si la muestra de sangre se refrigera, ser&aacute; viable por hasta una semana.</li>
	<li>No congele la muestra de sangre si solicita an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n. El an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n no puede realizarse en muestras de sangre congeladas o parcialmente congeladas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentaci&oacute;n</div>

<div class="col-md-10">Debe enviarse una copia impresa del formulario de solicitud en l&iacute;nea junto con la muestra. Podr&aacute; imprimir una copia del formulario de solicitud despu&eacute;s de que haya completado el proceso de solicitud en l&iacute;nea.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de env&iacute;o</div>

<div class="col-md-10">Las muestras de sangre deben ser enviadas con el servicio de env&iacute;o r&aacute;pido de un d&iacute;a para el otro a temperatura ambiente. Se recomienda incluir packs fr&iacute;os en climas c&aacute;lidos para mantener la muestra entre 2 y 8 grados cent&iacute;grados (entre 35,6 y 46,6 grados Fahrenheit). Las muestras de sangre congelada deben ser enviadas con el servicio de env&iacute;o r&aacute;pido de un d&iacute;a para el otro con packs fr&iacute;os.<br />
<br />
Para ayudarle con la recolecci&oacute;n y el env&iacute;o de las muestras, puede solicitar un kit de recolecci&oacute;n de muestras de sangre de Invitae sin costo alguno usando nuestro formulario en l&iacute;nea <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.<br />
<br />
Como otra alternativa, puede enviar la muestra en un recipiente a prueba de golpes a trav&eacute;s de FedEx Priority Overnight (de acuerdo con la <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Gu&iacute;a para embalaje de muestras cl&iacute;nicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese</a> con el equipo de atenci&oacute;n al cliente de Invitae para obtener el n&uacute;mero de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de env&iacute;o de la muestra a nuestro laboratorio en EE. UU.) Direcci&oacute;n de env&iacute;o:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 1400 16th Street<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94103<br />
<br />
Invitae acepta paquetes de lunes a viernes. Le recomendamos que env&iacute;e su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el s&aacute;bado. Invitae sigue el <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">Calendario de servicios para d&iacute;as feriados de FedEx</a>.<br />
<br />
Si env&iacute;a la muestra desde fuera de los EE. UU., la compa&ntilde;&iacute;a de transporte requerir&aacute; tres copias de una factura comercial (ProForma). Aseg&uacute;rese de incluir tambi&eacute;n un formulario de declaraci&oacute;n de aduana.</div>
</div>
</div>

<div class="team-content" id="team-gdna-content">
<div class="list-content row">
<div class="col-md-2">Limitaciones de los ensayos</div>

<div class="col-md-10">En este momento, no llevamos a cabo pruebas de exoma en muestras post mortem.<br />
<br />
En este momento, no se garantiza la realizaci&oacute;n exitosa de an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n para muestras de ADNg independientemente del origen del tejido. Se intentar&aacute; realizar an&aacute;lisis de eliminaci&oacute;n/duplicaci&oacute;n para todas las muestras de ADNg; sin embargo, la tasa de &eacute;xito var&iacute;a seg&uacute;n la calidad de la muestra. Si requiere an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n, proporcione una muestra de sangre entera.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Pol&iacute;tica de devoluci&oacute;n de muestra y facturaci&oacute;n</div>

<div class="col-md-10">Invitae realiza un an&aacute;lisis inicial de control de calidad (CC) en todas las muestras de ADNg que se reciben. Si su muestra de ADNg no pasa este paso de CC, nos comunicaremos con usted y con gusto le devolveremos su muestra o la desecharemos de forma segura sin costo alguno para usted.<br />
&nbsp;<br />
En alg&uacute;n caso aislado, las muestras de ADNg que aprueban el CC inicial no logran producir resultados de secuenciaci&oacute;n aceptables y no es posible entregar un informe de an&aacute;lisis. En estos casos:
<ul class="bullet-list">
	<li>Invitae repetir&aacute; la secuenciaci&oacute;n una vez.</li>
	<li>Si un segundo intento no logra alcanzar nuestros est&aacute;ndares de calidad, leinformaremos al respecto y usted podr&aacute; elegir, sin costo adicional, enviar unanueva muestra de otro origen. La segunda muestra no debe ser otro ADNg delmismo origen de muestra o tubo que la primera.</li>
	<li>La muestra original se habr&aacute; consumido durante el an&aacute;lisis y no se puededevolver.</li>
	<li>Si no puede o no desea enviar una segunda muestra, no recibir&aacute; un informe deestudio y no se le cobrar&aacute; por el an&aacute;lisis.</li>
</ul>
Si una muestra de ADNg produce resultados de secuenciaci&oacute;n pero no produce resultados de deleci&oacute;n/duplicaci&oacute;n:

<ul class="bullet-list">
	<li>Recibir&aacute; un informe de estudio completo sobre el an&aacute;lisis de secuenciaci&oacute;n.</li>
	<li>Si desea repetir el estudio para an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n usando una muestra de sangre entera, usted ser&aacute; responsable del costo completo de una segunda prueba con Invitae.</li>
	<li>La muestra original se habr&aacute; consumido durante el an&aacute;lisis y no se puede devolver.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de muestras que se aceptan</div>

<div class="col-md-10">Aceptamos ADNg purificado de sangre entera venosa perif&eacute;rica para las pruebas de panel o genes individuales (aunque no para pruebas de exoma).<br />
&nbsp;<br />
Tambi&eacute;n se acepta ADNg de las siguientes fuentes; sin embargo, es m&aacute;s probable que el ADNg aislado de estas fuentes no logre alcanzar los est&aacute;ndares de calidad para la secuenciaci&oacute;n completa:
<ul class="bullet-list">
	<li>Sangre congelada</li>
	<li>Hisopado/raspado bucal</li>
	<li>Saliva</li>
	<li>Enjuague bucal</li>
	<li>Tejido de m&uacute;sculo o piel</li>
</ul>
No se acepta ADNg de las siguientes fuentes:

<ul class="bullet-list">
	<li>Muestra de vellosidades cori&oacute;nicas</li>
	<li>Amniocitos</li>
	<li>Productos de concepci&oacute;n o aborto</li>
	<li>Tumores</li>
	<li>Pacientes que tienen una malignidad hematol&oacute;gica activa</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Cantidad y concentraci&oacute;n</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>8 &micro;g de ADN en Tris-EDTA (TE). Recomendamos PicoGreen para cuantificar la muestra de ADN. Tenga en cuenta que la muestra&nbsp;probablemente&nbsp;ser&aacute; completamente consumida&nbsp;durante el proceso de laboratorio.</li>
	<li>El ADN debe estar a una concentraci&oacute;n m&iacute;nima de 50 ng / &mu;l.</li>
	<li>Cuando se env&iacute;a el ADN a concentraciones m&aacute;s altas, el volumen m&iacute;nimo debe ser de 75&mu;l.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">Nuestro tipo de recipiente preferido es un tubo de microcentrifugaci&oacute;n aut&oacute;nomo marca Fisher de 2 mililitros con tapa enroscable; sin embargo, aceptaremos ADNg en cualquier tubo de pl&aacute;stico est&eacute;ril.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">El recipiente de ADNg debe estar etiquetado con la siguiente informaci&oacute;n:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Un identificador &uacute;nico adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento</li>
		<li>N&uacute;mero de registro m&eacute;dico</li>
		<li>N&uacute;mero de IB</li>
		<li>ID de solicitud de estudio de Invitae (n.&ordm; de RQ)</li>
		<li>N&uacute;mero de seguro social u otro ID &uacute;nico</li>
	</ul>
	</li>
	<li>Fecha de recolecci&oacute;n de la muestra</li>
	<li>El nombre del paciente y el identificador &uacute;nico adicional escrito en el recipiente deben coincidir con el nombre y el identificador proporcionados en el momento en que se hizo la solicitud de estudio.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentaci&oacute;n</div>

<div class="col-md-10">Use este <a href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_gDNA-form.pdf" target="_blank">formulario de muestra de ADNg</a> para documentar la informaci&oacute;n necesaria. Imprima una copia completada de este formulario e incl&uacute;yala con la muestra de ADNg.<br />
Para completar este formulario, necesitar&aacute; la siguiente informaci&oacute;n:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Fecha de nacimiento del paciente</li>
	<li>Fecha de fallecimiento del paciente (si corresponde)</li>
	<li>Fuente de la muestra</li>
	<li>Fecha de recolecci&oacute;n</li>
	<li>M&eacute;todo de extracci&oacute;n</li>
	<li>Fecha de extracci&oacute;n</li>
	<li>Concentraci&oacute;n de ADNg</li>
	<li>Cantidad de ADNg</li>
	<li>M&eacute;todo de cuantificaci&oacute;n</li>
	<li>Otras mediciones acerca del ADNg (por ej., 260/280, gel/datos de bioanalizador)</li>
	<li>Condiciones de almacenamiento anteriores y actuales</li>
</ul>
Debe enviarse una copia impresa del formulario de solicitud en l&iacute;nea junto con la muestra. Podr&aacute; imprimir una copia del formulario de solicitud despu&eacute;s de que haya completado el proceso de solicitud en l&iacute;nea.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de env&iacute;o</div>

<div class="col-md-10">Las muestras de ADNg deben ser enviadas con el servicio de env&iacute;o r&aacute;pido de un d&iacute;a para el otro a temperatura ambiente. Se recomienda incluir packs fr&iacute;os en climas c&aacute;lidos para mantener la muestra entre 2 y 8 grados cent&iacute;grados (entre 35,6 y 46,6 grados Fahrenheit). Las muestras de ADNg congelado deben ser enviadas con el servicio de env&iacute;o r&aacute;pido de un d&iacute;a para el otro con packs fr&iacute;os.<br />
<br />
Env&iacute;e la muestra en un recipiente a prueba de golpes a trav&eacute;s de FedEx Priority Overnight (de acuerdo con la <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Gu&iacute;a para embalaje de muestras cl&iacute;nicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese</a> con el equipo de atenci&oacute;n al cliente de Invitae para obtener el n&uacute;mero de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de env&iacute;o de la muestra a nuestro laboratorio en EE. UU.) Direcci&oacute;n de env&iacute;o:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 1400 16th Street<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94103<br />
<br />
Invitae acepta paquetes de lunes a viernes. Le recomendamos que env&iacute;e su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el s&aacute;bado. Invitae sigue el <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">Calendario de servicios para d&iacute;as feriados de FedEx</a>.<br />
<br />
Si env&iacute;a la muestra desde fuera de los EE. UU., la compa&ntilde;&iacute;a de transporte requerir&aacute; tres copias de una factura comercial (ProForma). Aseg&uacute;rese de incluir tambi&eacute;n un formulario de declaraci&oacute;n de aduana.</div>
</div>
</div>

<div class="team-content" id="team-postmortem-content">
<div class="list-content row">
<div class="col-md-2">An&aacute;lisis post mortem</div>

<div class="col-md-10">Despu&eacute;s de la muerte de un ser querido a causa de una presunta afecci&oacute;n hereditaria, un an&aacute;lisis gen&eacute;tico post mortem puede proporcionar informaci&oacute;n valiosa para los miembros de la familia. El an&aacute;lisis post mortem puede ayudar a confirmar la causa de muerte de la persona fallecida, as&iacute; como tambi&eacute;n determinar si los miembros de la familia podr&iacute;an beneficiarse realiz&aacute;ndose un an&aacute;lisis gen&eacute;tico para la misma afecci&oacute;n.<br />
&nbsp;<br />
El an&aacute;lisis gen&eacute;tico post mortem implica la consideraci&oacute;n de muchos factores importantes antes de evaluar las muestras gen&eacute;ticas de las personas fallecidas. A continuaci&oacute;n se presenta informaci&oacute;n general acerca del proceso de evaluaci&oacute;n de Invitae para an&aacute;lisis post mortem. Debido a la naturaleza delicada de este tipo de an&aacute;lisis y estas muestras, solicitamos a los m&eacute;dicos que se <a href="{% page_url 'portal_common.contact' %}">comuniquen con</a> nosotros antes de enviar una muestra post mortem.<br />
<br />
Por favor tenga en cuenta que, en este momento, no llevamos a cabo pruebas de exoma en muestras post mortem.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de muestras</div>

<div class="col-md-10">Aceptamos sangre entera en un tubo EDTA (tapa color lavanda). Tambi&eacute;n aceptamos ADN gen&oacute;mico (ADNg) extra&iacute;do en otros laboratorios. Consulte nuestra p&aacute;gina de Requisitos de las muestras para obtener m&aacute;s informaci&oacute;n. Tenga en cuenta lo siguiente: No podemos aceptar muestras de c&eacute;lulas cultivadas o tejido congelado en este momento.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Calidad de las muestras</div>

<div class="col-md-10">Los resultados de los an&aacute;lisis gen&eacute;ticos se ven afectados por la edad y la calidad de la muestra. Si bien hacemos todos los esfuerzos posibles para generar resultados de estudio completos, es posible que esto no siempre pueda lograrse si una muestra es de mala calidad. Se notificar&aacute; al m&eacute;dico que solicita el estudio si un an&aacute;lisis puede completarse solo de forma parcial o no completarse en su totalidad. Consulte nuestra p&aacute;gina de Requisitos de las muestras para obtener m&aacute;s informaci&oacute;n.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento y env&iacute;o de las muestras</div>

<div class="col-md-10">Invitae no puede almacenar ni mantener muestras en este momento. Alentamos la consideraci&oacute;n de almacenar en bancos de ADN a trav&eacute;s de otros establecimientos espec&iacute;ficamente dedicados al almacenamiento de ADN a largo plazo.<br />
&nbsp;<br />
Las muestras recibidas que no cumplan con los requisitos m&iacute;nimos de Invitae para an&aacute;lisis posiblemente sean devueltas al remitente. Las muestras que cumplen con los requisitos m&iacute;nimos comenzar&aacute;n el proceso de an&aacute;lisis. Las muestras no se pueden mantener ni devolver en este momento, independientemente de si se ha completado el an&aacute;lisis.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Pago y facturaci&oacute;n</div>

<div class="col-md-10">Las familias tienen la opci&oacute;n de pagar UUS $250 por el estudio cuando el an&aacute;lisis es solicitado en l&iacute;nea por un m&eacute;dico. Para esta opci&oacute;n, un miembro de la familia debe registrar al paciente fallecido a trav&eacute;s del <a href="{% url 'patient.signin' %}">portal para pacientes</a> en l&iacute;nea de Invitae a fin de que pueda procesarse el pago. Este miembro de la familia deber&aacute; ser el pariente m&aacute;s pr&oacute;ximo autorizado porque el portal mostrar&aacute; los resultados del estudio, y estos pueden ser consultados solamente por personas autorizadas. Tenga en cuenta que el seguro por lo general no cubre los estudios post mortem, raz&oacute;n por la cual no podemos presentar reclamos a las aseguradoras por estudios realizados en pacientes fallecidos.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Presentaci&oacute;n de los resultados</div>

<div class="col-md-10">Los resultados de los an&aacute;lisis gen&eacute;ticos se informan al m&eacute;dico que solicit&oacute; el estudio. El miembro de la familia que registr&oacute; al paciente en el portal para pacientes de Invitae es el titular de la cuenta y tambi&eacute;n puede solicitar una copia de los resultados del estudio del paciente. Se negar&aacute; el acceso si Invitae determina que el titular de la cuenta no est&aacute; autorizado para recibir esta informaci&oacute;n. En dichos casos, la persona puede solicitar los resultados del estudio a trav&eacute;s del m&eacute;dico que lo solicit&oacute; en primera instancia.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de env&iacute;o</div>

<div class="col-md-10">Requisitos de env&iacute;o Consulte las pesta&ntilde;as de muestras de sangre o muestras de gDNA en esta p&aacute;gina para conocer los requisitos de env&iacute;o de estos tipos de muestras.</div>
</div>
</div>

<div class="team-content" id="team-saliva-content">
<div class="list-content row">
<div class="col-md-2">Tipos de muestras aceptadas</div>

<div class="col-md-10">OrageneTM Self-collection Kit (OG500/OGD500). Debe tener en cuenta que este kit requiere 2 mililitros de saliva.<br />
Para solicitar el OrageneTM Self-collection Kit, visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">No podremos aceptar:</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>Saliva en un recipiente distinto al OrageneTM Self-collection Kit (OG500/OGD500)</li>
	<li>Muestras obtenidas con hisopos bucales y enjuague bucal</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">
<p>El tubo de recolecci&oacute;n debe ser etiquetado con:</p>

<ul class="bullet-list">
	<li>El nombre completo del paciente</li>
	<li>Un identificador &uacute;nico adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento (MM/DD/AAAA)</li>
		<li>N&uacute;mero de registro m&eacute;dico</li>
		<li>N&uacute;mero IB, si lo coloca el m&eacute;dico que presenta la muestra</li>
		<li>ID de la solicitud de prueba de Invitae (RQ#)</li>
		<li>N&uacute;mero de seguro social u otra identificaci&oacute;n &uacute;nica</li>
	</ul>
	</li>
	<li>Fecha de recolecci&oacute;n de la muestra</li>
	<li>El nombre del paciente y el identificador &uacute;nico adicional escritos en el tubo deben coincidir con el nombre y el identificador proporcionados cuando se coloc&oacute; la orden de prueba.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento</div>

<div class="col-md-10">La muestra de saliva debe almacenarse a temperatura ambiente. Aunque no existen requisitos especiales en cuanto al tiempo, se recomienda enviar las muestras a Invitae inmediatamente despu&eacute;s de la recolecci&oacute;n.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentaci&oacute;n</div>

<div class="col-md-10">Se debe presentar junto con la muestra una copia impresa del formulario de solicitud en l&iacute;nea. Podr&aacute; imprimir una copia del formulario de solicitud luego de haber completado el proceso de solicitud en l&iacute;nea.<br />
<br />
Se requiere documentaci&oacute;n adicional para los env&iacute;os internacionales. Consulte la pesta&ntilde;a Requisitos de env&iacute;o en la parte de arriba.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de env&iacute;o</div>

<div class="col-md-10">Adem&aacute;s de usar el OrageneTM Self-collection Kit (OG500/OGD500), no existen otros requisitos especiales relacionados con la temperatura o la rapidez del env&iacute;o de las muestras de saliva.<br />
<br />
Para ayudarle con la recolecci&oacute;n y el env&iacute;o de las muestras, puede solicitar un kit de recolecci&oacute;n de muestras de saliva de Invitae sin costo alguno usando nuestro formulario en l&iacute;nea <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.<br />
<br />
Como otra alternativa, puede enviar la muestra en un recipiente a prueba de golpes a trav&eacute;s de FedEx Priority Overnight (de acuerdo con la <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Gu&iacute;a para embalaje de muestras cl&iacute;nicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese</a> con el equipo de atenci&oacute;n al cliente de Invitae para obtener el n&uacute;mero de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de env&iacute;o de la muestra a nuestro laboratorio en EE. UU.) Direcci&oacute;n de env&iacute;o:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 1400 16th Street<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94103<br />
<br />
Invitae acepta paquetes de lunes a viernes. Le recomendamos que env&iacute;e su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el s&aacute;bado. Invitae sigue el <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">Calendario de servicios para d&iacute;as feriados de FedEx</a>.<br />
<br />
Si env&iacute;a la muestra desde fuera de los EE. UU., la compa&ntilde;&iacute;a de transporte requerir&aacute; tres copias de una factura comercial (ProForma). Aseg&uacute;rese de incluir tambi&eacute;n un formulario de declaraci&oacute;n de aduana.</div>
</div>
</div>