<div class="row">
<div class="col-md-12">
<h4>O que s&atilde;o genes de evid&ecirc;ncia limitada?</h4>

<p>Os genes de evid&ecirc;ncia limitada s&atilde;o os que foram selecionados em uma an&aacute;lise das recomenda&ccedil;&otilde;es da literatura e de especialistas. Para alguns desses genes, n&atilde;o foram identificadas variantes patog&ecirc;nicas definitivas. Para outros, a associa&ccedil;&atilde;o entre o gene e a condi&ccedil;&atilde;o espec&iacute;fica ainda n&atilde;o foi completamente estabelecida.</p>

<h4>Por que eu incluiria os genes de evid&ecirc;ncia limitada no meu painel?</h4>

<p>A adi&ccedil;&atilde;o dos genes de evid&ecirc;ncia limitada pode aumentar o n&uacute;mero de variantes incertas e revelar as variantes patog&ecirc;nicas de relev&acirc;ncia incerta para a condi&ccedil;&atilde;o do paciente. Essa incerteza pode ser resolvida assim que novas informa&ccedil;&otilde;es estiverem dispon&iacute;veis e alguns m&eacute;dicos podem querer incluir esses genes em sua investiga&ccedil;&atilde;o.</p>

<h4>Como posso adicionar os genes de evid&ecirc;ncia limitada a um painel prim&aacute;rio?</h4>

<p>Os genes de evid&ecirc;ncia limitada podem ser adicionados selecionando a op&ccedil;&atilde;o &ldquo;aceitar&rdquo; ao lado da lista de genes.</p>

<h4>E se eu n&atilde;o souber o que devo solicitar?</h4>

<p>Com as nossas op&ccedil;&otilde;es de testes flex&iacute;veis, os m&eacute;dicos podem se sentir confiantes e come&ccedil;ar apenas com os genes com os quais se sintam familiarizados. Ent&atilde;o, se os m&eacute;dicos n&atilde;o obtiverem as respostas necess&aacute;rias com a sele&ccedil;&atilde;o inicial de genes, podem enviar uma nova requisi&ccedil;&atilde;o para a an&aacute;lise de genes adicionais relacionados com a mesma area cl&iacute;nica, sem nenhum custo adicional.<sup>*</sup> N&oacute;s tamb&eacute;m oferecemos servi&ccedil;os de consulta cl&iacute;nica para os m&eacute;dicos que quiserem discutir os casos com especialistas em aconselhamento gen&eacute;tico.</p>

<p class="endnote">*Consulte a <a href="{% page_url 'portal_common.re-requisition' %}">webpage de nova solicita&ccedil;&atilde;o</a> da Invitae para ver os requisitos e detalhes adicionais.</p>
</div>
</div>
