<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Fazer uma solicita&ccedil;&atilde;o on-line</h3>

<p>Fa&ccedil;a sua solicita&ccedil;&atilde;o on-line para um processamento mais eficiente, uma entrega mais r&aacute;pida do relat&oacute;rio e acesso a recursos on-line adicionais. A configura&ccedil;&atilde;o de uma conta leva apenas alguns minutos e voc&ecirc; tamb&eacute;m pode navegar e solicitar diretamente do nosso <a href="{% page_url 'portal_common.test-catalog' %}">cat&aacute;logo on-line de testes</a>.</p>
</div>
</div>
</div>