<div class="row">
<div class="col-sm-6 col-lg-7 privacy-message">
<h3>Apoyo</h3>

<p>Consulte nuestra guía del usuario para ver las instrucciones paso a paso de la herramienta de antecedentes familiares.</p>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" class="btn btn-color-inherit btn-lg" target="_blank"><span class="icon icon-files"></span>guía del usuario</a>

<p> </p>

<h3>Privacidad</h3>

<p>Nos comprometemos a proteger la seguridad y la confidencialidad de la información personal, la información genética y los resultados de las pruebas de su paciente.</p>

<p>Para obtener información más detallada, consulte nuestro <a target="_blank" href="{% page_url 'portal_common.privacy-practices' %}">Aviso sobre Prácticas de Privacidad</a> y nuestra <a target="_blank" href="{% page_url 'portal_common.privacy-policy' %}">Política de Privacidad</a>.</p>
</div>

<div class="clearfix visible-xs"><br>
 </div>

<div class="col-sm-6 col-lg-5 family-history-email">
<h3>¿Tiene preguntas o comentarios?</h3>

<div class="email-icon">
<div class="content">
<h4>Nos gustaría<br>
 conocer su opinión.</h4>

<p><a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
</div>
</div>
</div>
</div>