<div class="row">
                <div class="col-md-12">
                     <div class="catalog-group pancreatic">

                        <h3><span class="icon"></span>Hereditary Pancreatic Cancer</h3>
                        <a href="{% page_url 'portal_common.pancreatic-cancer-testing' %}" class="btn btn-color-grape btn-md btn-right">
                            Pancreatic Cancer Testing
                        </a>

                        <p>Our Hereditary Pancreatic Cancer panel covers 17 of the genes most commonly linked to an
                            increased risk of pancreatic cancer. Learn more about our pancreatic cancer offerings on
                            our Pancreatic Cancer Testing page.</p>

                        <div class="expandable-item">
                            <h4><span class="icon icon-angle-right"></span>Hereditary Pancreatic Cancer</h4>

                            <div class="expandable-content">
                                <a href="{% url 'physician.panel-detail' 'PNL0010' %}" class="btn btn-color-grape btn-sm btn-right">Order Test</a>

                                <p>A 17-gene panel analyzes a patient’s risk of hereditary pancreatic cancer, as well as
                                    other cancers. Additional genes that assess a patient’s hereditary risk of
                                    pancreatitis can be added to your requisition at no additional charge.</p>

                                <p class="genes-analyzed">Genes analyzed: BRCA1, BRCA2, PALB2, APC, ATM, CDKN2A, MLH1, FANCC, MEN1, PALLD, STK11, TP53, VHL, MSH2, MSH6, EPCAM, and PMS2<br>
                                Optional: CDK4, CFTR, CTRC, and SPINK1</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>