<h5><span style="color:#0888B2;"><b>Sign up to receive launch notifications as soon as they are available.</b></span></h5>

<h5 class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></h5>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<p></p>

<p><button class="btn btn-lg btn-color-mountain" type="submit">submit</button></p>

<p></p>