<h3>Sign up here to receive more information as soon as it&rsquo;s available.</h3>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<p><input name="source" type="hidden" value="Website" /><input name="source_description" type="hidden" value="Helix LP" /><input name="ao_campid" type="hidden" value="" /><input name="cmpid" type="hidden" value="" /></p>

<p><button class="btn btn-lg btn-color-mountain" type="submit">Continue</button></p>
