<div class="row">
                <div class="col-sm-6 col-lg-7 privacy-message">
                    <h3>Support</h3>

                    <p>View our user guide for step-by-step family history tool instructions.</p>

                    <a href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" class="btn btn-color-inherit btn-lg" target="_blank">
                        <span class="icon icon-files"></span>User Guide
                    </a>
                    <p> </p>

                    <h3>Privacy</h3>

                    <p>We are committed to protecting the security and confidentiality of your patient's personal
                        information,
                        genetic information, and test results.</p>

                    <p>For details, please view our <a target="_blank" href="{% page_url 'portal_common.privacy-practices' %}">Notice of Privacy Practices</a>
                        and <a target="_blank" href="{% page_url 'portal_common.privacy-policy' %}">Privacy Policy</a>.</p>
                </div>
                <div class="clearfix visible-xs"><br><br></div>
                <div class="col-sm-6 col-lg-5 family-history-email">
                    <h3>Questions or comments?</h3>

                    <div class="email-icon">
                        <div class="content">
                            <h4>We would love to <br>hear from you!</h4>
                            <p>Email: <a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
                        </div>
                    </div>
                </div>
            </div>