<div class="row">
<div class="col-md-12">
<h3>Pruebas genéticas económicas y accesibles.</h3>

<p>Hoy, Invitae puede ofrecer resultados de cualquier prueba genética de <a href="{% page_url 'portal_common.test-catalog' %}">nuestro catálogo</a> por un mismo precio<sup>*</sup> en un promedio de tres semanas.</p>

<p>Como parte de ese catálogo, la compañía ofrece actualmente los siguientes paneles:</p>

<div style="margin-bottom:20px;" class="categories-section">
<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGÍA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text"> CÁNCER<br>
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text"> GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGÍA </span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGÍA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">ESTUDIOS<br>
GENÉTICOS</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
</div>

<p>Además, Invitae se ha comprometido a mejorar la salud de la familia, aprovechando el poder de la información genética y las tecnologías innovadoras. La Herramienta de Antecedentes Familiares de Invitae es una aplicación gratuita de recopilación de antecedentes familiares que permite a los asesores genéticos construir, modificar, compartir y guardar digitalmente las genealogías de sus pacientes.</p>

<p>Más información sobre la <a href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>.</p>
</div>
</div>