<div class="row">
<div class="col-md-12">
<h3>Un equipo inigualable.</h3>

<p>Invitae ha reunido a un equipo de más de 200 de los principales expertos en genética, bioinformática, ingeniería, tecnología y desarrollo comercial del mundo, entre otras disciplinas. Invitae se constituyó en 2010 como Locus Development, Inc., fundada por Sean George, Michele Cargill, Alex Furman y Mat Falkowski, y en 2012 cambió su nombre por el de Invitae Corporation.</p>

<p>Conozca al <a href="{% page_url 'portal_common.team' %}">Equipo de Invitae</a>.</p>
</div>
</div>
