<div class="row">
<div class="col-md-12">
<h3>Pruebas genéticas económicas y accesibles.</h3>

<p>Hoy, Invitae puede ofrecer resultados de cualquier prueba genética de <a href="{% page_url 'portal_common.test-catalog' %}">nuestro catálogo</a> por un mismo precio<sup>*</sup> en un promedio de tres semanas.</p>

<p>Como parte de ese catálogo, la compañía ofrece actualmente los siguientes paneles:</p>

<p>Principales paneles sobre cáncer</p>

<ul class="bullet-list">
	<li>BRCA1 y BRCA2, incluyendo análisis de secuenciación genética completa y eliminación/duplicación</li>
	<li>Cáncer de mama hereditario, panel de alto riesgo (7 genes)</li>
	<li>Cáncer de mama hereditario, panel extendido (17 genes)</li>
	<li>Cáncer ginecológico hereditario, panel de alto riesgo (9 genes)</li>
	<li>Cáncer de mama y ginecológico hereditario, (22 genes asociados con cáncer hereditario de mama, ovario y endometrial/uterino)</li>
	<li>Síndrome de Lynch (5 genes)</li>
	<li>Cáncer de colon hereditario, panel de alto riesgo (7 genes)</li>
	<li>Cáncer de colon hereditario (14 genes)</li>
	<li>Cáncer pancreático hereditario (17 genes)</li>
	<li>Panel de síndromes de cáncer hereditario (34 genes)</li>
</ul>

<p>Principales paneles sobre cardiología</p>

<ul class="bullet-list">
	<li>Síndrome de Brugada (10 genes)</li>
	<li>Síndrome del QT largo (13 genes)</li>
	<li>Cardiomiopatía hipertrófica (16 genes)</li>
	<li>Síndrome del QT corto (6 genes)</li>
</ul>

<p>Principales paneles sobre neurología</p>

<ul class="bullet-list">
	<li>Enfermedad de Charcot-Marie-Tooth (28 genes)</li>
	<li>Paraplegia espástica hereditaria (17 genes)</li>
</ul>

<p>Además, Invitae se ha comprometido a mejorar la salud de la familia, aprovechando el poder de la información genética y las tecnologías innovadoras. La Herramienta de Antecedentes Familiares de Invitae” es una aplicación gratuita de recopilación de antecedentes familiares que permite a los asesores genéticos construir, modificar, compartir y guardar digitalmente las genealogías de sus pacientes.</p>

<p>Más información sobre la <a href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>.</p>
</div>
</div>