<div class="row">
<div class="col-md-12">
<h3 id="CCS">Clinical Consult Services</h3>

<h6>SUPPORTING YOU THROUGHOUT THE TESTING PROCESS</h6>

<p>Invitae’s team of board-certified and experienced genetic counselors trained in medical genetics is available to assist clinicians. Our genetic counselors are available throughout the testing process to:</p>

<ul class="bullet-list">
	<li>review patient cases that may benefit from genetic testing</li>
	<li>differentiate between genetic tests to select the one that is most suitable for your patient</li>
	<li>aid in interpreting results</li>
	<li>provide result-specific background regarding variants, genes, and conditions</li>
	<li>identify gene-specific information including relevant literature and studies, published management guidelines, and patient resources</li>
</ul>

<p>Our pricing is the same no matter the size of your test, allowing us to focus exclusively on helping you order the right test for your patient. Our goal is to identify the right genes for the right diagnosis for the right patient—no more, and no less.</p>

<p>For more information about Invitae’s Clinical Consult Service, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team. If you're ready to consult with one of Invitae's genetic counselors, please email <a href="mailto:clinconsult@invitae.com?subject=Request%20for%20Clinical%20Consult">clinconsult@invitae.com</a> or call <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
</div>
</div>
