<p><a name="demo-request"></a></p>

<h4>To schedule a private demo of CancerGene Connect, share your contact information and availability, and we will arrange it with you.</h4>

<h4>Not ready to schedule a demo? Reach out with questions by emailing <strong>info@cagene.com</strong></h4>

<h4></h4>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input id="cms_id_phone" name="phone" type="text" value="{{ user.contact_info.phone }}" /></div>

<div class="field-wrapper required"><label for="cms_id_organization">Institution</label><input id="cms_id_organization" name="organization" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">Role</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value=""></option><option value="Clinical Staff Member">Clinical Staff Member</option><option value="Genetic Counselor">Genetic Counselor</option><option value="Lab Management">Lab Management</option><option value="Nurse Navigator">Nurse Navigator</option><option value="Nurse Practitioner">Nurse Practitioner</option><option value="Registered Nurse">Registered Nurse</option><option value="Researcher">Researcher</option><option value="Resident/Student">Resident/Student</option><option value="Physician">Physician</option><option value="Physician Assistant">Physician Assistant</option><option value="Surgeon">Surgeon</option><option value="Other">Other</option></select></div>

<div class="field-wrapper required"><label for="cms_id_question">Note + timing (please provide time zone)</label><br />
<textarea id="cms_id_question" name="cms_id_question"></textarea></div>

<p><button class="btn btn-lg btn-color-mountain" type="submit">Submit</button></p>