<h4><span style="color:#76716B;"><strong>Sign up to receive more information:</strong></span></h4>

<h4 class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></h4>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper"><label for="cms_id_phone">Phone</label><input value="{{ user.contact_info.phone }}" type="text" name="phone" id="cms_id_phone"></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">ZIP/Postcode</label><input value="{{ user.contact_info.zipcode }}" type="text" name="zipcode" id="cms_id_zipcode"></div>

<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>
</div>

<p></p>

<p><input value="Website" type="hidden" name="source"></p>

<p><input value="Oncology CPC Lead Form" type="hidden" name="source_description"></p>

<p><input value="" type="hidden" name="cmpid" id="campaignId"><input value="" type="hidden" name="ao_campid" id="ao_campid"></p>

<p style="text-align: center;"><button type="submit" class="btn btn-lg btn-color-mountain">submit</button></p>

<p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"><span style="font-weight: normal;">Not a healthcare provider? Please visit our <a style="background-color: rgb(255, 255, 255);" href="https://www.invitae.com/en/patients/">patient site</a> to learn more about genetic testing and find out how you could benefit from it. </span></p>