<div class="row">
<div class="col-md-7">
<h2>Antecedentes familiares</h2>

<p>Los antecedentes familiares pueden ofrecer pistas para su salud futura. Recopilar sus antecedentes médicos familiares puede ayudar a identificar enfermedades para las cuales puede estar en riesgo.</p>

<p>Invitae cree que la recopilación completa y exacta de los antecedentes familiares es esencial para la interpretación de los resultados genéticos. Es por esta razón que ofrecemos una herramienta digital gratuita que le permite hacer un mapa de sus antecedentes médicos familiares.</p>

<p>Comience con sus propios <a href="{% page_url 'portal_common.family-history' %}">antecedentes familiares</a> hoy mismo.</p>
</div>

<div class="col-md-5 image-col"><img class="img-responsive center-block" alt="" src="/static/img/patient_portal/illustration-pedigree-people.png"></div>
</div>