<div class="row">
<div class="col-md-12">
<h3>Programa de Resolução de VSI da Invitae</h3>

<p>A fim de ajudar a resolver as variantes de significado incerto (VSI) nos resultados do teste, a Invitae oferece um teste de acompanhamento, sem custo adicional, para selecionar os membros da família de pacientes previamente testados na Invitae.</p>

<h4><strong>Benefícios da Resolução de VSI</strong></h4>

<p>Em alguns casos, a identificação de uma variante genética em um indivíduo não é o suficiente para determinar a sua importância clínica. Em alguns desses casos, um teste dos membros adicionais da família pode esclarecer a relação entre a variante e a doença. O objetivo desse processo é reclassificar o VSI como benigno ou patogênico e resolver a incerteza do resultado do teste.</p>

<h4><strong>O que esperar</strong></h4>

<p>A reclassificação da variante se baseia em informações coletadas de várias famílias. A participação neste programa pode não resultar em uma reclassificação imediata, mas pode fornecer informações que contribuem para o processo. Se uma variante for reclassificada, a Invitae emitirá relatórios atualizados com a nova interpretação para todos os indivíduos que tiverem a variante.</p>

<p>A Invitae suporta o compartilhamento de nossas interpretações de variantes e disponibiliza publicamente as interpretações de variantes não identificadas aos pesquisadores e médicos através dos bancos de dados <a target="blank" href="http://www.ncbi.nlm.nih.gov/clinvar/">Clinvar</a> e <a target="blank" href="{% page_url 'portal_common.clinvitae' %}">Clinvitae</a>. A participação neste programa pode, por fim, ajudar muitas famílias em situações semelhantes.</p>

<h4><strong>Quem é elegível?</strong></h4>

<p>Nem todas as variantes podem ser resolvidas com esse tipo de análise e nem todos os membros da família podem fornecer dados informativos. As decisões sobre a elegibilidade para o programa são baseadas em:</p>

<ul class="bullet-list">
	<li>Estrutura familiar, status patológico e apresentação clínica dos indivíduos disponíveis</li>
	<li>Tipo de alteração na sequência em questão</li>
	<li>Gene em que o VSI foi identificado</li>
	<li>Padrões de hereditariedade e penetrância da(s) doença(s) associada(s) ao gene</li>
</ul>

<p>Alguns genes não são elegíveis para o nosso programa de Resolução de VSI; visite a nossa página <a href="{% page_url 'portal_common.gene-eligibility' %}">Elegibilidade do Gene</a> para obter detalhes sobre as regras de elegibilidade para genes relacionados ao câncer e cardiologia.</p>

<p>Se a nossa equipe clínica determinar que um caso pode ser elegível para o nosso programa de resolução de VSI, o relatório clínico original incluirá uma declaração recomendando a consideração da resolução de VSI.</p>

<h4><strong>Como fazer a inscrição?</strong></h4>

<p>Se uma recomendação para considerar a resolução de VSI foi emitida no relatório do teste do seu paciente e você estiver interessado em participar, forneça:</p>

<ul class="bullet-list">
	<li>O número de ID da solicitação (“número RQ”) do paciente original</li>
	<li>Uma árvore genealógica familiar detalhada, incluindo os históricos clínicos de todos os membros afetados</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>O método de contato preferível é através do nosso sistema seguro de mensagens em sua conta on-line. Para acessar esse sistema, faça login em sua conta, visualize o seu histórico de solicitações e selecione o número de ID da solicitação do paciente original. Clique na guia "Mensagens" para entrar em contato conosco sobre sobre a resolução de VSI e carregue a árvore genealógica do paciente de forma segura e compatível com as leis do HIPAA.</p>

<p>Você também pode entrar em contato com o atendimento ao cliente para obter mais informações (não inclua registros médicos ou informações médicas na sua pergunta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=VUS%20resolution">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Ferramenta de Histórico Familiar</a>

<p>Incentivamos o uso da Ferramenta de Histórico Familiar Invitae para enviar facilmente uma árvore genealógica para este programa. Saiba mais sobre esse aplicativo gratuito.</p>

<p>Uma vez que as informações forem enviadas e analisadas pela nossa equipe clínica, entraremos em contato com você em relação a quais parentes podem se qualificar para este programa de teste, sem custo adicional. O nosso processo de revisão da resolução de VSI leva uma semana, em média.</p>

<h4><strong>E se eu quiser testar indivíduos que não se qualificam para o programa de resolução de VSI?</strong></h4>

<p>Para os casos que não se qualificarem para a resolução de VSI sem custo adicional, a Invitae oferecerá testes de variantes familiares por apenas US$ 200 para cada gene em que um VSI foi encontrado. Saiba mais sobre este programa em nossa página <a href="{% page_url 'portal_common.family-testing' %}">Testes de Variantes Familiares</a>.</p>
</div>
</div>