<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li class="{% if active == 'account' %}active{% endif %}team-button active" id="team-blood"><a href="#team-blood-content">Whole blood samples</a></li>
	<li class="{% if active == 'password' %}active{% endif %}team-button" id="team-gdna"><a href="#team-gdna-content">gDNA samples</a></li>
	<li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-postmortem"><a href="#team-postmortem-content">Post‐mortem samples</a></li>
	<li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-shipping"><a href="#team-shipping-content">Shipping requirements</a></li>
</ul>
</div>
</div>
