<div id="team-blood-content" class="team-content active">
<div class="list-content row">
<div class="col-md-2">Specimen types</div>

<div class="col-md-10">Specimen types accepted:
<ul class="bullet-list">
	<li>Whole blood</li>
	<li>Frozen or partially frozen blood, although deletion/duplication analysis is not guaranteed for these specimens; also note that these specimens will be thawed upon receipt</li>
</ul>
We are unable to accept:

<ul class="bullet-list">
	<li>Hemolyzed or clotted blood</li>
	<li>Blood (or saliva) from patients who have had a bone marrow transplant (with the exception of autologous bone marrow transplants)</li>
	<li>Blood (or saliva) from patients with hematologic malignancies that are active and circulating in the peripheral blood, as results may be affected; in such cases, a specimen type not derived from blood (i.e., skin biopsy) is suggested; please see the "DNA" tab above for more information</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">We require a minimum of 3 mL of whole blood per <a href="https://www.invitae.com/en/clinical-areas/">clinical area</a> for adults and infants. For pediatric cases, we require 2 mL per <a href="https://www.invitae.com/en/clinical-areas/">clinical area</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Container</div>

<div class="col-md-10">The specimen should be sent in one EDTA purple-top tube. We accept both K2EDTA and K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The tube must be labeled with:
<ul class="bullet-list">
	<li>The patient’s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Specimen collection date</li>
</ul>
The patient name and the additional unique identifier written on the tube must <strong>match</strong> the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Storage &amp; Stability</div>

<div class="col-md-10">We recommend using overnight shipping the same day that the blood is collected.
<ul class="bullet-list">
	<li>Blood can be kept at room temperature for up to 48 hours.</li>
	<li>Blood can be refrigerated for up to one week.</li>
	<li>Please do not freeze blood as deletion/duplication analysis is not supported for frozen or partially frozen blood.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentation</div>

<div class="col-md-10">A printed copy of the online requisition form must be submitted with the specimen. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Blood should be shipped overnight at room temperature. We recommend including cold packs in hot weather or if shipping is expected to take longer than overnight to keep the specimen at 2 to 8 degrees Celsius (35.6 to 46.6 degrees Fahrenheit). Frozen blood should be shipped overnight using cold packs.<br>
<br>
To assist with specimen collection and shipping, you can request a free Invitae blood collection kit by submitting our online <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> form.<br>
<br>
Alternatively, you can send us the specimen in a crush-proof container via FedEx Priority Overnight (in accordance with the <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae’s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br>
        Shipping address:<br>
        Attn: Client Services<br>
        Invitae Corporation<br>
        475 Brannan St, Suite 230<br>
        San Francisco, CA 94107<br>
<br>
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">FedEx Holiday Service Schedule</a>.<br>
<br>
If you ship your specimen from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample invoice is <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-02ad/1/-/-/-/-/FM134-1_Proforma-Invoice-Inbound_Blood.pdf">available here</a>. Please be sure to also include a customs declaration form. A sample customs declaration forms is <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-02b0/1/-/-/-/-/FM138-1_InvitaeCustomsLetterSample_Blood.pdf">available here</a>.</div>
</div>
</div>

<div id="team-dna-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Assay limitations</div>

<div class="col-md-10">At this time, deletion/duplication analysis is not guaranteed for DNA specimens regardless of tissue source. Deletion/duplication analysis will be attempted for all DNA specimens; however, the success rate varies depending on specimen quality. If you require deletion/duplication analysis, please provide a whole blood or saliva specimen.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen return and billing policy</div>

<div class="col-md-10">Invitae performs an initial quality-control (QC) analysis on all DNA specimens received. If your DNA specimen fails this QC step, we will contact you and gladly return or safely dispose of any remaining DNA specimen at no charge. Please be aware that DNA specimens that pass initial QC may still fail to produce deletion/duplication results.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen types accepted</div>

<div class="col-md-10">We accept DNA purified from peripheral venous whole blood.<br>
<br>
DNA from the following sources is also accepted; however, DNA isolated from these sources is more likely to fail to meet our quality standards for read-through sequencing and deletion/duplication analysis:
<ul class="bullet-list">
	<li>Frozen blood</li>
	<li>Buccal swab/scrape</li>
	<li>Saliva</li>
	<li>Mouthwash (oral rinse)</li>
	<li>Muscle, skin, or liver tissue</li>
	<li>Cultured fibroblasts</li>
</ul>
DNA from the following sources is not accepted:

<ul class="bullet-list">
	<li>Chorionic villus sampling</li>
	<li>Amniocytes</li>
	<li>Products of conception or abortus</li>
	<li>Tumors</li>
	<li>Peripheral blood of patients with an active hematologic malignancy in circulation</li>
	<li>Paraffin-embedded tissue, regardless of whether or not it is fixed in formalin</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Amount &amp; concentration</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>15 µg of DNA in TE. We recommend PicoGreen for quantifying the DNA specimen. Note that the full amount will likely be consumed during our laboratory processes.</li>
	<li>DNA must be at a minimum concentration of 50 ng/µl.</li>
	<li>When sending DNA at higher concentrations, the minimum volume is 75 µl.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Container</div>

<div class="col-md-10">Our preferred container type is a 2 mL Fisher brand freestanding microcentrifuge tube with screw cap; however, we will accept DNA in any sterile plastic tube.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The DNA container must be labeled with:
<ul class="bullet-list">
	<li>The patient’s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Specimen collection date</li>
</ul>
The patient name and the additional unique identifier written on the container must match the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2"><strong>Documentation</strong></div>

<div class="col-md-10">The following additional information is required for DNA specimens:
<ul class="bullet-list">
	<li>Collection date</li>
	<li>Source of the DNA (which tissue or sample type?)</li>
</ul>

<p>Please either handwrite this information on your paper order form or provide it using this <a href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_DNA-form.pdf">DNA Specimen Form</a>.</p>

<p>A printed copy of the online requisition form must be submitted with the specimen (please remember to add the collection date and specimen source if not also including the DNA Specimen Form). You will be able to print a copy of the requisition form after you have completed the online requisition process.</p>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">DNA specimens should be shipped overnight at room temperature. We recommend including cold packs in hot weather or if shipping is expected to take longer than overnight to keep the specimen at 2 to 8 degrees Celsius (35.6 to 46.6 degrees Fahrenheit). Frozen DNA specimens should be shipped overnight using cold packs.<br>
<br>
Please send the specimen in a crush-proof container via FedEx Priority Overnight (in accordance with the <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae’s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br>
<br>
        Shipping address:<br>
        Attn: Client Services<br>
        Invitae Corporation<br>
        475 Brannan St, Suite 230<br>
        San Francisco, CA 94107<br>
<br>
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">FedEx Holiday Service Schedule</a>.<br>
<br>
If you ship your specimen from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample invoice for DNA is <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-02ae/1/-/-/-/-/FM135-1_Proforma-Invoice-Inbound_DNA.pdf">available</a>. Please be sure to also include a customs declaration form.</div>
</div>
</div>

<div id="team-postmortem-content" class="team-content">
<div class="row">
<div class="col-md-12">After the death of a loved one from a suspected inherited condition, post-mortem genetic testing may provide valuable information for family members. Post-mortem testing may help confirm the deceased person’s cause of death, as well as clarify whether family members could benefit from genetic testing for the same condition.<br>
<br>
Post-mortem genetic testing involves consideration of several important factors prior to testing genetic specimens from deceased individuals. Below is general information about Invitae’s testing process for post-mortem analysis. Due to the sensitive nature of this type of analysis and these samples, we require that clinicians <a href="{% page_url 'portal_common.contact' %}">contact</a> us before sending a post-mortem specimen.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen types</div>

<div class="col-md-10">Please refer to the whole blood or DNA tabs on this page for specimen requirements.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen quality</div>

<div class="col-md-10">The success of genetic testing is dependent on specimen quality. While we make every effort to generate complete test results, this may not always be possible if a specimen is of poor quality. Deletion/duplication testing is not guaranteed for DNA isolated in other labs or for frozen blood.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen storage &amp; send-out</div>

<div class="col-md-10">Invitae is unable to store or hold specimens at this time. We encourage consideration of DNA banking through other facilities specifically focused on long-term DNA storage.<br>
Specimens received that do not meet Invitae’s minimum requirements for testing may be returned to the sender. Samples that meet minimum requirements will start the testing process and will likely be consumed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Payment &amp; billing</div>

<div class="col-md-10">Families have the option of paying $475 per <a href="https://www.invitae.com/en/clinical-areas/">clinical area</a> for testing when the test is ordered online by a clinician. For this option, a family member agrees to register the deceased patient through Invitae’s online <a href="{% url 'patient.signin' %}">patient portal</a> and provide payment by credit card upfront and in full. This family member must be the authorized next-of-kin because the portal will display test results, and these can only be accessed by authorized individuals. Please note that insurance does not typically cover post-mortem testing, so we cannot submit claims to insurers for tests performed on deceased patients.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Results reporting</div>

<div class="col-md-10">The results of genetic testing are reported to the ordering clinician. The family member who registered the patient in the Invitae patient portal may request a copy of the patient’s test results, which will become available online once reviewed and released by the ordering clinician.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Please refer to the whole blood or DNA tabs on this page for shipping requirements for these specimen types.</div>
</div>
</div>

<div id="team-saliva-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Specimen types</div>

<div class="col-md-10">Specimen types accepted:
<ul class="bullet-list">
	<li>Saliva collected and stored in an Oragene<sup>TM</sup> self collection kit (OG500/OGD500). Please note that this kit requires 2 mL of saliva and involves active (not assisted) saliva donation.</li>
	<li>To request a free Oragene<sup>TM</sup> self collection kit, visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page.</li>
</ul>
We are unable to accept:

<ul class="bullet-list">
	<li>Saliva in any container other than the Oragene<sup>TM</sup> self collection kit (OG500/OGD500)</li>
	<li>Buccal swabs and mouthwash specimens</li>
	<li>Saliva (or blood) from patients who have had a bone marrow transplant (with the exception of autologous bone marrow transplants)</li>
	<li>Saliva (or blood) from patients with hematologic malignancies that are active and circulating in the peripheral blood, as results may be affected; in such cases, a specimen type not derived from blood (i.e., skin biopsy) is suggested; please see the "DNA" tab above for more information</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The collection tube must be labeled with:
<ul class="bullet-list">
	<li>The patient’s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth (MM/DD/YYYY)</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Specimen collection date</li>
</ul>
The patient name and the additional unique identifier written on the tube must <strong>match</strong> the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Storage &amp; Stability</div>

<div class="col-md-10">Store saliva at room temperature, avoiding lengthy refrigeration. Although there are no special time requirements, we recommend that specimen be mailed to Invitae soon after collection.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentation</div>

<div class="col-md-10">A printed copy of the online requisition form must be submitted with the specimen. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Ship at room temperature (overnight shipping is not necessary). To assist with specimen collection and shipping, you can request a free Invitae saliva collection kit by submitting our online <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> form.<br>
<br>
Alternatively, you can send us the specimen in a crush-proof container via FedEx Priority Overnight (in accordance with the <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae’s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br>
<br>
        Shipping address:<br>
        Attn: Client Services<br>
        Invitae Corporation<br>
        475 Brannan St, Suite 230<br>
        San Francisco, CA 94107<br>
<br>
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">FedEx Holiday Service Schedule</a>.<br>
<br>
If you ship your specimen from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample ProForma invoice is <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-02af/1/-/-/-/-/FM136-1_Proforma-Invoice-Inbound_Saliva.pdf">available</a>. Please be sure to also include a customs declaration form. A sample saliva customs declaration form is also <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-02b1/1/-/-/-/-/FM139-1_InvitaeCustomsLetterSample_Saliva.pdf">available</a>.</div>
</div>
</div>
