<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li id="team-blood" class="{% if active == 'account' %}active{% endif %}team-button active"><a href="#team-blood-content">Whole blood</a></li>
	<li id="team-saliva" class="{% if active == 'contact' %}active{% endif %}team-button"><a href="#team-saliva-content">Saliva</a></li>
	<li id="team-dna" class="{% if active == 'password' %}active{% endif %}team-button"><a href="#team-dna-content">DNA</a></li>
	<li id="team-postmortem" class="{% if active == 'contact' %}active{% endif %}team-button"><a href="#team-postmortem-content">Post‐mortem specimens</a></li>
</ul>
</div>
</div>
