<div class="row">
<div class="col-md-7"> 
<h2>O teste genético é <span class="colored-mountain">adequado<br>
para mim?</span></h2>

<p>O primeiro passo ao fazer um teste genético é compartilhar seu histórico de saúde familiar com o seu médico e perguntar se um encaminhamento ao aconselhamento genético é apropriado. Um profissional em genética pode ajudar a determinar se o teste genético é adequado para você.</p>

<p>A Invitae pode ajudar você a identificar um profissional genético qualificado na sua área a través da Rede de Prestadores Genéticos (RPG) da Invitae. Por favor, <a href="{% url 'patient.signin' %}?next={% url 'patient.gpn-search' %}">entre na sua conta</a> da Invitae – ou, se você ainda não tem uma, <a href="{% url 'patient.signup' %}?next={% url 'patient.gpn-search' %}">crie uma conta</a> — para conectar-se com nossa rede de conselheiros genéticos, geneticistas e enfermeiras genéticas.</p>
</div>

<div class="col-md-5 image-col"><img class="img-responsive center-block" alt="" src="/static/img/patient_portal/illustration-talk-with-your-doctor.png"></div>
</div>