<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Historias reales</a></li>
	<li>Ghecemy Lopez</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'Esto es parte de mí, pero no me define'</span></h2>

<h5>Ghecemy Lopez habla acerca del cáncer de mama</h5>

<p>Ghecemy es una sobreviviente del cáncer de mama y una promotora de las tareas de extensión a la comunidad para pacientes bilingües</p>

<p>Ghecemy Lopez aún recuerda un abrazo que recibió hace 25 años. Una tarde, de niña, estaba de visita en casa de la abuela de su mejor amiga en su tranquila ciudad natal en la costa de Veracruz, México. Con frecuencia pasaba de visita y siempre la saludaba con un cálido abrazo. Pero un día particular, cuando abrazó a la mujer, sintió confusión y temor.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" class="wistia_embed embed-responsive-item" allowfullscreen="allowfullscreen" frameborder="0" oallowfullscreen="oallowfullscreen" src="//fast.wistia.net/embed/iframe/flxf7o3vzu?videoFoam=true" allowtransparency="true" webkitallowfullscreen="webkitallowfullscreen" name="wistia_embed" scrolling="no"></iframe></div>
</div>

<div class="col-md-12">
<p> </p>

<p>“Sentí que algo faltaba en su pecho, y eso fue muy sorprendente para una niña pequeña de apenas 8 años porque yo no sabía por qué pasaba eso", recuerda. No se dijeron palabra alguna en ese momento. “Me pareció que con su mirada ella quería decirme la verdad, pero no explicó nada... fue como un susurro. El cáncer era algo acerca de lo que nadie quería hablar”.</p>

<p>Hoy, con solo 33 años, Ghecemy es también una sobreviviente del cáncer. Fue una noche de semana como cualquiera en febrero de 2011 mientras miraba televisión con su esposo en su casa en Los Ángeles cuando descubrió la protuberancia. En el plazo de una semana, se le diagnosticó un cáncer de mama agresivo conocido como triple negativo. El médico de Ghecemy la instó a considerar el análisis genético, dada la rareza de su afección para una mujer de tan solo 30 años.</p>

<p>El asesor genético le informó a Ghecemy que el resultado de su análisis había sido positivo para una mutación del gen BRCA1, lo que aumenta en gran medida las posibilidades de una mujer de desarrollar cáncer de mama. Ella también supo que fue su padre, y no su madre, la persona que le había transmitido la enfermedad. “Mi mundo se desplomó en ese momento, porque no podía sentirme completamente feliz por el hecho de que mi mamá no iba a tener que lidiar con esto, y luego saber que mi papá era el portador...Además, pensar en mi hermano y en las generaciones que vendrán después de nosotros. ¿Qué significa eso? ¿Y qué sucede con mis sobrinos o mis tías y tíos?”</p>

<p>La mutación del gen BRCA1 no solo es hereditaria en su linaje familiar; la investigación ha demostrado que el subtipo específico de la mutación de Ghecemy (deleción del exón 9-12) se originó hace más de 600 años en la población tolteca, una civilización antigua que vivió en la misma parte de México que los ancestros de Ghecemy.</p>

<p>Pero en lugar de mirar hacia atrás, Ghecemy mira hacia adelante. Trabaja ahora como portavoz activa del cáncer de mama en tareas de extensión a la comunidad para pacientes bilingües y es mentora de niños jóvenes en su tiempo libre. “Ya no pienso en la mutación como solía hacerlo, quizás porque estoy aprendiendo más acerca de ella. He logrado entender que 'las cosas son así, esto es parte de mí, pero no me define'. Simplemente tengo predisposición al cáncer de mama y ovarios. Esto no va a cambiar mi vida ni me va a detener."</p>

<p>Durante un viaje reciente para visitar a su familia en México, Ghecemy se reunió con la anciana de quien se hizo amiga en su niñez. “Cuando la vi nuevamente, me dijo, 'Ahora sabes exactamente por lo que estaba pasando ese día cuando me abrazaste’. Ella también lo recordaba.”</p>
</div>
</div>