<div class="row">
<div class="col-md-12">
<h3>Sending in a sample</h3>

<p>Invitae’s preferred sample type for our next-generation sequencing assay is peripheral whole blood in a purple-top EDTA tube. We also accept genomic DNA (gDNA) that has been isolated in other laboratories, but there are assay limitations when using this specimen type. For details, please see the “gDNA” section below.</p>

<p>To make it as easy as possible for you to provide a whole blood sample, we can send you free sample collection kits. We also offer phlebotomy services at no additional charge within North America; we can schedule a blood draw appointment at your office or at your patient's home.  Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more about both these services.</p>
</div>
</div>