<div class="row">
<div class="col-md-12">
<h3>Perguntas frequentes</h3>

<div class="faq-block">
<div class="faq-block__heading theme-one">Testes gen&eacute;ticos com a Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que &eacute; um teste gen&eacute;tico?</h4>

<div class="expandable-content">
<p>O teste gen&eacute;tico analisa os genes, que s&atilde;o as instru&ccedil;&otilde;es codificadas no DNA. Os genes ajudam a determinar a cor dos seus olhos e dos seus cabelos, a sua altura e outros tra&ccedil;os f&iacute;sicos que fazem de voc&ecirc; quem voc&ecirc; &eacute;. O teste gen&eacute;tico procura varia&ccedil;&otilde;es nos genes que podem levar a doen&ccedil;as. Voc&ecirc; ou o seu m&eacute;dico podem cogitar o teste gen&eacute;tico por v&aacute;rias raz&otilde;es, como confirmar uma doen&ccedil;a que ele suspeite que voc&ecirc; tenha ou compreender a causa de uma doen&ccedil;a que &eacute; comum na sua fam&iacute;lia.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais s&atilde;o os diferentes tipos de testes gen&eacute;ticos?</h4>

<div class="expandable-content">
<p>A Invitae oferece tanto testes diagn&oacute;sticos como preditivos. Os testes diagn&oacute;sticos s&atilde;o realizados para confirmar geneticamente uma doen&ccedil;a que o m&eacute;dico suspeite que voc&ecirc; possa ter, com base nos seus sintomas. Os testes preditivos envolvem a realiza&ccedil;&atilde;o de testes gen&eacute;ticos para determinar o risco futuro de desenvolver uma doen&ccedil;a ou uma condi&ccedil;&atilde;o. Se voc&ecirc; tiver hist&oacute;rico familiar de uma determinada doen&ccedil;a pass&iacute;vel de ser herdada (seja uma doen&ccedil;a heredit&aacute;ria rara ou uma mais comum, como c&acirc;ncer), seu m&eacute;dico poder&aacute; recomendar testes preditivos para detectar o risco de voc&ecirc; vir a desenvolver a doen&ccedil;a no futuro.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que tipos de testes gen&eacute;ticos a Invitae oferece?</h4>

<div class="expandable-content">
<p>A Invitae &eacute; especializada em testes gen&eacute;ticos para condi&ccedil;&otilde;es herdadas relativas a v&aacute;rias &aacute;reas m&eacute;dicas, como cardiologia, c&acirc;nceres heredit&aacute;rios, pediatria, neurologia e hematologia. Para obter mais detalhes sobre nossos testes gen&eacute;ticos, acesse nossa p&aacute;gina de <a href="{% page_url 'portal_common.test-catalog' %}"> cat&aacute;logo de testes</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que apoio a Invitae oferece durante o processo de teste?</h4>

<div class="expandable-content">
<p>Entendemos que fazer escolhas sobre o teste gen&eacute;tico pode &agrave;s vezes ser devastador. Com a Invitae, voc&ecirc; encontrar&aacute; apoio em cada etapa do caminho: antes, durante e depois do teste. Colocamos &agrave; sua disposi&ccedil;&atilde;o todos os nossos recursos para que voc&ecirc; possa se concentrar apenas em cuidar de si mesmo, da sua fam&iacute;lia e do seu futuro.</p>

<p>Os servi&ccedil;os de testes gen&eacute;ticos da Invitae incluem:</p>

<ul class="bullet-list">
	<li>Testes gen&eacute;ticos simples, convenientes e acess&iacute;veis</li>
	<li>Resultados em tr&ecirc;s semanas, em m&eacute;dia</li>
	<li>An&aacute;lise especializada para uma compreens&atilde;o clara</li>
	<li>Testes de alta qualidade por um pre&ccedil;o acess&iacute;vel, incluindo programas de ajuda financeira para pacientes, em alguns casos</li>
	<li>Aconselhamento gen&eacute;tico (com encaminhamento m&eacute;dico) para ajudar voc&ecirc; a compreender os resultados do seu teste gen&eacute;tico</li>
	<li>Se for o caso, testagem familiar para detectar o risco para seus familiares</li>
	<li>Ajuda com o seguro e o processo de cobran&ccedil;a nos EUA</li>
	<li>Conveniente acesso online e a capacidade de controlar sua amostra durante todo o processo de teste</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso saber que tipo de teste gen&eacute;tico &eacute; o certo para mim?</h4>

<div class="expandable-content">
<p>Descobrir o teste gen&eacute;tico certo depende do seu hist&oacute;rico m&eacute;dico e familiar, das suas condi&ccedil;&otilde;es m&eacute;dicas atuais e dos tipos de respostas que voc&ecirc; e o seu profissional de sa&uacute;de procuram. Converse com seu m&eacute;dico sobre o tipo de teste gen&eacute;tico certo para voc&ecirc; ou entre em <a href="{% page_url 'patient.contact' %}">contato</a> com o nosso Servi&ccedil;o de Atendimento ao Cliente para saber mais sobre as suas op&ccedil;&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se for descoberto que eu tenho uma varia&ccedil;&atilde;o gen&eacute;tica e meus familiares quiserem se submeter ao teste?</h4>

<div class="expandable-content">
<p>Os resultados do seu teste gen&eacute;tico poder&atilde;o ter implica&ccedil;&otilde;es n&atilde;o s&oacute; para a sua sa&uacute;de, mas para a sa&uacute;de da sua fam&iacute;lia tamb&eacute;m.</p>

<p>Se voc&ecirc; recebe um resultado positivo para um teste de Invitae, o teste de variantes familiares pode ser utilizado para identificar outros membros da sua fam&iacute;lia com a mesma variante e fornecer informa&ccedil;&otilde;es sobre seus riscos gen&eacute;ticos. Para saber mais sobre as op&ccedil;&otilde;es de testes para a sua fam&iacute;lia, por favor, fale com o seu m&eacute;dico ou contate a nossa equipe de Servi&ccedil;o ao Cliente.</p>

<p>O teste de variantes familiares de Invitae envolve uma an&aacute;lise completa do gene no qual foi identificada a variante no membro familiar original. O informe incluir&aacute; o status da variante familiar, assim como qualquer outra (s) variante (s) identificada (s) no gene que poderia ser causadora de doen&ccedil;as.</p>

<p>O teste de variantes familiares &eacute; fornecido para os membros da fam&iacute;lia eleg&iacute;veis por apenas $200 por gene por cada familiar testado. Em m&eacute;dia, os resultados estar&atilde;o dispon&iacute;veis em tr&ecirc;s semanas a partir da recep&ccedil;&atilde;o da amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quem &eacute; eleg&iacute;vel para os testes familiares?</h4>

<div class="expandable-content">
<p>Um membro da fam&iacute;lia do paciente inicial &eacute; eleg&iacute;vel se todos os seguintes crit&eacute;rios s&atilde;o atendidos:</p>

<ul class="bullet-list">
	<li>O paciente original foi testado em Invitae*</li>
	<li>Uma variante causadora da doen&ccedil;a ou prov&aacute;vel causadora da doen&ccedil;a foi identificada no informe de testes do paciente original**</li>
	<li>O membro da fam&iacute;lia est&aacute; em risco em ter a mesma variante</li>
</ul>

<p>*O teste de variantes familiares n&atilde;o est&aacute; dispon&iacute;vel para as fam&iacute;lias se a variante patog&ecirc;nica do paciente original foi detectada por um laborat&oacute;rio que n&atilde;o seja Invitae.</p>

<p>**Se o informe do teste do paciente original identificou uma variante de import&acirc;ncia duvidosa (VUS), a resolu&ccedil;&atilde;o VUS pode estar dispon&iacute;vel sem custo adicional para os membros da fam&iacute;lia eleg&iacute;veis. Os familiares de pacientes que n&atilde;o se qualificam &agrave; resolu&ccedil;&atilde;o VUS sem nenhum custo adicional podem beneficiados de testes de variantes familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se o meu teste gen&eacute;tico der negativo ou inconclusivo?</h4>

<div class="expandable-content">
<p>Se voc&ecirc; receber um resultado negativo ou inconclusivo em um teste da Invitae, seu m&eacute;dico poder&aacute; optar por testar mais genes relacionados &agrave; &aacute;rea cl&iacute;nica original para a qual voc&ecirc; foi submetido &agrave; testagem. Esses genes adicionais podem ser solicitados sem custo adicional em at&eacute; 90 dias a partir da data em que seu m&eacute;dico tiver recebido o resultado do primeiro teste. (V&aacute;lido apenas para genes dispon&iacute;veis no momento do relat&oacute;rio original.) Obtenha mais informa&ccedil;&otilde;es sobre esse programa na nossa p&aacute;gina de <a href="{% page_url 'portal_common.re-requisition' %}">Nova Solicita&ccedil;&atilde;o</a>.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-two">O processo de teste gen&eacute;tico na Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como ele funciona?</h4>

<div class="expandable-content">
<p>Os testes gen&eacute;ticos cl&iacute;nicos da Invitae devem ser solicitados por um profissional de sa&uacute;de certificado e autorizado</p>

<p>Queremos facilitar ao m&aacute;ximo o processo de testes gen&eacute;ticos. Depois que voc&ecirc; e seu m&eacute;dico decidirem que o teste gen&eacute;tico &eacute; adequado para voc&ecirc;, uma amostra de sangue ou saliva poder&aacute; ser enviada &agrave; Invitae para teste. Muitos pacientes coletam sangue no laborat&oacute;rio ou no consult&oacute;rio do m&eacute;dico. Se voc&ecirc; precisar de ajuda nesse sentido, a Invitae disponibiliza o servi&ccedil;o de coleta de sangue a domic&iacute;lio sem nenhum custo adicional. Esse servi&ccedil;o &eacute; oferecido em nos Estados Unidos e no Canad&aacute;.</p>

<p>Ap&oacute;s o recebimento da amostra de sangue, uma equipe de cientistas, m&eacute;dicos e conselheiros gen&eacute;ticos realiza o teste gen&eacute;tico e trabalha em conjunto para analisar os resultados e oferecer uma interpreta&ccedil;&atilde;o especializada. Os resultados do teste gen&eacute;tico s&atilde;o enviados ent&atilde;o para o seu m&eacute;dico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como forne&ccedil;o a amostra?</h4>

<div class="expandable-content">
<p>Depois que voc&ecirc; decidir realizar o teste e seu m&eacute;dico tiver feito a solicita&ccedil;&atilde;o, voc&ecirc; precisar&aacute; fornecer uma amostra de sangue ou de saliva.</p>

<p>Se voc&ecirc; optar por fornecer uma amostra de saliva, o m&eacute;dico poder&aacute; pedir &agrave; Invitae que envie um kit de coleta de saliva ao consult&oacute;rio ou &agrave; sua resid&ecirc;ncia.</p>

<p>Se voc&ecirc; estiver nos EUA ou no Canad&aacute; e optar por enviar uma amostra de sangue, esta poder&aacute; ser coletada no consult&oacute;rio ou em sua resid&ecirc;ncia &mdash; como voc&ecirc; preferir. Para solicitar um servi&ccedil;o de coleta de sangue nos Estados Unidos ou no Canad&aacute;, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nossa equipe de Atendimento ao cliente. As consultas devem ser marcadas pelo menos com tr&ecirc;s dias de anteced&ecirc;ncia. A Invitae enviar&aacute; um kit de coleta para sua casa ou para o consult&oacute;rio do seu m&eacute;dico com todo o material e formul&aacute;rios necess&aacute;rios. Esse servi&ccedil;o &eacute; oferecido sem custo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto tempo demora para eu receber meus resultados?</h4>

<div class="expandable-content">
<p>Sabemos que os pacientes gostariam de receber os resultados de seu teste gen&eacute;tico o mais r&aacute;pido poss&iacute;vel. Com a Invitae, seu m&eacute;dico receber&aacute; os resultados dentro de tr&ecirc;s semanas, em m&eacute;dia. Nosso portal online torna mais f&aacute;cil voc&ecirc; saber exatamente em que ponto do processo de teste a sua amostra se encontra. Voc&ecirc; tamb&eacute;m poder&aacute; ver seus resultados online assim que eles tiverem sido avaliados e liberados pelo seu m&eacute;dico. <a href="{% url 'patient.signin' %}">Este</a> &eacute; o site do portal online da Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como fa&ccedil;o para verificar o status do meu teste?</h4>

<div class="expandable-content">
<p>Depois que o seu m&eacute;dico tiver solicitado um teste para voc&ecirc; na Invitae, voc&ecirc; poder&aacute; entrar no nosso portal online para verificar o status do seu teste. Tamb&eacute;m poder&aacute; ver os resultados do teste assim que eles forem liberados pelo seu m&eacute;dico. <a href="{% url 'patient.signin' %}">Este</a> &eacute; o site do portal online da Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como fa&ccedil;o login na minha conta da Invitae?</h4>

<div class="expandable-content">
<p>Se o seu m&eacute;dico tiver informado seu endere&ccedil;o de e-mail ao fazer o pedido do teste, voc&ecirc; receber&aacute; um e-mail com as informa&ccedil;&otilde;es necess&aacute;rias para criar sua conta no portal online da Invitae. O nome de usu&aacute;rio para essa conta &eacute; o seu endere&ccedil;o de e-mail e voc&ecirc; pode definir a senha no momento em que criar a conta. <a href="{% url 'patient.signin' %}">Este</a> &eacute; o site do portal online da Invitae.</p>

<p>Se voc&ecirc; perder sua senha ou n&atilde;o receber o e-mail de configura&ccedil;&atilde;o de conta, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se o meu m&eacute;dico n&atilde;o conhecer a Invitae?</h4>

<div class="expandable-content">
<p>Os testes gen&eacute;ticos da Invitae devem ser solicitados por um profissional de sa&uacute;de certificado. Se voc&ecirc; estiver interessado em saber mais sobre nossos servi&ccedil;os de testes gen&eacute;ticos, nosso Servi&ccedil;o de Atendimento ao Cliente ter&aacute; o prazer em auxili&aacute;-lo:</p>

<ul class="bullet-list">
	<li>Fornecendo mais informa&ccedil;&otilde;es sobre os testes que oferecemos</li>
	<li>Facilitando a conversa com seu m&eacute;dico</li>
	<li>Colocando voc&ecirc; em contato com nossos conselheiros gen&eacute;ticos, que podem responder &agrave;s suas perguntas sobre o processo de teste gen&eacute;tico em geral e ajud&aacute;-lo a encontrar um geneticista para assisti-lo</li>
</ul>

<p>Para saber mais, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-three">Aconselhamento gen&eacute;tico oferecido pela Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que vem a ser um conselheiro gen&eacute;tico e por que meu m&eacute;dico quer que eu converse com um?</h4>

<div class="expandable-content">
<p>Conselheiros gen&eacute;ticos s&atilde;o profissionais de sa&uacute;de especialmente treinados para ajud&aacute;-lo a compreender o resultado do teste gen&eacute;tico e o que isso significa para voc&ecirc; e seus familiares.</p>

<p>Muitos m&eacute;dicos encaminham os pacientes aos conselheiros gen&eacute;ticos para que eles tenham a oportunidade de saber mais detalhes sobre testes gen&eacute;ticos e fazer perguntas sobre o processo. Quando uma variante gen&eacute;tica &eacute; identificada, muitos m&eacute;dicos tamb&eacute;m apreciam a maneira detalhada como os conselheiros gen&eacute;ticos ajudam o paciente a identificar membros da fam&iacute;lia em risco e proporcionam ao paciente recursos sobre testes gen&eacute;ticos que eles podem compartilhar com seus familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece servi&ccedil;os de aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Caso voc&ecirc; n&atilde;o tenha acesso a um conselheiro gen&eacute;tico, a Invitae oferecer&aacute; servi&ccedil;os remotos de aconselhamento gen&eacute;tico por telefone ou v&iacute;deo. (Nos EUA, esses servi&ccedil;os s&atilde;o realizados de acordo com os requisitos estaduais que regulam a pr&aacute;tica de telegen&eacute;tica.) O encaminhamento m&eacute;dico &eacute; necess&aacute;rio para os servi&ccedil;os de aconselhamento gen&eacute;tico da Invitae. Para saber mais, visite a p&aacute;gina de <a href="{% page_url 'portal_common.gc-services' %}">servi&ccedil;os de aconselhamento gen&eacute;tico</a> da Invitae. Os servi&ccedil;os de aconselhamento gen&eacute;tico oferecidos atualmente pela Invitae s&atilde;o somente para nossos testes gen&eacute;ticos de c&acirc;ncer.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os conselheiros gen&eacute;ticos da Invitae s&atilde;o credenciados e licenciados nos Estados Unidos?</h4>

<div class="expandable-content">
<p>Sim, a Invitae emprega conselheiros gen&eacute;ticos certificados pelo American Board of Genetic Counseling (Conselho Americano de Aconselhamento Gen&eacute;tico). A Invitae tamb&eacute;m emprega conselheiros gen&eacute;ticos licenciados em cada estado dos EUA com requisitos de licenciamento.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto custa o aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Acreditamos que o aconselhamento gen&eacute;tico seja uma parte muito importante do processo de teste gen&eacute;tico e ficamos felizes de oferecer esse servi&ccedil;o sem nenhum custo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como fa&ccedil;o para solicitar uma consulta de aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>O encaminhamento m&eacute;dico &eacute; necess&aacute;rio para os servi&ccedil;os de aconselhamento gen&eacute;tico a pacientes oferecido pela Invitae. Para saber mais sobre como entrar em contato com um dos nossos conselheiros gen&eacute;ticos, visite a p&aacute;gina de nossa <a href="{% page_url 'portal_common.gc-services' %}">servi&ccedil;os de aconselhamento gen&eacute;tico</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que posso esperar da consulta de aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>Durante a sess&atilde;o de aconselhamento, o conselheiro gen&eacute;tico examinar&aacute; rapidamente seu hist&oacute;rico m&eacute;dico e far&aacute; perguntas sobre o hist&oacute;rico m&eacute;dico da sua fam&iacute;lia. De posse dessas informa&ccedil;&otilde;es, o conselheiro gen&eacute;tico explicar&aacute; o teste gen&eacute;tico solicitado pelo seu m&eacute;dico e discutir&aacute; os poss&iacute;veis resultados do teste, inclusive o que esses resultados podem significar para voc&ecirc; e para os membros da sua fam&iacute;lia. O conselheiro gen&eacute;tico tamb&eacute;m explicar&aacute; como o teste &eacute; realizado, ajudar&aacute; voc&ecirc; a enviar sua amostra de DNA (caso voc&ecirc; decida prosseguir com o teste) e examinar&aacute; os resultados dos seus testes gen&eacute;ticos junto com voc&ecirc; quando eles estiverem prontos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso me preparar para a sess&atilde;o de aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>As sess&otilde;es de aconselhamento gen&eacute;tico s&atilde;o semelhantes a qualquer consulta m&eacute;dica. Voc&ecirc; deve reservar uma hora para a sess&atilde;o e garantir que n&atilde;o seja interrompido durante esse tempo.</p>

<p>Antes da sess&atilde;o de aconselhamento gen&eacute;tico, conv&eacute;m perguntar aos membros da sua fam&iacute;lia sobre seu hist&oacute;rico m&eacute;dico familiar. Ser&aacute; muito &uacute;til se voc&ecirc; conseguir informa&ccedil;&otilde;es sobre poss&iacute;veis condi&ccedil;&otilde;es m&eacute;dicas diagnosticadas (como c&acirc;ncer ou doen&ccedil;as card&iacute;acas) e a idade em que cada condi&ccedil;&atilde;o m&eacute;dica foi diagnosticada. Voc&ecirc; tamb&eacute;m pode perguntar a eles sobre a causa da morte de familiares falecidos e a idade que eles tinham quando morreram.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>E se eu for adotada ou n&atilde;o souber detalhes do meu hist&oacute;rico m&eacute;dico familiar?</h4>

<div class="expandable-content">
<p>N&atilde;o s&atilde;o raros os casos de pessoas que foram adotadas ou que t&ecirc;m poucas informa&ccedil;&otilde;es m&eacute;dicas sobre um determinado lado da fam&iacute;lia. Tenha certeza de que o conselheiro gen&eacute;tico trabalhar&aacute; com todas as informa&ccedil;&otilde;es que voc&ecirc; tiver dispon&iacute;veis durante o processo de teste gen&eacute;tico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto tempo dura a sess&atilde;o de aconselhamento gen&eacute;tico?</h4>

<div class="expandable-content">
<p>As sess&otilde;es de aconselhamento gen&eacute;tico geralmente duram uma hora, mas podem levar mais ou menos tempo dependendo do n&uacute;mero de perguntas que voc&ecirc; fizer aos conselheiros gen&eacute;ticos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que acontece se eu tiver d&uacute;vidas sobre os meus cuidados m&eacute;dicos?</h4>

<div class="expandable-content">
<p>Qualquer d&uacute;vida relacionada a cuidados m&eacute;dicos deve ser direcionada ao seu m&eacute;dico.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-four">Custo e cobertura do seguro</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quanto custam os testes gen&eacute;ticos da Invitae?</h4>

<div class="expandable-content">
<p>A miss&atilde;o da Invitae &eacute; levar informa&ccedil;&atilde;o gen&eacute;tica &agrave; pr&aacute;tica m&eacute;dica convencional para melhorar a qualidade da assist&ecirc;ncia m&eacute;dica para bilh&otilde;es de pessoas. N&oacute;s acreditamos em testagem respons&aacute;vel com base em diretrizes m&eacute;dicas estabelecidas e pretendemos ser completamente transparentes nos nossos pre&ccedil;os para que pacientes, m&eacute;dicos e respons&aacute;veis financeiros saibam o custo do teste. Nos EUA, nossa estrutura de pre&ccedil;os por &aacute;rea cl&iacute;nica &eacute;*:</p>

<ul class="bullet-list">
	<li>US$ 1.500 - Pre&ccedil;o de tabela</li>
	<li>US$ 950 - Pre&ccedil;o de contrato para distribuidores, provedores em rede e institui&ccedil;&otilde;es</li>
	<li>US$ 475 - Pre&ccedil;o b&aacute;sico para pacientes dos EUA e Canad&aacute;
	<ul class="bullet-list">
		<li>O paciente concorda em se registrar online e definir prefer&ecirc;ncias de contato</li>
		<li>Os programas de assist&ecirc;ncia a pacientes n&atilde;o est&atilde;o dispon&iacute;veis para a op&ccedil;&atilde;o de pagamento antecipado pelo paciente.</li>
		<li>Os pedidos de pagamento antecipado pelo paciente devem ser feitos online, incluindo a solicita&ccedil;&atilde;o do cl&iacute;nico.</li>
		<li>No caso de pedidos internacionais, a op&ccedil;&atilde;o de pagamento antecipado pelo paciente n&atilde;o inclui frete</li>
	</ul>
	</li>
</ul>

<p>A Invitae trabalha com distribuidores locais em pa&iacute;ses fora dos EUA. Entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente para ser apresentado ao distribuidor local e tomar conhecimento dos pre&ccedil;os na sua regi&atilde;o.</p>

<p>&Eacute; importante destacar que, para o pagamento pelo paciente (tanto dentro como fora dos EUA), exigimos a solicita&ccedil;&atilde;o dos testes emitida pelo profissional de sa&uacute;de dos pacientes. Os profissionais de sa&uacute;de s&atilde;o fundamentais para solicitar o teste certo para o paciente certo e interpretar as informa&ccedil;&otilde;es gen&eacute;ticas. A Invitae acredita que os pacientes devam possuir e controlar suas pr&oacute;prias informa&ccedil;&otilde;es gen&eacute;ticas, por isso n&atilde;o exigimos que nossos pacientes transfiram a titularidade de seus dados. N&oacute;s permitimos que eles optem por recusar e ainda assim recebam o teste. Embora as informa&ccedil;&otilde;es gen&eacute;ticas sejam mais valiosas quando compartilhadas, os pacientes s&atilde;o donos de seus dados e devem decidir o que querem fazer com elas.</p>

<p class="endnote"><sup>*</sup>*Pre&ccedil;os por &aacute;rea cl&iacute;nica: pre&ccedil;o de tabela de US$ 1.500, com desconto de US$ 950 para institui&ccedil;&otilde;es e distribuidores que possuam contrato com a Invitae, bem como provedores em rede. O pre&ccedil;o b&aacute;sico inicial para pacientes &eacute; US$ 475. Os pre&ccedil;os fora dos Estados Unidos n&atilde;o incluem taxas de frete. Para obter mais informa&ccedil;&otilde;es, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os testes gen&eacute;ticos da Invitae est&atilde;o cobertos pelo seguro nos EUA?</h4>

<div class="expandable-content">
<p>Os testes gen&eacute;ticos da Invitae podem estar cobertos pelo seu seguro de sa&uacute;de. Voc&ecirc; n&atilde;o precisar&aacute; entrar em contato com a seguradora para saber se o teste est&aacute; coberto ou para obter reembolso. A Invitae contatar&aacute; diretamente a companhia de seguros para coordenar a cobertura e o pagamento. Talvez a seguradora envie pelo correio para voc&ecirc; uma EOB (Explanation of Benefits, explica&ccedil;&atilde;o dos benef&iacute;cios). N&atilde;o &eacute; uma cobran&ccedil;a. A Invitae receber&aacute; uma EOB igual a esta e tratar&aacute; dos poss&iacute;veis processos de recurso para voc&ecirc;.</p>

<p>O seguro do Medicare (sa&uacute;de p&uacute;blica nos EUA) pode cobrir o custo de um teste da Invitae quando alguns crit&eacute;rios espec&iacute;ficos s&atilde;o atendidos. O Medicare cobre apenas testes de diagn&oacute;stico, e n&atilde;o testes com base em hist&oacute;rico familiar ou mapeamento. Caso solicite um teste que inclua os genes BRCA1 ou BRCA2, voc&ecirc; dever&aacute; atender aos crit&eacute;rios de teste de BRCA e n&atilde;o ter realizado ainda esse teste para ter direito &agrave; cobertura.</p>

<p>Mesmo que o seu plano de sa&uacute;de n&atilde;o cubra os testes, a Invitae pode oferecer testes com custos limitados ou insignificantes para quem comprove que precisa de ajuda financeira. Para obter mais informa&ccedil;&otilde;es, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Os testes gen&eacute;ticos da Invitae est&atilde;o cobertos pelo seguro fora dos EUA?</h4>

<div class="expandable-content">
<p>Os testes gen&eacute;ticos da Invitae podem estar cobertos pelo seu seguro de sa&uacute;de em outros pa&iacute;ses. Entre em contato com a sua corretora de seguros para saber se voc&ecirc; tem direito &agrave; cobertura e, em caso afirmativo, como fazer para solicit&aacute;-la. Se voc&ecirc; n&atilde;o tiver direito, entre em contato com seu profissional de sa&uacute;de para avaliar se a op&ccedil;&atilde;o de pagamento pelo paciente &eacute; a certa para voc&ecirc;.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que op&ccedil;&otilde;es de pagamento est&atilde;o dispon&iacute;veis?</h4>

<div class="expandable-content">
<p>Oferecemos as op&ccedil;&otilde;es de cobran&ccedil;a a seguir. Para saber mais sobre cada uma destas op&ccedil;&otilde;es, acesse nossa <a href="{% page_url 'portal_common.billing' %}">p&aacute;gina de cobran&ccedil;a</a>.</p>

<ul class="bullet-list">
	<li><strong>Pagamento pelo paciente</strong> &mdash; O paciente pode usar cart&atilde;o de d&eacute;bito ou cr&eacute;dito para pagar integralmente o teste. Aceitamos Visa, MasterCard, American Express e JCB.</li>
	<li><strong>Cobran&ccedil;a institucional</strong> &mdash; A Invitae estabelecer&aacute; um contrato com a institui&ccedil;&atilde;o caso ainda n&atilde;o haja um em vigor.</li>
	<li><strong>Seguro de terceiros (EUA)</strong> &mdash; A Invitae cobrar&aacute; das seguradoras por voc&ecirc;.</li>
	<li><strong>Medicare (EUA)</strong> &mdash; A cobertura do Medicare est&aacute; dispon&iacute;vel quando alguns crit&eacute;rios espec&iacute;ficos s&atilde;o atendidos.</li>
</ul>

<p>A Invitae poder&aacute; oferecer assist&ecirc;ncia se voc&ecirc; se enquadrar dentro de certos crit&eacute;rios financeiros. Para obter mais informa&ccedil;&otilde;es, entre em <a href="{% page_url 'patient.contact' %}">contato</a> com nosso Servi&ccedil;o de Atendimento ao Cliente.</p>
</div>
</div>
</div>
</div>
</div>
