<p><a name="test"></a></p>

<h5><span style="color:#76716B;"></span></h5>

<h5><span style="color:#76716B;"><strong>Want to learn more? </strong></span></h5>

<h5><span style="color:#76716B;"><strong>Enter your information below.</strong></span></h5>

<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required">
<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_organization">Practice name</label><input value="{{ user.userprofile.practice.name }}" type="text" name="organization" id="cms_id_organization"></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Practice zip/postal code</label><input value="{{ user.contact_info.zipcode }}" type="text" name="zipcode" id="cms_id_zipcode"></div>
</div>

<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-long-value="true" data-country-value="#cms_id_country_value" name="country" data-states-selector="#cms_id_state" id="cms_id_country" data-country=""></select> <label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" name="specialty" id="cms_id_specialty"></select></div>

<div class="field-wrapper required"><input value="Website" type="hidden" name="source"></div>

<p><input value="Peds/Rare CPC Lead Form" type="hidden" name="source_description"></p>

<p><input value="" type="hidden" name="cmpid" id="campaignId"><input value="" type="hidden" name="ao_campid" id="ao_campid"></p>

<p style="text-align: center;"><button type="submit" class="btn btn-lg btn-color-mountain">Submit</button></p>

<h5 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"></h5>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>
</div>
</div>
</div>