

<div class="row    ">
<div class="col-md-12    ">
<div class="list-content row    "><br></div>

<div class="list-content row    ">
<div class="col-md-3    ">CPT Code</div>

<div class="col-md-9    ">If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.</div></div>

<div class="list-content row    ">
<div class="col-md-3    ">Patient Assistance Program</div>

<div class="col-md-9      "><a href="{% page_url 'portal_common.contact' %}" class="btn btn-color-inherit btn-sm btn-right">Contact</a> For those who qualify, we have a Patient Access Program (PAP) and a Financial Assistance Plan (FAP) to reduce patient out of pocket costs. Please contact <img src="/static/cms/images/plugins/link.png" id="plugin_obj_391" alt="Link - Client Services" title="Link - Client Services"> for further information.</div></div>

<div class="list-content row    ">
<div class="col-md-3    ">More information</div>

<div class="col-md-9    "><a href="{% page_url 'portal_common.faq' %}" class="btn btn-color-inherit btn-sm btn-right">FAQ</a>

<p class="">More questions about our billing options? Visit our FAQ page.</p></div></div></div></div>
