<div class="row">
<div class="col-md-6">
<h2>Estudio familiar.</h2>

<p>Los resultados de su estudio gen&eacute;tico pueden tener consecuencias para la salud no solo para usted, sino tambi&eacute;n para su familia.</p>

<p>Las pruebas dirigidas para familiares pueden ayudar a identificar a aquellos que tienen los mismos riesgos gen&eacute;ticos que tu. Si recibes pruebas gen&eacute;ticas de Inviate, facilitamos pruebas por s&oacute;lo $200 por gen por cada familiar. Esta prueba con frecuencia est&aacute; cubierta por el seguro. Para aprender m&aacute;s sobre las opciones de pruebas para su familia, por favor hable con su m&eacute;dico o&nbsp;<a href="{% page_url 'patient.contact' %}">contacte</a>&nbsp;a Atenci&oacute;n al cliente.</p>
</div>

<div class="col-md-6 image"><img alt="" class="img-responsive" src="/static/img/patient_portal/audacity-19.jpg" /></div>
</div>
