<div class="row">
<div class="register-test">
<h3><a href="{% url 'patient.register-test-step1' %}">C&oacute;mo empezar.</a></h3>

<div class="invite-signin"><span class="icon icon-angle-right"></span> <a href="{% url 'patient.register-test-step1' %}">Registre su an&aacute;lisis</a> o averig&uuml;e c&oacute;mo empezar.</div>
</div>

<div class="text">
<div class="striped-background">&nbsp;</div>

<h1>Estamos todos conectados.</h1>

<p>Nuestro ADN compartido nos une y puede proporcionar un poderoso conocimiento sobre el riesgo de una persona de desarrollar ciertas enfermedades. Al considerar la posibilidad de un estudio gen&eacute;tico para usted o su hijo, posiblemente no sepa qu&eacute; esperar o qu&eacute; significado tendr&aacute; para usted y su familia. Invitae ofrece an&aacute;lisis gen&eacute;ticos asequibles y de alta calidad.</p>
</div>
</div>

<p><a class="scroll-to-next" href="#"><span class="round icon-chevron-bracket-down"></span> </a></p>