<div class="row">
<div class="col-md-12">
<h3>More information</h3>

<p>For more information about ordering with Invitae, visit our <a href="{% page_url 'portal_common.faq' %}">FAQ</a> page.</p>
</div>
</div>