<div class="row">
<div class="col-md-12">
<h4>&iquest;Qu&eacute; son los genes de evidencia limitada?</h4>

<p>Los genes de evidencia limitada son genes que fueron seleccionados de una revisi&oacute;n de la literatura y recomendaciones de expertos. Para algunos de esos genes, hasta ahora no se han identificado variantes patog&eacute;nicas definitivas. Para otros, no se ha establecido completamente la asociaci&oacute;n entre el gen y la afecci&oacute;n espec&iacute;fica.</p>

<h4>&iquest;Por qu&eacute; incluir&iacute;a genes de evidencia limitada en mi panel?</h4>

<p>Agregar genes de evidencia limitada puede aumentar la cantidad de variantes inciertas y puede revelar variantes potog&eacute;nicas de importancia incierta para la afecci&oacute;n del paciente. Esta incertidumbre puede resolverse a medida que se dispone de m&aacute;s informaci&oacute;n, y algunos m&eacute;dicos posiblemente deseen incluir estos genes en su investigaci&oacute;n.</p>

<h4>&iquest;C&oacute;mo puedo agregar genes de evidencia limitada a mi panel principal?</h4>

<p>Para agregar genes de evidencia limitada simplemente hay que marcar la casilla de selecci&oacute;n &ldquo;aceptar&rdquo; al lado de la lista de genes.</p>

<h4>&iquest;Qu&eacute; sucede si no estoy seguro de qu&eacute; solicitar?</h4>

<p>Con nuestras opciones de an&aacute;lisis flexibles, los m&eacute;dicos pueden sentirse confiados de que pueden comenzar solo con los genes con los que se sienten c&oacute;modos. Luego, si no obtienen las respuestas que necesitan con su selecci&oacute;n inicial de genes, los médicos pueden presentar una nueva aplicación para el análisis de los genes adicionales dentro de la misma área clínica, sin tener que pagar un cargo adicional.<sup>*</sup> Tambi&eacute;n ofrecemos servicios de consultor&iacute;a cl&iacute;nica para los m&eacute;dicos que desean analizar casos con expertos en asesoramiento gen&eacute;tico.</p>

<p class="endnote">*Consulte la <a href="{% page_url 'portal_common.re-requisition' %}">p&aacute;gina web de solicitud de genes adicionales</a> para obtener informaci&oacute;n acerca de los requisitos y detalles adicionales.</p>
</div>
</div>
