<p>Fill out the information below to receive regular updates about product offerings, news and events.</p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name"></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input value="{{ user.contact_info.phone }}" type="text" name="phone" id="cms_id_phone"></div>

<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-states-selector="#cms_id_state" id="cms_id_country" data-country="" data-long-value="true" data-country-value="#cms_id_country_value" name="country"></select>

<div><input value="<!--{cke_protected}%7B%7B%20user.contact_info.country%20%7D%7D-->" type="hidden" id="cms_id_country_value"></div>
</div>

<div class="field-wrapper required"><label for="cms_id_state">State/Province</label><select data-state-value="#cms_id_state_value" name="state" data-long-value="true" id="cms_id_state"></select>

<div><input value="<!--{cke_protected}%7B%7B%20user.contact_info.state%20%7D%7D-->" type="hidden" id="cms_id_state_value"></div>
</div>
</div>

<div class="field-wrapper required">
<p> <label for="cms_id_organization">Organization</label><input value="{{ user.userprofile.practice.name }}" type="text" name="organization" id="cms_id_organization"></p>
</div>

<div class="field-wrapper required"><label for="cms_id_speciality">Primary clincial area</label><select data-selected="{{ user.userprofile.specialty }}" id="cms_id_speciality" name="speciality"><option value="Oncology">Oncology</option><option value="Cardiology">Cardiology</option><option value="Neurology">Neurology</option><option value="Pediatrics">Pediatrics</option><option value="Medical Genetics">Medical Genetics</option><option value="Other Specialty ">Other Specialty</option></select></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value="Clinical Staff Member">Clinical Staff Member</option><option value="Genetic Counselor">Genetic Counselor</option><option value="Lab Management">Lab Management</option><option value="Nurse Navigator">Nurse Navigator</option><option value="Nurse Practitioner">Nurse Practitioner</option><option value="Registered Nurse">Registered Nurse</option><option value="Researcher">Researcher</option><option value="Resident/Student">Resident/Student</option><option value="Physician">Physician</option><option value="Physician Assistant">Physician Assistant</option><option value="Surgeon">Surgeon</option><option value="Patient">Patient</option><option value="Patient Family/Friend/Advocate">Patient Family/Friend/Advocate</option><option value="Other">Other</option></select></div>

<p><input value="Advertisement" type="hidden" name="source"></p>

<p><input value="LP Form Test" type="hidden" name="source_description"></p>

<p><input type="hidden" name="ao_campid"></p>

<p><button type="submit" class="btn btn-lg btn-color-mountain">SUBMIT</button></p>
