<div class="background"></div>
        <div class="striped-background-green landing-section-content">
            <h2 class="landing-section-header color-white">Cardiac testing for <br>the whole family.</h2>
            <ul class="landing-page-bullets color-white">
                <li>Test at risk families - affordably</li>
                <li>Accessible pricing: $475 patient pay <br> - $950 in contract * - $1500 list price</li>
                <li>Targeted follow-up for only $200 per family member</li>
            </ul>
            <a class="btn btn-lg ghost-button" href="{% url 'portal_common.signup' %}">Get started</a>
        </div>