<div class="section-overlay"></div>
        <h1 class="landing-section-header">Genetic testing, <br>with heart.</h1>
        <p class="landing-section-subhead">Putting cardiac genetics <br> to work for your patients.</p>
        <a class="btn btn-lg responsive-button btn-color-mountain" href="{% url 'portal_common.signup' %}">Get started</a>
        <div class="nav-scrollspy-link landing-scrollspy-link"><a class="icon-chevron-bracket-down" href="#cardio-video-section"></a></div>