<div class="row">
                <div class="col-md-12">
                    <h3>Analytic validation whitepaper</h3>

                    <p>For more details on our analytic validation study, please download our whitepaper below:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-color-inherit btn-md" href="http://marketing.invitae.com/acton/attachment/7098/f-00a8/1/-/-/-/-/WP101%20WhitePaper%20Analytic%20Validation%20Summary.pdf" target="_blank" style="margin:25px 0;">
                        <span class="icon icon-arrow-stop-down"></span>Download Whitepaper
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>We are happy to share more details on any of our validation studies with you. Please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a> to request additional information.</p>
                    <a class="btn btn-color-inherit btn-sm" href="{% page_url 'portal_common.contact' %}" target="_blank">
                        Contact
                    </a>
                </div>
            </div>