<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input id="cms_id_zipcode" name="zipcode" type="text" value="{{ user.contact_info.zipcode }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="specialty"></select></div>

<p><input name="source_description" type="hidden" value="" /><input name="cmpid" type="hidden" value="" /><input name="ao_campid" type="hidden" value="" /></p>

<p><input name="company" type="hidden" value="[not provided]" /></p>