<div id="team-blood-content" class="team-content active">
<div class="list-content row">
<div class="col-md-2">Tipos de Muestras</div>

<div class="col-md-10">Tipos de muestras que se aceptan:
<ul class="bullet-list">
	<li>Muestras de sangre entera.</li>
	<li>Muestras de sangre congeladas o parcialmente congeladas, aunque no se puede realizar análisis de deleción/duplicación para muestras de sangre congeladas o parcialmente congeladas en este momento.</li>
</ul>
No podemos aceptar:

<ul class="bullet-list">
	<li>Muestras de sangre hemolizada o coagulada.</li>
	<li>Muestras de pacientes que han sido sometidos a un trasplante de médula ósea.</li>
	<li>Muestras de pacientes que tienen malignidades hematológicas activas.</li>
</ul>

<p>Malignidad hematológica:</p>

<p style="margin-left: 28px;">Los resultados pueden verse alterados por muestras de sangre o saliva de pacientes con malignidad hematológica circulante en la sangre periférica. En estos casos, se sugiere una muestra que no sea derivada de sangre o saliva, como el ADNg de una biopsia de piel. Por favor, consulte la pestaña "ADNg" arriba para más detalles y haga clic <a href="https://support.invitae.com/hc/en-us/articles/115006902607-My-patient-has-a-hematologic-malignancy-What-are-the-limitations-with-testing-"><font color="#0000ff">aquí</font></a> para obtener más informacíon.</p>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volumen</div>

<div class="col-md-10">Requerimos un mínimo de 3 mililitros (ml) de sangre entera, independientemente de la cantidad de genes que se soliciten, para adultos o niños.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">La muestra debe enviarse en un tubo EDTA de tapa morada. Aceptamos K2EDTA y K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">El tubo debe estar etiquetado con la siguiente información:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Un identificador único adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento</li>
		<li>Número de registro médico</li>
		<li>Número IB, si lo coloca el médico que presenta la muestra</li>
		<li>ID de solicitud de estudio de Invitae (n.º de RQ)</li>
		<li>Número de seguro social u otro ID único</li>
	</ul>
	</li>
	<li>Fecha de recolección de la muestra</li>
</ul>
El nombre del paciente y el identificador único adicional escrito en el tubo deben coincidir con el nombre y el identificador proporcionados en el momento en que se hizo la solicitud de estudio.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento &amp; Estabilidad</div>

<div class="col-md-10">Recomendamos usar envío en 24 horas el mismo día de recolección de la muestra.
<ul class="bullet-list">
	<li>Si la muestra de sangre se almacena a temperatura ambiente, será viable por hasta 48 horas.</li>
	<li>Si la muestra de sangre se refrigera, será viable por hasta una semana.</li>
	<li>No congele la muestra de sangre si solicita análisis de deleción/duplicación. El análisis de deleción/duplicación no puede realizarse en muestras de sangre congeladas o parcialmente congeladas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentación</div>

<div class="col-md-10">Debe enviarse una copia impresa del formulario de solicitud en línea junto con la muestra. Podrá imprimir una copia del formulario de solicitud después de que haya completado el proceso de solicitud en línea.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envío</div>

<div class="col-md-10">Las muestras de sangre deben ser enviadas con el servicio de envío rápido de un día para el otro a temperatura ambiente. Se recomienda incluir packs fríos en climas cálidos para mantener la muestra entre 2 y 8 grados centígrados (entre 35,6 y 46,6 grados Fahrenheit). Las muestras de sangre congelada deben ser enviadas con el servicio de envío rápido de un día para el otro con packs fríos.<br>
<br>
Para ayudarle con la recolección y el envío de las muestras, puede solicitar un kit de recolección de muestras de sangre de Invitae sin costo alguno usando nuestro formulario en línea <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.<br>
<br>
Como otra alternativa, puede enviar la muestra en un recipiente a prueba de golpes a través de FedEx Priority Overnight (de acuerdo con la <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Guía para embalaje de muestras clínicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comuníquese</a> con el equipo de atención al cliente de Invitae para obtener el número de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de envío de la muestra a nuestro laboratorio en EE. UU.) Dirección de envío:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     1400 16th Street<br>
     San Francisco, CA 94103<br>
<br>
Invitae acepta paquetes de lunes a viernes. Le recomendamos que envíe su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el sábado. Invitae sigue el <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendario de servicios para días feriados de FedEx</a>.<br>
<br>
Si envía la muestra desde fuera de los EE. UU., la compañía de transporte requerirá tres copias de una factura comercial (ProForma). Asegúrese de incluir también un formulario de declaración de aduana.</div>
</div>
</div>

<div id="team-gdna-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Limitaciones de los ensayos</div>

<div class="col-md-10">En este momento, no llevamos a cabo pruebas de exoma en muestras post mortem.<br>
<br>
En este momento, no se garantiza la realización exitosa de análisis de deleción/duplicación para muestras de ADNg independientemente del origen del tejido. Se intentará realizar análisis de eliminación/duplicación para todas las muestras de ADNg; sin embargo, la tasa de éxito varía según la calidad de la muestra. Si requiere análisis de deleción/duplicación, proporcione una muestra de sangre entera.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Política de devolución de muestra y facturación</div>

<div class="col-md-10">Invitae realiza un análisis inicial de control de calidad (CC) en todas las muestras de ADNg que se reciben. Si su muestra de ADNg no pasa este paso de CC, nos comunicaremos con usted y con gusto le devolveremos su muestra o la desecharemos de forma segura sin costo alguno para usted.<br>
 <br>
En algún caso aislado, las muestras de ADNg que aprueban el CC inicial no logran producir resultados de secuenciación aceptables y no es posible entregar un informe de análisis. En estos casos:
<ul class="bullet-list">
	<li>Invitae repetirá la secuenciación una vez.</li>
	<li>Si un segundo intento no logra alcanzar nuestros estándares de calidad, leinformaremos al respecto y usted podrá elegir, sin costo adicional, enviar unanueva muestra de otro origen. La segunda muestra no debe ser otro ADNg delmismo origen de muestra o tubo que la primera.</li>
	<li>La muestra original se habrá consumido durante el análisis y no se puededevolver.</li>
	<li>Si no puede o no desea enviar una segunda muestra, no recibirá un informe deestudio y no se le cobrará por el análisis.</li>
</ul>
Si una muestra de ADNg produce resultados de secuenciación pero no produce resultados de deleción/duplicación:

<ul class="bullet-list">
	<li>Recibirá un informe de estudio completo sobre el análisis de secuenciación.</li>
	<li>Si desea repetir el estudio para análisis de deleción/duplicación usando una muestra de sangre entera, usted será responsable del costo completo de una segunda prueba con Invitae.</li>
	<li>La muestra original se habrá consumido durante el análisis y no se puede devolver.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de muestras que se aceptan</div>

<div class="col-md-10">Aceptamos ADNg purificado de sangre entera venosa periférica para las pruebas de panel o genes individuales (aunque no para pruebas de exoma).<br>
 <br>
También se acepta ADNg de las siguientes fuentes; sin embargo, es más probable que el ADNg aislado de estas fuentes no logre alcanzar los estándares de calidad para la secuenciación completa:
<ul class="bullet-list">
	<li>Sangre congelada</li>
	<li>Hisopado/raspado bucal</li>
	<li>Saliva</li>
	<li>Enjuague bucal</li>
	<li>Tejido de músculo o piel</li>
</ul>
No se acepta ADNg de las siguientes fuentes:

<ul class="bullet-list">
	<li>Muestra de vellosidades coriónicas</li>
	<li>Amniocitos</li>
	<li>Productos de concepción o aborto</li>
	<li>Tumores</li>
	<li>Pacientes que tienen una malignidad hematológica activa</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Cantidad y concentración</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>8 µg de ADN en Tris-EDTA (TE). Recomendamos PicoGreen para cuantificar la muestra de ADN. Tenga en cuenta que la muestra probablemente será completamente consumida durante el proceso de laboratorio.</li>
	<li>El ADN debe estar a una concentración mínima de 50 ng / μl.</li>
	<li>Cuando se envía el ADN a concentraciones más altas, el volumen mínimo debe ser de 75μl.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">Nuestro tipo de recipiente preferido es un tubo de microcentrifugación autónomo marca Fisher de 2 mililitros con tapa enroscable; sin embargo, aceptaremos ADNg en cualquier tubo de plástico estéril.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">El recipiente de ADNg debe estar etiquetado con la siguiente información:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Un identificador único adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento</li>
		<li>Número de registro médico</li>
		<li>Número de IB</li>
		<li>ID de solicitud de estudio de Invitae (n.º de RQ)</li>
		<li>Número de seguro social u otro ID único</li>
	</ul>
	</li>
	<li>Fecha de recolección de la muestra</li>
	<li>El nombre del paciente y el identificador único adicional escrito en el recipiente deben coincidir con el nombre y el identificador proporcionados en el momento en que se hizo la solicitud de estudio.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentación</div>

<div class="col-md-10">Use este <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_gDNA-form.pdf">formulario de muestra de ADNg</a> para documentar la información necesaria. Imprima una copia completada de este formulario e inclúyala con la muestra de ADNg.<br>
Para completar este formulario, necesitará la siguiente información:
<ul class="bullet-list">
	<li>Nombre completo del paciente</li>
	<li>Fecha de nacimiento del paciente</li>
	<li>Fecha de fallecimiento del paciente (si corresponde)</li>
	<li>Fuente de la muestra</li>
	<li>Fecha de recolección</li>
	<li>Método de extracción</li>
	<li>Fecha de extracción</li>
	<li>Concentración de ADNg</li>
	<li>Cantidad de ADNg</li>
	<li>Método de cuantificación</li>
	<li>Otras mediciones acerca del ADNg (por ej., 260/280, gel/datos de bioanalizador)</li>
	<li>Condiciones de almacenamiento anteriores y actuales</li>
</ul>
Debe enviarse una copia impresa del formulario de solicitud en línea junto con la muestra. Podrá imprimir una copia del formulario de solicitud después de que haya completado el proceso de solicitud en línea.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envío</div>

<div class="col-md-10">Las muestras de ADNg deben ser enviadas con el servicio de envío rápido de un día para el otro a temperatura ambiente. Se recomienda incluir packs fríos en climas cálidos para mantener la muestra entre 2 y 8 grados centígrados (entre 35,6 y 46,6 grados Fahrenheit). Las muestras de ADNg congelado deben ser enviadas con el servicio de envío rápido de un día para el otro con packs fríos.<br>
<br>
Envíe la muestra en un recipiente a prueba de golpes a través de FedEx Priority Overnight (de acuerdo con la <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Guía para embalaje de muestras clínicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comuníquese</a> con el equipo de atención al cliente de Invitae para obtener el número de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de envío de la muestra a nuestro laboratorio en EE. UU.) Dirección de envío:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     1400 16th Street<br>
     San Francisco, CA 94103<br>
<br>
Invitae acepta paquetes de lunes a viernes. Le recomendamos que envíe su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el sábado. Invitae sigue el <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendario de servicios para días feriados de FedEx</a>.<br>
<br>
Si envía la muestra desde fuera de los EE. UU., la compañía de transporte requerirá tres copias de una factura comercial (ProForma). Asegúrese de incluir también un formulario de declaración de aduana.</div>
</div>
</div>

<div id="team-postmortem-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Análisis post mortem</div>

<div class="col-md-10">Después de la muerte de un ser querido a causa de una presunta afección hereditaria, un análisis genético post mortem puede proporcionar información valiosa para los miembros de la familia. El análisis post mortem puede ayudar a confirmar la causa de muerte de la persona fallecida, así como también determinar si los miembros de la familia podrían beneficiarse realizándose un análisis genético para la misma afección.<br>
 <br>
El análisis genético post mortem implica la consideración de muchos factores importantes antes de evaluar las muestras genéticas de las personas fallecidas. A continuación se presenta información general acerca del proceso de evaluación de Invitae para análisis post mortem. Debido a la naturaleza delicada de este tipo de análisis y estas muestras, solicitamos a los médicos que se <a href="{% page_url 'portal_common.contact' %}">comuniquen con</a> nosotros antes de enviar una muestra post mortem.<br>
<br>
Por favor tenga en cuenta que, en este momento, no llevamos a cabo pruebas de exoma en muestras post mortem.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de muestras</div>

<div class="col-md-10">Aceptamos sangre entera en un tubo EDTA (tapa color lavanda). También aceptamos ADN genómico (ADNg) extraído en otros laboratorios. Consulte nuestra página de Requisitos de las muestras para obtener más información. Tenga en cuenta lo siguiente: No podemos aceptar muestras de células cultivadas o tejido congelado en este momento.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Calidad de las muestras</div>

<div class="col-md-10">Los resultados de los análisis genéticos se ven afectados por la edad y la calidad de la muestra. Si bien hacemos todos los esfuerzos posibles para generar resultados de estudio completos, es posible que esto no siempre pueda lograrse si una muestra es de mala calidad. Se notificará al médico que solicita el estudio si un análisis puede completarse solo de forma parcial o no completarse en su totalidad. Consulte nuestra página de Requisitos de las muestras para obtener más información.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento y envío de las muestras</div>

<div class="col-md-10">Invitae no puede almacenar ni mantener muestras en este momento. Alentamos la consideración de almacenar en bancos de ADN a través de otros establecimientos específicamente dedicados al almacenamiento de ADN a largo plazo.<br>
 <br>
Las muestras recibidas que no cumplan con los requisitos mínimos de Invitae para análisis posiblemente sean devueltas al remitente. Las muestras que cumplen con los requisitos mínimos comenzarán el proceso de análisis. Las muestras no se pueden mantener ni devolver en este momento, independientemente de si se ha completado el análisis.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Pago y facturación</div>

<div class="col-md-10">Las familias tienen la opción de pagar UUS $250 por el estudio cuando el análisis es solicitado en línea por un médico. Para esta opción, un miembro de la familia debe registrar al paciente fallecido a través del <a href="{% url 'patient.signin' %}">portal para pacientes</a> en línea de Invitae a fin de que pueda procesarse el pago. Este miembro de la familia deberá ser el pariente más próximo autorizado porque el portal mostrará los resultados del estudio, y estos pueden ser consultados solamente por personas autorizadas. Tenga en cuenta que el seguro por lo general no cubre los estudios post mortem, razón por la cual no podemos presentar reclamos a las aseguradoras por estudios realizados en pacientes fallecidos.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Presentación de los resultados</div>

<div class="col-md-10">Los resultados de los análisis genéticos se informan al médico que solicitó el estudio. El miembro de la familia que registró al paciente en el portal para pacientes de Invitae es el titular de la cuenta y también puede solicitar una copia de los resultados del estudio del paciente. Se negará el acceso si Invitae determina que el titular de la cuenta no está autorizado para recibir esta información. En dichos casos, la persona puede solicitar los resultados del estudio a través del médico que lo solicitó en primera instancia.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envío</div>

<div class="col-md-10">Requisitos de envío Consulte las pestañas de muestras de sangre o muestras de gDNA en esta página para conocer los requisitos de envío de estos tipos de muestras.</div>
</div>
</div>

<div id="team-saliva-content" class="team-content">
<div class="list-content row">
<div class="col-md-2">Tipos de muestras aceptadas</div>

<div class="col-md-10">OrageneTM Self-collection Kit (OG500/OGD500). Debe tener en cuenta que este kit requiere 2 mililitros de saliva.<br>
Para solicitar el OrageneTM Self-collection Kit, visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">No podremos aceptar:</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>Saliva en un recipiente distinto al OrageneTM Self-collection Kit (OG500/OGD500)</li>
	<li>Muestras obtenidas con hisopos bucales y enjuague bucal</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetado</div>

<div class="col-md-10">
<p>El tubo de recolección debe ser etiquetado con:</p>

<ul class="bullet-list">
	<li>El nombre completo del paciente</li>
	<li>Un identificador único adicional:
	<ul class="bullet-list">
		<li>Fecha de nacimiento (MM/DD/AAAA)</li>
		<li>Número de registro médico</li>
		<li>Número IB, si lo coloca el médico que presenta la muestra</li>
		<li>ID de la solicitud de prueba de Invitae (RQ#)</li>
		<li>Número de seguro social u otra identificación única</li>
	</ul>
	</li>
	<li>Fecha de recolección de la muestra</li>
	<li>El nombre del paciente y el identificador único adicional escritos en el tubo deben coincidir con el nombre y el identificador proporcionados cuando se colocó la orden de prueba.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Almacenamiento</div>

<div class="col-md-10">La muestra de saliva debe almacenarse a temperatura ambiente. Aunque no existen requisitos especiales en cuanto al tiempo, se recomienda enviar las muestras a Invitae inmediatamente después de la recolección.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentación</div>

<div class="col-md-10">Se debe presentar junto con la muestra una copia impresa del formulario de solicitud en línea. Podrá imprimir una copia del formulario de solicitud luego de haber completado el proceso de solicitud en línea.<br>
<br>
Se requiere documentación adicional para los envíos internacionales. Consulte la pestaña Requisitos de envío en la parte de arriba.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envío</div>

<div class="col-md-10">Además de usar el OrageneTM Self-collection Kit (OG500/OGD500), no existen otros requisitos especiales relacionados con la temperatura o la rapidez del envío de las muestras de saliva.<br>
<br>
Para ayudarle con la recolección y el envío de las muestras, puede solicitar un kit de recolección de muestras de saliva de Invitae sin costo alguno usando nuestro formulario en línea <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un kit</a>.<br>
<br>
Como otra alternativa, puede enviar la muestra en un recipiente a prueba de golpes a través de FedEx Priority Overnight (de acuerdo con la <a target="_blank" href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf">Guía para embalaje de muestras clínicas de FedEx</a>). <a href="{% page_url 'portal_common.contact' %}">Comuníquese</a> con el equipo de atención al cliente de Invitae para obtener el número de cuenta de FedEx. (Tenga en cuenta que nuestros precios no incluyen el costo de envío de la muestra a nuestro laboratorio en EE. UU.) Dirección de envío:<br>
     Attn: Client Services<br>
     Invitae Corporation<br>
     1400 16th Street<br>
     San Francisco, CA 94103<br>
<br>
Invitae acepta paquetes de lunes a viernes. Le recomendamos que envíe su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el sábado. Invitae sigue el <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendario de servicios para días feriados de FedEx</a>.<br>
<br>
Si envía la muestra desde fuera de los EE. UU., la compañía de transporte requerirá tres copias de una factura comercial (ProForma). Asegúrese de incluir también un formulario de declaración de aduana.</div>
</div>
</div>