<div class="row">
<div class="col-md-12">
<h3>Ordering</h3>

<p><strong>Easy online ordering</strong></p>

<p>Place your order online for more efficient order processing, faster report delivery, and access to additional online features. Setting up an account only takes a few minutes, and you can also browse and order directly from our online test catalog.</p>

<p><strong>An Invitae online account enables you to:&nbsp;</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Design and save custom orders for easy reordering.</li>
	<li>Securely share test results with patients and colleagues.</li>
	<li>Order on behalf of clinicians in your organization.</li>
	<li>Track order status in real time and keep a record of previous orders.</li>
	<li>Securely message Invitae staff and upload documents.</li>
	<li>View and download your test reports.</li>
</ul>
</div>

<div class="col-md-6">
<p></p>

<p><a class="btn btn-color-inherit btn-sm btn-left" href="{% url 'portal_common.signup' %}" target="_blank"><span class="icon icon-clipboard-check"></span>Set up an account</a></p>
<a class="btn btn-color-inherit btn-sm btn-left" href="{% page_url 'portal_common.test-catalog' %}" target="_blank"><span class="icon icon-categories"></span>View test catalog</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>You can also download paper order forms here:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0297/1/-/-/-/-/TRF902_Invitae_HereditaryCancer_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Hereditary cancer order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0236/1/-/-/-/-/TRF903_Invitae_HereditaryCancer_Simplified_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Hereditary cancer simplified order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904_Invitae_Cardiology_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Cardiology order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="https://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905_Invitae_Neurology_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Neurology order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="https://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906_Invitae_Pediatric_Genetics_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Pediatric genetics order form </a></div>

<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="https://marketing.invitae.com/acton/attachment/7098/f-04c0/1/-/-/-/-/TRF913_Invitae_Metabolic_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Metabolic disorders order form </a><br />
<a class="btn btn-color-transparent btn-lg" href="https://marketing.invitae.com/acton/attachment/7098/f-037d/1/-/-/-/-/TRF908_Invitae_Hematology_Dermatology_Immunology_Ophthalmology_Order_Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Dermatology, hematology, immunology, and<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ophthalmology order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="https://marketing.invitae.com/acton/attachment/7098/f-051e/1/-/-/-/-/TRF920_Invitae_FVT_VUS_OrderForm.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Family variant testing/ VUS resolution&nbsp;order form</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Patient informed consent form </a></div>
</div>

<div class="row">
<div class="col-md-12">
<p></p>

<div class="row">
<div class="col-md-12">
<p>Invitae continually updates its panels based on the most recent evidence. Please note that if an order is placed using an older version of these forms, Invitae reserves the right to upgrade any ordered panel(s) to the current version(s). To avoid confusion, please consider placing your order using our online test catalog.</p>

<p></p>
</div>
</div>
</div>
</div>
