<div class="row">
<div class="col-md-12">
<h3>Requisitos de Amostras e Remessas</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais são os requisitos da amostra?</h4>

<div class="expandable-content">
<p>O tipo de amostra preferencial da Invitae para o nosso ensaio de sequenciamento da próxima geração (SPG) são 3 mL de sangue total periférico em um tubo de EDTA com tampa roxa. Para obter os requisitos detalhados de amostras e remessas, visite a nossa página <a href="{% page_url 'portal_common.sample-requirements' %}">Requisitos de Amostras</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês aceitam amostras pré-natais?</h4>

<div class="expandable-content">
<p>No momento, não. Podemos testar os futuros pais quanto ao status de portador, mas não oferecemos testes pré-natais para as mães gestantes.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae fornece kits de coleta de amostras?</h4>

<div class="expandable-content">
<p>Sim, podemos lhe enviar kits de coleta de amostras gratuitamente. Eles são equipados com todos os materiais de remessa necessários. Visite nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicite um Kit</a> para saber mais.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês podem organizar uma coleta de sangue para o meu paciente?</h4>

<div class="expandable-content">
<p>Sim, a Invitae pode ajudar a agendar uma visita para retirada do sangue para o seu paciente em seu consultório ou na casa do seu paciente. Oferecemos cobertura nacional e o serviço é fornecido sem custo adicional. Visite nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais sobre o agendamento de uma visita para coleta de sangue.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita DNA genômico extraído em outros laboratórios?</h4>

<div class="expandable-content">
<p>Se você estiver interessado na análise do DNA genômico, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores genéticos. Os nossos consultores genéticos ficarão satisfeitos em discutir com você os benefícios e as limitações atuais no contexto do seu caso específico. </p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês aceitam amostras post-mortem?</h4>

<div class="expandable-content">
<p>Se você estiver interessado na análise post-mortem, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores genéticos. Um de nossos consultores genéticos ficará satisfeito em discutir os benefícios e as limitações atuais com você no contexto do seu caso específico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais documentos são exigidos com cada espécime?</h4>

<div class="expandable-content">
<p>Uma cópia impressa do formulário de requisição preenchido deve acompanhar cada amostra. Será solicitado que você imprima o formulário depois de concluir o processo de requisição on-line. Se você quiser que enviemos uma reivindicação de seguro em nome do seu paciente, você também precisará de uma carta de necessidade médica (CDNM) e uma cópia de frente e verso do cartão do seguro do paciente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como eu envio uma amostra para a Invitae?</h4>

<div class="expandable-content">
<p>Nossos kits vêm com uma etiqueta de remessa. Ou então, envie a amostra de sangue em um recipiente à prova de esmagamento via FedEx Priority Overnight para o seguinte endereço:</p>

<p>A/C de: Atendimento ao cliente<br>
Invitae Corporation<br>
475 Brannan Street, Suite 230<br>
San Francisco, CA, 94107</p>

<p><a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o número da conta FedEx da Invitae. Se você optar por usar o método de remessa da sua instituição, envie o número de rastreamento para <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>. Aceitamos entregas de segunda a sexta-feira, exceto feriados.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae paga pela remessa?</h4>

<div class="expandable-content">
<p>Sim. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o número da conta FedEx e fazer a remessa noturna da amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita entregas em finais de semana ou feriados?</h4>

<div class="expandable-content">
<p><strong>Entregas em finais de semana:</strong> Não. A Invitae aceita pacotes de segunda a sexta-feira. Recomendamos que você envie o seu pacote de forma que ele saia das suas instalações de segunda a quinta-feira. Não solicite a entrega aos sábados. Faça a remessa noturna da Federal Express, em conformidade com as orientações deles, usando o número da conta FedEx fornecido pela <a href="{% page_url 'portal_common.contact' %}">equipe de atendimento ao cliente da Invitae</a>.</p>

<p><strong>Entregas em feriados:</strong> A Invitae segue o <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendário de serviços em feriados da FedEx</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Com que rapidez após a coleta de sangue uma amostra precisa ser enviada à Invitae?</h4>

<div class="expandable-content">
<p>Recomendamos a remessa noturna da amostra no mesmo dia em que a amostra de sangue é coletada. Se armazenada em temperatura ambiente, a amostra de sangue é viável por até 48 horas e se refrigerada, por até uma semana. Não congele a amostra de sangue.</p>
</div>
</div>
</div>
</div>