<div class="row">
<div class="col-md-12">
<h3>Licenciamento</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae é certificada pelo Clinical Laboratory Improvement Amendments (CLIA)?</h4>

<div class="expandable-content">
<p>Sim. O nosso número de ID da CLIA é 05D2040778. Uma cópia da nossa licença pode ser baixada na página <a href="{% page_url 'portal_common.licensing' %}">Licenciamento</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae é credenciada pela College of American Pathologists (CAP)?</h4>

<div class="expandable-content">
<p>Sim. O nosso número de LAP da CAP é 8770489 e nosso AU-ID é 1703789. Uma cópia da nossa licença pode ser baixada na página <a href="{% page_url 'portal_common.licensing' %}">Licenciamento</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês aceitam amostras de todos os estados?</h4>

<div class="expandable-content">
<p>Atualmente, aceitamos amostras de todos os estados, exceto Nova York. Podemos conceder uma exceção se uma isenção de responsabilidade aprovada do Estado de Nova York for incluída com a amostra do paciente.</p>
</div>
</div>
</div>
</div>
