<div class="row">
<div class="col-md-12">
<h3>Faturamento e Seguros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual é o preço dos testes Invitae?</h4>

<div class="expandable-content">
<p>A missão da Invitae é trazer informações genéticas à prática clínica atual para melhorar a qualidade da assistência médica para bilhões de pessoas. Acreditamos em testes responsáveis com base em orientações médicas estabelecidas e nosso objetivo é ser completamente transparente em nossos preços para que os pacientes, médicos e pagadores saibam o custo do teste. A Invitae está introduzindo novos preços para os três segmentos de clientes que atende hoje:</p>

<ul class="bullet-list">
	<li>Para as instituições não contratadas e pagadores terceirizados <strong>para os quais a Invitae esteja fora da rede</strong>, o preço por área clínica é de <strong>US$ 1500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>Para <strong>as instituições e distribuidores com os quais temos contratos e para os pagadores da rede Invitae</strong>, o preço por área clínica é <strong>US$ 950</strong>.

	<ul class="bullet-list">
		<li>Para obter mais informações sobre os termos do contrato, <a href="{% page_url 'portal_common.contact' %}">entre em contato</a> com o Atendimento ao cliente.</li>
	</ul>
	</li>
	<li>Para os pacientes que optaram por pagar antecipadamente e cujo médico tenha solicitado o nosso teste genético on-line, o preço por área clínica <span style="font-size: 14px; line-height: 22.399999618530273px;">é </span>US$ 475.
	<ul class="bullet-list">
		<li>Essa opção está disponível apenas como pré-paga e não há envio da Invitae para o seguro.</li>
		<li>O paciente concorda em registrar-se on-line e configura as preferências de contato.</li>
		<li>Os programas de assistência ao paciente não estão disponíveis para a opção pré-paga.</li>
		<li>As solicitações pré-pagas do paciente devem ser feitas on-line, incluindo a requisição do médico.</li>
		<li>Para solicitações internacionais, a opção pré-paga do paciente <strong>não</strong> inclui a remessa.</li>
	</ul>
	</li>
</ul>

<p>É importante observar que para os preços pagos pelo paciente, exigimos que os pacientes passem por um profissional de saúde para solicitar nossos testes. Os profissionais de saúde são fundamentais para solicitar o teste certo para o paciente certo e para interpretar as informações genéticas. A Invitae acredita que os pacientes devem possuir e controlar suas informações genéticas, portanto não exigimos que eles forneçam seus dados. Permitimos que eles optem pelo não fornecimento e mesmo assim recebam o teste. Embora as informações genéticas sejam mais valiosas quando compartilhadas, os pacientes são os proprietários de seus dados e devem decidir o que querem fazer com eles.</p>

<p class="endnote"><sup>*</sup>Preco por área clínica: Lista de preços de U$ 1500, com desconto a U$ 950 para instituições e distribuidores sob contrato com Invitae, e pagadores que contratem Invitae baixo certos termos. Pago direto pelo pacientes com um preço de U$ 475 para pedidos realizados on-line e conectatos a uma conta de um paciente. Os preçosfora dos EUA não incluem os valores de envio. Por favor, <a target="_blank" href="{% page_url 'portal_common.contact' %}">contate-se com</a> nosso Atendimento ao Cliente para mais informações.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais são as opções de pagamento disponíveis?</h4>

<div class="expandable-content">
<p>Oferecemos as seguintes opções de faturamento. Para saber mais sobre cada uma delas, visite nossa página <a href="{% page_url 'portal_common.billing' %}">Informações de Pagamento</a>.</p>

<ul class="bullet-list">
	<li>Pagamento do paciente: O paciente paga antecipadamente com cartão de crédito ou débito (aceitamos Visa, Mastercard, American Express e JCB)</li>
	<li>Faturamento institucional</li>
	<li>Operadoras terceirizadas de seguros (consulte os detalhes abaixo)</li>
	<li>A cobertura da Medicare estará disponível quando os critérios específicos forem cumpridos</li>
	<li>Para aqueles que se qualificarem, temos um Programa de acesso do paciente (PAP) para reduzir os custos desembolsados pelo paciente. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter mais informações.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é necessário para a Invitae cobrar do seguro?</h4>

<div class="expandable-content">
<p>Esteja preparado para fornecer as seguintes informações com a solicitação:</p>

<ul class="bullet-list">
	<li>Nome e sobrenome do paciente, número de telefone e endereço postal</li>
	<li>Uma cópia (frente e verso) do cartão de seguro do paciente</li>
	<li>Códigos ICD10 relevantes</li>
	<li>Carta de necessidade médica</li>
</ul>

<p>Essas informações podem ser inseridas durante a requisição, escolhendo o faturamento de terceiros como forma de pagamento.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês oferecem alguma assistência financeira?</h4>

<div class="expandable-content">
<p>Além do plano de pagamento, poderemos oferecer assistência se o seu paciente cumprir determinados critérios financeiros. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter mais informações ou se quiser preencher uma inscrição.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual é o número NPI da Invitae?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual é o código CPT do teste que estou solicitando?</h4>

<div class="expandable-content">
<p>Se você estiver solicitando um teste que inclui BRCA1 ou BRCA2, o código CPT será 81211. Para todos os outros testes, o código CPT para ser usado é 81479 – procedimento de patologia molecular não listado.</p>
</div>
</div>
</div>
</div>
