<div class="row">
<div class="col-md-12">
<h3>Conta do Portal</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que uma conta Invitae me permite fazer?</h4>

<div class="expandable-content">
<p>Com uma conta Invitae você poderá:</p>

<ul class="bullet-list">
	<li>Navegar pelo nosso catálogo de testes on-line para ver os genes e afecções de interesse e preencher sua solicitação on-line.</li>
	<li>Projetar e salvar suas próprias solicitações personalizadas.</li>
	<li>Carregar rapidamente documentos como os do seguro, expedientes médicos, histórico familiar e os resultados dos testes prévios.</li>
	<li>Rastrear o status da sua solicitação em tempo real.</li>
	<li>Comunicar-se com o pessoal da Invitae e carregar documentos através do nosso sistema de mensagens seguras.</li>
	<li>Visualizar e baixar o relatório final.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Para que o meu endereço de e-mail é usado?</h4>

<div class="expandable-content">
<p>O seu endereço de e-mail serve como o nome de usuário para a sua conta Invitae. Quaisquer notificações referentes à requisição que você enviou irão para esse endereço de e-mail, inclusive quando o relatório estiver pronto ou quando você receber uma mensagem segura de um membro da equipe Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é Histórico de solicitações?</h4>

<div class="expandable-content">
<p>A página Histórico de solicitações é exibida após o login. O Histórico de solicitações mostra as suas requisições prévias e atuais e os detalhes. Você pode clicar em qualquer número RQ para obter mais informações sobre a requisição. Você também pode compartilhar os resultados e visualizar ou enviar mensagens seguras. Para fazer uma solicitação, comece vendo o nosso <a href="{% page_url 'portal_common.test-catalog' %}">Catálogo de Testes</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Posso compartilhar o rastreamento e os resultados?</h4>

<div class="expandable-content">
<p><strong>Com os pacientes:</strong> se você inserir o endereço de e-mail do paciente, será solicitado que ele crie uma conta para rastrear o status da solicitação. Se você clicar em “Liberar resultados” na página Histórico de solicitações, o paciente também poderá visualizar o seu relatório quando estiver pronto.</p>

<p><strong>Com os colegas:</strong> você pode optar por compartilhar uma requisição com seus colegas inserindo os endereços de e-mail deles na guia Compartilhamento como parte do fluxo de trabalho da solicitação ou através da página Histórico de solicitações depois que uma solicitação é enviada. Será solicitado que cada colega crie uma conta para ter acesso compartilhado à requisição.</p>
</div>
</div>
</div>
</div>