<div class="row">
<div class="col-md-12">
<h3>Requisitos de Amostras e Remessas</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais são os requisitos da amostra?</h4>

<div class="expandable-content">
<p>O tipo de amostra de preferência da Invitae para ensaios de sequenciamento de ùltima geração (NGS) consiste em 3 ml de sangue total venoso periférico em um tubo de EDTA de tampa roxa. Também aceitamos amostras de saliva, além de DNAg purificado de sangue total venoso periférico. Para conhecer os requisitos de amostras e de envio, acesse nossa página de <a href="{% page_url 'portal_common.sample-requirements' %}">Requisitos de Amostras</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês aceitam amostras pré-natais?</h4>

<div class="expandable-content">
<p>No momento, não. Podemos testar os futuros pais quanto ao status de portador, mas não oferecemos testes pré-natais para as mães gestantes.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae fornece kits de coleta de amostras?</h4>

<div class="expandable-content">
<p>Sim, podemos lhe enviar kits de coleta de amostras gratuitamente. Eles são equipados com todos os materiais de remessa necessários. Visite nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicite um Kit</a> para saber mais.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês podem organizar uma coleta de sangue para o meu paciente?</h4>

<div class="expandable-content">
<p>Sim, a Invitae pode ajudar a agendar uma visita para retirada do sangue para o seu paciente em seu consultório ou na casa do seu paciente. Oferecemos cobertura nacional e o serviço é fornecido sem custo adicional. Visite nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais sobre o agendamento de uma visita para coleta de sangue.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita DNA genômico extraído em outros laboratórios?</h4>

<div class="expandable-content">
<p>Se você estiver interessado na análise do DNA genômico, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores genéticos. Os nossos consultores genéticos ficarão satisfeitos em discutir com você os benefícios e as limitações atuais no contexto do seu caso específico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Vocês aceitam amostras post-mortem?</h4>

<div class="expandable-content">
<p>Se você estiver interessado na análise post-mortem, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores genéticos. Um de nossos consultores genéticos ficará satisfeito em discutir os benefícios e as limitações atuais com você no contexto do seu caso específico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que documentação é necessária para cada amostra?</h4>

<div class="expandable-content">
<p>Uma cópia impressa do formulário de requisição preenchido deve acompanhar cada amostra. Você pode fazer o download e imprimir os formulários de requisição depois de preencher o processo de requisição on-line. Se o faturamento à Invitae será através de um provedor de seguros nos EUA, solicitamos as informações para seguro ou uma cópia frente e verso do cartão de seguro do paciente. Uma Carta de necessidade médica (LOMN) também seria útil, mas não é obrigatória. Se o paciente tiver Medicare, solicitamos o formulário de Critérios do Medicare da Invitae, além do formulário de consentimento do paciente, que deverá estar assinado até a data da coleta de sangue. Se o paciente não atender aos critérios do Medicare da Invitae para testes, também será necessária uma Carta de necessidade médica.</p>

<p>Os envios internacionais têm exigências adicionais. Consultea página de Requisitos de amostras para obter mais informações.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como eu envio uma amostra para a Invitae?</h4>

<div class="expandable-content">
<p>Nossos kits vêm com uma etiqueta de remessa. Ou então, envie a amostra de sangue em um recipiente à prova de esmagamento via FedEx Priority Overnight para o seguinte endereço:</p>

<p>A/C de: Atendimento ao cliente<br>
Invitae Corporation<br>
475 Brannan Street, Suite 230<br>
San Francisco, CA, 94107</p>

<p><a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o número da conta FedEx da Invitae. Se você optar por usar o método de remessa da sua instituição, envie o número de rastreamento para <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>. Aceitamos entregas de segunda a sexta-feira, exceto feriados.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae paga pela remessa?</h4>

<div class="expandable-content">
<p>Sim. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o número da conta FedEx e fazer a remessa noturna da amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita entregas em finais de semana ou feriados?</h4>

<div class="expandable-content">
<p><strong>Entregas em finais de semana:</strong> Não. A Invitae aceita pacotes de segunda a sexta-feira. Recomendamos que você envie o seu pacote de forma que ele saia das suas instalações de segunda a quinta-feira. Não solicite a entrega aos sábados. Faça a remessa noturna da Federal Express, em conformidade com as orientações deles, usando o número da conta FedEx fornecido pela <a href="{% page_url 'portal_common.contact' %}">equipe de atendimento ao cliente da Invitae</a>.</p>

<p><strong>Entregas em feriados:</strong> A Invitae segue o <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendário de serviços em feriados da FedEx</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Com que rapidez após a coleta de sangue uma amostra precisa ser enviada à Invitae?</h4>

<div class="expandable-content">
<p>Recomendamos a remessa noturna da amostra no mesmo dia em que a amostra de sangue é coletada. Se armazenada em temperatura ambiente, a amostra de sangue é viável por até 48 horas e se refrigerada, por até uma semana. Não congele a amostra de sangue.</p>
</div>
</div>
</div>
</div>
