<div class="row">
<div class="col-md-12">
<h3>Solicitação de Testes Genéticos</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que a Invitae testa?</h4>

<div class="expandable-content">
<p>A Invitae oferece o sequenciamento gênico completo e a análise de deleção/duplicação. Você pode solicitar qualquer combinação entre genes, doenças e painéis pelo mesmo preço<sup>*</sup>. Para visualizar o catálogo de testes completo, acesse a nossa página <a href="{% page_url 'portal_common.test-catalog' %}">Catálogo de Testes</a>.</p>

<p class="endnote"><sup>*</sup>Preco por indicação: Lista de preços de U$ 1500, com desconto a U$ 950 para instituições e distribuidores sob contrato com Invitae, e pagadores que contratem Invitae baixo certos termos. Pago direto pelo pacientes com um preço de U$ 475 para pedidos realizados on-line e conectatos a uma conta de um paciente. Os preçosfora dos EUA não incluem os valores de envio. Por favor, <a target="_blank" href="{% page_url 'portal_common.contact' %}">contate-se com</a> nosso Atendimento ao Cliente para mais informações.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual metodologia de sequenciamento é usada?</h4>

<div class="expandable-content">
<p>A Invitae realiza o sequenciamento gênico completo e a análise de deleção/duplicação usando a tecnologia da próxima geração. Para obter mais informações sobre o nosso ensaio, visite a nossa página <a href="{% page_url 'portal_common.assay' %}">Ensaio</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece a análise de deleção/duplicação?</h4>

<div class="expandable-content">
<p>Sim, o ensaio da Invitae detecta a maioria dos eventos de deleção/duplicação abrangendo um único éxon ou mais. No entanto, em alguns casos, os genes e éxons específicos são excluídos da análise. Consulte a nossa <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf">Lista de Genes</a> para obter mais detalhes.</p>

<p>​Nosso algoritmo de detecção de número de cópias pode identificar também grandes eventos de exclusão/duplicação que incluem e se estendem além de um gene alvo, embora as fronteiras desses eventos não podem ser determinadas além do gene mesmo. A esse respeito, o exame da Inviate não fornece uma análise citogenética para grandes anomalias cromossômicas ou mudancas sem alteração no número de cópias, como translocações recíprocas, dissomias uniparentais ou inversões.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece os testes de BRCA?</h4>

<div class="expandable-content">
<p>Sim, oferecemos o sequenciamento gênico completo e a análise de deleção/duplicação de BRCA1 e BRCA2. Sem nenhum custo adicional*, você pode atualizar para um dos nossos painéis mais amplos para câncer hereditário, que incluem outros genes para câncer hereditário. Para saber mais sobre o nosso conjunto de opções de testes de BRCA, visite a nossa página <a href="{% page_url 'portal_common.brca-testing' %}">Testes de BRCA</a>.</p>

<p class="endnote"><sup>*</sup>Preço por condição clínica: Preço de lista de $1500 dólares, com desconto a $950 dólares para instituições e distribuidores sob contrato com Invitae e para provedores em rede. O preço para pacientes com pago à vista é de $450 dólares para pedidos realizados on-line e conectados a uma conta de um paciente. Os preços para fora dos EUA não incluem as taxas de envio. Por favor, <a target="_blank" href="{% page_url 'portal_common.contact' %}">contate-se com</a> nosso Atendimento ao Cliente para mais informações.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece testes de acompanhamento da variante familiar?</h4>

<div class="expandable-content">
<p>Sim. Se o familiar original foi testado pela Invitae, os testes da variante familiar estão disponíveis para os membros elegíveis da família por apenas US$ 200 por gene, para cada membro da família. Visite nossa página <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Testes da Variante Familiar</a> para saber mais.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Posso solicitar testes adicionais (repetição da requisição) para uma amostra do paciente que foi previamente testada pela Invitae?</h4>

<div class="expandable-content">
<p>Sim. Se o seu paciente receber um resultado negativo ou inconclusivo em um teste da Invitae, você poderá testar mais genes relacionados à indicação original do teste sem nenhum custo adicional (apenas os genes disponíveis no momento da solicitação original são elegíveis). A Invitae oferece uma (1) repetição da requisição sem custo adicional, no prazo de 90 dias a contar da data do lançamento do relatório original. Além de 90 dias após a data de lançamento do relatório original, serão cobrados do paciente US$ 475 pelas repetições de requisições relacionadas à mesma indicação clínica (apenas genes disponíveis no momento da solicitação original são elegíveis). Para saber mais sobre esse programa, visite a nossa página <a target="_blank" href="{% page_url 'portal_common.re-requisition' %}">Repetição da Requisição</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como enviar uma solicitação?</h4>

<div class="expandable-content">
<p>Faça a sua solicitação on-line para um processamento mais eficiente, uma entrega mais rápida do relatório e acesso a recursos on-line adicionais. A configuração de uma conta leva apenas alguns minutos e você também pode navegar e solicitar diretamente do nosso catálogo on-line de testes. Você também pode fazer uma solicitação em papel.</p>

<p>Para saber mais sobre como configurar uma conta e fazer uma solicitação, visite nossa página <a href="{% page_url 'portal_common.ordering' %}">Como Fazer uma Solicitação</a> para obter instruções mais detalhadas e assistir aos nossos vídeos instrutivos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece os testes de um único local?</h4>

<div class="expandable-content">
<p>Sim. Embora a Invitae não ofereça testes de um único local propriamente ditos, oferecemos os testes da variante familiar e a resolução da variante de significado indeterminado (VSI). Esses dois programas envolvem a análise completa do gene em que a variante do membro original da família foi identificada. O relatório incluirá o status da variante familiar bem como de quaisquer outras variantes patogênicas ou provavelmente patogênicas identificadas nesse gene. Visite nossas páginas <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Testes da Variante Familiar</a> and <a target="_blank" href="{% page_url 'portal_common.vus-resolution' %}">Resolução da VSI</a> para obter detalhes de cada um desses programas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Posso preencher uma requisição em nome de um médico da minha clínica?</h4>

<div class="expandable-content">
<p>Sim. Lembre-se: quem fizer a solicitação será o principal ponto de contato para atualizações de status e divulgação relacionadas à requisição. Se você estiver solicitando como representante clínico, insira os detalhes do médico solicitante em “Equipe clínica” e certifique-se de inserir o endereço de e-mail do médico se ele quiser receber uma cópia do relatório.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso fazer alterações em uma requisição que já foi enviada?</h4>

<div class="expandable-content">
<p>Se você quiser fazer alterações em uma requisição concluída, <a href="{% page_url 'portal_common.contact' %}">entre em contato</a> com o Atendimento ao cliente e nós o ajudaremos.</p>
</div>
</div>
</div>
</div>