<div class="row">
<div class="col-md-12">
<h3>Resultados</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual é o tempo de resposta?</h4>

<div class="expandable-content">
<p>Em média, 3 semanas a partir do momento em que recebermos a amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A solicitação de um número menor de genes resulta em um tempo de resposta mais curto?</h4>

<div class="expandable-content">
<p>Não, o nosso tempo médio de resposta para todos os testes é de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece a entrega acelerada de relatórios?</h4>

<div class="expandable-content">
<p>Não, o nosso tempo médio de resposta para todos os testes é de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como receberei o relatório?</h4>

<div class="expandable-content">
<p>Quando o relatório estiver pronto, você poderá visualizá-lo e baixá-lo diretamente de sua conta Invitae. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente se quiser enviar o relatório por fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que está incluído no relatório clínico Invitae?</h4>

<div class="expandable-content">
<p>Os resultados e suas interpretações clínicas são apresentados na forma de um relatório clínico fácil de entender, com total transparência sobre as características de desempenho para cada afecção ou gene. Um relatório de amostra pode ser encontrado na página <a href="{% page_url 'portal_common.order-forms' %}">Formulários</a> do nosso site.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como a Invitae classifica as variantes genéticas?</h4>

<div class="expandable-content">
<p>A equipe Invitae de cientistas, consultores genéticos e médicos geneticistas trabalha para fornecer classificações rigorosas e de alta qualidade das variantes. O nosso método de classificação da variante segue rigorosamente as recomendações da American College of Medical Genetics (ACMG). Para saber mais, visite a nossa página <a href="{% page_url 'portal_common.variant-classification' %}">Classificação da Variante</a>.</p>
</div>
</div>
</div>
</div>
