<div class="section-overlay"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <h1 class="landing-section-header color-white">Genetic testing, helping you find answers</h1>
                <p class="landing-section-subhead color-white">Transforming the way rare diseases are diagnosed</p>
                <a class="btn btn-lg responsive-button" href="{% url 'portal_common.signup' %}">GET STARTED</a>
            </div>
        </div>
        <div class="nav-scrollspy-link landing-scrollspy-link">
            <a data-cke-survive="true" href="#rd-simplicity" class="icon-chevron-bracket-down" data-cke-processor="off"></a>
        </div>