<div class="row">
<div class="col-md-12">
<h3>Amplie sua pesquisa.</h3>

<p>O serviço de nova requisição da Invitae é oferecido sem qualquer custo adicional e fornece a flexibilidade de que você precisa para solicitar os genes certos, no ritmo certo.</p>

<p>Dependendo do histórico clínico e familiar do paciente, pode ser apropriado começar com um teste genético menor e recorrer a um painel mais amplo se os resultados iniciais forem negativos ou inconclusivos. V<span style="font-family: inherit; font-style: inherit; font-variant: inherit; line-height: 1.5em;">ocê poderá testar mais genes</span><sup style="font-family: inherit; font-style: inherit; font-variant: inherit;">*</sup><span style="font-family: inherit; font-style: inherit; font-variant: inherit; line-height: 1.5em;"> relacionados com a área clínica original do teste, sem qualquer custo adicional.</span></p>

<ul class="bullet-list">
	<li>Nenhuma nova amostra é necessária<sup>**</sup></li>
	<li>Nenhum custo adicional pelo relatório do novo teste</li>
	<li>Tempo médio de retorno de três semanas para os novos resultados</li>
</ul>

<p class="endnote"><sup>*</sup>Aplica-se apenas aos genes disponíveis no momento da solicitação original.<br>
<sup>**</sup>Se um resultado positivo for encontrado na nova requisição, uma nova amostra poderá ser necessária para testes de confirmação.</p>

<h4><strong>Quem é elegível?</strong></h4>

<p>Um caso é elegível para uma (1) nova requisição, sem custo adicional, se:</p>

<ul class="bullet-list">
	<li>A solicitação da nova requisição for efetuada em até 90 dias após a liberação do relatório original</li>
	<li>Os genes adicionados forem relacionados à indicação original do paciente para o teste</li>
</ul>

<p>Além de 90 dias após a data de liberação do relatório original, serão cobrados US$ 475 ao seu paciente pelas novas requisições relacionadas à mesma área clínica (apenas genes disponíveis no momento da solicitação original são elegíveis).</p>

<h4><strong>Como fazer uma nova requisição?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>Para usar nossa ferramenta automatizada de nova requisição:</p>

<ul class="bullet-list">
	<li>Faça o login na sua conta e veja a sua página de histórico de solicitações.</li>
	<li>Selecione a solicitação para a qual você gostaria de fazer uma nova requisição.</li>
	<li>Clique no botão "Exibir opções" na seção de nova requisição da página Estado da Requisição.</li>
	<li>Use a ferramenta de nova requisição para selecionar genes adicionais, painéis ou distúrbios para o seu paciente.</li>
</ul>

<p>Você também pode entrar em contato com o atendimento ao cliente para obter mais informações (não inclua registros médicos ou informações médicas na sua pergunta inicial):</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
</ul>

<h4><strong>E se eu quiser fazer uma solicitação relacionada a uma área clínica diferente para o teste?</strong></h4>

<p>Você pode fazer a qualquer momento uma nova requisição de genes adicionais relacionados a outras área clínica para o teste. Essas solicitações serão cobradas separadamente como uma nova solicitação e também podem exigir uma nova amostra, dependendo da área clínica da nova indicação.</p>
</div>
</div>
