<script src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js" type="text/javascript"></script><script type="text/javascript">
   Recaptcha.focus_response_field = function(){return false;};
</script>
<div class="row">
<div class="col-md-12">
<h3>Sample collection kits, delivered to you.</h3>

<p>To make the testing process as quick as simple as possible, Invitae can send you kits complete with all the materials needed to collect the sample. For customers in the United States, our kits come with a return shipping label included so you can ship the kits back to us at no cost.</p>

<p>We’ll even auto-replenish your supply of collection kits so you're never left looking for the supplies you need. <a href="{% page_url 'portal_common.contact' %}">Contact</a> client services to learn more.</p>
</div>
</div>

<div class="row">
<div id="submission-success">Your Kit Request has been sent.</div>

<div id="kit-form-container" class="col-md-12">
<form accept-charset="UTF-8" enctype="multipart/form-data" id="request-kit-form" action="{% url 'portal_common.request-kit-subscriber' %}" method="post">
<div style="margin:0" class="form-wrapper">
<div><input value="{{ user_country_value }}" type="hidden" name="request-kit-hidden-country" id="request-kit-hidden-country"></div>

<div><input value="{{ user_state_value }}" type="hidden" name="request-kit-hidden-state" id="request-kit-hidden-state"></div>
{% csrf_token %}

<div class="request-kit-info-wrapper">
<div class="contact-fields">
<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Blood kits</label> {{ form.number_kits }}</div>

<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Saliva kits</label> {{ form.number_saliva_kits }}</div>

<div class="request-kit-field-wrapper id_kit-first_name required {% if form.first_name.errors %}error{% endif %}"><label for="id_kit-first_name">First name</label> <input value="{{form.first_name.value|default_if_none:''}}" type="text" name="kit-first_name" id="id_kit-first_name"></div>

<div class="request-kit-field-wrapper id_kit-last_name required {% if form.last_name.errors %}error{% endif %}"><label for="id_kit-last_name">Last name</label> <input value="{{form.last_name.value|default_if_none:''}}" type="text" name="kit-last_name" id="id_kit-last_name"></div>

<div class="request-kit-field-wrapper id_kit-organization {% if form.organization.errors %}error{% endif %}"><label for="id_kit-organization">Organization</label> <input value="{{form.organization.value|default_if_none:''}}" type="text" name="kit-organization" id="id_kit-organization"></div>

<div class="request-kit-field-wrapper id_kit-persona required {% if form.persona.errors %}error{% endif %}"><label for="id_kit-persona">I am a:</label> {{ form.persona }}</div>

<div class="request-kit-field-wrapper id_kit-country required"><label for="id_kit-country">Country</label> <select data-states-selector="#id_kit-state" id="id_kit-country" data-country="" data-long-value="true" data-country-value="#request-kit-hidden-country" name="kit-country" class="styled-select__select"></select></div>

<div class="request-kit-field-wrapper id_kit-state"><label for="id_kit-state">State/Province</label> <select data-state-value-without-country="true" data-state-value="#request-kit-hidden-state" class="styled-select__select" name="kit-state" id="id_kit-state"></select></div>

<div class="request-kit-field-wrapper id_kit-city required {% if form.city.errors %}error{% endif %}"><label for="id_kit-city">City</label> <input value="{{form.city.value|default_if_none:''}}" type="text" name="kit-city" id="id_kit-city"></div>

<div class="request-kit-field-wrapper id_kit-zipcode required {% if form.zipcode.errors %}error{% endif %}"><label for="id_kit-zipcode">Zip code</label> <input value="{{form.zipcode.value|default_if_none:''}}" type="text" name="kit-zipcode" id="id_kit-zipcode"></div>

<div class="request-kit-field-wrapper id_kit-address1 required {% if form.address1.errors %}error{% endif %}"><label for="id_kit-address1">Address 1</label> <input value="{{form.address1.value|default_if_none:''}}" type="text" name="kit-address1" id="id_kit-address1"></div>

<div class="request-kit-field-wrapper id_kit-address2 {% if form.address2.errors %}error{% endif %}"><label for="id_kit-address2">Address 2</label> <input value="{{form.address2.value|default_if_none:''}}" type="text" name="kit-address2" id="id_kit-address2"></div>

<div class="request-kit-field-wrapper id_kit-phone required {% if form.phone.errors %}error{% endif %}"><label for="id_kit-phone">Work phone</label> <input value="{{form.phone.value|default_if_none:''}}" type="text" maxlength="30" id="id_kit-phone" name="kit-phone"></div>

<div class="request-kit-field-wrapper id_kit-cell_phone required {% if form.cell_phone.errors %}error{% endif %}"><label for="id_kit-cell_phone">Mobile phone</label> <input value="{{form.cell_phone.value|default_if_none:''}}" type="text" maxlength="30" id="id_kit-cell_phone" name="kit-cell_phone"></div>

<div class="request-kit-field-wrapper id_kit-email required {% if form.email.errors %}error{% endif %}"><label for="id_kit-email">Email</label> <input value="{{form.email.value|default_if_none:''}}" type="text" maxlength="77" id="id_kit-email" name="kit-email"></div>

<div class="request-kit-field-wrapper id_kit-specialty required {% if form.specialty.errors %}error{% endif %}"><label for="id_kit-specialty">Medical specialty:</label> {{ form.specialty }}</div>

<div class="request-kit-field-wrapper id_kit-captcha required {% if form.captcha.errors %}error{% endif %}"><label for="id_kit-captcha">Captcha:</label> {{ form.captcha }}</div>
</div>

<div style="clear:both;"></div>
</div>
<!-- .request-kit-info-wrapper --></div>
<!-- .form-wrapper --><input value="{{ from_page }}" type="hidden" name="from_page"> <input value="clinical@invitae.com" type="hidden" name="alert-address"><input type="hidden" name="cmpid" id="campaignId"><input type="hidden" name="ao_campid" id="ao_campid"></form>

<div class="submit-container"><button type="button" id="submit-request-kit" class="btn btn-md btn-color-inherit">Submit Kit Request</button></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>Blood draw services in the US and Canada.</h3>

<p>Let us come to you or your patient. We can schedule a blood draw appointment at your office or at your patient's home. This service is offered in the US and Canada at no additional charge.</p>

<p>To request a blood draw service:</p>

<ul class="bullet-list">
	<li>Contact Client Services to schedule your appointment, appointments must be scheduled at least three days in advance.</li>
	<li>We will ship a collection kit to your office or to your patient's home with all the necessary supplies and paperwork to collect the sample.</li>
	<li>Your phlebotomist will arrive at your appointment and collect your sample using the materials from our kit.</li>
</ul>

<p>To make a blood draw appointment, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
<br style="clear:left;">
<a class="btn btn-color-inherit btn-md" href="{% page_url 'portal_common.contact' %}">Contact</a></div>
</div>
