<div class="row">
<div class="col-md-12">
<h3>La opci&oacute;n correcta para su paciente.</h3>

<p>Invitae hace f&aacute;cil y asequible solicitar para su paciente los estudios de la enfermedad de CMT. Ya sea que seleccione el panel de enfermedad de CMT completo o un subtipo espec&iacute;fico, es el mismo precio<sup>*</sup> y tiempo de entrega de tres semanas promedio desde la recepci&oacute;n de la muestra hasta la obtenci&oacute;n de los resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0011' %}"><span class="icon icon-angle-right"></span>Enfermedad de Charcot-Marie-Tooth, panel completo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0011' %}">ver prueba</a>

<p>Un panel multigenes que incluye CMT tipo 1, CMT tipo 2, CMT dominante de rango intermedio, CMT tipo 4 y CMT tipo X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0012' %}"><span class="icon icon-angle-right"></span>CMT, autos&oacute;mica dominante</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0012' %}">ver prueba</a>

<p>El estudio incluye los subtipos de enfermedad de CMT que tienen un patr&oacute;n autos&oacute;mico dominante de herencia.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0016' %}"><span class="icon icon-angle-right"></span>CMT, tipo 1</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0016' %}">ver prueba</a>

<p>La enfermedad de CMT tipo 1 es una forma desmielinizante de CMT con un patr&oacute;n autos&oacute;mico dominante de herencia</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0103' %}"><span class="icon icon-angle-right"></span>CMT, tipo 2</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0103' %}">ver prueba</a>

<p>La enfermedad de CMT tipo 2 es una forma ax&oacute;nica de CMT con un patr&oacute;n predominantemente autos&oacute;mico dominante de herencia.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0105' %}"><span class="icon icon-angle-right"></span>CMT, dominante de rango intermedio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0105' %}">ver prueba</a>

<p>La enfermedad de CMT dominante de rango intermedio presenta defectos ax&oacute;nicos y desmielinizantes y se hereda en un patr&oacute;n autos&oacute;mico dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0013' %}"><span class="icon icon-angle-right"></span>CMT, autos&oacute;mica recesiva</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0013' %}">ver prueba</a>

<p>La prueba incluye los subtipos de enfermedad de CMT que tienen un patr&oacute;n recesivo autos&oacute;mico de herencia.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0106' %}"><span class="icon icon-angle-right"></span>CMT, tipo 4</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0106' %}">ver prueba</a>

<p>La enfermedad de CMT tipo 4 es principalmente desmielinizante, aunque un subconjunto de casos son ax&oacute;nicos. Todas las formas de enfermedad de CMT tipo 4 son autos&oacute;micas recesivas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0014' %}"><span class="icon icon-angle-right"></span>CMT, vinculada a X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0014' %}">ver prueba</a>

<p>La prueba incluye los subtipos de enfermedad de CMT que tienen un patr&oacute;n de herencia vinculado a X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0104' %}"><span class="icon icon-angle-right"></span>CMT, tipo X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0104' %}">ver prueba</a>

<p>La enfermedad de CMT tipo X tiene una presentaci&oacute;n intermedia con defectos desmielinizantes y ax&oacute;nicos. Se hereda en un patr&oacute;n vinculado a X.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cmt-testing-figure">
<div class="content">&nbsp;</div>
</div>
</div>
</div>