<div class="row">
<div class="col-md-12">
<h3>¿Tiene preguntas y comentarios? Háganos saber.</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<h4>Formulario de Contacto en Línea</h4>

<form accept-charset="UTF-8" enctype="multipart/form-data" id="form_0020" action="http://marketing.invitae.com/acton/forms/userSubmit.jsp" method="post"><input type="hidden" name="cmpid" id="campaignId"><input value="7098" type="hidden" name="ao_a"> <input value="0020" type="hidden" name="ao_f"> <input value="0020:d-0001" type="hidden" name="ao_d"> <input value="0" type="hidden" name="ao_p" id="ao_p"> <input value="" type="hidden" name="ao_jstzo" id="ao_jstzo"> <input value="" type="hidden" name="ao_cuid"> <input value="" type="hidden" name="ao_srcid"> <input value="yes" type="hidden" name="ao_bot" id="ao_bot"> <input value="" type="hidden" name="ao_camp">
<div><input value="{{user_country_value}}" type="hidden" id="form_0020_fld_3_hidden"></div>

<div><input value="{{user_state_value}}" type="hidden" id="form_0020_fld_4_hidden"></div>
<input value="{{user_info.persona}}" type="hidden" id="form_0020_fld_6_hidden">
<div class="row">
<div class="col-md-6">
<div class="formField"><label for="form_0020_fld_1_fn">Nombre <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <input value="" name="First Name" type="text" id="form_0020_fld_1_fn" class="l6e formFieldText formFieldMediumLeft"></div>
</div>

<div class="col-md-6">
<div class="formField"><label for="form_0020_fld_1_ln">Apellido <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <input value="" name="Last Name" type="text" id="form_0020_fld_1_ln" class="l6e formFieldText formFieldMediumRight"></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_1_em">Dirección de correo electrónico <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <input value="" name="Email" type="Email" id="form_0020_fld_1_em" class="l6e formFieldText formFieldLarge"></div>
</div>
</div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_1_fn'); addRequiredField ('form_0020_fld_1_ln'); addRequiredField ('form_0020_fld_1_em'); } if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0020_fld_1_em', 'EMAIL'); } </script>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_2">Teléfono</label> <input name="Phone" type="text" onblur="singleCheck ('form_0020_fld_2', 'ANYPHONE', 'form_0020_fld_2-Label')" id="form_0020_fld_2" class="formFieldText formFieldLarge"></div>
<script type="text/javascript">if (typeof(addFieldToValidate) != 'undefined') { addFieldToValidate ('form_0020_fld_2', 'ANYPHONE'); addFieldToValidate ('form_0020_fld_2', 'LENGTH', 110); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_3">País<b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <select data-states-selector="#form_0020_fld_4" id="form_0020_fld_3" data-country="" size="1" data-long-value="true" data-country-value="#form_0020_fld_3_hidden" name="Country" class="formFieldSmall"></select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_3'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_4">Estado</label> <select class="formFieldSmall" data-state-value-without-country="true" size="1" data-state-value="#form_0020_fld_4_hidden" name="State" id="form_0020_fld_4"></select></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_5">Organización</label> <input name="Organization" type="text" id="form_0020_fld_5" class="formFieldText formFieldLarge"></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_6">Soy un: <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <select size="1" name="Lead Type" data-persona="" class="formFieldSmall" id="form_0020_fld_6"></select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_6'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_7">Topic <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label> <select name="Contact form topic" size="1" class="formFieldSmall" id="form_0020_fld_7"><option value=""></option><option value="Testing Inquiries" id="form_0020_fld_7-0">Consultas sobre estudios</option><option value="Partnerships and Collaborations" id="form_0020_fld_7-1">Sociedades y colaboraciones</option><option value="Family History Tool" id="form_0020_fld_7-2">Herramienta de Antecedentes Familiares</option><option value="Media Inquiries" id="form_0020_fld_7-3">Consultas de los medios</option><option value="Investor Information" id="form_0020_fld_7-4">Información para inversores</option><option value="Other" id="form_0020_fld_7-5">Otro</option> </select></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_7'); } </script></div>
</div>

<div class="row">
<div class="col-md-12">
<div class="formField"><label for="form_0020_fld_4">Pregunta o comentario <b title="Required Field" style="color: #FF0000; cursor: default">*</b></label><textarea class="formTextArea formTextAreaLarge formTextAreaWidthLarge" name="Contact_Text" id="form_0020_fld_8"></textarea></div>
<script type="text/javascript">if (typeof(addRequiredField) != 'undefined') { addRequiredField ('form_0020_fld_8'); } </script></div>
</div>

<div class="row">
<div align="center" style="padding-left: 10px; padding-right: 10px" class="col-md-12"><input value="Website" type="hidden" name="Lead Source" id="form_0020_fld_9"></div>
</div>

<div class="row">
<div align="center" style="padding-left: 10px; padding-right: 10px" class="col-md-12"><input value="Contact Form" type="hidden" name="Source Description" id="form_0020_fld_10"></div>
</div>
<!-- BUTTONS -->

<div class="row">
<div class="col-md-12"></div>
</div>

<div class="row">
<div align="center" style="padding-bottom: 10px" id="form_0020_ao_submit_button"><input value="Submit" onclick=" mixpanel.track2('Contacted Support',
{'Form': '/en/contact/', 'Role': 'request.user.get_profile.role'}
); doSubmit(document.getElementById('form_0020'));" type="button" id="form_0020_ao_submit_input" name="Submit"></div>

<div class="formNegCap"><input value="" type="text" name="ao_form_neg_cap" id="ao_form_neg_cap"></div>
</div>
<img width="1" height="1" src="https://marketing.invitae.com/acton/form/7098/0020:d-0001/pgend.gif"></form>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Consultas sobre Estudios</h4>

<p>Asistencia al cliente está disponible de Lunes a Viernes, desde las 8:00 am hasta las 5:00 pm (Horario Estándar del Pacífico)</p>

<p>Teléfono: +1 415-374-7782</p>

<p>Línea gratuita: 800-436-3037</p>

<p>En español: +1 415-423-3277</p>

<p>Fax: +1 415-276-4164</p>

<p>Correo electrónico: <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a></p>

<h4>Consultas internacionales</h4>

<p>Asistencia al cliente está disponible de Lunes a Viernes, desde las 9:00 am hasta las 5:00 pm (Horario Estándar del Pacífico)</p>

<p>Correo electrónico: <a href="mailto:globalsupport@invitae.com">globalsupport@invitae.com</a></p>

<p>En Inglés: +1 415-930-4018</p>

<p>Números de teléfono locales:</p>

<p>Argentina: +54 11-5032-0180</p>

<p>Brazil: +55 11-3181-4924</p>

<p>Chile: +56 2-2599-4386</p>

<p>Colombia: +57 1-486-4863</p>

<p>Mexico: +52 554-777-2190</p>

<p>Peru: +51 1-705-9827</p>

<p>Uruguay: +598 000-4019-0910</p>

<h4>Sociedades y Colaboraciones</h4>

<p>Correo electrónico: <a href="mailto:bd@invitae.com">bd@invitae.com</a></p>

<h4>Consultas de los Medios</h4>

<p>Correo electrónico: <a href="mailto:pr@invitae.com">pr@invitae.com</a></p>

<h4>Inversores</h4>

<p>Correo electrónico: <a href="mailto:ir@invitae.com">ir@invitae.com</a></p>

<h4>Otras Consultas</h4>

<p>Correo electrónico: <a href="mailto:info@invitae.com">info@invitae.com</a></p>

<h4>Casa central</h4>

<p><a target="_blank" href="https://maps.google.com/maps?q=458+Brannan+Street,+San+Francisco.+CA+94107">458 Brannan St.<br>
San Francisco, CA, 94107</a></p>

<h4>Laboratorio &amp; Envíos</h4>

<p><a target="_blank" href="https://www.google.com/maps/place/475+Brannan+St,+San+Francisco,+CA+94107">475 Brannan St. Ste. 230<br>
San Francisco, CA, 94107</a></p>
</div>
</div>
</div>
