<h4>Invitae&rsquo;s CancerCHECK toolkit is designed to guide clinicians through the entire screening process for patients at risk of hereditary cancers. CancerCHECK helps:</h4>

<ul class="bullet-list">
	<li>identify appropriate candidates for genetic testing</li>
	<li>choose the most appropriate guidelines-based genetic test for those patients</li>
	<li>identify medical management guidelines based on test results indicating risk for hereditary breast, ovarian and colorectal cancers.<sup>&dagger;</sup></li>
</ul>

<h4><a href="{% page_url 'portal_common.gc-services' %}">Board-certified, experienced genetic counselors</a> are available to help you order the right test for your patient and guide you through results interpretation and management at no additional charge.</h4>
