<div class="row">
<div class="col-md-12">
<h4>¿Qué son los genes de evidencia limitada?</h4>

<p>Los genes de evidencia limitada son genes que fueron seleccionados de una revisión de la literatura y recomendaciones de expertos. Para algunos de esos genes, hasta ahora no se han identificado variantes patogénicas definitivas. Para otros, no se ha establecido completamente la asociación entre el gen y la afección específica.</p>

<h4>¿Por qué incluiría genes de evidencia limitada en mi panel?</h4>

<p>Agregar genes de evidencia limitada puede aumentar la cantidad de variantes inciertas y puede revelar variantes potogénicas de importancia incierta para la afección del paciente. Esta incertidumbre puede resolverse a medida que se dispone de más información, y algunos médicos posiblemente deseen incluir estos genes en su investigación.</p>

<h4>¿Cómo puedo agregar genes de evidencia limitada a mi panel principal?</h4>

<p>Para agregar genes de evidencia limitada simplemente hay que marcar la casilla de selección “aceptar” al lado de la lista de genes.</p>

<h4>¿Qué sucede si no estoy seguro de qué solicitar?</h4>

<p>Con nuestras opciones de análisis flexibles, los médicos pueden sentirse confiados de que pueden comenzar solo con los genes con los que se sienten cómodos. Luego, si no obtienen las respuestas que necesitan con su selección inicial de genes, los médicos pueden presentar una nueva aplicación para el análisis de los genes adicionales dentro de la misma área clínica, sin tener que pagar un cargo adicional.<sup>*</sup> También ofrecemos servicios de consultoría clínica para los médicos que desean analizar casos con expertos en asesoramiento genético.</p>

<p class="endnote">*Consulte la <a href="{% page_url 'portal_common.re-requisition' %}">página web de solicitud de genes adicionales</a> para obtener información acerca de los requisitos y detalles adicionales.</p>
</div>
</div>
