<div class="row">
<div class="col-md-12">
<h3>Análisis flexibles; seleccione un panel único, combine varios paneles o personalice su propio panel.</h3>

<p>Invitae está haciendo pruebas de cardiología más rápidas y más asequibles que nunca. Sin importar la prueba que elija, ofrecemos una tarifa única<sup>*</sup>. Sólo tres semanas en promedio desde la muestra hasta los resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0017' %}"><span class="icon icon-angle-right"></span>Síndrome de QT largo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">Ver Prueba</a>

<p>Un panel de 13 genes que incluye los cinco genes principales asociados con el síndrome de QT largo - KCNQ1, KCNH2, SCN5A, KCNE1 y KCNE2 - así como ocho genes adicionales. Proporcionamos la secuenciación genética completa y análisis de deleción/duplicación en una sola prueba.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0016' %}"><span class="icon icon-angle-right"></span> Síndrome de Brugada </a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">Ver Prueba</a>

<p>Un panel de 10 genes que incluye el gen primario asociado con el síndrome de Brugada - SCN5A - así como otros nueve genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0019' %}"><span class="icon icon-angle-right"></span>Cardiomiopatía hipertrófica</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">Ver Prueba</a>

<p>Un panel de 16 genes de la cardiomiopatía hipertrófica que incluye los 10 genes del sarcómero primarios, así como seis genes adicionales.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0018' %}"><span class="icon icon-angle-right"></span>Síndrome de QT corto</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">Ver Prueba</a>

<p>Un panel de seis genes que incluye KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1 y CACNA1C.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cardio-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>
