<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-emerald">2</div>

<h3>Fazer uma solicita&ccedil;&atilde;o on-line</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p>Este v&iacute;deo mostra como um profissional de sa&uacute;de pode navegar no nosso cat&aacute;logo on-line de testes, fazer uma solicita&ccedil;&atilde;o on-line e salvar testes personalizados para facilitar a repeti&ccedil;&atilde;o da solicita&ccedil;&atilde;o.</p>
</div>

<div class="col-md-3">
<p><a class="btn btn-color-mountain btn-sm btn-left" href="{% page_url 'portal_common.test-catalog' %}" target="_blank"><span class="icon icon-categories"></span>CAT&Aacute;LOGO DE TESTES</a></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="visible-sm visible-md visible-lg" style="margin:20px 0;text-align:center;"><iframe allowfullscreen="" allowtransparency="true" class="wistia_embed" frameborder="0" height="431" mozallowfullscreen="" msallowfullscreen="" name="wistia_embed" oallowfullscreen="" scrolling="no" src="//fast.wistia.net/embed/iframe/dsezvvpe1o" webkitallowfullscreen="" width="640"></iframe><script src="https://fast.wistia.net/assets/external/E-v1.js" async></script></div>
</div>

<div>
<div class="visible-xs" style="margin:20px;"><a class="btn-color-bondi btn btn-lg wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/dsezvvpe1o?popover=true"><span class="icon icon-angle-right"></span>ASSISTIR AO V&Iacute;DEO</a></div>
</div>
</div>
