<div class="row">
<div class="col-md-12">
<h3>Mais informações</h3>

<p>Para obter mais informações sobre a solicitação à Invitae, visite a nossa página <a href="{% page_url 'portal_common.faq' %}">Perguntas Frequentes</a>.</p>
</div>
</div>