<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-willow2">1</div>

<h3>Inscrever-se em uma conta on-line</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p>Este vídeo fornece instruções para os profissionais de saúde. Se você for um paciente interessado em configurar uma conta para rastrear o status do seu teste, visite a nossa página <a href="{% page_url 'portal_common.for-patients' %}">Pacientes</a>.</p>
</div>

<div class="col-md-3">
<p><a class="btn btn-color-mountain btn-sm btn-left" href="{% url 'portal_common.signup' %}" target="_blank"><span class="icon icon-clipboard-check"></span>INSCREVER-SE EM UMA CONTA</a></p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="visible-sm visible-md visible-lg" style="margin:20px 0;text-align:center;"><iframe allowfullscreen="" allowtransparency="true" class="wistia_embed" frameborder="0" height="400" mozallowfullscreen="" msallowfullscreen="" name="wistia_embed" oallowfullscreen="" scrolling="no" src="//fast.wistia.net/embed/iframe/zb60ne3xfc" webkitallowfullscreen="" width="640"></iframe><script src="https://fast.wistia.net/assets/external/E-v1.js" async></script></div>
</div>

<div>
<div class="visible-xs" style="margin:20px;"><a class="btn-color-bondi btn btn-lg wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/zb60ne3xfc?popover=true"><span class="icon icon-angle-right"></span>ASSISTIR AO VÍDEO</a></div>
</div>
</div>