<div class="offset-panel">
<div class="row">
<div class="col-md-12">
<div class="number-color-mountain">3</div>

<h3>Enviar amostra</h3>

<p>Para obter mais informações sobre os nossos requisitos de amostras e remessas, visite a nossa página <a href="{% page_url 'portal_common.sample-requirements' %}">Requisitos de amostras</a>. Para solicitar um kit de coleta de amostras gratuito através do nosso formulário de solicitação on-line, visite a nossa página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a>.</p>

<p>&nbsp;</p>
</div>
</div>
</div>