<div class="team-content active" id="team-blood-content">
<div class="list-content row">
<div class="col-md-2">Sample types</div>

<div class="col-md-10">Sample types accepted:
<ul class="bullet-list">
	<li>Whole blood samples.</li>
	<li>We also accept frozen or partially frozen blood samples, although deletion/duplication analysis is not supported for frozen or partially frozen blood samples at this time.</li>
</ul>
We are unable to accept:

<ul class="bullet-list">
	<li>Hemolyzed or clotted blood samples.</li>
	<li>Blood or saliva samples from patients who have had a bone marrow transplant.</li>
	<li>Samples from patients with hematologic malignancies that are&nbsp;active and circulating in the peripheral blood.</li>
</ul>
We discourage the submission of samples from patients who have active hematological malignancies:

<ul class="bullet-list">
	<li>If a specimen contains a substantial burden of circulating tumor cells, testing and results may be affected.</li>
	<li>In such cases, testing a sample type not derived from blood (i.e., skin biopsy) is suggested. Please see the &quot;gDNA samples&quot; tab above for more information.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">We require a minimum of 3 milliliters (mL) of whole blood, regardless of how many genes you order, for adults and infants.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Container</div>

<div class="col-md-10">The sample should be sent in one EDTA purple-top tube. We accept both K2EDTA and K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The tube must be labeled with:
<ul class="bullet-list">
	<li>The patient&rsquo;s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Sample collection date</li>
</ul>
The patient name and the additional unique identifier written on the tube must <strong>match</strong> the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Storage &amp; Stability</div>

<div class="col-md-10">We recommend using overnight shipping the same day that the blood sample is collected.
<ul class="bullet-list">
	<li>If the blood sample is shipped at room temperature, it is viable for up to 48 hours.</li>
	<li>If the blood sample is refrigerated, it is viable for up to one week.</li>
	<li>Please do not freeze the blood sample if you require deletion/duplication analysis. Deletion/duplication analysis is not supported for frozen or partially frozen blood samples.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentation</div>

<div class="col-md-10">A printed copy of the online requisition form must be submitted with the sample. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Blood samples should be shipped overnight at room temperature. We recommend including cold packs in hot weather or if shipping is expected to take longer than overnight to keep the sample at 2 to 8 degrees Celsius (35.6 to 46.6 degrees Fahrenheit). Frozen blood samples should be shipped overnight using cold packs.<br />
<br />
To assist with sample collection and shipping, you can request a free Invitae blood sample collection kit by submitting our online <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> form.<br />
<br />
Alternatively, you can send us the sample in a crush-proof container via FedEx Priority Overnight (in accordance with the <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae&rsquo;s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shipping address:<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">FedEx Holiday Service Schedule</a>.<br />
<br />
If you ship your sample from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample invoice is <a href="http://marketing.invitae.com/acton/attachment/7098/f-02ad/1/-/-/-/-/FM134-1_Proforma-Invoice-Inbound_Blood.pdf" target="_blank">available here</a>. Please be sure to also include a customs declaration form. A sample customs declaration forms is <a href="http://marketing.invitae.com/acton/attachment/7098/f-02b0/1/-/-/-/-/FM138-1_InvitaeCustomsLetterSample_Blood.pdf" target="_blank">available here</a>.</div>
</div>
</div>

<div class="team-content" id="team-gdna-content">
<div class="list-content row">
<div class="col-md-2">Assay limitations</div>

<div class="col-md-10">At this time, deletion/duplication analysis is not guaranteed for gDNA samples regardless of tissue source. Deletion/duplication analysis will be attempted for all gDNA samples; however, the success rate varies depending on sample quality. If you require deletion/duplication analysis, please provide a whole blood sample.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Specimen return and billing policy</div>

<div class="col-md-10">Invitae performs an initial quality-control (QC) analysis on all gDNA specimens received. If your gDNA specimen fails this QC step, we will contact you and gladly return or safely dispose of the gDNA specimen at no charge. In rare cases, gDNA samples that pass initial QC may fail to produce acceptable sequencing results and a test report cannot be delivered. In these cases:
<ul class="bullet-list">
	<li>Invitae will repeat the sequencing once.</li>
	<li>If a second attempt fails to reach our quality standards, we will inform you and you may choose, at no additional cost, to send a new sample from another source. The second sample should not be another gDNA from the same tube or sample source as the first one.</li>
	<li>The original sample will have been consumed during analysis and cannot be returned.</li>
	<li>If you cannot or do not wish to send a second sample, you will not receive a test report and there is no charge for testing.</li>
</ul>
If a gDNA sample produces sequencing results but does not produce deletion/duplication results:

<ul class="bullet-list">
	<li>You will receive a full test report on the sequencing analysis.</li>
	<li>If you wish to repeat the test for deletion/duplication analysis using a whole blood sample, you will be responsible for the full cost of a second Invitae test.</li>
	<li>The original sample will have been consumed during analysis and cannot be returned.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Sample types accepted</div>

<div class="col-md-10">We accept gDNA purified from peripheral venous whole blood. gDNA from the following sources is also accepted; however, gDNA isolated from these sources is more likely to fail to meet our quality standards for read-through sequencing and deletion/duplication analysis:
<ul class="bullet-list">
	<li>Frozen blood</li>
	<li>Buccal swab/scrape</li>
	<li>Saliva</li>
	<li>Mouthwash (oral rinse)</li>
	<li>Muscle, skin or liver tissue</li>
</ul>
gDNA from the following sources is not accepted:

<ul class="bullet-list">
	<li>Chorionic villus sampling</li>
	<li>Amniocytes</li>
	<li>Products of conception or abortus</li>
	<li>Tumors</li>
	<li>Peripheral blood of patients with an&nbsp;active hematologic malignancy in circulation</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Amount &amp; concentration</div>

<div class="col-md-10">We require a minimum of 20 ug of gDNA at a minimum concentration of 50 ng/uL in a minimum volume of 75 ul. The full gDNA sample will be consumed during our laboratory processes.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Container</div>

<div class="col-md-10">Our preferred container type is a 2 milliliter Fisher brand freestanding microcentrifuge tube with screw cap; however, we will accept gDNA in any sterile plastic tube.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The gDNA container must be labeled with:
<ul class="bullet-list">
	<li>The patient&rsquo;s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Sample collection date</li>
</ul>
The patient name and the additional unique identifier written on the container must match the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentation</div>

<div class="col-md-10">Please use this <a href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_gDNA-form.pdf">gDNA Specimen Form</a> to document the necessary information. Print a completed copy of this form and include it with the gDNA sample. To complete this form, you will need the following information:

<ul class="bullet-list">
	<li>Patient&rsquo;s full name</li>
	<li>Patient&rsquo;s date of birth</li>
	<li>Patient&rsquo;s deceased date (if applicable)</li>
	<li>Specimen source</li>
	<li>Collection date</li>
	<li>Extraction method</li>
	<li>Extraction date</li>
	<li>gDNA concentration</li>
	<li>gDNA amount</li>
	<li>Method of quantitation</li>
	<li>Other metrics about the gDNA (e.g., 260/280, gel/bioanalyzer data)</li>
	<li>Past and current storage conditions</li>
</ul>
A printed copy of the online requisition form must be submitted with the sample. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">gDNA samples should be shipped overnight at room temperature. We recommend including cold packs in hot weather or if shipping is expected to take longer than overnight to keep the sample at 2 to 8 degrees Celsius (35.6 to 46.6 degrees Fahrenheit). Frozen gDNA samples should be shipped overnight using cold packs.<br />
<br />
Please send the sample in a crush-proof container via FedEx Priority Overnight (in accordance with the <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae&rsquo;s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shipping address:<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">FedEx Holiday Service Schedule</a>.<br />
<br />
If you ship your sample from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample invoice for gDNA is <a href="http://marketing.invitae.com/acton/attachment/7098/f-02ae/1/-/-/-/-/FM135-1_Proforma-Invoice-Inbound_gDNA.pdf" target="_blank">available</a>. Please be sure to also include a customs declaration form.</div>
</div>
</div>

<div class="team-content" id="team-postmortem-content">
<div class="row">
<div class="col-md-12">
<p>After the death of a loved one from a suspected inherited condition, post-mortem genetic testing may provide valuable information for family members. Post-mortem testing may help confirm the deceased person&rsquo;s cause of death, as well as clarify whether family members could benefit from genetic testing for the same condition.</p>

<p>Post-mortem genetic testing involves consideration of several important factors prior to testing genetic samples from deceased individuals. Below is general information about Invitae&rsquo;s testing process for post-mortem analysis. Due to the sensitive nature of this type of analysis and these samples, we require that clinicians <a href="{% page_url 'portal_common.contact' %}">contact</a> us before sending a post-mortem sample.</p>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Sample types</div>

<div class="col-md-10">Please refer to the whole blood samples or gDNA samples tabs on this page for specimen requirements for these sample types. Please note: We are unable to accept frozen tissue or cultured cell samples at this time.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Sample quality</div>

<div class="col-md-10">Genetic testing outcomes are affected by a sample&rsquo;s age and quality. While we make every effort to generate complete test results, this may not always be possible if a specimen is of poor quality. The ordering clinician will be notified if a test can only be partially completed or not completed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Sample storage &amp; send-out</div>

<div class="col-md-10">Invitae is unable to store or hold samples at this time. We encourage consideration of DNA banking through other facilities specifically focused on long-term DNA storage.<br />
Samples received that do not meet Invitae&rsquo;s minimum requirements for testing may be returned to the sender. Samples that meet minimum requirements will start the testing process. Samples cannot be held or returned at this time, regardless of whether the test is completed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Payment &amp; billing</div>

<div class="col-md-10">Families have the option of paying $475 for testing when the test is ordered online by a clinician. For this option, a family member must register the deceased patient through Invitae&rsquo;s online <a href="{% url 'patient.signin' %}">patient portal</a> in order for payment to be processed. This family member must be the authorized next-of-kin because the portal will display test results, and these can only be accessed by authorized individuals. Please note that insurance does not typically cover post-mortem testing, so we cannot submit claims to insurers for tests performed on deceased patients.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Results reporting</div>

<div class="col-md-10">The results of genetic testing are reported to the ordering clinician. The family member who registered the patient in the Invitae patient portal is the account holder and may also request a copy of the patient&rsquo;s test results. Access will be denied if Invitae determines that the account holder is not authorized to receive this information. In such cases, the individual may request the test results through the ordering clinician.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Please refer to the whole blood samples or gDNA samples tabs on this page for shipping requirements for these sample types.</div>
</div>
</div>

<div class="team-content" id="team-saliva-content">
<div class="list-content row">
<div class="col-md-2">Sample types</div>

<div class="col-md-10">Sample types accepted:
<ul class="bullet-list">
	<li>OrageneTM self collection kit (OG500/OGD500). Please note that this kit requires 2 milliliters of saliva.</li>
	<li>To request a free OrageneTM self collection kit, visit our Request a Kit page.</li>
</ul>
We are unable to accept:

<ul class="bullet-list">
	<li>Saliva in any container other than the OrageneTM self collection kit (OG500/OGD500)</li>
	<li>Buccal swabs and mouthwash samples</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Labeling</div>

<div class="col-md-10">The collection tube must be labeled with:
<ul class="bullet-list">
	<li>The patient&rsquo;s full name</li>
	<li>One additional unique identifier:
	<ul class="bullet-list">
		<li>Date of birth (MM/DD/YYYY)</li>
		<li>Medical record number</li>
		<li>IB number, if placed by submitting clinician</li>
		<li>Invitae test order ID (RQ#)</li>
		<li>Social security number or other unique ID</li>
	</ul>
	</li>
	<li>Sample collection date</li>
</ul>
The patient name and the additional unique identifier written on the tube must <strong>match</strong> the name and identifier provided when the test order was placed.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Storage &amp; Stability</div>

<div class="col-md-10">Store the saliva sample at room temperature. Although there are no special time requirements, we recommend that samples are mailed to Invitae soon after collection.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documentation</div>

<div class="col-md-10">A printed copy of the online requisition form must be submitted with the sample. You will be able to print a copy of the requisition form after you have completed the online requisition process.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Shipping requirements</div>

<div class="col-md-10">Other than using an OrageneTM self collection kit (OG500/OGD500), there are no special requirements regarding temperature or speed of shipping for saliva samples.<br />
To assist with sample collection and shipping, you can request a free Invitae saliva sample collection kit by submitting our online <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> form.<br />
<br />
Alternatively, you can send us the sample in a crush-proof container via FedEx Priority Overnight (in accordance with the <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">FedEx Packaging Guidelines for Clinical Samples</a>). Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Invitae&rsquo;s client services team to obtain the FedEx account number. (Please note that pricing outside the US does not include shipping fees.)<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shipping address:<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
Invitae accepts packages Monday through Friday. We recommend that you send your package so that it leaves your facility Monday through Thursday. Please do not request Saturday delivery. Invitae follows the <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">FedEx Holiday Service Schedule</a>.<br />
<br />
If you ship your sample from outside the United States, your shipping carrier will require three copies of a commercial (ProForma) invoice. A sample ProForma invoice is <a href="http://marketing.invitae.com/acton/attachment/7098/f-02af/1/-/-/-/-/FM136-1_Proforma-Invoice-Inbound_Saliva.pdf" target="_blank">available</a>. Please be sure to also include a customs declaration form. A sample saliva customs declaration form is also <a href="http://marketing.invitae.com/acton/attachment/7098/f-02b1/1/-/-/-/-/FM139-1_InvitaeCustomsLetterSample_Saliva.pdf" target="_blank">available</a>.</div>
</div>
</div>
