<div class="row">
<div class="col-md-12">
<h3>Sending in a sample</h3>

<p>Invitae&rsquo;s preferred sample type for our next-generation sequencing assay is peripheral whole blood in a purple-top EDTA tube. We also accept saliva samples as well as genomic DNA (gDNA) that has been isolated in other laboratories, although there are assay limitations for gDNA. For details, please see the &ldquo;gDNA&rdquo; section below.</p>

<p>To make it as easy as possible for you to provide a sample, we can send you free kits for either blood or saliva sample collection. We also offer phlebotomy services at no additional charge within the US and Canada; we can schedule a blood draw appointment at your office or at your patient&#39;s home. Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more about both these services.</p>
</div>
</div>
