<div class="row">
<div class="col-md-12">
<h3>A test to match your patient.</h3>

<p>Invitae offers a range of affordable options for colon cancer testing. Order a single disorder such as Lynch syndrome or upgrade to any of our multi-gene panels for the same price<sup>*</sup>, with just three weeks on average from sample to results.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0053' %}"><span class="icon icon-angle-right"></span>Lynch syndrome</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">View Test</a>

<p>Lynch syndrome (LS) is the most common cause of hereditary colon cancer. LS confers an 80% lifetime risk of colorectal cancer and increases risk of other cancers, including stomach cancer and endometrial and ovarian cancer in women.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0008' %}"><span class="icon icon-angle-right"></span>High-Risk Hereditary Colon Cancers</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">View Test</a>

<p>7 genes that confer a high lifetime risk of colorectal cancer, ranging from 80% to nearly 100%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0005' %}"><span class="icon icon-angle-right"></span>Hereditary Colon Cancers</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">View Test</a>

<p>A 14 gene panel analyzes a patient's genetics for hereditary colorectal and polyposis cancer syndromes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Hereditary Cancer Syndromes</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">View Test</a>

<p>Tests 34 genes known to be associated with well established hereditary cancer syndromes.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="colon-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure1" href="#"><span class="icon"></span>Hereditary Cancer Syndromes </a> <a class="figure2" href="#"> <span class="icon"></span>Hereditary Colon Cancers </a> <a class="figure3" href="#"> <span class="icon"></span>High-Risk Hereditary Colon Cancers </a> <a class="figure4" href="#"> <span class="icon"></span>Lynch Syndrome </a></div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PMS2§</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NF1†</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>
</div>
</div>

<p class="fig-footnotes">§Exons 12-15 are not included in deletion/ duplication analysis<br>
†Exons 16-24, 31-35 are not included in deletion/duplication analysis</p>
</div>
</div>