<div class="row">
<div class="col-md-12">
<h3>Análisis de variante familiar</h3>

<p>El resultado de una prueba genética tiene consecuencias en la salud no solo para un individuo sino para la familia completa.</p>

<p>Después de que un paciente recibe un resultado positivo en una prueba, se puede usar el análisis de variante familiar para identificar a otros miembros de la familia con la misma variante y proporcionar información acerca de sus riesgos genéticos. Los miembros de la familia que presentan resultados positivos en las pruebas pueden tomar decisiones informadas acerca de su salud.</p>

<p>El análisis de variante familiar de Invitae incluye un análisis completo del gen en el que se ha identificado la variante del miembro original de la familia. El informe incluirá el estado de la variante familiar así como también cualquier otra variante patogénica o probablemente patogénica identificada en ese gen.</p>

<p>El análisis de variante familiar se proporciona a los miembros elegibles de la familia por solo $200 por gen por familiar. En promedio, los resultados se encuentran disponibles en el plazo de tres semanas a partir de la recepción de la muestra.</p>

<h4><strong>¿Quiénes son elegibles?</strong></h4>

<p>Un miembro de la familia del paciente original es elegible si se cumplen los siguiente criterios en su totalidad:</p>

<ul class="bullet-list">
	<li>El paciente original se realizó la prueba en Invitae</li>
	<li>Se identificó una variante patogénica o probablemente patogénica en el informe de prueba del paciente original<sup>*</sup></li>
	<li>El miembro de la familia está en riesgo de ser portador de la misma variante</li>
</ul>

<p><sup>*</sup>Si el informe de prueba del paciente original identificó una variante de significado incierto (VSI), es posible que se encuentre disponible una <a href="{% page_url 'portal_common.vus-resolution' %}">Resolución de VSI</a> sin cargo adicional para los miembros elegibles de la familia. Los miembros de la familia de los pacientes que no reúnen los requisitos para una resolución de VSI sin cargo adicional posiblemente puedan aprovechar las ventajas del análisis de variante familiar.</p>

<h4><strong>¿Qué sucede si el paciente original realizó su análisis fuera de Invitae?</strong></h4>

<p>El análisis de variante familiar no está disponible para las familias si la variante patogénica del paciente original fue detectada por un laboratorio distinto de Invitae. Para estos casos, ofrecemos el análisis de un solo gen del gen completo en cuestión por el mismo precio de un pedido original.</p>

<p>Si desea solicitar esta prueba, comuníquese con nosotros antes de realizar su pedido. Requerimos una copia del resultado positivo de la prueba del miembro de la familia para verificar que la variante en cuestión tenga probabilidad de ser detectada por nuestro ensayo. Las deleciones y duplicaciones pueden ser de diversos tamaños o complejidad. Es posible que se solicite un control positivo en los casos en los que la nomenclatura de la variante es ambigua o cuando la variante es de un tipo que puede ser refractario al análisis por métodos de secuenciación de nueva generación (NGS). A menos que Invitae solicite expresamente un control positivo, no se analizarán muestras adicionales.</p>

<h4><strong>¿Cómo solicito un análisis de variante familiar?</strong></h4>

<p>Proporcione lo siguiente:</p>

<ul class="bullet-list">
	<li>El número de pedido (“número RQ”) del caso índice original</li>
	<li>Información sobre la forma en que el miembro de la familia que se someterá al análisis está relacionado con el caso índice original</li>
	<li>Un árbol genealógico de los miembros de la familia afectados (recomendado)</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Inicie sesión</a>

<p>El método de contacto preferido es a través de nuestro sistema de mensajería seguro en su cuenta en línea. Para acceder al sistema, inicie sesión en su cuenta, consulte su historial de pedidos y seleccione el número de pedido (número RQ) del caso índice original. Luego puede hacer clic en la ficha "Messages" (Mensajes) para comunicarse con nosotros por el análisis de variante familiar y cargar la información del paciente de manera segura y en cumplimiento de la ley HIPAA.</p>

<p>También puede comunicarse con el departamento de atención al cliente para obtener más información (no incluya ningún registro médico ni información médica confidencial en su consulta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 o +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">herramienta de antecedentes familiares</a>

<p>Lo invitamos a usar la herramienta de antecedentes familiares de Invitae para enviar fácilmente un árbol genealógico para este programa. Obtenga más información acerca de esta aplicación gratuita.</p>
</div>
</div>