<div class="row">
<div class="col-md-9">
<form accept-charset="UTF-8" action="" class="pd-form" enctype="multipart/form-data" id="form_0020" method="post"><input name="ao_a" type="hidden" value="7098" /> <input name="ao_f" type="hidden" value="0020" /> <input name="ao_d" type="hidden" value="0020:d-0001" /> <input id="ao_p" name="ao_p" type="hidden" value="0" /> <input id="ao_jstzo" name="ao_jstzo" type="hidden" value="" /> <input name="ao_cuid" type="hidden" value="" /> <input name="ao_srcid" type="hidden" value="" /> <input id="ao_bot" name="ao_bot" type="hidden" value="yes" /> <input name="ao_camp" type="hidden" value="" /> {% csrf_token %}
<div class="row">
<div class="col-md-5">
<div class="field-wrapper required"><label for="form_fn">Nombre </label> <input id="form_fn" name="First name" type="text" /></div>
</div>

<div class="col-md-5">
<div class="field-wrapper required"><label for="form_ln">Apellido </label> <input id="form_ln" name="Last name" type="text" /></div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="field-wrapper required"><label for="form_email">Correo electr&oacute;nico </label> <input id="form_email" name="Email" type="email" /></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_fn'); 
                    addRequiredField ('form_ln'); 
                    addRequiredField ('form_email'); 
                } 
                if (typeof(addFieldToValidate) != 'undefined') { 
                    addFieldToValidate ('form_email', 'EMAIL'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper"><label for="form_phone">N&uacute;mero de tel&eacute;fono</label> <input id="form_phone" name="Phone" type="text" /></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addFieldToValidate) != 'undefined') { 
                    addFieldToValidate ('form_phone', 'ANYPHONE'); 
                    addFieldToValidate ('form_phone', 'LENGTH', 110); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper required unstyled-select"><label for="form_country">Pa&iacute;s</label> <select data-country="" data-long-value="true" data-states-selector="#form_state" id="form_country" name="Country"></select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_country'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper unstyled-select"><label for="form_state">Estado</label> <select data-long-value="true" id="form_state" name="State"></select></div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper"><label for="form_org">Organizaci&oacute;n </label> <input id="form_org" name="Organization" type="text" /></div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper required unstyled-select"><label for="form_lt">Soy un: </label> <select data-persona="{{ user_info.persona }}" id="form_lt" name="Lead Type"></select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_lt'); 
                }
            </script>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper required unstyled-select"><label for="form_ctp">Tema </label> <select id="form_ctp" name="Contact form topic"><option value=""></option><option id="form_0020_fld_7-0" value="Testing Inquiries">Consultas sobre estudios</option><option id="form_0020_fld_7-1" value="Partnerships and Collaborations">Sociedades y colaboraciones</option><option id="form_0020_fld_7-2" value="Family History Tool">Herramienta de Antecedentes Familiares</option><option id="form_0020_fld_7-3" value="Media Inquiries">Consultas de los medios</option><option id="form_0020_fld_7-4" value="Investor Information">Informaci&oacute;n para inversores</option><option id="form_0020_fld_7-5" value="Other">Otro</option> </select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_ctp'); 
                }
            </script>

<div class="row">
<div class="col-md-10">
<div class="field-wrapper required"><label for="form_quest">Pregunta o comentario</label><textarea cols="30" id="form_quest" name="Contact_Text" rows="10"></textarea></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_quest'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper"><button class="btn btn-color-bondi btn-lg" type="submit">ENVIAR</button></div>
</div>
</div>
</form>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Consultas sobre Estudios</h4>

<p>Tel&eacute;fono: +1 415-374-7782</p>

<p>L&iacute;nea gratuita: 800-436-3037</p>

<p>En espa&ntilde;ol: +1 415-423-3277</p>

<p>Fax: +1 415-276-4164</p>

<p>Correo electr&oacute;nico: <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a></p>

<h4>Consultas internacionales</h4>

<p>Correo electr&oacute;nico: <a href="mailto:globalsupport@invitae.com">globalsupport@invitae.com</a></p>

<p>En Ingl&eacute;s: +1 415-930-4018</p>

<p>N&uacute;meros de tel&eacute;fono locales:</p>

<p>Argentina: +54 11-5032-0180</p>

<p>Brazil: +55 11-3181-4924</p>

<p>Chile: +56 2-2599-4386</p>

<p>Colombia: +57 1-486-4863</p>

<p>Mexico: +52 554-777-2190</p>

<p>Peru: +51 1-705-9827</p>

<p>Uruguay: +598 000-4019-0910</p>
</div>
</div>
</div>
