<div class="row">
<div class="brca-tool-overlay">&nbsp;</div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Breast cancer</span> information tool.</h2>
</div>

<div class="col-md-7 image"><img alt="talk with a doctor" class="talk-with-doctor" src="/static/img/slideshow/education-talk-w-your-doctor.png" />
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade modal-fullscreen bs-example-modal-lg" role="dialog" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button aria-label="Close" class="close icon-cross" data-dismiss="modal" type="button"><span aria-hidden="true"></span></button><iframe id="reveal" name="education-breast-cancer" src="{% url 'patient.education-breast-cancer' %}"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>As part of our ongoing support for patients, we have developed a variety of tools and information to guide you through the genetic testing experience.</p>

<p>This breast cancer information tool is one example of the educational support we provide. It is intended for an individual who is scheduled for a genetic counseling services appointment with Invitae and is interested in our cancer genetic testing services.</p>
<button class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg" data-toggle="modal" type="button"><span class="icon icon-angle-right"></span>Launch tool</button></div>
</div>
