<div class="row">
<div class="col-md-12">
<h3>Rede de encaminhamento para aconselhamento genético</h3>

<p>A Invitae acredita que os testes genéticos devem ser supervisionados por um profissional de saúde bem experiente em genética. A nossa Rede de profissionais em genética conecta os pacientes e médicos com os profissionais locais em genética.</p>

<p>Saiba mais na nossa webpage <a href="{% page_url 'portal_common.genetics-provider-network' %}">Rede de profissionais em genética</a>.</p>
</div>
</div>