<div class="row">
<div class="col-md-12">
<h3>Oferecemos op&ccedil;&otilde;es flex&iacute;veis de testes.</h3>

<p>A Invitae oferece op&ccedil;&otilde;es de testes para c&acirc;ncer de p&acirc;ncreas amplas e com pre&ccedil;o acess&iacute;vel.</p>

<p>Solicite nosso painel de C&acirc;ncer de P&acirc;ncreas Heredit&aacute;rio organizado por especialistas, o mais recente em nosso conjunto de testes de c&acirc;ncer heredit&aacute;rio. Esse painel abrange 17 dos genes mais comumente vinculados a um risco elevado de c&acirc;ncer de p&acirc;ncreas. Se voc&ecirc; quiser se aprofundar, tamb&eacute;m &eacute; poss&iacute;vel fazer upgrade para nosso painel de S&iacute;ndromes de C&acirc;ncer Heredit&aacute;rio.</p>

<p>Um mesmo <span style="font-size: 16px; line-height: 22px;">pre&ccedil;o para q</span>ualquer teste<span style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; top: -0.5em;">*</span>. S&atilde;o apenas tr&ecirc;s semanas, em m&eacute;dia, desde a coleta at&eacute; os resultados.</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0010' %}"><span class="icon icon-angle-right"></span>C&acirc;ncer de p&acirc;ncreas heredit&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">Ver teste</a>

<p>Um painel de 17 genes analisa o risco de um paciente ter c&acirc;ncer de p&acirc;ncreas heredit&aacute;rio, al&eacute;m de outros c&acirc;nceres. Outros genes que avaliem o risco heredit&aacute;rio de pancreatite em um paciente podem ser adicionados &agrave; sua requisi&ccedil;&atilde;o sem custo adicional.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver teste</a>

<p>Testa 34 genes comprovadamente associados &agrave;s s&iacute;ndromes estabelecidas de c&acirc;ncer heredit&aacute;rio.</p>
</div>
</div>
&nbsp;

<h3>Personalize para an&aacute;lises adicionais.</h3>

<p>Al&eacute;m dos 17 genes do painel de C&acirc;ncer de p&acirc;ncreas da Invitae, alguns prestadores tamb&eacute;m optam por incluir os seguintes genes ao avaliar um paciente quanto &agrave; ocorr&ecirc;ncia de c&acirc;ncer de p&acirc;ncreas heredit&aacute;rio:</p>

<p><em>CDK4</em>, <em>CFTR</em>, <em>CTRC</em>, e <em>SPINK1</em></p>

<p>Na Invitae, como sempre, voc&ecirc; pode personalizar sua requisi&ccedil;&atilde;o para incluir esses genes sem custo adicional. Clique em Ver teste para saber mais.</p>
</div>

<div class="col-md-5">
<div class="pancreatic-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure3" href="#"><span class="icon"></span>S&iacute;ndromes de C&acirc;ncer Heredit&aacute;rio </a> <a class="figure4" href="#"> <span class="icon"></span>C&acirc;ncer de P&acirc;ncreas Heredit&aacute;rio </a></div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NF1&dagger;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>
</div>
</div>

<p>&nbsp;</p>

<p class="fig-footnotes">
&dagger; NF1: Os exons 16-24, 31-35 n&atilde;o est&atilde;o inclu&iacute;dos na an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o</p>
</div>
</div>
