<div class="row">
<div class="col-md-12">
<h3>Um teste para combinar com seu paciente.</h3>

<p>A Invitae oferece uma s&eacute;rie de op&ccedil;&otilde;es baratas para teste de c&acirc;ncer de c&oacute;lon. Solicite uma &uacute;nica doen&ccedil;a, como s&iacute;ndrome de Lynch, ou fa&ccedil;a um upgrade para qualquer um dos nossos pain&eacute;is com m&uacute;ltiplos genes pelo mesmo pre&ccedil;o<sup>*</sup>. S&atilde;o apenas tr&ecirc;s semanas, em m&eacute;dia, desde a coleta at&eacute; os resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0053' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de Lynch</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">Ver teste</a>

<p>A s&iacute;ndrome de Lynch (SL) &eacute; a causa mais comum de c&acirc;ncer de c&oacute;lon heredit&aacute;rio. A SL confere um risco de 80% de c&acirc;ncer colorretal ao longo da vida e aumenta o risco de outros c&acirc;nceres, incluindo de est&ocirc;mago, e c&acirc;ncer de endom&eacute;trio e ov&aacute;rio nas mulheres.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0008' %}"><span class="icon icon-angle-right"></span>C&acirc;nceres de c&oacute;lon heredit&aacute;rios de alto risco</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">Ver teste</a>

<p>7 genes que conferem um risco elevado de c&acirc;ncer colorretal ao longo da vida, variando de 80% a quase 100%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0005' %}"><span class="icon icon-angle-right"></span>C&acirc;nceres de c&oacute;lon heredit&aacute;rios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">Ver teste</a>

<p>Um painel de 14 genes analisa o risco gen&eacute;tico de um paciente ter s&iacute;ndromes heredit&aacute;rias de c&acirc;ncer colorretais e polipose.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver teste</a>

<p>Testa 34 genes comprovadamente associados &agrave;s s&iacute;ndromes estabelecidas de c&acirc;ncer heredit&aacute;rio.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="colon-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure1" href="#"><span class="icon"></span>S&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</a> <a class="figure2" href="#"> <span class="icon"></span>C&acirc;nceres de c&oacute;lon heredit&aacute;rios </a> <a class="figure3" href="#"> <span class="icon"></span>C&acirc;nceres de c&oacute;lon heredit&aacute;rios de alto risco </a> <a class="figure4" href="#"> <span class="icon"></span>S&iacute;ndrome de Lynch </a></div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NF1&dagger;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>
</div>
</div>

<p class="fig-footnotes">
&dagger;NF1: Os exons 16-24, 31-35 n&atilde;o est&atilde;o inclu&iacute;dos na an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o</p>
</div>
</div>
