<div class="row">
<div class="col-md-12">
<h3>O valor dos painéis multi-genes para pacientes de cânceres hereditários.</h3>

<p>Para demonstrar o valor dos painéis multi-genes na avaliação do risco de câncer hereditário, Invitae colaborou com pesquisadores da Universidade de Stanford, James Ford, M.D., e Allison W. Kurian, M.D., MSc.. Os resultados desta pesquisa, recentemente publicada no jornal <i>Journal of Clinical Oncology</i>, mostram que os painéis multi-genes de câncer hereditário podem oferecer um desempenho comparável ao teste genético tradicional para <i>BRCA1/2</i> e pode fornecer benefícios clínicos adicionais aos médicos e pacientes na busca da avaliação do risco de padecer câncer.</p>

<h4>Referência</h4>
<a target="_blank" href="http://jco.ascopubs.org/content/early/2014/04/09/JCO.2013.53.6607">Kurian, A.W., et al. Clinical Evaluation of a Multiple-Gene Sequencing Panel. JCO published online on April 14, 2014; DOI:10.1200/JCO.2013.53.2630.</a>

<h3 style="margin:40px 0 20px 0;">Desenho do estudo</h3>

<p>O estudo utilizou um painel de 42 genes relacionados com o risco de câncer que foram selecionados pela sua relevância clínica e científica. Esses genes foram analisados por Invitae no DNA germinal contidos em um biobanco de 198 mulheres que haviam sido encaminhadas ao Centro Médico da Universidade de Stanford pela presença de câncer hereditário de mama e ovário. Essas pessoas haviam sido previamente analisadas para <i>BRCA1/2</i> por um laboratório independente. Das pacientes que participaram neste estudo, 174 tinham câncer de mama e 57 carregavam variantes germinais de <i>BRCA1/2</i> patogênicas.</p>

<h3>Resumo dos resultados</h3>

<p><strong>Uma alta concordância com os resultados prévios das análises de <i>BRCA1/2.</i></strong></p>

<p>O estudo encontrou que os resultados das análises dos genes <i>BRCA1/2</i> obtidos pelo painel de testes de Invitae foram altamente concordantes com os resultados clínicos das análises de <i>BRCA1/2</i> nesses indivíduos.</p>

<p>Além do estudo descrito aqui, Invitae está participando em um grande e rigoroso estudo clínico para validar nossos resultados analíticos e interpretações clínicas. Para mais informações sobre este estudo, por favor, visite nossa página de <a href="{% page_url 'portal_common.validation-studies' %}">estudos de validação.</a></p>

<p><strong>Identificação de genes para o risco de câncer adicional.</strong></p>

<p>Entre as 141 mulheres negativas para mutações nos genes <i>BRCA</i>, o painel de testes de Invitae identificou variantes de risco adicionais nos genes <i>MLH1, CDH1, NBN, ATM, MUTYH, CDKN2A, SLX4, BLM</i> e <i>PRSS1</i>.</p>

<p><strong>Gestão de consentimento informado</strong></p>

<p>Com base na identificação de novas variantes de risco em genes além de <i>BRCA1/2</i>, o corpo clínico de Stanford determinou que para cerca de 9% dos participantes (13 de 141) se justificava re-contactar e proporcionar aconselhamento adicional com base nesta nova informação. Stanford entregou recomendações personalizadas para rastreios adicionais e outras mudanças apropriadas no cuidado clínico. A equipe de Stanford encontrou que este aconselhamento foi viável e valorizado pelos pacientes.</p>

<p style="margin:0px 0 20px 0;"><strong>Um estudo clínico para um melhor atendimento ao paciente.</strong></p>

<p><strong>Contexto: </strong>Um dos pacientes descritos acima é uma mulher que tinha sido diagnosticada com câncer de mama unilateral aos seus 40 e poucos anos. No momento do seu diagnóstico original, a paciente recebeu um resultado de exame para <i>BRCA1/2</i> negativo de um laboratório independente, e permitiu que seu DNA fosse guardado em um banco de DNA.</p>

<p><strong>Novos Resultados:</strong> Neste estudo, encontrou-se que a paciente possuía uma variação patogênica no gene <i>MLH1</i>, associada à síndrome de Lynch. De acordo com o protocolo institucional, o resultado foi confirmado de forma independente, e a paciente foi novamente contactada e informada.</p>

<p><strong>Resultados:</strong> No tempo entre a análise das mutações em <i>BRCA1/2 </i>e o painel de genes em Invitae, a paciente foi diagnosticada com câncer endometrial. Além disso, realizou-se uma colonoscopia basal aos 50 anos de idade da paciente, com resultados negativos, lhe foi sugerido que voltasse aos 60 anos. Após a divulgação do estado mutacional de <i>MLH1</i>, a paciente foi submetida a uma segunda colonoscopia precoce, e foi encontrado um pólipo que foi removido. Atualmente, a paciente tem 53 anos de idade, de modo que este adenoma tubular foi detectado 7 anos antes do que seria se não tivesse sido realizada uma análise genética abrangente.</p>

<p style="margin:0px 0 20px 0;"><strong>Avaliação das taxas de Variantes de Significância de Incerta (VSI, do inglês Variant of Uncertain Significance - VUS).</strong></p>

<p>Este estudo demonstrou uma média de 2,1 VSIs por paciente entre os 42 genes do painel de genes completo de Invitae, selecionados de acordo com a sua relevância clínica e científica.</p>

<p>Após esta pesquisa, nós desenvolvemos em Invitae o nosso <a href="/en/physician/category/CAT000015/">teste genético comercial</a> de câncer hereditário, enfocado em 29 genes clinicamente relevante para o risco de câncer. O painel de 29 genes de Invitae reduz o painel de VSI mais largo a cerca de 0,7 por paciente, e cerca de 40% dos pacientes recebem um resultado incerto do estudo genético em qualquer destes 29 genes (porque alguns pacientes transportam mais de um VSI).</p>

<p>Invitae está trabalhando para ajudar a comunidade clínica e científica em reduzir as taxas de VSI para todos os estudos genéticos. Leia mais sobre a inevitável queda das taxas de VSI no blog escrito por John Garcia de Invitae, <a href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">O melhor atendimento ao paciente é dependente do compartilhamento de dados genéticos?</a></p>
</div>
</div>