<div class="team-content active" id="patient-overview-content">
<div class="row">
<div class="col-md-9">
<h3>Genetic testing for hereditary conditions</h3>

<p>&nbsp;</p>

<p>Invitae specializes in genetic testing for inherited conditions related to a variety of medical disciplines, including cardiology, hereditary cancers, neurology, pediatric medicine, and hematology. We invite you to explore our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a>, which details our current testing options.</p>

<p>Invitae&#39;s genetic tests must be ordered by a certified healthcare professional. If you are interested in learning about our genetic testing services, our Client Services team would be happy to assist you by:</p>

<ul class="bullet-list">
	<li>Providing more information about the tests we offer</li>
	<li>Helping facilitate your conversation with your doctor</li>
	<li>Connecting you with one of our genetic counselors, who can answer your questions about the genetic testing process</li>
</ul>

<p>To learn more, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services.</p>

<h4><strong>Comprehensive testing services</strong></h4>

<p>Invitae&rsquo;s genetic testing services include:</p>

<ul class="bullet-list">
	<li>Genetic testing that&rsquo;s simple, convenient, and affordable</li>
	<li>Results within three weeks on average</li>
	<li>Expert analysis for clear interpretation</li>
	<li>High-quality, affordable testing&mdash;including, in some cases, patient financial-assistance programs</li>
	<li>Genetic counseling (with physician referral) to assist you in understanding your genetic test results</li>
	<li>If appropriate, family testing to clarify risk for your relatives</li>
	<li>Help with insurance and the billing process</li>
	<li>Convenient online access and the ability to track your sample throughout the testing process</li>
</ul>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Share</h4>
<!-- AddThis Button BEGIN -->

<div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-facebook.png" width="30" /> </a> <a class="addthis_button_twitter"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-twitter.png" width="30" /></a> <a class="addthis_button_linkedin"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-linkedin.png" width="30" /> </a> <a class="addthis_button_email"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-email.png" width="30" /> </a> <a class="addthis_button_compact"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-addthis.png" width="30" /></a></div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script><script src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-54b624687e16c3fa" type="text/javascript" async></script><!-- AddThis Button END -->

<h4>Your Account</h4>

<p>Click here to create an account or login to your account.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="{% url 'portal_common.signin' %}">Sign In</a></p>

<h4>Contact Us</h4>

<p>Our client services team is happy to answer all your genetic testing questions.</p>

<p><a class="btn btn-color-bondi btn-md btn-center" href="{% page_url 'portal_common.contact' %}">Contact</a></p>

<h4>Patient Stories</h4>

<p>Read stories from patients and their families on the Invitae blog.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="http://blog.invitae.com/patient-stories/">Patient Stories</a></p>
</div>
</div>
</div>
</div>

<div class="team-content" id="patient-status-content">
<div class="row">
<div class="col-md-9">
<h3>Convenient online tracking</h3>

<p>&nbsp;</p>

<p>We&rsquo;ve made it easy for you, through our online tracking system, to know exactly where your sample is in the testing process. You can also see your results online once your doctor has reviewed and released them.</p>

<p>If your physician entered your email address when they placed your test order with us, an email was sent to you with the information you need to establish your account. Your username for this account is your email address and you can set your password at the time you set up your account.</p>

<p>If you have lost your password, or failed to receive the account setup email, please contact our client services team.</p>

<h5>Creating an online account</h5>

<p>This video shows how to create an online account to track the status of your test.</p>

<div class="visible-sm visible-md visible-lg" style="margin:20px 0;text-align:center;"><iframe allowfullscreen="" allowtransparency="true" class="wistia_embed" frameborder="0" height="431" mozallowfullscreen="" msallowfullscreen="" name="wistia_embed" oallowfullscreen="" scrolling="no" src="//fast.wistia.net/embed/iframe/isrk6awe2f" webkitallowfullscreen="" width="640"></iframe><script src="https://fast.wistia.net/assets/external/E-v1.js" async></script></div>

<div class="visible-xs" style="margin:20px;"><a class="btn-color-bondi btn btn-lg wistia-popover[height=431,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/isrk6awe2f?popover=true"><span class="icon icon-angle-right"></span>WATCH VIDEO </a></div>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Share</h4>
<!-- AddThis Button BEGIN -->

<div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-facebook.png" width="30" /> </a> <a class="addthis_button_twitter"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-twitter.png" width="30" /></a> <a class="addthis_button_linkedin"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-linkedin.png" width="30" /> </a> <a class="addthis_button_email"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-email.png" width="30" /> </a> <a class="addthis_button_compact"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-addthis.png" width="30" /></a></div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script><script src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-54b624687e16c3fa" type="text/javascript" async></script><!-- AddThis Button END -->

<h4>Your Account</h4>

<p>Click here to create an account or login to your account.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="{% url 'portal_common.signin' %}">Sign In</a></p>

<h4>Contact Us</h4>

<p>Our client services team is happy to answer all your genetic testing questions.</p>

<p><a class="btn btn-color-bondi btn-md btn-center" href="{% page_url 'portal_common.contact' %}">Contact</a></p>

<h4>Patient Stories</h4>

<p>Read stories from patients and their families on the Invitae blog.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="http://blog.invitae.com/patient-stories/">Patient Stories</a></p>
</div>
</div>
</div>
</div>

<div class="team-content" id="patient-faq-content">
<div class="row">
<div class="col-md-9">
<h3>Genetic testing with Invitae</h3>

<p>&nbsp;</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is genetic testing?</h4>

<div class="expandable-content">
<p>Genetic testing analyzes your genes, which are the instructions encoded in your DNA. Your genes help determine your hair and eye color, height, and other physical traits that make you who you are. Genetic testing looks for variations in your genes that can lead to disease. You or your doctor might consider genetic testing for a variety of reasons, such as confirming a disease you are suspected to have or understanding the cause of a disease that runs in your family.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What are some different types of genetic testing?</h4>

<div class="expandable-content">
<p>Invitae offers both diagnostic and predictive testing. <i>Diagnostic testing</i> is performed to genetically confirm a disease that your doctor suspects you might have, based on your symptoms. <i>Predictive testing</i> involves performing genetic testing to determine your future risk of developing disease. If you have a family history of a specific disease that may be inherited &mdash; whether it&rsquo;s a rare inherited illness or a more common one, like cancer &mdash; your doctor may recommend predictive testing to clarify your risk of developing the disease in the future.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What types of genetic testing does Invitae offer?</h4>

<div class="expandable-content">
<p>Invitae specializes in genetic testing for inherited conditions related to a variety of medical disciplines, including cardiology, hereditary cancers, pediatrics, neurology, and hematology. For more details on our genetic testing, visit our <a href="{% page_url 'portal_common.test-catalog' %}"> Test Catalog</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What support does Invitae offer during the testing process?</h4>

<div class="expandable-content">
<p>We understand that making choices about genetic testing can sometimes be overwhelming. With Invitae, you&rsquo;ll find support every step of the way&mdash;before, during, and after testing. We put all of our resources to work for you so that you can focus on caring for yourself, your family, and your future.</p>

<p>Invitae&rsquo;s genetic testing services include:</p>

<ul class="bullet-list">
	<li>Genetic testing that&rsquo;s simple, convenient, and affordable</li>
	<li>Results within three weeks on average</li>
	<li>Expert analysis for clear understanding</li>
	<li>High-quality, affordable testing&mdash;including, in some cases, patient financial assistance programs</li>
	<li>Genetic counseling (with physician referral) to assist you in understanding your genetic test results</li>
	<li>If appropriate, family testing to clarify risk for your relatives</li>
	<li>Help with insurance and the billing process</li>
	<li>Convenient online access and the ability to track your sample throughout the testing process</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I know what type of genetic test is right for me?</h4>

<div class="expandable-content">
<p>Finding the right genetic test depends on your medical and family histories, your current medical conditions, and the kinds of answers you and your healthcare provider seek. Talk to your doctor about what type of genetic testing may be right for you, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team to learn more about your options.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if I am found to have a genetic variation and my family members want to get tested?</h4>

<div class="expandable-content">
<p>Your genetic test results may have health implications not only for you, but for your family as well.</p>

<p>Targeted testing for family members may help identify those who have the same genetic risks as you. If you receive genetic testing from Invitae, we provide testing for just $200 per gene for each family member. This testing is often covered by insurance. To learn more about test options for your family, please talk with your doctor or <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if my genetic test comes back negative or inconclusive?</h4>

<div class="expandable-content">
<p>If you receive a negative or inconclusive result on an Invitae test, your doctor may choose to test more genes related to the original indication for which you underwent testing. These additional genes can be requested for no additional charge within 90 days of when your doctor received the first test result. (Only genes available at the time of the original order are eligible.) More information about this program is available on our <a href="{% page_url 'portal_common.re-requisition' %}">Re-requisition</a> page.</p>
</div>
</div>

<h3>The genetic testing process at Invitae</h3>

<p>&nbsp;</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How does it work?</h4>

<div class="expandable-content">
<p>Invitae&#39;s clinical genetic tests must be ordered by a certified healthcare professional.</p>

<p>We want to make the genetic testing process as smooth as possible. Once you and your physician decide that genetic testing is right for you, a blood sample can be submitted to Invitae for testing. Many patients have their blood drawn at their local physician&rsquo;s office or laboratory. If you require assistance with having your blood drawn, Invitae offers a convenient service to have it drawn in your home at no additional charge. This sample collection service is offered throughout the US.</p>

<p>Upon receipt of your blood sample, a team of scientists, clinicians, and genetic counselors conducts the genetic test and works together to review the results and provide expert interpretation. Your genetic test results are then sent to your doctor.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I provide a blood sample?</h4>

<div class="expandable-content">
<p>Once you decide to proceed with testing and your doctor has ordered your test, you will need to provide a blood sample. This can be collected at your doctor&rsquo;s office or in your own home &mdash; whichever you prefer. Invitae&rsquo;s sample collection service is offered throughout the US at no additional charge.</p>

<p>To request a blood draw service, <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team. Appointments must be scheduled at least three days in advance. Invitae will ship a collection kit to your home or your doctor&rsquo;s office with all the necessary supplies and paperwork. This service is offered at no additional charge.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How long does it take to get my results?</h4>

<div class="expandable-content">
<p>We understand that patients would like to receive their genetic test results as soon as possible. With Invitae, your doctor will receive results within three weeks on average. Our online portal makes it easy for you to know exactly where your sample is in the testing process. You can also see your results online once your doctor has reviewed and released them. The Invitae online portal can be found on our <a href="{% url 'portal_common.signin' %}">Sign In</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I check the status of my test?</h4>

<div class="expandable-content">
<p>After your doctor has ordered a test for you with Invitae, you can sign in to our online portal to check the status of your test. You can also view your test results once your doctor releases them. The Invitae online portal can be found on our <a href="{% url 'portal_common.signin' %}"> Sign In</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I log in to my Invitae account?</h4>

<div class="expandable-content">
<p>If your doctor entered your email address when he or she placed your test order, then an email was sent to you with the information you need to establish your Invitae online portal account. Your username for this account is your email address; you can set your password at the time you create your account. The online portal can be found on our <a href="{% url 'portal_common.signin' %}"> Sign In</a> page.</p>

<p>If you have lost your password or failed to receive the account setup email, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if my doctor doesn&rsquo;t know about Invitae?</h4>

<div class="expandable-content">
<p>Invitae&#39;s genetic tests must be ordered by a certified healthcare professional. If you are interested in learning about our genetic testing services, our Client Services team would be happy to assist you by:</p>

<ul class="bullet-list">
	<li>Providing more information about the tests we offer</li>
	<li>Helping to facilitate a conversation with your doctor</li>
	<li>Connecting you with one of our genetic counselors, who can answer your questions about the overall genetic testing process and help you find a genetics professional to assist you</li>
</ul>

<p>To learn more, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team.</p>
</div>
</div>

<h3>Genetic counseling support through Invitae</h3>

<p>&nbsp;</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is a genetic counselor and why does my doctor want me to speak with one?</h4>

<div class="expandable-content">
<p>Genetic counselors are specially trained healthcare providers who can assist you in understanding your genetic test result and what it means for you and for your family members.</p>

<p>Many physicians refer their patients to genetic counselors in order to provide them with the opportunity to learn more details about genetic testing and to give them the chance to ask questions about the genetic testing process. When a genetic variant is identified, many physicians also appreciate the detailed manner in which genetic counselors help a patient to identify at-risk family members and provide the patient with resources about genetic testing that they can share with their relatives.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer genetic counseling services?</h4>

<div class="expandable-content">
<p>If you do not have access to a local genetic counselor, Invitae offers remote genetic counseling services by telephone or video. (These services are performed in accordance with state requirements governing the practice of tele-genetics.) Physician referral is required for Invitae&rsquo;s genetic counseling services. To learn more, click the Genetic Counseling tab at the top of this page. Invitae&rsquo;s genetic counseling services are currently offered only for our cancer genetic tests.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Are Invitae&rsquo;s genetic counselors board-certified and licensed?</h4>

<div class="expandable-content">
<p>Yes, Invitae employs genetic counselors certified by the American Board of Genetic Counseling. Invitae also employs genetic counselors licensed in every state with licensure requirements.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How much does genetic counseling cost?</h4>

<div class="expandable-content">
<p>We believe that genetic counseling is a very important part of the genetic testing process and are happy to offer this service at no additional charge.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I request a genetic counseling appointment?</h4>

<div class="expandable-content">
<p>Physician referral is required for Invitae&rsquo;s patient genetic counseling services. To learn more about how to connect with one of our genetic counselors, click the Genetic Counseling tab at the top of this page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What should I expect during my genetic counseling appointment?</h4>

<div class="expandable-content">
<p>During your counseling session, your genetic counselor will briefly review your medical history and ask you questions about your family medical history. Using this information, your genetic counselor will explain the genetic test that your doctor has ordered and discuss possible test results, including what those results may mean both for you and for your family members. Your genetic counselor will also explain how genetic testing is performed, assist you with submitting your DNA specimen (should you choose to proceed with testing), and review your genetic test results with you when they are complete.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can I prepare for my genetic counseling session?</h4>

<div class="expandable-content">
<p>Genetic counseling sessions are similar to other medical appointments. You should set aside one hour for your session and ensure that you are free from interruptions during this time.</p>

<p>Prior to your genetic counseling session, you may wish to ask your family members about your family medical history. It is most helpful if you ask them about any diagnosed medical conditions (such as cancer or heart disease) and the age at which each medical condition was diagnosed. You may also wish to ask them about the cause and age of death for deceased family members.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if I am adopted or do not know the details of my family medical history?</h4>

<div class="expandable-content">
<p>It is not uncommon for individuals to be adopted or to know very little medical information about a particular side of the family. Rest assured that your genetic counselor will work with whatever information you have available to you during the genetic testing process.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How long does a genetic counseling session take?</h4>

<div class="expandable-content">
<p>Genetic counseling sessions typically last one hour, but they may take more or less time depending on the number of questions you have for the genetic counselor.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What if I have questions about my medical care?</h4>

<div class="expandable-content">
<p>Any questions related to your medical care should be directed to your managing physician.</p>
</div>
</div>

<h3>Cost and insurance coverage</h3>

<p>&nbsp;</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does Invitae&rsquo;s genetic testing cost and is it covered by insurance?</h4>

<div class="expandable-content">
<p>Any test, one price<sup>*</sup>. Invitae&rsquo;s mission is to bring genetic information into mainstream medical practice to improve the quality of healthcare for billions of people. We believe in responsible testing based on established medical guidelines and we aim to be completely transparent with our pricing so that patients, clinicians, and payers know the cost of the test. Our pricing structure is:</p>

<ul class="bullet-list">
	<li>For non-contracted institutions and third-party payors <strong>for which Invitae is out of network</strong>, the price per indication will continue to be <strong>$1,500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>For <strong>institutions and distributors with whom we have contracts and for payors who bring Invitae in network</strong>, the price per indication will be <strong>$950</strong>.

	<ul class="bullet-list">
		<li>For more information about contract terms, please <a href="{% url 'portal_common.contact' %}">contact</a> Client Services.</li>
	</ul>
	</li>
	<li>For patients who have opted to pay up front, and whose clinician has ordered our genetic test online, the price per indication will be $475, beginning June 1.
	<ul class="bullet-list">
		<li>This is available as a prepaid option only and does not allow Invitae to submit to insurance.</li>
		<li>Patient agrees to register online and sets contact preferences.</li>
		<li>Patient assistance programs are not available for patient prepay option.</li>
		<li>Patient prepay orders must be placed online, including the requisition from the clinician.</li>
		<li>For international orders, the patient prepay option <strong>does not</strong> include shipping.</li>
	</ul>
	</li>
</ul>

<p>It is important to note that for patient pay pricing, we require patients to go through their healthcare provider to order our tests. Healthcare professionals are fundamental to ordering the right test for the right patient and in interpreting genetic information. Invitae believes that patients should own and control their own genetic information, thus we do not require our patients to sign their data away; we allow them to opt out and still receive the test. While genetic information is more valuable when shared, patients own their data and should decide what they want to do with it.</p>

<p>Invitae&#39;s genetic testing may be covered by your health insurance. You won&rsquo;t need to contact your insurance company to find out if testing is covered or to obtain reimbursement. Invitae will contact your insurance company directly to coordinate coverage and payment. You may receive an explanation of benefits (EOB) from your insurance company in the mail. This is not a bill. Invitae will also receive this EOB and will handle any appeals processes for you.</p>

<p>Medicare insurance may cover the cost of an Invitae test when specific criteria are met. Medicare only covers diagnostic testing, not testing based on family history alone or screening. If you are ordering a test that includes BRCA1 or BRCA2, you must meet BRCA testing criteria and have not previously had BRCA testing to qualify for coverage.</p>

<p>Even if your insurance plan doesn&rsquo;t cover testing, Invitae may be able to offer testing at limited or no expense to those who qualify for need-based financial assistance. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for more information.</p>

<p class="endnote"><sup>*</sup>Pricing per clinical condition: List price of $1500, with discount to $950 for institutions and distributors under contract with Invitae, as well as in-network providers. Upfront patient pay price is $475, effective June 1. Pricing outside the US does not include shipping fees. Please contact Client Services for more information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What payment options are available?</h4>

<div class="expandable-content">
<p>We offer the following billing options. To learn more about each of these choices, please visit our <a href="{% page_url 'portal_common.billing' %}">billing page</a>.</p>

<ul class="bullet-list">
	<li><strong>Patient pay</strong> &mdash; The patient can use a credit or debit card to pay for testing in full. We accept Visa, MasterCard, American Express, and JCB.</li>
	<li><strong>Institutional billing</strong> &mdash; Invitae will work with your institution to set up a contract if one is not already in place.</li>
	<li><strong>Third-party insurance</strong> &mdash; Invitae will bill insurance carriers on your behalf.</li>
	<li><strong>Medicare</strong> &mdash; Medicare coverage is available when specific criteria are met.</li>
</ul>

<p>Invitae may be able to offer assistance if you meet certain financial criteria. For more information, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our Client Services team.</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Share</h4>
<!-- AddThis Button BEGIN -->

<div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-facebook.png" width="30" /> </a> <a class="addthis_button_twitter"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-twitter.png" width="30" /></a> <a class="addthis_button_linkedin"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-linkedin.png" width="30" /> </a> <a class="addthis_button_email"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-email.png" width="30" /> </a> <a class="addthis_button_compact"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-addthis.png" width="30" /></a></div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script><script src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-54b624687e16c3fa" type="text/javascript" async></script><!-- AddThis Button END -->

<h4>Your Account</h4>

<p>Click here to create an account or login to your account.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="{% url 'portal_common.signin' %}">Sign In</a></p>

<h4>Contact Us</h4>

<p>Our client services team is happy to answer all your genetic testing questions.</p>

<p><a class="btn btn-color-bondi btn-md btn-center" href="{% page_url 'portal_common.contact' %}">Contact</a></p>

<h4>Patient Stories</h4>

<p>Read stories from patients and their families on the Invitae blog.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="http://blog.invitae.com/patient-stories/">Patient Stories</a></p>
</div>
</div>
</div>
</div>

<div class="team-content" id="patient-genetic-content">
<div class="row">
<div class="col-md-9">
<h3>Genetic counseling services at Invitae</h3>

<p>&nbsp;</p>

<p>At Invitae, we want to make sure that you receive all of the help and support you need&mdash;before, during, and after testing. That&rsquo;s why we have an experienced team of genetic counselors ready to assist you in understanding your genetic test result and what it means for you and for your family members.</p>

<p>Download our flyer or read below to learn more:</p>
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0138/1/-/-/-/-/F115-2_%20Flyer_%20GC_Services_Patient.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Genetic counseling services at Invitae </a>

<p>&nbsp;</p>

<p>Invitae genetic counseling consultations are complimentary and offered by telephone or video. The consultations often involve four steps:</p>

<div class="offset-panel">
<div class="number-color-willow2">1</div>

<h3>Referral</h3>

<p>Before your genetic counseling appointment:</p>

<ul class="bullet-list">
	<li>Your physician determines that genetic testing is appropriate and refers you to an Invitae genetic counselor.</li>
	<li>Invitae will contact you to set up a genetic counseling appointment by telephone or video.</li>
	<li>You may wish to prepare for your appointment by asking your family members about your family medical history, including the cause and age of death for deceased family members.</li>
</ul>
</div>

<div class="offset-panel">
<div class="number-color-emerald">2</div>

<h3>Genetic counseling</h3>

<p>During your pre-test genetic counseling appointment, your genetic counselor will:</p>

<ul class="bullet-list">
	<li>Discuss your medical history and family history.</li>
	<li>Review information about the genetic test your doctor ordered and explain how the testing is performed.</li>
	<li>Discuss possible test results and what those results would mean for you and for your family.</li>
	<li>Help to clarify issues of cost and insurance coverage.</li>
	<li>Provide a clinical summary of your genetic counseling session to you and your physician.</li>
</ul>
</div>

<div class="offset-panel">
<div class="number-color-mountain">3</div>

<h3>Testing</h3>

<p>Should you decide to proceed with genetic testing:</p>

<ul class="bullet-list">
	<li>Your genetic counselor will assist you with submitting your blood sample.</li>
	<li>Once your sample arrives at Invitae, the genetic testing will be completed within three weeks on average.</li>
</ul>
</div>

<div class="offset-panel">
<div class="number-color-bondi">4</div>

<h3>Results</h3>

<p>During your post-test genetic counseling appointment, your genetic counselor will:</p>

<ul class="bullet-list">
	<li>Review your genetic test results with you.</li>
	<li>Discuss what these results mean for you and your family members.</li>
	<li>Provide materials about genetic testing that you can share with your family members.</li>
	<li>Provide a clinical summary of your genetic counseling session to you and to your physician.</li>
</ul>
</div>

<p>Physician referral is required, so ask your doctor if you would like to speak with one of Invitae&rsquo;s genetic counselors. <i>Currently, genetic counseling services are available only for cancer genetic testing. Plans are being made for expansion into other areas, including cardiology</i>.</p>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Share</h4>
<!-- AddThis Button BEGIN -->

<div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-facebook.png" width="30" /> </a> <a class="addthis_button_twitter"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-twitter.png" width="30" /></a> <a class="addthis_button_linkedin"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-linkedin.png" width="30" /> </a> <a class="addthis_button_email"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-email.png" width="30" /> </a> <a class="addthis_button_compact"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-addthis.png" width="30" /></a></div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script><script src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-54b624687e16c3fa" type="text/javascript" async></script><!-- AddThis Button END -->

<h4>Your Account</h4>

<p>Click here to create an account or login to your account.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="{% url 'portal_common.signin' %}">Sign In</a></p>

<h4>Contact Us</h4>

<p>Our client services team is happy to answer all your genetic testing questions.</p>

<p><a class="btn btn-color-bondi btn-md btn-center" href="{% page_url 'portal_common.contact' %}">Contact</a></p>

<h4>Patient Stories</h4>

<p>Read stories from patients and their families on the Invitae blog.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="http://blog.invitae.com/patient-stories/">Patient Stories</a></p>
</div>
</div>
</div>
</div>

<div class="team-content" id="patient-resource-content">
<div class="row">
<div class="col-md-9">
<h3>Tools and resources</h3>

<p>&nbsp;</p>

<p>We have developed a variety of tools and resources to support you on your genetic testing journey. Here are a few to help you get started:</p>

<p>Draw your own family history today with Invitae&#39;s family history tool.</p>
<a class="btn btn-color-inherit btn-lg" href="{% page_url 'portal_common.family-history' %}"><span class="icon icon-pedigree"></span>Family History Tool </a>

<p>&nbsp;</p>

<p><strong>Download more information:</strong></p>
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-013d/1/-/-/-/-/B105-1_%20Patient%20Bifold.pdf" target="_blank"> <span class="icon icon-arrow-box-stop-down"></span>Genetic testing is a journey: Patient bifold </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-013c/1/-/-/-/-/F129-1_%20Flyer%20Patient%20FAQ.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>FAQ: Genetic testing with Invitae </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-013b/1/-/-/-/-/F126-1_Flyer-Patient-Whats-Next.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Genetic testing with Invitae: What&#39;s next? </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-013a/1/-/-/-/-/F113-3_%20Flyer_%20Financial%20Assistance.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Patient financial assistance </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0138/1/-/-/-/-/F115-2_%20Flyer_%20GC_Services_Patient.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Genetic counseling services at Invitae </a></div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Share</h4>
<!-- AddThis Button BEGIN -->

<div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-facebook.png" width="30" /> </a> <a class="addthis_button_twitter"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-twitter.png" width="30" /></a> <a class="addthis_button_linkedin"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-linkedin.png" width="30" /> </a> <a class="addthis_button_email"> <img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-email.png" width="30" /> </a> <a class="addthis_button_compact"><img class="icon" height="30" src="https://www.invitae.com/static/img/public/icon-addthis.png" width="30" /></a></div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script><script src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-54b624687e16c3fa" type="text/javascript" async></script><!-- AddThis Button END -->

<h4>Your Account</h4>

<p>Click here to create an account or login to your account.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="{% url 'portal_common.signin' %}">Sign In</a></p>

<h4>Contact Us</h4>

<p>Our client services team is happy to answer all your genetic testing questions.</p>

<p><a class="btn btn-color-bondi btn-md btn-center" href="{% page_url 'portal_common.contact' %}">Contact</a></p>

<h4>Patient Stories</h4>

<p>Read stories from patients and their families on the Invitae blog.</p>

<p><a class="btn btn-color-inherit btn-md btn-center" href="http://blog.invitae.com/patient-stories/">Patient Stories</a></p>
</div>
</div>
</div>
</div>
