<h3>Connect with genetics professionals through the Genetics Provider Network</h3>

<p>Invitae believes that genetic counseling is important for all patients considering genetic testing.</p>

<p>For healthcare professionals who would like to refer a patient for genetics services, Invitae offers the Genetics Provider Network (GPN). The GPN is a network of genetics professionals, including genetic counselors, geneticists, and genetic nurses, who are available throughout the US and Canada.</p>

<p>Through our network, we can help you identify a genetics provider in your local area who can provide genetic counseling to your patient. Genetics providers included in the GPN cover a broad range of genetics specialties and offer both face-to-face and remote consultations.</p>

<p>Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services if you would like to learn more about Invitae&rsquo;s Genetics Provider Network or be connected with providers in your area.</p>