<div class="row">
                <div class="col-md-12">
                    <div class="offset-panel">
                        <div class="number-color-mountain">3</div><h3>Send in sample</h3>

                        <p>Overnight your sample to us via FedEx - we'll cover the shipping.</p>

                        <br>
                        <h5>Sample &amp; Shipping Requirements:</h5>

                        <div class="list-content row">
                            <div class="col-md-2">
                                Sample Type
                            </div>
                            <div class="col-md-10">
                                We accept whole blood samples, no frozen, hemolyzed,
                                or clotted samples. If you are interested in analysis of genomic DNA extracted in other laboratories, please <a href="{% page_url 'portal_common.contact' %}">contact</a> our client services team to speak with one of our genetic counselors. Our genetic counselors would be happy to discuss the current benefits and limitations with you in the context of your specific case.

                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Volume
                            </div>
                            <div class="col-md-10">
                                We require a minimum of 3 mL whole blood in a single purple top tube (EDTA), regardless of how
                                many disorders you order. 3 mL is the minimum volume required for both adults and infants.
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Labeling
                            </div>
                            <div class="col-md-10">
                                Each tube must be labeled with patient name, date of birth, and sample collection date.
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Stability
                            </div>
                            <div class="col-md-10">
                                If stored at room temperature: up to 48 hours. If refrigerated: up to one week. Please do NOT
                                freeze the blood sample.
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Paperwork
                            </div>
                            <div class="col-md-10">
                                A printed copy of the online requisition form must be submitted with the
                                sample. You will be able to print a copy of the requisition form after you have
                                completed the online requisition process.
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Shipping
                            </div>
                            <div class="col-md-10">
                                Samples should be shipped overnight in accordance with the Federal Express Packaging Guidelines
                                for Clinical Samples. We recommend including cold packs to keep the sample at 2-8 degrees
                                Celsius. We accept packages Monday through Friday.
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Ship to
                            </div>
                            <div class="col-md-10">
                                Attn: Client Services<br>
                                Invitae Corporation<br>
                                475 Brannan St, Suite 230<br>
                                San Francisco, CA 94107
                            </div>
                        </div>
                        <div class="list-content row">
                            <div class="col-md-2">
                                Sample Collection Kits
                            </div>
                            <div class="col-md-10">
                                <a href="{% page_url 'portal_common.contact' %}" class="btn btn-color-inherit btn-sm btn-right">Contact</a>
                                To help assist with sample collection and shipping, customers can request an Invitae sample
                                collection kit be sent to them free of charge by contacting Client Services.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p> </p>
                                <a href="{% page_url 'portal_common.faq' %}" class="btn btn-color-inherit btn-sm btn-right">FAQ</a>
                                <p>More questions about ordering with us? Visit our <a href="{% page_url 'portal_common.faq' %}">FAQ page</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>