<div class="row">
<div class="col-md-12">
<h3>A escolha certa para o seu paciente.</h3>

<p>A Invitae está tornando mais fácil e acessível solicitar o teste de CMT correto para o seu paciente. Independentemente de você selecionar o painel de CMT completo ou um subtipo específico, é o mesmo preço<sup>*</sup> baixo e leva apenas três semanas, em média, da amostra até os resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0011' %}"><span class="icon icon-angle-right"></span>Doença de Charcot-Marie-Tooth, painel completo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0011' %}">Ver Teste</a>

<p>Um painel multigenes que inclui o CMT tipo 1, CMT tipo 2, CMT dominante intermediário, CMT tipo 4 e CMT tipo X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0012' %}"><span class="icon icon-angle-right"></span>CMT, autossômico dominante</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0012' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que têm um padrão de herança autossômica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0016' %}"><span class="icon icon-angle-right"></span>CMT, tipo 1</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0016' %}">Ver Teste</a>

<p>O CMT tipo 1 é uma forma desmielinizante do CMT com um padrão de herança autossômica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0103' %}"><span class="icon icon-angle-right"></span>CMT, tipo 2</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0103' %}">Ver Teste</a>

<p>O CMT tipo 2 é uma forma axonal do CMT com um padrão de herança predominantemente autossômica dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0105' %}"><span class="icon icon-angle-right"></span>CMT, dominante intermediário</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0105' %}">Ver Teste</a>

<p>O CMT dominante intermediário tem defeitos axonais e desmielinizantes e é herdado em um padrão autossômico dominante.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0013' %}"><span class="icon icon-angle-right"></span>CMT, autossômico recessivo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0013' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que têm um padrão de herança autossômica recessiva.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0106' %}"><span class="icon icon-angle-right"></span>CMT, tipo 4</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0106' %}">Ver Teste</a>

<p>O CMT tipo 4 é principalmente desmielinizante, embora um subconjunto de casos seja axonal. Todas as formas de CMT tipo 4 são autossômicas recessivas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0014' %}"><span class="icon icon-angle-right"></span>CMT, ligado ao X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0014' %}">Ver Teste</a>

<p>Esse teste inclui os subtipos de CMT que têm um padrão de herança ligada ao X.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0104' %}"><span class="icon icon-angle-right"></span>CMT, tipo X</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0104' %}">Ver Teste</a>

<p>O CMT tipo X tem uma apresentação intermediária, com defeitos axonais e desmielinizantes. Ele é herdado em um padrão ligado ao X.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cmt-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>
