<div class="container">
<div class="text-content text-center">
<div class="row">
<div class="col-xs-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
<h2 class="landing-section-header normal-font-weight">We're here to support you every step of the way</h2>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6">
<p class="landing-section-subhead"><span style="color:#828080;">Our dedicated team of experts is here to help you throughout the testing process. We can provide:</span></p>

<ul class="simple-bullet-list landing-page-bullets">
	<li>Suggestions for how to talk to your doctor and family about testing</li>
	<li>Information about common genetic conditions</li>
	<li>Genetic counseling to help you make sense of diagnosis</li>
	<li>Access to tools such as the Invitae Patients Insights Network (PIN)</li>
</ul>
<a href="{% page_url 'patients' %}" class="btn btn-lg landing-simple-button btn-color-mountain">LEARN MORE</a></div>

<div class="col-xs-8 col-sm-6 col-lg-5 col-xs-offset-2 col-sm-offset-0">
<div class="landing-section-image-container padded-image"><img class="landing-section-image landing-round-image" src="/static/img/patient_portal/patients-home-support.jpg"></div>
</div>
</div>
</div>
