<div class="container">
            <div class="text-content">
                <h2 class="landing-section-header normal-font-weight">What can genetic testing do for me?</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 patient-feature">
                    <span class="icon icon-existing gradient-icon-reverse"></span>
                    <p class="landing-text">Help you understand and manage an existing hereditary condition.</p>
                    <a href="{% page_url 'patient.existing_condition' %}" class="patient-feature-link">Learn more</a>
                </div>
                <div class="col-xs-12 col-sm-4 patient-feature">
                    <span class="icon icon-unexplained gradient-icon-reverse"></span>
                    <p class="landing-text">Provide insight into unexplained symptoms.</p>
                    <a href="{% page_url 'patient.unexplained_symptoms' %}" class="patient-feature-link">Learn more</a>
                </div>
                <div class="col-xs-12 col-sm-4 patient-feature">
                    <span class="icon icon-link gradient-icon-reverse"></span>
                    <p class="landing-text">Find out how DNA can affect your health and your family's health.</p>
                    <a href="{% page_url 'patient.health_risks' %}" class="patient-feature-link">Learn more</a>
                </div>
            </div>
        </div>