<script src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js" type="text/javascript"></script><script type="text/javascript">
   Recaptcha.focus_response_field = function(){return false;};
</script>
<div class="row">
<div class="col-md-12">
<h3>Sample collection kits, delivered to you</h3>

<p>To make the testing process as quick and&nbsp;simple as possible, Invitae can send you kits complete with all the materials needed to collect the sample. For customers in the United States, our kits come with a return shipping label included so you can ship the kits back to us at no cost. For sample requirements, please visit our <a href="{% page_url 'portal_common.sample-requirements' %}">Sample requirements</a> page.</p>

<p>We&rsquo;ll even auto-replenish your supply of collection kits so you&#39;re never left looking for the supplies you need. <a href="{% page_url 'portal_common.contact' %}">Contact</a> client services to learn more.</p>
</div>
</div>

<div class="row">
<div id="submission-success">Your Kit Request has been sent.</div>

<div class="col-md-12" id="kit-form-container">
<form accept-charset="UTF-8" action="{% url 'portal_common.request-kit-subscriber' %}" enctype="multipart/form-data" id="request-kit-form" method="post">
<div class="form-wrapper" style="margin:0"><input id="request-kit-hidden-country" name="request-kit-hidden-country" type="hidden" value="{{ user_country_value }}" /> <input id="request-kit-hidden-state" name="request-kit-hidden-state" type="hidden" value="{{ user_state_value }}" /> {% csrf_token %}
<div class="request-kit-info-wrapper">
<div class="contact-fields">
<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Blood kits</label> {{ form.number_kits }}</div>

<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Saliva kits</label> {{ form.number_saliva_kits }}</div>

<div class="request-kit-field-wrapper id_kit-first_name required {% if form.first_name.errors %}error{% endif %}"><label for="id_kit-first_name">First name</label> <input id="id_kit-first_name" name="kit-first_name" type="text" value="{{form.first_name.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-last_name required {% if form.last_name.errors %}error{% endif %}"><label for="id_kit-last_name">Last name</label> <input id="id_kit-last_name" name="kit-last_name" type="text" value="{{form.last_name.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-organization {% if form.organization.errors %}error{% endif %}"><label for="id_kit-organization">Organization</label> <input id="id_kit-organization" name="kit-organization" type="text" value="{{form.organization.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-persona required {% if form.persona.errors %}error{% endif %}"><label for="id_kit-persona">I am a:</label> {{ form.persona }}</div>

<div class="request-kit-field-wrapper id_kit-country required"><label for="id_kit-country">Country</label> <select class="styled-select__select" data-country="" data-country-value="#request-kit-hidden-country" data-long-value="true" data-states-selector="#id_kit-state" id="id_kit-country" name="kit-country"></select></div>

<div class="request-kit-field-wrapper id_kit-state"><label for="id_kit-state">State/Province</label> <select class="styled-select__select" id="id_kit-state" name="kit-state"><option value=""></option><option id="form_0024_fld_4-0" value="AL">Alabama</option><option id="form_0024_fld_4-1" value="AK">Alaska</option><option id="form_0024_fld_4-2" value="AZ">Arizona</option><option id="form_0024_fld_4-3" value="AR">Arkansas</option><option id="form_0024_fld_4-4" value="CA">California</option><option id="form_0024_fld_4-5" value="CO">Colorado</option><option id="form_0024_fld_4-6" value="CT">Connecticut</option><option id="form_0024_fld_4-7" value="DE">Delaware</option><option id="form_0024_fld_4-8" value="DC">District of Columbia</option><option id="form_0024_fld_4-9" value="FL">Florida</option><option id="form_0024_fld_4-10" value="GA">Georgia</option><option id="form_0024_fld_4-11" value="HI">Hawaii</option><option id="form_0024_fld_4-12" value="ID">Idaho</option><option id="form_0024_fld_4-13" value="IL">Illinois</option><option id="form_0024_fld_4-14" value="IN">Indiana</option><option id="form_0024_fld_4-15" value="IA">Iowa</option><option id="form_0024_fld_4-16" value="KS">Kansas</option><option id="form_0024_fld_4-17" value="KY">Kentucky</option><option id="form_0024_fld_4-18" value="LA">Louisiana</option><option id="form_0024_fld_4-19" value="ME">Maine</option><option id="form_0024_fld_4-20" value="MD">Maryland</option><option id="form_0024_fld_4-21" value="MA">Massachusetts</option><option id="form_0024_fld_4-22" value="MI">Michigan</option><option id="form_0024_fld_4-23" value="MN">Minnesota</option><option id="form_0024_fld_4-24" value="MS">Mississippi</option><option id="form_0024_fld_4-25" value="MO">Missouri</option><option id="form_0024_fld_4-26" value="MT">Montana</option><option id="form_0024_fld_4-27" value="NE">Nebraska</option><option id="form_0024_fld_4-28" value="NV">Nevada</option><option id="form_0024_fld_4-29" value="NH">New Hampshire</option><option id="form_0024_fld_4-30" value="NJ">New Jersey</option><option id="form_0024_fld_4-31" value="NM">New Mexico</option><option id="form_0024_fld_4-32" value="NY">New York</option><option id="form_0024_fld_4-33" value="NC">North Carolina</option><option id="form_0024_fld_4-34" value="ND">North Dakota</option><option id="form_0024_fld_4-35" value="OH">Ohio</option><option id="form_0024_fld_4-36" value="OK">Oklahoma</option><option id="form_0024_fld_4-37" value="OR">Oregon</option><option id="form_0024_fld_4-38" value="PA">Pennsylvania</option><option id="form_0024_fld_4-39" value="PR">Puerto Rico</option><option id="form_0024_fld_4-40" value="RI">Rhode Island</option><option id="form_0024_fld_4-41" value="SC">South Carolina</option><option id="form_0024_fld_4-42" value="SD">South Dakota</option><option id="form_0024_fld_4-43" value="TN">Tennessee</option><option id="form_0024_fld_4-44" value="TX">Texas</option><option id="form_0024_fld_4-45" value="UT">Utah</option><option id="form_0024_fld_4-46" value="VT">Vermont</option><option id="form_0024_fld_4-47" value="VA">Virginia</option><option id="form_0024_fld_4-48" value="WA">Washington</option><option id="form_0024_fld_4-49" value="WV">West Virginia</option><option id="form_0024_fld_4-50" value="WI">Wisconsin</option><option id="form_0024_fld_4-51" value="WY">Wyoming</option><option id="form_0024_fld_4-52" value="AB">Alberta</option><option id="form_0024_fld_4-53" value="BC">British Columbia</option><option id="form_0024_fld_4-54" value="MB">Manitoba</option><option id="form_0024_fld_4-55" value="NB">New Brunswick</option><option id="form_0024_fld_4-56" value="NL">Newfoundland and Labrador</option><option id="form_0024_fld_4-57" value="NS">Nova Scotia</option><option id="form_0024_fld_4-58" value="ON">Ontario</option><option id="form_0024_fld_4-59" value="PE">Prince Edward Island</option><option id="form_0024_fld_4-60" value="QC">Quebec</option><option id="form_0024_fld_4-61" value="SK">Saskatchewan</option> </select> <span class="help-text">If US or Canada</span></div>

<div class="request-kit-field-wrapper id_kit-city required {% if form.city.errors %}error{% endif %}"><label for="id_kit-city">City</label> <input id="id_kit-city" name="kit-city" type="text" value="{{form.city.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-zipcode required {% if form.zipcode.errors %}error{% endif %}"><label for="id_kit-zipcode">Zip code</label> <input id="id_kit-zipcode" name="kit-zipcode" type="text" value="{{form.zipcode.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-address1 required {% if form.address1.errors %}error{% endif %}"><label for="id_kit-address1">Address 1</label> <input id="id_kit-address1" name="kit-address1" type="text" value="{{form.address1.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-address2 {% if form.address2.errors %}error{% endif %}"><label for="id_kit-address2">Address 2</label> <input id="id_kit-address2" name="kit-address2" type="text" value="{{form.address2.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-phone required {% if form.phone.errors %}error{% endif %}"><label for="id_kit-phone">Work phone</label> <input id="id_kit-phone" maxlength="30" name="kit-phone" type="text" value="{{form.phone.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-cell_phone required {% if form.cell_phone.errors %}error{% endif %}"><label for="id_kit-cell_phone">Mobile phone</label> <input id="id_kit-cell_phone" maxlength="30" name="kit-cell_phone" type="text" value="{{form.cell_phone.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-email required {% if form.email.errors %}error{% endif %}"><label for="id_kit-email">Email</label> <input id="id_kit-email" maxlength="77" name="kit-email" type="text" value="{{form.email.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-specialty required {% if form.specialty.errors %}error{% endif %}"><label for="id_kit-specialty">Medical specialty:</label> {{ form.specialty }}</div>

<div class="request-kit-field-wrapper id_kit-captcha required {% if form.captcha.errors %}error{% endif %}"><label for="id_kit-captcha">Captcha:</label> {{ form.captcha }}</div>
</div>

<div style="clear:both;"></div>
</div>
<!-- .request-kit-info-wrapper --></div>
<!-- .form-wrapper --><input name="from_page" type="hidden" value="{{ from_page }}" /> <input name="alert-address" type="hidden" value="clinical@invitae.com" /><input id="campaignId" name="cmpid" type="hidden" /><input id="ao_campid" name="ao_campid" type="hidden" /></form>

<div class="submit-container"><button class="btn btn-md btn-color-inherit" id="submit-request-kit" type="button">Submit Kit Request</button></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>Blood draw services in the US and Canada</h3>

<p>Let us come to you or your patient. We can schedule a blood draw appointment at your office or at your patient&#39;s home. This service is offered in the US and Canada at no additional charge.</p>

<p>To request a blood draw service:</p>

<ul class="bullet-list">
	<li>Contact Client Services to schedule your appointment; appointments must be scheduled at least three days in advance.</li>
	<li>We will ship a collection kit to your office or to your patient&#39;s home with all the necessary supplies and paperwork to collect the sample.</li>
	<li>Your phlebotomist will arrive at your appointment and collect your sample using the materials from our kit.</li>
</ul>

<p>To make a blood draw appointment, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
<br style="clear:left;" />
<a class="btn btn-color-inherit btn-md" href="{% page_url 'portal_common.contact' %}">Contact</a></div>
</div>
