<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script><script type="text/javascript">
   Recaptcha.focus_response_field = function(){return false;};
</script>
<div class="row">
<div class="col-md-12">
<h3>Sample collection kits, delivered to you</h3>

<p>To make the testing process as quick and&nbsp;simple as possible, Invitae can send you kits complete with all the materials needed to collect the sample. For customers in the United States, our kits come with a return shipping label included so you can ship the kits back to us at no cost. For sample requirements, please visit our <a href="{% page_url 'portal_common.sample-requirements' %}">Sample requirements</a> page.</p>

<p>We&rsquo;ll even auto-replenish your supply of collection kits so you&#39;re never left looking for the supplies you need. <a href="{% page_url 'portal_common.contact' %}">Contact</a> client services to learn more.</p>
</div>
</div>

<div class="row">
<div id="submission-success">Your Kit Request has been sent.</div>

<div class="col-md-12" id="kit-form-container">
<form accept-charset="UTF-8" action="{% url 'portal_common.request-kit-subscriber' %}" enctype="multipart/form-data" id="request-kit-form" method="post">
<div class="form-wrapper" style="margin:0"><input id="request-kit-hidden-country" name="request-kit-hidden-country" type="hidden" value="{{ user_country_value }}" /> <input id="request-kit-hidden-state" name="request-kit-hidden-state" type="hidden" value="{{ user_state_value }}" /> {% csrf_token %}
<div class="request-kit-info-wrapper">
<div class="contact-fields">
<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Blood kits</label> {{ form.number_kits }}</div>

<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of Saliva kits</label> {{ form.number_saliva_kits }}</div>

<div class="request-kit-field-wrapper id_kit-first_name required {% if form.first_name.errors %}error{% endif %}"><label for="id_kit-first_name">First name</label> <input id="id_kit-first_name" name="kit-first_name" type="text" value="{{form.first_name.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-last_name required {% if form.last_name.errors %}error{% endif %}"><label for="id_kit-last_name">Last name</label> <input id="id_kit-last_name" name="kit-last_name" type="text" value="{{form.last_name.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-organization {% if form.organization.errors %}error{% endif %}"><label for="id_kit-organization">Organization</label> <input id="id_kit-organization" name="kit-organization" type="text" value="{{form.organization.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-persona required {% if form.persona.errors %}error{% endif %}"><label for="id_kit-persona">I am a:</label> {{ form.persona }}</div>

<div class="request-kit-field-wrapper id_kit-country required"><label for="id_kit-country">Country</label> <select class="styled-select__select" data-country="" data-country-value="#request-kit-hidden-country" data-long-value="true" data-states-selector="#id_kit-state" id="id_kit-country" name="kit-country"></select></div>

<div class="request-kit-field-wrapper id_kit-state"><label for="id_kit-state">State/Province</label> <select class="styled-select__select" data-state-value="#request-kit-hidden-state" data-state-value-without-country="true" id="id_kit-state" name="kit-state"></select></div>

<div class="request-kit-field-wrapper id_kit-city required {% if form.city.errors %}error{% endif %}"><label for="id_kit-city">City</label> <input id="id_kit-city" name="kit-city" type="text" value="{{form.city.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-zipcode required {% if form.zipcode.errors %}error{% endif %}"><label for="id_kit-zipcode">Zip code</label> <input id="id_kit-zipcode" name="kit-zipcode" type="text" value="{{form.zipcode.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-address1 required {% if form.address1.errors %}error{% endif %}"><label for="id_kit-address1">Address 1</label> <input id="id_kit-address1" name="kit-address1" type="text" value="{{form.address1.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-address2 {% if form.address2.errors %}error{% endif %}"><label for="id_kit-address2">Address 2</label> <input id="id_kit-address2" name="kit-address2" type="text" value="{{form.address2.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-phone required {% if form.phone.errors %}error{% endif %}"><label for="id_kit-phone">Work phone</label> <input id="id_kit-phone" maxlength="30" name="kit-phone" type="text" value="{{form.phone.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-cell_phone required {% if form.cell_phone.errors %}error{% endif %}"><label for="id_kit-cell_phone">Mobile phone</label> <input id="id_kit-cell_phone" maxlength="30" name="kit-cell_phone" type="text" value="{{form.cell_phone.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-email required {% if form.email.errors %}error{% endif %}"><label for="id_kit-email">Email</label> <input id="id_kit-email" maxlength="77" name="kit-email" type="text" value="{{form.email.value|default_if_none:''}}" /></div>

<div class="request-kit-field-wrapper id_kit-specialty required {% if form.specialty.errors %}error{% endif %}"><label for="id_kit-specialty">Medical specialty:</label> {{ form.specialty }}</div>

<div class="request-kit-field-wrapper id_kit-captcha required {% if form.captcha.errors %}error{% endif %}"><label for="id_kit-captcha">Captcha:</label> {{ form.captcha }}</div>
</div>

<div style="clear:both;"></div>
</div>
<!-- .request-kit-info-wrapper --></div>
<!-- .form-wrapper --><input name="from_page" type="hidden" value="{{ from_page }}" /> <input name="alert-address" type="hidden" value="clinical@invitae.com" /><input id="campaignId" name="cmpid" type="hidden" /><input id="ao_campid" name="ao_campid" type="hidden" /></form>

<div class="submit-container"><button class="btn btn-md btn-color-inherit" id="submit-request-kit" type="button">Submit Kit Request</button></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>Blood draw services in the US and Canada</h3>

<p>Let us come to you or your patient. We can schedule a blood draw appointment at your office or at your patient&#39;s home. This service is offered in the US and Canada at no additional charge.</p>

<p>To request a blood draw service:</p>

<ul class="bullet-list">
	<li>Contact Client Services to schedule your appointment; appointments must be scheduled at least three days in advance.</li>
	<li>We will ship a collection kit to your office or to your patient&#39;s home with all the necessary supplies and paperwork to collect the sample.</li>
	<li>Your phlebotomist will arrive at your appointment and collect your sample using the materials from our kit.</li>
</ul>

<p>To make a blood draw appointment, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
<br style="clear:left;" />
<a class="btn btn-color-inherit btn-md" href="{% page_url 'portal_common.contact' %}">Contact</a></div>
</div>
