<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script><script type="text/javascript">
    Recaptcha.focus_response_field = function(){return false;};
</script>
<div class="row">
<div class="col-md-12">
<h3>Specimen collection kits, delivered to you</h3>
<p>To make the testing process as quick and simple as possible, Invitae can send you kits complete with all the materials needed to collect the specimen.</p>

<p>The same kits can be used for both panel and exome testing. If ordering an exome trio or duo, please request three or two&nbsp;kits respectively. For a proband-only exome test, a single kit is sufficient.</p>

<p>For customers in the United States and Canada, our kits come with a return shipping label included so you can ship the kits back to us at no cost. For specimen requirements, please visit our <a href="{% page_url 'portal_common.sample-requirements' %}">Specimen requirements</a> page.</p>

<p>We&rsquo;ll even auto-replenish your supply of collection kits so you&#39;re never left looking for the supplies you need. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services to learn more.</p>
</div>
</div>

<div class="row">
<div class="col-md-12" id="submission-success">Your Kit Request has been sent.</div>
{% load request_kit_form %}{% request_kit_form %}</div>

<div class="row">
<div class="col-md-12">
<h3>Blood draw services in the US and Canada</h3>

<p>Saliva is the easiest specimen for patients to provide from home and enables results just as accurate as blood. However, if required, Invitae can arrange a blood draw for patients in the US or Canada at no additional charge.&nbsp;Contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a> to schedule your appointment; appointments must be scheduled at least three days in advance.</p>
</div>
</div>