<div class="row">
<div class="col-md-12">
<h3>Uma equipe incomparável.</h3>

<p>A Invitae reuniu uma equipe de mais de 130 dos mais destacados especialistas mundiais em genética, bioinformática, engenharia, tecnologia e desenvolvimento comercial, entre outras disciplinas. Em 2010, a Invitae foi estabelecida como Locus Development, Inc., que foi fundada por Sean George, Michele Cargill, Alex Furman e Mat Falkowski e mudou seu nome para Invitae Corporation em 2012.</p>

<p>Conheça a <a href="{% page_url 'portal_common.team' %}">equipe da Invitae</a>.</p>
</div>
</div>