<div class="row">
<div class="col-md-12">
<h3>Como tornar os testes genéticos mais baratos e acessíveis.</h3>

<p>Atualmente, a Invitae pode fornecer resultados para qualquer teste genético constante do <a href="{% page_url 'portal_common.test-catalog' %}"> nosso catálogo</a> por um mesmo preço<sup>*</sup> em um tempo médio de três semanas.</p>

<p>Como parte desse catálogo, a empresa atualmente oferece os seguintes painéis:</p>

<div style="margin-bottom:20px;" class="categories-section">
<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGIA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">CÂNCER<br>
HEREDITÁRIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGIA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGIA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">CATÁLOGO DE<br>
TESTES </span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
</div>

<p>Adicionalmente, a Invitae tem o compromisso de melhorar a saúde familiar utilizando o poder das informações genéticas e tecnologias inovadoras. A “Ferramenta do histórico familiar da Invitae” é um aplicativo gratuito de coleta de histórico familiar que permite que os conselheiros genéticos geneticistas digitalmente criem, modifiquem, compartilhem e gravem a linhagem dos seus pacientes.</p>

<p>Saiba mais sobre a <a href="{% page_url 'portal_common.family-history' %}">Ferramenta do histórico familiar</a>.</p>
</div>
</div>