<div class="row">
<div class="col-md-12">
<h3>Como tornar os testes genéticos mais baratos e acessíveis.</h3>

<p>Atualmente, a Invitae pode fornecer resultados para qualquer teste genético constante do <a href="{% page_url 'portal_common.test-catalog' %}"> nosso catálogo</a> por US$ 1.500 em um tempo médio de três semanas.</p>

<p>Como parte desse catálogo, a empresa atualmente oferece os seguintes painéis:</p>

<p>Painéis de câncer em destaque</p>

<ul class="bullet-list">
	<li>BRCA1 e BRCA2, incluindo sequenciamento genético completo e análise de deleção/duplicação</li>
	<li>Câncer de mama hereditário, painel de alto risco (7 genes)</li>
	<li>Câncer de mama hereditário, painel estendido (17 genes)</li>
	<li>Cânceres ginecológicos hereditários, painel de alto risco (9 genes)</li>
	<li>Cânceres de mama e ginecológicos hereditários (22 genes associados a câncer hereditário de mama, ovário e de endométrio/útero)</li>
	<li>Síndrome de Lynch (5 genes)</li>
	<li>Câncer de cólon hereditário, painel de alto risco (7 genes)</li>
	<li>Câncer de cólon hereditário (14 genes)</li>
	<li>Câncer de pâncreas hereditário (17 genes)</li>
	<li>Painel de síndromes de câncer hereditário (34 genes)</li>
</ul>

<p>Painéis de cardiologia em destaque</p>

<ul class="bullet-list">
	<li>Síndrome de Brugada (10 genes)</li>
	<li>Síndrome do QT longo (13 genes)</li>
	<li>Cardiomiopatia hipertrófica (16 genes)</li>
	<li>Síndrome do QT curto (6 genes)</li>
</ul>

<p>Painéis de neurologia em destaque</p>

<ul class="bullet-list">
	<li>Doença de Charcot-Marie-Tooth (28 genes) </li>
	<li>Paraplegia espástica hereditária (17 genes)</li>
</ul>

<p>Adicionalmente, a Invitae tem o compromisso de melhorar a saúde familiar utilizando o poder das informações genéticas e tecnologias inovadoras. A “Ferramenta do histórico familiar da Invitae” é um aplicativo gratuito de coleta de histórico familiar que permite que os conselheiros genéticos geneticistas digitalmente criem, modifiquem, compartilhem e gravem a linhagem dos seus pacientes.</p>

<p>Saiba mais sobre a <a href="{% page_url 'portal_common.family-history' %}">Ferramenta do histórico familiar</a>.</p>
</div>
</div>