<div class="container">
<h3 style="text-align: center;">Finding answers: more real stories about genetic disease</h3>

<div class="col-xs-12 col-sm-4 patient-feature">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-ghecemy' %}"><img alt="Ghecemy Lopez" class="rs-hero" src="/static/img/patient_portal/rs_ghecemy_lopez.jpg" /> <span class="rs-photo-container__caption">&ldquo;This is part of me, but it doesn&rsquo;t define me&rdquo; &mdash;Ghecemy Lopez</span> </a></div>
</div>

<div class="col-xs-12 col-sm-4 patient-feature">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-debbi' %}"><img alt="Debbi Crowder" class="rs-hero" src="/static/img/patient_portal/rs_debbi_crowder.jpg" /> <span class="rs-photo-container__caption">&ldquo;A hope for a healthier future&rdquo;<br />
&mdash;Debbi Crowder</span> </a></div>
</div>
</div>