<div class="row">
<div class="col-md-12">
<h3>Una prueba que se adapta a su paciente.</h3>

<p>nvitae ofrece una gama de opciones econ&oacute;micas para las pruebas de c&aacute;ncer de colon. Solicite para un solo trastorno, como el s&iacute;ndrome de Lynch, o mejore su opci&oacute;n con cualquiera de nuestros paneles de m&uacute;ltiples genes por el mismo precio<sup>*</sup>. S&oacute;lo tres semanas en promedio desde la muestra hasta los resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0053' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de Lynch</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">Ver Prueba</a>

<p>El S&iacute;ndrome de Lynch (SL) es la causa m&aacute;s com&uacute;n de c&aacute;ncer de colon hereditario. El SL confiere un riesgo en la vida del 80% para el c&aacute;ncer colorrectal y aumenta el riesgo de otros tipos de c&aacute;ncer, incluyendo c&aacute;ncer de est&oacute;mago, y c&aacute;ncer de endometrio y ovario en las mujeres.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0008' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer de colon hereditario de alto riesgo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">Ver Prueba</a>

<p>7 genes que confieren un alto riesgo de c&aacute;ncer colorrectal, que va desde el 80% hasta casi el 100% a lo largo de la vida.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0005' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer de colon hereditario</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">Ver Prueba</a>

<p>Un panel de 14 genes analiza la gen&eacute;tica de un paciente para s&iacute;ndromes de c&aacute;ncer colorrectal y de poliposis hereditarios.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&aacute;ncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se sabe est&aacute;n asociados con s&iacute;ndromes de c&aacute;ncer hereditario bien establecidos.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="colon-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure1" href="#"><span class="icon"></span>S&iacute;ndromes de c&aacute;ncer hereditario </a> <a class="figure2" href="#"> <span class="icon"></span>C&aacute;ncer de colon hereditario </a> <a class="figure3" href="#"> <span class="icon"></span>C&aacute;ncer de colon hereditario de alto riesgo </a> <a class="figure4" href="#"> <span class="icon"></span>S&iacute;ndrome de Lynch </a></div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">NF1&dagger;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>

<div class="check">&nbsp;</div>
</div>
</div>
</div>

<p class="fig-footnotes">
&dagger;NF1: Los exones 16-24, 31-35 no est&aacute;n incluidos en el an&aacute;lisis de eliminaci&oacute;n/duplicaci&oacute;n.</p>
</div>
</div>
