<div class="row">
<div class="col-md-12">
<h3>An unparalleled team.</h3>

<p>Invitae has assembled a team of more than 130 of the world’s foremost experts in genetics, bioinformatics, engineering, technology, and commercial development, among other disciplines. The company was founded in 2012 by CEO Randy Scott (co-founder of Genomic Health [Nasdaq: GHDX] and Incyte [Nasdaq: INCY]) through an investment in Locus Development, founded by Sean George, Michele Cargill, Alex Furman and Mat Falkowski.</p>

<p>Meet the <a href="{% page_url 'portal_common.team' %}">Invitae team</a>.</p>
</div>
</div>
