
<div class="row">
                <div class="col-md-12">
                    <h3>An unparalleled team.</h3>

                    <p>Invitae was founded in 2012 by CEO Randy Scott (co-founder of Genomic Health [Nasdaq: GHDX] and
                    Incyte [Nasdaq: INCY]) through an investment in Locus Development, founded by Sean George. They have
                    assembled a team of more than 100 of the world’s foremost experts in genetics, bioinformatics,
                    engineering, technology, and commercial development, among other disciplines.</p>

                    <p>Meet the <a href="{% page_url 'portal_common.team' %}">Invitae team</a>.</p>

                    <p>Since its inception, Invitae has collectively raised $87 million from investors, including
                    <a href="http://www.tm-partners.com">Thomas McNerney Partners</a>, Randy Scott,
                    <a href="http://www.genomichealth.com">Genomic Health, Inc.</a> (NASDAQ:
                    <a href="http://investor.genomichealth.com/stockquote.cfm">GHDX</a>),
                    <a href="http://www.genesyscapital.com">Genesys Capital</a>, <a href="http://www.casdincapital.com">Casdin Capital</a>,
                    Redmile Group, and others.</p>
                </div>
            </div>