<div class="row">
<div class="col-md-12">
<h3>Making genetic testing affordable and accessible.</h3>

<p>Today, Invitae can deliver results for any genetic test in <a href="{% page_url 'portal_common.test-catalog' %}"> our catalog</a> for one price<sup>*</sup> in an average of three weeks.</p>

<p>As a part of that catalog, the company currently offers genetic tests in five major disease areas:</p>

<div style="margin-bottom:20px;" class="categories-section">
<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGY</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">HEREDITARY<br>
CANCER</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">PEDIATRIC<br>
GENETICS</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGY</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGY</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">TEST<br>
CATALOG</span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
</div>

<p>Additionally, Invitae is committed to improving family health by leveraging the power of genetic information and innovative technologies. The “Invitae Family History Tool” is a free family history collection app that enables genetic counselors to digitally build, modify, share, and save their patients’ pedigrees.</p>

<p>Learn more about the <a href="{% page_url 'portal_common.family-history' %}">Family History Tool</a>.</p>
</div>
</div>
