<div class="row">
<div class="col-md-12">
<h3>An unparalleled team.</h3>

<p>Invitae has assembled a team of more than 130 of the world’s foremost experts in genetics,
                        bioinformatics, engineering, technology, and commercial development, among other disciplines.
                        Invitae was incorporated in 201​0 ​as Locus Development, Inc.​, which was founded by Sean George,
                        Michele Cargill, Alex Furman, and Mat Falkowski, ​and changed its name to Invitae Corporation
                        in 2012.
                    </p>

<p>Meet the <a href="{% page_url 'portal_common.team' %}">Invitae team</a>.</p>
</div>
</div>
