
<div class="row ">
<div class="col-md-12 ">
<h3>Making genetic testing affordable and accessible.</h3>

<p class="">Today, Invitae can deliver results for any genetic test in <a href="{% page_url 'portal_common.test-catalog' %}"> our catalog</a> for $1,500 in an average of three weeks.</p>

<p class="">As a part of that catalog, the company currently offers the following panels:</p>

<ul class="bullet-list">
	<li>BRCA1 and BRCA2, including full gene sequencing and deletion/duplication analysis</li>
	<li>Brugada syndrome (10 genes)</li>
	<li>Charcot-Marie Tooth disease (28 genes)</li>
	<li>Long QT syndrome (13 genes)</li>
	<li>Lynch syndrome (5 genes)</li>
	<li>Hereditary spastic paraplegia (17 genes)</li>
	<li>High-risk breast cancer panel (7 genes)</li>
	<li>High-risk hereditary colon cancers (7 genes)</li>
	<li>Hereditary colon cancers (14 genes)</li>
	<li>Hereditary pancreatic cancer (17 genes)</li>
	<li>Hereditary cancer syndromes panel (29 genes)</li>
	<li>Hypertrophic cardiomyopathy (16 genes)</li>
	<li>Short QT syndrome (6 genes)</li>
	<li>Women’s hereditary cancer panel (18 genes associated with hereditary breast, ovarian and endometrial cancer)</li>
</ul>

<p class="">Additionally, Invitae is committed to improving family health by leveraging the power of genetic information and innovative technologies. The “Invitae Family History Tool” is the first free family history collection app that enables genetic counselors to digitally build, modify, share, and save their patients’ pedigrees.</p>

<p class="">Learn more about the <a href="{% page_url 'portal_common.family-history' %}">Family History Tool</a>.</p></div></div>
