<h2>An unparalleled team</h2>

<p>Invitae has assembled a team of approximately 300 experts in genetics, bioinformatics, engineering, technology, and commercial development, among other disciplines. Our strong line-up of board-certified professionals is led by Chief Medical Officer Dr. Robert Nussbaum, a pioneer in medical genetics, and every Invitae report is reviewed by our team of PhD scientists, medical geneticist lab directors, and genetic counselors.</p>

<p>Meet the Invitae <a href="{% page_url 'portal_common.team' %}">medical</a> and <a href="https://ir.invitae.com/governance/management/default.aspx">leadership</a> teams.</p>
