<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5 image"><img src="/static/img/patient_portal/mac.jpg" alt="" class="img-responsive center-block"></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Online tracking</span></h2>

<p>We’ve made it easy for you, through our online tracking system, to know exactly where your sample is in the testing process. You can also see your results online once your doctor has reviewed and released them.</p>
<a href="{% url 'patient.signup' %}" class="btn btn-color-mountain btn-lg" id=""><span class="icon icon-angle-right"></span> SIGN UP</a></div>
</div>
