<div class="row">
<div class="col-md-12">
<h3>Licensing Information</h3>

<p>Invitae is a College of American Pathologists (CAP)-accredited and Clinical Laboratory Improvement Amendments (CLIA)-certified clinical diagnostic laboratory. We offer genetic testing in the US&nbsp;as well as&nbsp;internationally.</p>

<p>Some states require specialized licensure, you can download copies of Invitae&#39;s licenses from the table below. Visit our <a href="{% page_url 'portal_common.new-york' %}">New York approved</a> page to download the lists of tests and genes which are approved or under conditional approval by New York State to be performed at Invitae and do not require a New York exemption form.</p>

<h5><strong>San Francisco laboratory:</strong></h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Licenses and certifications</th>
			<th>No.</th>
		</tr>
		<tr>
			<td><a href=" http://marketing.invitae.com/acton/attachment/7098/f-014f/1/-/-/-/-/Invitae_College-of-American-Pathologists-%28CAP%29-Accreditation.pdf" target="_blank">College of American Pathologists (CAP) Accreditation</a></td>
			<td>LAP: 8770489, AU-ID: 1703789</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-014e/1/-/-/-/-/Invitae_Clinical-Laboratory-Improvement-Amendments-%28CLIA%29-Accreditation.pdf" target="_blank">Clinical Laboratory Improvement Amendments (CLIA) Certificate of Accreditation</a></td>
			<td>05D2040778</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-014d/1/-/-/-/-/Invitae_California-License.pdf" target="_blank">State of California License</a></td>
			<td>CLF00342667</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0150/1/-/-/-/-/Invitae_Florida-License.pdf" target="_blank">State of Florida License</a></td>
			<td>800026836</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0151/1/-/-/-/-/Invitae_Maryland-License.pdf" target="_blank">State of Maryland License</a></td>
			<td>1964</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-03d0/1/-/-/-/-/Invitae_NewYork-License.pdf" target="_blank">State of New York License</a></td>
			<td>PFI: 8884</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0152/1/-/-/-/-/Invitae_Pennsylvania-License.pdf" target="_blank">State of Pennsylvania License</a></td>
			<td>033007</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0153/1/-/-/-/-/Invitae_Rhode-Island-License.pdf" target="_blank">State of Rhode Island License</a></td>
			<td>LCO01081</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<h5><strong>Irvine laboratory:</strong></h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Licenses and certifications</th>
			<th>No.</th>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-37a42feb-8e66-4edb-999f-0f985fd58432/1/-/-/-/-/Invitae_Irvine_CAP_Accreditation.pdf" target="_blank">College of American Pathologists (CAP) Accreditation</a></td>
			<td>LAP: 7193645, AU-ID: 1440707</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-001eaf56-a0b3-419a-8d7b-b0a8df824e15/1/-/-/-/-/Invitae_Irvine_CLIA_accreditation.pdf" target="_blank">Clinical Laboratory Improvement Amendments (CLIA) Certificate of Accreditation</a></td>
			<td>05D1052995</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-619a1b6b-13a1-4f5d-a6d6-9797b245e44e/1/-/-/-/-/Invitae_Irvine_CA_license.pdf" target="_blank">State of California License</a></td>
			<td>CDF00334116</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-df05d29a-7418-4149-bd81-b82e85bf79d7/1/-/-/-/-/Invitae_Irvine_FL_license.pdf" target="_blank">State of Florida License</a></td>
			<td>800027710</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-ba0bb270-6885-4ac0-9472-d7df1e8da4a4/1/-/-/-/-/Invitae_Irvine_MD_license.pdf" target="_blank">State of Maryland License</a></td>
			<td>1489</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-1529c8ee-5505-4efd-ae6e-f5f88b65da75/1/-/-/-/-/Invitae_Irvine_NY_license.pdf" target="_blank">State of New York License</a></td>
			<td>PFI: 8428</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-304b1e45-d4e2-4abb-9a19-ca63813410ee/1/-/-/-/-/Invitae_Irvine_PA_license.pdf" target="_blank">State of Pennsylvania License</a></td>
			<td>30863</td>
		</tr>
		<tr>
			<td><a href="https://marketing.invitae.com/acton/attachment/7098/f-c680271b-39b4-48cc-b41b-1e8bf95bdfa8/1/-/-/-/-/Invitae_Irvine_RI_license.pdf" target="_blank">State of Rhode Island License</a></td>
			<td>LCO00533</td>
		</tr>
	</tbody>
</table>
</div>
</div>