<div class="row">
<div class="col-md-12">
<h3>Testes de variantes familiares</h3>

<p>O resultado de um teste gen&eacute;tico tem implica&ccedil;&otilde;es para a sa&uacute;de n&atilde;o s&oacute; para o indiv&iacute;duo, mas para uma fam&iacute;lia inteira.</p>

<p>Depois que um paciente recebe um resultado positivo de algum teste, os testes de variantes familiares podem ser usados para identificar outros membros da fam&iacute;lia com a mesma variante e fornecer informa&ccedil;&otilde;es sobre os seus riscos gen&eacute;ticos. Os membros da fam&iacute;lia com resultados positivos podem tomar decis&otilde;es fundamentadas sobre sua sa&uacute;de.</p>

<p>Os testes de variantes familiares da Invitae envolvem a an&aacute;lise completa do gene em que a variante original do membro da fam&iacute;lia foi identificado. O relat&oacute;rio incluir&aacute; o status da variante familiar bem como quaisquer outros variantes patog&ecirc;nicos ou provavelmente patog&ecirc;nicos identificados nesse gene.</p>

<p>Os testes de variantes familiares s&atilde;o fornecidos aos membros da fam&iacute;lia eleg&iacute;veis por apenas US$ 200 por gene, para cada membro da fam&iacute;lia testado. Em m&eacute;dia, os resultados est&atilde;o dispon&iacute;veis tr&ecirc;s semanas a partir do momento em que recebemos a amostra.</p>

<h4><strong>Quem &eacute; eleg&iacute;vel?</strong></h4>

<p>Um membro da fam&iacute;lia do paciente inicial &eacute; eleg&iacute;vel se todos os crit&eacute;rios a seguir forem cumpridos:</p>

<ul class="bullet-list">
	<li>O paciente original foi testado na Invitae</li>
	<li>Uma variante patog&ecirc;nica ou provavelmente patog&ecirc;nica foi identificado no relat&oacute;rio de testes do paciente original<sup>*</sup></li>
	<li>O membro da fam&iacute;lia est&aacute; em risco de apresentar a mesma variante</li>
</ul>

<p><sup>*</sup>Se o relat&oacute;rio do teste do paciente original identificou uma variante de significado incerto (VSI), a <a href="{% page_url 'portal_common.vus-resolution' %}">Resolu&ccedil;&atilde;o de VSI</a> pode estar dispon&iacute;vel, sem custo adicional, para os membros da fam&iacute;lia eleg&iacute;veis. Os membros da fam&iacute;lia dos pacientes que n&atilde;o se qualificarem para a Resolu&ccedil;&atilde;o de VSI sem custo adicional podem aproveitar as vantagens dos testes de variantes familiares.</p>

<h4><strong>E se o paciente original foi testado fora da Invitae?</strong></h4>

<p>Os testes de variantes familiares n&atilde;o est&atilde;o dispon&iacute;veis para as fam&iacute;lias se a variante patog&ecirc;nica do paciente original foi detectado por um laborat&oacute;rio diferente da Invitae. Para esses casos, oferecemos a an&aacute;lise de um &uacute;nico gene do gene inteiro em quest&atilde;o, pelo mesmo pre&ccedil;o de uma requisi&ccedil;&atilde;o nova.</p>

<p>Se voc&ecirc; quiser solicitar esse teste, exigimos um c&oacute;pia do resultado positivo do teste do membro da fam&iacute;lia para verificar se &eacute; prov&aacute;vel que a variante em quest&atilde;o seja detectado pelo nosso ensaio. Um controle positivo pode ser solicitado nos casos em que a nomenclatura da variante seja amb&iacute;gua ou quando a variante &eacute; de um tipo que pode ser refrat&aacute;rio &agrave; an&aacute;lise pelos m&eacute;todos NGS. A menos que um controle positivo seja explicitamente solicitado pela Invitae, amostras adicionais n&atilde;o ser&atilde;o analisadas.</p>

<h4><strong>Como solicitar testes de variantes familiares?</strong></h4>

<p>Forne&ccedil;a:</p>

<ul class="bullet-list">
	<li>The order number &ldquo;RQ number&rdquo; of the original proband</li>
	<li>Information on how the family member to be tested is related to the original proband</li>
	<li>A pedigree of affected family members (recommended)</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>O m&eacute;todo de contato prefer&iacute;vel &eacute; atrav&eacute;s do nosso sistema seguro de mensagens em sua conta on-line. Para acessar esse sistema, fa&ccedil;a login em sua conta, visualize o seu hist&oacute;rico de solicita&ccedil;&otilde;es e selecione o n&uacute;mero de solicita&ccedil;&atilde;o &quot;N&uacute;mero RQ&quot; do paciente original. Clique na guia &quot;Messages&quot; (Mensagens) para entrar em contato conosco sobre os testes de variantes familiares e carregue as informa&ccedil;&otilde;es do paciente de forma segura e compat&iacute;vel com as leis do HIPAA.</p>

<p>Voc&ecirc; tamb&eacute;m pode entrar em contato com o atendimento ao cliente para obter mais informa&ccedil;&otilde;es (n&atilde;o inclua registros m&eacute;dicos ou informa&ccedil;&otilde;es m&eacute;dicas na sua pergunta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Ferramenta de Hist&oacute;rico Familiar</a>

<p>Incentivamos o uso da Ferramenta de Hist&oacute;rico Familiar Invitae para enviar facilmente uma &aacute;rvore geneal&oacute;gica para este programa.<br />
Saiba mais sobre esse aplicativo gratuito.</p>
</div>
</div>
