<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5 image"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/mac.jpg" /></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Seguimiento en l&iacute;nea</span></h2>

<p>Nuestro sistema de seguimiento en l&iacute;nea hace que sea m&aacute;s f&aacute;cil para usted saber exactamente d&oacute;nde se encuentra su muestra en el proceso de estudio. Tambi&eacute;n puede ver sus resultados en l&iacute;nea una vez que su m&eacute;dico los haya revisado y divulgado.</p>

<p><a class="btn btn-color-mountain btn-lg wistia-popover[height=400,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/2x8vj7bo1t?popover=true" id=""><span class="icon icon-angle-right"></span>MIRE UN VIDEO</a></p>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<p><a class="btn btn-color-mountain btn-lg" href="{% url 'patient.signup' %}" id=""><span class="icon icon-angle-right"></span> INSCR&Iacute;BASE</a></p>
</div>
</div>