<div class="row">
<div class="col-md-12">
<h3>Preguntas frecuentes</h3>

<div class="faq-block">
<div class="faq-block__heading theme-one">Estudios genéticos con Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es un estudio genético?</h4>

<div class="expandable-content">
<p>Los estudios genéticos analizan los genes, que son las instrucciones codificadas en el ADN. Los genes ayudan a determinar el color del pelo y de los ojos, la estatura y otros rasgos físicos que nos caracterizan. Los estudios genéticos buscan variaciones en los genes que pueden potencialmente causar enfermedades. Usted o su médico pueden considerar realizar un estudio genético por una variedad de razones, como confirmar una enfermedad que posiblemente usted tenga o comprender la causa de una afección hereditaria.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué tipos diferentes de estudios genéticos existen?</h4>

<div class="expandable-content">
<p>Invitae ofrece estudios de diagnóstico y predictivos. Los estudios de diagnóstico se realizan para confirmar genéticamente una enfermedad que su médico sospecha que usted podría tener, en función de sus síntomas. Los estudios predictivos son aquellos que se realizan para determinar su futuro riesgo de desarrollar una enfermedad o afección. Si tiene antecedentes familiares de una enfermedad específica que puede ser hereditaria, ya sea que se trate de una enfermedad hereditaria rara o una más común, como el cáncer, su médico puede recomendarle que se realice un estudio predictivo para dilucidar su riesgo de desarrollar la enfermedad en el futuro.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué tipos de estudios genéticos ofrece Invitae?</h4>

<div class="expandable-content">
<p>Invitae se especializa en Estudios genéticos para afecciones hereditarias relacionadas con una variedad de disciplinas médicas, incluidas la cardiología, los cánceres hereditarios, la pediatría, la neurología y la hematología. Para obtener información más detallada sobre nuestros estudios genéticos, visite nuestra página de <a href="{% page_url 'portal_common.test-catalog' %}"> catálogo de estudios.</a></p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué apoyo ofrece Invitae durante el proceso de estudios?</h4>

<div class="expandable-content">
<p>Comprendemos que tomar decisiones acerca de los estudios genéticos puede algunas veces ser abrumador. Con Invitae, encontrará el apoyo que necesita en cada paso del recorrido, antes, durante y después del estudio. Ponemos todos nuestros recursos en funcionamiento para usted a fin de que pueda poner toda su atención en su propio cuidado y el cuidado de su familia y su futuro.</p>

<p>Los servicios de estudios genéticos de Invitae incluyen lo siguiente:</p>

<ul class="bullet-list">
	<li>Estudios genéticos simples, convenientes y económicos</li>
	<li>Resultados en aproximadamente tres semana</li>
	<li>Análisis a cargo de expertos para facilitar la comprensión</li>
	<li>Estudios de alta calidad y económicos, incluidos, en algunos casos, programas de financiamiento para el paciente</li>
	<li>Asesoramiento genético (con derivación del médico) para ayudarlo a comprender sus resultados de estudios genéticos</li>
	<li>Si corresponde, estudios para miembros de la familia para dilucidar los riesgos para sus familiares</li>
	<li>Ayuda con el seguro y el proceso de facturación en los Estados Unidos</li>
	<li>Acceso conveniente en línea y la capacidad de hacer un seguimiento de sus muestras durante todo el proceso de estudios</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo sé qué tipo de estudio genético es el correcto para mí?</h4>

<div class="expandable-content">
<p>Encontrar el estudio genético correcto depende de sus antecedentes médicos y familiares, sus afecciones médicas actuales, y los tipos de respuestas que usted y su médico estén buscando. Hable con su médico acerca de qué tipo de estudios genéticos son los adecuados para usted, o <a href="{% page_url 'patient.contact' %}">comuníquese</a> con nuestro equipo de Atención al Cliente para obtener más información acerca de sus opciones.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué sucede si se descubre que tengo una variante genética y mis familiares desean realizarse un estudio?</h4>

<div class="expandable-content">
<p>Los resultados de sus estudios genéticos pueden tener consecuencias no solo para usted sino también para su familia.</p>

<p>Si usted recibe resultados positivos de un estudio de Invitae, los estudios de variantes familiares específicas pueden ayudar a identificar a otros familiares con la misma variante genética y entregarles información sobre sus riesgos genéticos. Para obtener más información acerca de las opciones de estudios para su familia, hable con su médico o comuníquese con nuestro equipo de Atención al Cliente.</p>

<p>Los estudios de variantes familiares de Invitae involucran un análisis completo del gen en el cual fue identificada la variante del miembro original de la familia. El reporte incluirá el estado de la variante familiar, así como también cualquier otra variante(s) identificada en el gen, que sean causantes o probablemente causantes de enfermedad.</p>

<p>Los estudios de variantes familiares son ofrecidos a miembros elegibles de la familia a $200 por gen por familiar estudiado. En promedio, los resultados están disponibles en tres semanas desde que recibimos la muestra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Quiénes son elegibles para los estudios de variantes familiares?</h4>

<div class="expandable-content">
<p>Un miembro de la familia del paciente original es elegible si cumple con las siguientes condiciones:</p>

<ul class="bullet-list">
	<li>El paciente original fue estudiado en Invitae*</li>
	<li>En el reporte del paciente original fue identificada una variante causante o probablemente causante de enfermedad**</li>
	<li>El familiar está en riesgo por ser portador de la misma variante</li>
</ul>

<p>*Los estudios de variantes familiares no están disponibles para familias en las que la variante del paciente original fue encontrada por un laboratorio distinto de Invitae.</p>

<p>**Si el reporte del paciente original identificó una variante de significancia invierta (VUS, por sus siglas en inglés), podría estar disponible la Resolución de VUS sin cargo adicional para los familiares elegibles. Los familiares de pacientes que no califican para Resolución de VUS sin costo, pueden beneficiarse de los Estudios de Variantes Familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué sucede si mi estudio genético tiene un resultado negativo o no concluyente?</h4>

<div class="expandable-content">
<p>Si recibe un resultado negativo o no concluyente en un estudio de Invitae, su médico puede decidir analizar otros genes relacionados con la área clínica original por la cual usted se sometió al estudio. Estos genes agregados se pueden solicitar sin cargo adicional dentro de los 90 días posteriores a la recepción del resultado del primer estudio por parte del médico. (Solo son elegibles los genes disponibles en el momento del informe original). Se encuentra disponible más información acerca de este programa en nuestra página de solicitud de genes adicionales en <a href="{% page_url 'portal_common.re-requisition' %}">invitae.com/solicitud-de-genes-adicionales</a>.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-two">El proceso de estudio genético en Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo funciona?</h4>

<div class="expandable-content">
<p>Los estudios genéticos clínicos de Invitae deben ser ordenados por un profesional de atención médica certificado y autorizado.</p>

<p>Queremos que el proceso de las pruebas genéticas sea lo más sencillo posible. Una vez que usted y su médico hayan decidido cuál es la prueba genética correcta para usted, se enviará una muestra de sangre o saliva a Invitae para su análisis.</p>

<p>Muchos pacientes se realizan la extracción de sangre en el consultorio de su médico o laboratorio local. Si necesita ayuda con la extracción de sangre, Invitae ofrece un servicio conveniente para realizar la extracción en su domicilio sin costo adicional. Este servicio de recolección de muestras se ofrece en los Estados Unidos y Canadá.</p>

<p>Al momento de la recepción de la muestra de sangre, un equipo de científicos, clínicos y asesores genéticos lleva a cabo el estudio genético y trabaja en conjunto para revisar los resultados y proporcionar interpretación experta. Luego los resultados del estudio genético se envían a su médico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo proporciono una muestra?</h4>

<div class="expandable-content">
<p>Una vez que ha decidido realizarse la prueba y su médico haya ordenado la prueba, deberá proporcionar una muestra de sangre o saliva.</p>

<p>Si decide proporcionar una muestra de saliva, el médico puede solicitar que Invitae le envíe un kit de recolección de muestras de saliva al consultorio de su médico o a su casa.</p>

<p>Si está en los EE. UU. o Canadá y decide proporcionar una muestra de sangre, se puede recolectar en el consultorio de su médico o en su casa, lo que usted prefiera. Para solicitar el servicio de extracción de sangre dentro de los EE. UU. o Canadá, <a href="{% page_url 'patient.contact' %}">comuníquese</a> con nuestro equipo de Atención al cliente. Debe programar la cita al menos tres días antes. Invitae enviará el kit de recolección a su casa o al consultorio del médico con todos los insumos y la documentación necesarios. Ofrecemos este servicio sin cargo extra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuánto tiempo demoran en estar listos los resultados?</h4>

<div class="expandable-content">
<p>Comprendemos que a los pacientes les gustaría recibir los resultados de su estudio genético lo antes posible. Con Invitae, su médico recibirá los resultados en el plazo de aproximadamente tres semanas. Nuestro portal en línea le permite saber exactamente dónde está su muestra durante el proceso de estudio. También puede ver sus resultados en línea una vez que su médico los haya revisado y publicado. El portal en línea de Invitae se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo reviso el estado de mi estudio?</h4>

<div class="expandable-content">
<p>Después de que su médico haya ordenado una prueba para usted con Invitae, usted puede iniciar sesión en nuestro portal en línea para revisar el estado de su estudio. También puede revisar los resultados de su estudio una vez que su médico los haya publicado. El portal en línea de Invitae se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo inicio sesión en mi cuenta de Invitae?</h4>

<div class="expandable-content">
<p>Si su médico ingresó su dirección de correo electrónico cuando colocó su solicitud de estudio, entonces se le envió un correo electrónico a usted con la información que necesita para establecer su cuenta del portal en línea de Invitae. Su nombre de usuario para esta cuenta es su dirección de correo electrónico; usted puede establecer su contraseña en el momento en que cree su cuenta. El portal en línea se encuentra en <a href="{% url 'patient.signin' %}">invitae.com/common/signin</a>.</p>

<p>Si perdió su contraseña o no recibió en mensaje de correo electrónico para establecer la cuenta, <a href="{% page_url 'patient.contact' %}">comuníquese</a> con nuestro equipo de Atención al Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué sucede si mi médico no sabe acerca de Invitae?</h4>

<div class="expandable-content">
<p>Los estudios genéticos de Invitae deben ser ordenados por un profesional de atención médica certificado. Si usted está interesado en obtener información acerca de nuestros servicios de estudios genéticos, nuestro equipo de Atención al Cliente con gusto lo ayudará de la siguiente manera:</p>

<ul class="bullet-list">
	<li>Le proporcionará más información acerca de los estudios que ofrecemos</li>
	<li>Lo ayudará a facilitar una conversación con su médico</li>
	<li>Lo conectará con uno de nuestros asesores genéticos, quien podrá responder sus preguntas acerca del proceso general de estudios genéticos y lo ayudará a encontrar profesionales especialistas en genética para que lo ayuden</li>
</ul>

<p>Para obtener más información, <a href="{% page_url 'patient.contact' %}">comuníquese</a> con nuestro equipo de Atención al Cliente.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-three">Apoyo de asesoramiento genético a través de Invitae</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es un asesor genético y por qué mi médico quiere que yo hable con uno?</h4>

<div class="expandable-content">
<p>Los asesores genéticos son proveedores de atención médica especialmente capacitados que pueden ayudarlo a comprender los resultados de sus Estudios genéticos y lo que significan para usted y para sus familiares.</p>

<p>Muchos médicos derivan sus pacientes a asesores genéticos a fin de ofrecerles la oportunidad de aprender más acerca de sus estudios genéticos y para darles la posibilidad de hacer preguntas acerca del proceso de estudios genéticos. Cuando se define una variante genética, muchos médicos también valoran la manera detallada en la que los asesores genéticos ayudan al paciente a identificar a miembros de la familia en riesgo y le proporcionan recursos acerca de los estudios genéticos que pueden compartir con sus familiares.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Ofrece Invitae servicios de asesoramiento genético?</h4>

<div class="expandable-content">
<p>Si usted no tiene acceso a un asesor genético local, Invitae ofrece servicios de asesoramiento genético remoto por teléfono o video. (En los Estados Unidos, estos servicios se realizan de acuerdo con los requisitos estatales que rigen la práctica de la telegenética). Para los servicios de asesoramiento genético de Invitae se requiere derivación del médico. Para obtener más información, visite la página web de los servicios de asesoramiento genético en <a href="{% page_url 'portal_common.gc-services' %}">invitae.com/servicios-asesoramiento-genetico</a>. Los servicios de asesoramiento genético de Invitae se ofrecen actualmente solo para nuestros estudios genéticos de cáncer.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Están los asesores genéticos de Invitae acreditados y certificados por el consejo correspondiente en los Estados Unidos?</h4>

<div class="expandable-content">
<p>Sí. Invitae emplea asesores genéticos certificados por el American Board of Genetic Counseling (Consejo Americano de Asesoría Genética). Invitae también emplea asesores genéticos con licencia en cada estado de los Estados Unidos con requisitos de licenciatura.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuánto cuesta el asesoramiento genético?</h4>

<div class="expandable-content">
<p>Consideramos que el asesoramiento genético es una parte muy importante del proceso de estudios genéticos y nos alegra poder ofrecer este servicio sin costo adicional.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo solicito una cita para asesoramiento genético?</h4>

<div class="expandable-content">
<p>Para los servicios de asesoramiento genético para el paciente de Invitae se requiere derivación del médico. Para obtener más información acerca de cómo comunicarse con uno de nuestros asesores genéticos, visite nuestra página de <a href="{% page_url 'portal_common.gc-services' %}">servicios de asesoramiento genético</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué debo esperar durante mi cita de asesoramiento genético?</h4>

<div class="expandable-content">
<p>Durante su sesión de asesoramiento, su asesor genético revisará brevemente su historia clínica y le hará preguntas acerca de sus antecedentes médicos familiares. Usando esta información, el asesor genético le explicará el estudio genético que su médico ha ordenado y analizará los posibles resultados, incluso lo que significan dichos resultados tanto para usted como para sus familiares. Su asesor genético también le explicará la forma en que se realizan los estudios genéticos, lo ayudará con el envío de sus muestra de ADN (en caso de que decida llevar a cabo el análisis), y revisará los resultados con usted una vez que se hayan completado.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo debo prepararme para mi sesión de asesoramiento genético?</h4>

<div class="expandable-content">
<p>Las sesiones de asesoramiento genético son similares a cualquier otra cita médica. Debe disponer de una hora para su sesión y asegurarse de que no habrá interrupciones durante este tiempo.</p>

<p>Antes de la sesión de asesoramiento genético, tal vez desee preguntar a sus familiares acerca de sus antecedentes médicos familiares. Es particularmente útil preguntarles acerca de cualquier afección médica (como cáncer o enfermedad cardíaca) y la edad en la que se diagnosticó cada afección médica. Tal vez también desee preguntar acerca de la causa y edad de muerte de familiares fallecidos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué sucede si soy adoptado o no conozco detalles de mis antecedentes médicos familiares?</h4>

<div class="expandable-content">
<p>Es bastante frecuente que las personas sean adoptadas o tengan muy poca información médica acerca de un lado particular de la familia. Tenga la seguridad de que su asesor genético trabajará con cualquier información que usted tenga disponible durante el proceso de estudio genético.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuánto tiempo toma una sesión de asesoramiento genético?</h4>

<div class="expandable-content">
<p>Las sesiones de asesoramiento genético, por lo general, duran una hora, pero pueden extenderse más o durar menos dependiendo de la cantidad de preguntas que usted tenga para hacerle a su asesor genético.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué sucede si tengo preguntas acerca de mi atención médica?</h4>

<div class="expandable-content">
<p>Toda pregunta relacionada con su atención médica debe dirigirse al médico encargado de su caso.</p>
</div>
</div>
</div>

<div class="faq-block">
<div class="faq-block__heading theme-four">Costo y cobertura de seguro</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuánto cuestan los estudios genéticos de Invitae?</h4>

<div class="expandable-content">
<p>La misión de Invitae es llevar la información genética a la práctica médica corriente a fin de mejorar la calidad de la atención de la salud para miles de millones de personas. Creemos en el análisis responsable basado en pautas médicas establecidas y aspiramos a ser completamente transparentes con nuestros precios para que pacientes, médicos y pagadores sepan el costo del estudio. En los Estados Unidos, nuestra estructura de precios es por área clínica*:</p>

<ul class="bullet-list">
	<li>$1500 - Precio de lista</li>
	<li>$950 - Precio de contrato institucional, para proveedores dentro de la red y para distribuidores</li>
	<li>$475 - Precio de pago del paciente
	<ul class="bullet-list">
		<li>El paciente acepta registrarse en línea y establecer preferencias de contacto.</li>
		<li>Los programas de ayuda para el paciente no se encuentran disponibles para las opciones de prepago del paciente.</li>
		<li>Las órdenes de prepago del paciente deben realizarse en línea, incluida la solicitud del médico clínico.</li>
		<li>Para órdenes internacionales, la opción de prepago del paciente no incluye el envío.</li>
	</ul>
	</li>
</ul>

<p>Invitae trabaja con distribuidores locales en países fuera de los Estados Unidos. <a href="{% page_url 'patient.contact' %}">Comuníquese</a> con nuestro equipo de Atención al Cliente para que lo contactemos con su distribuidor local y para conocer los precios en su área.</p>

<p>Es importante tener en cuenta que para los precios de pago del paciente tanto dentro como fuera de los Estados Unidos, los pacientes deben visitar a su proveedor de atención médica para solicitar nuestras pruebas. Los profesionales de atención médica son fundamentales para ordenar el estudio correcto para el paciente correcto y para interpretar la información genética. Invitae considera que los pacientes deben poseer y controlar su propia información genética; por consiguiente, no les exigimos a nuestros pacientes que cedan sus datos; les permitimos excluirse y aún así recibir el estudio. Si bien la información genética es más valiosa cuando se comparte, los pacientes poseen sus propios datos y deben decidir qué quieren hacer con ellos.</p>

<p class="endnote"><sup>*</sup>Precio por área clínica: Precio de lista de $1500, con descuento hasta $950 para instituciones y distribuidores con contrato con Invitae, así como también para proveedores dentro de la red. El precio de pago del paciente por adelantado es de $475. El precio fuera de los Estados Unidos no incluye las tarifas de envío. Para obtener más información, <a href="{% page_url 'patient.contact' %}">comuníquese </a> con nuestro equipo de Atención al Cliente.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Están los estudios genéticos de Invitae cubiertos por el seguro en los Estados Unidos?</h4>

<div class="expandable-content">
<p>Es posible que su seguro médico cubra los estudios genéticos de Invitae. No será necesario que se comunique con su compañía de seguros para averiguar si los estudios están cubiertas ni para obtener un reembolso. Invitae se comunicará con su compañía de seguros directamente para coordinar la cobertura y el pago. Posiblemente reciba una explicación de beneficios (explanation of benefits, EOB) de su compañía de seguros por correo. No se trata de una factura. Invitae también recibirá esta EOB y manejará cualquier proceso de apelación en su nombre.</p>

<p>El seguro de Medicare puede cubrir el costo de un estudio de Invitae cuando se cumplen ciertos criterios específicos. Medicare solo cubre estudios de diagnóstico, no estudios basados en antecedentes familiares únicamente o de detección. Si solicita un estudio que incluye BRCA1 o BRCA2, debe cumplir con los criterios de pruebas de BRCA y no haberse realizado anteriormente una prueba de BRCA para reunir los requisitos de cobertura.</p>

<p>Incluso si su plan de seguro no cubre el estudio, Invitae puede ofrecer estudios sin costo o a un costo limitado para aquellas personas que reúnen los requisitos para asistencia financiera basada en la necesidad. Para obtener más información, <a href="{% page_url 'patient.contact' %}">comuníquese</a> con Atención al Cliente llamando.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Están los estudios genéticos de Invitae cubiertos por el seguro fuera de los Estados Unidos?</h4>

<div class="expandable-content">
<p>Es posible que su seguro médico no estadounidense cubra los estudios genéticos de Invitae. Comuníquese con su proveedor de seguros local para averiguar si usted reúne los requisitos para cobertura y, si es así, cómo debe solicitarlo. Si no reúne los requisitos, comuníquese con su proveedor de atención médica para ver si una opción de pago por parte del paciente es correcta para usted.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué opciones de pago están disponibles?</h4>

<div class="expandable-content">
<p>Ofrecemos las siguientes opciones de facturación. Para obtener más información acerca de cada una de estas opciones, visite nuestra <a href="{% page_url 'portal_common.billing' %}">página de facturación</a>.</p>

<ul class="bullet-list">
	<li><strong>Pago por parte del paciente:</strong> — el paciente puede usar una tarjeta de crédito o débito para pagar el estudio en su totalidad. Aceptamos Visa, MasterCard, American Express y JCB.</li>
	<li><strong>Facturación institucional:</strong> — Invitae trabajará con su institución para establecer un contrato si es que no hay uno ya vigente.</li>
	<li><strong>Seguro de tercero (Estados Unidos):</strong> — Invitae facturará directamente a su compañía de seguro médico en su nombre.</li>
	<li><strong>Medicare (Estados Unidos):</strong> — la cobertura de Medicare está disponible cuando se cumplen criterios específicos.</li>
</ul>

<p>Invitae puede ofrecer asistencia si usted cumple con ciertos criterios financieros. Para obtener más información, <a href="{% page_url 'patient.contact' %}">comuníquese</a> con nuestro equipo de Atención al Cliente.</p>
</div>
</div>
</div>
</div>
</div>
