<div class="row">
<div class="col-md-12">
<h3>BRCA e muito mais à sua conveniência.</h3>

<p>Novas opções de testes para câncer de mama e de ovário hereditários e de endométrio/útero. Solicite os genes BRCA isoladamente ou faça um upgrade para qualquer um dos nossos painéis com múltiplos genes pelo mesmo preço<sup>*</sup>. São apenas três semanas, em média, desde a coleta até os resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0089' %}"><span class="icon icon-angle-right"></span>Síndrome de câncer hereditário de mama e ovário</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">Ver teste</a>

<p>O BRCA1 e o BRCA2 são responsáveis por ~50% dos casos de câncer de mama e ovário em mulheres com forte histórico familiar ou diagnóstico de início precoce. Nosso teste inclui sequenciamento genético completo e deleção/duplicação.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0009' %}"><span class="icon icon-angle-right"></span> Câncer de mama hereditário, painel de alto risco</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">Ver teste</a>

<p>Abrange doenças causadas por 7 genes que conferem um risco elevado de câncer de mama ao longo da vida, variando de 40% a 90%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0020' %}"><span class="icon icon-angle-right"></span>Câncer de mama hereditário, painel de risco moderado</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">Ver teste</a>

<p>Esse painel inclui 10 genes que foram associados a um risco moderado do desenvolvimento de câncer de mama.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0021' %}"><span class="icon icon-angle-right"></span>Câncer de mama hereditário, painel estendido</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">Ver teste</a>

<p>Esse painel abrange 17 genes associados a um risco elevado de desenvolvimento de câncer de mama ao longo da vida, além de outros tipos de câncer.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0022' %}"><span class="icon icon-angle-right"></span>Cânceres ginecológicos hereditários, painel de alto risco</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">Ver teste</a>

<p>Engloba 9 genes com diretrizes de tratamento publicadas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0007' %}"><span class="icon icon-angle-right"></span>Cânceres de mama e ginecológico hereditários</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">Ver teste</a>

<p>(Anteriormente, Painel de cânceres hereditários em mulheres) painel com 22 genes que analisa a genética de uma paciente com relação à ocorrência de câncer hereditário de mama e ovário e de endométrio e útero.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Síndromes de câncer hereditário</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver teste</a>

<p>Testa 34 genes comprovadamente associados às síndromes bem estabelecidas de câncer hereditário.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="brca-testing-figure">
<div class="content"> </div>
</div>

<p class="fig-footnotes"><sup>*</sup> NF1: Os exons 16-24, 31-35 não estão incluídos na análise de deleção/duplicação<br>
<sup>*</sup> PMS2: os exons 12-15 não estão incluídos na análise de deleção/duplicação</p>
</div>
</div>
