<div class="row">
                <div class="col-md-12">

                    <h2>Connect with us</h2>
                    <br>

                    <p>We understand that concerns about hereditary cancer risk can be stressful and overwhelming.</p>
                    <p>Our genetic counselors and clinical experts are here to help you:</p>
                    <ul class="bullet-list">
                        <li>Discuss your genetic testing options</li>
                        <li>Help find a doctor to order genetic testing</li>
                        <li>Learn more about genetic testing for breast or ovarian cancer</li>
                    </ul>

                    <ul class="bullet-list bullet-list-options">
                        <li><span class="icon-phone"></span>Call 800-436-3037 or +1-415-374-7782</li>
                        <li><span class="icon-envelope"></span>Email <a href="mailto:clinical@invitae.com">clinical@invitae.com</a></li>
                        <li><span class="icon-messages"></span>Use the contact form below to get in touch and we'll contact you</li>
                    </ul>
                    <p>*Please do not include any medical records or medical information with your initial inquiry.</p>

                    <form id="form_comment" action="{% url 'portal_common.leave-comment' %}" method="post">
                        <div class="form-wrapper" id="contact-form">

                            <div class="field-wrapper id_first_name required">
                                <label for="id_first_name">First Name</label>
                                <input value="{{ user.first_name }}" type="text" name="first_name" id="id_first_name">
                            </div>

                            <div class="field-wrapper id_last_name required">
                                <label for="id_last_name">Last Name</label>
                                <input value="{{ user.last_name }}" type="text" name="last_name" id="id_last_name">
                            </div>

                            <div class="field-wrapper id_email required">
                                <label for="id_email">Email</label>
                                <input value="{{ user.userprofile.email_address }}" type="text" name="email" id="id_email">
                            </div>

                            <div class="field-wrapper id_phone">
                                <label for="id_phone">Phone</label>
                                <input value="{{ user.userprofile.contact_info.phone }}" type="text" name="phone" id="id_phone">
                            </div>

                            <div class="field-wrapper id_topic">
                                <label for="id_topic">Topic</label>
                                <select name="topic" id="id_topic" cols="30">
                                    <option value="" selected></option>
                                    <option value="testing">Testing Inquiries</option>
                                    <option value="media">Media Inquiries</option>
                                    <option value="bd">Business Development Inquiries</option>
                                    <option value="other">All Other</option>
                                </select>
                            </div>

                            <div class="field-wrapper id_subject required">
                                <label for="id_subject">Subject</label>
                                <input type="text" name="subject" id="id_subject">
                            </div>

                            <div class="field-wrapper text-area id_comments required">
                                <label for="id_comments">Question Or Comment</label>
                                <textarea id="id_comments" name="comments"></textarea>
                            </div>

                            <div class="field-wrapper id_contact_me required">
                                <label for="id_contact_me">I would like to be contacted by Invitae about my
                                    inquiry</label>
                                <input value="yes" name="contact_me" type="checkbox" checked id="id_contact_me">
                            </div>

                            <button type="submit" class="btn btn-color-inherit btn-lg">Submit</button>

                        </div>
                    </form>

                </div>
            </div>