<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
<div class="text-content">
<h2 class="normal-font-weight">Invitae's genetic counselors can help put your results in context</h2>

<p class="landing-text">Our dedicated team of licensed genetic counselors can assist you before and after the testing process</p>
<a class="btn btn-lg thin-ghost-button" href="{% page_url 'genetic-counseling-patients' %}">LEARN MORE</a></div>
</div>
</div>
</div>
