<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Debbi Crowder</li>
</ul>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">A hope for a healthier future</span></h2>

<h5>Debbi&nbsp;Crowder</h5>

<p>&ldquo;We live in Kansas, where tornadoes are common, and foundations are important. When a large tornado swept through our town a few years ago, the houses built on a slab were destroyed. But the houses with basements, strong foundations, were the ones that survived. A family is much the same. When a family is built on a strong foundation of faith, hope, and love, it can survive the most difficult of life&rsquo;s storms.&quot;</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="allowfullscreen" allowtransparency="true" class="wistia_embed embed-responsive-item" frameborder="0" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" name="wistia_embed" oallowfullscreen="oallowfullscreen" scrolling="no" src="//fast.wistia.net/embed/iframe/9ll1tn7ors?videoFoam=true" webkitallowfullscreen="webkitallowfullscreen"></iframe></div>
</div>

<div class="col-md-12">
<p></p>

<p><span style="font-size: 14px; line-height: 20px;"></span>Debbi Crowder grew up as the daughter of a minister. Her home, built on faith, was full of love, laughter and music. By age 25, she had married her high school sweetheart, Dick, and given birth to sons Ric and Adam. She describes living a &ldquo;fairy tale life,&rdquo; but just after the birth of her third son, her life would change.</p>

<p>After undergoing emergency heart surgery when he was less than two weeks old, Debbi and Dick&rsquo;s newborn son Chad tragically died on Thanksgiving night.</p>

<p>While experiencing a period of indescribable grief, Debbi helped form a support group for mothers experiencing neonatal death. Through comforting others, Debbi soon felt healing and comfort herself. Eventually, she and Dick decided to adopt a baby boy.</p>

<p>&ldquo;Matt was a bundle of energy and the family jock,&rdquo; Debbi recalls of her son. He played all sports growing up and coached a youth football team as an adult. When Matt was just 27 years old, he suddenly collapsed and died while playing tennis with a friend.</p>

<p>&ldquo;Family and friends were in total shock. He was so active&mdash;and healthy. Matt lived life to the fullest. We were all in disbelief. There had not been any symptoms. No pain, no shortness of breath, no weakness, or heartbeat irregularities.&rdquo;</p>

<p>Matt died of hypertrophic cardiomyopathy (HCM), a genetic disease resulting in an enlarged, muscular heart. Because the heart muscle (myocardium) grows abnormally thick, it can make pumping blood difficult. However, the condition often remains undiagnosed.</p>

<p>Since Matt was adopted, the Crowders were unaware of the genetic history of his biological family. At the time of his death, Matt left behind a wife and a four-month old son named Griffin. Collectively, the family decided to have DNA testing done on Griffin and discovered he too carries the same gene mutation as his father. Today, Griffin is nine and is seen routinely by a pediatric cardiologist to monitor his heart condition.</p>

<p>Understanding hereditary disease became especially poignant to the Crowder family following Matt&rsquo;s death. They also have an adopted daughter, Maci, who they have spoken with about having her DNA sequenced to find out if there are any important &ldquo;secrets&rdquo; in her genetic makeup. Her response was a definite &ldquo;yes.&rdquo;</p>

<p>In addition, the Crowders also have a granddaughter, Brittany, with a rare genetic disease called galactosemia, which hinders the body&rsquo;s ability to process the simple sugar galactose, a component of lactose. Her condition was identified because Kansas includes galactosemia in their newborn &ldquo;heel-stick&rdquo; screening test.</p>

<p>&ldquo;DNA sequencing used to seem like a futuristic science,&rdquo; says Debbi. &quot;We now know it is available here and now. And it brings our family and many others an understanding of our bodies, a better knowledge of how to deal with and even prevent diseases, and a hope for a healthier future for generations to come.&rdquo;</p>
<i>Debbi Crowder&rsquo;s story is one of the many that inspired the founders of Invitae to start the company. Debbi is a member of Invitae Co-founder Randy Scott&rsquo;s family; hear more about how her experiences helped inform Invitae&rsquo;s mission in the video &quot;<a href="http://blog.invitae.com/randy-scott-biochemist-and-invitae-co-founder/">Genetics is about everybody</a>.&quot;</i></div>
</div>