<div class="row">
<div class="col-md-12"><a href="{% page_url 'portal_common.vus-resolution' %}">Return to VUS resolution page</a>
<p> </p>

<h3>Gene eligiblity rules.</h3>

<p>Gene eligibility for our VUS resolution program.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cardiology genes</h4>

<div class="expandable-content">
<div class="row">
<div class="col-md-12">
<p>Variants in specific genes may not be eligible for our VUS resolution program if, based on our current review of the medical literature, there is only limited evidence available to support the gene having a direct causal role for a particular condition.</p>

<p> </p>
</div>
</div>

<div class="row">
<div class="col-md-3">
<h5>Hypertrophic Cardiomyopathy</h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Gene</th>
			<th>VUS resolution eligibility</th>
		</tr>
		<tr>
			<td>ACTC1</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>CSRP3</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>MYBPC3</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>MYH7</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>MYL2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>MYL3</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>MYOZ2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>TNNC1</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>TNNI3</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>TNNT2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>TPM1</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>JPH2</td>
			<td>No</td>
		</tr>
		<tr>
			<td>NEXN</td>
			<td>No</td>
		</tr>
		<tr>
			<td>TCAP</td>
			<td>No</td>
		</tr>
		<tr>
			<td>CAV3</td>
			<td>No</td>
		</tr>
		<tr>
			<td>ACTN2</td>
			<td>No</td>
		</tr>
	</tbody>
</table>
</div>

<div class="col-md-3">
<h5>LongQT syndrome</h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Gene</th>
			<th>VUS resolution eligibility</th>
		</tr>
		<tr>
			<td>KCNQ1</td>
			<td>Yes, for LongQT syndrome and Jervell and Lange-Nielsen syndrome</td>
		</tr>
		<tr>
			<td>KCNH2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>SCN5A</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>CACNA1C</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>ANK2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>CAV3</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>KCNE1</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>KCNE2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>KCNJ2</td>
			<td>No, unless the patient or family history indicates Andersen-Tawil syndrome</td>
		</tr>
		<tr>
			<td>KCNJ5</td>
			<td>No</td>
		</tr>
		<tr>
			<td>SCN4B</td>
			<td>No</td>
		</tr>
		<tr>
			<td>SNTA1</td>
			<td>No</td>
		</tr>
		<tr>
			<td>AKAP9</td>
			<td>No</td>
		</tr>
	</tbody>
</table>
</div>

<div class="col-md-3">
<h5>Brugada syndrome</h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Gene</th>
			<th>VUS resolution eligibility</th>
		</tr>
		<tr>
			<td>CACNB2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>GPD1L</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>SCN5A</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>SCN1B</td>
			<td>No</td>
		</tr>
		<tr>
			<td>SCN3B</td>
			<td>No</td>
		</tr>
		<tr>
			<td>KCNJ8</td>
			<td>No</td>
		</tr>
		<tr>
			<td>KCNH2</td>
			<td>No</td>
		</tr>
		<tr>
			<td>CACNA1C</td>
			<td>No</td>
		</tr>
		<tr>
			<td>CACNA2D1</td>
			<td>No</td>
		</tr>
		<tr>
			<td>KCNE3</td>
			<td>No</td>
		</tr>
	</tbody>
</table>
</div>

<div class="col-md-3">
<h5>ShortQT syndrome</h5>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Gene</th>
			<th>VUS resolution eligibility</th>
		</tr>
		<tr>
			<td>KCNH2</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>CACNA2D1</td>
			<td>No</td>
		</tr>
		<tr>
			<td>CACNB2</td>
			<td>No</td>
		</tr>
		<tr>
			<td>KCNJ2</td>
			<td>No</td>
		</tr>
		<tr>
			<td>KCNQ1</td>
			<td>No</td>
		</tr>
		<tr>
			<td>CACNA1C</td>
			<td>No</td>
		</tr>
	</tbody>
</table>

<p> </p>
</div>
</div>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cancer genes</h4>

<div class="expandable-content">
<p>The following genes are not eligible for our VUS resolution program due to being either moderate-risk or candidate genes for the disorder:</p>

<ul class="bullet-list">
	<li>Moderate-risk cancer genes: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, RAD50 and RAD51C</li>
	<li>Limited cancer risk: PALLD</li>
</ul>
</div>
</div>
</div>
</div>
