<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" />
<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value=""></option><option value="Patient">Patient</option><option value="Patient Family/Friend/Advocate">Patient Family/Friend/Advocate</option><option value="Other">Other</option><option value="Clinical Staff Member">Clinical Staff Member</option><option value="Genetic Counselor">Genetic Counselor</option><option value="Lab Management">Lab Management</option><option value="Nurse Navigator">Nurse Navigator</option><option value="Nurse Practitioner">Nurse Practitioner</option><option value="Registered Nurse">Registered Nurse</option><option value="Researcher">Researcher</option><option value="Resident/Student">Resident/Student</option><option value="Physician">Physician</option><option value="Physician Assistant">Physician Assistant</option><option value="Surgeon">Surgeon</option><option value="Other">Other</option></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input id="cms_id_zipcode" name="zipcode" type="text" value="{{ user.contact_info.zipcode }}" /></div>
<button class="btn btn-lg btn-color-mountain" type="submit">Submit</button></div>

<div class="field-wrapper required"><input name="source" type="hidden" value="Website" /></div>

<p><input name="source_description" type="hidden" value="Know Your Risk CPC Lead Form" /></p>

<p><input id="campaignId" name="cmpid" type="hidden" value="" /><input id="ao_campid" name="ao_campid" type="hidden" value="" /></p>

<h5 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"></h5>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>