<div class="row">
<div class="col-md-12">
<h5>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE ACCESSING, USING OR BROWSING THIS WEBSITE OR ANY OF ITS CONTENT. BY ACCESSING, BROWSING OR USING THIS WEBSITE OR ANY OF ITS CONTENT, YOU, ON BEHALF OF YOURSELF OR YOUR ENTITY, AS APPLICABLE, ACKNOWLEDGE THAT:</h5>

<h5>1. YOU HAVE READ AND UNDERSTAND ALL OF THESE TERMS AND CONDITIONS;</h5>

<h5>2. YOU AGREE TO BE BOUND BY ALL OF THESE TERMS AND CONDITIONS;</h5>

<h5>3. THESE TERMS AND CONDITIONS ARE THE LEGAL EQUIVALENT OF A SIGNED, WRITTEN CONTRACT BETWEEN YOU AND Invitae; AND</h5>

<h5>4. IF ACCESSING, BROWSING OR USING THIS WEBSITE OR ANY OF ITS CONTENT ON BEHALF OF AN ENTITY, YOU HAVE FULL AUTHORITY TO BIND YOUR ENTITY TO ALL OF THESE TERMS AND CONDITIONS. IF YOU ARE NOT WILLING TO BE OR CANNOT BE BOUND BY ALL OF THESE TERMS AND CONDITIONS, INCLUDING WITHOUT LIMITATION THE PRECEDING AGREEMENT AND ACKNOWLEDGEMENT, THEN DO NOT DO NOT ACCESS, BROWSE OR USE THIS WEBSITE OR ANY OF ITS CONTENT. MOREOVER, Invitae DOES NOT AND WILL NOT GRANT YOU ANY RIGHT OR LICENSE TO ACCESS, BROWSE OR USE THIS WEBSITE OR ITS CONTENT WITHOUT YOUR WILLINGNESS AND ABILITY TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT,</h5>

<p>Invitae Corporation maintains the Invitae Corporation Website (this "Website") as a service to the Internet community. The Invitae Corporation Website has been designed to provide general information about Invitae Corporation and its products and research. Read Conditions of Use ("Terms") carefully before using this Website. By using and or visiting this Website, you signify your assent to both these Terms and the terms and conditions of Invitae Corporation's Privacy Policy which is published and incorporated <a title="Privacy Statement" href="{% page_url 'portal_common.privacy-policy' %}">herein </a> by reference. If you do not agree to these terms, do not use this Website.</p>

<p>The information on this Website is provided solely on an "AS IS" and "AS AVAILABLE" basis. Invitae Corporation is not engaged in rendering investment or medical advice via this Website, nor does it provide instruction on the appropriate use of products produced, supplied or under development by Invitae Corporation, its affiliates, related companies or its licensors or joint venture partners. Access and use of the Invitae Corporation Website is subject to the terms and conditions set forth herein and all applicable laws, statutes and/or regulations. Invitae Corporation does not, by or through this website, offer for sale any products or services. Tests available for requisition by Invitae Corporation clients are diagnostic tests that can only be ordered by an authorized healthcare provider registered as a partner with Invitae Corporation.</p>

<p>Invitae Corporation may revise or modify these Terms from time to time. Such changes, revisions or modifications shall be effective immediately upon notice to you, which may be given by any means, including, without limitation, posting on the Invitae Corporation Website. If you disagree with the Terms, your sole remedy is to discontinue your use of this Website. Any use of this Website by you after such notice shall be deemed to constitute acceptance of the changes.</p>

<p>Invitae Corporation will use reasonable efforts to include accurate and up-to-date information on the Invitae Corporation Website, however, any information presented on the Website as of a particular date may only be accurate as of such date and Invitae Corporation disclaims any responsibility to update such information. Information about companies other than Invitae Corporation contained in news, press releases or otherwise that are posted on the Website should not be relied upon as being provided or endorsed by Invitae Corporation.</p>

<p>You must exercise caution, good sense and sound judgment in using this Website. You are prohibited from violating, or attempting to violate, the security of this Website. Any such violations may result in criminal and/or civil penalties against you. Invitae Corporation will investigate any alleged or suspected violations and if a criminal violation is suspected, we will cooperate with law enforcement agencies in their investigations.</p>

<p>You are not obligated to register with Invitae Corporation in order to access the Website. However, Invitae Corporation may offer certain features and services for which registration is necessary. For information regarding registering your institution contact Invitae Corporation at info@locusdev.net.</p>

<p>We explicitly disclaim liability for any and all losses and damages arising from your failure to comply with this section.</p>
 

<p><strong>In using this Site, you agree not to: </strong></p>

<p>Send or otherwise transmit to or through this Website or to us through email any unlawful, infringing, harmful, harassing, defamatory, threatening, hateful or otherwise objectionable material of any kind, any material that can cause harm or delay to this Website or computers of any kind, and any unsolicited advertising, solicitation or promotional materials;</p>

<p>Misrepresent your identity or affiliation in any way;</p>

<p>Use this Website to disclose or obtain another's personal information, or collect information about users of this Website;</p>

<p>Gain unauthorized access to this Website, or assist others to gain unauthorized access, or to disclose users' names or personally identifiable information, or to gain or provide unauthorized access to other computers or Websites connected or linked to this Website;</p>

<p>Launch or use any automated system, including without limitation, "robots," "spiders," or "offline readers," that access this Website in a manner that sends more request messages to our servers in a given period of time than a human can reasonably produce in the same period by using a conventional web browser;</p>

<p>Send or otherwise transmit to or through this Website or to us through email chain letters, unsolicited messages, so-called "spamming" or "phishing" messages, messages marketing or advertising goods and services;</p>

<p>Transmit or otherwise make available any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment;</p>

<p>Violate any applicable laws or regulations or these Terms;</p>

<p>Assist or permit any persons in engaging in any of the activities described above.</p>
 

<h5>USER IDS AND PASSWORDS</h5>

<p>Access to certain areas of the Website limited by a user identifier ("User ID") and password, which are selected and/or supplied as part of the registering for a service account with of Invitae (the "Invitae account"). By registering, You represent, warrant and covenant that: (i) You are at least 18 years of age; (ii) You are using Your actual identity; (iii) You have provided only true, accurate, current and complete information about Yourself during the registration process; and (iv) You will maintain and promptly update the information that You provide to keep it true, accurate, current and complete.</p>

<p>By logging onto the Website using any password, You represent, warrant and covenant that You are authorized to use such password and to engage in the activities that You conduct thereunder. You agree that You will be solely responsible for the maintenance and security of Your User ID and password. You also agree that You will be solely responsible for any activities conducted on or through this the Website. Your User ID and password are unique to You, and You agree not to disclose or share Your User ID and password with any third party.</p>

<p>Invitae reserves the right to deny or revoke access to the Website, or any part thereof, at any time in our sole discretion, with or without cause. If You wish to cancel a password, or if You become aware of any loss, theft or unauthorized use of a password, please notify Invitae immediately.</p>

<h5>ALL CONTENT ON THIS WEBSITE IS PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, Invitae CORPORATION DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY AND NON-INFRINGEMENT.</h5>

<p>Invitae Corporation makes no warranty as to the accuracy, completeness, currency or reliability of any content available through this Website. You are responsible for verifying any information before relying on it. Use of the Website and the content available on the website is at your sole risk. Invitae Corporation makes no representations or warranties that use of the Website will be uninterrupted or error-free. You are responsible for taking all necessary precautions to ensure that any content you obtain from the Website is free of viruses.</p>

<h5>Invitae CORPORATION SHALL NOT BE HELD RESPONSIBLE FOR ANY ACTION TAKEN THAT IS BASED ON THE INFORMATION PRESENTED ON THE Invitae CORPORATION WEBSITE. Invitae CORPORATION EXPRESSLY DISCLAIMS ANY LIABILITY, WHETHER BASED IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE WEBSITE, EVEN IF Invitae CORPORATION HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, INCLUDING BUT NOT LIMITED TO RELIANCE BY ANY PARTY ON ANY CONTENT OBTAINED THROUGH THE USE OF THE WEBSITE, THE INABILITY TO USE THE WEBSITE OR ANY ERRORS OF OMISSIONS IN THE CONTENT OF THE WEBSITE.</h5>

<p>You agree to indemnify, defend and hold Invitae Corporation and its directors, officers, employees, agents and contractors harmless from and against any and all claims, damages, losses, costs (including without limitation reasonable attorneys' fees) or other expenses that arise directly or indirectly out of or from (i) your breach of any provision of these Terms; or (ii) your activities in connection with this Website.</p>

<p>By submitting any communication or material to Invitae Corporation, you agree that: (1) if you are a healthcare professional you will not submit any information that would directly identify a patient or any information for which you do not have all necessary consents or authorizations to disclose; (2) you will only submit content that complies with applicable law and will not submit content that is abusive, defamatory, obscene, infringing, threatening, repetitive or otherwise inappropriate or that contains any viruses or other software that may adversely affect the operation of another's computer; (3) such content will be deemed non-confidential; and (4) you grant to Invitae Corporation a perpetual, worldwide, non-exclusive, royalty-free, sublicenseable and transferable license to use, reproduce, modify, publish, perform, transmit, distribute, prepare derivative works of and display such content via any media in accordance with Invitae Corporation's Privacy Statement, and waive any moral rights you may have in such content. Subject to Invitae Corporation's Privacy Statement, Invitae Corporation shall be free to use such content, including any ideas, concepts, know-how or techniques contained in such content, for any reason.</p>

<p>It is the policy of Invitae Corporation to enforce its intellectual property rights to the fullest extent permitted by law. All product names, regardless of whether or not they appear in large print or with a trademark symbol, are the trademarks and service marks of Invitae Corporation, its affiliates, related companies or its licensors or joint venture partners, unless otherwise noted. All content of the Invitae Corporation Website, including any images or text, is protected by U.S. and foreign copyright laws and may not be distributed, downloaded, modified, reused, reposted or otherwise used except that you may view, use and download a single copy of this Website for your informational, non-commercial use. Except as provided herein, no part of any content or software on this Website may be copied, downloaded or stored in a retrieval system for any other purpose, nor may it be redistributed for any purpose, without the express written permission of Invitae Corporation. The use or misuse of Invitae Corporation's trademarks, service marks copyrights or other materials, except as permitted herein, is expressly prohibited and may be a violation of copyright law, trademark law, communications regulations and statutes and other laws, statutes and/or regulations.</p>

<p>This Site is controlled and operated by Invitae Corporation, Inc. Invitae Corporation makes no representation that materials in the Website are appropriate or available for use in all locations worldwide. You are solely responsible for compliance with local laws, if and to the extent local laws are applicable. Access to this Website from jurisdictions where the contents of this Website are illegal or penalized is prohibited.</p>

<p>Invitae Corporation may terminate your use of this Website or any of our features or services at any time and for any reason without notice for conduct violating these Terms. Upon any such termination, you must destroy all content obtained from this Website and all copies thereof. The provisions of these Terms concerning Website security, prohibited activities, copyrights, trademarks, user submissions, disclaimer, limitation of liability, indemnity and jurisdictional issues shall survive any such termination. You agree that if your use of this Website is terminated pursuant to these Terms, you will not attempt to use this Website under any name, real or assumed, and further agree that if you violate this restriction after being terminated, you indemnify and hold us harmless from any and all liability that we may incur therefore.</p>

<p>Invitae Corporation reserves the right to seek all remedies available at law and in equity for violations of these terms and conditions for using the Invitae Corporation Website, including the right to block access from a particular Internet address to the Website.</p>

<p>By choosing to visit this Website or otherwise provide information to Invitae Corporation, you agree that any dispute over your use of this Site or these Terms will be governed by the laws of the State of California and the United States of America. You also consent to the adjudication of any disputes arising in connection with our Site in the federal and state courts of San Francisco County in the State of California. You also agree to attempt to mediate any such dispute and to abide by all limitations of liability contained herein.</p>

<p>If any provision of these Terms is unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</p>

<p>This Website may contain forward-looking information. Such information is subject to a variety of significant uncertainties, including scientific, business, economic and financial factors, and therefore actual results may differ significantly from those presented.</p>

<p>Links to third-party websites or pages are provided for convenience only. We do not express any opinion on the content of any third party pages and expressly disclaim liability for all third party information and the use of it.</p>

<p>Invitae Corporation's Privacy Statement ("Privacy Statement"), as it may change from time to time, is a part of these terms and conditions for using the Invitae Corporation Website and is incorporated herein by this reference. Invitae Corporation reserves the right, and you authorize Invitae Corporation, to the use and assignment of all information regarding your use of this Website and all information provided by you in any manner consistent with Invitae Corporation's Privacy Statement.</p>

<p>If you have any questions about these terms and conditions, please let us know by calling 1-415-374-7782 or 1-800-436-3037 (toll free), emailing <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a>, or sending us a message using the contact form on our Support page.</p>
</div>
</div>
