<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Outros pain&eacute;is de testes</h3>

<p>Pain&eacute;is de v&aacute;rios genes em neurologia e pediatria.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndromes do espectro de Noonan</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0006' %}">VISUALIZAR TESTE </a>

<p>As s&iacute;ndromes do espectro de Noonan (SEN) s&atilde;o uma classe de doen&ccedil;as tamb&eacute;m chamadas de RASopatias porque s&atilde;o causadas por defeitos gen&eacute;ticos que afetam a via de sinaliza&ccedil;&atilde;o intracelular da prote&iacute;na quinase ativada por RAS-mit&oacute;geno (MAPK). Muitas SENs compartilham um ou mais de um conjunto de sintomas, incluindo defeitos card&iacute;acos cong&ecirc;nitos, baixa estatura, caracter&iacute;sticas craniofaciais distintivas e predisposi&ccedil;&atilde;o a v&aacute;rios tumores, tanto benignos como cancerosos.</p>

<p class="genes-analyzed">Genes analisados: BRAF, CBL, HRAS, KRAS, MAP2K1, MAP2K2, NF1, NRAS, PTPN11, RAF1, SHOC2, SOS1, SPRED1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Ciliopatias</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0001' %}">VISUALIZAR TESTE </a>

<p>As ciliopatias s&atilde;o uma classe de doen&ccedil;as causadas por muta&ccedil;&otilde;es que comprometem a fun&ccedil;&atilde;o de estruturas semelhantes a p&ecirc;los na superf&iacute;cie das c&eacute;lulas, chamadas de c&iacute;lios. Os c&iacute;lios cumprem v&aacute;rias fun&ccedil;&otilde;es durante o desenvolvimento, de modo que os defeitos em sua estrutura e fun&ccedil;&atilde;o resultam em doen&ccedil;as multissist&ecirc;micas complexas. Os sintomas mais comuns associados a diversas ciliopatias incluem fibrose hep&aacute;tica, degenera&ccedil;&atilde;o da retina ocular (distrofia da haste do cone), desenvolvimento de cistos renais, revers&atilde;o parcial do eixo corporal da esquerda para a direita (heterotaxia), dedos extras nos p&eacute;s ou nas m&atilde;os (polidactilia) e comprometimento cognitivo.</p>

<p class="genes-analyzed">Genes analisados: AHI1, ARL13B, ARL6, B9D1, B9D2, BBS1, BBS10, BBS12, BBS2, BBS4, BBS5, BBS7, BBS9, CC2D2A, CCDC39, CCDC40, CEP290, CFTR, DNAAF1, DNAAF2, DNAH11, DNAH5, DNAI1, DNAI2, DNAL1, DYNC2H1,
FOXH1, GDF1, GLIS2, IFT80, INPP5E, INVS, IQCB1, MKKS, MKS1, NEK8, NODAL, NPHP1, NPHP3, NPHP4, OFD1,
PKD2, PKHD1, RPGRIP1L, RSPH4A, RSPH9, TCTN1, TCTN2, TMEM216, TMEM67, TRIM32, TTC21B, TTC8, WDPCP,
XPNPEP3, ZIC3</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Doen&ccedil;a de Charcot-Marie-Tooth</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.cmt-testing' %}">VISUALIZAR TESTE </a>

<p>A doen&ccedil;a de Charcot Marie Tooth (CMT) refere-se a um grupo de neuropatias heredit&aacute;rias que, juntas, formam uma das mais comuns doen&ccedil;as neurol&oacute;gicas heredit&aacute;rias. A CMT resulta em comprometimentos das fun&ccedil;&otilde;es motoras e sensoriais do sistema nervoso perif&eacute;rico, causando sintomas como fraqueza muscular progressiva, perda de sensibilidade nas extremidades, deformidades dos p&eacute;s como arco alto ou dedos em martelo e reflexos tendinosos deprimidos.</p>

<p class="genes-analyzed">Genes analisados: AARS, BSCL2, DNM2, EGR2, FGD4, FIG4, GARS, GDAP1, GJB1, HSPB1, HSPB8, KIF1B, LITAF, LMNA, MED25, MFN2, MPZ, MTMR2, NDRG1, NEFL, PMP22, PRPS1, PRX, RAB7A, SBF2, SH3TC2, TRPV4, YARS</p>
</div>
</div>
<a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.condition-list' %}">VISUALIZAR P&Aacute;GINA DE DOEN&Ccedil;AS</a>

<p>Visualize a nossa p&aacute;gina de doen&ccedil;as para obter uma lista em ordem alfab&eacute;tica de todas as doen&ccedil;as do nosso cat&aacute;logo.</p>
</div>
</div>
</div>
