<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Todas as s&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</h3>

<p>O nosso painel de testes para s&iacute;ndromes de c&acirc;ncer heredit&aacute;rio abrange um grupo de s&iacute;ndromes de c&acirc;ncer heredit&aacute;rio bem estabelecidas. Como alternativa, cada uma dessas s&iacute;ndromes pode ser solicitada como testes individuais.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">VISUALIZAR TESTE</a>

<p>O painel de s&iacute;ndromes de c&acirc;ncer heredit&aacute;rio pode ser informativo para pacientes adotados ou que t&ecirc;m uma linhagem limitada e est&atilde;o buscando informa&ccedil;&otilde;es sobre o risco de c&acirc;ncer heredit&aacute;rio. Ele &eacute; igualmente apropriado para os m&eacute;dicos e pacientes que buscam informa&ccedil;&otilde;es gen&eacute;ticas adicionais para evitar as limita&ccedil;&otilde;es da medicina reacion&aacute;ria e focar os benef&iacute;cios do bem-estar e dos cuidados preventivos.</p>

<p class="genes-analyzed">Genes analisados: APC, ATM, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A, CHEK2, EPCAM, FANCC, MEN1, MET, MLH1, MRE11A, MSH2, MSH6, MUTYH, NBN, NF1, PALB2, PALLD, PMS2, PTCH1, PTEN, RAD50, RAD51C, RET, SMAD4, STK11, TP53, VHL</p>

<p style="margin-top:30px;">Doen&ccedil;as inclu&iacute;das no painel de s&iacute;ndromes de c&acirc;ncer heredit&aacute;rio ou dispon&iacute;veis como testes individuais:</p>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao ATM</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0109' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: ATM</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao BARD1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0122' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: BARD1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome do nevo basocelular</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0008' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: PTCH1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao BRIP1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0111' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: BRIP1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao CHEK2</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0112' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: CHEK2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Polipose adenomatosa familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0022' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: APC</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Melanoma cut&acirc;neo familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0023' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: CDK4, CDKN2A</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Adenocarcinoma pancre&aacute;tico familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0028' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: PALLD</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao FANCC</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0113' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: FANCC</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome do c&acirc;ncer de mama e de ov&aacute;rio heredit&aacute;rio</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: BRCA1, BRCA2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>C&acirc;ncer g&aacute;strico difuso heredit&aacute;rio</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0024' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: CDH1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Carcinoma de c&eacute;lulas renais papil&iacute;fero heredit&aacute;rio</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0036' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: MET</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de polipose juvenil</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0042' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: BMPR1A, SMAD4</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de Li-Fraumeni</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0049' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: TP53</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de Lynch</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao MRE11A</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0118' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: MRE11A</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neoplasia end&oacute;crina m&uacute;ltipla, tipo 1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0091' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: MEN1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neoplasia end&oacute;crina m&uacute;ltipla, tipo 2</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0092' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: RET</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Polipose associada ao MUTYH</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0061' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: MUTYH</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao NBN</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0114' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: NBN</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neurofibromatose, tipo 1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0090' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: NF1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de Peutz-Jeghers</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0069' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: STK11</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome do tumor hamartoma - PTEN</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0075' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: PTEN</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao RAD50</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0119' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: RAD50</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Risco de c&acirc;ncer relacionado ao RAD51C</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0116' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: RAD51C</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de von Hippel-Lindau</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0086' %}">VISUALIZAR TESTE</a>

<p class="genes-analyzed">Genes analisados: VHL</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
