<div class="row products-section">
<div class="col-md-12">
<h2>Explore nosso cat&aacute;logo de testes</h2>
</div>

<div class="col-sm-6">
<h6>A Invitae &eacute; especializada em testes gen&eacute;ticos para doen&ccedil;as heredit&aacute;rias. Para explorar o nosso cat&aacute;logo de testes, use a barra de pesquisa para encontrar um gene ou afec&ccedil;&atilde;o espec&iacute;fico ou navegue por especialidade m&eacute;dica usando os bot&otilde;es abaixo.</h6>

<h6>Informa&ccedil;&otilde;es adicionais sobre os testes gen&eacute;ticos com a Invitae, a cria&ccedil;&atilde;o de uma conta on-line e como fazer uma solicita&ccedil;&atilde;o podem ser encontradas nos v&iacute;deos instrutivos abaixo.</h6>
</div>

<div class="col-sm-6">
<form action="{% url 'physician.search' %}" id="catalog-search-form" method="get" onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})">

<div class="catalog-search-wrapper no-top-margin">
		<label for="catalog-search-input">Busque</label>
		<input type="text" class="catalog-search" autocorrect="off" value="" name="q" autocomplete="off" id="catalog-search-input">
		<span class="input-group-btn">
             <button class="icon-search" type="submit"></button>
        </span>
	</div>

</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">Voc&ecirc; pode solicitar qualquer combina&ccedil;&atilde;o entre genes, doen&ccedil;as e pain&eacute;is de v&aacute;rios genes pelo mesmo pre&ccedil;o<sup>*</sup>, apenas com tr&ecirc;s semanas em m&eacute;dia desde a amostra at&eacute; os resultados.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1"></div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGIA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">C&Acirc;NCER<br />
HEREDIT&Aacute;RIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGIA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGIA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1"></div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote" style="font-size:14px;"><br />
<sup>*</sup>Pre&ccedil;o por condi&ccedil;&atilde;o cl&iacute;nica: Pre&ccedil;o de lista de $1500 d&oacute;lares, com desconto a $950 d&oacute;lares para institui&ccedil;&otilde;es e distribuidores sob contrato com Invitae e para provedores em rede. O pre&ccedil;o para pacientes com pago &agrave; vista &eacute; de $450 d&oacute;lares para pedidos realizados on-line e conectados a uma conta de um paciente. Os pre&ccedil;os para fora dos EUA n&atilde;o incluem as taxas de envio. Por favor, <a href="{% page_url 'portal_common.contact' %}" target="_blank">contate-se com</a> nosso Atendimento ao Cliente para mais informa&ccedil;&otilde;es.</p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">&zwnj;</a></div>
