<div class="row">
<div class="col-md-12">
<h3>Testes flexíveis: selecione um único painel, combine vários ou personalize se próprio painel.</h3>

<p>A Invitae está fazendo testes de cardiologia mais rapidamente e mais baratos do que nunca. Qualquer que seja a opção escolhida, é oferecida uma tarifa única de US$ 1.500.<sup>*</sup> São apenas três semanas, em média, desde a coleta até os resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0017' %}"><span class="icon icon-angle-right"></span>Síndrome do QT longo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">Ver teste</a>

<p>Painel de 13 genes que inclui os cinco principais genes associados à síndrome do QT longo -- KCNQ1, KCNH2, SCN5A, KCNE1 e KCNE2 -- além de oito genes adicionais. Fornecemos sequenciamento genético completo e análise de deleção/duplicação em um único teste.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0016' %}"><span class="icon icon-angle-right"></span>Síndrome de Brugada</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">Ver teste</a>

<p>Painel de 10 genes que inclui o principal gene associado à SBr -- SCN5A -- além de outros nove genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0019' %}"><span class="icon icon-angle-right"></span>Cardiomiopatia hipertrófica</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">Ver teste</a>

<p>Painel de 16 genes para CH que inclui os 10 principais genes do sarcômero, além de seis genes adicionais.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0018' %}"><span class="icon icon-angle-right"></span> Síndrome do QT curto</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">Ver teste</a>

<p>Painel de seis genes que inclui KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1 e CACNA1C.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cardio-testing-figure">
<div class="content"> </div>
</div>
</div>
</div>