<div class="row   ">
<div class="col-md-12   ">
<h3>Ordering a test with Invitae</h3>
<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-right">Test Catalog</a>

<p class="">Invitae offers testing for inherited genetic disorders associated with a variety of medical disciplines, including cardiology, hereditary cancers, neurology, pediatric medicine, and hematology. We invite you to explore our Test Catalog page to view our current menu of testing options.</p>

<p class="">Invitae's clinical genetic tests must be ordered through a certified healthcare professional. If you are interested in our genetic testing services, our client services team would be happy to assist you by:</p>

<ul class="bullet-list">
	<li>Providing more information about the tests available in our catalog.</li>
	<li>Helping to facilitate your conversation with your doctor.</li>
	<li>We may also be able to connect you with a healthcare provider in your area who can order testing on your behalf.</li>
</ul>
<a href="{% page_url 'portal_common.contact' %}" class="btn btn-color-inherit btn-sm btn-right">Contact</a>

<p class="">To learn more, please contact our client services team.</p></div></div>
