<div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li id="patient-overview" class="{% if active == 'account' %}active{% endif %}team-button active">
                            <a href="#patient-overview-content">Testing <br> Services</a>
                        </li>
                        <li id="patient-status" class="{% if active == 'password' %}active{% endif %}team-button">
                            <a href="#patient-status-content"> Track <br> Your Test</a>
                        </li>
                        <li id="patient-faq" class="{% if active == 'password' %}active{% endif %}team-button">
                            <a href="#patient-faq-content"> Patient <br> FAQs</a>
                        </li>
                        <li id="patient-genetic" class="{% if active == 'contact' %}active{% endif %}team-button">
                            <a href="#patient-genetic-content">Genetic <br> Counseling</a>
                        </li>
                        <li id="patient-resource" class="{% if active == 'contact' %}active{% endif %}team-button">
                            <a href="#patient-resource-content">Tools &amp; <br> Resources</a>
                        </li>
                    </ul>
                </div>

            </div>