<div class="row ">
<div class="col-md-12 ">
<h3>Check the status of your test</h3>

<p class="">After your doctor has ordered a test for you with Invitae, you can sign in to check the status of your test and view your test results once your doctor releases them to you.</p>

<p class="">If your physician entered your email address when they placed your test order with us, an email was sent to you with the information you need to establish your account at www.invitae.com. Your username for this account is your email address and you can set your password at the time you set up your account.</p>
<a href="{% page_url 'portal_common.contact' %}" class="btn btn-color-inherit btn-sm btn-right">Contact</a>

<p class="">If you have lost your password, or failed to receive the account setup email, please contact our client services team.</p></div></div>
