<div class="row">
<div class="col-md-12">
<h3>Solicitudes</h3>

<p><strong>Solicitudes en l&iacute;nea sencillos</strong></p>

<p>Haga su solicitud en l&iacute;nea para un procesamiento m&aacute;s eficaz de su solicitud, una entrega de informes m&aacute;s r&aacute;pida y acceso a las otras funciones en l&iacute;nea. Crear una cuenta solo toma unos pocos minutos, y tambi&eacute;n puede navegar y realizar su solicitud directamente de nuestro cat&aacute;logo de estudios en l&iacute;nea.</p>

<p><strong>Una cuenta en l&iacute;nea de Invitae le permite:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Dise&ntilde;ar y guardar solicitudes personalizadas para facilitar las solicitudes repetidas.</li>
	<li>Compartir de forma segura los resultados de los estudios con pacientes y colegas.</li>
	<li>Hacer solicitudes en nombre de los m&eacute;dicos de su organizaci&oacute;n.</li>
	<li>Seguir el estado de su solicitud en tiempo real y mantener un registro de sus solicitudes anteriores.</li>
	<li>Enviar mensajes de forma segura al personal de Invitae y subir documentos.</li>
	<li>Ver y descargar sus informes de estudios.</li>
</ul>
</div>

<div class="col-md-6">
<p>&nbsp;</p>

<p><a class="btn btn-color-inherit btn-sm btn-left" href="{% url 'portal_common.signup' %}" target="_blank"><span class="icon icon-clipboard-check"></span>Crear una cuenta</a></p>
<a class="btn btn-color-inherit btn-sm btn-left" href="{% page_url 'portal_common.test-catalog' %}" target="_blank"><span class="icon icon-categories"></span>Cat&aacute;logo de estudios</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>Tambi&eacute;n puede descargar formularios de solicitud en papel aqu&iacute;:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0148/1/-/-/-/-/FM102-4.02_Invitae-TRF-all-tests.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud completo (en ingl&eacute;s) </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0149/1/-/-/-/-/FM103-4.02_Invitae-TRF-cancer-tests.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud de oncolog&iacute;a (en ingl&eacute;s) </a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-0236/1/-/-/-/-/TRF903-1_%20Invitae%20Hereditary%20Cancer%20Simplified%20Req%20Form.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud de oncolog&iacute;a simplificado (en ingl&eacute;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904-1_%20Req%20Form%20Cardio.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud de cardiolog&iacute;a (en ingl&eacute;s) </a></div>

<div class="col-md-6"><a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905-1_%20Req%20Form%20Neuro.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud de neurolog&iacute;a (en ingl&eacute;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906-1_%20Req%20Form%20Pediatrics.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de solicitud de pedi&aacute;trico (en ingl&eacute;s)</a><br />
<a class="btn btn-color-transparent btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Consentimiento Informado del Paciente (en ingl&eacute;s) </a></div>
</div>

<div class="row">
<div class="col-md-12">
<p>&nbsp;</p>
</div>
</div>
