<div class="row">
<div class="col-md-12">
<p> </p>
</div>
</div>

<div class="list-content row">
<div class="col-md-3">Programa de asistencia al paciente</div>

<div class="col-md-9"><a href="{% page_url 'portal_common.contact' %}" class="btn btn-color-inherit btn-sm btn-right">Contact</a>Si el seguro no cubre el análisis, los pacientes tiene la opción de considerar la opción de pago del paciente de Invitae. Existe la posibilidad de que Invitae pueda ofrecer las pruebas sin gastos o con gastos limitados a quienes califican para asistencia financiera debido a una necesidad. Por favor, <a href="{% page_url 'portal_common.contact' %}">comuníquese con</a> Atención al Cliente para obtener más información.</div>
</div>

<div class="list-content row">
<div class="col-md-3">Códigos CPT</div>

<div class="col-md-9">Si usted está solicitando un estudio que incluye BRCA1 o BRCA2, el código CPT es 81211. Para todas las demás pruebas, el código CPT a utilizar es 81479 – procedimiento de patología molecular no enumerado.</div>
</div>

<div class="list-content row">
<div class="col-md-3">Más información</div>

<div class="col-md-9"><a href="{% page_url 'portal_common.faq' %}" class="btn btn-color-inherit btn-sm btn-right">FAQ</a>

<p>¿Más preguntas sobre las opciones de facturación? Visite nuestra <a href="{% page_url 'portal_common.faq' %}">Página de FAQ</a>.</p>
</div>
</div>
