<div class="row">
                <div class="col-md-12">
                    <div class="list-content row">
                    </div>
                    <div class="list-content row">
                        <div class="col-md-3">
                            CPT Codes
                        </div>
                        <div class="col-md-9">
                            If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.
                        </div>
                    </div>
                    <div class="list-content row">
                        <div class="col-md-3">
                            Patient Assistance Program
                        </div>
                        <div class="col-md-9">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.contact' %}">Contact</a>
                            For those who qualify, we have a Patient Access Program (PAP) and a Financial Assistance Plan (FAP) to reduce patient out-of-pocket costs. Please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a> for further information.
                        </div>
                    </div>
                    <div class="list-content row">
                        <div class="col-md-3">
                            More information
                        </div>
                        <div class="col-md-9">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.faq' %}">FAQ</a>
                            <p>More questions about our billing options? Visit our FAQ page.</p>
                        </div>
                    </div>
                </div>
            </div>