<div class="row">
<div class="col-md-6">
<h2>Family testing.</h2>

<p>Your genetic test results may have health implications not only for you, but for your family as well.</p>

<p>Targeted testing for family members may help identify those who have the same genetic risks as you. If you receive genetic testing from Invitae, we provide testing for just $200 per gene for each family member. This testing is often covered by insurance. To learn more about test options for your family, please talk with your doctor or <a href="{% page_url 'patient.contact' %}">contact</a> Client Services.</p>
</div>

<div class="col-md-6 image"><img src="/static/img/patient_portal/audacity-19.jpg" alt="" class="img-responsive"></div>
</div>
