<div class="row">
<div class="col-md-6">
<h2>Estudio familiar.</h2>

<p>Los resultados de su estudio genético pueden tener consecuencias para la salud no solo para usted, sino también para su familia.</p>

<p>Las pruebas dirigidas para familiares pueden ayudar a identificar a aquellos que tienen los mismos riesgos genéticos que tu. Si recibes pruebas genéticas de Inviate, facilitamos pruebas por sólo $200 por gen por cada familiar. Esta prueba con frecuencia está cubierta por el seguro. Para aprender más sobre las opciones de pruebas para su familia, por favor hable con su médico o <a href="{% page_url 'patient.contact' %}">contacte</a> a Atención al cliente.</p>
</div>

<div class="col-md-6 image"><img class="img-responsive" alt="" src="/static/img/patient_portal/audacity-19.jpg"></div>
</div>
