<div class="row">
<div class="register-test">
<h3><a href="{% url 'patient.register-test-step1' %}">Cómo empezar.</a></h3>

<div class="invite-signin"><span class="icon icon-angle-right"></span> <a href="{% url 'patient.register-test-step1' %}">Registre su análisis</a> o averigüe cómo empezar.</div>
</div>

<div class="text">
<div class="striped-background"> </div>

<h1>Estamos todos conectados.</h1>

<p>Nuestro ADN compartido nos une y puede proporcionar un poderoso conocimiento sobre el riesgo de una persona de desarrollar ciertas enfermedades. Al considerar la posibilidad de un estudio genético para usted o su hijo, posiblemente no sepa qué esperar o qué significado tendrá para usted y su familia. Invitae ofrece análisis genéticos asequibles y de alta calidad.</p>
</div>
</div>

<p><a href="#" class="scroll-to-next"><span class="round icon-chevron-bracket-down"></span> </a></p>