<div class="row">
<div class="col-md-12">
<h2>Informed families</h2>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="wistia_embed wistia_async_5wbewbnitj"></div>
</div>

<div class="col-md-6">
<p class="landing-section-subhead"><span style="color:#828080;">&nbsp;<br />
&nbsp;<br />
For Liz Brown, being adopted meant that she always had questions about her health history. Diagnoses for both Liz and her daughter provided an answer to a lifelong question and gave Liz control of her family&rsquo;s health and future.<i></i></span></p>

<p class="landing-section-subhead"><span style="color:#828080;"><i>Genetic testing gives you so many options to be proactive with your life instead of feeling like you have to be reactive when you get sick.</i><br />
<br />
<strong><i>&mdash;Liz Brown</i></strong></span></p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'patient.real-stories' %}">SEE MORE STORIES</a></div>
</div>