<div class="row">

<div class="col-md-10 col-xs-push-2">
<div class="choose-buttons row"><a href="{% page_url 'portal_common.privacy-policy' %}" class="btn-institution icon-files col-md-4"><span>Privacy<br>
Policy</span> </a> <a href="{% page_url 'portal_common.privacy-practices' %}" class="btn-patient-pay icon-information-form col-md-4"> <span>Notice of<br>
Privacy Practices</span> </a> <a href="{% page_url 'portal_common.safe-harbor' %}" class="btn-insurance icon-signature-form col-md-4"> <span>European<br>
Safe Harbor<br>
Privacy Policy</span> </a></div>
</div>
</div>