<div class="row">

<div class="col-md-10 col-xs-push-2">
<div class="choose-buttons row"><a class="btn-institution icon-files col-md-4" href="{% page_url 'portal_common.privacy-policy' %}"><span>Privacy<br>
Policy</span> </a> <a class="btn-patient-pay icon-information-form col-md-4" href="{% page_url 'portal_common.privacy-practices' %}"> <span>Notice of<br>
Privacy Practices</span> </a> <a class="btn-insurance icon-signature-form col-md-4" href="{% page_url 'portal_common.safe-harbor' %}"> <span>European<br>
Safe Harbor<br>
Privacy Policy</span> </a></div>
</div>
</div>