<h2>Privacy practices</h2>

<p>Invitae’s mission is to bring comprehensive genetic information into mainstream medical practice to improve the quality of healthcare for billions of people. From day one, patients owning and controlling their genetic data has been one of our core principles.</p>

<p>We work hard to ensure that patients are in control of what information they want to learn or share. Sharing genetic and other information that has been stripped of personal identifiers is a powerful tool for clinical medicine and science. We refer to this kind of information as de-identified information. It can help accelerate understanding of genetic conditions, improve genetic testing, speed development of new treatments, and advance research that may one day lead to cures for a variety of diseases.</p>

<div class="row">
<div class="col-md-10 col-xs-push-2">
<div class="choose-buttons row"><a class="btn-institution icon-files col-md-6" href="{% page_url 'portal_common.privacy-policy' %}"><span>Privacy<br>
Policy</span> </a> <a class="btn-patient-pay icon-information-form col-md-6" href="{% page_url 'portal_common.privacy-practices' %}"> <span>Notice of<br>
Privacy Practices</span> </a></div>
</div>
</div>

<p><br>
The overview presented below is intended to offer a simplified guide to our privacy practices. It is not meant as a substitute for our Privacy Policy and Notice of Privacy Practices (linked above). For more information, please read these documents, or contact us at <a href="mailto:privacy@invitae.com">privacy@invitae.com</a>.</p>

<table cellspacing="1" style="width:100%;" border="0" cellpadding="1" class="table-with-lines">
	<tbody>
		<tr>
			<td style="width:200px">
			<p><strong>Data we collect, generate, store, and use</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c3b/1/-/-/-/-/info.png"></p>
			</td>
			<td>
			<p><i>What data does Invitae collect?</i><br>
			We collect the information we need in order to provide a high-quality customer experience, including the information below.<br>
			<br>
			Personal information, such as:</p>

			<ul class="bullet-list">
				<li>Name</li>
				<li>Gender</li>
				<li>Date of birth</li>
				<li>Billing &amp; shipping addresses</li>
				<li>Payment information (such as insurance ID or credit card numbers)</li>
				<li>Contact information (such as email address or phone number)</li>
				<li>Protected health information</li>
			</ul>

			<p>Protected health information, such as:</p>

			<ul class="bullet-list">
				<li>Personal information (mentioned above)</li>
				<li>Medical history (when provided)</li>
				<li>Laboratory results</li>
				<li>Insurance information</li>
				<li>Other health information provided by you or your healthcare provider</li>
			</ul>

			<p> Web behavior data, such as:</p>

			<ul class="bullet-list">
				<li>Browser data</li>
				<li>Device information</li>
				<li>IP address</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>Identifiable data:<br>
			How we use and share it</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c4a/1/-/-/-/-/icon_data.png.png"></p>
			</td>
			<td>
			<p><i>What is identifiable data?</i><i></i><br>
			Identifiable data includes protected health information, such as information about your health status, any healthcare you have received, or payments for healthcare that can be linked back to you as an individual. This includes your test results, medical records, and payment history.</p>

			<p><i>How does Invitae use identifiable data?</i><br>
			Invitae uses your identifiable data to produce genetic testing results and bill for our testing services. Please see the <i>How we protect your information</i> section below for details on how we keep your identifiable data secure.</p>

			<p><i>Does Invitae share identifiable data outside of the company?</i><br>
			Invitae will <i>never</i> sell or lease/rent your identifiable data to any third party (including academic researchers) without your explicit consent. This applies to all data listed above under <i>What data does Invitae collect?</i> (including your email address and phone number). Even with your consent, Invitae limits the sharing of identifiable data outside of the company as much as possible.</p>

			<p>That said, there are a few specific instances in which we do we share information with others in order to provide you with our services, including:</p>

			<ul class="bullet-list">
				<li>The healthcare provider who ordered your test, and in some cases his or her office staff</li>
				<li>Your insurance company to obtain payment for your test (if you choose to bill insurance)</li>
				<li>A company that processes billing claims and payments (and is contractually obligated to protect your privacy and security)</li>
				<li>Legal guardians or personal representatives (if applicable)</li>
			</ul>

			<p>In addition, there may be special circumstances where we need to disclose identifiable data as permitted under the US Health Insurance Portability and Accountability Act (HIPAA), including:</p>

			<ul class="bullet-list">
				<li>To ensure compliance with rules of government health programs such as Medicare or Medicaid</li>
				<li>In response to a court order, subpoena or other lawful process</li>
				<li>In connection with public health activities, such as reporting diseases to authorized public health authorities</li>
				<li>As otherwise required by applicable law</li>
			</ul>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>De-identified data:<br>
			Who we share it with</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c4b/1/-/-/-/-/icon_deidentified_data.png"></p>
			</td>
			<td>
			<p><i>What is de-identified data?</i><br>
			De-identified data is information that cannot be reasonably linked to a specific individual.  HIPAA provides a safe harbor method for the de-identification of protected health information, which includes the removal of the following 18 identifiers:</p>

			<ul class="bullet-list">
				<li>Name</li>
				<li>Specific geographical identifiers</li>
				<li>Dates (other than year) directly related to an individual</li>
				<li>Phone number</li>
				<li>Fax number</li>
				<li>Email address</li>
				<li>Social Security number</li>
				<li>Medical record number</li>
				<li>Health insurance numbers</li>
				<li>Account number</li>
				<li>Certificate/license number</li>
				<li>Vehicle identifiers and serial numbers (e.g., license plate numbers)</li>
				<li>Device identifiers and serial numbers</li>
				<li>URLs</li>
				<li>IP address</li>
				<li>Biometric identifiers, including finger, retinal and voice prints</li>
				<li>Full face photographic images and any comparable images</li>
				<li>Any other unique identifying number, characteristic, or code</li>
			</ul>

			<p>Invitae removes all of the identifiers listed above and takes further precautions around genetic information by ensuring any information shared includes:</p>

			<ul class="bullet-list">
				<li>No more than 4 common genetic variants</li>
				<li>No more than 6 rare genetic variants</li>
				<li>No unique, large family relationship data</li>
			</ul>

			<p>Once all of these identifiers are removed and precautions are taken, we believe that the de-identified data cannot reasonably be traced to you or used to identify you or your genetic information as an individual.</p>

			<p><i>When does Invitae share de-identified data?</i><br>
			We share de-identified data in specific ways that help advance medical care and the clinical practice of genetics. For example, we share de-identified data about genetic variants we observe with a few carefully selected public databases to advance the understanding of genetic information. One such database is ClinVar, a centralized resource managed by the National Center for Biotechnology Information (NCBI) and the National Institutes of Health (NIH) that enables genetic testing laboratories to improve the practice of medicine by uncovering links between specific genetic variants and disease. ClinVar submissions include in which gene the variant was seen, variant description, classification of the variant (positive, negative, or uncertain), and explanation for why the variant was classified as it was. See an example ClinVar entry <u><a href="https://preview.ncbi.nlm.nih.gov/clinvar/variation/2268/#id_first">here</a></u>.</p>

			<p>Subject to applicable law, we may also share de-identified data through research collaborations with universities, hospitals, other laboratories, or companies (that, for example, are developing a treatment for a disease). For example, if a university research group is studying patients with variants in a specific gene, we may provide a list of the variants we’ve seen. The list might include the patients’ age range (in decade), gender, variant name, and how we classified the variant (positive, negative, or uncertain).</p>

			<p><i>What are the benefits of sharing de-identified data?</i><br>
			Sharing de-identified genetic data is an essential component of the system by which laboratories assess and improve the quality of the genetic testing they provide. It can also significantly accelerate medical research for both individual patients and society as a whole.</p>

			<p><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit; background-color: transparent;">In addition to patients owning and controlling their genetic data, Invitae also believes that genetic information is more valuable when shared. We encourage patients to choose to share their de-identified genetic variants with the medical and scientific community to help accelerate our understanding of genetic conditions, improve genetic testing, find new therapies, and eventually prevent disease.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>Setting your data sharing preferences</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c3e/1/-/-/-/-/selection.png"></p>
			</td>
			<td>
			<p><i>How can someone tested at Invitae set their data sharing preferences?</i><br>
			The easiest way to set your data sharing preferences is by logging into the Preferences section of your Invitae portal account. For all Invitae testing excluding sponsored testing programs (see below), you may opt out of (or, in certain regions, including the European Union, opt in to) sharing certain de-identified data. If you cannot create an online account, you can also inform Invitae of your preferences in writing.</p>

			<p>Opting out means that Invitae will no longer share your de-identified data in accordance with your preference settings. However, we cannot withdraw or reverse the sharing of any de-identified data that may have been disclosed prior to you opting out.</p>

			<p><i>How can Patients Insights Network users change their preferences?</i><br>
			If you have chosen to share information through an Invitae <a href="https://www.invitae.com/en/patients/pin/">Patients Insights Network</a> (PIN), you can change your sharing preferences or ask to withdraw your information from the PIN in full at any time. Simply <a href="https://pin.invitae.com/login/login.html">log in</a> to your PIN account to update your preferences. De-identified information shared between the time that you initially agreed to share your information and when you update your preferences to no longer share data cannot be recalled.</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>Sponsored testing programs and clinical trials</strong></p>

			<p><img width="120" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c3a/1/-/-/-/-/funnel.png"></p>
			</td>
			<td>
			<p><i>What are sponsored testing programs?</i><br>
			Through sponsored testing programs, patients can elect to have a third party company (not their insurance company) pay for their testing at Invitae. In these programs, certain de-identified and other data are shared with program sponsors. Examples of information shared through these programs include the ordering clinician’s contact information, test ordered, variant name, and interpretation. No patient-identifiable information is shared with program sponsors.</p>

			<p><i>Can patients tested through sponsored testing programs opt out of sharing their data?</i><br>
			Patients who choose to receive testing through sponsored testing programs or via a clinical trials may not opt out of sharing specific de-identified data, as defined by the program or trial. However, such patients can still set their data sharing preferences as described above; these preferences will apply to the sharing of data for purposes not related to the sponsored testing programs.</p>

			<p>A list of available sponsored testing programs is available <a href="https://www.invitae.com/en/sponsored-testing/">here</a>.</p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>Setting your contact preferences</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c39/1/-/-/-/-/email.png"></p>
			</td>
			<td>
			<p><i>How can someone tested at Invitae set their contact preferences?</i><br>
			We may contact you about other Invitae products and services we believe may be of interest to you. To request that we only send you notifications about specific topics, please update your settings within your Invitae portal account. To request that we send none of these notifications to you, either update the settings within your account or click on the unsubscribe link at the bottom of any Invitae email.</p>

			<p><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit; background-color: transparent;">Your contact preferences have no bearing on receiving your test results; you may not opt out of non-promotional messages regarding your account or service-related emails.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>How we protect the information of people who receive testing at Invitae</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c3c/1/-/-/-/-/lock.png"></p>
			</td>
			<td>
			<p><i>How does Invitae protect my information?</i><br>
			As a healthcare company, we are subject to and fully comply with the privacy and security requirements under HIPAA. We take great care to use technical, administrative and physical safeguards to secure your personal information and protect it against misuse, loss or alteration. Information that you provide through our websites is encrypted using industry-standard secure sockets layer (SSL) technology, with the exception of information you send via email. Your information is processed and stored on controlled servers with restricted access.</p>

			<p><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit; background-color: transparent;">You play a vital role in protecting your information. Please refrain from emailing us any sensitive information. Please also be sure to choose a secure password when registering for an Invitae portal account and never reveal this password to any third-parties. Immediately notify us if you become aware of any unauthorized access to your account so we can disable it.</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:200px">
			<p><strong>Your rights</strong></p>

			<p><img width="100" align="middle" alt="icon" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c3d/1/-/-/-/-/privacy.png"></p>
			</td>
			<td>
			<p>Additional information about your data and rights can be found on the following forms:</p>

			<ul class="bullet-list">
				<li><a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104_Invitae_Patient-consent-panel.pdf">Patient informed consent (panel testing)</a></li>
				<li><a href="https://marketing.invitae.com/acton/attachment/7098/f-0bd8/1/-/-/-/-/FM158_Invitae_Carrier_Informed_Consent.pdf">Patient informed consent (carrier screening)</a></li>
				<li><a href="https://marketing.invitae.com/acton/attachment/7098/f-0578/1/-/-/-/-/FM146_Invitae_Patient-consent-exome.pdf">Patient informed consent (exome testing)</a></li>
				<li><a href="https://marketing.invitae.com/acton/attachment/7098/f-0b9f/1/-/-/-/-/Invitae_proactive_informed_consent.pdf">Patient informed consent (proactive testing)</a></li>
				<li><a href="https://marketing.invitae.com/acton/attachment/7098/f-0c17/1/-/-/-/-/FM160_Invitae_PGT_Patient_Informed_Consent.pdf">Patient informed consent (preimplantation genetic testing)</a></li>
			</ul>

			<p><span style="font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit; background-color: transparent;">If you have any questions, concerns or complaints about Invitae’s privacy practices, please contact us at <a href="mailto:privacy@invitae.com">privacy@invitae.com</a>.</span></p>
			</td>
		</tr>
	</tbody>
</table>

<p></p>