<div class="row">
<div class="col-md-12">
<h3>Resultados en los que puede confiar.</h3>

<p>Para demostrar que los estudios de BRCA de Invitae entregan resultados de la más alta calidad, nos hemos embarcado en un riguroso estudio clínico para validar nuestros resultados analíticos y su interpretación clínica.</p>

<p><strong>Estudios</strong></p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Estudio de Validación Analítica para BRCA de Invitae</h4>

<div class="expandable-content">
<p><strong>Diseño del Estudio</strong></p>

<p>El equipo de científicos de Invitae colaboró con dos importantes centros clínicos en el análisis de 600 pacientes con indicación de estudio de BRCA1 y BRCA2 de acuerdo a las directrices de la NCCN<sup>1</sup>.</p>

<p>Los resultados de este estudio son descritos a continuación. Para saber más, por favor lea <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00a8/1/-/-/-/-/WP101%20WhitePaper%20Analytic%20Validation%20Summary.pdf"> el informe completo de validación analítica (publicación en inglés)</a>.</p>

<p><strong>Sensibilidad analítica: 100%</strong></p>

<p>El estudio de Invitae detectó todas las mutaciones en <i>BRCA1</i> y <i>BRCA2</i> previamente detectadas y confirmadas por un laboratorio independientemente, las que incluían variantes de distinto tamaño y complejidad de secuencia, así como deleciones y duplicaciones.</p>

<p><strong>Especificidad analítica: 100% de verdaderos positivos</strong></p>

<p>Todas las variantes patogénicas detectadas por Invitae fueron confirmadas con los datos de referencia, incluidos tanto las variantes de secuencia como deleciones y duplicaciones. Como parte de su compromiso con la alta calidad, Invitae confirma todas las variantes patogénicas usando tecnologías alternativas, para demostrar la precisión de la tecnología de secuenciación de nueva generación.</p>

<p><strong>Interpretaciones clínicas altamente concordantes</strong></p>

<p>Observamos un 99,8% de concordancia entre nuestra interpretación clínica de variantes patogénicas y las realizadas por el laboratorio de referencia. Se presentó sólo una discrepancia; una variante de <i>BRCA</i> descrita como patogénica en el reporte del laboratorio de referencia, pero sin ninguna evidencia específica de su real patogenicidad.</p>

<p><strong>Tasa estándar de Variantes de Significado Incierto (VUS) en la industria</strong></p>

<p>En el subgrupo de pacientes con datos de secuencias completas de los genes <i>BRCA1</i> y <i>BRCA2</i>, obtenidos tanto de Invitae como del laboratorio de referencia, Invitae informó una VUS en 6% de los pacientes, mientras que el otro laboratorio informó que el 4% de los pacientes presentaba una VSU. Para este recuento se excluyeron aquellos pacientes a los que se les realizó un estudio dirigido o limitado, por ejemplo a un panel de mutaciones judío Askenazi, o estudios de detección de mutaciones puntuales conocidas, dado que dichos estudios nunca generarán VSU, reduciendo artificialmente las tasas de VSU.</p>

<p><strong>La información genética es más valiosa cuando se comparte</strong></p>

<p>Compartir los datos de variantes genéticas interpretadas clínicamente beneficia a la comunidad médica y científica, haciendo el conocimiento más accesible, reduciendo la tasa de VSU, y permitiendo la verificación independiente de otros resultados de estudios genéticos. En Invitae estamos comprometidos a compartir las variantes interpretadas clínicamente, así como la evidencia que respalda dicha interpretación.</p>

<p>Para saber más sobre por qué nos comprometemos a compartir la información, lea esta entrada de blog de John García (de Invitae), <a target="blank" href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">¿Un mejor cuidado del paciente depende del intercambio de información genética?</a></p>

<p class="endnote">1) Daly, et.al. NCCN Clinical practice guidelines in oncology: Genetic/familial high-risk assessment: breast and ovarian. J Natl Compr Canc Netw. 2010; 8(5):562-94.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Evaluación clínica de paneles multi-gen para cáncer hereditario</h4>

<div class="expandable-content">
<p>Para demostrar el valor de los paneles multi-gen en la evaluación del riesgo de cáncer hereditario, Invitae colaboró con los investigadores de la Universidad de Stanford, James Ford, MD y Allison W.Kurian, MD, MSc. Los resultados de esta investigación, recientemente publicados en el Journal of Clinical Oncology, muestran que los paneles multi-gen para cáncer hereditario pueden ofrecer un desempeño comparable con estudios genéticos tradicionales para BRCA1/2, y pueden proveer beneficios clínicos adicionales a médicos y pacientes en su evaluación del riesgo de cáncer.</p>

<p>Para saber más sobre esta publicación, visite nuestra página de <a href="{% page_url 'portal_common.clinical' %}">Estudios Clínicos</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Secuenciando los exones 12-15 de PMS2 usando secuenciación de nueva generación (NGS)</h4>

<div class="expandable-content">
<p>El análisis del gen PMS2 es complicado debido a la presencia de un seudo-gen altamente homólogo, PMS2CL, que abarca los exones 12-15 de PMS2. Invitae ha desarrollado y validado una forma de secuenciar el gen PMS2 completo usando un set de referencia de 32 muestras, portadoras de 205 variantes verdaderas positivas y 34,876 variantes verdaderas negativas en PMS2 o PMS2CL, y demostró una precisión, reproducibilidad, sensibilidad analítica y especificidad del 100%.</p>

<p>Para saber más, por favor lea nuestra <a target="blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0139/1/-/-/-/-/WP103-1_PMS2%20Sequencing%20NGS%20Validation%20Summary.pdf
                            ">declaración de validación de secuenciación de PMS2 (publicación en inglés)</a>.</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p> </p>

<p>Será un agrado compartir con usted más detalles de cualquiera de nuestros estudios de validación. Por favor <a href="{% page_url 'portal_common.contact' %}">contacte</a> a Servicio al Cliente para pedir mayor información.</p>
</div>
</div>