<div class="row">
<div class="col-sm-6 col-lg-7 privacy-message">
<h3>Suporte</h3>

<p>Veja o nosso guia de usuário para obter instruções passo a passo sobre a Ferramenta de Histórico Familiar.</p>
<a links="" class="btn btn-color-inherit btn-lg" href="http://marketing.invitae.com/acton/attachment/7098/f-00aa/1/-/-/-/-/User-Guide_Family-History-Tool.pdf" landing="" 'user="" {'action':="" on="" guide'}="" "="" page',="" fht="" target="_blank" mixpanel.track2('clicked="" )"=""><span class="icon icon-files"></span>guia de usuário</a>

<p> </p>

<h3>Privacidade</h3>

<p>Estamos comprometidos em proteger a segurança e confidencialidade das informações pessoais e genéticas e dos resultados dos testes do seu paciente.</p>

<p>Para obter detalhes, consulte o nosso <a target="_blank" href="{% page_url 'portal_common.privacy-practices' %}">Aviso de Práticas de Privacidade</a> and <a target="_blank" href="{% page_url 'portal_common.privacy-policy' %}">Política de Privacidade</a>.</p>
</div>

<div class="clearfix visible-xs"><br>
 </div>

<div class="col-sm-6 col-lg-5 family-history-email">
<h3>Perguntas ou comentários?</h3>

<div class="email-icon">
<div class="content">
<h4>Adoraríamos<br>
saber!</h4>

<p>E-mail: <a href="mailto:familyhistory@invitae.com">familyhistory@invitae.com</a></p>
</div>
</div>
</div>
</div>