<div class="row">
<div class="col-md-12">
<ul class="nav nav-tabs">
	<li class="{% if active == 'account' %}active{% endif %}team-button active" id="team-patient"><a href="#team-patient-content">Patient pay</a></li>
	<li class="{% if active == 'password' %}active{% endif %}team-button" id="team-insurance"><a href="#team-insurance-content">Insurance & institutional billing</a></li>
	<li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-medicare"><a href="#team-medicare-content">Medicare</a></li>
	<li class="{% if active == 'contact' %}active{% endif %}team-button" id="team-pap"><a href="#team-pap-content">Patient assistance program</a></li>
</ul>
</div>
</div>
