<div class="container">

<p>Intro test here</p>

<div class="row">
<div class="col-xs-12 col-sm-4 patient-feature"><span class="icon icon-panelsgenes gradient-icon-reverse"></span>

<a class="patient-feature-link" href="{% page_url 'patient.existing_condition' %}">Learn more</a></div>

<div class="col-xs-12 col-sm-4 patient-feature"><span class="icon icon-fingerprint gradient-icon-reverse"></span>

<a class="patient-feature-link" href="{% page_url 'patient.unexplained_symptoms' %}">Learn more</a></div>