<div class="row">
<div class="col-md-12">
<p>Invitae&rsquo;s mission is to make high-quality genetic testing affordable and accessible to everyone. Within a single <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a>, you can select a curated panel, combine multiple panels, or customize your own test for each patient&mdash;all for the same price.</p>

<p>If you don&rsquo;t get the answers you need from the initial test, you can <a href="{% page_url 'portal_common.re-requisition' %}">add additional genes</a> within the same clinical area within 90 days for no additional charge.</p>

<p>In addition, Invitae testing includes <a href="{% page_url 'portal_common.gc-services' %}">Clinical Consult Services</a> help identify the right test and clarify results (at no additional charge) <a href="{% page_url 'portal_common.family-testing' %}">targeted follow-up</a> for family members (at reduced price), and <a href="{% page_url 'portal_common.vus-resolution' %}">VUS resolution</a> to clarify results.</p>

<p>Learn more about these options using the tabs below:</p>
</div>
</div>
