<div class="row">
<div class="col-md-12">
<p>Invitae believes in responsible testing that is based on established medical guidelines, and we aim to be completely transparent with our pricing so that patients, clinicians, and payers know the cost of the test.</p>

<div class="choose-buttons"><a class="icon-wallet billing-button active" href="#billing-patient-content" id="billing-patient"><span>Patient<br />
Pay</span> </a> <a class="icon-files billing-button" href="#billing-institutional-content" id="billing-institutional"><span>Institutional<br />
Billing</span> </a> <a class="icon-envelope-window billing-button" href="#billing-insurance-content" id="billing-insurance"> <span>Insurance<br />
Billing</span> </a> <a class="icon-folder-cross billing-button" href="#billing-medicare-content" id="billing-medicare"> <span>Medicare<br />
Billing</span> </a></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="billing-content active" id="billing-patient-content">
<div class="billing-description">
<p></p>

<p>If preferred, patients in the US and Canada have the option to pay $475 per <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a>, upfront and in full.</p>

<ul class="bullet-list">
	<li>Patient prepay orders must be placed online, including the requisition from the clinician.</li>
	<li>This is available as a prepaid option only and does not allow Invitae to submit to insurance.</li>
	<li>The patient agrees to register online and set their contact preferences.</li>
	<li>Patient assistance programs are not available for patient prepay option.</li>
</ul>

<p></p>

<p>To take advantage of the $475 price, simply place the order online, selecting the &ldquo;Patient Pay&rdquo; option during the billing portion of the online requisition process. You will be asked to enter your patient&rsquo;s email address. We will follow up with your patient directly to have them sign up for an account and pay online by credit card. Visa, MasterCard, Discover, and JCB cards are all accepted. These steps must be followed before the report will be released.</p>
</div>
</div>

<div class="billing-content" id="billing-institutional-content">
<div class="billing-description">
<ul class="bullet-list">
	<li>For institutions and distributors under contract with Invitae and payers who contract with Invitae under certain terms, the price per <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> is $950.</li>
	<li>For non-contracted institutions, the price per <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> is $1,500.</li>
</ul>

<p></p>

<p>To choose institutional billing, select the &quot;Institutional Billing&quot; option during the billing portion of the online requisition process. We will work with your institution to set up a contract if one is not already in place, and we encourage referring institutions (i.e., clinics, hospitals, labs, and private practices) to set up contracts with us in advance.</p>
</div>
</div>

<div class="billing-content" id="billing-insurance-content">
<div class="billing-description">
<ul class="bullet-list">
	<li>For payers who bring Invitae in-network under certain terms, the price per <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> is $950.</li>
	<li>For third-party payers for which Invitae is out-of-network, the price per <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> is $1,500.</li>
</ul>

<p></p>

<p>Invitae can bill insurance carriers directly. (This option does not apply to the $475 patient-pay price.) Simply select the &quot;Insurance Billing&quot; option during the billing portion of the online requisition process. Patients won&rsquo;t need to contact their insurance company to find out if testing is covered or to obtain reimbursement; Invitae will contact the insurance company directly to coordinate coverage and payment. Patients may receive an explanation of benefits (EOB) from their insurance company in the mail: This is not a bill. Invitae will also receive this EOB and will handle any appeals processes.</p>

<p>Please be prepared to provide the following information if you wish to bill insurance for an order:</p>

<ul class="bullet-list">
	<li>The patient&#39;s first and last name, phone number, and mailing address</li>
	<li>A copy (front and back) of the patient&#39;s insurance card</li>
	<li>Relevant ICD10 codes</li>
	<li>A letter of medical necessity</li>
</ul>

<p><br />
Regardless of whether a patient is in-network or out-of-network, Invitae&#39;s goal is that a patient will never be surprised by an out-of-pocket balance. To help provide patients with accurate information regarding out-of-pocket insurance requirements, Invitae may conduct a benefits investigation. Where Invitae&#39;s benefits investigation discloses a plan that requires a patient out-of-pocket in excess of $100, Invitae will notify the patient. The patient may then opt to cancel the test and avoid all charges.</p>

<div class="list-content row">
<div class="col-md-3">Patient Assistance Program</div>

<div class="col-md-9">If insurance doesn&rsquo;t cover testing, patients may want to consider Invitae&rsquo;s patient-pay option (please see details on the patient-pay section of this web page). Invitae may also be able to offer testing at limited or no expense to those who qualify for need-based financial assistance. Please visit the Billing and Insurance section of our <a href="{% page_url 'portal_common.faq' %}">FAQ</a> for further information.</div>
</div>

<p></p>
</div>
</div>

<div class="billing-content" id="billing-medicare-content">
<div class="billing-description">
<p></p>

<p>Medicare can be used to pay for an Invitae test when specific criteria are met. The Invitae Medicare criteria align with clinical practice guidelines from organizations including the National Comprehensive Cancer Network (NCCN).</p>

<p>Please include with your Medicare order:</p>

<ul class="bullet-list">
	<li>Invitae&#39;s Medicare criteria form, available for oncology <a href="http://marketing.invitae.com/acton/attachment/7098/f-0295/1/-/-/-/-/FM133-1_Oncology-Medicare-Criteria-Form.pdf" target="blank">here</a> and for cardiology <a href="http://marketing.invitae.com/acton/attachment/7098/f-0290/1/-/-/-/-/FM132-1_Cardiology-Medicare-criteria-form.pdf" target="_blank">here</a></li>
	<li>A letter of medical necessity, available <a href="http://marketing.invitae.com/acton/attachment/7098/f-00fb/1/-/-/-/-/FM120-1_Template-LOMN.pdf">here</a></li>
	<li>A signed informed consent form, available <a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-2_Invitae-patient-consent.pdf" target="blank">here</a>, dated on or before the date of blood draw<sup>*</sup></li>
</ul>

<p style="margin-left: 40px;">&nbsp;<sup>*</sup>The consent form must be dated <strong>on or before</strong> the date of draw or else a new sample will be required</p>

<p>If your patient has Medicare as well as commercial insurance, the Medicare forms are still required. Invitae will pursue claims with either the commercial insurance carrier or Medicare as needed.</p>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p></p>
</div>
</div>
</div>
</div>
