<div class="row">
<div class="col-md-12">
<h3>BRCA e muito mais &agrave; sua conveni&ecirc;ncia.</h3>

<p>Novas op&ccedil;&otilde;es de testes para c&acirc;ncer de mama e de ov&aacute;rio heredit&aacute;rios e de endom&eacute;trio/&uacute;tero. Solicite os genes BRCA isoladamente ou fa&ccedil;a um upgrade para qualquer um dos nossos pain&eacute;is com m&uacute;ltiplos genes pelo mesmo pre&ccedil;o<sup>*</sup>. S&atilde;o apenas tr&ecirc;s semanas, em m&eacute;dia, desde a coleta at&eacute; os resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0089' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de c&acirc;ncer heredit&aacute;rio de mama e ov&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">Ver teste</a>

<p>O BRCA1 e o BRCA2 s&atilde;o respons&aacute;veis por ~50% dos casos de c&acirc;ncer de mama e ov&aacute;rio em mulheres com forte hist&oacute;rico familiar ou diagn&oacute;stico de in&iacute;cio precoce. Nosso teste inclui sequenciamento gen&eacute;tico completo e dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0009' %}"><span class="icon icon-angle-right"></span> C&acirc;ncer de mama heredit&aacute;rio, painel de alto risco</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">Ver teste</a>

<p>Abrange doen&ccedil;as causadas por 7 genes que conferem um risco elevado de c&acirc;ncer de mama ao longo da vida, variando de 40% a 90%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0020' %}"><span class="icon icon-angle-right"></span>C&acirc;ncer de mama heredit&aacute;rio, painel de risco moderado</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">Ver teste</a>

<p>Esse painel inclui 10&nbsp;genes que foram associados a um risco moderado do desenvolvimento de c&acirc;ncer de mama.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0021' %}"><span class="icon icon-angle-right"></span>C&acirc;ncer de mama heredit&aacute;rio, painel estendido</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">Ver teste</a>

<p>Esse painel abrange 17 genes associados a um risco elevado de desenvolvimento de c&acirc;ncer de mama ao longo da vida, al&eacute;m de outros tipos de c&acirc;ncer.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0022' %}"><span class="icon icon-angle-right"></span>C&acirc;nceres ginecol&oacute;gicos heredit&aacute;rios, painel de alto risco</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">Ver teste</a>

<p>Engloba 9 genes com diretrizes de tratamento publicadas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0007' %}"><span class="icon icon-angle-right"></span>C&acirc;nceres de mama e ginecol&oacute;gico heredit&aacute;rios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">Ver teste</a>

<p>(Anteriormente, Painel de c&acirc;nceres heredit&aacute;rios em mulheres) painel com 22 genes que analisa a gen&eacute;tica de uma paciente com rela&ccedil;&atilde;o &agrave; ocorr&ecirc;ncia de c&acirc;ncer heredit&aacute;rio de mama e ov&aacute;rio e de endom&eacute;trio e &uacute;tero.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&acirc;ncer heredit&aacute;rio</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver teste</a>

<p>Testa 34 genes comprovadamente associados &agrave;s s&iacute;ndromes bem estabelecidas de c&acirc;ncer heredit&aacute;rio.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="brca-testing-figure">
<div class="content">&nbsp;</div>
</div>

<p class="fig-footnotes"><sup>*</sup> NF1: Os exons 16-24, 31-35 n&atilde;o est&atilde;o inclu&iacute;dos na an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o</p>
</div>
</div>
