<div class="row">
<div class="col-md-12">
<h3>Red de referencia a asesoramiento genético</h3>

<p>Invitae considera que el análisis genético debe ser supervisado por un profesional de atención médica experto en genética. Nuestra Red de proveedores de servicios genéticos conecta a pacientes y médicos con profesionales especialistas en genética locales.</p>

<p>Obtenga más información en nuestra página web de la <a href="{% page_url 'portal_common.genetics-provider-network' %}">Red de proveedores de servicios genéticos</a>.</p>
</div>
</div>