<div class="row">
<div class="col-md-12">
<h3>Licenciamento</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae &eacute; certificada pelo Clinical Laboratory Improvement Amendments (CLIA)?</h4>

<div class="expandable-content">
<p>Sim. O nosso n&uacute;mero de ID da CLIA &eacute; 05D2040778. Uma c&oacute;pia da nossa licen&ccedil;a pode ser baixada na p&aacute;gina <a href="{% page_url 'portal_common.licensing' %}">Licenciamento</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae &eacute; credenciada pela College of American Pathologists (CAP)?</h4>

<div class="expandable-content">
<p>Sim. O nosso n&uacute;mero de LAP da CAP &eacute; 8770489 e nosso AU-ID &eacute; 1703789. Uma c&oacute;pia da nossa licen&ccedil;a pode ser baixada na p&aacute;gina <a href="{% page_url 'portal_common.licensing' %}">Licenciamento</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Voc&ecirc;s aceitam amostras de todos os estados?</h4>

<div class="expandable-content">
<p>Atualmente, aceitamos amostras de todos os estados, exceto Nova York. Podemos conceder uma exce&ccedil;&atilde;o se uma isen&ccedil;&atilde;o de responsabilidade aprovada do Estado de Nova York for inclu&iacute;da com a amostra do paciente.</p>
</div>
</div>
</div>
</div>
