<div class="row">
<div class="col-md-12">
<h3>Outros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é “Free the Data”?</h4>

<div class="expandable-content">
<p>Free The Data é um movimento apoiado pela Invitae para coletar informações genéticas e outras de saúde de indivíduos com testes positivos para uma mutação no BRCA1 ou BRCA2. Visite o site <a href="http://www.free-the-data.org/" target="_blank">Free the Data</a> para ler mais ou contribuir.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é Clinvitae?</h4>

<div class="expandable-content">
<p>Clinvitae é um banco de dados de variantes genéticas clinicamente observadas, agregado a partir de fontes públicas e operado e disponibilizado gratuitamente pela Invitae. Visite o banco de dados em <a href="http://clinvitae.invitae.com/" target="_blank">clinvitae.invitae.com</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que é a Ferramenta do Histórico Familiar?</h4>

<div class="expandable-content">
<p>A Ferramenta do Histórico Familiar da Invitae é um aplicativo gratuito para criar, modificar, compartilhar e salvar as linhagens dos pacientes. Ela está disponível via web ou como um aplicativo para iPad e as informações se integram perfeitamente ao nosso processo de solicitações on-line. Se você já tiver uma conta Invitae, poderá usar as mesmas credenciais para entrar na Ferramenta do Histórico Familiar. Para saber mais e baixar a Ferramenta do Histórico Familiar, visite nossa página  <a href="{% page_url 'portal_common.family-history' %}">Ferramenta do Histórico Familiar</a>.</p>
</div>
</div>
</div>
</div>