<div class="row">
<div class="col-md-12">
<h3>Requisitos de Amostras e Remessas</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais s&atilde;o os requisitos da amostra?</h4>

<div class="expandable-content">
<p>O tipo de amostra de prefer&ecirc;ncia da Invitae para ensaios de sequenciamento de &ugrave;ltima gera&ccedil;&atilde;o (NGS) consiste em 3 ml de sangue total venoso perif&eacute;rico em um tubo de EDTA de tampa roxa. Tamb&eacute;m aceitamos amostras de saliva, al&eacute;m de DNAg purificado de sangue total venoso perif&eacute;rico. Para conhecer os requisitos de amostras e de envio, acesse nossa p&aacute;gina de <a href="{% page_url 'portal_common.sample-requirements' %}">Requisitos de Amostras</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Voc&ecirc;s aceitam amostras pr&eacute;-natais?</h4>

<div class="expandable-content">
<p>No momento, n&atilde;o. Podemos testar os futuros pais quanto ao status de portador, mas n&atilde;o oferecemos testes pr&eacute;-natais para as m&atilde;es gestantes.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae fornece kits de coleta de amostras?</h4>

<div class="expandable-content">
<p>Sim, podemos lhe enviar kits de coleta de amostras gratuitamente. Eles s&atilde;o equipados com todos os materiais de remessa necess&aacute;rios. Visite nossa p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicite um Kit</a> para saber mais.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Voc&ecirc;s podem organizar uma coleta de sangue para o meu paciente?</h4>

<div class="expandable-content">
<p>Sim, a Invitae pode ajudar a agendar uma visita para retirada do sangue para o seu paciente em seu consult&oacute;rio ou na casa do seu paciente. Oferecemos cobertura nacional e o servi&ccedil;o &eacute; fornecido sem custo adicional. Visite nossa p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um Kit</a> para saber mais sobre o agendamento de uma visita para coleta de sangue.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita DNA gen&ocirc;mico extra&iacute;do em outros laborat&oacute;rios?</h4>

<div class="expandable-content">
<p>Se voc&ecirc; estiver interessado na an&aacute;lise do DNA gen&ocirc;mico, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores gen&eacute;ticos. Os nossos consultores gen&eacute;ticos ficar&atilde;o satisfeitos em discutir com voc&ecirc; os benef&iacute;cios e as limita&ccedil;&otilde;es atuais no contexto do seu caso espec&iacute;fico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Voc&ecirc;s aceitam amostras post-mortem?</h4>

<div class="expandable-content">
<p>Se voc&ecirc; estiver interessado na an&aacute;lise post-mortem, entre em contato com a nossa equipe de atendimento ao cliente para falar com um de nossos consultores gen&eacute;ticos. Um de nossos consultores gen&eacute;ticos ficar&aacute; satisfeito em discutir os benef&iacute;cios e as limita&ccedil;&otilde;es atuais com voc&ecirc; no contexto do seu caso espec&iacute;fico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Que documentação é necessária para cada amostra?</h4>

<div class="expandable-content">
<p>Uma c&oacute;pia impressa do formul&aacute;rio de requisi&ccedil;&atilde;o preenchido deve acompanhar cada amostra. Voc&ecirc; pode fazer o download e imprimir os formul&aacute;rios de requisi&ccedil;&atilde;o depois de preencher o processo de requisi&ccedil;&atilde;o on-line. Se o faturamento &agrave; Invitae ser&aacute; atrav&eacute;s de um provedor de seguros nos EUA, solicitamos as informa&ccedil;&otilde;es para seguro ou uma c&oacute;pia frente e verso do cart&atilde;o de seguro do paciente. Uma Carta de necessidade m&eacute;dica (LOMN) tamb&eacute;m seria &uacute;til, mas n&atilde;o &eacute; obrigat&oacute;ria. Se o paciente tiver Medicare, solicitamos o formul&aacute;rio de Crit&eacute;rios do Medicare da Invitae, al&eacute;m do formul&aacute;rio de consentimento do paciente, que dever&aacute; estar assinado at&eacute; a data da coleta de sangue. Se o paciente n&atilde;o atender aos crit&eacute;rios do Medicare da Invitae para testes, tamb&eacute;m ser&aacute; necess&aacute;ria uma Carta de necessidade m&eacute;dica.</p>

<p>Os envios internacionais t&ecirc;m exig&ecirc;ncias adicionais. Consultea p&aacute;gina de Requisitos de amostras para obter mais informa&ccedil;&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como eu envio uma amostra para a Invitae?</h4>

<div class="expandable-content">
<p>Nossos kits v&ecirc;m com uma etiqueta de remessa. Ou ent&atilde;o, envie a amostra de sangue em um recipiente &agrave; prova de esmagamento via FedEx Priority Overnight para o seguinte endere&ccedil;o:</p>

<p>A/C de: Atendimento ao cliente<br />
Invitae Corporation<br />
475 Brannan Street, Suite 230<br />
San Francisco, CA, 94107</p>

<p><a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o n&uacute;mero da conta FedEx da Invitae. Se voc&ecirc; optar por usar o m&eacute;todo de remessa da sua institui&ccedil;&atilde;o, envie o n&uacute;mero de rastreamento para <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>. Aceitamos entregas de segunda a sexta-feira, exceto feriados.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae paga pela remessa?</h4>

<div class="expandable-content">
<p>Sim. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter o n&uacute;mero da conta FedEx e fazer a remessa noturna da amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae aceita entregas em finais de semana ou feriados?</h4>

<div class="expandable-content">
<p><strong>Entregas em finais de semana:</strong> N&atilde;o. A Invitae aceita pacotes de segunda a sexta-feira. Recomendamos que voc&ecirc; envie o seu pacote de forma que ele saia das suas instala&ccedil;&otilde;es de segunda a quinta-feira. N&atilde;o solicite a entrega aos s&aacute;bados. Fa&ccedil;a a remessa noturna da Federal Express, em conformidade com as orienta&ccedil;&otilde;es deles, usando o n&uacute;mero da conta FedEx fornecido pela <a href="{% page_url 'portal_common.contact' %}">equipe de atendimento ao cliente da Invitae</a>.</p>

<p><strong>Entregas em feriados:</strong> A Invitae segue o <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">Calend&aacute;rio de servi&ccedil;os em feriados da FedEx</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Com que rapidez ap&oacute;s a coleta de sangue uma amostra precisa ser enviada &agrave; Invitae?</h4>

<div class="expandable-content">
<p>Recomendamos a remessa noturna da amostra no mesmo dia em que a amostra de sangue &eacute; coletada. Se armazenada em temperatura ambiente, a amostra de sangue &eacute; vi&aacute;vel por at&eacute; 48 horas e se refrigerada, por at&eacute; uma semana. N&atilde;o congele a amostra de sangue.</p>
</div>
</div>
</div>
</div>
