<div class="row">
<div class="col-md-12">
<h3>Solicita&ccedil;&atilde;o de Testes Gen&eacute;ticos</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que a Invitae testa?</h4>

<div class="expandable-content">
<p>A Invitae oferece o sequenciamento g&ecirc;nico completo e a an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o. Voc&ecirc; pode solicitar qualquer combina&ccedil;&atilde;o entre genes, doen&ccedil;as e pain&eacute;is pelo mesmo pre&ccedil;o<sup>*</sup>. Para visualizar o cat&aacute;logo de testes completo, acesse a nossa p&aacute;gina <a href="{% page_url 'portal_common.test-catalog' %}">Cat&aacute;logo de Testes</a>.</p>

<p class="endnote"><sup>*</sup>Preco por &aacute;rea cl&iacute;nica: Lista de pre&ccedil;os de U$ 1500, com desconto a U$ 950 para institui&ccedil;&otilde;es e distribuidores sob contrato com Invitae, e pagadores que contratem Invitae baixo certos termos. Pago direto pelo pacientes com um pre&ccedil;o de U$ 475 para pedidos realizados on-line e conectatos a uma conta de um paciente. Os pre&ccedil;osfora dos EUA n&atilde;o incluem os valores de envio. Por favor, <a href="{% page_url 'portal_common.contact' %}" target="_blank">contate-se com</a> nosso Atendimento ao Cliente para mais informa&ccedil;&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual metodologia de sequenciamento &eacute; usada?</h4>

<div class="expandable-content">
<p>A Invitae realiza o sequenciamento g&ecirc;nico completo e a an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o usando a tecnologia da pr&oacute;xima gera&ccedil;&atilde;o. Para obter mais informa&ccedil;&otilde;es sobre o nosso ensaio, visite a nossa p&aacute;gina <a href="{% page_url 'portal_common.assay' %}">Ensaio</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece a an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o?</h4>

<div class="expandable-content">
<p>Sim, o ensaio da Invitae detecta a maioria dos eventos de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o abrangendo um &uacute;nico &eacute;xon ou mais. No entanto, em alguns casos, os genes e &eacute;xons espec&iacute;ficos s&atilde;o exclu&iacute;dos da an&aacute;lise. Consulte a nossa <a href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf" target="_blank">Lista de Genes</a> para obter mais detalhes.</p>

<p>​Nosso algoritmo de detec&ccedil;&atilde;o de n&uacute;mero de c&oacute;pias pode identificar tamb&eacute;m grandes eventos de exclus&atilde;o/duplica&ccedil;&atilde;o que incluem e se estendem al&eacute;m de um gene alvo, embora as fronteiras desses eventos n&atilde;o podem ser determinadas al&eacute;m do gene mesmo. A esse respeito, o exame da Inviate n&atilde;o fornece uma an&aacute;lise citogen&eacute;tica para grandes anomalias cromoss&ocirc;micas ou mudancas sem altera&ccedil;&atilde;o no n&uacute;mero de c&oacute;pias, como transloca&ccedil;&otilde;es rec&iacute;procas, dissomias uniparentais ou invers&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece os testes de BRCA?</h4>

<div class="expandable-content">
<p>Sim, oferecemos o sequenciamento g&ecirc;nico completo e a an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o de BRCA1 e BRCA2. Sem nenhum custo adicional*, voc&ecirc; pode atualizar para um dos nossos pain&eacute;is mais amplos para c&acirc;ncer heredit&aacute;rio, que incluem outros genes para c&acirc;ncer heredit&aacute;rio.</p>

<p class="endnote"><sup>*</sup>Pre&ccedil;o por condi&ccedil;&atilde;o cl&iacute;nica: Pre&ccedil;o de lista de $1500 d&oacute;lares, com desconto a $950 d&oacute;lares para institui&ccedil;&otilde;es e distribuidores sob contrato com Invitae e para provedores em rede. O pre&ccedil;o para pacientes com pago &agrave; vista &eacute; de $450 d&oacute;lares para pedidos realizados on-line e conectados a uma conta de um paciente. Os pre&ccedil;os para fora dos EUA n&atilde;o incluem as taxas de envio. Por favor, <a href="{% page_url 'portal_common.contact' %}" target="_blank">contate-se com</a> nosso Atendimento ao Cliente para mais informa&ccedil;&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece testes de acompanhamento da variante familiar?</h4>

<div class="expandable-content">
<p>Sim. Se o familiar original foi testado pela Invitae, os testes da variante familiar est&atilde;o dispon&iacute;veis para os membros eleg&iacute;veis da fam&iacute;lia por apenas US$ 200 por gene, para cada membro da fam&iacute;lia. Visite nossa p&aacute;gina <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Testes da Variante Familiar</a> para saber mais.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Posso solicitar testes adicionais (repeti&ccedil;&atilde;o da requisi&ccedil;&atilde;o) para uma amostra do paciente que foi previamente testada pela Invitae?</h4>

<div class="expandable-content">
<p>Sim. Se o seu paciente receber um resultado negativo ou inconclusivo em um teste da Invitae, voc&ecirc; poder&aacute; testar mais genes relacionados &agrave; &aacute;rea cl&iacute;nica original do teste sem nenhum custo adicional (apenas os genes dispon&iacute;veis no momento da solicita&ccedil;&atilde;o original s&atilde;o eleg&iacute;veis). A Invitae oferece uma (1) repeti&ccedil;&atilde;o da requisi&ccedil;&atilde;o sem custo adicional, no prazo de 90 dias a contar da data do lan&ccedil;amento do relat&oacute;rio original. Al&eacute;m de 90 dias ap&oacute;s a data de lan&ccedil;amento do relat&oacute;rio original, ser&atilde;o cobrados do paciente US$ 475 pelas repeti&ccedil;&otilde;es de requisi&ccedil;&otilde;es relacionadas &agrave; mesma &aacute;rea cl&iacute;nica (apenas genes dispon&iacute;veis no momento da solicita&ccedil;&atilde;o original s&atilde;o eleg&iacute;veis). Para saber mais sobre esse programa, visite a nossa p&aacute;gina <a href="{% page_url 'portal_common.re-requisition' %}" target="_blank">Repeti&ccedil;&atilde;o da Requisi&ccedil;&atilde;o</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como enviar uma solicita&ccedil;&atilde;o?</h4>

<div class="expandable-content">
<p>Fa&ccedil;a a sua solicita&ccedil;&atilde;o on-line para um processamento mais eficiente, uma entrega mais r&aacute;pida do relat&oacute;rio e acesso a recursos on-line adicionais. A configura&ccedil;&atilde;o de uma conta leva apenas alguns minutos e voc&ecirc; tamb&eacute;m pode navegar e solicitar diretamente do nosso cat&aacute;logo on-line de testes. Voc&ecirc; tamb&eacute;m pode fazer uma solicita&ccedil;&atilde;o em papel.</p>

<p>Para saber mais sobre como configurar uma conta e fazer uma solicita&ccedil;&atilde;o, visite nossa p&aacute;gina <a href="{% page_url 'portal_common.ordering' %}">Como Fazer uma Solicita&ccedil;&atilde;o</a> para obter instru&ccedil;&otilde;es mais detalhadas e assistir aos nossos v&iacute;deos instrutivos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece os testes de um &uacute;nico local?</h4>

<div class="expandable-content">
<p>Sim. Embora a Invitae n&atilde;o ofere&ccedil;a testes de um &uacute;nico local propriamente ditos, oferecemos os testes da variante familiar e a resolu&ccedil;&atilde;o da variante de significado indeterminado (VSI). Esses dois programas envolvem a an&aacute;lise completa do gene em que a variante do membro original da fam&iacute;lia foi identificada. O relat&oacute;rio incluir&aacute; o status da variante familiar bem como de quaisquer outras variantes patog&ecirc;nicas ou provavelmente patog&ecirc;nicas identificadas nesse gene. Visite nossas p&aacute;ginas <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Testes da Variante Familiar</a> and <a href="{% page_url 'portal_common.vus-resolution' %}" target="_blank">Resolu&ccedil;&atilde;o da VSI</a> para obter detalhes de cada um desses programas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Posso preencher uma requisi&ccedil;&atilde;o em nome de um m&eacute;dico da minha cl&iacute;nica?</h4>

<div class="expandable-content">
<p>Sim. Lembre-se: quem fizer a solicita&ccedil;&atilde;o ser&aacute; o principal ponto de contato para atualiza&ccedil;&otilde;es de status e divulga&ccedil;&atilde;o relacionadas &agrave; requisi&ccedil;&atilde;o. Se voc&ecirc; estiver solicitando como representante cl&iacute;nico, insira os detalhes do m&eacute;dico solicitante em &ldquo;Equipe cl&iacute;nica&rdquo; e certifique-se de inserir o endere&ccedil;o de e-mail do m&eacute;dico se ele quiser receber uma c&oacute;pia do relat&oacute;rio.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como posso fazer altera&ccedil;&otilde;es em uma requisi&ccedil;&atilde;o que j&aacute; foi enviada?</h4>

<div class="expandable-content">
<p>Se voc&ecirc; quiser fazer altera&ccedil;&otilde;es em uma requisi&ccedil;&atilde;o conclu&iacute;da, <a href="{% page_url 'portal_common.contact' %}">entre em contato</a> com o Atendimento ao cliente e n&oacute;s o ajudaremos.</p>
</div>
</div>
</div>
</div>
