<div class="row">
<div class="col-md-12">
<h3>Resultados</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual &eacute; o tempo de resposta?</h4>

<div class="expandable-content">
<p>Em m&eacute;dia, 3 semanas a partir do momento em que recebermos a amostra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A solicita&ccedil;&atilde;o de um n&uacute;mero menor de genes resulta em um tempo de resposta mais curto?</h4>

<div class="expandable-content">
<p>N&atilde;o, o nosso tempo m&eacute;dio de resposta para todos os testes &eacute; de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>A Invitae oferece a entrega acelerada de relat&oacute;rios?</h4>

<div class="expandable-content">
<p>N&atilde;o, o nosso tempo m&eacute;dio de resposta para todos os testes &eacute; de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como receberei o relat&oacute;rio?</h4>

<div class="expandable-content">
<p>Quando o relat&oacute;rio estiver pronto, voc&ecirc; poder&aacute; visualiz&aacute;-lo e baix&aacute;-lo diretamente de sua conta Invitae. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente se quiser enviar o relat&oacute;rio por fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que est&aacute; inclu&iacute;do no relat&oacute;rio cl&iacute;nico Invitae?</h4>

<div class="expandable-content">
<p>Os resultados e suas interpreta&ccedil;&otilde;es cl&iacute;nicas s&atilde;o apresentados na forma de um relat&oacute;rio cl&iacute;nico f&aacute;cil de entender, com total transpar&ecirc;ncia sobre as caracter&iacute;sticas de desempenho para cada afec&ccedil;&atilde;o ou gene. Um relat&oacute;rio de amostra pode ser encontrado na p&aacute;gina <a href="{% page_url 'portal_common.order-forms' %}">Formul&aacute;rios</a> do nosso site.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Como a Invitae classifica as variantes gen&eacute;ticas?</h4>

<div class="expandable-content">
<p>A equipe Invitae de cientistas, consultores gen&eacute;ticos e m&eacute;dicos geneticistas trabalha para fornecer classifica&ccedil;&otilde;es rigorosas e de alta qualidade das variantes. O nosso m&eacute;todo de classifica&ccedil;&atilde;o da variante segue rigorosamente as recomenda&ccedil;&otilde;es da American College of Medical Genetics (ACMG). Para saber mais, visite a nossa p&aacute;gina <a href="{% page_url 'portal_common.variant-classification' %}">Classifica&ccedil;&atilde;o da Variante</a>.</p>
</div>
</div>
</div>
</div>
