<div class="row">
<div class="col-md-12">
<h3>Faturamento e Seguros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual &eacute; o pre&ccedil;o dos testes Invitae?</h4>

<div class="expandable-content">
<p>A miss&atilde;o da Invitae &eacute; trazer informa&ccedil;&otilde;es gen&eacute;ticas &agrave; pr&aacute;tica cl&iacute;nica atual para melhorar a qualidade da assist&ecirc;ncia m&eacute;dica para bilh&otilde;es de pessoas. Acreditamos em testes respons&aacute;veis com base em orienta&ccedil;&otilde;es m&eacute;dicas estabelecidas e nosso objetivo &eacute; ser completamente transparente em nossos pre&ccedil;os para que os pacientes, m&eacute;dicos e pagadores saibam o custo do teste. A Invitae est&aacute; introduzindo novos pre&ccedil;os para os tr&ecirc;s segmentos de clientes que atende hoje:</p>

<ul class="bullet-list">
	<li>Para as institui&ccedil;&otilde;es n&atilde;o contratadas e pagadores terceirizados <strong>para os quais a Invitae esteja fora da rede</strong>, o pre&ccedil;o por &aacute;rea cl&iacute;nica &eacute; de <strong>US$ 1500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>Para <strong>as institui&ccedil;&otilde;es e distribuidores com os quais temos contratos e para os pagadores da rede Invitae</strong>, o pre&ccedil;o por &aacute;rea cl&iacute;nica &eacute; <strong>US$ 950</strong>.

	<ul class="bullet-list">
		<li>Para obter mais informa&ccedil;&otilde;es sobre os termos do contrato, <a href="{% page_url 'portal_common.contact' %}">entre em contato</a>&nbsp;com o Atendimento ao cliente.</li>
	</ul>
	</li>
	<li>Para os pacientes que optaram por pagar antecipadamente e cujo m&eacute;dico tenha solicitado o nosso teste gen&eacute;tico on-line, o pre&ccedil;o por &aacute;rea cl&iacute;nica <span style="font-size: 14px; line-height: 22.399999618530273px;">&eacute;&nbsp;</span>US$ 475.
	<ul class="bullet-list">
		<li>Essa op&ccedil;&atilde;o est&aacute; dispon&iacute;vel apenas como pr&eacute;-paga e n&atilde;o h&aacute; envio da Invitae para o seguro.</li>
		<li>O paciente concorda em registrar-se on-line e configura as prefer&ecirc;ncias de contato.</li>
		<li>Os programas de assist&ecirc;ncia ao paciente n&atilde;o est&atilde;o dispon&iacute;veis para a op&ccedil;&atilde;o pr&eacute;-paga.</li>
		<li>As solicita&ccedil;&otilde;es pr&eacute;-pagas do paciente devem ser feitas on-line, incluindo a requisi&ccedil;&atilde;o do m&eacute;dico.</li>
		<li>Para solicita&ccedil;&otilde;es internacionais, a op&ccedil;&atilde;o pr&eacute;-paga do paciente <strong>n&atilde;o</strong> inclui a remessa.</li>
	</ul>
	</li>
</ul>

<p>&Eacute; importante observar que para os pre&ccedil;os pagos pelo paciente, exigimos que os pacientes passem por um profissional de sa&uacute;de para solicitar nossos testes. Os profissionais de sa&uacute;de s&atilde;o fundamentais para solicitar o teste certo para o paciente certo e para interpretar as informa&ccedil;&otilde;es gen&eacute;ticas. A Invitae acredita que os pacientes devem possuir e controlar suas informa&ccedil;&otilde;es gen&eacute;ticas, portanto n&atilde;o exigimos que eles forne&ccedil;am seus dados. Permitimos que eles optem pelo n&atilde;o fornecimento e mesmo assim recebam o teste. Embora as informa&ccedil;&otilde;es gen&eacute;ticas sejam mais valiosas quando compartilhadas, os pacientes s&atilde;o os propriet&aacute;rios de seus dados e devem decidir o que querem fazer com eles.</p>

<p class="endnote"><sup>*</sup>Preco por &aacute;rea cl&iacute;nica: Lista de pre&ccedil;os de U$ 1500, com desconto a U$ 950 para institui&ccedil;&otilde;es e distribuidores sob contrato com Invitae, e pagadores que contratem Invitae baixo certos termos. Pago direto pelo pacientes com um pre&ccedil;o de U$ 475 para pedidos realizados on-line e conectatos a uma conta de um paciente. Os pre&ccedil;osfora dos EUA n&atilde;o incluem os valores de envio. Por favor, <a href="{% page_url 'portal_common.contact' %}" target="_blank">contate-se com</a> nosso Atendimento ao Cliente para mais informa&ccedil;&otilde;es.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Quais s&atilde;o as op&ccedil;&otilde;es de pagamento dispon&iacute;veis?</h4>

<div class="expandable-content">
<p>Oferecemos as seguintes op&ccedil;&otilde;es de faturamento. Para saber mais sobre cada uma delas, visite nossa p&aacute;gina <a href="{% page_url 'portal_common.billing' %}">Informa&ccedil;&otilde;es de Pagamento</a>.</p>

<ul class="bullet-list">
	<li>Pagamento do paciente: O paciente paga antecipadamente com cart&atilde;o de cr&eacute;dito ou d&eacute;bito (aceitamos Visa, Mastercard, American Express e JCB)</li>
	<li>Faturamento institucional</li>
	<li>Operadoras terceirizadas de seguros (consulte os detalhes abaixo)</li>
	<li>A cobertura da Medicare estar&aacute; dispon&iacute;vel quando os crit&eacute;rios espec&iacute;ficos forem cumpridos</li>
	<li>Para aqueles que se qualificarem, temos um Programa de acesso do paciente (PAP) para reduzir os custos desembolsados pelo paciente. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter mais informa&ccedil;&otilde;es.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>O que &eacute; necess&aacute;rio para a Invitae cobrar do seguro?</h4>

<div class="expandable-content">
<p>Esteja preparado para fornecer as seguintes informa&ccedil;&otilde;es com a solicita&ccedil;&atilde;o:</p>

<ul class="bullet-list">
	<li>Nome e sobrenome do paciente, n&uacute;mero de telefone e endere&ccedil;o postal</li>
	<li>Uma c&oacute;pia (frente e verso) do cart&atilde;o de seguro do paciente</li>
	<li>C&oacute;digos ICD10 relevantes</li>
	<li>Carta de necessidade m&eacute;dica</li>
</ul>

<p>Essas informa&ccedil;&otilde;es podem ser inseridas durante a requisi&ccedil;&atilde;o, escolhendo o faturamento de terceiros como forma de pagamento.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Voc&ecirc;s oferecem alguma assist&ecirc;ncia financeira?</h4>

<div class="expandable-content">
<p>Al&eacute;m do plano de pagamento, poderemos oferecer assist&ecirc;ncia se o seu paciente cumprir determinados crit&eacute;rios financeiros. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente para obter mais informa&ccedil;&otilde;es ou se quiser preencher uma inscri&ccedil;&atilde;o.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual &eacute; o n&uacute;mero NPI da Invitae?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Qual &eacute; o c&oacute;digo CPT do teste que estou solicitando?</h4>

<div class="expandable-content">
<p>Se voc&ecirc; estiver solicitando um teste que inclui BRCA1 ou BRCA2, o c&oacute;digo CPT ser&aacute; 81211. Para todos os outros testes, o c&oacute;digo CPT para ser usado &eacute; 81479 &ndash; procedimento de patologia molecular n&atilde;o listado.</p>
</div>
</div>
</div>
</div>
