<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Amanda Burris</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'Knowledge is power'</span></h2>

<h5>Amanda Burris on getting tested for BRCA</h5>

<p>As a young girl, Amanda Burris knew more about breast cancer than most adults. “Our family has a long history of breast cancer,” she says. “My great grandma, grandma, aunts, mom, and her cousins—they all had it.”</p>

<p>After watching her 33-year-old mother and 39-year-old aunt battle the disease, Amanda decided to be tested for BRCA1 and BRCA2 at the age of 23. The results, like that of her grandmother, mother, and aunt, came back positive.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe oallowfullscreen="" webkitallowfullscreen="" src="//fast.wistia.net/embed/iframe/t5e6qu3wuq" msallowfullscreen="" allowtransparency="true" scrolling="no" allowfullscreen="" frameborder="0" name="wistia_embed" width="640" mozallowfullscreen="" class="wistia_embed embed-responsive-item" height="360"></iframe><script async src="//fast.wistia.net/assets/external/E-v1.js"></script></div>
</div>

<div class="col-md-12">
<p>Far from dismayed, Amanda says that knowing that she has a variation in the BRCA2 gene, which significantly increases her chance of developing breast cancer, is a step forward.</p>

<p>“For me, knowledge is power,” says Amanda. “The Invitae test gave me the information to take control of my health—and my future.”</p>

<p>Amanda will get married later this year, and plans to have children sooner rather than later in case she chooses to have a mastectomy to take preventive action at a relatively young age. She’s already considering which preventative measures are right for her, and when they would fit into her life. For example, Amanda says she will likely get regular MRIs instead of mammograms, as MRIs can better detect the type of breast cancer she is likely to develop.</p>

<p>Amanda’s mother, Sandy, says that even though it was difficult to hear that she passed the BRCA2 variation to her daughter, she is happy that Amanda is now armed with the knowledge of her specific genetic variation and can work with her healthcare provider to make informed management decisions.</p>

<p>“When we were debating genetic testing, we were thinking: Does she really need to be tested? We already know she’s high risk from our family history,” she says. “But the knowledge has empowered Amanda.”</p>

<p>Amanda agrees. "The interesting thing about genetic testing is that everyone has a history of something,” she says. “Understanding that history—knowing where it comes from and how it works—is very important knowledge.”</p>

<p>“Getting genetic testing really helped because we have a plan and now we understand our options better. It’s all about taking back control of my life.”</p>
</div>
</div>
