<h3>Cardiology categories</h3>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Arrhythmias</h4>

<div class="expandable-content">
<p>Invitae performs full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology. For more information about our assay, please visit our <a href="{% page_url 'portal_common.assay' %}">Assay</a> page.</p>
</div>
</div>
