<div class="row">
<div class="brca-tool-overlay"> </div>

<div class="col-md-12">
<h2>Herramienta de información de <span class="highlighted-text-mountain">cáncer de mama</span></h2>
</div>

<div class="col-md-7 image"><img src="/static/img/slideshow/education-talk-w-your-doctor.png" alt="talk with a doctor" class="talk-with-doctor">
<div aria-labelledby="myLargeModalLabel" role="dialog" aria-hidden="true" class="modal fade modal-fullscreen bs-example-modal-lg" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button type="button" class="close icon-cross" aria-label="Close" data-dismiss="modal"><span aria-hidden="true"></span></button><iframe src="{% url 'patient.education-breast-cancer' %}" id="reveal" name="education-breast-cancer"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>Como parte de nuestro apoyo continuo para los pacientes, hemos desarrollado una variedad de herramientas e información para guiarle durante la experiencia de estudio genético.</p>

<p>Esta herramienta de información de cáncer de mama es un ejemplo del apoyo educativo que ofrecemos. Está prevista para una persona que tiene programada una cita para servicios de asesoramiento genético con Invitae y está interesada en nuestros servicios de estudio genético de cáncer.</p>
<button type="button" data-toggle="modal" class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg"><span class="icon icon-angle-right"></span>INICIAR LA HERRAMIENTA</button></div>
</div>
