<div class="row">
<div class="col-md-7">
<h2>Histórico familiar</h2>

<p>O histórico familiar pode fornecer dicas para sua saúde futura. Coletar o histórico médico de sua família pode ajudá-lo a identificar doenças que você corre o risco de desenvolver.</p>

<p>A Invitae acredita que coletar um histórico familiar completo e preciso é fundamental para interpretar os resultados genéticos. É por isso que oferecemos uma ferramenta digital gratuita que permite traçar seu histórico médico familiar.</p>

<p>Comece com seu próprio <a href="{% page_url 'portal_common.family-history' %}">histórico familiar</a> hoje.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-pedigree-people.png" /></div>
</div>