<div class="section-background"></div>

<div class="landing-section-content">
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-6 col-lg-4">
<h1 class="landing-section-header normal-font-weight">Better health can begin with your DNA</h1>

<p class="landing-section-subhead">Genetic testing can help you make informed health decisions</p>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'patient.how_it_works' %}">LEARN HOW </a></div>
</div>
</div>
</div>