<div class="row">
<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-amanda' %}"><img src="/static/img/patient_portal/rs_amanda_burris.jpg" alt="Amanda Burris" class="rs-hero"> <span class="rs-photo-container__caption">'Para mim, o conhecimento é poder'<br>
—Amanda Burris</span> </a></div>
</div>

<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-ghecemy' %}"><img src="/static/img/patient_portal/rs_ghecemy_lopez.jpg" alt="Ghecemy Lopez" class="rs-hero"> <span class="rs-photo-container__caption">'Isso faz parte de mim, mas não me define'—Ghecemy Lopez</span> </a></div>
</div>

<div class="col-sm-4">
<div class="rs-photo-container"><a class="rs-photo-container__frame" href="{% page_url 'patient.real-stories-debbi' %}"><img src="/static/img/patient_portal/rs_debbi_crowder.jpg" alt="Debbi Crowder" class="rs-hero"> <span class="rs-photo-container__caption">'Esperança de um futuro mais saudável'<br>
—Debbi Crowder</span> </a></div>
</div>
<br>
<br>
<br>
 </div>