<div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="{% if active == 'account' %}active{% endif %}team-button active" id="patient-overview">
                            <a href="#patient-overview-content">Testing <br> Services</a>
                        </li>
                        <li class="{% if active == 'password' %}active{% endif %}team-button" id="patient-status">
                            <a href="#patient-status-content"> Track <br> Your Test</a>
                        </li>
                        <li class="{% if active == 'password' %}active{% endif %}team-button" id="patient-faq">
                            <a href="#patient-faq-content"> Patient <br> FAQs</a>
                        </li>
                        <li class="{% if active == 'contact' %}active{% endif %}team-button" id="patient-genetic">
                            <a href="#patient-genetic-content">Genetic <br> Counseling</a>
                        </li>
                        <li class="{% if active == 'contact' %}active{% endif %}team-button" id="patient-resource">
                            <a href="#patient-resource-content">Tools & <br> Resources</a>
                        </li>
                    </ul>
                </div>

            </div>