<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5 image"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/mac.jpg" /></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Acompanhamento online</span></h2>

<p>Nosso sistema de acompanhamento online permite que voc&ecirc; saiba facilmente em que etapa do processo de teste sua amostra se encontra. Voc&ecirc; tamb&eacute;m pode ver os resultados online depois que seu m&eacute;dico analis&aacute;-los e liber&aacute;-los.</p>

<p><a class="btn btn-color-mountain btn-lg wistia-popover[height=400,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/f0gxidx8et?popover=true" id=""><span class="icon icon-angle-right"></span>ASSISTA AO V&Iacute;DEO</a></p>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<p><a class="btn btn-color-mountain btn-lg" href="{% url 'patient.signup' %}" id=""><span class="icon icon-angle-right"></span> INSCREVA-SE</a></p>
</div>
</div>