<div class="row">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Finding answers for Ben</li>
</ul>
</div>

<div>
<h2><span class="highlighted-text-mountain">&#39;Finding answers for Ben: </span></h2>

<h2><span class="highlighted-text-mountain">A journey of discovering creatine transporter deficiency&#39;</span></h2>

<p></p>

<h5>Amy Perry (Ben&#39;s mother)</h5>

<p><img align="right" height="500" hspace="20" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-09de/1/-/-/-/-/AJP_ACD_HeroImage.jpg" /> Ben is five years old and has creatine transporter deficiency (CTD), which is one of three cerebral creatine deficiency syndromes. With this condition, his body does not have a way to pass creatine through the blood-brain barrier, while the brain needs this substance to generate energy. This means that Ben simply cannot develop normally like other children and, unfortunately, there is no cure for this condition.</p>

<p>We knew something wasn&rsquo;t right early on when Ben started missing his major milestones. He didn&rsquo;t hold his head up when he was supposed to, he didn&rsquo;t sit up until nine months, and he didn&rsquo;t walk until he was two and a half. He has also consistently been on the very low end of every growth and weight scale.</p>

<p>At five years, Ben is not potty trained, and he is just now starting to independently feed himself. Bathing, dressing, and brushing teeth all require assistance. He still needs to hold onto a railing when going up and down stairs, and he just learned how to jump. He cannot write, draw pictures, or read. Verbally, he grunts and points, leads you where he wants to go, and uses a speech program on his iPad. He seems to have good comprehension despite his lack of speech and follows instructions and routines. He does well in a classroom but lacks social interaction skills.</p>

<p>From a treatment perspective, Ben has been in physical, occupational, and speech therapy since he was 11 months old, and he currently attends a special-needs preschool through our local school district. He also takes daily supplements of amino acids, including creatine, which has resulted in moderate developmental gains over the past six months.</p>

<p>Despite these challenges, Ben is the happiest, sweetest, and most interesting boy I&rsquo;ve ever known.</p>

<p>For over four years we knew something was wrong with Ben but had no idea what. It was excruciating for us because we had hopes that he&rsquo;d suddenly catch up to his peers, yet we could also see that his delays were putting him further behind. You want to do the right things for your child, but we had no idea what we were treating, or if there was something else we should be doing. It&rsquo;s a helpless situation for any parent to be in.</p>

<p>Our answer came through genetic testing. CTD can be detected through simple urine and plasma screens that are followed-up with genetic testing to confirm the diagnosis based on changes in the <i>SLC6A8</i> gene. The way we found out, however, was through a whole exome sequencing test that gave us our long-awaited answer.</p>

<p>It took years of specialist appointments until we were finally referred to a genetics specialist, and it was there that our doctor suggested the exome sequencing. When we found out that CTD was detected, it was with both joy and great sadness. Joy that we finally had an answer, and sadness that it was a condition without a cure.</p>

<p>While it took us four years to get to our answer, I know we are very fortunate to have it. Knowledge gives you peace of mind, but it also gives you power. We now know what we are dealing with, how to treat it, and more importantly, how to advocate for our child. Ben is still young, and luckily, we&rsquo;ve been doing all the right things to help him starting at an early age. There&rsquo;s still a long road ahead of us, but it&rsquo;s clearer now than it used to be. I just wish everyone could have their answer much sooner in the diagnostic process, as early detection can make all the difference in the world.</p>

<p>Today, our hopes lie in a vibrant community of other families with cerebral creatine deficiency syndrome, an observational study being conducted on CTD so we can gain more information on the condition, and a drug in preclinical trials that may cure it. There is hope for us and, more importantly, greater hope for those who come after us.</p>

<p><i style="font-size: 13px;"><i>Click&nbsp;<a href="https://www.youtube.com/watch?v=-MRxjwd4eL4&amp;t=35s">here</a>&nbsp;for more information on creatine deficiency. </i></i></p>
</div>