<p>Designed to support your post-test counseling, the guide offers simple documentation that you can use as you discuss the results with your patient or that your patient might use to share their results with family members.</p>

<p>The guide also aims to reinforce how important it is for a patient to work with you to understand their genetic testing results. Risk and/or treatment information are not addressed, and the guide does not contain any information that is not also included in the full report.</p>

<p>We hope this addition helps support your practice. That said, if you do not find the guide helpful, you can simply print the report beginning on page 2 or dispose of the cover sheet in a HIPAA compliant manner.</p>

<p>We are, as always, very interested in your feedback and would like to know your thoughts. If you have suggestions, please don&rsquo;t hesitate to <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services.</p>
