<div class="row">
<div class="col-md-12">
<div class="catalog-group pancreatic">
<h3><span class="icon"></span>Cáncer de Páncreas Hereditario</h3>
<a class="btn btn-color-grape btn-md btn-right" href="{% page_url 'portal_common.pancreatic-cancer-testing' %}">ESTUDIOS PARA EL CÁNCER DE PÁNCREAS</a>

<p>Nuestro panel de Cáncer de Páncreas Hereditario cubre 17 de los genes más comúnmente vinculados a un mayor riesgo de cáncer de páncreas. Obtenga más información sobre nuestras opciones de estudios para el cáncer de páncreas en nuestra página de Estudios para el Cáncer de Páncreas.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de Páncreas Hereditario</h4>

<div class="expandable-content"><a class="btn btn-color-grape btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">VER ESTUDIO</a>

<p>Un panel de 17 genes analiza el riesgo de un paciente de sufrir cáncer de páncreas hereditario, así como otros tipos de cáncer. Se pueden agregar a su solicitud y sin costo adicional otros genes que evalúan el riesgo hereditario de un paciente de sufrir pancreatitis.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2, PALB2, APC, ATM, CDKN2A, MLH1, FANCC, MEN1, PALLD, STK11, TP53, VHL, MSH2, MSH6, EPCAM, and PMS2<br />
Opcional: CDK4, CFTR, CTRC, and SPINK1</p>
</div>
</div>
</div>
</div>
</div>