<div class="row">
<div class="col-md-12">
<div class="catalog-group brca">
<h3><span class="icon"></span>C&aacute;nceres de Mama y Ginecol&oacute;gicos Hereditarios</h3>
<a class="btn btn-color-purple btn-md btn-right" href="{% page_url 'portal_common.brca-testing' %}">ESTUDIO DE BRCA</a>

<p>Cada una de los estudios en esta categor&iacute;a incluye an&aacute;lisis gen&eacute;tico de los genes BRCA1 y BRCA2. Solicite solo los genes BRCA o busque m&aacute;s all&aacute; de BRCA para seleccionar el estudio que mejor se adapte a las necesidades de su paciente. Para obtener m&aacute;s informaci&oacute;n sobre nuestra gama de opciones de estudios de BRCA, visite nuestra p&aacute;gina de An&aacute;lisis de BRCA.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>An&aacute;lisis de BRCA1 y BRCA2</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">VER ESTUDIO</a>

<p>El s&iacute;ndrome de c&aacute;ncer de mama y ov&aacute;rico hereditario (CMOH) es causado por mutaciones en los genes BRCA1 o BRCA2. Las mutaciones en estos genes son el factor de riesgo hereditario m&aacute;s importante para el c&aacute;ncer de mama hereditario, lo que representa aproximadamente el 50% de los casos en personas con antecedentes familiares fuertes o diagn&oacute;sticos de inicio tempranos.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">VER ESTUDIO</a>

<p>El panel de alto riesgo para el c&aacute;ncer de mama hereditario incluye genes que se sabe est&aacute;n asociados con s&iacute;ndromes de c&aacute;ncer de mama de alto riesgo. Los pacientes que han heredado uno de estos s&iacute;ndromes tienen un riesgo extremadamente alto de desarrollar c&aacute;ncer de mama en su vida, que va desde el 40% al 90%, dependiendo del trastorno, la variante gen&eacute;tica espec&iacute;fica y los factores ambientales.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2, CDH1, PALB2, PTEN, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel de riesgo moderado</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">VER ESTUDIO</a>

<p>El panel de riesgo moderado para el c&aacute;ncer de mama hereditario incluye 10 genes que se han asociado con un riesgo moderado de desarrollar c&aacute;ncer de mama.</p>

<p class="genes-analyzed">Genes analizados: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, NF1, RAD50, RAD51C</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel extendido</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">VER ESTUDIO</a>

<p>El panel extendido para el c&aacute;ncer de mama hereditario cubre 17 genes que est&aacute;n asociados con un mayor riesgo de por vida de desarrollar c&aacute;ncer de mama, as&iacute; como otros tipos de c&aacute;ncer.</p>

<p class="genes-analyzed">Genes analizados: ATM, BARD1, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, FANCC, NBN, NF1, PALB2, PMS2, PTEN, RAD50, RAD51C, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;nceres ginecol&oacute;gicos hereditarios, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">VER ESTUDIO</a>

<p>Cubre 9 genes con las pautas de manejo publicadas.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2, EPCAM, MLH1, MSH2, MSH6, PMS2, PTEN, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;nceres de mama y ginecol&oacute;gicos hereditarios (anteriormente c&aacute;nceres de mujer hereditarios)</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">VER ESTUDIO</a>

<p>El estudio para los c&aacute;nceres de mama y ginecol&oacute;gicos hereditarios ofrece un amplio an&aacute;lisis de la gen&eacute;tica del c&aacute;ncer hereditario de mama, de ovario y de endometrio de un paciente. Este estudio puede identificar s&iacute;ndromes de c&aacute;ncer hereditario sin necesidad de estudios gen&eacute;ticos secuenciales, especialmente en pacientes que tienen una presentaci&oacute;n cl&iacute;nica no cl&aacute;sica o una genealog&iacute;a limitada.</p>

<p class="genes-analyzed">Genes analizados: ATM, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, NBN, PALB2, PMS2, PTEN, RAD51C, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>
