<div class="row products-section">
<div class="col-md-12">
<h2>Explore nuestro cat&aacute;logo de estudios gen&eacute;ticos</h2>
</div>

<div class="col-sm-6">
<h6>Invitae se especializa en estudios gen&eacute;ticos para enfermedades hereditarias. Para explorar nuestro catalogo de estudios, utilice la barra de b&uacute;squeda para buscar un gen o afecci&oacute;n espec&iacute;ficos, o explore las especialidades m&eacute;dicas con los botones de abajo.</h6>

<h6>Puede encontrar m&aacute;s informaci&oacute;n sobre los estudios gen&eacute;ticos de Invitae, la creaci&oacute;n de una cuenta en l&iacute;nea y sobre c&oacute;mo hacer una solicitud en los videos instructivos de abajo.</h6>
</div>

<div class="col-sm-6">
<form action="{% url 'physician.search' %}" id="catalog-search-form" method="get" onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})">
<div class="catalog-search-wrapper no-top-margin"><label for="catalog-search-input">Busque</label> <input autocomplete="off" autocorrect="off" class="catalog-search" id="catalog-search-input" name="q" type="text" value="{{ request.GET.q }}" /><button class="catalog-search-button" type="submit"><span class="button-image"></span></button></div>
</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">Puede pedir cualquier combinaci&oacute;n de genes, afecciones y paneles de m&uacute;ltiples genes todo por el mismo precio<sup>*</sup>, con solo tres semanas en promedio desde la muestra hasta los resultados.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1">&nbsp;</div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/en/physician/search/?q=Cardiology" onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})"><span class="text">CARDIOLOG&Iacute;A</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/en/physician/search/?q=Hereditary+cancer" onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})"><span class="text">C&Aacute;NCER<br />
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/en/physician/search/?q=Pediatric+genetics" onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})"><span class="text">GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/en/physician/search/?q=Neurology" onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})"><span class="text">NEUROLOG&Iacute;A</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/en/physician/search/?q=Hematology" onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})"><span class="text">HEMATOLOG&Iacute;A</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1">&nbsp;</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote" style="font-size:14px;"><br />
<sup>*</sup>Pricing per clinical condition: List price of $1500, with discount to $950 for institutions and distributors under contract with Invitae and in-network providers. Upfront patient-pay price is $475 for orders placed online and connected to a patient account. Pricing outside the US does not include shipping fees. Please <a href="{% page_url 'portal_common.contact' %}" target="_blank">contact</a> Client Services for more information.</p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">&zwnj;</a></div>
