<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Todos los Síndromes de Cáncer Hereditario</h3>

<p>Nuestro panel de estudio para síndromes de cáncer hereditario cubre un grupo de síndromes de cáncer hereditario bien establecidos. Por otra parte, se pueden pedir cada uno de estos síndromes como estudios individuales.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndromes de cáncer hereditario</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">VER ESTUDIO</a>

<p>El panel de síndromes de cáncer hereditario puede ser informativo para los pacientes que son adoptados o que tienen una genealogía limitada y que están buscando información sobre su riesgo de cáncer hereditario. También es adecuado para los médicos y pacientes que buscan más información genética con el fin de alejarse de las limitaciones de la medicina reaccionaria y se centran en los beneficios de los cuidados preventivos y el bienestar.</p>

<p class="genes-analyzed">Genes analizados: APC, ATM, BARD1, BMPR1A, BRCA1, BRCA2, BRIP1, CDH1, CDK4, CDKN2A, CHEK2, EPCAM, FANCC, MEN1, MET, MLH1, MRE11A, MSH2, MSH6, MUTYH, NBN, NF1, PALB2, PALLD, PMS2, PTCH1, PTEN, RAD50, RAD51C, RET, SMAD4, STK11, TP53, VHL</p>

<p style="margin-top:30px;">Trastornos incluidos en el panel de síndromes de cáncer hereditario o disponible como estudios individuales:</p>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con ATM</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0109' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: ATM</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con BARD1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0122' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: BARD1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome del nevo de las células basales</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0008' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: PTCH1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con BRIP1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0111' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: BRIP1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con CHEK2</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0112' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: CHEK2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Poliposis adenomatosa familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0022' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: APC</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Melanoma cutáneo familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0023' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: CDK4, CDKN2A</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Adenocarcinoma pancreático familiar</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0028' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: PALLD</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con FANCC</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0113' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: FANCC</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de cáncer de ovario y mama hereditario</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Cáncer gástrico difuso hereditario</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0024' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: CDH1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Carcinoma hereditario de las células renales papilares</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0036' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: MET</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de poliposis juvenil</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0042' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: BMPR1A, SMAD4</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Li-Fraumeni</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0049' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: TP53</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Lynch</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con MRE11A</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0118' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: MRE11A</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neoplasia endocrina múltiple, tipo 1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0091' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: MEN1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neoplasia endocrina múltiple, tipo 2</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0092' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: RET</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Poliposis asociada con MUTYH</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0061' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: MUTYH</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con NBN</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0114' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: NBN</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Neurofibromatosis, tipo 1</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0090' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: NF1</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Peutz-Jeghers</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0069' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: STK11</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome tumoral hamartomatoso asociado a PTEN</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0075' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: PTEN</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con RAD50</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0119' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: RAD50</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Riesgo de cáncer relacionado con RAD51C</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0116' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: RAD51C</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Von Hippel-Lindau</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0086' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: VHL</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>