<div class="row">
<div class="col-md-12">
<div class="catalog-group colon">
<h3><span class="icon"></span>C&aacute;ncer de Colon Hereditario</h3>
<a class="btn btn-color-bay btn-md btn-right" href="{% page_url 'portal_common.colon-cancer-testing-page' %}">ESTUDIOS PARA EL C&Aacute;NCER DE COLON</a>

<p>Nuestra gama de opciones de estudios para el c&aacute;ncer de colon hereditario cubre los s&iacute;ndromes de c&aacute;ncer hereditario colorrectal y poliposis, incluyendo el s&iacute;ndrome de Lynch. Obtenga m&aacute;s informaci&oacute;n sobre nuestras opciones de estudios para el c&aacute;ncer de colon en nuestra p&aacute;gina de Estudios para el C&aacute;ncer de Colon.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndrome de Lynch</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">VER ESTUDIO</a>

<p>El s&iacute;ndrome de Lynch (SL) es un s&iacute;ndrome de c&aacute;ncer hereditario que aumenta significativamente el riesgo de por vida de una persona de desarrollar c&aacute;ncer colorrectal. Las personas afectadas tambi&eacute;n tienen un mayor riesgo de desarrollar otros tipos de c&aacute;ncer, incluyendo c&aacute;ncer de est&oacute;mago, endometrio, ovario, mama, tracto hepatobiliar, tracto urinario, intestinal, cerebro y p&aacute;ncreas.</p>

<p class="genes-analyzed">Genes analizados: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;ncer de colon hereditario, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">VER ESTUDIO</a>

<p>El panel de Alto Riesgo para el C&aacute;ncer de Colon Hereditario incluye genes que se sabe est&aacute;n asociados con s&iacute;ndromes de c&aacute;ncer colorrectal de alto riesgo. Los pacientes que han heredado uno de estos trastornos tienen un riesgo extremadamente alto de desarrollar c&aacute;ncer colorrectal durante su vida, que va desde el 80% a casi el 100%, dependiendo del trastorno.</p>

<p class="genes-analyzed">Genes analizados: APC, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>C&aacute;ncer de colon hereditario</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">VER ESTUDIO</a>

<p>El panel de C&aacute;nceres de Colon Hereditarios ofrece un amplio an&aacute;lisis de la gen&eacute;tica hereditaria para el c&aacute;ncer de colon de un paciente y puede identificar s&iacute;ndromes de c&aacute;ncer hereditario, sin necesidad de estudios gen&eacute;ticos secuenciales. Este estudio analiza los genes m&aacute;s comunes asociados con s&iacute;ndromes hereditarios de c&aacute;ncer de colon, como el s&iacute;ndrome de Lynch, y tambi&eacute;n puede capturar resultados menos esperados.</p>

<p class="genes-analyzed">Genes analizados: APC, BMPR1A, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2, PTEN, SMAD4, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>
