<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Estudios Cardiol&oacute;gicas</h3>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndrome de QT largo</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">VER ESTUDIO</a>

<p>El S&iacute;ndrome de QT largo (SQTL) es una arritmia cardiaca hereditaria que puede causar muerte s&uacute;bita, paro card&iacute;aco, episodios convulsivos y desmayos, tanto en ni&ntilde;os como en adultos. El SQTL es causado por la conducci&oacute;n el&eacute;ctrica anormal que resulta en un intervalo QT prolongado &ldquo;corregido&rdquo; (una medida del tiempo que tarda una se&ntilde;al el&eacute;ctrica en viajar a trav&eacute;s del coraz&oacute;n). La anormalidad del QTc es a menudo, aunque no siempre, visible en un electrocardiograma.</p>

<p class="genes-analyzed">Genes analizados: AKAP9, ANK2, CACNA1C, CAV3, KCNE1, KCNE2, KCNH2, KCNJ2, KCNJ5, KCNQ1, SCN4B, SCN5A, SNTA1</p>

<p style="margin-top:30px;">Subtipos de QT largo disponibles como estudios individuales:</p>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de Andersen-Tawil</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0003' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: KCNJ2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>S&iacute;ndrome de Timothy</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0084' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: CACNA1C</p>
</div>
</div>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndrome de Brugada</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">VER ESTUDIO</a>

<p>El s&iacute;ndrome de Brugada (SBr) es una afecci&oacute;n cardiaca hereditaria que afecta principalmente al sistema el&eacute;ctrico del coraz&oacute;n. El SBr se define por los cambios caracter&iacute;sticos en una etapa del patr&oacute;n el&eacute;ctrico del coraz&oacute;n llamada el segmento ST. Esto resulta en una se&ntilde;al de electrocardiograma (ECG) distintiva.</p>

<p class="genes-analyzed">Genes analizados: CACNA1C, CACNA2D1, CACNB2, GPD1L, KCNE3, KCNH2, KCNJ8, SCN1B, SCN3B, SCN5A</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cardiomiopat&iacute;a hipertr&oacute;fica</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">VER ESTUDIO</a>

<p>La cardiomiopat&iacute;a hipertr&oacute;fica (CMH) es un trastorno card&iacute;aco definido por un engrosamiento anormal e inexplicable del m&uacute;sculo del coraz&oacute;n o miocardio. Este engrosamiento anormal, o hipertrofia, afecta el ventr&iacute;culo izquierdo del coraz&oacute;n y por lo general puede ser detectado por ecocardiograma. La cardiomiopat&iacute;a hipertr&oacute;fica puede perjudicar el modo en que el coraz&oacute;n se contrae y el sistema el&eacute;ctrico del coraz&oacute;n, provocando palpitaciones, mareos (pre-s&iacute;ncope), desmayo (s&iacute;ncope), dolor en el pecho, dificultad para respirar y, en algunos casos, un paro cardiorespiratorio repentino o la muerte.</p>

<p class="genes-analyzed">Genes analizados: ACTC1, ACTN2, CAV3, CSRP3, JPH2, MYBPC3, MYH7, MYL2, MYL3, MYOZ2, NEXN, TCAP, TNNC1, TNNI3, TNNT2, TPM1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>S&iacute;ndrome de QT corto</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">VER ESTUDIO</a>

<p>El s&iacute;ndrome de QT corto (SQTC) es una arritmia cardiaca hereditaria rara que puede provocar desmayos, mareos, episodios convulsivos, paro card&iacute;aco, y/o muerte s&uacute;bita tanto en ni&ntilde;os como en adultos. Puede ser una causa subyacente de algunos casos de S&iacute;ndrome de Muerte S&uacute;bita del Lactante (SMSL).</p>

<p class="genes-analyzed">Genes analizados: CACNA1C, CACNA2D1, CACNB2, KCNH2, KCNJ2, KCNQ1</p>
</div>
</div>
</div>
</div>
</div>
