<div class="row">
<div class="col-md-7">&nbsp;
<h2>&iquest;Es el estudio gen&eacute;tico <span class="colored-mountain">correcto<br />
para m&iacute;?</span></h2>

<p>El primer paso para realizarse un estudio gen&eacute;tico es compartir sus antecedentes de salud familiares con su m&eacute;dico y preguntarle si es apropiado concretar una referencia para asesoramiento gen&eacute;tico. Un proveedor de servicios gen&eacute;ticos puede ayudar a determinar si el an&aacute;lisis gen&eacute;tico es correcto para usted.</p>

<p>Invitae puede ayudarle a identificar  a profesionales de la genética calificados en su área a través de la Red de Consejeros Genéticos de Invitae  (GPN). Por favor, <a href="{% url 'patient.signin' %}?next={% url 'patient.gpn-search' %}">acceda a su cuenta</a> de Invitae para conectarse con nuestra Red de Consejeros Genéticos. Si usted no tiene cuenta en Invitae, <a href="{% url 'patient.signup' %}?next={% url 'patient.gpn-search' %}">cree una</a>.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-talk-with-your-doctor.png" /></div>
</div>