<div class="row">
<div class="col-md-7">
<h2>Antecedentes familiares</h2>

<p>Los antecedentes familiares pueden ofrecer pistas para su salud futura. Recopilar sus antecedentes m&eacute;dicos familiares puede ayudar a identificar enfermedades para las cuales puede estar en riesgo.</p>

<p>Invitae cree que la recopilaci&oacute;n completa y exacta de los antecedentes familiares es esencial para la interpretaci&oacute;n de los resultados gen&eacute;ticos. Es por esta raz&oacute;n que ofrecemos una herramienta digital gratuita que le permite hacer un mapa de sus antecedentes m&eacute;dicos familiares.</p>

<p>Comience con sus propios <a href="{% page_url 'portal_common.family-history' %}">antecedentes familiares</a> hoy mismo.</p>
</div>

<div class="col-md-5 image-col"><img alt="" class="img-responsive center-block" src="/static/img/patient_portal/illustration-pedigree-people.png" /></div>
</div>