<div class="container">
<div class="row">
<div class="col-md-4">
<h2>Cuidamos<br>
<span>de seus<br>
pacientes e<br>
de suas famílias.</span></h2>
</div>

<div class="col-md-8"><a class="fht-responsive" href="/familyhistory/">
<div class="content"> </div>
</a></div>
</div>

<div class="row">
<div class="col-md-2"> </div>

<div class="col-md-9">
<div class="row">
<div class="intro">
<div class="col-md-8">
<h6>INTRODUÇÃO À FERRAMENTA DO HISTÓRICO FAMILIAR DA INVITAE.</h6>

<p>Aplicativo gratuito para modificar, compartilhar e gravar as linhagens dos pacientes.</p>
</div>

<div class="col-md-4">
<ul class="bullet-list">
	<li><a class="text-link" href="{% page_url 'portal_common.family-history' %}"><span class="icon icon-chevron-bracket-right"></span>Saiba mais</a></li>
	<li><a class="text-link" href="https://itunes.apple.com/us/app/invitae-family-history-tool/id789320252?ls=1&amp;mt=8" target="itunes_store" id="button-fht-ipad"><span class="icon icon-chevron-bracket-right"></span>Download para iPad</a></li>
	<li><a href="https://familyhistory.invitae.com" style="margin-right:0;" class="text-link" id="button-fht-web"><span class="icon icon-chevron-bracket-right"></span>Use o aplicativo da Web</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="col-md-1"> </div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid4">‌</a></div>