<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Avanço<br>
<span>em testes genéticos.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>A INVITAE É UMA EMPRESA DE INFORMAÇÕES GENÉTICAS.</h6>

<p>Estamos diminuindo as barreiras para os testes genéticos clínicos para médicos e pacientes.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel"><span class="icon icon-dollar-sign"></span>

<h4>Mais baratos <br> do que nunca</h4>

<p>Um mesmo preço para qualquer teste.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clock-face"></span>

<h4>Tempo para resposta<br>
mais rápido.</h4>

<p>Desde a coleta até os resultados<br>
em uma média de 3 semanas.</p>
</div>

<div class="advancing-panel"><span class="icon icon-sliders"></span>

<h4>Opções flexíveis<br>
de teste.</h4>

<p>Crie seu próprio teste ou selecione um painel organizado.</p>
</div>

<div class="advancing-panel"><span class="icon icon-light-bulb"></span>

<h4>Insights genéticos<br>
mais profundos.</h4>

<p>Selecione painéis com múltiplos genes ou faça uma nova solicitação gratuita.<sup>*</sup></p>
</div>

<div class="advancing-panel"><span class="icon icon-clipboard-check-outside"></span>

<h4>Confiança<br>
e qualidade.</h4>

<p>Nossa equipe de especialistas em genética garante resultados de teste de alta qualidade.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>Caso seu paciente receba um resultado negativo ou inconclusivo em um teste da Invitae, você poderá fazer uma nova requisição gratuita envolvendo genes adicionais relacionados à indicação original para teste no prazo de 90 dias a partir da data de liberação do resultado original. Visite nossa página de <a href="{% page_url 'portal_common.re-requisition' %}">nova requisição</a> para conhecer os detalhes.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">‌</a></div>