<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="{% page_url 'portal_common.brca-testing' %}">Oferecendo, agora, cobertura completa para CHEK2 e ofertas expandidas para cânceres de mama e ginecológico. <span class="highlight">Saiba mais.</span></a></li>
	<li><a href="{% url 'physician.panel-detail' 'PNL0007' %} ">Painel com conteúdo completo sobre CHEK2 e expandido para cânceres hereditários de mama e ginecológico. <span class="highlight">Saiba mais. </span></a></li>
	<li><a href="http://blog.invitae.com/chek2s-journey-to-bona-fide-inherited-cancer-susceptibility-gene">New blog post - CHEK2's journey to <i>bona fide</i> inherited cancer susceptibility gene. <span class="highlight">Leia mais.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Estamos todos conectados.</h1>

<h2>Nossa herança genética compartilhada une a humanidade.</h2>

<p>A Invitae está tornando as informações genéticas mais acessíveis aos pacientes e médicos.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg wistia-popover[height=360,playerColor=7b796a,width=640]" href="https://fast.wistia.net/embed/iframe/0i1qqujcc8?popover=true"><span class="icon icon-angle-right"></span>Assista ao vídeo </a></p>
</div>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>
{% include 'social_links_snippet.html' %}