<div class="row">
<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOGIA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">CÂNCER<br>
HEREDITÁRIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOGIA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOGIA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-silver"><a href="{% page_url 'portal_common.test-catalog' %}"><span class="text">CATÁLOGO DE<br>
TESTES </span> <span class="icon icon-arrow-right"></span> </a></div>
</div>
