<div class="striped-background"> </div>

<div class="news-bar"><span class="icon icon-chevron-bracket-right" id="next"></span> <span class="icon icon-chevron-bracket-left" id="prev"></span>

<ul class="bullet-list" id="ticker">
	<li><a href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0">Anunciando centenas de novos genes, com um menu de testes radicalmente ampliado. <span class="highlight">Saiba mais.</span></a></li>
	<li><a href="{% page_url 'portal_common.brca-testing' %}">Oferecendo, agora, cobertura completa para CHEK2 e ofertas expandidas para cânceres de mama e ginecológico. <span class="highlight">Saiba mais.</span></a></li>
	<li><a href="http://blog.invitae.com/chek2s-journey-to-bona-fide-inherited-cancer-susceptibility-gene">New blog post - CHEK2's journey to <i>bona fide</i> inherited cancer susceptibility gene. <span class="highlight">Leia mais.</span></a></li>
</ul>
</div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Construindo sobre a nossa promessa.</h1>

<p>Nós estamos realizando estudos genéticos ainda ​​mais acessíveis ao oferecer mais genes, mantendo nosso compromisso com a alta qualidade e preços ​​acessíveis.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg" href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0"><span class="icon icon-angle-right"></span>Explore o novo</a></p>
</div>

<div class="col-xs-0 col-sm-6"> </div>
</div>
</div>
{% include 'social_links_snippet.html' %}