<div class="transparent-background"> </div>

<div class="container">
<div class="row">
<div class="col-sm-7 col-md-8">
<h2>Explore<br>
<span>nosso catálogo de testes.</span></h2>

<form onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})" id="catalog-search-form" action="{% url 'physician.search' %}" method="get">
<div class="catalog-search-wrapper"><a class="btn btn-color-mountain btn-lg" href="{% page_url 'portal_common.test-catalog' %}">catálogo de testes</a></div>
</form>
</div>

<div class="col-sm-4 col-md-3">
<h6>A INVITAE É ESPECIALIZADA EM TESTES GENÉTICOS PARA DOENÇAS HEREDITÁRIAS.</h6>

<p>Nosso catálogo de testes inclui doenças em diversas especialidades médicas, incluindo cardiologia, câncer hereditário, genética pediátrica, neurologia e hematologia.</p>
</div>

<div class="col-sm-1 col-md-1"> </div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid2">‌</a></div>

<p>‌</p>