<div class="row">
                <div class="col-md-12">
                    <h3>Ordering</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p><strong>Easy online ordering</strong></p>
                    <p>Place your order online for more efficient order processing, faster report delivery, and access to
                        additional online features. Setting up an account only takes a few minutes, and  you can also browse
                        and order directly from our online test catalog.</p>
                    <p> </p>
                </div>
                <div class="col-md-3">
                    <p> </p>
                    <p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank">
                        <span class="icon icon-clipboard-check"></span>Set Up an Account</a></p>
                    <p></p><a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank">
                    <span class="icon icon-categories"></span>View Test Catalog</a><p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                     <p><strong>An Invitae online account enables you to:</strong></p>
                     <ul class="bullet-list">
                         <li>Design and save custom orders for easy reordering.</li>
                         <li>Securely share test results with patients and colleagues.
                         </li><li>Order on behalf of clinicians in your organization.</li>
                         <li>Track order status in real time and keep a record of previous orders.</li>
                         <li>Securely message Invitae staff and upload documents.</li>
                         <li>View and download your test reports.</li>
                     </ul>
                </div>
                <div class="col-md-6">
                    <p><strong>Order forms</strong><br>
                    You can also download paper order forms here:</p>
                    <a href="http://marketing.invitae.com/acton/attachment/7098/f-00af/1/-/-/-/-/FM102-3.18_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank">
                        <span class="icon icon-arrow-box-stop-down"></span>Full Requisition Form
                    </a>
                    <br>
                    <a href="http://marketing.invitae.com/acton/attachment/7098/f-00b0/1/-/-/-/-/FM103-3.17_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank">
                        <span class="icon icon-arrow-box-stop-down"></span>Cancer Requisition Form
                    </a>
                    <br>
                    <a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank">
                        <span class="icon icon-arrow-box-stop-down"></span>Patient Informed Consent Form
                    </a>
                </div>
            </div>