<div class="row">
<div class="col-md-12">
<h3>Solicitudes</h3>

<p><strong>Solicitudes en línea sencillos</strong></p>

<p>Haga su solicitud en línea para un procesamiento más eficaz de su solicitud, una entrega 
de informes más rápida y acceso a las otras funciones en línea. Crear una cuenta solo toma 
unos pocos minutos, y también puede navegar y realizar su solicitud directamente de nuestro 
catálogo de estudios en línea.</p>

<p><strong>Una cuenta en línea de Invitae le permite:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<ul class="bullet-list">
	<li>Diseñar y guardar solicitudes personalizadas para facilitar las solicitudes repetidas.</li>
	<li>Compartir de forma segura los resultados de los estudios con pacientes y colegas.</li>
	<li>Hacer solicitudes en nombre de los médicos de su organización.</li>
	<li>Seguir el estado de su solicitud en tiempo real y mantener un registro de sus solicitudes anteriores.</li>
	<li>Enviar mensajes de forma segura al personal de Invitae y subir documentos.</li>
	<li>Ver y descargar sus informes de estudios.</li>
</ul>
</div>

<div class="col-md-6">
<p> </p>

<p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-clipboard-check"></span>Crear una cuenta</a></p>
<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>Catálogo de estudios</a></div>
</div>

<div class="row">
<div class="col-md-12">
<p><strong>También puede descargar formularios de solicitud en papel aquí:</strong></p>
</div>
</div>

<div class="row">
<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-0148/1/-/-/-/-/FM102-4.02_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Full Requisition Form </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-0149/1/-/-/-/-/FM103-4.02_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Hereditary Cancer Requisition Form </a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d6/1/-/-/-/-/TRF904-1_%20Req%20Form%20Cardio.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Cardiology Requisition Form </a></div>

<div class="col-md-6"><a href="http://marketing.invitae.com/acton/attachment/7098/f-01cf/1/-/-/-/-/TRF905-1_%20Req%20Form%20Neuro.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Neurology Requisition Form</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-01d5/1/-/-/-/-/TRF906-1_%20Req%20Form%20Pediatrics.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Pediatric Genetics Requisition Form</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Patient Informed Consent Form </a>

<p> </p>
</div>
</div>
