<div class="row">
<div class="col-md-12">
<h3>Solicitudes</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<p><strong>Solicitudes en línea sencillos</strong></p>

<p>Haga su solicitud en línea para un procesamiento más eficaz de su solicitud, una entrega de informes más rápida y acceso a las otras funciones en línea. Crear una cuenta solo toma unos pocos minutos, y también puede navegar y realizar su solicitud directamente de nuestro catálogo de estudios en línea.</p>

<p> </p>
</div>

<div class="col-md-3">
<p> </p>

<p><a href="{% url 'portal_common.signup' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-clipboard-check"></span>CREAR UNA CUENTA</a></p>

<p> </p>
<a href="{% page_url 'portal_common.test-catalog' %}" class="btn btn-color-inherit btn-sm btn-left" target="_blank"><span class="icon icon-categories"></span>CATÁLOGO DE ESTUDIOS</a>

<p> </p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<p><strong>Una cuenta en línea de Invitae le permite:</strong></p>

<ul class="bullet-list">
	<li>Diseñar y guardar solicitudes personalizadas para facilitar las solicitudes repetidas.</li>
	<li>Compartir de forma segura los resultados de los estudios con pacientes y colegas.</li>
	<li>Hacer solicitudes en nombre de los médicos de su organización.</li>
	<li>Seguir el estado de su solicitud en tiempo real y mantener un registro de sus solicitudes anteriores.</li>
	<li>Enviar mensajes de forma segura al personal de Invitae y subir documentos.</li>
	<li>Ver y descargar sus informes de estudios.</li>
</ul>
</div>

<div class="col-md-6">
<p><strong>Formularios de solicitudes</strong><br>
También puede descargar formularios de solicitud en papel aquí:</p>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00af/1/-/-/-/-/FM102-3.18_Invitae-TRF-all-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de Solicitud Completo</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00b0/1/-/-/-/-/FM103-3.17_Invitae-TRF-cancer-tests.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de Solicitud para Cáncer</a><br>
<a href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-1_Invitae-patient-consent.pdf" class="btn btn-color-transparent btn-lg" target="_blank"><span class="icon icon-arrow-box-stop-down"></span>Formulario de Consentimiento Informado del Paciente</a></div>
</div>