<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input id="cms_id_phone" name="phone" type="text" value="{{ user.contact_info.phone }}" /></div>

<div class="field-wrapper required"><label for="cms_id_city">City</label><input id="cms_id_city" name="city" type="text" value="{{ user.contact_info.city }}" /></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">ZIP/Postcode</label><input id="cms_id_zipcode" name="zipcode" type="text" value="{{ user.contact_info.zipcode }}" /></div>

<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-country="" data-country-value="#cms_id_country_value" data-long-value="true" data-states-selector="#cms_id_state" id="cms_id_country" name="country"></select>

<div><input id="cms_id_country_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.country%20%7D%7D--&gt;" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_state">State/Province</label><select data-long-value="true" data-state-value="#cms_id_state_value" id="cms_id_state" name="state"></select>

<div><input id="cms_id_state_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.state%20%7D%7D--&gt;" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="organization" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select><button class="btn btn-lg btn-color-mountain" type="submit">Continue</button></div>