<h3 style="color: rgb(55, 55, 55); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><font color="#2c2f72">Get your copy of the essay book</font><i></i></h3>

<p></p>

<h5><span style="color:#0888B2;"><b>Please provide your details below to receive your copy.</b></span></h5>

<p></p>

<p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; font-family: ScalaSansWeb, sans-serif;">This&nbsp;book contains&nbsp;heart-felt essays and beautiful photography, serving as&nbsp;an enduring testament to the important role genetic conselors play in the quality of people&#39;s lives.</p>

<p><input name="source" type="hidden" value="Website" /><input name="source_description" type="hidden" value="Code Talker 2017 request form" /><input name="ao_campid" type="hidden" value="" /><input name="cmpid" type="hidden" value="" /></p>

<h5 class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first name" type="text" value="{{ user.first_name }}" /></h5>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="Fast Name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="Email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input id="cms_id_phone" name="Phone" type="text" value="{{ user.contact_info.phone }}" /></div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="Organization" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required "><label for="cms_id_street">Street</label><input id="cms_id_street" name="Street" type="text" value="{{ user.contact_info.street }}" /></div>

<div class="field-wrapper required"><label for="cms_id_city">City</label><input id="cms_id_city" name="city" type="text" value="{{ user.contact_info.city }}" /></div>

<div class="field-wrapper required"><label for="cms_id_state">State/Province</label><select data-long-value="true" data-state-value="#cms_id_state_value" id="cms_id_state" name="State"></select>

<div><input id="cms_id_state_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.state%20%7D%7D--&gt;" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_zipcode">ZIP/Postcode</label><input id="cms_id_zipcode" name="Zip" type="text" value="{{ user.contact_info.zipcode }}" /></div>

<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-country="" data-country-value="#cms_id_country_value" data-long-value="true" data-states-selector="#cms_id_state" id="cms_id_country" name="Country"></select>

<div><input id="cms_id_country_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.country%20%7D%7D--&gt;" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="Occupation"></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="Primary Clinical Interest"></select></div>

<div class="field-wrapper required "><label for="cms_id_number">How many books would you like</label><input id="cms_id_number" name="Number of books" type="text" value="{{ user.number }}" /></div>

<p></p>

<p><button class="btn btn-lg btn-color-mountain" type="submit">submit</button></p>