<div class="row">
<div class="col-md-12">
<h3>Resultados</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;nto demoran los resultados?</h4>

<div class="expandable-content">
<p>Un promedio de 3 semanas desde el momento en que recibimos la muestra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Si pido menos genes la demora ser&aacute; m&aacute;s corta?</h4>

<div class="expandable-content">
<p>No, la demora para todos los estudios es de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Invitae ofrece un servicio de entrega de informes acelerada?</h4>

<div class="expandable-content">
<p>No, la demora para todos los estudios es de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo voy a recibir el informe?</h4>

<div class="expandable-content">
<p>Cuando el informe est&eacute; listo, podr&aacute; verlo y descargarlo directamente desde su cuenta de Invitae. <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese con</a> Atenci&oacute;n al Cliente si desea que enviemos el informe por fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; incluye un informe cl&iacute;nico de Invitae?</h4>

<div class="expandable-content">
<p>Los resultados y sus interpretaciones cl&iacute;nicas se presentan en forma de un informe cl&iacute;nico f&aacute;cilmente comprensible con plena transparencia en las caracter&iacute;sticas de desempe&ntilde;o para cada afecci&oacute;n o gen. Puede ver un informe de ejemplo en la p&aacute;gina de <a href="{% page_url 'portal_common.order-forms' %}">Formularios</a> de nuestro sitio web.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo clasifica Invitae las variantes gen&eacute;ticas?</h4>

<div class="expandable-content">
<p>El equipo de cient&iacute;ficos, asesores gen&eacute;ticos y genetistas m&eacute;dicos de Invitae trabaja en conjunto para proporcionar clasificaciones de variantes rigurosas y de alta calidad. Nuestro m&eacute;todo de clasificaci&oacute;n de variantes cumple estrictamente con las recomendaciones del American College of Medical Genetics (ACMG). Para obtener m&aacute;s informaci&oacute;n, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.variant-classification' %}">Clasificaci&oacute;n de Variantes</a>.</p>
</div>
</div>
</div>
</div>
</div>
