<div class="row">
<div class="col-md-12">
<h3>Otros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es “Free the Data”?</h4>

<div class="expandable-content">
<p>Free The Data es un movimiento apoyado por Invitae para reunir información sobre salud y genética de personas cuyos estudios arrojaron resultados positivos por mutación en los genes BRCA1 o BRCA2. Visite el sitio web de <a href="http://www.free-the-data.org/" target="_blank">Free the Data</a> para leer más o para contribuir.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es Clinvitae?</h4>

<div class="expandable-content">
<p>Clinvitae es una base de datos de variantes genéticas observadas clínicamente agregadas de fuentes públicas y gestionadas y puestas a disposición por Invitae. Visite la base de datos en <a href="http://clinvitae.invitae.com/" target="_blank">clinvitae.invitae.com</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es la Herramienta de Antecedentes Familiares? </h4>

<div class="expandable-content">
<p>La Herramienta de Antecedentes Familiares de Invitae es una aplicación gratuita para crear, modificar, compartir y guardar las genealogías de los pacientes. Está disponible a través de la web o como una aplicación para iPad, y la información se integra perfectamente con nuestro proceso de solicitudes en línea. Si ya tienes una cuenta de Invitae, puede utilizar las mismas credenciales para iniciar sesión en la Herramienta de Antecedentes Familiares. Para obtener más información y descargar la herramienta de Antecedentes Familiares, visite nuestra página de <a href="{% page_url 'portal_common.family-history' %}">Herramienta de Antecedentes Familiares</a>.</p>
</div>
</div>
</div>
</div>