<div class="row">
<div class="col-md-12">
<h3>Facturaci&oacute;n y Seguros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;l es el precio de los estudios de Invitae?</h4>

<div class="expandable-content">
<p>Cualquier gen, un solo precio<sup>*</sup>. La misi&oacute;n de Invitae es llevar la informaci&oacute;n gen&eacute;tica a la pr&aacute;ctica m&eacute;dica corriente a fin de mejorar la calidad de la atenci&oacute;n de la salud para miles de millones de personas. Creemos en estudios responsables basados en las pautas m&eacute;dicas establecidas y nuestro objetivo es ser totalmente transparentes con nuestros precios para que los pacientes, los m&eacute;dicos y los pagadores sepan el costo del estudio. Invitae introduce nuevos precios para los tres segmentos de clientes que atiende en la actualidad:</p>

<ul class="bullet-list">
	<li>Para las instituciones no contratadas y terceros pagadores <strong>para los que Invitae es un proveedor fuera de la red</strong>, el precio por &aacute;rea cl&iacute;nica es de <strong>US$1500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>Para <strong>instituciones y distribuidores con los que tenemos contratos y para los pagadores que incluyen a Invitae en sus redes</strong>, el precio por &aacute;rea cl&iacute;nica es <strong>US$950</strong>.

	<ul class="bullet-list">
		<li>Para obtener m&aacute;s informaci&oacute;n sobre los t&eacute;rminos del contrato, <a href="{% page_url 'portal_common.contact' %}">comun&iacute;quese con</a> Atenci&oacute;n al Cliente.</li>
	</ul>
	</li>
	<li>Para los pacientes que han optado por pagar por adelantado, y cuyos m&eacute;dicos han ordenado nuestro estudio gen&eacute;tico en l&iacute;nea, el precio por &aacute;rea cl&iacute;nica es US$475.
	<ul class="bullet-list">
		<li>Este servicio est&aacute; disponible solo como una opci&oacute;n de pago por adelantado y no permite que Invitae presente la reclamaci&oacute;n al seguro.</li>
		<li>El paciente acepta registrarse en l&iacute;nea y establecer las preferencias de contacto.</li>
		<li>Los programas de asistencia al paciente no est&aacute;n disponibles para la opci&oacute;n de pago por adelantado del paciente.</li>
		<li>Las solicitudes de pago por adelantado para pacientes deben hacerse en l&iacute;nea, incluyendo la solicitud del m&eacute;dico.</li>
		<li>Para las solicitudes internacionales, la opci&oacute;n de pago por adelantado del paciente <strong>no</strong> incluye el env&iacute;o.</li>
	</ul>
	</li>
</ul>

<p>Es importante tener en cuenta que para los precios de pago del paciente, estos deben acudir a su proveedor de atenci&oacute;n m&eacute;dica para que solicite nuestros estudios. Los profesionales de la salud son fundamentales para solicitar el estudio adecuado para el paciente correcto y en la interpretaci&oacute;n de la informaci&oacute;n gen&eacute;tica. Invitae cree que los pacientes deben poseer y controlar su propia informaci&oacute;n gen&eacute;tica, por lo tanto, no requerimos a nuestros pacientes que transfieran sus datos; les permitimos que opten por rechazar esta opci&oacute;n y aun as&iacute; recibir el estudio. Si bien, la informaci&oacute;n gen&eacute;tica es m&aacute;s valiosa cuando se comparte, los pacientes son due&ntilde;os de sus datos y deben decidir qu&eacute; que quieren hacer con estos.</p>

<p class="endnote"><sup>*</sup>Precio por &aacute;rea cl&iacute;nica: Lista de precio de $1500 con descuento a $950 para instituciones y distribuidores con contrato con Invitae, y pagadores que tengan contrato con Invitae bajo ciertas condiciones. El pago por adelantado del cliente es de $475 para pedidos hechos en linea y conectados con una cuenta de cliente. El precio fuera de Estados Unidos no incluye las tarifas de env&iacute;o. Por favor <a href="{% page_url 'portal_common.contact' %}" target="_blank">contacte</a> a Servicio al Cliente para m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; opciones de pago est&aacute;n disponibles?</h4>

<div class="expandable-content">
<p>Ofrecemos las siguientes opciones de facturaci&oacute;n, para obtener m&aacute;s informaci&oacute;n sobre cada una de estas opciones, visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.billing' %}">Informaci&oacute;n de Facturaci&oacute;n</a>.</p>

<ul class="bullet-list">
	<li>Pago del Paciente: El paciente paga el monto completo por adelantado con tarjeta de cr&eacute;dito o d&eacute;bito (aceptamos Visa, Mastercard, American Express y JCB)</li>
	<li>Facturaci&oacute;n institucional</li>
	<li>Proveedores de seguros terceros (ver detalles m&aacute;s abajo)</li>
	<li>La cobertura de Medicare est&aacute; disponible cuando se cumplen los criterios espec&iacute;ficos</li>
	<li>Para aquellos que califican, tenemos un Programa de Acceso para el Paciente (PAP) para reducir los gastos que el paciente debe pagar de su bolsillo. <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese con</a> Atenci&oacute;n al Cliente para obtener m&aacute;s informaci&oacute;n.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; necesita Invitae para facturar al seguro?</h4>

<div class="expandable-content">
<p>Est&eacute; preparado para proporcionar la siguiente informaci&oacute;n con su pedido:</p>

<ul class="bullet-list">
	<li>Nombre y apellido, n&uacute;mero de tel&eacute;fono y direcci&oacute;n postal del paciente</li>
	<li>Una copia (anverso y reverso) de la credencial del seguro del paciente</li>
	<li>C&oacute;digos ICD10 relevantes</li>
	<li>Carta de necesidad m&eacute;dica</li>
</ul>

<p>Esta informaci&oacute;n se puede ingresar en el momento de la solicitud cuando elige facturaci&oacute;n a un tercero como forma de pago.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Ofrecen alg&uacute;n tipo de asistencia financiera?</h4>

<div class="expandable-content">
<p>Adem&aacute;s del plan de pago, podemos ofrecer asistencia si su paciente cumple con ciertos criterios financieros. <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese con</a> Atenci&oacute;n al Cliente para obtener m&aacute;s informaci&oacute;n o si desea llenar una solicitud.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;l es el n&uacute;mero NPI de Invitae?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;l es el c&oacute;digo CPT para el estudio que estoy pidiendo?</h4>

<div class="expandable-content">
<p>Si usted est&aacute; pidiendo un estudio que incluye los genes BRCA1 o BRCA2, el c&oacute;digo CPT es 81211. Para el resto de los estudios, el c&oacute;digo CPT a utilizar es 81479 - procedimiento de patolog&iacute;a molecular no listado.</p>
</div>
</div>
</div>
</div>
