<div class="row">
<div class="col-md-12">
<h3>Requisitos de Muestras y Env&iacute;o</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Cu&aacute;les son los requisitos para la muestra?</h4>

<div class="expandable-content">
<p>El tipo de muestra preferido de Invitae para nuestro ensayo de secuenciaci&oacute;n de pr&oacute;xima generaci&oacute;n es 3 ml de sangre entera perif&eacute;rica en un tubo de EDTA de tapa p&uacute;rpura. Tambi&eacute;n aceptamos muestras de saliva y de gDNA purificado a partir de muestras sangre entera venosa perif&eacute;rica. Para conocer los requisitos espec&iacute;ficos para las muestras y los env&iacute;os, visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.sample-requirements' %}"> Requisitos de la Muestra</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Aceptan muestras prenatales?</h4>

<div class="expandable-content">
<p>No por el momento. Podemos hacer estudios en futuros padres para determinar el estado de portador, pero no ofrecemos estudios prenatales para madres ya embarazadas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Proporciona Invitae kits de recolecci&oacute;n de muestra?</h4>

<div class="expandable-content">
<p>S&iacute;, podemos enviarle los kits de recolecci&oacute;n de muestras de forma gratuita. Estos est&aacute;n equipados con todos los materiales de env&iacute;o necesarios. Visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuál es la edad mínima requerida para que un niño utilice los kits de saliva?</h4>

<div class="expandable-content">
<p>Encontramos que por lo general, un niño de 5 años o más es capaz de donar de forma adecuada, suficiente saliva para los requisitos de la prueba.  Sin embargo, esto varía de niño en niño.  Requerimos la cantidad total de 2 ml de saliva, sin importar la edad de la persona examinada.  Si un niño no es capaz de completar la donación de 2 ml por completo, le sugerimos que utilice una muestra de sangre en su lugar.</p>
</div>
</div>


<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Pueden organizar una extracci&oacute;n de sangre para mi paciente?</h4>

<div class="expandable-content">
<p>S&iacute;, Invitae puede ayudar a programar una cita para extracci&oacute;n de sangre en su consultorio o en la casa de su paciente. Ofrecemos cobertura a nivel nacional y el servicio se ofrece sin costo adicional alguno. Visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener informaci&oacute;n sobre la programaci&oacute;n de una cita para extracci&oacute;n de sangre.</p>
</div>
</div>


<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Acepta Invitae ADN gen&oacute;mico extra&iacute;do en otros laboratorios?</h4>

<div class="expandable-content">
<p>Si usted est&aacute; interesado en el an&aacute;lisis de ADN gen&oacute;mico, comun&iacute;quese con nuestro equipo de servicios al cliente para hablar con uno de nuestros asesores gen&eacute;ticos. Nuestros asesores gen&eacute;ticos con gusto hablar&aacute;n con usted sobre los beneficios y limitaciones actuales en el contexto de su caso espec&iacute;fico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Aceptan muestras post mortem?</h4>

<div class="expandable-content">
<p>Si usted est&aacute; interesado en el an&aacute;lisis de muestras post mortem, comun&iacute;quese con nuestro equipo de servicios al cliente para hablar con uno de nuestros asesores gen&eacute;ticos. Uno de nuestros asesores gen&eacute;ticos con gusto hablar&aacute; con usted sobre los beneficios y limitaciones actuales en el contexto de su caso espec&iacute;fico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; documentaci&oacute;n se requiere con cada muestra?</h4>

<div class="expandable-content">
<p>Cada muestra debe estar acompa&ntilde;ada por una copia impresa del formulario de solicitud completo. Puede descargar e imprimir los formularios de solicitud luego de haber completado el proceso de solicitud en l&iacute;nea. Si Invitae facturar&aacute; a un proveedor de seguro de los EE. UU., solicitamos la informaci&oacute;n del seguro o una copia del anverso y el reverso de la credencial de seguro del paciente. Tambi&eacute;n preferimos una Carta de necesidad m&eacute;dica (LOMN), aunque no es un requisito. Si el paciente tiene Medicare, requerimos el formulario de Criterios de Medicare de Invitae y el formulario de consentimiento del paciente, que debe estar firmado a la fecha de la extracci&oacute;n de sangre, o antes. Si el paciente no cumple con los criterios de Medicare de Invitae para la realizaci&oacute;n de la prueba, tambi&eacute;n se requiere una Carta de necesidad m&eacute;dica.<br />
<br />
Los env&iacute;os internacionales tienen requisitos adicionales; consulte la p&aacute;gina <a href="{% page_url 'portal_common.sample-requirements' %}"> Requisitos de la Muestra</a> para obtener m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo env&iacute;o la muestra a Invitae?</h4>

<div class="expandable-content">
<p>Nuestros kits vienen con una etiqueta de env&iacute;o; como otra alternativa, env&iacute;e la muestra de sangre en un recipiente a prueba de golpes a trav&eacute;s de FedEx Priority Overnight a la siguiente direcci&oacute;n:</p>

<p>Atenci&oacute;n: Invitae Client Services<br />
Invitae Corporation<br />
475 Brannan Street, Suite 230<br />
San Francisco, CA, 94107</p>

<p><a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese con</a> Atenci&oacute;n al Cliente para obtener el n&uacute;mero de cuenta FedEx de Invitae. Si usted elige utilizar un m&eacute;todo de env&iacute;o propio de su instituci&oacute;n, env&iacute;e el n&uacute;mero de seguimiento a <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>. Aceptamos entregas de lunes a viernes, excepto feriados.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Paga Invitae por el env&iacute;o?</h4>

<div class="expandable-content">
<p>S&iacute;. Invitae paga por el env&iacute;o dentro de EE. UU. <a href="{% page_url 'portal_common.contact' %}">Comun&iacute;quese con</a> Atenci&oacute;n al Cliente para obtener el n&uacute;mero de cuenta FedEx y enviar la muestra con servicio de la noche a la ma&ntilde;ana.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Acepta Invitae entregas los fin de semana o feriados?</h4>

<div class="expandable-content">
<p><strong>Entregas los fin de semana:</strong> No. Invitae acepta paquetes de lunes a viernes. Le recomendamos que env&iacute;e su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el s&aacute;bado. Utilice el servicio de env&iacute;o &ldquo;overnight&rdquo; (de un d&iacute;a para el otro) a trav&eacute;s de Federal Express de acuerdo con su gu&iacute;a, con el n&uacute;mero de cuenta FedEx suministrado por el <a href="{% page_url 'portal_common.contact' %}">equipo de atenci&oacute;n al cliente de Invitae</a>.</p>

<p><strong>Entregas en feriados:</strong> Invitae sigue el <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">Calendario de Servicios en D&iacute;as Feriados de FedEx</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; tan r&aacute;pido despu&eacute;s de la extracci&oacute;n de sangre tengo que enviar la muestra a Invitae?</h4>

<div class="expandable-content">
<p>Recomendamos el env&iacute;o &ldquo;overnight&rdquo; (de un d&iacute;a para el otro) de la muestra el mismo d&iacute;a que se recoge la muestra de sangre. Si se almacena a temperatura ambiente, la muestra de sangre es viable por un m&aacute;ximo de 48 horas y si se la refrigera, hasta una semana. No congele la muestra de sangre.</p>
</div>
</div>
</div>
</div>
