<div class="row">
<div class="col-md-12">
<h3>Solicitar Estudio Gen&eacute;tico</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Para qu&eacute; son los estudios de Invitae?</h4>

<div class="expandable-content">
<p>Invitae ofrece an&aacute;lisis de secuenciaci&oacute;n de genes completos y de deleci&oacute;n/duplicaci&oacute;n. Puede pedir cualquier combinaci&oacute;n de genes, trastornos y paneles, todos por el mismo precio<sup>*</sup>. Para ver nuestro cat&aacute;logo de estudios completo visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.test-catalog' %}">Cat&aacute;logo de Estudios</a>.</p>

<p class="endnote"><sup>*</sup>Precio por &aacute;rea cl&iacute;nica: Precio de lista de $1500 d&oacute;lares, rebajado a $950 d&oacute;lares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 d&oacute;lares por solicitudes hechas en l&iacute;nea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de env&iacute;o. Por favor <a href="{% page_url 'portal_common.contact' %}" target="_blank">contacte</a> a Servicio al Cliente para m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Qu&eacute; metodolog&iacute;a de secuenciaci&oacute;n se usa?</h4>

<div class="expandable-content">
<p>Invitae realiza secuenciaci&oacute;n completa de genes y an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n usando tecnolog&iacute;a de secuenciaci&oacute;n de pr&oacute;xima generaci&oacute;n. Para obtener m&aacute;s informaci&oacute;n acerca de nuestros ensayos, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.assay' %}">Ensayo</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Invitae ofrece an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n?</h4>

<div class="expandable-content">
<p>S&iacute;, el ensayo de Invitae detecta la mayor&iacute;a de los eventos de deleci&oacute;n/duplicaci&oacute;n abarcando un solo ex&oacute;n o m&aacute;s. Sin embargo, en algunos casos, genes y exones espec&iacute;ficos se excluyen del an&aacute;lisis. Consulte nuestra <a href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf" target="_blank">Lista de Genes</a> para obtener m&aacute;s informaci&oacute;n.</p>

<p>Nuestro algoritmo de detecci&oacute;n de n&uacute;mero de copias tambi&eacute;n puede identificar grandes deleciones/duplicaciones que incluyen y se extienden m&aacute;s all&aacute; del gen blanco, aunque los l&iacute;mites de dichas deleciones/duplicaciones no se pueden determinar m&aacute;s all&aacute; del gen mismo. En ese sentido, el estudio de Invitae no provee an&aacute;lisis citogen&eacute;tico para grandes anomal&iacute;as cromos&oacute;micas o cambios sin alteraci&oacute;n en el n&uacute;mero de copias, como traslocaciones rec&iacute;procas, disom&iacute;as uniparentales o inversiones.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Invitae ofrece estudios de BRCA?</h4>

<div class="expandable-content">
<p>S&iacute;, ofrecemos secuenciaci&oacute;n completa de genes y an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n de BRCA1 y BRCA2. Sin costo adicional<sup>*</sup>, puede obtener uno de nuestros paneles m&aacute;s amplios de c&aacute;ncer hereditario, que incluye otros genes de c&aacute;ncer hereditario.</p>

<p class="endnote"><sup>*</sup>Precio por área clínica: Lista de precio de $1500 con descuento a $950 para instituciones y distribuidores con contrato con Invitae, y pagadores que tengan contrato con Invitae bajo ciertas condiciones. El pago por adelantado del cliente es de $475 para pedidos hechos en linea y conectados con una cuenta de cliente. El precio fuera de Estados Unidos no incluye las tarifas de env&iacute;o. Por favor <a href="{% page_url 'portal_common.contact' %}" target="_blank">contacte</a> a Servicio al Cliente para m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Invitae ofrece estudios de seguimiento de variante familiar?</h4>

<div class="expandable-content">
<p>S&iacute;. Si el probando original fue analizado por Invitae, disponemos de estudios de variante familiar para los miembros elegibles de la familia por solo US$200 por gen para cada miembro de la familia. Visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">&Aacute;nalisis de Variante Familiar </a> para obtener m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Puedo solicitar m&aacute;s estudios (solicitud de genes adicionales) para la muestra de un paciente que ya fue analizada previamente en Invitae?</h4>

<div class="expandable-content">
<p>S&iacute;. Si el paciente recibe un resultado negativo o no concluyente en un estudio de Invitae, puede solicitar el an&aacute;lisis de m&aacute;s genes relacionados con la área clínica original sin cargo adicional (solo los genes disponibles en el momento de la solicitud original son elegibles). Invitae ofrece una (1) solicitud de genes adicionales sin cargo extra dentro de los 90 d&iacute;as a partir de la fecha de publicaci&oacute;n del informe original. Despu&eacute;s de pasados los 90 d&iacute;as desde la fecha de publicaci&oacute;n del reporte original, se cobrar&aacute; a su paciente US$475 por solicitudes de genes adicionales relacionadas con la misma área clínica (solo son elegibles los genes disponibles en el momento de la solicitud original). Para conocer m&aacute;s sobre este programa, visite nuestra p&aacute;gina de <a href="{% page_url 'portal_common.re-requisition' %}" target="_blank">Solicitud de Genes Adicionales</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo hago una solicitud?</h4>

<div class="expandable-content">
<p>Haga su solicitud en l&iacute;nea para un procesamiento m&aacute;s eficaz de su solicitud, una entrega de informes m&aacute;s r&aacute;pida y acceso a las otras funciones en l&iacute;nea. Crear una cuenta solo toma unos pocos minutos, y tambi&eacute;n puede navegar y realizar su solicitud directamente de nuestro cat&aacute;logo de estudios en l&iacute;nea. Tambi&eacute;n puede hacer una solicitud en papel.</p>

<p>Para obtener m&aacute;s informaci&oacute;n sobre c&oacute;mo crear una cuenta y hacer una solicitud, visite nuestra p&aacute;gina <a href="{% page_url 'portal_common.ordering' %}">&iquest;C&oacute;mo Hacer una Solicitud?</a> para obtener instrucciones m&aacute;s detalladas y para ver nuestros videos instructivos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Invitae ofrece estudios de &uacute;nico sitio?</h4>

<div class="expandable-content">
<p>S&iacute;. Aunque Invitae no ofrece estudios de &uacute;nico sitio en s&iacute;, ofrecemos estudios de variante familiar y resoluci&oacute;n de VSI. Ambos programas incluyen el an&aacute;lisis completo del gen en el que se identific&oacute; la variante del miembro original de la familia. El informe incluir&aacute; el estado de la variante familiar, as&iacute; como cualquier otra variante pat&oacute;gena o probablemente pat&oacute;gena identificada en ese gen. Visite nuestras p&aacute;ginas <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">&Aacute;nalisis de Variante Familiar</a> y <a href="{% page_url 'portal_common.vus-resolution' %}" target="_blank">Resoluci&oacute;n de VSI</a> para obtener detalles sobre cada uno de estos programas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;Puedo llenar una solicitud en nombre de un m&eacute;dico de mi cl&iacute;nica?</h4>

<div class="expandable-content">
<p>S&iacute;. Tenga en cuenta que quien hace la solicitud ser&aacute; el principal punto de contacto para las actualizaciones de estado y divulgaciones relacionadas con la solicitud. Si usted est&aacute; haciendo una solicitud como representante cl&iacute;nico, ingrese los detalles del m&eacute;dico que solicita en &#39;Equipo Cl&iacute;nico&#39; y aseg&uacute;rese de incluir la direcci&oacute;n de correo electr&oacute;nico del m&eacute;dico si &eacute;l o ella quieren recibir una copia del informe.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>&iquest;C&oacute;mo puedo hacer cambios a una solicitud que ya he presentado?</h4>

<div class="expandable-content">
<p>Si desea hacer alg&uacute;n cambio a una solicitud completa, <a href="{% page_url 'portal_common.contact' %}">comun&iacute;quese con</a> Atenci&oacute;n al Cliente y podremos ayudarle.</p>
</div>
</div>
</div>
</div>
