<div class="row">
<div class="col-md-12">
<h3>Una prueba que se adapta a su paciente.</h3>

<p>nvitae ofrece una gama de opciones económicas para las pruebas de cáncer de colon. Solicite para un solo trastorno, como el síndrome de Lynch, o mejore su opción con cualquiera de nuestros paneles de múltiples genes por el mismo precio de US$1500.<sup>*</sup> Sólo tres semanas en promedio desde la muestra hasta los resultados.<br>
 </p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0053' %}"><span class="icon icon-angle-right"></span>Síndrome de Lynch</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">Ver Prueba</a>

<p>El Síndrome de Lynch (SL) es la causa más común de cáncer de colon hereditario. El SL confiere un riesgo en la vida del 80% para el cáncer colorrectal y aumenta el riesgo de otros tipos de cáncer, incluyendo cáncer de estómago, y cáncer de endometrio y ovario en las mujeres.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0008' %}"><span class="icon icon-angle-right"></span>Cáncer de colon hereditario de alto riesgo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">Ver Prueba</a>

<p>7 genes que confieren un alto riesgo de cáncer colorrectal, que va desde el 80% hasta casi el 100% a lo largo de la vida.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0005' %}"><span class="icon icon-angle-right"></span>Cáncer de colon hereditario</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">Ver Prueba</a>

<p>Un panel de 14 genes analiza la genética de un paciente para síndromes de cáncer colorrectal y de poliposis hereditarios.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Síndromes de cáncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se sabe están asociados con síndromes de cáncer hereditario bien establecidos.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="colon-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure1" href="#"><span class="icon"></span>Síndromes de cáncer hereditario </a> <a class="figure2" href="#"> <span class="icon"></span>Cáncer de colon hereditario </a> <a class="figure3" href="#"> <span class="icon"></span>Cáncer de colon hereditario de alto riesgo </a> <a class="figure4" href="#"> <span class="icon"></span>Síndrome de Lynch </a></div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PMS2§</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div> </div>

<div> </div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NF1†</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div> </div>

<div> </div>

<div> </div>

<div class="check"> </div>
</div>
</div>
</div>

<p class="fig-footnotes">§PMS2: Los exones 12-15 no están incluidos en el análisis de eliminación/duplicación<br>
†NF1: Los exones 16-24, 31-35 no están incluidos en el análisis de eliminación/duplicación.</p>
</div>
</div>