<div class="team-content active" id="team-blood-content">
<div class="list-content row">
<div class="col-md-2">Tipos de Amostras</div>

<div class="col-md-10">Tipos de amostras aceitos:
<ul class="bullet-list">
	<li>Amostras de sangue total.</li>
	<li>Amostras de sangue congeladas ou parcialmente congeladas, apesar de no momento a an&aacute;lise de exclus&atilde;o/duplica&ccedil;&atilde;o n&atilde;o ser realizada para amostras de sangue congeladas ou parcialmente congeladas.</li>
</ul>
N&atilde;o podemos aceitar:

<ul class="bullet-list">
	<li>Amostras de sangue hemolisado ou coagulado.</li>
	<li>Amostras de pacientes que fizeram um transplante de medula &oacute;ssea.</li>
	<li>Amostras de pacientes com malignidades hematol&oacute;gicas ativas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Volume</div>

<div class="col-md-10">N&oacute;s exigimos um m&iacute;nimo de 3 mililitros (mL) de sangue total, independentemente de quantos genes voc&ecirc; solicitar, para adultos e crian&ccedil;as.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">A amostra deve ser enviada em um tubo de EDTA de tampa roxa. Aceitamos K2EDTA e K3EDTA.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetagem</div>

<div class="col-md-10">O tubo deve ser etiquetado com:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Um identificador &uacute;nico adicional:
	<ul class="bullet-list">
		<li>Data de nascimento</li>
		<li>N&uacute;mero do prontu&aacute;rio m&eacute;dico</li>
		<li>N&uacute;mero IB, se colocado pelo m&eacute;dico solicitante</li>
		<li>ID do pedido de teste da Invitae (N&uacute;mero RQ)</li>
		<li>N&uacute;mero de identidade ou outra identifica&ccedil;&atilde;o &uacute;nica</li>
	</ul>
	</li>
	<li>Data de coleta da amostra</li>
</ul>
O nome do paciente e o identificador &uacute;nico adicional escritos no tubo devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento e estabilidade</div>

<div class="col-md-10">Recomendamos o uso de envio noturno no mesmo dia em que a amostra de sangue &eacute; coletada.
<ul class="bullet-list">
	<li>Se a amostra de sangue for armazenada &agrave; temperatura ambiente, ela &eacute; vi&aacute;vel por at&eacute; 48 horas.</li>
	<li>Se a amostra de sangue for refrigerada, ela &eacute; vi&aacute;vel por at&eacute; uma semana.</li>
	<li>Caso solicite a an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o, n&atilde;o congele a amostra de sangue. A an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o realizada para amostras de sangue congeladas ou parcialmente congeladas.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documenta&ccedil;&atilde;o</div>

<div class="col-md-10">Uma c&oacute;pia impressa do formul&aacute;rio de requisi&ccedil;&atilde;o on-line deve ser enviada com a amostra. Voc&ecirc; poder&aacute; imprimir uma c&oacute;pia do formul&aacute;rio de requisi&ccedil;&atilde;o depois de concluir oprocesso de requisi&ccedil;&atilde;o on-line.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">As amostras de sangue devem ser enviadas durante &agrave; noite em temperatura ambiente. Recomendamos o uso de bolsas de gelo em dias quentes para manter a amostra entre 2 e 8 graus cent&iacute;grados (35,6 a 46,6 graus Fahrenheit). As amostras de sangue congelado devem ser enviadas durante a noite usando bolsas de gelo.<br />
<br />
Para ajudar na coleta e no envio das amostras, voc&ecirc; pode solicitar um kit de coleta de amostras de sangue Invitae gratuito enviando nosso formul&aacute;rio de requisi&ccedil;&atilde;o on-line <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.<br />
<br />
Como alternativa, voc&ecirc; pode nos enviar a amostra em uma embalagem &agrave; prova de esmagamento por meio do servi&ccedil;o noturno FedEx Priority Overnight (de acordo com as <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Diretrizes de embalagem da FedEx para amostras cl&iacute;nicas</a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato</a> com a equipe de atendimento ao cliente da Invitae para obter o n&uacute;mero da conta FedEx. (Pre&ccedil;o de fora os EUA n&atilde;o inclui taxas de envio.) Endere&ccedil;o de envio:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que voc&ecirc; envie seu pacote entre segunda e quinta-feira. N&atilde;o solicite a entrega para s&aacute;bado. A Invitae segue a programa&ccedil;&atilde;o <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">de servi&ccedil;os em feriados da FedEx</a>.<br />
<br />
Se voc&ecirc; enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisar&aacute; de tr&ecirc;s c&oacute;pias de uma fatura comercial (ProForma). Certifique-se de tamb&eacute;m incluir um formul&aacute;rio de declara&ccedil;&atilde;o alfandeg&aacute;ria.</div>
</div>
</div>

<div class="team-content" id="team-gdna-content">
<div class="list-content row">
<div class="col-md-2">Limita&ccedil;&otilde;es do ensaio</div>

<div class="col-md-10">No momento, a an&aacute;lise de exclus&atilde;o/duplica&ccedil;&atilde;o n&atilde;o &eacute; garantida para amostras de gDNA, independentemente da origem do tecido. A an&aacute;lise de exclus&atilde;o/duplica&ccedil;&atilde;o ser&aacute; provada para todas as amostras de gDNA. No entanto, a taxa de sucesso varia conforme a qualidade da amostra. Se voc&ecirc; precisar da an&aacute;lise de exclus&atilde;o/duplica&ccedil;&atilde;o, forne&ccedil;a uma amostra de sangue total.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Devolu&ccedil;&atilde;o da amostra e pol&iacute;tica de faturamento</div>

<div class="col-md-10">A Invitae realiza uma an&aacute;lise de controle de qualidade (QC) inicial em todos as amostras de gDNA recebidos. Se o a sua amostra de gDNA n&atilde;o for aprovado na etapa de QC, entraremos em contato com voc&ecirc; e a devolveremos de bom grado ou a descartaremos com seguran&ccedil;a, sem nenhum custo.<br />
&nbsp;<br />
Em casos raros, amostras de gDNA aprovadas no QC inicial pode n&atilde;o produzir resultados de sequenciamento aceit&aacute;veis e isso impossibilita a entrega do relat&oacute;rio do ensaio. Nesses casos:
<ul class="bullet-list">
	<li>A Invitae repetir&aacute; o sequenciamento uma vez.</li>
	<li>Se a segunda tentativa n&atilde;o atingir nossos padr&otilde;es de qualidade, n&oacute;s o informaremos e voc&ecirc; pode optar, sem nenhum custo adicional, por enviar uma nova amostra de outra origem. A segunda amostra n&atilde;o deve ser outro gDNA do mesmo tubo ou origem de amostra que a primeira.</li>
	<li>A amostra original ter&aacute; sido consumida durante a an&aacute;lise e n&atilde;o pode ser devolvida.</li>
	<li>Se voc&ecirc; n&atilde;o puder ou n&atilde;o quiser enviar uma segunda amostra, n&atilde;o receber&aacute; um relat&oacute;rio de ensaio e o teste n&atilde;o ser&aacute; cobrado.</li>
</ul>
Se uma amostra de gDNA produzir resultados de sequenciamento, mas n&atilde;o de exclus&atilde;o/duplica&ccedil;&atilde;o:

<ul class="bullet-list">
	<li>Voc&ecirc; receber&aacute; um relat&oacute;rio completo do ensaio sobre a an&aacute;lise desequenciamento.</li>
	<li>Se voc&ecirc; quiser repetir o teste para an&aacute;lise de exclus&atilde;o/duplica&ccedil;&atilde;o utilizandouma amostra de sangue total, ser&aacute; respons&aacute;vel pelo custo integral de umsegundo teste da Invitae.</li>
	<li>A amostra original ter&aacute; sido consumida durante a an&aacute;lise e n&atilde;o pode serdevolvida.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de amostras aceitos</div>

<div class="col-md-10">Aceitamos gDNA purificado a partir de sangue total venoso perif&eacute;rico.<br />
&nbsp;<br />
O gDNA das seguintes origens tamb&eacute;m &eacute; aceito. No entanto, o gDNA extra&iacute;do dessas fontes &eacute; mais prov&aacute;vel que n&atilde;o cumpra os nossos padr&otilde;es de qualidade para o sequenciamento da leitura:
<ul class="bullet-list">
	<li>Sangue congelado</li>
	<li>Swab/raspagem bucal</li>
	<li>Saliva</li>
	<li>Bochechos (enx&aacute;gue bucal)</li>
	<li>Tecido de m&uacute;sculo ou pele</li>
</ul>
O gDNA das seguintes origens n&atilde;o &eacute; aceito:

<ul class="bullet-list">
	<li>Amostragem de vilosidade cori&ocirc;nica</li>
	<li>Amni&oacute;citos</li>
	<li>Produtos de concep&ccedil;&atilde;o ou aborto</li>
	<li>Tumores</li>
	<li>Os pacientes que tenham uma malignidade hematol&oacute;gica ativa</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Quantidade e concentra&ccedil;&atilde;o</div>

<div class="col-md-10">N&oacute;s exigimos um m&iacute;nimo de 20 ug de gDNA a uma concentra&ccedil;&atilde;o m&iacute;nima de 50 ug/uL. A amostra de gDNA completa ser&aacute; consumida durante nossos processos laboratoriais.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Recipiente</div>

<div class="col-md-10">Nosso tipo de recipiente preferido &eacute; um tubo de 2 mililitros de microcentr&iacute;fuga aut&ocirc;nomo da marca Fisher com tampa de rosca; no entanto, aceitaremos o gDNA em qualquer tubo de pl&aacute;stico est&eacute;ril.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Etiquetagem</div>

<div class="col-md-10">O recipiente de gDNA deve ser etiquetado com:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Um identificador exclusivo adicional:
	<ul class="bullet-list">
		<li>Data de nascimento</li>
		<li>N&uacute;mero do prontu&aacute;rio m&eacute;dico</li>
		<li>N&uacute;mero IB, se colocado pelo m&eacute;dico solicitante</li>
		<li>ID do pedido de teste da Invitae (N&uacute;mero RQ)</li>
		<li>N&uacute;mero de identidade ou outra identifica&ccedil;&atilde;o &uacute;nica</li>
	</ul>
	</li>
	<li>Data da coleta da amostra</li>
</ul>
O nome do paciente e o identificador &uacute;nico adicional escritos no recipiente devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documenta&ccedil;&atilde;o</div>

<div class="col-md-10">Utilize este <a href="http://marketing.invitae.com/acton/attachment/7098/f-0146/1/-/-/-/-/FM115-1_gDNA-form.pdf">Modelo de formul&aacute;rio do gDNA</a> para documentar as informa&ccedil;&otilde;es necess&aacute;rias. Imprima uma c&oacute;pia preenchida deste formul&aacute;rio e anexe-a &agrave; amostra de gDNA.<br />
&nbsp;<br />
Para preencher este formul&aacute;rio, voc&ecirc; precisar&aacute; das seguintes informa&ccedil;&otilde;es:
<ul class="bullet-list">
	<li>Nome completo do paciente</li>
	<li>Data de nascimento do paciente</li>
	<li>Data de &oacute;bito do paciente (se aplic&aacute;vel)</li>
	<li>Origem da amostra</li>
	<li>Data da coleta</li>
	<li>M&eacute;todo de extra&ccedil;&atilde;o</li>
	<li>Data da extra&ccedil;&atilde;o</li>
	<li>Concentra&ccedil;&atilde;o do gDNA</li>
	<li>Quantidade de gDNA</li>
	<li>M&eacute;todo de quantifica&ccedil;&atilde;o</li>
	<li>Outras m&eacute;tricas do gDNA (por exemplo, 260/280, dados do gel/bioanalisador)</li>
	<li>Condi&ccedil;&otilde;es de armazenamento pr&eacute;vias e atuais</li>
</ul>
Uma c&oacute;pia impressa do formul&aacute;rio de requisi&ccedil;&atilde;o on-line deve ser enviada com a amostra. Voc&ecirc; poder&aacute; imprimir uma c&oacute;pia do formul&aacute;rio de requisi&ccedil;&atilde;o depois de concluir oprocesso de requisi&ccedil;&atilde;o on-line.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">As amostras de DNAg devem ser enviadas durante &agrave; noite em temperatura ambiente. Recomendamos o uso de bolsas de gelo em dias quentes para manter a amostra entre 2 e 8 graus cent&iacute;grados (35,6 a 46,6 graus Fahrenheit). As amostras de DNAg congelado devem ser enviadas durante a noite usando bolsas de gelo.<br />
<br />
Envie a amostra em uma embalagem &agrave; prova de esmagamento por meio do servi&ccedil;o noturno FedEx Priority Overnight (de acordo com as <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Diretrizes de embalagem da FedEx para amostras cl&iacute;nicas</a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato </a> com a equipe de atendimento ao cliente da Invitae para obter o n&uacute;mero da conta FedEx. (Pre&ccedil;o de fora os EUA n&atilde;o inclui taxas de envio.) Endere&ccedil;o de envio:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que voc&ecirc; envie seu pacote entre segunda e quinta-feira. N&atilde;o solicite a entrega para s&aacute;bado. A Invitae segue a programa&ccedil;&atilde;o <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">de servi&ccedil;os em feriados da FedEx</a>.<br />
<br />
Se voc&ecirc; enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisar&aacute; de tr&ecirc;s c&oacute;pias de uma fatura comercial (ProForma). Certifique-se de tamb&eacute;m incluir um formul&aacute;rio de declara&ccedil;&atilde;o alfandeg&aacute;ria.</div>
</div>
</div>

<div class="team-content" id="team-postmortem-content">
<div class="list-content row">
<div class="col-md-2">Testes <i>post mortem</i></div>

<div class="col-md-10">Ap&oacute;s a morte de uma pessoa querida devido a uma condi&ccedil;&atilde;o heredit&aacute;ria suspeita, o teste gen&eacute;tico <i>post mortem</i> pode fornecer informa&ccedil;&otilde;es valiosas para os membros da fam&iacute;lia. Os testes <i>post mortem</i> podem ajudar a confirmar a causa da morte, bem como esclarecer se os membros da fam&iacute;lia podem se beneficiar com testes gen&eacute;ticos da mesma condi&ccedil;&atilde;o.<br />
&nbsp;<br />
Os testes gen&eacute;ticos <i>post mortem</i> consideram v&aacute;rios fatores importantes antes de testar as amostras gen&eacute;ticas de indiv&iacute;duos falecidos. Abaixo est&atilde;o as informa&ccedil;&otilde;es gerais sobre o processo de teste da Invitae para a an&aacute;lise <i>post mortem</i>. Devido &agrave; natureza sens&iacute;vel desse tipo de an&aacute;lise e dessas amostras, exigimos que os m&eacute;dicos <a href="{% page_url 'portal_common.contact' %}">entrem em contato</a> conosco antes de enviar uma amostra <i>post mortem</i>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Tipos de amostras</div>

<div class="col-md-10">Aceitamos sangue total em um tubo de EDTA (tampa lavanda). Tamb&eacute;m aceitamos DNA gen&ocirc;mico (gDNA) extra&iacute;do em outros laborat&oacute;rios. Consulte a p&aacute;gina Requisitos da amostra para obter mais detalhes. Observe: No momento, n&atilde;o podemos aceitar tecidos congelados ou amostras de c&eacute;lulas cultivadas.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Qualidade da amostra</div>

<div class="col-md-10">Os resultados dos testes gen&eacute;ticos s&atilde;o afetados pela idade e qualidade da amostra. Embora fa&ccedil;amos todos os esfor&ccedil;os para gerar resultados completos do teste, nem sempre isso &eacute; poss&iacute;vel se a amostra apresentar m&aacute; qualidade. O m&eacute;dico solicitante ser&aacute; notificado se um teste puder ser apenas parcialmente conclu&iacute;do ou n&atilde;o puder ser conclu&iacute;do. Consulte a p&aacute;gina Requisitos da amostra para obter mais detalhes.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento e envio da amostra</div>

<div class="col-md-10">No momento, a Invitae n&atilde;o pode armazenar ou reter amostras. N&oacute;s encorajamos considerar um banco de DNA em outras institui&ccedil;&otilde;es focadas especificamente no armazenamento de DNA de longo prazo.<br />
&nbsp;<br />
As amostras recebidas que n&atilde;o cumprirem os requisitos m&iacute;nimos da Invitae para os testes podem ser devolvidas ao remetente. As amostras que cumprirem os requisitos m&iacute;nimos iniciar&atilde;o o processo de testes. No momento, as amostras n&atilde;o podem ser retidas ou devolvidas, independentemente de o teste ser ou n&atilde;o conclu&iacute;do.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Pagamento e faturamento</div>

<div class="col-md-10">As fam&iacute;lias t&ecirc;m a op&ccedil;&atilde;o de pagar $ 475 pelos testes, quando o teste &eacute; solicitado on-line por um m&eacute;dico. Para essa op&ccedil;&atilde;o, um membro da fam&iacute;lia deve registrar o paciente falecido no <a href="{% url 'patient.signin' %}">portal do paciente on-line</a> da Invitae, para que o pagamento seja processado. Esse membro da fam&iacute;lia deve ser o parente autorizado, porque o portal mostrar&aacute; os resultados dos testes e eles s&oacute; podem ser acessados por pessoas autorizadas. Observe que tipicamente o seguro n&atilde;o cobre testes post mortem, por isso n&atilde;o podemos enviar solicita&ccedil;&otilde;es para as seguradoras pagarem pelos testes realizados em pacientes falecidos.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Relat&oacute;rio dos resultados</div>

<div class="col-md-10">Os resultados dos testes gen&eacute;ticos s&atilde;o relatados para o m&eacute;dico solicitante. O membro da fam&iacute;lia que registrou o paciente no portal do paciente da Invitae &eacute; o titular da conta e tamb&eacute;m pode solicitar uma c&oacute;pia dos resultados dos testes do paciente. O acesso ser&aacute; negado se a Invitae determinar que o titular da conta n&atilde;o est&aacute; autorizado a receber esta informa&ccedil;&atilde;o. Em tais casos, o indiv&iacute;duo pode solicitar os resultados do teste atrav&eacute;s do m&eacute;dico solicitante.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">Consulte as guias de amostras de sangue total venoso perif&eacute;rico ou de DNAg nesta p&aacute;gina para conhecer os requisitos de envio para estes tipos de amostra.</div>
</div>
</div>

<div class="team-content" id="team-saliva-content">
<div class="list-content row">
<div class="col-md-2">Tipo de amostra aceito</div>

<div class="col-md-10">OrageneTM Self-collection Kit (OG500/OGD500). Observe que este kit necessita de 2 mililitros de saliva. Para solicitar um kit de autocoleta gratuito OrageneTM Self-collection Kit, acesse nossa p&aacute;gin <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-2">N&atilde;o podemos aceitar:</div>

<div class="col-md-10">
<ul class="bullet-list">
	<li>Saliva em qualquer recipiente diferente do kit de autocoleta OrageneTM Self-collection Kit (OG500/OGD500)</li>
	<li>Amostras de swabs e enxaguat&oacute;rios bucais</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Rotulagem</div>

<div class="col-md-10">
<p>O tubo de coleta dever&aacute; ser rotulado com:</p>

<ul class="bullet-list">
	<li>O nome completo do paciente</li>
	<li>Um identificador exclusivo adicional:
	<ul class="bullet-list">
		<li>Data de nascimento (MM/DD/AAAA)</li>
		<li>N&uacute;mero do expediente m&eacute;dico</li>
		<li>N&uacute;mero IB, se colocado pelo m&eacute;dico solicitante</li>
		<li>ID da solicita&ccedil;&atilde;o de teste da Invitae (N&ordm; RQ)</li>
		<li>N&uacute;mero da identidade ou outra identifica&ccedil;&atilde;o exclusiva</li>
	</ul>
	</li>
	<li>Data de coleta da amostra</li>
	<li>O nome do paciente e o identificador exclusivo adicional escritos no tubo devem corresponder ao nome e ao identificador fornecidos quando o pedido do teste foi efetuado.</li>
</ul>
</div>
</div>

<div class="list-content row">
<div class="col-md-2">Armazenamento</div>

<div class="col-md-10">Armazene a amostra de saliva &agrave; temperatura ambiente. Embora n&atilde;o haja exig&ecirc;ncias especiais de tempo, recomendamos que as amostras sejam enviadas &agrave; Invitae logo ap&oacute;s a coleta.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Documenta&ccedil;&atilde;o</div>

<div class="col-md-10">Uma c&oacute;pia impressa do formul&aacute;rio de requisi&ccedil;&atilde;o on-line deve ser enviada com a amostra. Voc&ecirc; poder&aacute; imprimir uma c&oacute;pia do formul&aacute;rio de requisi&ccedil;&atilde;o depois de concluir o processo de requisi&ccedil;&atilde;o on-line.<br />
<br />
Para envios internacionais, s&atilde;o necess&aacute;rios documentos adicionais. Consulte a guia Requisitos de envio acima.</div>
</div>

<div class="list-content row">
<div class="col-md-2">Requisitos de envio</div>

<div class="col-md-10">Exceto pelo uso de um kit de autocoleta OrageneTM Self-collection Kit (OG500/OGD500), n&atilde;o h&aacute; requisitos especiais quanto &agrave; temperatura e &agrave; rapidez do envio das amostras de saliva.<br />
<br />
Para ajudar na coleta e no envio das amostras, voc&ecirc; pode solicitar um kit de coleta de amostras de saliva Invitae gratuito enviando nosso formul&aacute;rio de requisi&ccedil;&atilde;o on-line <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar um kit</a>.<br />
<br />
Como alternativa, voc&ecirc; pode nos enviar a amostra em uma embalagem &agrave; prova de esmagamento por meio do servi&ccedil;o noturno FedEx Priority Overnight (de acordo com as <a href="http://www.fedex.com/us/packaging/guides/Clinical_fxcom.pdf" target="_blank">Diretrizes de embalagem da FedEx para amostras cl&iacute;nicas </a>). Entre em <a href="{% page_url 'portal_common.contact' %}">contato</a> com a equipe de atendimento ao cliente da Invitae para obter o n&uacute;mero da conta FedEx. (Pre&ccedil;o de fora os EUA n&atilde;o inclui taxas de envio.) Endere&ccedil;o de envio:<br />
&nbsp;&nbsp;&nbsp;&nbsp; Attn: Client Services<br />
&nbsp;&nbsp;&nbsp;&nbsp; Invitae Corporation<br />
&nbsp;&nbsp;&nbsp;&nbsp; 475 Brannan St, Suite 230<br />
&nbsp;&nbsp;&nbsp;&nbsp; San Francisco, CA 94107<br />
<br />
A Invitae recebe pacotes de segunda a sexta-feira. Recomendamos que voc&ecirc; envie seu pacote entre segunda e quinta-feira. N&atilde;o solicite a entrega para s&aacute;bado. A Invitae segue a programa&ccedil;&atilde;o <a href="http://www.fedex.com/us/service-guide/holiday-schedule.html" target="_blank">de servi&ccedil;os em feriados da FedEx</a>.<br />
<br />
Se voc&ecirc; enviar sua amostra de fora dos Estados Unidos, a empresa transportadora precisar&aacute; de tr&ecirc;s c&oacute;pias de uma fatura comercial (ProForma). Certifique-se de tamb&eacute;m incluir um formul&aacute;rio de declara&ccedil;&atilde;o alfandeg&aacute;ria.</div>
</div>
</div>
