<div class="row">
<div class="col-md-12">
<h3>Resultados</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuánto demoran los resultados?</h4>

<div class="expandable-content">
<p>Un promedio de 3 semanas desde el momento en que recibimos la muestra.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Si pido menos genes la demora será más corta?</h4>

<div class="expandable-content">
<p>No, la demora para todos los estudios es de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae ofrece un servicio de entrega de informes acelerada?</h4>

<div class="expandable-content">
<p>No, la demora para todos los estudios es de 3 semanas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo voy a recibir el informe?</h4>

<div class="expandable-content">
<p>Cuando el informe esté listo, podrá verlo y descargarlo directamente desde su cuenta de Invitae. <a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Atención al Cliente si desea que enviemos el informe por fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué incluye un informe clínico de Invitae?</h4>

<div class="expandable-content">
<p>Los resultados y sus interpretaciones clínicas se presentan en forma de un informe clínico fácilmente comprensible con plena transparencia en las características de desempeño para cada afección o gen. Puede ver un informe de ejemplo en la página de <a href="{% page_url 'portal_common.order-forms' %}">Formularios</a> de nuestro sitio web.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo clasifica Invitae las variantes genéticas?</h4>

<div class="expandable-content">
<p>El equipo de científicos, asesores genéticos y genetistas médicos de Invitae trabaja en conjunto para proporcionar clasificaciones de variantes rigurosas y de alta calidad. Nuestro método de clasificación de variantes cumple estrictamente con las recomendaciones del American College of Medical Genetics (ACMG). Para obtener más información, visite nuestra página de <a href="{% page_url 'portal_common.variant-classification' %}">Clasificación de Variantes</a>.</p>
</div>
</div>
</div>
</div>

