<div class="row">
<div class="col-md-12">
<h3>Cuenta en el Portal</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué me permite hacer una cuenta de Invitae?</h4>

<div class="expandable-content">
<p>Con una cuenta Invitae usted puede:</p>

<ul class="bullet-list">
	<li>Buscar en nuestro catálogo de estudios en línea para los genes y las afecciones que le interesan y completar todo su pedido en línea.</li>
	<li>Diseñar y guardar sus propios solicitudes personalizadas.</li>
	<li>Subir rápidamente documentos como documentos del seguro, registros médicos, antecedentes familiares y resultados de estudios anteriores.</li>
	<li>Realizar el seguimiento del estado de su solicitud en tiempo real.</li>
	<li>Comunicarse con el personal de Invitae y subir documentos a través de nuestro sistema de intercambio de mensajería segura.</li>
	<li>Ver y descargar su informe final.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Para que se usa mi dirección de correo electrónico?</h4>

<div class="expandable-content">
<p>Su dirección de correo electrónico sirve como nombre de usuario para su cuenta de Invitae. Toda notificación relacionada con una solicitud que haya presentado irá a esta dirección de correo electrónico, incluso cuando el informe esté listo o cuando reciba un mensaje seguro de un miembro del equipo de Invitae.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué es Historial de Solicitudes?</h4>

<div class="expandable-content">
<p>La página Historial de Solicitudes se muestra al iniciar sesión. Historial de Solicitudes muestra sus solicitudes anteriores y actuales y sus detalles. Puede hacer clic en cualquier número RQ para obtener más información acerca de esa solicitud. También puede compartir los resultados y ver o enviar mensajes seguros. Para hacer una solicitud, comience por ver nuestro <a href="{% page_url 'portal_common.test-catalog' %}">Catálogo de Estudios</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Puedo compartir el seguimiento y los resultados?</h4>

<div class="expandable-content">
<p><strong>Con los pacientes:</strong> si ingresa la dirección de correo electrónico del paciente, se le pedirá a este/a que cree una cuenta para realizar el seguimiento del estado de su solicitud. Si hace clic en “Publicar Resultados” en la página Historial de Solicitudes, el paciente también podrá ver el informe cuando esté listo.</p>

<p><strong>Con colegas:</strong> puede optar por compartir una solicitud con cualquier colegas si ingresa sus direcciones de correo electrónico en la pestaña Compartir, como parte del flujo de trabajo de la solicitud, o a través de la página Historial de Solicitudes después de que se presentó una solicitud. Se le pedirá a cada colega que cree una cuenta para tener acceso compartido a la solicitud.</p>
</div>
</div>
</div>
</div>