<div class="row">
<div class="col-md-12">
<h3>Licencias</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae está certificado por Clinical Laboratory Improvement Amendments (CLIA)?</h4>

<div class="expandable-content">
<p>Sí. Nuestro número de identificación de CLIA es 05D2040778. Puede descargar una copia de la licencia en la página de <a href="{% page_url 'portal_common.licensing' %}">Licencias</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae está acreditado por el College of American Pathologists (CAP)?</h4>

<div class="expandable-content">
<p>Sí. Nuestro número de CAP LAP es 8770489 y nuestro AU-ID es 1703789. Puede descargar una copia de la licencia en la página de <a href="{% page_url 'portal_common.licensing' %}">Licencias</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Aceptan muestras de todos los estados?</h4>

<div class="expandable-content">
<p>Actualmente aceptamos muestras de todos los estados con excepción de Nueva York. Podemos conceder una excepción si se incluye un documento de exención aprobado del Estado de Nueva York con la muestra del paciente.</p>
</div>
</div>
</div>
</div>