<div class="row">
<div class="col-md-12">
<h3>Requisitos de Muestras y Envío</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuáles son los requisitos para la muestra?</h4>

<div class="expandable-content">
<p>El tipo de muestra preferido de Invitae para nuestro ensayo de secuenciación de próxima generación es 3 ml de sangre entera periférica en un tubo de EDTA de tapa púrpura. También aceptamos muestras de saliva y de gDNA purificado a partir de muestras sangre entera venosa periférica. Para conocer los requisitos específicos para las muestras y los envíos, visite nuestra página <a href="{% page_url 'portal_common.sample-requirements' %}"> Requisitos de la Muestra</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Aceptan muestras prenatales?</h4>

<div class="expandable-content">
<p>No por el momento. Podemos hacer estudios en futuros padres para determinar el estado de portador, pero no ofrecemos estudios prenatales para madres ya embarazadas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Proporciona Invitae kits de recolección de muestra?</h4>

<div class="expandable-content">
<p>Sí, podemos enviarle los kits de recolección de muestras de forma gratuita. Estos están equipados con todos los materiales de envío necesarios. Visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuál es la edad mínima requerida para que un niño utilice los kits de saliva?</h4>

<div class="expandable-content">
<p>Encontramos que por lo general, un niño de 5 años o más es capaz de donar de forma adecuada, suficiente saliva para los requisitos de la prueba.  Sin embargo, esto varía de niño en niño.  Requerimos la cantidad total de 2 ml de saliva, sin importar la edad de la persona examinada.  Si un niño no es capaz de completar la donación de 2 ml por completo, le sugerimos que utilice una muestra de sangre en su lugar.</p>
</div>
</div>


<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Pueden organizar una extracción de sangre para mi paciente?</h4>

<div class="expandable-content">
<p>Sí, Invitae puede ayudar a programar una cita para extracción de sangre en su consultorio o en la casa de su paciente. Ofrecemos cobertura a nivel nacional y el servicio se ofrece sin costo adicional alguno. Visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener información sobre la programación de una cita para extracción de sangre.</p>
</div>
</div>


<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Acepta Invitae ADN genómico extraído en otros laboratorios?</h4>

<div class="expandable-content">
<p>Si usted está interesado en el análisis de ADN genómico, comuníquese con nuestro equipo de servicios al cliente para hablar con uno de nuestros asesores genéticos. Nuestros asesores genéticos con gusto hablarán con usted sobre los beneficios y limitaciones actuales en el contexto de su caso específico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Aceptan muestras post mortem?</h4>

<div class="expandable-content">
<p>Si usted está interesado en el análisis de muestras post mortem, comuníquese con nuestro equipo de servicios al cliente para hablar con uno de nuestros asesores genéticos. Uno de nuestros asesores genéticos con gusto hablará con usted sobre los beneficios y limitaciones actuales en el contexto de su caso específico.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué documentación se requiere con cada muestra?</h4>

<div class="expandable-content">
<p>Cada muestra debe estar acompañada por una copia impresa del formulario de solicitud completo. Puede descargar e imprimir los formularios de solicitud luego de haber completado el proceso de solicitud en línea. Si Invitae facturará a un proveedor de seguro de los EE. UU., solicitamos la información del seguro o una copia del anverso y el reverso de la credencial de seguro del paciente. También preferimos una Carta de necesidad médica (LOMN), aunque no es un requisito. Si el paciente tiene Medicare, requerimos el formulario de Criterios de Medicare de Invitae y el formulario de consentimiento del paciente, que debe estar firmado a la fecha de la extracción de sangre, o antes. Si el paciente no cumple con los criterios de Medicare de Invitae para la realización de la prueba, también se requiere una Carta de necesidad médica.<br>
<br>
Los envíos internacionales tienen requisitos adicionales; consulte la página <a href="{% page_url 'portal_common.sample-requirements' %}"> Requisitos de la Muestra</a> para obtener más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo envío la muestra a Invitae?</h4>

<div class="expandable-content">
<p>Nuestros kits vienen con una etiqueta de envío; como otra alternativa, envíe la muestra de sangre en un recipiente a prueba de golpes a través de FedEx Priority Overnight a la siguiente dirección:</p>

<p>Atención: Invitae Client Services<br>
Invitae Corporation<br>
475 Brannan Street, Suite 230<br>
San Francisco, CA, 94107</p>

<p><a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Atención al Cliente para obtener el número de cuenta FedEx de Invitae. Si usted elige utilizar un método de envío propio de su institución, envíe el número de seguimiento a <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>. Aceptamos entregas de lunes a viernes, excepto feriados.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Paga Invitae por el envío?</h4>

<div class="expandable-content">
<p>Sí. Invitae paga por el envío dentro de EE. UU. <a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Atención al Cliente para obtener el número de cuenta FedEx y enviar la muestra con servicio de la noche a la mañana.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Acepta Invitae entregas los fin de semana o feriados?</h4>

<div class="expandable-content">
<p><strong>Entregas los fin de semana:</strong> No. Invitae acepta paquetes de lunes a viernes. Le recomendamos que envíe su paquete de manera tal que salga de sus instalaciones de lunes a jueves. No solicite la entrega el sábado. Utilice el servicio de envío “overnight” (de un día para el otro) a través de Federal Express de acuerdo con su guía, con el número de cuenta FedEx suministrado por el <a href="{% page_url 'portal_common.contact' %}">equipo de atención al cliente de Invitae</a>.</p>

<p><strong>Entregas en feriados:</strong> Invitae sigue el <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">Calendario de Servicios en Días Feriados de FedEx</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué tan rápido después de la extracción de sangre tengo que enviar la muestra a Invitae?</h4>

<div class="expandable-content">
<p>Recomendamos el envío “overnight” (de un día para el otro) de la muestra el mismo día que se recoge la muestra de sangre. Si se almacena a temperatura ambiente, la muestra de sangre es viable por un máximo de 48 horas y si se la refrigera, hasta una semana. No congele la muestra de sangre.</p>
</div>
</div>
</div>
</div>
