<div class="row">
<div class="col-md-12">
<h3>Solicitar Estudio Genético</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Para qué son los estudios de Invitae?</h4>

<div class="expandable-content">
<p>Invitae ofrece análisis de secuenciación de genes completos y de deleción/duplicación. Puede pedir cualquier combinación de genes, trastornos y paneles, todos por el mismo precio<sup>*</sup>. Para ver nuestro catálogo de estudios completo visite nuestra página <a href="{% page_url 'portal_common.test-catalog' %}">Catálogo de Estudios</a>.</p>

<p class="endnote"><sup>*</sup>Precio por cuadro clínico: Precio de lista de $1500 dólares, rebajado a $950 dólares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 dólares por solicitudes hechas en línea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de envío. Por favor <a target="_blank" href="{% page_url 'portal_common.contact' %}">contacte</a> a Servicio al Cliente para más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué metodología de secuenciación se usa?</h4>

<div class="expandable-content">
<p>Invitae realiza secuenciación completa de genes y análisis de deleción/duplicación usando tecnología de secuenciación de próxima generación. Para obtener más información acerca de nuestros ensayos, visite nuestra página de <a href="{% page_url 'portal_common.assay' %}">Ensayo</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae ofrece análisis de deleción/duplicación?</h4>

<div class="expandable-content">
<p>Sí, el ensayo de Invitae detecta la mayoría de los eventos de deleción/duplicación abarcando un solo exón o más. Sin embargo, en algunos casos, genes y exones específicos se excluyen del análisis. Consulte nuestra <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf">Lista de Genes</a> para obtener más información.</p>

<p>Nuestro algoritmo de detección de número de copias también puede identificar grandes deleciones/duplicaciones que incluyen y se extienden más allá del gen blanco, aunque los límites de dichas deleciones/duplicaciones no se pueden determinar más allá del gen mismo. En ese sentido, el estudio de Invitae no provee análisis citogenético para grandes anomalías cromosómicas o cambios sin alteración en el número de copias, como traslocaciones recíprocas, disomías uniparentales o inversiones.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae ofrece estudios de BRCA?</h4>

<div class="expandable-content">
<p>Sí, ofrecemos secuenciación completa de genes y análisis de deleción/duplicación de BRCA1 y BRCA2. Sin costo adicional<sup>*</sup>, puede obtener uno de nuestros paneles más amplios de cáncer hereditario, que incluye otros genes de cáncer hereditario. Para obtener más información sobre nuestra gama de opciones de estudios de BRCA, visite nuestra página de <a href="{% page_url 'portal_common.brca-testing' %}">Estudios de BRCA</a>.</p>

<p class="endnote"><sup>*</sup>Precio por cuadro clínico: Precio de lista de $1500 dólares, rebajado a $950 dólares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 dólares por solicitudes hechas en línea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de envío. Por favor <a target="_blank" href="{% page_url 'portal_common.contact' %}">contacte</a> a Servicio al Cliente para más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae ofrece estudios de seguimiento de variante familiar?</h4>

<div class="expandable-content">
<p>Sí. Si el probando original fue analizado por Invitae, disponemos de estudios de variante familiar para los miembros elegibles de la familia por solo US$200 por gen para cada miembro de la familia. Visite nuestra página de <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Ánalisis de Variante Familiar </a> para obtener más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Puedo solicitar más estudios (solicitud de genes adicionales) para la muestra de un paciente que ya fue analizada previamente en Invitae?</h4>

<div class="expandable-content">
<p>Sí. Si el paciente recibe un resultado negativo o no concluyente en un estudio de Invitae, puede solicitar el análisis de más genes relacionados con la indicación original sin cargo adicional (solo los genes disponibles en el momento de la solicitud original son elegibles). Invitae ofrece una (1) solicitud de genes adicionales sin cargo extra dentro de los 90 días a partir de la fecha de publicación del informe original. Después de pasados los 90 días desde la fecha de publicación del reporte original, se cobrará a su paciente US$475 por solicitudes de genes adicionales relacionadas con la misma indicación clínica (solo son elegibles los genes disponibles en el momento de la solicitud original). Para conocer más sobre este programa, visite nuestra página de <a target="_blank" href="{% page_url 'portal_common.re-requisition' %}">Solicitud de Genes Adicionales</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo hago una solicitud?</h4>

<div class="expandable-content">
<p>Haga su solicitud en línea para un procesamiento más eficaz de su solicitud, una entrega de informes más rápida y acceso a las otras funciones en línea. Crear una cuenta solo toma unos pocos minutos, y también puede navegar y realizar su solicitud directamente de nuestro catálogo de estudios en línea. También puede hacer una solicitud en papel.</p>

<p>Para obtener más información sobre cómo crear una cuenta y hacer una solicitud, visite nuestra página <a href="{% page_url 'portal_common.ordering' %}">¿Cómo Hacer una Solicitud?</a> para obtener instrucciones más detalladas y para ver nuestros videos instructivos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Invitae ofrece estudios de único sitio?</h4>

<div class="expandable-content">
<p>Sí. Aunque Invitae no ofrece estudios de único sitio en sí, ofrecemos estudios de variante familiar y resolución de VSI. Ambos programas incluyen el análisis completo del gen en el que se identificó la variante del miembro original de la familia. El informe incluirá el estado de la variante familiar, así como cualquier otra variante patógena o probablemente patógena identificada en ese gen. Visite nuestras páginas <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Ánalisis de Variante Familiar</a> y <a target="_blank" href="{% page_url 'portal_common.vus-resolution' %}">Resolución de VSI</a> para obtener detalles sobre cada uno de estos programas.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Puedo llenar una solicitud en nombre de un médico de mi clínica?</h4>

<div class="expandable-content">
<p>Sí. Tenga en cuenta que quien hace la solicitud será el principal punto de contacto para las actualizaciones de estado y divulgaciones relacionadas con la solicitud. Si usted está haciendo una solicitud como representante clínico, ingrese los detalles del médico que solicita en 'Equipo Clínico' y asegúrese de incluir la dirección de correo electrónico del médico si él o ella quieren recibir una copia del informe.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cómo puedo hacer cambios a una solicitud que ya he presentado?</h4>

<div class="expandable-content">
<p>Si desea hacer algún cambio a una solicitud completa, <a href="{% page_url 'portal_common.contact' %}">comuníquese con</a> Atención al Cliente y podremos ayudarle.</p>
</div>
</div>
</div>
</div>