<div class="row">
<div class="col-md-12">
<h3>Facturación y Seguros</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuál es el precio de los estudios de Invitae?</h4>

<div class="expandable-content">
<p>Cualquier gen, un solo precio<sup>*</sup>. La misión de Invitae es llevar la información genética a la práctica médica corriente a fin de mejorar la calidad de la atención de la salud para miles de millones de personas. Creemos en estudios responsables basados en las pautas médicas establecidas y nuestro objetivo es ser totalmente transparentes con nuestros precios para que los pacientes, los médicos y los pagadores sepan el costo del estudio. Invitae introduce nuevos precios para los tres segmentos de clientes que atiende en la actualidad:</p>

<ul class="bullet-list">
	<li>Para las instituciones no contratadas y terceros pagadores <strong>para los que Invitae es un proveedor fuera de la red</strong>, el precio por indicación es de <strong>US$1500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>Para <strong>instituciones y distribuidores con los que tenemos contratos y para los pagadores que incluyen a Invitae en sus redes</strong>, el precio por indicación es <strong>US$950</strong>.

	<ul class="bullet-list">
		<li>Para obtener más información sobre los términos del contrato, <a href="{% page_url 'portal_common.contact' %}">comuníquese con</a> Atención al Cliente.</li>
	</ul>
	</li>
	<li>Para los pacientes que han optado por pagar por adelantado, y cuyos médicos han ordenado nuestro estudio genético en línea, el precio por indicación es US$475.
	<ul class="bullet-list">
		<li>Este servicio está disponible solo como una opción de pago por adelantado y no permite que Invitae presente la reclamación al seguro.</li>
		<li>El paciente acepta registrarse en línea y establecer las preferencias de contacto.</li>
		<li>Los programas de asistencia al paciente no están disponibles para la opción de pago por adelantado del paciente.</li>
		<li>Las solicitudes de pago por adelantado para pacientes deben hacerse en línea, incluyendo la solicitud del médico.</li>
		<li>Para las solicitudes internacionales, la opción de pago por adelantado del paciente <strong>no</strong> incluye el envío.</li>
	</ul>
	</li>
</ul>

<p>Es importante tener en cuenta que para los precios de pago del paciente, estos deben acudir a su proveedor de atención médica para que solicite nuestros estudios. Los profesionales de la salud son fundamentales para solicitar el estudio adecuado para el paciente correcto y en la interpretación de la información genética. Invitae cree que los pacientes deben poseer y controlar su propia información genética, por lo tanto, no requerimos a nuestros pacientes que transfieran sus datos; les permitimos que opten por rechazar esta opción y aun así recibir el estudio. Si bien, la información genética es más valiosa cuando se comparte, los pacientes son dueños de sus datos y deben decidir qué que quieren hacer con estos.</p>

<p class="endnote"><sup>*</sup>Precio por indicación: Lista de precio de $1500 con descuento a $950 para instituciones y distribuidores con contrato con Invitae, y pagadores que tengan contrato con Invitae bajo ciertas condiciones. El pago por adelantado del cliente es de $475 para pedidos hechos en linea y conectados con una cuenta de cliente. El precio fuera de Estados Unidos no incluye las tarifas de envío. Por favor <a target="_blank" href="{% page_url 'portal_common.contact' %}">contacte</a> a Servicio al Cliente para más información.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué opciones de pago están disponibles?</h4>

<div class="expandable-content">
<p>Ofrecemos las siguientes opciones de facturación, para obtener más información sobre cada una de estas opciones, visite nuestra página <a href="{% page_url 'portal_common.billing' %}">Información de Facturación</a>.</p>

<ul class="bullet-list">
	<li>Pago del Paciente: El paciente paga el monto completo por adelantado con tarjeta de crédito o débito (aceptamos Visa, Mastercard, American Express y JCB)</li>
	<li>Plan de Pago para el Paciente: El paciente paga US$375 por adelantado y US$99 al mes durante 12 meses, lo que incluye un cargo por servicio de US$63 (no disponible para la opción de pago del paciente de US$475)</li>
	<li>Facturación institucional</li>
	<li>Proveedores de seguros terceros (ver detalles más abajo)</li>
	<li>La cobertura de Medicare está disponible cuando se cumplen los criterios específicos</li>
	<li>Para aquellos que califican, tenemos un Programa de Acceso para el Paciente (PAP) y un Plan de Asistencia Financiera (FAP, por sus siglas en inglés) para reducir los gastos que el paciente debe pagar de su bolsillo. <a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Atención al Cliente para obtener más información.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Qué necesita Invitae para facturar al seguro?</h4>

<div class="expandable-content">
<p>Esté preparado para proporcionar la siguiente información con su pedido:</p>

<ul class="bullet-list">
	<li>Nombre y apellido, número de teléfono y dirección postal del paciente</li>
	<li>Una copia (anverso y reverso) de la credencial del seguro del paciente</li>
	<li>Códigos ICD9 relevantes</li>
	<li>Carta de necesidad médica</li>
</ul>

<p>Esta información se puede ingresar en el momento de la solicitud cuando elige facturación a un tercero como forma de pago.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Ofrecen algún tipo de asistencia financiera?</h4>

<div class="expandable-content">
<p>Además del plan de pago, podemos ofrecer asistencia si su paciente cumple con ciertos criterios financieros. <a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Atención al Cliente para obtener más información o si desea llenar una solicitud.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuál es el número NPI de Invitae?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>¿Cuál es el código CPT para el estudio que estoy pidiendo?</h4>

<div class="expandable-content">
<p>Si usted está pidiendo un estudio que incluye los genes BRCA1 o BRCA2, el código CPT es 81211. Para el resto de los estudios, el código CPT a utilizar es 81479 - procedimiento de patología molecular no listado.</p>
</div>
</div>
</div>
</div>