<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Historias reales</a></li>
	<li>Amanda Burris</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'El conocimiento es poder'</span></h2>

<h5>Amanda Burris habla acerca de hacerse un análisis para el gen BRCA</h5>

<p>Cuando era niña, Amanda Burris sabía más acerca del cáncer de mama que la mayoría de los adultos. “Nuestra familia tiene una larga historia de cáncer de mama", afirma. “Mi bisabuela, mi abuela, mis tías, mi mamá y sus primas, todas lo tuvieron".</p>

<p>Después de ver a su madre de 33 años de edad y a su tía de 39 luchar contra la enfermedad, Amanda decidió hacerse un análisis parar BRCA1 y BRCA2 a la edad de 23 años. Los resultados, como aquellos de su abuela, su madre y su tía, fueron positivos.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe src="//fast.wistia.net/embed/iframe/t5e6qu3wuq" webkitallowfullscreen="" allowtransparency="true" msallowfullscreen="" height="360" name="wistia_embed" width="640" scrolling="no" class="wistia_embed embed-responsive-item" mozallowfullscreen="" allowfullscreen="" frameborder="0" oallowfullscreen=""></iframe><script async src="//fast.wistia.net/assets/external/E-v1.js"></script></div>
</div>

<div class="col-md-12">
<p>Lejos de sentirse consternada, Amanda dice que saber que tiene una variación en el gen BRCA2, que aumenta significativamente sus posibilidades de desarrollar cáncer de mama, es un paso hacia adelante.</p>

<p>“Para mí, el conocimiento es poder", concluye Amanda. "El análisis de Invitae me proporcionó la información necesaria para tomar el control de mi salud, y de mi futuro”.</p>

<p>Amanda contraerá matrimonio a finales de este año y piensa tener hijos cuanto antes en caso de que decida realizarse una mastectomía para tomar medidas preventivas a una edad relativamente temprana. Ya está considerando qué medidas preventivas son las correctas para ella, y cuándo podría implementarlas en su vida. Por ejemplo, Amanda dice que es probable que se realice estudios de resonancia magnética en lugar de mamografías, ya que estos estudios puede detectar con mayor exactitud el tipo de cáncer de mama que ella probablemente desarrolle.</p>

<p>Sandy, la madre de Amanda, dice que si bien fue difícil enterarse de que ella transmitió la variación del gen BRCA2 a su hija, le alegra saber que Amanda cuenta ahora con el conocimiento de su variación genética específica y puede trabajar con su profesional de atención médica para tomar decisiones de manejo informadas.</p>

<p>“Cuando debatimos el análisis genético, pensamos: ¿Ella realmente necesita realizarse una prueba? Ya sabemos que tiene alto riesgo a causa de nuestra historia familiar", expresa. “Pero el conocimiento le ha dado poder a Amanda".</p>

<p>Amanda está de acuerdo. "Lo interesante acerca del análisis genético es que todas las personas tienen antecedentes de algo”, dice. “Comprender esos antecedentes, saber de dónde provienen y cómo funcionan, es conocimiento muy importante”.</p>

<p>“Hacerse un análisis genético realmente ayudó porque tenemos un plan y ahora comprendemos mejor nuestras opciones. Se trata de volver a tomar el control de mi vida”.</p>
</div>
</div>