<div class="row">
<div class="col-md-12">
<h3>Alguma pergunta ou coment&aacute;rio? Informe-nos.</h3>
</div>
</div>

<div class="row">
<div class="col-md-9">
<h4>Formul&aacute;rio de contato on-line</h4>
{% load physician_contact_form %}{% physician_contact_form %}</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Consultas nacionais (Estados Unidos)</h4>

<p>O atendimento aos clientes est&aacute; dispon&iacute;vel de segunda a sexta-feira das 5:00 &agrave;s 17:00 horas (hor&aacute;rio da Costa Oeste).</p>

<p>Telefone: +1 415-374-7782</p>

<p>Liga&ccedil;&atilde;o gratuita: 800-436-3037</p>

<p>Em espanhol: +1 415-423-3277</p>

<p>Fax: +1 415-276-4164</p>

<p>E-mail: <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a></p>

<h4>Consultas internacionais​</h4>

<p>O atendimento aos clientes est&aacute; dispon&iacute;vel 2<sup>a</sup> - 6<sup>a</sup> feira das 4h &agrave;s 18h (Hora do Pac&iacute;fico).</p>

<p>E-mail: <a href="mailto:globalsupport@invitae.com">globalsupport@invitae.com</a></p>

<p>Em Ingl&ecirc;s: +1 415-930-4018</p>

<p>N&uacute;meros de telefone locais:</p>

<p>Argentina: +54 11-5032-0180</p>

<p>Brasil: +55 11-3181-4924</p>

<p>Chile: +56 2-2599-4386</p>

<p>Col&ocirc;mbia: +57 1-486-4863</p>

<p>M&eacute;xico: +52 554-777-2190</p>

<p>Peru: +51 1-705-9827</p>

<p>Uruguay: +598 000-4019-0910</p>

<h4>Parcerias e colabora&ccedil;&otilde;es</h4>

<p>E-mail: <a href="mailto:bd@invitae.com">bd@invitae.com</a></p>

<h4>Consultas &agrave; m&iacute;dia</h4>

<p>E-mail: <a href="mailto:pr@invitae.com">pr@invitae.com</a></p>

<h4>Investidores</h4>

<p>E-mail: <a href="mailto:ir@invitae.com">ir@invitae.com</a></p>

<h4>Outras consultas</h4>

<p>E-mail: <a href="mailto:info@invitae.com">info@invitae.com</a></p>

<h4>Sede e laborat&oacute;rio</h4>

<p><a href="https://maps.google.com/maps?q=1400+16th+Street,+San+Francisco.+CA+94103" target="_blank">1400 16th Street<br />
San Francisco, CA 94103</a></p>
</div>
</div>
</div>