<div class="row">
                <div class="col-md-12">
                    <h3>Options that meet your patient's needs.</h3>
                    <p>Invitae is making HSP testing more affordable than ever before. You can order a HSP subtype or
                        upgrade to any of our multi-gene panels for the same price<sup>*</sup>, with just three weeks on
                        average from sample to results.<br><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.panel-detail' 'PNL0015' %}"><span class="icon icon-angle-right"></span>Hereditary Spastic Paraplegia</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0015' %}">View Test</a>
                            <p>This multi-gene panel covers the 17 genes most likely to cause uncomplicated and complicated HSP.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0080' %}"><span class="icon icon-angle-right"></span>HSP, uncomplicated</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0080' %}">View Test</a>
                            <p>This test covers the 10 genes most likely to cause uncomplicated HSP. The clinical presentation of uncomplicated or "pure" HSPs are limited to the classic symptoms of spastic weakness in the lower limbs.</p>
                        </div>
                    </div>

                    <div class="expandable-item rotate">
                        <h4><a href="{% url 'physician.condition-detail' 'CND0102' %}"><span class="icon icon-angle-right"></span>HSP, complicated</a></h4>

                        <div class="expandable-content">
                            <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0102' %}">View Test</a>
                            <p>This test covers the 13 genes most likely to cause complicated HSP. The clinical presentation of complicated HSPs include the classic symptoms as well as additional neurological features.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="hsp-testing-figure"><div class="content"></div></div>
                </div>
            </div>