<div class="row">
<div class="col-md-12">
<h3>O valor dos pain&eacute;is multi-genes para pacientes de c&acirc;nceres heredit&aacute;rios.</h3>

<p>Para demonstrar o valor dos pain&eacute;is multi-genes na avalia&ccedil;&atilde;o do risco de c&acirc;ncer heredit&aacute;rio, Invitae colaborou com pesquisadores da Universidade de Stanford, James Ford, M.D., e Allison W. Kurian, M.D., MSc.. Os resultados desta pesquisa, recentemente publicada no jornal <i>Journal of Clinical Oncology</i>, mostram que os pain&eacute;is multi-genes de c&acirc;ncer heredit&aacute;rio podem oferecer um desempenho compar&aacute;vel ao teste gen&eacute;tico tradicional para <i>BRCA1/2</i> e pode fornecer benef&iacute;cios cl&iacute;nicos adicionais aos m&eacute;dicos e pacientes na busca da avalia&ccedil;&atilde;o do risco de padecer c&acirc;ncer.</p>

<h4>Refer&ecirc;ncia</h4>
<a href="http://jco.ascopubs.org/content/early/2014/04/09/JCO.2013.53.6607" target="_blank">Kurian, A.W., et al. Clinical Evaluation of a Multiple-Gene Sequencing Panel. JCO published online on April 14, 2014; DOI:10.1200/JCO.2013.53.2630.</a>

<h3 style="margin:40px 0 20px 0;">Desenho do estudo</h3>

<p>O estudo utilizou um painel de 42 genes relacionados com o risco de c&acirc;ncer que foram selecionados pela sua relev&acirc;ncia cl&iacute;nica e cient&iacute;fica. Esses genes foram analisados por Invitae no DNA germinal contidos em um biobanco de 198 mulheres que haviam sido encaminhadas ao Centro M&eacute;dico da Universidade de Stanford pela presen&ccedil;a de c&acirc;ncer heredit&aacute;rio de mama e ov&aacute;rio. Essas pessoas haviam sido previamente analisadas para <i>BRCA1/2</i> por um laborat&oacute;rio independente. Das pacientes que participaram neste estudo, 174 tinham c&acirc;ncer de mama e 57 carregavam variantes germinais de <i>BRCA1/2</i> patog&ecirc;nicas.</p>

<h3>Resumo dos resultados</h3>

<p><strong>Uma alta concord&acirc;ncia com os resultados pr&eacute;vios das an&aacute;lises de <i>BRCA1/2.</i></strong></p>

<p>O estudo encontrou que os resultados das an&aacute;lises dos genes <i>BRCA1/2</i> obtidos pelo painel de testes de Invitae foram altamente concordantes com os resultados cl&iacute;nicos das an&aacute;lises de <i>BRCA1/2</i> nesses indiv&iacute;duos.</p>

<p>Al&eacute;m do estudo descrito aqui, Invitae est&aacute; participando em um grande e rigoroso estudo cl&iacute;nico para validar nossos resultados anal&iacute;ticos e interpreta&ccedil;&otilde;es cl&iacute;nicas. Para mais informa&ccedil;&otilde;es sobre este estudo, por favor, visite nossa p&aacute;gina de <a href="{% page_url 'portal_common.validation-studies' %}">estudos de valida&ccedil;&atilde;o.</a></p>

<p><strong>Identifica&ccedil;&atilde;o de genes para o risco de c&acirc;ncer adicional.</strong></p>

<p>Entre as 141 mulheres negativas para muta&ccedil;&otilde;es nos genes <i>BRCA</i>, o painel de testes de Invitae identificou variantes de risco adicionais nos genes <i>MLH1, CDH1, NBN, ATM, MUTYH, CDKN2A, SLX4, BLM</i> e <i>PRSS1</i>.</p>

<p><strong>Gest&atilde;o de consentimento informado</strong></p>

<p>Com base na identifica&ccedil;&atilde;o de novas variantes de risco em genes al&eacute;m de <i>BRCA1/2</i>, o corpo cl&iacute;nico de Stanford determinou que para cerca de 9% dos participantes (13 de 141) se justificava re-contactar e proporcionar aconselhamento adicional com base nesta nova informa&ccedil;&atilde;o. Stanford entregou recomenda&ccedil;&otilde;es personalizadas para rastreios adicionais e outras mudan&ccedil;as apropriadas no cuidado cl&iacute;nico. A equipe de Stanford encontrou que este aconselhamento foi vi&aacute;vel e valorizado pelos pacientes.</p>

<p style="margin:0px 0 20px 0;"><strong>Um estudo cl&iacute;nico para um melhor atendimento ao paciente.</strong></p>

<p><strong>Contexto: </strong>Um dos pacientes descritos acima &eacute; uma mulher que tinha sido diagnosticada com c&acirc;ncer de mama unilateral aos seus 40 e poucos anos. No momento do seu diagn&oacute;stico original, a paciente recebeu um resultado de exame para <i>BRCA1/2</i> negativo de um laborat&oacute;rio independente, e permitiu que seu DNA fosse guardado em um banco de DNA.</p>

<p><strong>Novos Resultados:</strong> Neste estudo, encontrou-se que a paciente possu&iacute;a uma varia&ccedil;&atilde;o patog&ecirc;nica no gene <i>MLH1</i>, associada &agrave; s&iacute;ndrome de Lynch. De acordo com o protocolo institucional, o resultado foi confirmado de forma independente, e a paciente foi novamente contactada e informada.</p>

<p><strong>Resultados:</strong> No tempo entre a an&aacute;lise das muta&ccedil;&otilde;es em <i>BRCA1/2 </i>e o painel de genes em Invitae, a paciente foi diagnosticada com c&acirc;ncer endometrial. Al&eacute;m disso, realizou-se uma colonoscopia basal aos 50 anos de idade da paciente, com resultados negativos, lhe foi sugerido que voltasse aos 60 anos. Ap&oacute;s a divulga&ccedil;&atilde;o do estado mutacional de <i>MLH1</i>, a paciente foi submetida a uma segunda colonoscopia precoce, e foi encontrado um p&oacute;lipo que foi removido. Atualmente, a paciente tem 53 anos de idade, de modo que este adenoma tubular foi detectado 7 anos antes do que seria se n&atilde;o tivesse sido realizada uma an&aacute;lise gen&eacute;tica abrangente.</p>

<p style="margin:0px 0 20px 0;"><strong>Avalia&ccedil;&atilde;o das taxas de Variantes de Signific&acirc;ncia de Incerta (VSI, do ingl&ecirc;s Variant of Uncertain Significance - VUS).</strong></p>

<p>Este estudo demonstrou uma m&eacute;dia de 2,1 VSIs por paciente entre os 42 genes do painel de genes completo de Invitae, selecionados de acordo com a sua relev&acirc;ncia cl&iacute;nica e cient&iacute;fica.</p>

<p>Ap&oacute;s esta pesquisa, n&oacute;s desenvolvemos em Invitae o nosso <a href="/en/physician/category/CAT000015/">teste gen&eacute;tico comercial</a> de c&acirc;ncer heredit&aacute;rio, enfocado em 29 genes clinicamente relevante para o risco de c&acirc;ncer. O painel de 29 genes de Invitae reduz o painel de VSI mais largo a cerca de 0,7 por paciente, e cerca de 40% dos pacientes recebem um resultado incerto do estudo gen&eacute;tico em qualquer destes 29 genes (porque alguns pacientes transportam mais de um VSI).</p>

<p>Invitae est&aacute; trabalhando para ajudar a comunidade cl&iacute;nica e cient&iacute;fica em reduzir as taxas de VSI para todos os estudos gen&eacute;ticos. Leia mais sobre a inevit&aacute;vel queda das taxas de VSI no blog escrito por John Garcia de Invitae, <a href="http://blog.invitae.com/is-better-patient-care-dependent-on-sharing-genetic-data/">O melhor atendimento ao paciente &eacute; dependente do compartilhamento de dados gen&eacute;ticos?</a></p>
</div>
</div>