<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5"><a class="wistia-popover[height=400,playerColor=7b796a,width=640]" href="//fast.wistia.net/embed/iframe/j7ltaq9nk9?popover=true"><img alt="" src="https://embed-ssl.wistia.com/deliveries/28755d4845c99ccbcd45e7188eab42b2a6ddaf4a.jpg?image_play_button=true&amp;image_play_button_color=7b796ae0&amp;image_crop_resized=545x383" /></a> <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Online tracking</span></h2>

<p>Our online tracking system makes it easy for you to know exactly where your sample is in the testing process. You can also see your results online once your doctor&nbsp;has reviewed and released them.</p>
<a class="btn btn-color-mountain btn-lg" href="{% url 'patient.signup' %}" id=""><span class="icon icon-angle-right"></span> SIGN UP</a></div>
</div>
