<div class="row">
<div class="col-md-12">
<div class="row">
<div class="col-md-12">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Histórias reais</a></li>
	<li>Ghecemy Lopez</li>
</ul>
</div>
</div>
</div>

<div class="col-md-5">
<h2><span class="highlighted-text-mountain">'Isso faz parte de mim, mas não me define'</span></h2>

<h5>Ghecemy Lopez sobre o câncer de mama</h5>

<p>Ghecemy é uma sobrevivente do câncer de mama e defensora de assistência comunitária bilíngue para pacientes</p>

<p>Ghecemy Lopez ainda se lembra de um abraço que aconteceu há 25 anos. Uma tarde, quando menina, ela estava visitando a melhor amiga de sua avó em sua pacata cidade natal na costa de Veracruz, México. Ghecemy a visitava regularmente e sempre a cumprimentava com um abraço caloroso. Mas, naquele dia em particular, quando ela abraçou a mulher, a confusão e o medo tomaram conta dela.</p>
</div>

<div class="col-md-7">
<div class="embed-responsive embed-responsive-16by9"><iframe src="//fast.wistia.net/embed/iframe/flxf7o3vzu?videoFoam=true" allowtransparency="true" msallowfullscreen="msallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" name="wistia_embed" scrolling="no" class="wistia_embed embed-responsive-item" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" frameborder="0" oallowfullscreen="oallowfullscreen"></iframe></div>
</div>

<div class="col-md-12">
<p> </p>

<p>“Eu senti como se estivesse faltando algo no peito dela, foi muito chocante para uma menininha de oito anos de idade, porque eu não sabia por que aquilo estava acontecendo", lembra Ghecemy. Nenhuma delas disse uma palavra. “Pelo seu olhar, eu senti que ela queria me dizer a verdade, mas não explicou... É como um sussurro. Câncer era uma coisa sobre a qual ninguém queria falar”.</p>

<p>Hoje, com apenas 33 anos, Ghecemy também é uma sobrevivente do câncer de mama. Foi em uma noite de fevereiro de 2011, enquanto assistia à TV com o marido em casa, em Los Angeles, que ela descobriu o nódulo. Em uma semana, ela foi diagnosticada com um câncer de mama agressivo, conhecido como triplo negativo. O médico de Ghecemy pediu que ela fizesse o teste genético, dada a raridade de sua condição para uma mulher de apenas 30 anos.</p>

<p>A consultoria genética informou à Ghecemy que o seu teste havia dado positivo para uma mutação no gene BRCA1, o que aumenta consideravelmente a chance de uma mulher desenvolver câncer de mama. Ela também descobriu que foi seu pai, e não sua mãe, que havia passado isso para ela. "Meu mundo desabou ali, porque eu não podia me sentir 100% feliz pelo fato de que a minha mãe não ia ter de lidar com isso, mas, saber que meu pai era portador... E pensar no meu irmão e nas gerações que virão depois de nós, o que isso significa? E quanto aos meus primos ou meus tios e tias?".</p>

<p>A mutação de BRCA1 não acontece só na linhagem de sangue da família de Ghecemy. Uma pesquisa mostrou que o subtipo específico da mutação de Ghecemy (ausência dos éxons 9-12) surgiu há mais de 600 anos na população tolteca, uma antiga civilização que viveu na mesma região do México que os ancestrais de Ghecemy.</p>

<p>Mas em vez de olhar para trás, Ghecemy está seguindo em frente. Agora, ela é uma defensora ativa nas causas contra o câncer de mama, engajada na assistência comunitária bilíngue para pacientes, e orienta jovens no tempo livre. “Eu não penso mais na mutação como antes, talvez porque eu esteja aprendendo mais sobre isso. Eu vejo isso da seguinte forma: ‘Ok, isso faz parte de mim, mas não me define’. Eu tenho predisposição para desenvolver câncer de mama e de ovário. Isso não vai mudar a minha vida ou me abater”.</p>

<p>Durante uma recente viagem para visitar a família no México, Ghecemy encontrou-se com a antiga amiga de sua avó e também sua amiga desde a infância. “Quando eu a vi novamente, ela me disse: ‘Agora você sabe exatamente pelo que eu estava passando naquele dia em que me abraçou’. Ela também se lembrou”.</p>
</div>
</div>