<div class="row products-section">
<div class="col-md-12">
<h2>Explore nuestro cat&aacute;logo de estudios gen&eacute;ticos</h2>
</div>

<div class="col-sm-6">
<h6>Invitae se especializa en estudios gen&eacute;ticos para enfermedades hereditarias. Para explorar nuestro catalogo de estudios, utilice la barra de b&uacute;squeda para buscar un gen o afecci&oacute;n espec&iacute;ficos, o explore las especialidades m&eacute;dicas con los botones de abajo.</h6>

<h6>Puede encontrar m&aacute;s informaci&oacute;n sobre los estudios gen&eacute;ticos de Invitae, la creaci&oacute;n de una cuenta en l&iacute;nea y sobre c&oacute;mo hacer una solicitud en los videos instructivos de abajo.</h6>
</div>

<div class="col-sm-6">
<form action="{% url 'physician.search' %}" id="catalog-search-form" method="get" onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})">
<div class="catalog-search-wrapper no-top-margin"><label for="catalog-search-input">Busque</label> <input autocomplete="off" autocorrect="off" class="catalog-search" id="catalog-search-input" name="q" type="text" value="{{ request.GET.q }}" /><button class="catalog-search-button" type="submit"><span class="button-image"></span></button></div>
</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">Puede pedir cualquier combinaci&oacute;n de genes, afecciones y paneles de m&uacute;ltiples genes, todo por el mismo precio<sup>*</sup>, con solo tres semanas en promedio desde la muestra hasta los resultados.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1">&nbsp;</div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a href="/physician/category/CAT000001/"><span class="text">CARDIOLOG&Iacute;A</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a href="/physician/category/CAT000015/"><span class="text">C&Aacute;NCER<br />
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a href="/physician/category/CAT000016/"><span class="text">GEN&Eacute;TICA<br />
PEDI&Aacute;TRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a href="/physician/category/CAT000009/"><span class="text">NEUROLOG&Iacute;A</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a href="/physician/category/CAT000017/"><span class="text">HEMATOLOG&Iacute;A</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1">&nbsp;</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote" style="font-size:14px;"><br />
<sup>*</sup>Precio por cuadro cl&iacute;nico: Precio de lista de $1500 d&oacute;lares, rebajado a $950 d&oacute;lares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 d&oacute;lares por solicitudes hechas en l&iacute;nea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de env&iacute;o. Por favor <a href="{% page_url 'portal_common.contact' %}" target="_blank">contacte</a> a Servicio al Cliente para m&aacute;s informaci&oacute;n.</p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">&zwnj;</a></div>
