<div class="row">
<div class="col-md-12">
<h3>Invitae’s VUS resolution program</h3>

<p>In order to help resolve variants of uncertain significance (VUS) in our test results, Invitae offers follow-up testing at no additional charge to select family members of patients previously tested at Invitae.</p>

<h4><strong>Benefits of VUS resolution</strong></h4>

<p>In some cases, identifying a genetic variant in a single individual is not enough to determine its clinical significance. In some of these cases, testing additional family members may clarify the relationship of the variant to disease. The goal of this process is to reclassify the VUS as either benign or pathogenic and resolve the uncertainty of the test result.</p>

<h4><strong>What to expect</strong></h4>

<p>Variant reclassification relies on information gathered from multiple families. Participation in this program may not result in an immediate reclassification, but can provide information that contributes to this process. If a variant is reclassified, Invitae will issue amended reports with the new interpretation to all individuals who have the variant.</p>

<p>Invitae supports sharing our variant interpretations, and makes de-identified variant interpretations publicly available to the research and medical communities via the <a href="http://www.ncbi.nlm.nih.gov/clinvar/" target="blank">Clinvar</a> and <a href="{% page_url 'portal_common.clinvitae' %}" target="blank">Clinvitae</a> databases. Participating in this program can ultimately help many families in similar situations.</p>

<h4><strong>Who is eligible?</strong></h4>

<p>Not all variants can be resolved with this kind of analysis, and not all family members can provide informative data. Decisions about program eligibility are based on:</p>

<ul class="bullet-list">
	<li>The family structure, disease status, and clinical presentation of available individuals</li>
	<li>The type of sequence change in question</li>
	<li>The gene in which the VUS was identified</li>
	<li>The inheritance pattern(s) and penetrance of the disease(s) associated with the gene</li>
</ul>

<p>Some genes are not eligible for our VUS resolution program, visit our <a href="{% page_url 'portal_common.gene-eligibility' %}">Gene Eligibility</a> page for details on cancer and cardiology gene eligiblity rules.</p>

<p>If our clinical team determines that a case may be eligible for our VUS resolution program, the original clinical report will include a statement recommending consideration of VUS resolution.</p>

<h4><strong>How do I apply?</strong></h4>

<p>If a recommendation to consider VUS resolution was issued on your patient’s test report and you are interested in participating, please provide:</p>

<ul class="bullet-list">
	<li>The Order ID number (RQ number) of the original proband</li>
	<li>A detailed family pedigree including the clinical histories of all affected family members</li>
</ul>
<a href="{% url 'portal_common.signin' %}" class="btn btn-color-mountain btn-sm btn-right">Sign In</a>

<p>The preferred method of contact is via our secure messaging system in your online account. To access this system, sign in to your account, view your order history, and select the Order ID number of the original proband. You can then click on the messages tab to contact us about VUS resolution and upload the patient's pedigree in a secure and HIPAA-compliant manner.</p>

<p>Alternatively, you can also contact our client services team:</p>

<ul class="bullet-list">
	<li>Phone: 800-436-3037 or +1-415-374-7782</li>
	<li>Email: <a href="mailto:clinical@invitae.com?Subject=VUS%20resolution">clinical@invitae.com</a></li>
</ul>

<p>If you contact client services via email, please do not include any medical records or medical information with your initial inquiry.</p>
<a href="{% page_url 'portal_common.family-history' %}" class="btn btn-color-mountain btn-sm btn-right">Family History Tool</a>

<p>We encourage use of the Invitae Family History Tool to easily submit a pedigree for this program. Learn more about this free app.</p>

<p>Once the information is submitted and reviewed by our clinical team, we will contact you regarding which relatives may qualify for this test program  at no additional charge. Our VUS resolution review process takes one week on average.</p>

<h4><strong>What if I want to test individuals who don’t qualify for the VUS resolution program?</strong></h4>

<p>For cases that do not qualify for VUS resolution at no additional charge, Invitae offers family variant testing testing for just $200 for each gene in which a VUS was found. Learn more about this program on our <a href="{% page_url 'portal_common.family-testing' %}">Family Variant Testing</a> page.</p>
</div>
</div>
