<div class="row">
<div class="col-md-6">
<h2>Family testing.</h2>

<p>Your genetic test results may have health implications not only for you, but for your family as well.</p>

<p>If you receive a positive genetic test result from Invitae, family variant testing can be used to identify other family members with the same variant and provide information about their genetic risks.</p>

<p>Invitae’s family variant testing involves full analysis of the gene in which the original family member’s variant was identified. The report will include the status of the familial variant as well as any other disease-causing or likely disease-causing variant(s) identified in that gene.</p>

<p>Family variant testing is provided to eligible family members for just $200 per gene for each family member tested. On average, results are available three weeks from the time we receive the sample.</p>

<p>To learn more, visit our <a href="{% page_url 'patient.faq' %}">FAQs</a> or <a href="{% page_url 'patient.contact' %}">contact</a> Client Services.</p>
</div>

<div class="col-md-6 image"><img src="/static/img/patient_portal/audacity-19.jpg" alt="" class="img-responsive"></div>
</div>
