<h2 style="margin-left: 40px;">Flexible test options with expert support</h2>

<table border="0" cellpadding="1" cellspacing="1" class="table-with-lines" style="width:1000px;">
	<tbody>
		<tr>
			<td></td>
			<td><span class="icon icon-categories" style="color: rgb(8, 136, 178); font-size: 50px;"></span></td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><span style="color: rgb(8, 136, 178);"><span style="font-weight: 700;"></span></span><span style="color: rgb(8, 136, 178);"><span style="font-weight: 700;"></span></span><span style="color:#0888B2;"><span style="font-weight: 700;">BROAD TEST MENU</span></span></h4>
			</td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">Choose from expertly curated cardiology panels or customize tests based on your needs and each patient&#39;s indication.</h4>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><span style="color:#0888B2;"><span class="icon icon-messages" style="font-size: 50px;"></span></span></td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><span style="color:#0888B2;"><span style="font-weight: 700;"> </span><span style="font-weight: 700;">CLINICAL CONSULT SERVICES</span></span></h4>
			</td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">Peer-to-peer support for clinicians. <a href="{% page_url 'portal_common.gc-services' %}">Learn more &gt;</a></h4>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><span class="icon icon-phone" style="color: rgb(8, 136, 178); font-size: 50px;"></span></td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><span style="color:#0888B2;"><span style="font-weight: 700;">GENETIC COUNSELING RESOURCES</span></span></h4>
			</td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">Genetic counseling provided directly to patients. <a href="{% page_url 'portal_common.gc-services' %}">Learn more &gt;</a></h4>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><span class="icon icon-clock-face" style="color: rgb(8, 136, 178); font-size: 50px;"></span></td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;"><span style="font-weight: 700;"><span style="color: rgb(8, 136, 178);">QUICK TURNAROUND</span></span></h4>
			</td>
			<td>
			<h4 style="font-family: ScalaSansWeb, sans-serif; color: rgb(55, 55, 55); margin-left: 1px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">Results available within 10-21 calendar days (14 days average).</h4>
			</td>
		</tr>
	</tbody>
</table>

<h5 style="margin-left: 40px;"></h5>

<p></p>
