<div class="row">
<div class="col-md-12">
<h3>Testes de variantes familiares</h3>

<p>O resultado de um teste genético tem implicações para a saúde não só para o indivíduo, mas para uma família inteira.</p>

<p>Depois que um paciente recebe um resultado positivo de algum teste, os testes de variantes familiares podem ser usados para identificar outros membros da família com a mesma variante e fornecer informações sobre os seus riscos genéticos. Os membros da família com resultados positivos podem tomar decisões fundamentadas sobre sua saúde.</p>

<p>Os testes de variantes familiares da Invitae envolvem a análise completa do gene em que a variante original do membro da família foi identificado. O relatório incluirá o status da variante familiar bem como quaisquer outros variantes patogênicos ou provavelmente patogênicos identificados nesse gene.</p>

<p>Os testes de variantes familiares são fornecidos aos membros da família elegíveis por apenas US$ 200 por gene, para cada membro da família testado. Em média, os resultados estão disponíveis três semanas a partir do momento em que recebemos a amostra.</p>

<h4><strong>Quem é elegível?</strong></h4>

<p>Um membro da família do paciente inicial é elegível se todos os critérios a seguir forem cumpridos:</p>

<ul class="bullet-list">
	<li>O paciente original foi testado na Invitae</li>
	<li>Uma variante patogênica ou provavelmente patogênica foi identificado no relatório de testes do paciente original<sup>*</sup></li>
	<li>O membro da família está em risco de apresentar a mesma variante</li>
</ul>

<p><sup>*</sup>Se o relatório do teste do paciente original identificou uma variante de significado incerto (VSI), a <a href="{% page_url 'portal_common.vus-resolution' %}">Resolução de VSI</a> pode estar disponível, sem custo adicional, para os membros da família elegíveis. Os membros da família dos pacientes que não se qualificarem para a Resolução de VSI sem custo adicional podem aproveitar as vantagens dos testes de variantes familiares.</p>

<h4><strong>E se o paciente original foi testado fora da Invitae?</strong></h4>

<p>Os testes de variantes familiares não estão disponíveis para as famílias se a variante patogênica do paciente original foi detectado por um laboratório diferente da Invitae. Para esses casos, oferecemos a análise de um único gene do gene inteiro em questão, pelo mesmo preço de uma requisição nova.</p>

<p>Se você quiser solicitar esse teste, exigimos um cópia do resultado positivo do teste do membro da família para verificar se é provável que a variante em questão seja detectado pelo nosso ensaio. Um controle positivo pode ser solicitado nos casos em que a nomenclatura da variante seja ambígua ou quando a variante é de um tipo que pode ser refratário à análise pelos métodos NGS. A menos que um controle positivo seja explicitamente solicitado pela Invitae, amostras adicionais não serão analisadas.</p>

<h4><strong>Como solicitar testes de variantes familiares?</strong></h4>

<p>Forneça:</p>

<ul class="bullet-list">
	<li>The order number “RQ number” of the original proband</li>
	<li>Information on how the family member to be tested is related to the original proband</li>
	<li>A pedigree of affected family members (recommended)</li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% url 'portal_common.signin' %}">Acesse</a>

<p>O método de contato preferível é através do nosso sistema seguro de mensagens em sua conta on-line. Para acessar esse sistema, faça login em sua conta, visualize o seu histórico de solicitações e selecione o número de solicitação "Número RQ" do paciente original. Clique na guia "Messages" (Mensagens) para entrar em contato conosco sobre os testes de variantes familiares e carregue as informações do paciente de forma segura e compatível com as leis do HIPAA.</p>

<p>Você também pode entrar em contato com o atendimento ao cliente para obter mais informações (não inclua registros médicos ou informações médicas na sua pergunta inicial).</p>

<ul class="bullet-list">
	<li>800-436-3037 or +1-415-374-7782</li>
	<li><a href="mailto:clinical@invitae.com?Subject=Family%20variant%20testing">clinical@invitae.com</a></li>
</ul>
<a class="btn btn-color-mountain btn-sm btn-right" href="{% page_url 'portal_common.family-history' %}">Ferramenta de Histórico Familiar</a>

<p>Incentivamos o uso da Ferramenta de Histórico Familiar Invitae para enviar facilmente uma árvore genealógica para este programa.<br>
Saiba mais sobre esse aplicativo gratuito.</p>
</div>
</div>
