{% load dictionaries %}
<div class="container">
<div class="text-content">
<h2 class="normal-font-weight">Hereditary conditions we test for:</h2>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6">
<div id="existing-conditions-search"><input placeholder="Search conditions" type="text" /> <span class="icon icon-search"></span>

<div class="no-conditions-found">We did not find any matching conditions.</div>
</div>
</div>
</div>

<div>
<p class="landing-big-text">BROWSE CONDITIONS</p>

<p class="landing-text">If you see your condition listed in the categories below, ask your doctor about genetic testing. You can also download the guide <a data-target="#existing-condition-family" data-toggle="modal">Knowing your family medical history</a> and a <a data-target="#existing-condition-doctor" data-toggle="modal">letter to share with your doctor</a> to initiate a conversation about genetic testing.&nbsp;If you would like additional help, contact Client Services at 415-374-7782.</p>
</div>

<div id="existing-conditions-tree">
<ul class="main-categories">{% for category in patient_categories %}
	<li class="main-categories-item {% if sub_category.categories %}has-children{% endif %}" data-code="{{ category.code }}">
	<div class="main-category-name category-name"><span class="icon {{ icon_map|getitem:category.code }}"></span> <span class="main-category-name-text">{{ category.name }}</span></div>

	<div class="category-expandable-content">
	<p class="main-category-description">{{ category.description | safe }}</p>

	<ul class="sub-categories">{% for sub_category in category.categories %}
		<li class="sub-categories-item {% if sub_category.patient_conditions %}has-children{% endif %}" data-code="{{ sub_category.code }}">
		<hr />
		<div class="sub-category-name category-name"><span class="icon icon-caret-right"></span> <span class="sub-category-name-text">{{ sub_category.name }}</span></div>

		<div class="category-expandable-content">
		<ul class="patient-conditions">{% for patient_condition in sub_category.patient_conditions %}
			<li class="patient-conditions-item" data-code="{{ patient_condition.code }}">{% if patient_condition.has_content_guide %}<a href="/patients/conditions/{{ patient_condition.code }}">{{patient_condition.name}} <span class="icon icon-patient-guide"></span> </a> {% else %} {{patient_condition.name}} {% endif %}</li>
			{% endfor %}
		</ul>
		</div>
		</li>
		{% endfor %}{% for patient_condition in category.patient_conditions %}
		<li class="sub-categories-item" data-code="{{ patient_condition.code }}">
		<hr />
		<div class="sub-category-name category-name"><span class="sub-category-name-text"> {% if patient_condition.has_content_guide %} <a href="/patients/conditions/{{ patient_condition.code }}"> {{patient_condition.name}} <span class="icon icon-patient-guide"></span> </a> {% else %} {{patient_condition.name}} {% endif %} </span></div>
		</li>
		{% endfor %}
	</ul>
	</div>
	</li>
	{% endfor %}
</ul>
</div>
</div>
