<div class="row">
<div class="col-md-12">
<p> </p>
</div>
</div>
<div class="list-content row">
<div class="col-md-3">Patient Assistance Program</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.contact' %}">Contact</a>If insurance or Medicare doesn’t cover testing, patients may want to consider Invitae’s patient-pay option. Invitae may also be able to offer testing at limited or no expense to those who qualify for need-based financial assistance. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</div>
</div>

<div class="list-content row">
<div class="col-md-3">CPT Codes</div>

<div class="col-md-9">If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.</div>
</div>

<div class="list-content row">
<div class="col-md-3">More information</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.faq' %}">FAQ</a>

<p>More questions about our billing options? Visit our <a href="{% page_url 'portal_common.faq' %}">FAQ</a> page.</p>
</div>
</div>


