<div class="row">
<div class="col-md-12">
<p> </p>
</div>
</div>

<div class="list-content row">
<div class="col-md-3">Programa de assistência ao paciente</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.contact' %}">Contato</a>Se o seguro ou Medicare não cobrir os testes, os pacientes podem considerar a opção de pagamento do paciente da Invitae. A Invitae pode oferecer testes a pequenos custos ou gratuitos para aqueles que se qualificam para receber assistência financeira. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Serviço de Atendimento ao Cliente para obter mais informações.</div>
</div>

<div class="list-content row">
<div class="col-md-3">Códigos de CPT</div>

<div class="col-md-9">Se você estiver solicitando um teste que inclua BRCA1 ou BRCA2, o código de CPT é 81211. Para todos os outros testes, o código de CPT é 81479 – procedimento de patologia molecular não listado.</div>
</div>

<div class="list-content row">
<div class="col-md-3">Mais informações</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.faq' %}">Perguntas Frequentes</a>

<p>Possui mais perguntas sobre as nossas opções de faturamento? Visite a nossa <a href="{% page_url 'portal_common.faq' %}">página de perguntas frequentes</a>.</p>
</div>
</div>