<div class="row">
<div class="col-md-12">
<p>A Invitae acredita em testes responsáveis com base nas diretrizes médicas estabelecidas, e nosso objetivo é ser completamente transparentes em relação a nossos preços, de modo que pacientes, médicos e contribuintes saibam o custo dos testes.</p>

<div class="choose-buttons"><a href="#billing-patient-content" class="icon-wallet billing-button active" id="billing-patient"><span>Pagamento<br>
pelo paciente</span> </a> <a href="#billing-institutional-content" class="icon-files billing-button" id="billing-institutional"><span>Faturamento<br>
institucional</span> </a> <a href="#billing-insurance-content" class="icon-envelope-window billing-button" id="billing-insurance"> <span>Seguro<br>
terceirizado</span> </a> <a href="#billing-medicare-content" class="icon-folder-cross billing-button" id="billing-medicare"> <span>Faturamento<br>
da Medicare</span> </a></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div id="billing-patient-content" class="billing-content active">
<div class="billing-description">
<p></p>

<p>Se preferir, pacientes dos EUA e Canadá têm a opção de pagar U$ 475 por área clínica, antecipadamente e na íntegra.</p>

<ul class="bullet-list">
	<li>Solicitações pré-pagas de pacientes devem ser solicitadas online, incluindo a requisição do médico.</li>
	<li>Esta opção está disponível apenas como uma opção pré-paga e não permite que a Invitae use o seguro.</li>
	<li>O paciente concorda em registrar-se online e definir suas preferências de contato.</li>
	<li>Programas de assistência ao paciente não estão disponíveis para a opção de pré-pagamento pelo paciente.</li>
	<li>Para solicitações internacionais, a opção de pré-pagamento do paciente não inclui o envio.</li>
</ul>

<p></p>

<p>Para aproveitar o preço de US$ 475, basta fazer a solicitação online, selecionando a opção "Pagamento pelo paciente" durante o faturamento do processo de requisição online. Será solicitado que você insira o endereço de e-mail do seu paciente. Vamos acompanhar seu paciente diretamente para que ele se inscreva em uma conta e pague online com cartão de crédito. São aceitos os cartões Visa, MasterCard, Discover e JCB. Essas etapas devem ser seguidas antes do relatório ser divulgado.</p>
</div>
</div>

<div id="billing-institutional-content" class="billing-content">
<div class="billing-description">
<ul class="bullet-list">
	<li>Para as instituições e distribuidores com quem temos contratos, o preço por área clínica US$ 950.</li>
	<li>Para as instituições não contratadas, o preço por área clínica US$ 1.500.</li>
</ul>

<p></p>

<p>Para escolher o faturamento institucional, selecione a opção “Faturamento institucional” durante o processo de faturamento da requisição online. Nós iremos trabalhar com sua instituição para estabelecer um contrato (se não houver um em vigor). Nós incentivamos as instituições de referência (ou seja, clínicas, hospitais, laboratórios e consultórios particulares) a estabelecerem contratos conosco com antecedência.</p>
</div>
</div>

<div id="billing-insurance-content" class="billing-content">
<div class="billing-description">
<ul class="bullet-list">
	<li>Para os pagadores que contratem Invitae baixo certos termos, o preço por área clínica US$ 950.</li>
	<li>Para os contribuintes terceirizados para os quais a Invitae está fora da rede, o preço por área clínica US$ 1.500.</li>
</ul>

<p></p>

<p>Invitae pode faturar às operadoras de seguros diretamente (essa opção não se aplica ao preço de pagamento do paciente de US$ 475). Basta selecionar a opção “Faturamento terceirizado“ durante o faturamento do processo de requisição online. Os pacientes não precisam entrar em contato com a companhia de seguros para saber se o teste é abrangido ou para obter reembolso: a Invitae entrará em contato diretamente com a companhia de seguros para coordenar a cobertura e o pagamento. Os pacientes podem receber uma explicação dos benefícios (EOB) de sua companhia de seguros no e-mail: isso não é uma fatura. A Invitae também receberá este EOB e irá lidar com quaisquer processos de apelação.</p>

<p>Se você desejar faturar o seguro para uma solicitação, esteja preparado para fornecer as seguintes informações:</p>

<ul class="bullet-list">
	<li>nome e sobrenome, número de telefone e endereço de correio do paciente;</li>
	<li>uma cópia (frente e verso) do cartão de seguro do paciente;</li>
	<li>códigos ICD10 relevantes;</li>
	<li>uma carta de necessidade médica.</li>
</ul>
</div>
</div>

<div id="billing-medicare-content" class="billing-content">
<div class="billing-description">
<p></p>

<p>A Medicare pode ser usada para pagar por um teste da Invitae <a href="{% page_url 'portal_common.medicare' %}">quando forem satisfeitos os critérios específicos</a>.</p>

<p>Inclua na sua solicitação da Medicare:</p>

<ul class="bullet-list">
	<li>formulário de requisitos da Medicare da Invitae, disponível para cancro hereditário <a target="blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0295/1/-/-/-/-/FM133-1_Oncology-Medicare-Criteria-Form.pdf">aquí </a> e para cardiologia <a target="_blank" href="http://marketing.invitae.com/acton/attachment/7098/f-0290/1/-/-/-/-/FM132-1_Cardiology-Medicare-criteria-form.pdf">aquí</a>;</li>
	<li>seções “Indicação do paciente” e “Informações do histórico familiar” do formulário de requisição totalmente preenchidos e/ou genealogia do paciente;</li>
	<li>um Termo de Consentimento Livre e Esclarecido assinado para o formulário de testes genéticos, disponível <a target="blank" href="http://marketing.invitae.com/acton/attachment/7098/f-00bb/1/-/-/-/-/FM104-2_Invitae-patient-consent.pdf">aqui</a>, datado com a data da coleta de sangue ou anterior<sup>*</sup>;</li>
	<li>uma carta de necessidade médica para os pacientes que não satisfazem os critérios de cobertura publicados da Medicare.</li>
</ul>

<p><sup>*</sup>Se o Termo de Consentimento Livre e Esclarecido não estiver datado com a data da coleta de sangue ou anterior, uma nova amostra será necessária.</p>

<p>Mesmo que um paciente tenha o seguro comercial e a Medicare, ainda será necessário enviar os formulários da Medicare. A Invitae irá apresentar solicitações à operadora de seguro comercial ou à Medicare, conforme necessário.</p>

<p>Nós encorajamos o uso da Ferramenta do Histórico Familiar da Invitae para enviar facilmente uma genealogia. Saiba mais sobre este aplicativo seguro <a href="{% page_url 'portal_common.family-history' %}">aqui</a>.</p>
</div>
</div>
</div>
</div>
