<h3>Conecte-se com os especialistas na área através da Rede de profissionais em genética</h3>

<p>A Invitae acredita que o aconselhamento genético é importante para todos os pacientes que estiverem pensando em fazer testes genéticos.</p>

<p>Para os profissionais de saúde que gostariam de encaminhar um paciente aos serviços de genética, a Invitae oferece a Rede de profissionais em genética (GPN). O GPN é uma rede de profissionais em genética, incluindo consultores em genética, geneticistas e enfermeiros genéticos disponíveis nos EUA e Canadá.</p>

<p>Através de nossa rede, podemos ajudá-lo a identificar um profissional local em genética, que pode fornecer aconselhamento genético para o seu paciente. Os profissionais em genética incluídos no GPN cobrem uma ampla variedade de especialidades em genética e oferecem consultas presenciais e remotas.</p>

<p><a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Atendimento ao cliente se quiser saber mais sobre a Rede de profissionais em genética de Invitae ou conectar-se aos profissionais em sua área.</p>