<div class="row">
<div class="col-md-12">
<div class="catalog-group brca">
<h3><span class="icon"></span>Cánceres de Mama y Ginecológicos Hereditarios</h3>
<a class="btn btn-color-purple btn-md btn-right" href="{% page_url 'portal_common.brca-testing' %}">ESTUDIO DE BRCA</a>

<p>Cada una de los estudios en esta categoría incluye análisis genético de los genes BRCA1 y BRCA2. Solicite solo los genes BRCA o busque más allá de BRCA para seleccionar el estudio que mejor se adapte a las necesidades de su paciente. Para obtener más información sobre nuestra gama de opciones de estudios de BRCA, visite nuestra página de Análisis de BRCA.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Análisis de BRCA1 y BRCA2</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">VER ESTUDIO</a>

<p>El síndrome de cáncer de mama y ovárico hereditario (CMOH) es causado por mutaciones en los genes BRCA1 o BRCA2. Las mutaciones en estos genes son el factor de riesgo hereditario más importante para el cáncer de mama hereditario, lo que representa aproximadamente el 50% de los casos en personas con antecedentes familiares fuertes o diagnósticos de inicio tempranos.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">VER ESTUDIO</a>

<p>El panel de alto riesgo para el cáncer de mama hereditario incluye genes que se sabe están asociados con síndromes de cáncer de mama de alto riesgo. Los pacientes que han heredado uno de estos síndromes tienen un riesgo extremadamente alto de desarrollar cáncer de mama en su vida, que va desde el 40% al 90%, dependiendo del trastorno, la variante genética específica y los factores ambientales.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2, CDH1, PALB2, PTEN, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel de riesgo moderado</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">VER ESTUDIO</a>

<p>El panel de riesgo moderado para el cáncer de mama hereditario incluye 10 genes que se han asociado con un riesgo moderado de desarrollar cáncer de mama.</p>

<p class="genes-analyzed">Genes analizados: ATM, BARD1, BRIP1, CHEK2, FANCC, MRE11A, NBN, NF1, RAD50, RAD51C</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de mama hereditario, panel extendido</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">VER ESTUDIO</a>

<p>El panel extendido para el cáncer de mama hereditario cubre 17 genes que están asociados con un mayor riesgo de por vida de desarrollar cáncer de mama, así como otros tipos de cáncer.</p>

<p class="genes-analyzed">Genes analizados: ATM, BARD1, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, FANCC, NBN, NF1, PALB2, PMS2, PTEN, RAD50, RAD51C, STK11, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cánceres ginecológicos hereditarios, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">VER ESTUDIO</a>

<p>Cubre 9 genes con las pautas de manejo publicadas.</p>

<p class="genes-analyzed">Genes analizados: BRCA1, BRCA2, EPCAM, MLH1, MSH2, MSH6, PMS2, PTEN, TP53</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cánceres de mama y ginecológicos hereditarios (anteriormente cánceres de mujer hereditarios)</h4>

<div class="expandable-content"><a class="btn btn-color-purple btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">VER ESTUDIO</a>

<p>El estudio para los cánceres de mama y ginecológicos hereditarios ofrece un amplio análisis de la genética del cáncer hereditario de mama, de ovario y de endometrio de un paciente. Este estudio puede identificar síndromes de cáncer hereditario sin necesidad de estudios genéticos secuenciales, especialmente en pacientes que tienen una presentación clínica no clásica o una genealogía limitada.</p>

<p class="genes-analyzed">Genes analizados: ATM, BRCA1, BRCA2, BRIP1, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, NBN, PALB2, PMS2, PTEN, RAD51C, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>
