<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Estudios Cardiológicas</h3>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de QT largo</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">VER ESTUDIO</a>

<p>El Síndrome de QT largo (SQTL) es una arritmia cardiaca hereditaria que puede causar muerte súbita, paro cardíaco, episodios convulsivos y desmayos, tanto en niños como en adultos. El SQTL es causado por la conducción eléctrica anormal que resulta en un intervalo QT prolongado “corregido” (una medida del tiempo que tarda una señal eléctrica en viajar a través del corazón). La anormalidad del QTc es a menudo, aunque no siempre, visible en un electrocardiograma.</p>

<p class="genes-analyzed">Genes analizados: AKAP9, ANK2, CACNA1C, CAV3, KCNE1, KCNE2, KCNH2, KCNJ2, KCNJ5, KCNQ1, SCN4B, SCN5A, SNTA1</p>

<p style="margin-top:30px;">Subtipos de QT largo disponibles como estudios individuales:</p>

<div class="expandable-sub-item">
<h4>Síndrome de Andersen-Tawil</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0003' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: KCNJ2</p>
</div>
</div>

<div class="expandable-sub-item">
<h4>Síndrome de Timothy</h4>

<div class="expandable-sub-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0084' %}">VER ESTUDIO</a>

<p class="genes-analyzed">Genes analizados: CACNA1C</p>
</div>
</div>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de Brugada</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">VER ESTUDIO</a>

<p>El síndrome de Brugada (SBr) es una afección cardiaca hereditaria que afecta principalmente al sistema eléctrico del corazón. El SBr se define por los cambios característicos en una etapa del patrón eléctrico del corazón llamada el segmento ST. Esto resulta en una señal de electrocardiograma (ECG) distintiva.</p>

<p class="genes-analyzed">Genes analizados: CACNA1C, CACNA2D1, CACNB2, GPD1L, KCNE3, KCNH2, KCNJ8, SCN1B, SCN3B, SCN5A</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cardiomiopatía hipertrófica</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">VER ESTUDIO</a>

<p>La cardiomiopatía hipertrófica (CMH) es un trastorno cardíaco definido por un engrosamiento anormal e inexplicable del músculo del corazón o miocardio. Este engrosamiento anormal, o hipertrofia, afecta el ventrículo izquierdo del corazón y por lo general puede ser detectado por ecocardiograma. La cardiomiopatía hipertrófica puede perjudicar el modo en que el corazón se contrae y el sistema eléctrico del corazón, provocando palpitaciones, mareos (pre-síncope), desmayo (síncope), dolor en el pecho, dificultad para respirar y, en algunos casos, un paro cardiorespiratorio repentino o la muerte.</p>

<p class="genes-analyzed">Genes analizados: ACTC1, ACTN2, CAV3, CSRP3, JPH2, MYBPC3, MYH7, MYL2, MYL3, MYOZ2, NEXN, TCAP, TNNC1, TNNI3, TNNT2, TPM1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de QT corto</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">VER ESTUDIO</a>

<p>El síndrome de QT corto (SQTC) es una arritmia cardiaca hereditaria rara que puede provocar desmayos, mareos, episodios convulsivos, paro cardíaco, y/o muerte súbita tanto en niños como en adultos. Puede ser una causa subyacente de algunos casos de Síndrome de Muerte Súbita del Lactante (SMSL).</p>

<p class="genes-analyzed">Genes analizados: CACNA1C, CACNA2D1, CACNB2, KCNH2, KCNJ2, KCNQ1</p>
</div>
</div>
</div>
</div>
</div>
