<div class="row">
<div class="col-md-12">
<div class="catalog-group colon">
<h3><span class="icon"></span>Cáncer de Colon Hereditario</h3>
<a class="btn btn-color-bay btn-md btn-right" href="{% page_url 'portal_common.colon-cancer-testing-page' %}">ESTUDIOS PARA EL CÁNCER DE COLON</a>

<p>Nuestra gama de opciones de estudios para el cáncer de colon hereditario cubre los síndromes de cáncer hereditario colorrectal y poliposis, incluyendo el síndrome de Lynch. Obtenga más información sobre nuestras opciones de estudios para el cáncer de colon en nuestra página de Estudios para el Cáncer de Colon.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Síndrome de Lynch</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0053' %}">VER ESTUDIO</a>

<p>El síndrome de Lynch (SL) es un síndrome de cáncer hereditario que aumenta significativamente el riesgo de por vida de una persona de desarrollar cáncer colorrectal. Las personas afectadas también tienen un mayor riesgo de desarrollar otros tipos de cáncer, incluyendo cáncer de estómago, endometrio, ovario, mama, tracto hepatobiliar, tracto urinario, intestinal, cerebro y páncreas.</p>

<p class="genes-analyzed">Genes analizados: EPCAM, MLH1, MSH2, MSH6, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de colon hereditario, panel de alto riesgo</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0008' %}">VER ESTUDIO</a>

<p>El panel de Alto Riesgo para el Cáncer de Colon Hereditario incluye genes que se sabe están asociados con síndromes de cáncer colorrectal de alto riesgo. Los pacientes que han heredado uno de estos trastornos tienen un riesgo extremadamente alto de desarrollar cáncer colorrectal durante su vida, que va desde el 80% a casi el 100%, dependiendo del trastorno.</p>

<p class="genes-analyzed">Genes analizados: APC, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Cáncer de colon hereditario</h4>

<div class="expandable-content"><a class="btn btn-color-bay btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0005' %}">VER ESTUDIO</a>

<p>El panel de Cánceres de Colon Hereditarios ofrece un amplio análisis de la genética hereditaria para el cáncer de colon de un paciente y puede identificar síndromes de cáncer hereditario, sin necesidad de estudios genéticos secuenciales. Este estudio analiza los genes más comunes asociados con síndromes hereditarios de cáncer de colon, como el síndrome de Lynch, y también puede capturar resultados menos esperados.</p>

<p class="genes-analyzed">Genes analizados: APC, BMPR1A, CDH1, CHEK2, EPCAM, MLH1, MSH2, MSH6, MUTYH, PMS2, PTEN, SMAD4, STK11, TP53</p>
</div>
</div>
</div>
</div>
</div>
