<div class="row products-section">
<div class="col-md-12">
<h2>Explore nuestro catálogo de estudios genéticos</h2>
</div>

<div class="col-sm-6">
<h6>Invitae se especializa en estudios genéticos para enfermedades hereditarias. Para explorar nuestro catalogo de estudios, utilice la barra de búsqueda para buscar un gen o afección específicos, o explore las especialidades médicas con los botones de abajo.</h6>

<h6>Puede encontrar más información sobre los estudios genéticos de Invitae, la creación de una cuenta en línea y sobre cómo hacer una solicitud en los videos instructivos de abajo.</h6>
</div>

<div class="col-sm-6">
<form onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})" id="catalog-search-form" action="{% url 'physician.search' %}" method="get">
<div class="catalog-search-wrapper no-top-margin"><label for="catalog-search-input">Busque</label> <input type="text" class="catalog-search" autocorrect="off" value="{{ request.GET.q }}" name="q" autocomplete="off" id="catalog-search-input"><button type="submit" class="catalog-search-button"><span class="button-image"></span></button></div>
</form>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;margin:0 0 15px 0;">Puede pedir cualquier combinación de genes, afecciones y paneles de múltiples genes todo por el mismo precio<sup>*</sup>, con solo tres semanas en promedio desde la muestra hasta los resultados.</p>
</div>
</div>

<div class="row categories-section">
<div class="col-sm-1"> </div>

<div class="col-sm-2 product-box bgcolor-matisse one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Cardiology"><span class="text">CARDIOLOGÍA</span> <span class="icon icon-heart-solid"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-bondi"><a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hereditary+cancer"><span class="text">CÁNCER<br>
HEREDITARIO</span> <span class="icon icon-ribbon"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-mountain"><a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Pediatric+genetics"><span class="text">GENÉTICA<br>
PEDIÁTRICA</span> <span class="icon icon-teddy"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-willow2 one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Neurology"><span class="text">NEUROLOGÍA</span> <span class="icon icon-brain"></span> </a></div>

<div class="col-sm-2 product-box bgcolor-emerald one-line-text"><a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" href="/en/physician/search/?q=Hematology"><span class="text">HEMATOLOGÍA</span> <span class="icon icon-drop-solid"></span> </a></div>

<div class="col-sm-1"> </div>
</div>

<div class="row">
<div class="col-md-12">
<p style="font-size:14px;" class="endnote"><br>
<sup>*</sup>Precio por cuadro clínico: Precio de lista de $1500 dólares, rebajado a $950 dólares para instituciones y distribuidores con contrato con Invitae y para proveedores dentro de la red. El precio por pago al contado del paciente es $475 dólares por solicitudes hechas en línea y conectadas a una cuenta del paciente. Precio afuera de los Estados Unidos no incluye costos de envío. Por favor <a target="_blank" href="{% page_url 'portal_common.contact' %}">contacte</a> a Servicio al Cliente para más información.</p>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid1">‌</a></div>