<div class="row">
<div class="col-md-12">
<div class="catalog-group other">
<h3><span class="icon"></span>Otros Paneles de Estudios Genéticos</h3>

<p>Paneles de múltiples genes en neurología y pediatría.</p>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Trastornos del Espectro de Noonan</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0006' %}">VER ESTUDIO</a>

<p>enfermedades denominadas también RASopatías porque son causadas por defectos genéticos que afectan la ruta de transducción de señal intracelular de la proteína quinasa activada por Ras/mitógeno (MAPK). Muchos NDS comparten uno o más de un conjunto común de síntomas, incluyendo defectos cardíacos congénitos, baja estatura, rasgos craneofaciales distintivos y predisposición a diversos tumores, tanto benignos como cancerosos.</p>

<p class="genes-analyzed">Genes analizados: BRAF, CBL, HRAS, KRAS, MAP2K1, MAP2K2, NF1, NRAS, PTPN11, RAF1, SHOC2, SOS1, SPRED1</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Ciliopatías</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0001' %}">VER ESTUDIO</a>

<p>Los ciliopatías son una clase de enfermedades causadas por mutaciones que alteran la función de estructuras similares a cabellos en la superficie de células llamadas cilios. Los cilios desempeñan muchas funciones durante el desarrollo, por lo que los defectos en su estructura y función causan trastornos multisistémicos complejos. Los síntomas más comunes asociados con muchos trastornos de ciliopatía incluyen fibrosis hepática, degeneración de la retina del ojo (distrofia de conos y bastones), desarrollo de quistes renales, la reversión parcial del eje del cuerpo de izquierda-derecha (heterotaxia), dedos de más en pies y manos (polidactilia), y deterioro cognitivo.</p>

<p class="genes-analyzed">Genes analizados: AHI1, ARL13B, ARL6, B9D1, B9D2, BBS1, BBS10, BBS12, BBS2, BBS4, BBS5, BBS7, BBS9, CC2D2A, CCDC39, CCDC40, CEP290, CFTR, DNAAF1, DNAAF2, DNAH11, DNAH5, DNAI1, DNAI2, DNAL1, DYNC2H1,
FOXH1, GDF1, GLIS2, IFT80, INPP5E, INVS, IQCB1, MKKS, MKS1, NEK8, NODAL, NPHP1, NPHP3, NPHP4, OFD1,
PKD2, PKHD1, RPGRIP1L, RSPH4A, RSPH9, TCTN1, TCTN2, TMEM216, TMEM67, TRIM32, TTC21B, TTC8, WDPCP,
XPNPEP3, ZIC3</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Enfermedad de Charcot-Marie-Tooth</h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.cmt-testing' %}">VER ESTUDIO</a>

<p>La enfermedad de Charcot-Marie-Tooth (CMT) se refiere a un grupo de neuropatías hereditarias que juntas son uno de los trastornos neurológicos hereditarios más comunes.  La CMT resulta en el deterioro tanto motor como de las funciones sensoriales del sistema nervioso periférico, dando lugar a síntomas tales como debilidad muscular progresiva, pérdida de la sensibilidad en las extremidades, deformidades del pie, tales como pie de arco alto o dedo en martillo y reflejos tendinosos deprimidos.</p>

<p class="genes-analyzed">Genes analizados: AARS, BSCL2, DNM2, EGR2, FGD4, FIG4, GARS, GDAP1, GJB1, HSPB1, HSPB8, KIF1B, LITAF, LMNA, MED25, MFN2, MPZ, MTMR2, NDRG1, NEFL, PMP22, PRPS1, PRX, RAB7A, SBF2, SH3TC2, TRPV4, YARS</p>
</div>
</div>
<a class="btn btn-color-inherit btn-md btn-right" href="{% url 'physician.condition-list' %}">VER PAGINA DE TRASTORNOS</a>

<p>Visite nuestra página de trastornos para ver una lista alfabética de todos los trastornos en nuestro catálogo.</p>
</div>
</div>
</div>