<p><a name="newsletter-signup"></a></p>

<h4><strong>Sign up:</strong>&nbsp;<strong>Genetics Insider</strong></h4>

<h4>As the field of genetics evolves, we strive to help keep you up to date. This bi-monthly email includes the latest genetic advancements and studies, from Invitae and the community as a whole. Sign up today!</h4>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required"><label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="organization" type="text" value="{{ user.userprofile.practice.name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value=""></option><option value="Genetic Counselor">Genetic Counselor</option><option value="Other">Other</option></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" id="cms_id_specialty" name="specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input id="cms_id_zipcode" name="zipcode" type="text" value="{{ user.contact_info.zipcode }}" /></div>

<div class="field-wrapper required" style="text-align: center;"><button class="btn btn-lg btn-color-mountain" type="submit">Submit</button></div>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>

<div class="field-wrapper required"><input name="source" type="hidden" value="Website" /></div>

<p><input name="source_description" type="hidden" value="Genetics Resource Hub" /></p>

<p><input id="campaignId" name="cmpid" type="hidden" value="" /><input id="ao_campid" name="ao_campid" type="hidden" value="" /></p>

<h5 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"></h5>