<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input value="{{ user.first_name }}" type="text" name="first_name" id="cms_id_first_name">
<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input value="{{ user.last_name }}" type="text" name="last_name" id="cms_id_last_name"></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input value="{{ user.email }}" type="text" name="email" id="cms_id_email"></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value=""></option><option value="Patient">Patient</option><option value="Patient Family/Friend/Advocate">Patient Family/Friend/Advocate</option><option value="Other">Other</option><option value="Clinical Staff Member">Clinical Staff Member</option><option value="Genetic Counselor">Genetic Counselor</option><option value="Lab Management">Lab Management</option><option value="Nurse Navigator">Nurse Navigator</option><option value="Nurse Practitioner">Nurse Practitioner</option><option value="Registered Nurse">Registered Nurse</option><option value="Researcher">Researcher</option><option value="Resident/Student">Resident/Student</option><option value="Physician">Physician</option><option value="Physician Assistant">Physician Assistant</option><option value="Surgeon">Surgeon</option><option value="Other">Other</option></select></div>

<div class="field-wrapper required"><label for="cms_id_specialty">Primary clinical interest</label><select data-specialty="{{ user.userprofile.specialty }}" name="specialty" id="cms_id_specialty"></select></div>

<div class="field-wrapper required"><label for="cms_id_zipcode">Zip/Postal code</label><input value="{{ user.contact_info.zipcode }}" type="text" name="zipcode" id="cms_id_zipcode"></div>
<button type="submit" class="btn btn-lg btn-color-mountain">Submit</button></div>

<div class="field-wrapper required"><input value="Website" type="hidden" name="source"></div>

<p><input value="Know Your Risk CPC Lead Form" type="hidden" name="source_description"></p>

<p><input value="" type="hidden" name="cmpid" id="campaignId"><input value="" type="hidden" name="ao_campid" id="ao_campid"></p>

<h5 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: ScalaSansWeb, sans-serif; text-align: center;"></h5>

<h5 style="text-align: center;">You can view our privacy policy <a href="/en/privacy-policy/">here</a>.</h5>