<div class="background"></div>

<div class="landing-section-content">
<h2 class="landing-section-header">Every moment matters</h2>

<h3 class="landing-big-text">A new formula for getting the answers you need</h3>

<ul class="landing-page-bullets color-white">
	<li>Broad test menu</li>
	<li>High-quality testing with results you&nbsp;can&nbsp;trust</li>
	<li>Prompt answers for your patients</li>
</ul>
<a class="btn btn-lg ghost-button" href="{% url 'portal_common.signup' %}">Get started</a></div>
