<div class="transparent-background">&nbsp;</div>

<div class="container">
<div class="row">
<div class="col-sm-7 col-md-8">
<h2>Explore<br />
<span>nosso cat&aacute;logo de testes.</span></h2>

<form action="{% url 'physician.search' %}" id="catalog-search-form" method="get" onsubmit="mixpanel.track2('search', {'terms': $('#catalog-search-input').val(), 'source': 'body_search_homepage', 'path': '{{request.path}}'})">
<div class="catalog-search-wrapper"><a class="btn btn-color-mountain btn-lg" href="{% page_url 'portal_common.test-catalog' %}">cat&aacute;logo de testes</a></div>
</form>
</div>

<div class="col-sm-4 col-md-3">
<h6>A INVITAE &Eacute; ESPECIALIZADA EM TESTES GEN&Eacute;TICOS PARA DOEN&Ccedil;AS HEREDIT&Aacute;RIAS.</h6>

<p>Nosso cat&aacute;logo de testes inclui doen&ccedil;as em diversas especialidades m&eacute;dicas, incluindo cardiologia, c&acirc;ncer heredit&aacute;rio, gen&eacute;tica pedi&aacute;trica, neurologia e hematologia.</p>
</div>

<div class="col-sm-1 col-md-1">&nbsp;</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid2">&zwnj;</a></div>

<p>&zwnj;</p>