<div class="container">
<div class="row">
<div class="col-md-5">
<h2>Avan&ccedil;o<br />
<span>em testes gen&eacute;ticos.</span></h2>
</div>

<div class="col-md-7">
<div class="intro">
<h6>A INVITAE &Eacute; UMA EMPRESA DE INFORMA&Ccedil;&Otilde;ES GEN&Eacute;TICAS.</h6>

<p>Estamos diminuindo as barreiras para os testes gen&eacute;ticos cl&iacute;nicos para m&eacute;dicos e pacientes.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="advancing-panel"><span class="icon icon-dollar-sign"></span>

<h4>Preço acessível, transparente.</h4>

<p>Os genes certos pelo preço certo.</p>
</div>

<div class="advancing-panel"><span class="icon icon-clock-face"></span>

<h4>Menor tempo para respostas.</h4>

<p>Da amostra aos resultados, em média, três semanas.</p>
</div>

<div class="advancing-panel"><span class="icon icon-sliders"></span>

<h4>Opções de teste flexíveis.</h4>

<p>Selecione um painel pré-desenhado, personaliza com um clique, ou crie seu próprio.</p>
</div>

<div class="advancing-panel"><span class="icon icon-light-bulb"></span>

<h4>Informações genéticas mais profundas.</h4>

<p>Comece com genes-alvo. Adicione outros mais tarde, sem custo adicional.<sup>*</sup></p>
</div>

<div class="advancing-panel"><span class="icon icon-clipboard-check-outside"></span>

<h4>Qualidade e confiança.</h4>

<p>Resultados comprovados com base em dados publicados e apoiados por nossa equipe de especialistas genéticos e médicos.</p>
</div>

<div class="advancing-panel"><span class="icon icon-support"></span>

<h4>Apoio em cada etapa do caminho.</h4>

<p>A partir de consultas clínicas com os conselheiros genéticos para ajudar na solicitação, faturamento e na interpretação dos resultados.</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="endnote"><sup>*</sup>Re-requisição : Restrições se aplicam. Veja a nossa página de <a href="{% page_url 'portal_common.re-requisition' %}">re-requisição</a> para detalhes.</p>
</div>
</div>
</div>

<div class="nav-scrollspy-link"><a class="icon-chevron-bracket-down" href="#scrollspyid3">&zwnj;</a></div>