<div class="striped-background"></div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Construindo sobre a nossa promessa.</h1>

<p>N&oacute;s estamos realizando estudos gen&eacute;ticos ainda ​​mais acess&iacute;veis ao oferecer mais genes, mantendo nosso compromisso com a alta qualidade e pre&ccedil;os ​​acess&iacute;veis.</p>

<p style="margin-top:20px;"><a class="btn-color-outline btn btn-lg" href="http://marketing.invitae.com/acton/fs/blocks/showLandingPage/a/7098/p/p-0050/t/page/fm/0"><span class="icon icon-angle-right"></span>Explore o novo</a></p>
</div>

<div class="col-xs-0 col-sm-6"></div>
</div>
</div>
{% include 'social_links_snippet.html' %}