<div class="row">
<div class="col-md-12">
<p></p>
</div>
</div>

<div class="list-content row">
<div class="col-md-3">Programa de asistencia al paciente</div>

<div class="col-md-9">Si el seguro no cubre el an&aacute;lisis, los pacientes tiene la opci&oacute;n de considerar la opci&oacute;n de pago del paciente de Invitae. Existe la posibilidad de que Invitae pueda ofrecer las pruebas sin gastos o con gastos limitados a quienes califican para asistencia financiera debido a una necesidad. &iquest;M&aacute;s preguntas? Visite nuestra <a href="{% page_url 'portal_common.faq' %}">P&aacute;gina de FAQ</a>.</div>
</div>

<div class="list-content row">
<div class="col-md-3">C&oacute;digos CPT</div>

<div class="col-md-9">Si usted est&aacute; solicitando un estudio que incluye BRCA1 o BRCA2, el c&oacute;digo CPT es 81211. Para todas las dem&aacute;s pruebas, el c&oacute;digo CPT a utilizar es 81479 &ndash; procedimiento de patolog&iacute;a molecular no enumerado.</div>
</div>

<div class="list-content row">
<div class="col-md-3">M&aacute;s informaci&oacute;n</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.faq' %}">FAQ</a>

<p>&iquest;M&aacute;s preguntas sobre las opciones de facturaci&oacute;n? Visite nuestra <a href="{% page_url 'portal_common.faq' %}">P&aacute;gina de FAQ</a>.</p>
</div>
</div>
