<div class="background full-width-content"></div>
        <div class="full-width-content landing-section-content">
            <h2 class="landing-section-header">Empower your clinic with tools and support.</h2>
            <div class="full-width-content">
                <div class="row">
                    <div class="col-md-4 landing-tool">
                        <span class="icon icon-pedigree"></span>
                        <h3>Family History Tool</h3>
                        <p>Free and easy-to-use pedigree tool.</p>
                        <a class="landing-link" href="{% page_url 'portal_common.family-history' %}">Learn More</a>
                    </div>
                    <div class="col-md-4 landing-tool">
                        <span class="icon icon-messages"></span>
                        <h3>Clinical support on tap</h3>
                        <p>Expert advice and counseling for you and your parient when you need it.</p>
                        <a class="landing-link" href="{% page_url 'portal_common.gc-services' %}">Learn More</a>
                    </div>
                    <div class="col-md-4 landing-tool">
                        <span class="icon icon-multiuser"></span>
                        <h3>Genetics Provider Network</h3>
                        <p>Get referrals to your practice.</p>
                        <a class="landing-link" href="{% page_url 'portal_common.genetics-provider-network' %}">Learn More</a>
                    </div>
                </div>
            </div>
        </div>