<h2 class="landing-section-header color-white">Robust clinical evidence generated with leading institutions.</h2>
        <div class="full-width-content landing-section-content">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="landing-page-bullets">
                        <li>The only lab to deliver a &gt;1,000 patient study showing equivalence to established standards and establish the clinical utility of multi-gene panels based on current clinical guidelines</li>
                        <li>Collaborated with world-renowned medical centers, including Massachusetts General Hospital, Harvard Medical School, Stanford University, and Beth Israel Deaconess Medical Center.</li>
                    </ul>
                    <a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'portal_common.validation-studies' %}">View studies</a>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="/static/img/landings/home-patients.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>