<div class="section-overlay"> </div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-lg-5 col-sm-offset-6 col-lg-offset-7">
<h1 class="landing-section-header color-white">Genetic testing, targeted for cancer</h1>

<p class="landing-section-subhead color-white">The broadest oncology menu available. High-quality analysis. Easy ordering.</p>
<a class="btn btn-lg ghost-button" href="{% url 'portal_common.signup' %}">GET STARTED</a></div>
</div>

<div class="nav-scrollspy-link landing-scrollspy-link"><a data-cke-processor="off" href="#lc-video-section" class="icon-chevron-bracket-down" data-cke-survive="true"></a>
</div>