<div class="row">
<div class="col-md-12">
<p>&nbsp;</p>
</div>
</div>

<div class="list-content row">
<div class="col-md-3">Programa de assist&ecirc;ncia ao paciente</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.contact' %}">Contato</a>Se o seguro n&atilde;o cobrir os testes, os pacientes podem considerar a op&ccedil;&atilde;o de pagamento do paciente da Invitae. A Invitae pode oferecer testes a pequenos custos ou gratuitos para aqueles que se qualificam para receber assist&ecirc;ncia financeira. <a href="{% page_url 'portal_common.contact' %}">Entre em contato</a> com o Servi&ccedil;o de Atendimento ao Cliente para obter mais informa&ccedil;&otilde;es.</div>
</div>

<div class="list-content row">
<div class="col-md-3">C&oacute;digos de CPT</div>

<div class="col-md-9">Se voc&ecirc; estiver solicitando um teste que inclua BRCA1 ou BRCA2, o c&oacute;digo de CPT &eacute; 81211. Para todos os outros testes, o c&oacute;digo de CPT &eacute; 81479 &ndash; procedimento de patologia molecular n&atilde;o listado.</div>
</div>

<div class="list-content row">
<div class="col-md-3">Mais informa&ccedil;&otilde;es</div>

<div class="col-md-9"><a class="btn btn-color-inherit btn-sm btn-right" href="{% page_url 'portal_common.faq' %}">Perguntas Frequentes</a>

<p>Possui mais perguntas sobre as nossas op&ccedil;&otilde;es de faturamento? Visite a nossa <a href="{% page_url 'portal_common.faq' %}">p&aacute;gina de perguntas frequentes</a>.</p>
</div>
</div>
