<p><input name="source" type="hidden" value="Website" /><input name="source_description" type="hidden" value="Gated Content: Risks Chart" /><input name="ao_campid" type="hidden" value="" />To download a copy, please provide your information below:</p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-persona="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"></select></div>

<div class="field-wrapper required"></div>

<p style="text-align: center;"><button class="btn btn-lg btn-color-mountain" type="submit">Download now</button></p>
