<div class="row">
<div class="col-md-12">
<h3>Tipos de muestras</h3>

<p>El tipo de muestra preferido de Invitae para nuestro ensayo de secuenciación de próxima generación es de sangre entera periférica en un tubo EDTA de tapa púrpura. También aceptamos muestras de saliva y de ADN genómico (gDNA) que han sido asiladas en otros laboratorios, aunque existen limitaciones en los ensayos cuando se utiliza gDNA. Para obtener más información, consulte la sección "gDNA" a continuación.</p>

<p>Para que le resulte lo más sencillo posible proporcionar una muestra, podemos enviarle sin costo alguno kits de recolección de muestras de sangre o saliva. También ofrecemos un servicio de flebotomía sin cargo extra en los EE. UU. y Canadá; podemos programar una cita para extracción de sangre en su consultorio o en la casa de su paciente. Visite nuestra página <a href="{% page_url 'portal_common.request-a-kit' %}">Solicitar un Kit</a> para obtener más información sobre estos dos servicios.</p>
</div>
</div>
