<div class="row">
<div class="brca-tool-overlay">&nbsp;</div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Ferramenta de informações </span> sobre câncer de mama</h2>
</div>

<div class="col-md-7 image"><img alt="talk with a doctor" class="talk-with-doctor" src="/static/img/slideshow/education-talk-w-your-doctor.png" />
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade modal-fullscreen bs-example-modal-lg" role="dialog" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button aria-label="Close" class="close icon-cross" data-dismiss="modal" type="button"><span aria-hidden="true"></span></button><iframe id="reveal" name="education-breast-cancer" src="{% url 'patient.education-breast-cancer' %}"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>Como parte do nosso suporte contínuo aos pacientes, desenvolvemos diversas ferramentas e informações para orientá-lo durante a experiência de teste genético.</p>

<p>Essa ferramenta de informações sobre câncer de mama é um exemplo do suporte educativo que oferecemos. Ela destina-se a indivíduos que agendaram os serviços de consultoria genética com a Invitae e estão interessados em nossos serviços de testes genéticos de câncer.</p>
<button class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg" data-toggle="modal" type="button"><span class="icon icon-angle-right"></span>INICIALIZAR FERRAMENTA</button></div>
</div>