<h2 class="landing-big-text text-center">Learn more about how Invitae can partner with your practice:</h2>

<div class="full-width-content row landing-categories">
<div class="col-md-2 landing-category bgcolor-bay"><span class="icon icon-heart-solid"></span> <span class="landing-category-name">CARDIOLOGY</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.cardiology' %}" onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/category/CAT000001/">view tests</a></div>
</div>

<div class="col-md-2 landing-category bgcolor-matisse"><span class="icon icon-ribbon"></span> <span class="landing-category-name">HEREDITARY CANCER</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.hereditary-cancer' %}" onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/category/CAT000015/">view tests</a></div>
</div>

<div class="col-md-2 landing-category bgcolor-bondi"><span class="icon icon-brain"></span> <span class="landing-category-name">NEUROLOGY</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.neurology' %}" onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/category/CAT000009/">view tests</a></div>
</div>

<div class="col-md-2 landing-category bgcolor-mountain"><span class="icon icon-teddy"></span> <span class="landing-category-name">PEDIATRIC GENETICS</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.pediatric-genetics' %}" onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/category/CAT000016/">view tests</a></div>
</div>

<div class="col-md-2 landing-category bgcolor-fern"><span class="icon icon-grid-dots"></span> <span class="landing-category-name">RARE DISEASES</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.rare-disease' %}">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/search/">view tests</a></div>
</div>

<div class="col-md-2 landing-category bgcolor-willow"><span class="icon icon-user"></span> <span class="landing-category-name">GENETICS PROVIDERS</span>

<div class="landing-category-links"><a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.genetics-providers' %}">learn more</a> <a class="btn btn-lg ghost-button" href="/physician/search/">view tests</a></div>
</div>
</div>