<h2 class="landing-section-header color-white">Robust clinical evidence generated with leading institutions</h2>

<div class="full-width-content landing-section-content">
<div class="row">
<div class="col-xs-12 col-sm-7 col-md-6">
<ul class="landing-page-bullets">
	<li>The only clinical lab to deliver a &gt;1000 patient study demonstrating excellent analytical validity and concordance with traditional testing methods</li>
	<li>Multiple studies conducted in collaboration with world-renowned medical centers</li>
</ul>
<a class="btn btn-lg landing-simple-button btn-color-mountain" href="{% page_url 'portal_common.validation-studies' %}">View studies</a></div>

<div class="col-xs-8 col-sm-5 col-xs-offset-2 col-sm-offset-0 col-md-offset-1"><img src="/static/img/landings/home-patients.jpg" alt="" class="img-responsive"></div>
</div>
</div>
