<div class="row">
<div class="col-md-6 col-md-offset-3">
<h4 class="text-center">Explore our genetic test catalog</h4>

<form action="{% url 'search' %}" class="search-form">
<div class="input-group"><input class="form-control" name="q" placeholder="Search Invitae" type="text" /> <span class="input-group-btn"><button class="icon-search" type="submit"></button> </span></div>
</form>

<div class="list-group"></div>
</div>
</div>