<div class="section-overlay">&nbsp;</div>

<h1 class="landing-section-header">Genetic testing, simplified</h1>

<p class="landing-section-subhead">The answers you need,<br />
easily and affordably</p>

<p><a class="btn btn-lg responsive-button" href="{% url 'portal_common.signup' %}">Get started</a></p>

<a class="icon-chevron-bracket-down" href="#hp-video" data-cke-processor="off" data-cke-survive="true"></a>