<div class="section-overlay"></div>

<h6 class="landing-section-header">&nbsp;<br />
Genetic testing, simplified</h6>

<p class="landing-section-subhead">The answers you need,<br />
easily and affordably</p>

<p><a class="btn btn-lg responsive-button" href="{% url 'portal_common.signup' %}">Sign up</a>&nbsp; &nbsp;<a class="btn btn-lg responsive-button" href="/physician/search/">view catalog</a></p>
