<h2 class="landing-big-text text-center">Learn more about how Invitae can partner with your practice:</h2>

<div class="full-width-content row landing-categories"><a class="col-md-2 product-box bgcolor-bay"> <span class="icon icon-heart-solid"></span> <span class="text">CARDIOLOGY</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">1 in 250 people have a genetic mutation that may lead to early-onset cardiovascular disease</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.cardiology' %}" onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})">learn more</a></div>

<a class="col-md-2 product-box bgcolor-matisse"> <span class="icon icon-ribbon"></span> <span class="text">HEREDITARY CANCER</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">5 to 10 percent of all cancers are likely to have a hereditary basis</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.hereditary-cancer' %}" onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})">learn more</a></div>

<a class="col-md-2 product-box bgcolor-bondi"> <span class="icon icon-brain"></span> <span class="text">NEUROLOGY</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">1 in 300 people will have an epileptic seizure during their lifetime</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.neurology' %}" onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})">learn more</a></div>
<a class="col-md-2 product-box bgcolor-mountain"> <span class="icon icon-teddy"></span> <span class="text">PEDIATRIC GENETICS</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">1 in 50 new births result in a complication involving a genetic condition</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.pediatric-genetics' %}" onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})">learn more</a></div>
<a class="col-md-2 product-box bgcolor-emerald"> <span class="icon icon-grid-dots"></span> <span class="text">RARE DISEASES</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">5 to 10 percent of people live with a rare disease</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.rare-disease' %}">learn more</a></div>
<a class="col-md-2 product-box bgcolor-willow"> <span class="icon icon-user"></span> <span class="text">GENETICS PROVIDERS</span> </a>

<div class="text-box">
<h3 class="landing-big-text">Did you know?</h3>
<span class="landing-text">There are more than 4,000 inherited genetic conditions with known genes and variants</span> <a class="btn btn-lg ghost-button" href="{% page_url 'portal_common.genetics-providers' %}">learn more</a></div>
</div>