<div class="row">
<div class="brca-tool-overlay">&nbsp;</div>

<div class="col-md-12">
<h2>Herramienta de información de <span class="highlighted-text-mountain">cáncer de mama</span></h2>
</div>

<div class="col-md-7 image"><img alt="talk with a doctor" class="talk-with-doctor" src="/static/img/slideshow/education-talk-w-your-doctor.png" />
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade modal-fullscreen bs-example-modal-lg" role="dialog" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button aria-label="Close" class="close icon-cross" data-dismiss="modal" type="button"><span aria-hidden="true"></span></button><iframe id="reveal" name="education-breast-cancer" src="{% url 'patient.education-breast-cancer' %}"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>Como parte de nuestro apoyo continuo para los pacientes, hemos desarrollado una variedad de herramientas e información para guiarle durante la experiencia de análisis genético.</p>

<p>Esta herramienta de información de cáncer de mama es un ejemplo del apoyo educativo que ofrecemos. Está prevista para una persona que tiene programada una cita para servicios de asesoramiento genético con Invitae y está interesada en nuestros servicios de análisis genético de cáncer.</p>
<button class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg" data-toggle="modal" type="button"><span class="icon icon-angle-right"></span>INICIAR LA HERRAMIENTA</button></div>
</div>