<h3>Contáctese con profesionales especialistas en genética a través de la Red de proveedores de servicios genéticos</h3>

<p>Invitae cree que el asesoramiento genético es importante para todos los pacientes que están considerando la posibilidad de realizarse un estudio genético.</p>

<p>Para los profesionales de atención médica que desean referir a un paciente para servicios genéticos, Invitae ofrece la Red de proveedores de servicios genéticos (Genetics Provider Network, GPN). La GPN es una red de profesionales especialistas en genética, incluidos asesores genéticos, geneticistas y enfermeros especialistas en genética, que están disponibles en todo el territorio de los Estados Unidos y Canadá.</p>

<p>A través de nuestra red, podemos ayudarle a identificar un proveedor de servicios genéticos en su área local que pueda proporcionar asesoramiento genético a su paciente. Los proveedores de servicios genéticos incluidos en la GPN cubren un amplio abanico de especialistas en genética y ofrecen consultas personales y remotas.</p>

<p><a href="{% page_url 'portal_common.contact' %}">Comuníquese con</a> Servicio al Cliente si desea obtener más información acerca de la Red de proveedores de servicios genéticos de Invitae o conectarse con proveedores en su área.</p>