<div class="row">
<div class="brca-tool-overlay"> </div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Breast cancer</span> information tool.</h2>
</div>

<div class="col-md-7 image"><img class="talk-with-doctor" alt="talk with a doctor" src="/static/img/slideshow/education-talk-w-your-doctor.png">
<div role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade modal-fullscreen bs-example-modal-lg" aria-hidden="true" tabindex="-1">
<div class="modal-dialog modal-lg">
<div id="brca-education" class="modal-content"><button type="button" data-dismiss="modal" class="close icon-cross" aria-label="Close"><span aria-hidden="true"></span></button><iframe name="education-breast-cancer" id="reveal" src="{% url 'patient.education-breast-cancer' %}"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>As part of our ongoing support for patients, we have developed a variety of tools and information to guide you through the genetic testing experience.</p>

<p>This breast cancer information tool is one example of the educational support we provide. It is intended for an individual who is scheduled for a genetic counseling services appointment with Invitae and is interested in our cancer genetic testing services.</p>
<button type="button" data-target=".bs-example-modal-lg" data-toggle="modal" class="btn btn-lg btn-color-mountain"><span class="icon icon-angle-right"></span>Launch tool</button></div>
</div>
