<div class="row">
<div class="col-md-12">
<h2>The Invitae <span class="highlighted-text-mountain">Family History Tool</span></h2>
</div>

<div class="col-md-5">
<p>At Invitae we believe that capturing a complete and accurate family history is critical to interpreting genetic results. That’s why we offer a free digital tool that allows you to map out your family health history.</p>

<p>The Family History Tool makes it easier to trace your family medical history quickly, completely, and accurately. The integrated patient questionnaire will auto-generate your family history to save you time.</p>

<p>Get started with your own family history today.</p>
<br>
<a href="{% page_url 'portal_common.family-history' %}" class="btn fht-button btn-color-mountain btn-lg" id=""><span class="icon none"></span> Family History Tool </a></div>

<div class="col-md-7">
<div class="hero-devices">
<div class="content"> </div>
</div>
</div>
</div>
