<div class="row">
<div class="brca-tool-overlay"> </div>

<div class="col-md-12">
<h2><span class="highlighted-text-mountain">Breast cancer</span> information tool.</h2>
</div>

<div class="col-md-7 image"><img src="/static/img/slideshow/education-talk-w-your-doctor.png" alt="talk with a doctor" class="talk-with-doctor">
<div aria-labelledby="myLargeModalLabel" role="dialog" aria-hidden="true" class="modal fade modal-fullscreen bs-example-modal-lg" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content" id="brca-education"><button type="button" class="close icon-cross" aria-label="Close" data-dismiss="modal"><span aria-hidden="true"></span></button><iframe src="{% url 'patient.education-breast-cancer' %}" id="reveal" name="education-breast-cancer"></iframe></div>
</div>
</div>
</div>

<div class="col-md-5">
<p>As part of our ongoing support for patients, we have developed a variety of tools and information to guide you through the genetic testing experience.</p>

<p>This breast cancer information tool is one example of the educational support we provide. It is intended for an individual who is scheduled for a genetic counseling services appointment with Invitae and is interested in our cancer genetic testing services.</p>
<button type="button" data-toggle="modal" class="btn btn-lg btn-color-mountain" data-target=".bs-example-modal-lg"><span class="icon icon-angle-right"></span>Launch tool</button></div>
</div>
