<div class="row      ">
<div class="col-md-12      ">
<h3>Genetic Testing</h3></div></div>

<div class="row      ">
<div class="col-md-12      ">
<div class="expandable-item      ">
<h4><span class="icon      "></span>What does Invitae test for?</h4>

<div class="expandable-content      ">
<p class="">Invitae offers full gene sequencing and deletion/duplication analysis. You can order any combination of genes, disorders, and panels, all at a price of $1500.<sup>*</sup> To view our complete test catalog please visit, our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a> page.</p>

<p class="pricing-info      ">*$1500 U.S. contract pricing only. Ex-US pricing does not include distribution and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client Services</a> for more information.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>What sequencing methodology is used?</h4>

<div class="expandable-content      ">
<p class="">Invitae performs full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology. For more information about our assay, please visit our <a href="{% page_url 'portal_common.assay' %}">Assay</a> page.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Does Invitae offer deletion/duplication analysis?</h4>

<div class="expandable-content      ">
<p class="">Yes. However, some genes or exons may be excluded, so please check our complete <a href="/static/data/Invitae_Gene_List.pdf" target="_blank">Gene List</a> for details.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Does Invitae offer BRCA testing?</h4>

<div class="expandable-content      ">
<p class="">Yes, we offer full gene sequencing and deletion/duplication analysis of BRCA1 and BRCA2 for $1500*. For no additional charge, you can upgrade to one of our broader hereditary cancer panels, which include other hereditary cancer genes. To learn more about our suite of BRCA test options, please visit our <a href="{% page_url 'portal_common.brca-testing' %}">BRCA Testing</a> page.</p>

<p class="pricing-info      ">*$1500 U.S. contract pricing only. Ex-US pricing does not include distribution and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client Services</a> for more information.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Does Invitae offer follow-up family testing?</h4>

<div class="expandable-content      ">
<p class="">Yes. If we identify a pathogenic variant in a patient, we can test at-risk family members for that variant for $200.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>Can I request further testing (re-requisition) for a patient sample that was previously tested at Invitae?</h4>

<div class="expandable-content      ">
<p class="">If the request is made within 90 days of the initial requisition, we can test for any additional genes free of charge. If the additional conditions are available within the same product release, we do not require another sample to be sent in. However, if you want to order new disorders that we have added to our test menu since the original requisition, you will need to send in a fresh specimen.</p></div></div>

<div class="expandable-item      ">
<h4><span class="icon      "></span>How do I submit an order?</h4>

<div class="expandable-content      ">
<p class="">To submit an order, sign into your Invitae account or select ‘Sign Up’ if you are a new user. Search our test catalog and choose genes and conditions by selecting ‘Add to Order’. Follow the steps to enter patient and ordering physician information and complete the order.</p></div></div></div></div>
