<div class="row">
<div class="col-md-12">
<h3>Other</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is “Free the Data”?</h4>

<div class="expandable-content">
<p>Invitae is a supporter of Free the Data!, a grassroots movement where patients, physicians, and researchers are contributing their genetic variants to support genetics research, advance the understanding of disease, and enhance treatment options. Knowledge is more valuable when shared, and when we freely contribute our resources to the wider research community, we increase the quality and utility of the genetic data available to all. Visit the <a href="http://www.free-the-data.org/" target="_blank">Free the Data</a> website to learn more.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is Clinvitae?</h4>

<div class="expandable-content">
<p>Invitae believes knowledge is more valuable when shared. To this end, we have created Clinvitae, a database of clinically observed genetic variants aggregated from public sources. ClinVitae provides a fast and intuitive engine for searching for variants across all these sources simultaneously. It is operated and made freely available by Invitae at <a href="http://clinvitae.invitae.com/" target="_blank">clinvitae.invitae.com</a>.</p>

<p><span style="font-size: 16px; line-height: 24px;">Clinvitae</span> aggregates data from the following sources:</p>

<ul class="bullet-list">
	<li>ClinVar, including variants contributed by Invitae.</li>
	<li>Emory Genetics Variant Classification Catalog</li>
	<li>ARUP Mutation Databases</li>
	<li>Carver Mutation Database</li>
	<li>Kathleen Cunningham Foundation Consortium for Research into Familial Breast Cancer</li>
</ul>

<p>Invitae is committed to making our clinically observed variants publicly available.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the Family History Tool?</h4>

<div class="expandable-content">
<p>The Invitae Family History Tool is a free app to build, modify, share, and save patient pedigrees. It is available through the web or as an iPad app, and information integrates seamlessly with our online ordering process. If you already have an Invitae account, you can use the same credentials to sign into the Family History Tool. To learn more and download the Family History Tool, please visit our <a href="{% page_url 'portal_common.family-history' %}">Family History</a> page.</p>
</div>
</div>
</div>
</div>
