<div class="row">
<div class="col-md-12">
<h3>Ordering Genetic Testing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does Invitae test for?</h4>

<div class="expandable-content">
<p>Invitae offers single-gene, panel, and exome genetic testing.</p>

<p>For panel and single-gene testing (hereafter jointly referred to as "panel testing"), Invitae offers full sequencing with deletion/duplication analysis included at no additional charge. You can order any combination of genes and panels within a single <a href="https://www.invitae.com/en/clinical-areas/">clinical area</a> all for the same price. To view our complete test catalog, please visit our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a> page.</p>

<p>The Invitae Boosted Exome provides a rigorous analysis of an individual’s exome through a systematic evaluation of genetic variants informed by the patient’s clinical presentation and medical history. For more information and to view our exome offering, <span style="font-size: 16px;">please visit the </span><a href="/exome/" style="background-color: rgb(255, 255, 255); font-size: 16px;">exome webpage</a><span style="font-size: 16px;">.</span></p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What sequencing methodology is used?</h4>

<div class="expandable-content">
<p>For panel testing, Invitae performs full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology. For more information about our assay, please visit our <a href="{% page_url 'portal_common.assay' %}">Assay</a> page.</p>

<p>For exome testing, Invitae uses the most advanced next-generation sequencing capture technology, rigorous bioinformatics, and detailed phenotypic and clinical information to yield the most accurate interpretation for your patient. For more information about our exome methodology, please visit the <a href="/exome/">Exome webpage</a>.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer deletion/duplication analysis?</h4>

<div class="expandable-content">
<p>Yes, Invitae’s panel tests detect deletion/duplication events encompassing a single exon or more. In some cases, specific genes and exons are excluded from analysis. Please consult <span style="font-size: 16px;">our </span><a href="{% page_url 'portal_common.test-catalog' %}" style="background-color: rgb(255, 255, 255); font-size: 16px;">Test Catalog</a><span style="font-size: 16px;"> </span>for details.</p>

<p>Our copy number detection algorithm can also identify large deletion/duplication events that include and extend beyond a targeted gene, although the boundaries of those events cannot be determined beyond the gene itself. In that respect, Invitae's testing does not provide cytogenetic analysis for large chromosomal anomalies or copy-neutral changes, such as reciprocal translocations, uniparental disomies, or inversions (one exception: we offer the MSH2 exon 1-7 inversion).</p>

<p>Note: In August 2015 we started offering del/dup analysis for full PMS. For more information about our methods, please visit our <a href="{% page_url 'portal_common.validation-studies' %}">Validation studies</a> page. (Deletion/duplication analysis is not guaranteed for gDNA samples.)</p>

<p>In contrast to Invitae's gene panel sequencing, where single-exon del/dups are detected, the greater variability in depth of coverage across an exome permits reliable detection of del/dups spanning 4 exons or more with high confidence; smaller events may be detected and will be reported when sufficient resolution exists.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae confirm variants?</h4>

<div class="expandable-content">
<p>Yes, Invitae does confirm variants for both panel and exome testing. We perform orthogonal confirmation of clinically significant findings and have done so since we first started our clinical testing service. The confirmation techniques we use include Sanger sequencing, PacBio sequencing of circularized amplicons, array comparative genome hybridization (aCGH), and multiplex ligation-dependent probe amplification (MLPA). To date we’ve performed confirmation on more than 8,000 SNPs and small indels, and more than 1,000 copy number variants. These variants represent what would ordinarily be found in a population of approximately 70,000 individuals undergoing genetic testing. For more information, please visit our <a href="{% page_url 'portal_common.validation-studies' %}">Validation studies</a> page, which includes a link to our confirmation testing white paper.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Which variants get confirmed?</h4>

<div class="expandable-content">
<p>We have a robust system in place for identifying which variants require confirmation. Our confirmation rules for SNVs and indels (single base changes and small insertions and deletions) are as follows:</p>

<ul class="bullet-list">
	<li>
	<p>We confirm a variant if:</p>
	</li>
</ul>

<ol class="numbered-list">
	<li>
	<p>It is confidently called by our computational pipeline and has been interpreted as likely pathogenic or pathogenic (disease causing). The only exceptions are variants that have already been whitelisted (see below).</p>
	</li>
	<li>
	<p>It is not called confidently by our computational pipeline and it has been interpreted as pathogenic, likely pathogenic, or a variant of unknown significance (VUS).</p>
	</li>
</ol>

<ul class="bullet-list">
	<li>
	<p>We do not confirm a variant if:</p>
	</li>
</ul>

<ol class="numbered-list">
	<li>
	<p>It is confidently called and interpreted as a Variant of Unknown Significance.</p>
	</li>
	<li>
	<p>It is on our confirmation whitelist. To be on the whitelist, a variant must have been confidently called and confirmed with an orthogonal method 10 or more times in our lab. The creation of a whitelist follows the recommendation of the New York State Clinical Laboratory Evaluation Program, which proposed the concept. These variants tend to be common pathogenic variants in the population that have been seen and correctly called so many times that we are confident that no confirmation is needed. For a variant to attain whitelist status, it requires a large number of patients be tested and the variant to be detected and confirmed numerous times. As of October 2016, there are only ~70 variants on the list.</p>
	</li>
</ol>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How does Invitae confirm SNV and indel variants?</h4>

<div class="expandable-content">
<p>Our confirmation for SNVs and indels is performed with Sanger sequencing or PacBio long-read sequencing, depending on the need. For STAT tests that require a fast turnaround time, we use Sanger sequencing exclusively. B<span style="font-size: 16px;">eginning in May 2016, </span>other tests are confirmed by using PacBio technology. Before launching this assay, we validated and then implemented a standard PacBio technique of circularizing the DNA and sequencing the template dozens of times, thereby lowering the error rate for PacBio sequencing to a level sufficient for clinical use. For more information, please visit our <a href="{% page_url 'portal_common.validation-studies' %}">Validation studies</a> page, which includes a link to our confirmation testing white paper.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How does Invitae confirm copy number variants (CNVs)?</h4>

<div class="expandable-content">
<p>Invitae has always confirmed any reported CNV event by performing array comparative genome hybridization (aCGH) with a custom designed exon-focused microarray. This is the industry standard technique for these events.</p>

<p>Exceptions to our current CNV confirmation policy are:</p>

<ul class="bullet-list">
	<li>
	<p>PMS2: MLPA (multiplex ligation-dependent probe amplification), not aCGH, is used for exons 11-15 of PMS2.</p>
	</li>
	<li>
	<p><span id="docs-internal-guid-00252bdd-b10b-326e-9d35-584de1c544e5"><span id="docs-internal-guid-00252bdd-b10b-326e-9d35-584de1c544e5"><span style="font-style: italic; vertical-align: baseline; white-space: pre-wrap;"></span><span style="vertical-align: baseline; white-space: pre-wrap;">PMP22 full gene duplication: This event has been whitelisted and no longer requires confirmation due to its high frequency and robust primary calling by our CNV calling algorithm from NGS results.</span></span></span></p>
	</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer BRCA testing?</h4>

<div class="expandable-content">
<p>Yes, we offer full-gene sequencing and deletion/duplication analysis of BRCA1 and BRCA2, including all coding exons +/- 20 bp, as well as non-coding but clinically relevant SNVs and indels. For no additional charge, you can upgrade to one of our broader hereditary cancer panels, which also include other hereditary cancer genes.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer follow-up family variant testing?</h4>

<div class="expandable-content">
<p>Yes. Family variant testing is available to eligible family members. Visit our <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Family Variant Testing</a> page to learn more.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I request further testing (re-requisition) for a patient sample that was previously tested at Invitae?</h4>

<div class="expandable-content">
<p>If your patient receives a negative or inconclusive result on an Invitae panel test, you can test more genes within the original clinical area tested for no additional charge (only genes available at the time of the original order are eligible). Invitae offers one re-requisition order at no additional charge within 90 days of the original report release date. Beyond 90 days after the original report release date, your patient will be billed $475 for a re-requisition, even if the genes are within the original clinical area. In addition, a new specimen will be required.  To learn more about this program, please visit our <a href="{% page_url 'portal_common.re-requisition' %}" target="_blank">Re-Requisition</a> page.</p>

<p>Please note, we are unable to offer re-requisition from a panel test to exome at this time. If you would like to proceed with the Invitae Boosted Exome, please submit a new order and specimen(s).</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I submit an order?</h4>

<div class="expandable-content">
<p>For panel testing, you can use a paper requisition form (available on the <a href="/order-forms/">Forms</a> page) or, preferably, place your order online for more efficient order processing, faster report delivery, and access to additional online features.</p>

<p>Exome testing is ordered exclusively online. </p>

<p>Setting up an account only takes a few minutes, and you can also browse and order directly from our online test catalog. To learn more about how to set up an account and place an order, visit our <a href="{% page_url 'portal_common.ordering' %}">How to Place an Order</a> page for more detailed instructions.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer single-site testing?</h4>

<div class="expandable-content">
<p>Yes. Although Invitae does not offer targeted-mutation analysis per se, we do offer both family variant testing and VUS resolution. Both of these programs involve full analysis of the gene in which the original family member’s variant was identified. The report will include the status of the familial variant as well as any other pathogenic or likely pathogenic variant(s) identified in that gene. Visit our <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Family Variant Testing</a> and <a href="{% page_url 'portal_common.vus-resolution' %}" target="_blank">VUS Resolution</a> pages for details on each of these programs.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I fill out a requisition on behalf of a physician in my clinic?</h4>

<div class="expandable-content">
<p>Yes. Keep in mind that whoever places the order will be the primary point of contact for status updates and outreach related to the requisition. If you are ordering as a clinical representative, enter the ordering physician’s details in the Order Authorization portion of the order. Please be sure to enter the physician’s email address if he or she would like to receive a copy of the report.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can I make changes to a requisition that I have already submitted?</h4>

<div class="expandable-content">
<p>If you wish to make any changes to a completed requisition, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services and we will be able to assist you.</p>
</div>
</div>
</div>
</div>
