<div class="row ">
<div class="col-md-12 ">
<h3>Billing and Insurance</h3></div></div>

<div class="row ">
<div class="col-md-12 ">
<div class="expandable-item ">
<h4><span class="icon "></span>What is the price for Invitae testing?</h4>

<div class="expandable-content ">
<p class="">$1500 any test every test.*</p>

<p class="pricing-info ">*$1500 U.S. contract pricing only. Ex-US pricing does not include distribution and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client Services</a> for more information.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What payment options are available?</h4>

<div class="expandable-content ">
<ul class="bullet-list">
	<li>Patient Pay: the patient can choose to pay for testing in full via credit or debit card. We accept Visa, Mastercard, American Express, and JCB</li>
	<li>Patient Payment Plan: $375 up front plus $99 per month for 12 months, which includes a $63 service charge</li>
	<li>Institutional billing</li>
	<li>Third party insurance providers (see detail below). We do not currently support Medicare or Medicaid</li>
	<li>For those who qualify, we have a Patient Access Program (PAP) and a Financial Assistance Plan (FAP) to reduce patient out of pocket costs. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</li>
</ul></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What is necessary for Invitae to bill insurance?</h4>

<div class="expandable-content ">
<p class="">Please be prepared to provide the following information with your order:</p>

<ul class="bullet-list">
	<li>Patient's first and last name, phone number, and mailing address</li>
	<li>A copy (front and back) of the patient's insurance card</li>
	<li>Relevant ICD9 codes</li>
	<li>Letter of Medical Necessity</li>
</ul>

<p class="">This information can be entered upon requisitioning when choosing 3rd party billing as the form of payment.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>Will my patient bear the cost if insurance is denied?</h4>

<div class="expandable-content ">
<p class="">If insurance does not cover the full cost of testing, the maximum out-of-pocket payment for patients is limited to $100. (policy subject to change)</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>Do you offer any financial assistance?</h4>

<div class="expandable-content ">
<p class="">In addition to the payment plan, we may be able to offer assistance if your patient meets certain financial criteria. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services for more information or if you would like to fill out an application.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What is Invitae’s NPI number?</h4>

<div class="expandable-content ">
<p class="">1316206220</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What is the CPT code for the test I’m ordering?</h4>

<div class="expandable-content ">
<p class="">If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.</p></div></div></div></div>
