<div class="row">
<div class="col-md-12">
<h3>Results</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the turnaround time?</h4>

<div class="expandable-content">
<p>On average, three weeks from the time Invitae receives the sample.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Will ordering a fewer genes result in a shorter turnaround time?</h4>

<div class="expandable-content">
<p>No, our average turnaround time for all tests is 3 weeks from the time Invitae receives the sample.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer expedited report delivery?</h4>

<div class="expandable-content">
<p>No. On average, the report is available three weeks from the time Invitae receives the sample. We do not currently offer STAT testing (emergency turnaround times) for surgical cases and recommend that clinicians who need a turnaround time faster than three weeks send these cases elsewhere.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How will I get the report?</h4>

<div class="expandable-content">
<p>When the report is ready, you will receive an email notification and be able to view and download it directly from your Invitae account. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services if you would like us to send the report via fax.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does an Invitae clinical report include?</h4>

<div class="expandable-content">
<p>Results and their clinical interpretations are presented in the form of a readily comprehensible clinical report with full transparency into the performance characteristics for each condition or gene. A sample report can be found on the <a href="{% page_url 'portal_common.order-forms' %}">Order Forms</a> page of our website.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How does Invitae classify genetic variants?</h4>

<div class="expandable-content">
<p>Invitae’s team of scientists, physicians, and genetic counselors works together to provide high-quality and rigorous variant classifications. Invitae’s method of variant classification is a systematic process for assessing the evidence gathered during variant review and applying a formal variant classification based on this evidence.  Our method of variant classification adheres closely to the recommendations from the American College of Medical Genetics (ACMG). These guidelines for variant interpretation represent the industry standard among clinical genetic testing laboratories.  To learn more, visit our <a href="{% page_url 'portal_common.variant-classification' %}">Variant Classification</a> page.</p>
</div>
</div>
</div>
</div>