<div class="row">
                <div class="col-md-12">
                    <h3>Licensing</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Is Invitae Clinical Laboratory Improvement Amendments (CLIA) certified?</h4>

                        <div class="expandable-content">
                            <p>Yes. Our CLIA ID number is 05D2040778. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Is Invitae College of American Pathologists (CAP) accredited?</h4>

                        <div class="expandable-content">
                            <p>Yes. Our CAP LAP number is 8770489 and our AU-ID is 1703789. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Do you accept samples from all states?</h4>

                        <div class="expandable-content">
                            <p>We currently accept samples from all states other than New York. We may be able to grant an exception if an approved New York State waiver is included with the patient's sample.</p>

                        </div>
                    </div>
                </div>
            </div>