<div class="row">
<div class="col-md-12">
<h3>Ordering Genetic Testing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does Invitae test for?</h4>

<div class="expandable-content">
<p>Invitae offers full-gene sequencing and deletion/duplication analysis. You can order any combination of genes, disorders, and panels all for the same price<sup>*</sup>. To view our complete test catalog please visit, our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a> page.</p>

<p class="endnote"><sup>*</sup>Pricing per indication: List price of $1500, with discount to $950 for institutions and distributors under contract with Invitae, and payers who contract with Invitae under certain terms. Upfront patient-pay price is $475 for orders placed online and connected to a patient account. Pricing outside the US does not include shipping fees. Please <a target="_blank" href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for more information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What sequencing methodology is used?</h4>

<div class="expandable-content">
<p>Invitae performs full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology. For more information about our assay, please visit our <a href="{% page_url 'portal_common.assay' %}">Assay</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer deletion/duplication analysis?</h4>

<div class="expandable-content">
<p>Yes, Invitae’s assay detects most deletion/duplication events encompassing a single exon or more. However, in some cases, specific genes and exons are excluded from analysis. Please consult our Gene List on our <a href="{% page_url 'portal_common.order-forms' %}">Order forms</a> page for details.</p>

<p>Our copy number detection algorithm can also identify large deletion/duplication events that include and extend beyond a targeted gene, although the boundaries of those events cannot be determined beyond the gene itself. In that respect, the Invitae assay does not provide cytogenetic analysis for large chromosomal anomalies or copy-neutral changes, such as reciprocal translocations, uniparental disomies, or inversions (one exception: we offer the MSH2 exon 1-7 inversion).</p>

<p>Note: In August 2015 we started offering del/dup analysis for full PMS. For more information about our methods, please visit our <a href="{% page_url 'portal_common.validation-studies' %}">Validation Studies</a> page. (Deletion/duplication analysis is not guaranteed for gDNA samples.)</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer BRCA testing?</h4>

<div class="expandable-content">
<p>Yes, we offer full-gene sequencing and deletion/duplication analysis of BRCA1 and BRCA2, including all coding exons +/- 20 bp, as well as non-coding but clinically relevant SNVs and indels. For no additional charge, you can upgrade to one of our broader hereditary cancer panels, which include other hereditary cancer genes. To learn more about our suite of BRCA test options, please visit our <a href="{% page_url 'portal_common.brca-testing' %}">BRCA Testing</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer follow-up family variant testing?</h4>

<div class="expandable-content">
<p>Yes. If the orginal proband was tested by Invitae, family variant testing is available to eligible family members for just $200 per gene for each family member. Visit our <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Family Variant Testing</a> page to learn more.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I request further testing (re-requisition) for a patient sample that was previously tested at Invitae?</h4>

<div class="expandable-content">
<p>Yes. If you don't find the answers you're looking for, you can test more genes related to the original indication for testing for no additional charge (only genes available at the time of the original order are eligible). Invitae offers one re-requisition order at no additional charge within 90 days of the original report release date. Beyond 90 days after the original report release date, your patient will be billed $475 for re-requisitions related to the same clinical indication. To learn more about this program, please visit our <a target="_blank" href="{% page_url 'portal_common.re-requisition' %}">Re-Requisition</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I submit an order?</h4>

<div class="expandable-content">
<p>Place your order online for more efficient order processing, faster report delivery, and access to additional online features. Setting up an account only takes a few minutes, and you can also browse and order directly from our online test catalog. You can also place a paper order as well.</p>

<p>To learn more about how to set up an account and place an order, visit our <a href="{% page_url 'portal_common.ordering' %}">How to Place an Order</a> page for more detailed instructions and to watch our instructional videos.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer single-site testing?</h4>

<div class="expandable-content">
<p>Yes. Although Invitae does not offer single-site testing per se, we do offer both family variant testing and VUS resolution. Both of these programs involve full analysis of the gene in which the original family member’s variant was identified. The report will include the status of the familial variant as well as any other pathogenic or likely pathogenic variant(s) identified in that gene. Visit our <a target="_blank" href="{% page_url 'portal_common.family-testing' %}">Family Variant Testing</a> and <a target="_blank" href="{% page_url 'portal_common.vus-resolution' %}">VUS Resolution</a> pages for details on each of these programs.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I fill out a requisition on behalf of a physician in my clinic?</h4>

<div class="expandable-content">
<p>Yes. Keep in mind that whoever places the order will be the primary point of contact for status updates and outreach related to the requisition. If you are ordering as a clinical representative, enter the ordering physician’s details under ‘Clinical Team’ and be sure enter the physician’s email address if he or she would like to receive a copy of the report.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can I make changes to a requisition that I have already submitted?</h4>

<div class="expandable-content">
<p>If you wish to make any changes to a completed requisition, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services and we will be able to assist you.</p>
</div>
</div>
</div>
</div>
