<div class="row ">
<div class="col-md-12 ">
<h3>Other</h3></div></div>

<div class="row ">
<div class="col-md-12 ">
<div class="expandable-item ">
<h4><span class="icon "></span>What is “Free the Data”?</h4>

<div class="expandable-content ">
<p class="">Free The Data is a movement supported by Invitae to gather genetic and other health information from individuals who have tested positive for a mutation in BRCA1 or BRCA2. Visit the <a href="http://www.free-the-data.org/" target="_blank">Free the Data</a> website to read more or contribute.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What is Clinvitae?</h4>

<div class="expandable-content ">
<p class="">Clinvitae is a database of clinically-observed genetic variants aggregated from public sources and operated and made freely available by Invitae. Visit the database at <a href="http://clinvitae.invitae.com/" target="_blank">clinvitae.invitae.com</a>.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>What is the Family History Tool?</h4>

<div class="expandable-content ">
<p class="">The Invitae Family History Tool is a free app to build, modify, share, and save patient pedigrees. It is available through the web or as an iPad app, and information integrates seamlessly with our online ordering process. If you already have an Invitae account, you can use the same credentials to sign into the Family History Tool. To learn more and download the Family History Tool, please visit our <a href="{% page_url 'portal_common.family-history' %}">Family History</a> page.</p></div></div></div></div>
