<div class="row ">
<div class="col-md-12 ">
<h3>Results</h3></div></div>

<div class="row ">
<div class="col-md-12 ">
<div class="expandable-item ">
<h4><span class="icon "></span>What is the turnaround time?</h4>

<div class="expandable-content ">
<p class="">An average of three weeks from the time we receive the sample.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>How will I get the report?</h4>

<div class="expandable-content ">
<p class="">When the report is ready, you will be able to view and download it directly from your Invitae account. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services if you would like us to send the report via fax.</p></div></div></div></div>
