<div class="row">
<div class="col-md-12">
<h3>Licensing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Is Invitae Clinical Laboratory Improvement Amendments (CLIA) certified?</h4>

<div class="expandable-content">
<p>Yes. Our CLIA ID number is 05D2040778. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Is Invitae College of American Pathologists (CAP) accredited?</h4>

<div class="expandable-content">
<p>Yes. Our CAP LAP number is 8770489 and our AU-ID is 1703789. A copy of our license can be downloaded on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Do you accept samples from all states?</h4>

<div class="expandable-content">
<p>We currently accept samples from all states other than New York. We are in the process of applying for a New York license. To submit a sample from New York, we require a signed New York waiver form to accompany the specimen. This waiver must be approved by the New York State (NYS) Department of Health before submission to Invitae. Note that, in general, the ordered test must not be available at other genetic testing companies to receive approval. Please <a href="https://portal-cms-stg.vpc.locusdev.net:1443/en/contact/">contact</a> client services with questions.</p>
</div>
</div>
</div>
</div>
