<div class="row">
                <div class="col-md-12">
                    <h3>Sample and Shipping Requirements</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>What are the sample requirements?</h4>

                        <div class="expandable-content">

                            <ul class="bullet-list">
                                <li>Whole blood samples only</li>
                                <li>No hemolyzed or clotted specimens.</li>
                                <li>Minimum 3mL whole blood (both adults and children)</li>
                                <li>One purple top (EDTA) tube per patient labeled with:
                                    <ul class="bullet-list">
                                        <li>Patient name</li>
                                        <li>Date of birth</li>
                                        <li>Sample collection date</li>
                                    </ul>
                                </li>
                            </ul>
                            <p>Please note: At this time deletion/duplication analysis is not supported for frozen blood
                                samples.</p>

                            <p>If the patient has had a blood transfusion, we can only accept the specimen if the blood
                                transfusion took place longer than two weeks ago. If the patient had a bone marrow
                                transplant, please call us to ask about options.</p>

                        </div>
                    </div>


                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Can you accept pre-natal samples?</h4>

                        <div class="expandable-content">

                            <p>Not at this time. We can test prospective parents for carrier status but do not offer
                                pre-natal
                                testing for already expectant mothers.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Does Invitae provide sample collection kits?</h4>

                        <div class="expandable-content">

                            <p>Yes, we can send Sample Collection Kits to you free of charge. These are equipped with
                                all necessary shipping materials. Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more.</p>
                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Can you arrange a blood draw for my patient?</h4>

                        <div class="expandable-content">
                            <p>Yes, Invitae can help schedule a blood draw appointment for your patient at your office or at your patient's home. We offer nationwide coverage and the service is provided at no additional of charge. Visit our <a href="{% page_url 'portal_common.request-a-kit' %}">Request a Kit</a> page to learn more about scheduling
                                a blood draw appointment.</p>
                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Does Invitae accept genomic DNA extracted in other laboratories?
                        </h4>

                        <div class="expandable-content">
                            <p>If you are interested in analysis of genomic DNA, please contact our client services team to speak with one of our genetic counselors. Our genetic counselors would be happy to discuss the current benefits and limitations with you in the context of your specific case.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Do you accept post-mortem samples?</h4>

                        <div class="expandable-content">
                            <p>If you are interested in post-mortem analysis, please contact our client services team to speak with one of our genetic counselors. One of our genetic counselors would be happy to discuss the current benefits and limitations with you in the context of your specific case.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>What paperwork is required with each specimen?</h4>

                        <div class="expandable-content">
                            <p>A printed copy of the completed requisition form must accompany each specimen. You will
                                be asked
                                to print the form after completing the online requisition process. If you would like us
                                to
                                submit an insurance claim on behalf of your patient, we will also need a Letter of
                                Medical
                                Necessity (LOMN) and a copy of the front and back of the patient’s insurance card.</p>

                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>How do I send a specimen to Invitae?</h4>

                        <div class="expandable-content">
                            <p>Our kits come with a shipping label; alternatively, send the blood sample in a crush-proof
                                container via FedEx Priority Overnight to the following address:</p>

                            <p>Attn: Client Services <br>
                                Invitae Corporation <br>
                                475 Brannan Street, Suite 230 <br>
                                San Francisco, CA, 94107</p>

                            <p>Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for
                                Invitae’s FedEx account number. If you choose to use your institution’s own shipping
                                method, please send the tracking number to <a href="mailto:clinical@invitae.com">clinical@invitae.com</a>.
                                We accept deliveries Monday-Friday, excluding holidays.</p>
                        </div>
                    </div>
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Does Invitae pay for shipping?</h4>

                        <div class="expandable-content">
                            <p>Yes. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for
                                the FedEx account number and ship the sample overnight.</p>
                        </div>
                    </div>
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Does Invitae accept weekend or holiday deliveries?</h4>

                        <div class="expandable-content">
                            <p><strong>Weekend Deliveries:</strong> No. Invitae accepts packages Monday – Friday. We recommend you send your package so that
                                it leaves your facility Monday – Thursday. Please do not request Saturday delivery.
                                Please ship overnight via Federal Express in accordance with their guidelines, using the
                                FedEx account number supplied by Invitae’s <a href="{% page_url 'portal_common.contact' %}">client services team</a>.</p>
                                <p><strong>Holiday Deliveries:</strong> Invitae follows the <a target="_blank" href="http://www.fedex.com/us/service-guide/holiday-schedule.html">FedEx Holiday Service Schedule</a>.
                            </p>
                        </div>
                    </div>
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>How quickly after the blood draw does a sample need to be shipped to Invitae?</h4>

                        <div class="expandable-content">
                            <p>We recommend overnight shipping of the sample the same day the blood sample is collected.
                                If stored at room temperature, the blood sample is viable for up to 48 hours and if
                                refrigerated, up to one week. Please do not freeze the blood sample.
                            </p>
                        </div>
                    </div>
                </div>
            </div>