<div class="row ">
<div class="col-md-12 ">
<h3>Ordering</h3></div></div>

<div class="row ">
<div class="col-md-12 ">
<div class="expandable-item ">
<h4><span class="icon "></span>Can I fill out a requisition on behalf of a physician in my clinic?</h4>

<div class="expandable-content ">
<p class="">Yes. Keep in mind that the information entered when you sign up is where correspondence about any given test will be directed. If you are ordering as a clinical representative, enter the ordering physician’s details under ‘Clinical Team’ and be sure enter the physician’s email address if they would like to create his or her own account to receive updates.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>Can I share tracking and results?</h4>

<div class="expandable-content ">
<p class=""><strong>With patients:</strong> if you enter the patient’s email address, he/she will be prompted to create an account to track the status of their order. If you click “Release Results” on the Order History page, the patient will also be able to view his/her report when it is ready.</p>

<p class=""><strong>With colleagues:</strong> you can choose to share a requisition with any colleagues by entering his/her email addresses under the Sharing tab as part of the ordering workflow, or through the Order History page after an order is submitted. Each colleague will be prompted to create an account to have shared access to that requisition.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>How can I make changes to a requisition that I have already submitted?</h4>

<div class="expandable-content ">
<p class="">If you wish to make any changes to a completed requisition, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services and we will be able to assist you.</p></div></div></div></div>
