<div class="row">
<div class="col-md-12">
<h3>Billing and Insurance</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the price for Invitae testing?</h4>

<div class="expandable-content">
<p>Any test, one price<sup>*</sup>. Invitae’s mission is to bring genetic information into mainstream medical practice to improve the quality of healthcare for billions of people. We believe in responsible testing based on established medical guidelines and we aim to be completely transparent with our pricing so that patients, clinicians, and payers know the cost of the test. Invitae is introducing new pricing for the three customer segments it serves today:</p>

<ul class="bullet-list">
	<li>For non-contracted institutions and third-party payors <strong>for which Invitae is out of network</strong>, the price per indication is <strong>$1,500</strong>.</li>
</ul>

<ul class="bullet-list">
	<li>For <strong>institutions and distributors with whom we have contracts and for payors who bring Invitae in network</strong>, the price per indication is <strong>$950</strong>.

	<ul class="bullet-list">
		<li>For more information about contract terms, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services.</li>
	</ul>
	</li>
	<li>For patients who have opted to pay up front, and whose clinician has ordered our genetic test online, the price per indication will be $475, beginning June 1.
	<ul class="bullet-list">
		<li>This is available as a prepaid option only and does not allow Invitae to submit to insurance.</li>
		<li>Patient agrees to register online and sets contact preferences.</li>
		<li>Patient assistance programs are not available for patient prepay option.</li>
		<li>Patient prepay orders must be placed online, including the requisition from the clinician.</li>
		<li>For international orders, the patient prepay option <strong>does not</strong> include shipping.</li>
	</ul>
	</li>
</ul>

<p>It is important to note that for patient pay pricing, we require patients to go through their healthcare provider to order our tests. Healthcare professionals are fundamental to ordering the right test for the right patient and in interpreting genetic information. Invitae believes that patients should own and control their own genetic information, thus we do not require our patients to sign their data away; we allow them to opt out and still receive the test. While genetic information is more valuable when shared, patients own their data and should decide what they want to do with it.</p>

<p class="endnote"><sup>*</sup>Pricing per clinical condition: List price of $1500, with discount to $950 for institutions and distributors under contract with Invitae, as well as in-network providers. Upfront patient pay price is $475, effective June 1. Pricing outside the US does not include shipping fees. Please <a target="_blank" href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for more information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What payment options are available?</h4>

<div class="expandable-content">
<p>We offer the following billing options, to learn more about each of these choices, please visit our <a href="{% page_url 'portal_common.billing' %}">Billing Page</a>.</p>

<ul class="bullet-list">
	<li>Patient Pay: The patient pays in full upfront via credit or debit card (we accept Visa, Mastercard, American Express, and JCB)</li>
	<li>Patient Payment Plan: The patient pays $375 upfront plus $99 per month for 12 months, which includes a $63 service charge (not available for $475 patient pay option)</li>
	<li>Institutional billing</li>
	<li>Third party insurance providers (see detail below)</li>
	<li>Medicare coverage is available when specific criteria are met</li>
	<li>For those who qualify, we have a Patient Access Program (PAP) and a Financial Assistance Plan (FAP) to reduce patient out-of-pocket costs. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</li>
</ul>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is necessary for Invitae to bill insurance?</h4>

<div class="expandable-content">
<p>Please be prepared to provide the following information with your order:</p>

<ul class="bullet-list">
	<li>Patient's first and last name, phone number, and mailing address</li>
	<li>A copy (front and back) of the patient's insurance card</li>
	<li>Relevant ICD9 codes</li>
	<li>Letter of Medical Necessity</li>
</ul>

<p>This information can be entered upon requisitioning when choosing 3rd party billing as the form of payment.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Do you offer any financial assistance?</h4>

<div class="expandable-content">
<p>In addition to the payment plan, we may be able to offer assistance if your patient meets certain financial criteria. <a href="{% page_url 'portal_common.contact' %}">Contact</a> Client Services for more information or if you would like to fill out an application.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is Invitae’s NPI number?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the CPT code for the test I’m ordering?</h4>

<div class="expandable-content">
<p>If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.</p>
</div>
</div>
</div>
</div>
