<div class="row ">
<div class="col-md-12 ">
<h3>Licensing</h3></div></div>

<div class="row ">
<div class="col-md-12 ">
<div class="expandable-item ">
<h4><span class="icon "></span>Is Invitae CLIA certified?</h4>

<div class="expandable-content ">
<p class="">Yes. Our CLIA ID number is 05D2040778. This can be found on the <a href="{% page_url 'portal_common.licensing' %}">licensing information</a> page.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>Is Invitae CAP accredited?</h4>

<div class="expandable-content ">
<p class="">Not at this time.</p></div></div>

<div class="expandable-item ">
<h4><span class="icon "></span>Do you accept samples from all states?</h4>

<div class="expandable-content ">
<p class="">We currently accept samples from all states other than New York. We may be able to grant an exception if an approved New York State waiver is included with the patient's sample.</p></div></div></div></div>
