<div class="row">
<div class="col-md-12">
<h3>Ordering Genetic Testing</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What does Invitae test for?</h4>

<div class="expandable-content">
<p>Invitae offers full gene sequencing and deletion/duplication analysis. You can order any combination of genes, disorders, and panels, all at a price of $1500.<sup>*</sup> To view our complete test catalog please visit, our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a> page.</p>

<p class="endnote"><sup>*</sup>U.S. contract pricing only, with appropriate clinical indication. Ex-US pricing does not include distribution and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client Services</a> for more information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What sequencing methodology is used?</h4>

<div class="expandable-content">
<p>Invitae performs full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology. For more information about our assay, please visit our <a href="{% page_url 'portal_common.assay' %}">Assay</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer deletion/duplication analysis?</h4>

<div class="expandable-content">
<p>Yes, Invitae’s assay detects most deletion/duplication events encompassing a single exon or more. However, in some cases, specific genes and exons are excluded from analysis. Please consult our <a href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf" target="_blank">Gene List</a> for details.</p>

<p>Our copy number detection algorithm can also identify large deletion/duplication events that include and extend beyond a targeted gene, although the boundaries of those events cannot be determined beyond the gene itself. In that respect, the Invitae assay does not provide cytogenetic analysis for large chromosomal anomalies or copy-neutral changes, such as reciprocal translocations, uniparental disomies, or inversions.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer BRCA testing?</h4>

<div class="expandable-content">
<p>Yes, we offer full gene sequencing and deletion/duplication analysis of BRCA1 and BRCA2 for $1500*. For no additional charge, you can upgrade to one of our broader hereditary cancer panels, which include other hereditary cancer genes. To learn more about our suite of BRCA test options, please visit our <a href="{% page_url 'portal_common.brca-testing' %}">BRCA Testing</a> page.</p>

<p class="endnote"><sup>*</sup>U.S. contract pricing only, with appropriate clinical indication. Ex-US pricing does not include distribution and shipping fees. Please contact <a href="{% page_url 'portal_common.contact' %}" target="_blank">Client Services</a> for more information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer follow-up family variant testing?</h4>

<div class="expandable-content">
<p>Yes. If the orginal proband was tested by Invitae, family variant testing is available to eligible family members for just $200 per gene for each family member. Visit our <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Family Variant Testing</a> page to learn more.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I request further testing (re-requisition) for a patient sample that was previously tested at Invitae?</h4>

<div class="expandable-content">
<p>Yes. If your patient receives a negative or inconclusive result on an Invitae test, you can test more genes related to the original indication for testing for no additional charge (only genes available at the time of the original order are eligible). Invitae offers one (1) re-requisition order at no additional charge within 90 days of the original report release date. Beyond 90 days after the original report release date, your patient will be billed $750 for re-requisitions related to the same clinical indication (only genes available at the time of the original order are eligible). To learn more about this program, please visit our <a href="{% page_url 'portal_common.re-requisition' %}" target="_blank">Re-Requisition</a> page.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How do I submit an order?</h4>

<div class="expandable-content">
<p>To submit an order, sign into your Invitae account or select ‘Sign Up’ if you are a new user. Search our test catalog and choose genes and conditions by selecting ‘Add to Order’. Follow the steps to enter patient and ordering physician information and complete the order.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer single-site testing?</h4>

<div class="expandable-content">
<p>Yes. Invitae offers single site testing as part of our <a href="{% page_url 'portal_common.family-testing' %}" target="_blank">Family Variant Testing</a> and <a href="{% page_url 'portal_common.vus-resolution' %}" target="_blank">VUS Resolution</a> programs. To be eligible for either program, the initial family member must have been tested through Invitae. If the original family member was not tested through Invitae, we can offer testing of the full gene for $1500.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Can I fill out a requisition on behalf of a physician in my clinic?</h4>

<div class="expandable-content">
<p>Yes. Keep in mind that whoever places the order will be the primary point of contact for status updates and outreach related to the requisition. If you are ordering as a clinical representative, enter the ordering physician’s details under ‘Clinical Team’ and be sure enter the physician’s email address if he or she would like to receive a copy of the report.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>How can I make changes to a requisition that I have already submitted?</h4>

<div class="expandable-content">
<p>If you wish to make any changes to a completed requisition, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services and we will be able to assist you.</p>
</div>
</div>
</div>
</div>
