<div class="row">
                <div class="col-md-12">
                    <h3>Portal Account</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>What does an Invitae account let me do?</h4>

                        <div class="expandable-content">
                            <p>With an Invitae account you are able to:</p>
                            <ul class="bullet-list">
                                <li>Search our online test catalog for genes and conditions of interest and complete
                                    your entire order online.
                                </li>
                                <li>Design and save your own custom orders.</li>
                                <li>Quickly upload documents such as insurance paperwork, medical records, family
                                    history, and previous test results.
                                </li>
                                <li>Track the status of your order in real time.</li>
                                <li>Communicate with Invitae staff and upload documents through our secure messaging
                                    exchange system.
                                </li>
                                <li>View and download your final report.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>What is my email address used for?</h4>

                        <div class="expandable-content">
                            <p>Your email address serves as your username for your Invitae account. Any notifications
                                regarding a requisition you have submitted will go to this email address, including when
                                your report is ready or when you receive a secure message from a member of the Invitae
                                team.</p>
                        </div>
                    </div>

                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>What is Order History?</h4>

                        <div class="expandable-content">
                            <p>The Order History page is displayed upon logging in. Order History displays
                                your past and current requisitions and their details. You can click on any RQ number for more
                                information about that requisition. You also have the ability to share results and view
                                or send secure messages. To place an order, please start by viewing our <a href="{% page_url 'portal_common.test-catalog' %}">Test Catalog</a>.</p>
                        </div>
                    </div>
                    <div class="expandable-item">
                        <h4><span class="icon icon-angle-right"></span>Can I share tracking and results?</h4>

                        <div class="expandable-content">
                            <p><strong>With patients:</strong> if you enter the patient’s email address, he/she will be
                                prompted to create an account to track the status of their order. If
                                you click “Release Results” on the Order History page, the patient will also be able to view
                                his/her report when it is ready.</p>

                            <p><strong>With colleagues:</strong> you can choose to share a requisition with any
                                colleagues by entering his/her email addresses under the Sharing tab as part of the
                                ordering workflow, or through the Order History page after an order is submitted. Each colleague
                                will be prompted to create an account to have shared access to that
                                requisition.
                            </p>

                        </div>
                    </div>
                </div>
            </div>