<div class="row">
<div class="col-md-12">
<h3>Billing and Insurance</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the price for Invitae testing?</h4>

<div class="expandable-content">
<p>Invitae offers indication-based testing—genetic analysis to identify the cause of a disease affecting an individual or a family. Indication refers to disease areas such as oncology, cardiology, neurology, etc.</p>

<p>In rare cases, a family may be affected by more than one genetic condition, and in these cases it is possible to requisition genes or panels relevant to more than one indication. Please contact Client Services for more information.</p>

<p>Whether the indication comprises one gene or forty, the price per indication remains the same. In the US, our pricing structure is:</p>

<ul class="bullet-list">
	<li><strong>$1,500:</strong> List price</li>
</ul>

<ul class="bullet-list">
	<li><strong>$950:</strong> Price for institutions and distributors under contract with Invitae and payers who contract with Invitae under certain terms

	<ul class="bullet-list">
		<li>For more information about contract terms, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services.</li>
	</ul>
	</li>
	<li><strong>$475:</strong> Patient pay price
	<ul class="bullet-list">
		<li>Available as a prepaid option only. Invitae will not submit to insurance or offer advice regarding insurance submission decisions.</li>
		<li>Patient agrees to register online and sets contact preferences.</li>
		<li>Patient assistance programs are not available for patient prepay option.</li>
		<li>Patient prepay orders must be placed online, including the requisition from the clinician.</li>
		<li>For international orders, the patient prepay option <strong>does not</strong> include shipping.</li>
	</ul>
	</li>
</ul>

<p>It is important to note that for patient pay pricing, we require patients to go through their healthcare provider to order our tests. Healthcare professionals are fundamental to ordering the right test for the right patient and in interpreting genetic information. Invitae believes that patients should own and control their own genetic information, thus we do not require our patients to sign their data away; we allow them to opt out and still receive the test. While genetic information is more valuable when shared, patients own their data and should decide what they want to do with it.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What payment options are available?</h4>

<div class="expandable-content">
<p>We offer the following billing options; to learn more about each of these choices, please visit our <a href="{% page_url 'portal_common.billing' %}">Billing Page</a>.</p>

<ul class="bullet-list">
	<li><strong>Direct patient payment:</strong> The patient pays in full upfront via credit card (we accept Visa, Mastercard, American Express, and JCB). Payment can also be submitted by wire transfer. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</li>
	<li><strong>Institutional billing</strong></li>
	<li><strong>Third party insurance (US only):</strong> With Invitae, regardless of whether a patient is in-network or out-of-network, a patient will never be surprised by an out-of-pocket balance. To help provide patients with accurate information regarding out-of-pocket insurance requirements, Invitae conducts a benefits investigation. Where Invitae's benefits investigation discloses a plan that requires a patient out of pocket in excess of $100, Invitae will notify the patient. Invitae has a Patient Assistance Plan that may apply in these situations. If a patient does not qualify for that plan they may still elect the upfront patient-pay price of $475, or opt to cancel the test and avoid all charges.</li>
	<li><strong>Medicare:</strong> Invitae can bill Medicare; See the Medicare Requirements Form on the <a href="https://www.invitae.com/order-forms/">Order Forms</a> page of our website. Patient informed consent is required for all Medicare orders and must be signed on or before the date of sample collection. A Letter of Medical Necessity is required for Medicare patients who do not meet criteria for testing. Patient hospital status is also required if your patient has been a hospital inpatient within 14 days of the collection date (or has undergone a procedure within a hospital and was discharged the same day), a discharge date is required. Invitae cannot bill Medicaid plans, but Medicaid patients may qualify for our Patient Assistance Program (PAP).</li>
</ul>

<p>For those who qualify, we have a Patient Access Program (PAP) to reduce patient out-of-pocket costs. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is necessary for Invitae to bill insurance?</h4>

<div class="expandable-content">
<p>Please be prepared to provide the following information with your order:</p>

<ul class="bullet-list">
	<li>Patient's first and last name, phone number, and mailing address</li>
	<li>A copy (front and back) of the patient's insurance card</li>
	<li>Updated ICD-10 codes</li>
	<li>Letter of Medical Necessity</li>
</ul>

<p>This information can be entered upon requisitioning when choosing third party insurance billing as the form of payment.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What ICD-10 code(s) should I use for the Invitae test?</h4>

<div class="expandable-content">
<p>Invitae defers to the ordering healthcare provider to select the appropriate diagnosis codes for each order. To identify the appropriate ICD-10 code(s), we recommend reading through the resources posted on the Centers for Medicare &amp; Medicaid Services (CMS) <a target="blank" href="https://www.cms.gov/Medicare/Coding/ICD10/index.html?redirect=/ICD10">website</a>. In addition, many helpful third-party <a target="blank" href="https://www.aapc.com/icd-10/codes/">tools</a> exist to translate ICD-9 codes to ICD-10 codes—these can be a good starting point to learn the new codes, although providers should use their best medical judgement as there often are not one-to-one mappings. If you need help, please <a href="{% page_url 'portal_common.contact' %}">contact</a> client services.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer pre-authorizations?</h4>

<div class="expandable-content">
<p>With Invitae, regardless of whether a patient is in-network or out-of-network, a patient will never be surprised by an out-of-pocket balance. To help provide patients with accurate information regarding out-of-pocket insurance requirements, Invitae conducts a benefits investigation. Where Invitae's benefits investigation discloses a plan that requires a patient out of pocket in excess of $100, Invitae will notify the patient. Invitae has a Patient Assistance Plan that may apply in these situations. If a patient does not qualify for that plan they may still elect the upfront patient-pay price of $475, or opt to cancel the test and avoid all charges.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is Invitae’s NPI number?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the CPT code for the test I’m ordering?</h4>

<div class="expandable-content">
<p>If you are ordering a test that includes BRCA1 or BRCA2, the CPT code is 81211. For all other tests, the CPT code to use is 81479 - unlisted molecular pathology procedure.</p>
</div>
</div>
</div>
</div>
