<div class="row">
<div class="col-md-12">
<h3>Billing and Insurance</h3>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the price for Invitae testing?</h4>

<div class="expandable-content">
<p><strong>Panel testing</strong><br>
Invitae offers genetic analysis to identify the cause of a disease affecting an individual or a family. Our pricing for panel testing is per <a href="/clinical-areas">clinical area</a>, referring to disease areas such as oncology, cardiology, and neurology.</p>

<p>In rare cases, a family may be affected by more than one genetic condition, and in these cases it is possible to requisition genes or panels relevant to more than one clinical area. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for more information.</p>

<p>In the US, the price per clinical area for panel testing is:</p>

<ul class="bullet-list">
	<li><strong>$1,500:</strong> List price

	<ul class="bullet-list">
		<li>Invitae will never charge more than this for a panel test within a single clinical area.</li>
	</ul>
	</li>
	<li><strong>$475:</strong> Patient pay price
	<ul class="bullet-list">
		<li>Available as a prepaid option only for panel tests. Invitae will not submit to insurance or offer advice regarding insurance submission decisions.</li>
		<li>Patient agrees to register online and sets contact preferences.</li>
		<li>Patient assistance programs are not available for the patient prepay option.</li>
		<li>For international orders, the patient prepay option <strong>does not</strong> include shipping.</li>
	</ul>
	</li>
</ul>

<p><strong>Exome testing</strong><br>
For exome testing, we offer institutional and patient pre-pay options at:</p>

<ul class="bullet-list">
	<li>$4,500 Duo/Trio</li>
	<li>$2,500 Proband-only</li>
</ul>

<p>For more information, please visit the <a href="/billing">Billing information</a> page.</p>

<p>It is important to note that for patient pay pricing, we require patients to go through their healthcare provider to order our tests. Healthcare professionals are fundamental to ordering the right test for the right patient and in interpreting genetic information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What payment options are available?</h4>

<div class="expandable-content">
<p>For exome testing, we offer direct patient payment and institutional billing at this time. For direct patient payment, we also offer payment plans. For more information, please <a href="contact">contact</a> Client Services.</p>

<p>For panel testing, we offer the following billing options; to learn more about each of these choices, please visit our <a href="{% page_url 'portal_common.billing' %}">Billing Page</a>.</p>

<ul class="bullet-list">
	<li><strong>Direct patient payment:</strong> The patient pays in full upfront via credit card (we accept Visa, Mastercard, American Express, and JCB). Payment can also be submitted by wire transfer. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services for further information.</li>
	<li><strong>Institutional billing</strong></li>
	<li><strong>Third party insurance (panel testing within the US only):</strong> Regardless of whether a patient is in-network or out-of-network, Invitae is committed to making genetic testing affordable. Typically patients pay no more than $100 out of pocket for one of our tests. If your patient receives a bill for more than $100, please have your patient call us to discuss payment options. </li>
	<li><strong>Medicare:</strong> Invitae can bill Medicare for panel testing; See the Medicare Requirements Form on the <a href="https://www.invitae.com/order-forms/">Forms</a> page of our website. Patient informed consent is required for all Medicare orders and must be signed on or before the date of sample collection. A Letter of Medical Necessity is required for Medicare patients who do not meet criteria for testing. Patient hospital status is also required if your patient has been a hospital inpatient within 14 days of the collection date (or has undergone a procedure within a hospital and was discharged the same day), a discharge date is required. Invitae cannot bill Medicaid plans, but Medicaid patients may qualify for our Patient Assistance Program (PAP).</li>
</ul>

<p>For those who qualify, we have a Patient Access Program (PAP) to reduce patient out-of-pocket costs. Please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services or see the FAQ below for further information.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is the Invitae Patient Assistance Program?</h4>

<div class="expandable-content">
<p>Invitae is committed to making genetic testing affordable and accessible by removing financial and logistical barriers. For panel testing, our Patient Assistance Program provides:</p>

<ul class="bullet-list">
	<li>a partial or total reduction in out-of-pocket costs for patients with commercial insurance who meet certain financial and clinical criteria</li>
	<li>a complete elimination of out-of-pocket costs for uninsured patients and patients insured by Medicaid (state or managed) who meet certain financial and clinical criteria</li>
</ul>

<p>The Patient Assistance Program is available to patients in the US who meet both relevant clinical and income criteria for the ordered test.</p>

<p><strong>Uninsured patients: </strong>For patients who meet our income criteria and are uninsured, Invitae will waive fees for the patient’s test under the program.</p>

<p><strong>Patients with Medicaid: </strong>For patients who qualify for the program in states where Invitae cannot bill Medicaid, Invitae will waive fees for the patient’s test under the program. In addition, Invitae will require the patient’s physician to certify that Medicaid will not be billed for the test.</p>

<p><strong>Patients with commercial insurance: </strong>For patients who qualify for the program and are insured with commercial insurance (not Medicare, Medicaid, or similar government insurance programs, Invitae will discount tests on a sliding scale according to income.</p>

<p><strong>Documentation: </strong>We ask for proof of income documentation in the form of an IRS Form 1040. If a 1040 is not available, please <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services to discuss other options.<strong> Applications are available on the <a href="{% page_url 'portal_common.order-forms' %}">Forms</a> page.</strong></p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is necessary for Invitae to bill insurance?</h4>

<div class="expandable-content">
<p>Please be prepared to provide the following information with your order:</p>

<ul class="bullet-list">
	<li>Patient's first and last name, phone number, and mailing address</li>
	<li>A copy (front and back) of the patient's insurance card</li>
	<li>Updated ICD-10 codes</li>
	<li>Letter of Medical Necessity</li>
	<li>Any necessary preauthorization forms, which can be found on the <a href="{% page_url 'portal_common.order-forms' %}">Forms</a> page</li>
</ul>

<p>This information can be entered during the online ordering process, when third party insurance billing is selected as the form of payment.</p>

<p>Please note that insurance billing is not currently available for the Invitae Boosted Exome.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What ICD-10 code(s) should I use for the Invitae test?</h4>

<div class="expandable-content">
<p>Invitae defers to the ordering healthcare provider to select the appropriate diagnosis codes for each order. To identify the appropriate ICD-10 code(s), we recommend reading through the resources posted on the Centers for Medicare &amp; Medicaid Services (CMS) <a href="https://www.cms.gov/Medicare/Coding/ICD10/index.html?redirect=/ICD10" target="blank">website</a>. In addition, many helpful third-party <a href="https://www.aapc.com/icd-10/codes/" target="blank">tools</a> exist to translate ICD-9 codes to ICD-10 codes—these can be a good starting point to learn the new codes, although providers should use their best medical judgement as there often are not one-to-one mappings. If you need help, please <a href="{% page_url 'portal_common.contact' %}">contact</a> client services.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>Does Invitae offer pre-authorizations?</h4>

<div class="expandable-content">
<p>Yes, Invitae does offer pre-authorizations. For more information, please see the pre-authorization forms on the <a href="{% page_url 'portal_common.order-forms' %}">Forms</a> page or <a href="{% page_url 'portal_common.contact' %}">contact</a> Client Services. Regardless of whether a patient is in-network or out-of-network, Invitae is committed to making genetic testing affordable. Typically patients pay no more than $100 out of pocket for one of our tests. If a patient receives a bill for more than $100, the patient can call us to discuss payment options. Invitae also has a Patient Assistance Program that may apply in these situations. </p>

<p>Please note: Invitae currently accepts patient pay and institutional billing only for exome testing, therefore pre-authorizations do not apply to exome testing at this time.</p>
</div>
</div>

<div class="expandable-item">
<h4><span class="icon icon-angle-right"></span>What is Invitae’s NPI number?</h4>

<div class="expandable-content">
<p>1316206220</p>
</div>
</div>
</div>
</div>
