
<div class="row">
                <div class="col-md-12">
                    <h3>When technology enables better medical practice.</h3>
                    <p>Invitae is a CLIA-certified clinical diagnostic laboratory performing full-gene sequencing and deletion/duplication analysis using next-generation sequencing technology (NGS).</p>
                    <h4>Gene list</h4>
                    <a target="_blank" href="/static/data/Invitae_Gene_List.pdf" class="btn btn-color-inherit btn-sm btn-right">
                        <span class="icon icon-arrow-stop-down"></span>Download Gene List
                    </a>
                    <p>For some genes in our catalog, deletion/duplication analysis is not performed or the sequencing
                        analysis may be limited to specific exons or variants. <br> Download our gene list for a
                        complete list of the genes in our catalog
                        with details on the analysis of each.</p>

                    <h4>Leading with science</h4>
                    <a href="{% page_url 'portal_common.validation-studies' %}" class="btn btn-color-inherit btn-sm btn-right">
                        <span class="icon icon-angle-right"></span>Validation Studies
                    </a>
                    <p>To demonstrate the quality of our BRCA test results, we are completing validation studies to
                        demonstrate analytical and clinical concordance with testing from another commercial BRCA
                        testing laboratory. <br> To learn more about these studies, please visit our Validation Studies
                        page.</p>
                </div>
            </div>