<div class="row text-box">
<h2>Opções de teste</h2>

<p>A Invitae é especializada em testes genéticos para doenças hereditárias relacionadas a diversas especialidades médicas, como cardiologia, cânceres hereditários, neurologia, medicina pediátrica e hematologia. A descoberta do teste genético adequado depende de seu histórico médico e familiar, de sua condição médica atual e dos tipos de resposta que você e seu médico procuram.</p>

<div class="serv-categories"><a onclick="mixpanel.track2('search',{'terms': 'Cardiology', 'source': 'cardiology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-matisse" href="/en/physician/search/?q=Cardiology"><span class="text"><span class="td">CARDIOLOGIA</span></span> <span class="icon icon-heart-solid"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Hereditary cancer', 'source': 'hereditary_cancer_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-bondi" href="/en/physician/search/?q=Hereditary+cancer"> <span class="text"><span class="td">CÂNCER HEREDITÁRIO</span></span> <span class="icon icon-ribbon"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Pediatric genetics', 'source': 'pediatric_genetics_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-mountain" href="/en/physician/search/?q=Pediatric+genetics"> <span class="text"><span class="td">GENÉTICA PEDIÁTRICA</span></span> <span class="icon icon-teddy"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Neurology', 'source': 'neurology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-willow2" href="/en/physician/search/?q=Neurology"> <span class="text"><span class="td">NEUROLOGIA</span></span> <span class="icon icon-brain"></span> </a> <a onclick="mixpanel.track2('search',{'terms': 'Hematology', 'source': 'hematology_homepage', 'path': '{{request.path}}'})" class="col-sm-4 col-md-2 product bgcolor-emerald" href="/en/physician/search/?q=Hematology"> <span class="text"><span class="td">HEMATOLOGIA</span></span> <span class="icon icon-drop-solid"></span> </a> <a href="http://marketing.invitae.com/acton/attachment/7098/f-00a9/1/-/-/-/-/F121-FactSheet_Gene-List.pdf" class="col-sm-4 col-md-2 product bgcolor-silver" target="_blank"> <span class="text"><span class="td">VER A LISTA COMPLETA</span></span> <span class="icon icon-pdf"></span> </a></div>
<br>
<br>
<br>
 </div>