<div class="row text-box darkened">
<div class="col-md-7 col-md-push-5 image"><img class="img-responsive center-block" alt="" src="/static/img/patient_portal/mac.jpg"></div>

<div class="col-md-4 col-md-pull-7">
<h2><span class="colored-mountain">Acompanhamento online</span></h2>

<p>Nosso sistema de acompanhamento online permite que você saiba facilmente em que etapa do processo de teste sua amostra se encontra. Você também pode ver os resultados online depois que seu médico analisá-los e liberá-los.</p>

<p><a href="//fast.wistia.net/embed/iframe/f0gxidx8et?popover=true" id="" class="btn btn-color-mountain btn-lg wistia-popover[height=400,playerColor=7b796a,width=640]"><span class="icon icon-angle-right"></span>ASSISTA AO VÍDEO</a></p>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<p><a href="{% url 'patient.signup' %}" id="" class="btn btn-color-mountain btn-lg"><span class="icon icon-angle-right"></span> INSCREVA-SE</a></p>
</div>
</div>