<div class="row">
<div class="col-md-9">
<form accept-charset="UTF-8" id="form_0020" enctype="multipart/form-data" action="" method="post" class="pd-form"><input value="7098" type="hidden" name="ao_a"> <input value="0020" type="hidden" name="ao_f"> <input value="0020:d-0001" type="hidden" name="ao_d"> <input value="0" type="hidden" name="ao_p" id="ao_p"> <input value="" type="hidden" name="ao_jstzo" id="ao_jstzo"> <input value="" type="hidden" name="ao_cuid"> <input value="" type="hidden" name="ao_srcid"> <input value="yes" type="hidden" name="ao_bot" id="ao_bot"> <input value="" type="hidden" name="ao_camp"> {% csrf_token %}
<div class="row">
<div class="col-md-5">
<div class="field-wrapper required"><label for="form_fn">Nome </label> <input type="text" name="First name" id="form_fn"></div>
</div>

<div class="col-md-5">
<div class="field-wrapper required"><label for="form_ln">Sobrenome </label> <input type="text" name="Last name" id="form_ln"></div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="field-wrapper required"><label for="form_email">E-mail </label> <input type="email" name="Email" id="form_email"></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_fn'); 
                    addRequiredField ('form_ln'); 
                    addRequiredField ('form_email'); 
                } 
                if (typeof(addFieldToValidate) != 'undefined') { 
                    addFieldToValidate ('form_email', 'EMAIL'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper"><label for="form_phone">Telefone</label> <input type="text" name="Phone" id="form_phone"></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addFieldToValidate) != 'undefined') { 
                    addFieldToValidate ('form_phone', 'ANYPHONE'); 
                    addFieldToValidate ('form_phone', 'LENGTH', 110); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper required unstyled-select"><label for="form_country">País</label> <select data-country="" data-states-selector="#form_state" id="form_country" data-long-value="true" name="Country"></select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_country'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper unstyled-select"><label for="form_state">Estado</label> <select name="State" data-long-value="true" id="form_state"></select></div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper"><label for="form_org">Organização </label> <input type="text" name="Organization" id="form_org"></div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper required unstyled-select"><label for="form_lt">Sou um: </label> <select data-persona="{{ user_info.persona }}" id="form_lt" name="Lead Type"></select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_lt'); 
                }
            </script>

<div class="row">
<div class="col-md-8">
<div class="field-wrapper required unstyled-select"><label for="form_ctp">Assunto </label> <select name="Contact form topic" id="form_ctp"><option value=""></option><option value="Testing Inquiries" id="form_0020_fld_7-0">Consultas sobre testes</option><option value="Partnerships and Collaborations" id="form_0020_fld_7-1">Parcerias e colaborações</option><option value="Family History Tool" id="form_0020_fld_7-2">Ferramenta do Histórico Familiar</option><option value="Media Inquiries" id="form_0020_fld_7-3">Consultas de mídia</option><option value="Investor Information" id="form_0020_fld_7-4">Informações ao investidor</option><option value="Other" id="form_0020_fld_7-5">Outros</option> </select></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_ctp'); 
                }
            </script>

<div class="row">
<div class="col-md-10">
<div class="field-wrapper required"><label for="form_quest">Dúvida ou comentário</label><textarea id="form_quest" rows="10" name="Contact_Text" cols="30"></textarea></div>
</div>
</div>
<script type="text/javascript">
                if (typeof(addRequiredField) != 'undefined') { 
                    addRequiredField ('form_quest'); 
                }
            </script>

<div class="row">
<div class="col-md-5">
<div class="field-wrapper"><button type="submit" class="btn btn-color-bondi btn-lg">ENVIAR</button></div>
</div>
</div>
</form>
</div>

<div class="col-md-3">
<div class="content-sidebar">
<h4>Consultas sobre o teste</h4>

<p>Telefone: +1 415-374-7782</p>

<p>Ligação gratuita: 800-436-3037</p>

<p>Em espanhol: +1 415-423-3277</p>

<p>Fax: +1 415-276-4164</p>

<p>E-mail: <a href="mailto:clientservices@invitae.com">clientservices@invitae.com</a></p>

<h4>Consultas internacionais​</h4>

<p>E-mail: <a href="mailto:globalsupport@invitae.com">globalsupport@invitae.com</a></p>

<p>Em Inglês: +1 415-930-4018</p>

<p>Números de telefone locais:</p>

<p>Argentina: +54 11-5032-0180</p>

<p>Brasil: +55 11-3181-4924</p>

<p>Chile: +56 2-2599-4386</p>

<p>Colômbia: +57 1-486-4863</p>

<p>México: +52 554-777-2190</p>

<p>Peru: +51 1-705-9827</p>

<p>Uruguay: +598 000-4019-0910</p>
</div>
</div>
</div>
