<div class="row">
                <div class="col-md-12">
                    <div class="offset-panel">
                        <div class="number-color-emerald">2</div><h3>Place your order</h3>
                        <a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.search' %}">
                            <span class="icon icon-order-cart"></span>Start an order
                        </a>

                        <p>After selecting conditions from our online catalog, follow our simple step-by-step online
                        ordering process to submit a requisition.</p>

                        <p>If you prefer placing a paper-based order, you can also download our
                        test requisition form on our <a href="{% page_url 'portal_common.order-forms' %}">Order Forms</a> page.</p>
                    </div>
                </div>
            </div>