<div class="row">
<div class="col-md-12">
<h3>Sample collection kits, delivered to you.</h3>

<p>To make the testing process as quick and simple as possible, Invitae will send you a free kit complete with all the materials needed to collect the sample. Our kits come with a return shipping label included so you can ship the kit back to us at no cost.</p>

<p>We’ll even auto-replenish your supply of collection kits so you're never left looking for the supplies you need.</p>
</div>
</div>

<div class="row">
<div id="submission-success">Your Kit Request has been sent.</div>

<div id="kit-form-container" class="col-md-12">{% include "public/request-kit-form.html" %}
<div class="submit-container">
<div class="submit-line-pointer"> </div>
<button type="button" id="submit-request-kit" class="btn btn-md btn-color-inherit">Submit Kit Request</button></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>Free blood draw services, nationwide.</h3>

<p>Let us come to you or your patient. We can schedule a blood draw appointment at your office or at your patient's home. This service is free of charge and offered nationwide.</p>

<p>To request a blood draw service:</p>

<ul class="bullet-list">
	<li>Contact Client Services to schedule your appointment, appointments must be scheduled at least three days in advance.</li>
	<li>We will ship a collection kit to your office or to your patient's home with all the necessary supplies and paperwork to collect the sample.</li>
	<li>Your phlebotomist will arrive at your appointment and collect your sample using the materials from our kit.</li>
</ul>

<p>To make a blood draw appointment, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
<br style="clear:left;">
<a class="btn btn-color-inherit btn-md" href="{% page_url 'portal_common.contact' %}">Contact</a></div>
</div>
