<div class="row">
<div class="col-md-12">
<h3>Sample collection kits, delivered to you.</h3>

<p>To make the testing process as quick as simple as possible, Invitae can send you kits complete with all the materials needed to collect the sample. For customers in the United States, our kits come with a return shipping label included so you can ship the kits back to us at no cost.</p>

<p>We’ll even auto-replenish your supply of collection kits so you're never left looking for the supplies you need. <a href="{% page_url 'portal_common.contact' %}">Contact</a> client services to learn more.</p>
</div>
</div>

<div class="row">
<div id="submission-success">Your Kit Request has been sent.</div>

<div class="col-md-12" id="kit-form-container">
<form accept-charset="UTF-8" enctype="multipart/form-data" id="request-kit-form" action="{% url 'portal_common.request-kit-subscriber' %}" method="post">
<div style="margin:0" class="form-wrapper"><input value="{{ user_country_value }}" type="hidden" id="request-kit-hidden-country" name="request-kit-hidden-country"> <input value="{{ user_state_value }}" type="hidden" id="request-kit-hidden-state" name="request-kit-hidden-state"> {% csrf_token %}
<div class="request-kit-info-wrapper">
<div class="contact-fields">
<div class="request-kit-field-wrapper id_kit-number_kits required {% if form.number_kits.errors %}error{% endif %}"><label for="id_kit-number_kits">Number of kits</label> {{ form.number_kits }}</div>

<div class="request-kit-field-wrapper id_kit-first_name required {% if form.first_name.errors %}error{% endif %}"><label for="id_kit-first_name">First name</label> <input value="{{form.first_name.value|default_if_none:''}}" type="text" id="id_kit-first_name" name="kit-first_name"></div>

<div class="request-kit-field-wrapper id_kit-last_name required {% if form.last_name.errors %}error{% endif %}"><label for="id_kit-last_name">Last name</label> <input value="{{form.last_name.value|default_if_none:''}}" type="text" id="id_kit-last_name" name="kit-last_name"></div>

<div class="request-kit-field-wrapper id_kit-organization required {% if form.organization.errors %}error{% endif %}"><label for="id_kit-organization">Organization</label> <input value="{{form.organization.value|default_if_none:''}}" type="text" id="id_kit-organization" name="kit-organization"></div>

<div class="request-kit-field-wrapper id_kit-persona required {% if form.persona.errors %}error{% endif %}"><label for="id_kit-persona">I am a:</label> {{ form.persona }}</div>

<div class="request-kit-field-wrapper id_kit-country required"><label for="id_kit-country">Country</label> <select name="kit-country" id="id_kit-country" class="styled-select__select"><option value=""></option><option value="United States" id="form_0024_fld_5-0">United States</option><option value="Afghanistan" id="form_0024_fld_5-1">Afghanistan</option><option value="Albania" id="form_0024_fld_5-2">Albania</option><option value="Algeria" id="form_0024_fld_5-3">Algeria</option><option value="American Samoa" id="form_0024_fld_5-4">American Samoa</option><option value="Andorra" id="form_0024_fld_5-5">Andorra</option><option value="Angola" id="form_0024_fld_5-6">Angola</option><option value="Anguilla" id="form_0024_fld_5-7">Anguilla</option><option value="Antarctica" id="form_0024_fld_5-8">Antarctica</option><option value="Antigua and Barbuda" id="form_0024_fld_5-9">Antigua and Barbuda</option><option value="Argentina" id="form_0024_fld_5-10">Argentina</option><option value="Armenia" id="form_0024_fld_5-11">Armenia</option><option value="Aruba" id="form_0024_fld_5-12">Aruba</option><option value="Australia" id="form_0024_fld_5-13">Australia</option><option value="Austria" id="form_0024_fld_5-14">Austria</option><option value="Azerbaijan" id="form_0024_fld_5-15">Azerbaijan</option><option value="Bahamas" id="form_0024_fld_5-16">Bahamas</option><option value="Bahrain" id="form_0024_fld_5-17">Bahrain</option><option value="Bangladesh" id="form_0024_fld_5-18">Bangladesh</option><option value="Barbados" id="form_0024_fld_5-19">Barbados</option><option value="Belarus" id="form_0024_fld_5-20">Belarus</option><option value="Belgium" id="form_0024_fld_5-21">Belgium</option><option value="Belize" id="form_0024_fld_5-22">Belize</option><option value="Benin" id="form_0024_fld_5-23">Benin</option><option value="Bermuda" id="form_0024_fld_5-24">Bermuda</option><option value="Bhutan" id="form_0024_fld_5-25">Bhutan</option><option value="Bolivia" id="form_0024_fld_5-26">Bolivia</option><option value="Bonaire" id="form_0024_fld_5-27">Bonaire</option><option value="Bosnia" id="form_0024_fld_5-28">Bosnia</option><option value="Botswana" id="form_0024_fld_5-29">Botswana</option><option value="Bouvet Island" id="form_0024_fld_5-30">Bouvet Island</option><option value="Brazil" id="form_0024_fld_5-31">Brazil</option><option value="British Indian Ocean Territory" id="form_0024_fld_5-32">British Indian Ocean Territory</option><option value="Brunei" id="form_0024_fld_5-33">Brunei</option><option value="Bulgaria" id="form_0024_fld_5-34">Bulgaria</option><option value="Burkina Faso" id="form_0024_fld_5-35">Burkina Faso</option><option value="Burundi" id="form_0024_fld_5-36">Burundi</option><option value="Cambodia" id="form_0024_fld_5-37">Cambodia</option><option value="Cameroon" id="form_0024_fld_5-38">Cameroon</option><option value="Canada" id="form_0024_fld_5-39">Canada</option><option value="Cape Verde" id="form_0024_fld_5-40">Cape Verde</option><option value="Cayman Islands" id="form_0024_fld_5-41">Cayman Islands</option><option value="Central African Republic" id="form_0024_fld_5-42">Central African Republic</option><option value="Chad" id="form_0024_fld_5-43">Chad</option><option value="Chile" id="form_0024_fld_5-44">Chile</option><option value="China" id="form_0024_fld_5-45">China</option><option value="Christmas Island" id="form_0024_fld_5-46">Christmas Island</option><option value="Cocos Islands" id="form_0024_fld_5-47">Cocos Islands</option><option value="Colombia" id="form_0024_fld_5-48">Colombia</option><option value="Comoros" id="form_0024_fld_5-49">Comoros</option><option value="Congo" id="form_0024_fld_5-50">Congo</option><option value="Congo, Dem. Rep." id="form_0024_fld_5-51">Congo, Dem. Rep.</option><option value="Cook Islands" id="form_0024_fld_5-52">Cook Islands</option><option value="Costa Rica" id="form_0024_fld_5-53">Costa Rica</option><option value="Croatia" id="form_0024_fld_5-54">Croatia</option><option value="Cuba" id="form_0024_fld_5-55">Cuba</option><option value="Curaçao" id="form_0024_fld_5-56">Curaçao</option><option value="Cyprus" id="form_0024_fld_5-57">Cyprus</option><option value="Czech Republic" id="form_0024_fld_5-58">Czech Republic</option><option value="Denmark" id="form_0024_fld_5-59">Denmark</option><option value="Djibouti" id="form_0024_fld_5-60">Djibouti</option><option value="Dominica" id="form_0024_fld_5-61">Dominica</option><option value="Dominican Republic" id="form_0024_fld_5-62">Dominican Republic</option><option value="Ecuador" id="form_0024_fld_5-63">Ecuador</option><option value="Egypt" id="form_0024_fld_5-64">Egypt</option><option value="El Salvador" id="form_0024_fld_5-65">El Salvador</option><option value="Equatorial Guinea" id="form_0024_fld_5-66">Equatorial Guinea</option><option value="Eritrea" id="form_0024_fld_5-67">Eritrea</option><option value="Estonia" id="form_0024_fld_5-68">Estonia</option><option value="Ethiopia" id="form_0024_fld_5-69">Ethiopia</option><option value="Falkland Islands (Malvinas)" id="form_0024_fld_5-70">Falkland Islands (Malvinas)</option><option value="Faroe Islands" id="form_0024_fld_5-71">Faroe Islands</option><option value="Fiji" id="form_0024_fld_5-72">Fiji</option><option value="Finland" id="form_0024_fld_5-73">Finland</option><option value="France" id="form_0024_fld_5-74">France</option><option value="French Guiana" id="form_0024_fld_5-75">French Guiana</option><option value="French Polynesia" id="form_0024_fld_5-76">French Polynesia</option><option value="French Southern Territories" id="form_0024_fld_5-77">French Southern Territories</option><option value="Gabon" id="form_0024_fld_5-78">Gabon</option><option value="Gambia" id="form_0024_fld_5-79">Gambia</option><option value="Georgia" id="form_0024_fld_5-80">Georgia</option><option value="Germany" id="form_0024_fld_5-81">Germany</option><option value="Ghana" id="form_0024_fld_5-82">Ghana</option><option value="Gibraltar" id="form_0024_fld_5-83">Gibraltar</option><option value="Greece" id="form_0024_fld_5-84">Greece</option><option value="Greenland" id="form_0024_fld_5-85">Greenland</option><option value="Grenada" id="form_0024_fld_5-86">Grenada</option><option value="Guadeloupe" id="form_0024_fld_5-87">Guadeloupe</option><option value="Guam" id="form_0024_fld_5-88">Guam</option><option value="Guatemala" id="form_0024_fld_5-89">Guatemala</option><option value="Guernsey" id="form_0024_fld_5-90">Guernsey</option><option value="Guinea" id="form_0024_fld_5-91">Guinea</option><option value="Guinea-Bissau" id="form_0024_fld_5-92">Guinea-Bissau</option><option value="Guyana" id="form_0024_fld_5-93">Guyana</option><option value="Haiti" id="form_0024_fld_5-94">Haiti</option><option value="Heard Island" id="form_0024_fld_5-95">Heard Island</option><option value="Honduras" id="form_0024_fld_5-96">Honduras</option><option value="Hong Kong" id="form_0024_fld_5-97">Hong Kong</option><option value="Hungary" id="form_0024_fld_5-98">Hungary</option><option value="Iceland" id="form_0024_fld_5-99">Iceland</option><option value="India" id="form_0024_fld_5-100">India</option><option value="Indonesia" id="form_0024_fld_5-101">Indonesia</option><option value="Iran" id="form_0024_fld_5-102">Iran</option><option value="Iraq" id="form_0024_fld_5-103">Iraq</option><option value="Ireland" id="form_0024_fld_5-104">Ireland</option><option value="Isle of Man" id="form_0024_fld_5-105">Isle of Man</option><option value="Israel" id="form_0024_fld_5-106">Israel</option><option value="Italy" id="form_0024_fld_5-107">Italy</option><option value="Ivory Coast" id="form_0024_fld_5-108">Ivory Coast</option><option value="Jamaica" id="form_0024_fld_5-109">Jamaica</option><option value="Japan" id="form_0024_fld_5-110">Japan</option><option value="Jersey" id="form_0024_fld_5-111">Jersey</option><option value="Jordan" id="form_0024_fld_5-112">Jordan</option><option value="Kazakhstan" id="form_0024_fld_5-113">Kazakhstan</option><option value="Kenya" id="form_0024_fld_5-114">Kenya</option><option value="Kiribati" id="form_0024_fld_5-115">Kiribati</option><option value="Korea" id="form_0024_fld_5-116">Korea</option><option value="Korea, DPRK" id="form_0024_fld_5-117">Korea, DPRK</option><option value="Kuwait" id="form_0024_fld_5-118">Kuwait</option><option value="Kyrgyzstan" id="form_0024_fld_5-119">Kyrgyzstan</option><option value="Laos" id="form_0024_fld_5-120">Laos</option><option value="Latvia" id="form_0024_fld_5-121">Latvia</option><option value="Lebanon" id="form_0024_fld_5-122">Lebanon</option><option value="Lesotho" id="form_0024_fld_5-123">Lesotho</option><option value="Liberia" id="form_0024_fld_5-124">Liberia</option><option value="Libya" id="form_0024_fld_5-125">Libya</option><option value="Liechtenstein" id="form_0024_fld_5-126">Liechtenstein</option><option value="Lithuania" id="form_0024_fld_5-127">Lithuania</option><option value="Luxembourg" id="form_0024_fld_5-128">Luxembourg</option><option value="Macao" id="form_0024_fld_5-129">Macao</option><option value="Macedonia" id="form_0024_fld_5-130">Macedonia</option><option value="Madagascar" id="form_0024_fld_5-131">Madagascar</option><option value="Malawi" id="form_0024_fld_5-132">Malawi</option><option value="Malaysia" id="form_0024_fld_5-133">Malaysia</option><option value="Maldives" id="form_0024_fld_5-134">Maldives</option><option value="Mali" id="form_0024_fld_5-135">Mali</option><option value="Malta" id="form_0024_fld_5-136">Malta</option><option value="Marshall Islands" id="form_0024_fld_5-137">Marshall Islands</option><option value="Martinique" id="form_0024_fld_5-138">Martinique</option><option value="Mauritania" id="form_0024_fld_5-139">Mauritania</option><option value="Mauritius" id="form_0024_fld_5-140">Mauritius</option><option value="Mayotte" id="form_0024_fld_5-141">Mayotte</option><option value="Mexico" id="form_0024_fld_5-142">Mexico</option><option value="Micronesia, Fed." id="form_0024_fld_5-143">Micronesia, Fed.</option><option value="Moldova" id="form_0024_fld_5-144">Moldova</option><option value="Monaco" id="form_0024_fld_5-145">Monaco</option><option value="Mongolia" id="form_0024_fld_5-146">Mongolia</option><option value="Montenegro" id="form_0024_fld_5-147">Montenegro</option><option value="Montserrat" id="form_0024_fld_5-148">Montserrat</option><option value="Morocco" id="form_0024_fld_5-149">Morocco</option><option value="Mozambique" id="form_0024_fld_5-150">Mozambique</option><option value="Myanmar" id="form_0024_fld_5-151">Myanmar</option><option value="Namibia" id="form_0024_fld_5-152">Namibia</option><option value="Nauru" id="form_0024_fld_5-153">Nauru</option><option value="Nepal" id="form_0024_fld_5-154">Nepal</option><option value="Netherlands" id="form_0024_fld_5-155">Netherlands</option><option value="New Caledonia" id="form_0024_fld_5-156">New Caledonia</option><option value="New Zealand" id="form_0024_fld_5-157">New Zealand</option><option value="Nicaragua" id="form_0024_fld_5-158">Nicaragua</option><option value="Niger" id="form_0024_fld_5-159">Niger</option><option value="Nigeria" id="form_0024_fld_5-160">Nigeria</option><option value="Niue" id="form_0024_fld_5-161">Niue</option><option value="Norfolk Island" id="form_0024_fld_5-162">Norfolk Island</option><option value="Northern Marianas" id="form_0024_fld_5-163">Northern Marianas</option><option value="Norway" id="form_0024_fld_5-164">Norway</option><option value="Oman" id="form_0024_fld_5-165">Oman</option><option value="Pakistan" id="form_0024_fld_5-166">Pakistan</option><option value="Palau" id="form_0024_fld_5-167">Palau</option><option value="Palestinian Terr." id="form_0024_fld_5-168">Palestinian Terr.</option><option value="Panama" id="form_0024_fld_5-169">Panama</option><option value="Papua New Guinea" id="form_0024_fld_5-170">Papua New Guinea</option><option value="Paraguay" id="form_0024_fld_5-171">Paraguay</option><option value="Peru" id="form_0024_fld_5-172">Peru</option><option value="Philippines" id="form_0024_fld_5-173">Philippines</option><option value="Pitcairn" id="form_0024_fld_5-174">Pitcairn</option><option value="Poland" id="form_0024_fld_5-175">Poland</option><option value="Portugal" id="form_0024_fld_5-176">Portugal</option><option value="Puerto Rico" id="form_0024_fld_5-177">Puerto Rico</option><option value="Qatar" id="form_0024_fld_5-178">Qatar</option><option value="Romania" id="form_0024_fld_5-179">Romania</option><option value="Russia" id="form_0024_fld_5-180">Russia</option><option value="Rwanda" id="form_0024_fld_5-181">Rwanda</option><option value="Réunion" id="form_0024_fld_5-182">Réunion</option><option value="Saint Barthélemy" id="form_0024_fld_5-183">Saint Barthélemy</option><option value="Saint Helena" id="form_0024_fld_5-184">Saint Helena</option><option value="Saint Kitts and Nevis" id="form_0024_fld_5-185">Saint Kitts and Nevis</option><option value="Saint Lucia" id="form_0024_fld_5-186">Saint Lucia</option><option value="Saint Martin (French)" id="form_0024_fld_5-187">Saint Martin (French)</option><option value="Saint Pierre and Miquelon" id="form_0024_fld_5-188">Saint Pierre and Miquelon</option><option value="Saint Vincent" id="form_0024_fld_5-189">Saint Vincent</option><option value="Samoa" id="form_0024_fld_5-190">Samoa</option><option value="San Marino" id="form_0024_fld_5-191">San Marino</option><option value="Sao Tome &amp; Principe" id="form_0024_fld_5-192">Sao Tome &amp; Principe</option><option value="Saudi Arabia" id="form_0024_fld_5-193">Saudi Arabia</option><option value="Senegal" id="form_0024_fld_5-194">Senegal</option><option value="Serbia" id="form_0024_fld_5-195">Serbia</option><option value="Seychelles" id="form_0024_fld_5-196">Seychelles</option><option value="Sierra Leone" id="form_0024_fld_5-197">Sierra Leone</option><option value="Singapore" id="form_0024_fld_5-198">Singapore</option><option value="Sint Maarten (Dutch)" id="form_0024_fld_5-199">Sint Maarten (Dutch)</option><option value="Slovakia" id="form_0024_fld_5-200">Slovakia</option><option value="Slovenia" id="form_0024_fld_5-201">Slovenia</option><option value="Solomon Islands" id="form_0024_fld_5-202">Solomon Islands</option><option value="Somalia" id="form_0024_fld_5-203">Somalia</option><option value="South Africa" id="form_0024_fld_5-204">South Africa</option><option value="South Georgia and the South Sandwich Islands" id="form_0024_fld_5-205">South Georgia and the South Sandwich Islands</option><option value="South Sudan" id="form_0024_fld_5-206">South Sudan</option><option value="Spain" id="form_0024_fld_5-207">Spain</option><option value="Sri Lanka" id="form_0024_fld_5-208">Sri Lanka</option><option value="Sudan" id="form_0024_fld_5-209">Sudan</option><option value="Suriname" id="form_0024_fld_5-210">Suriname</option><option value="Svalbard" id="form_0024_fld_5-211">Svalbard</option><option value="Swaziland" id="form_0024_fld_5-212">Swaziland</option><option value="Sweden" id="form_0024_fld_5-213">Sweden</option><option value="Switzerland" id="form_0024_fld_5-214">Switzerland</option><option value="Syria" id="form_0024_fld_5-215">Syria</option><option value="Taiwan" id="form_0024_fld_5-216">Taiwan</option><option value="Tajikistan" id="form_0024_fld_5-217">Tajikistan</option><option value="Tanzania" id="form_0024_fld_5-218">Tanzania</option><option value="Tanzania" id="form_0024_fld_5-219">Tanzania</option><option value="Thailand" id="form_0024_fld_5-220">Thailand</option><option value="Timor-Leste" id="form_0024_fld_5-221">Timor-Leste</option><option value="Togo" id="form_0024_fld_5-222">Togo</option><option value="Tokelau" id="form_0024_fld_5-223">Tokelau</option><option value="Tonga" id="form_0024_fld_5-224">Tonga</option><option value="Trinidad and Tobago" id="form_0024_fld_5-225">Trinidad and Tobago</option><option value="Tunisia" id="form_0024_fld_5-226">Tunisia</option><option value="Turkey" id="form_0024_fld_5-227">Turkey</option><option value="Turkmenistan" id="form_0024_fld_5-228">Turkmenistan</option><option value="Turks and Caicos" id="form_0024_fld_5-229">Turks and Caicos</option><option value="Tuvalu" id="form_0024_fld_5-230">Tuvalu</option><option value="U.A.E." id="form_0024_fld_5-231">U.A.E.</option><option value="Uganda" id="form_0024_fld_5-232">Uganda</option><option value="Ukraine" id="form_0024_fld_5-233">Ukraine</option><option value="United Kingdom" id="form_0024_fld_5-234">United Kingdom</option><option value="United States Minor Outlying Islands" id="form_0024_fld_5-235">United States Minor Outlying Islands</option><option value="Uruguay" id="form_0024_fld_5-236">Uruguay</option><option value="Uzbekistan" id="form_0024_fld_5-237">Uzbekistan</option><option value="Vanuatu" id="form_0024_fld_5-238">Vanuatu</option><option value="Vatican City" id="form_0024_fld_5-239">Vatican City</option><option value="Venezuela" id="form_0024_fld_5-240">Venezuela</option><option value="Viet Nam" id="form_0024_fld_5-241">Viet Nam</option><option value="Virgin Islands, British" id="form_0024_fld_5-242">Virgin Islands, British</option><option value="Virgin Islands, U.S." id="form_0024_fld_5-243">Virgin Islands, U.S.</option><option value="Wallis and Futuna" id="form_0024_fld_5-244">Wallis and Futuna</option><option value="Western Sahara" id="form_0024_fld_5-245">Western Sahara</option><option value="Yemen" id="form_0024_fld_5-246">Yemen</option><option value="Zambia" id="form_0024_fld_5-247">Zambia</option><option value="Zimbabwe" id="form_0024_fld_5-248">Zimbabwe</option><option value="Åland Islands" id="form_0024_fld_5-249">Åland Islands</option> </select></div>

<div class="request-kit-field-wrapper id_kit-state"><label for="id_kit-state">State/Province</label> <select name="kit-state" id="id_kit-state" class="styled-select__select"><option value=""></option><option value="AL" id="form_0024_fld_4-0">Alabama</option><option value="AK" id="form_0024_fld_4-1">Alaska</option><option value="AZ" id="form_0024_fld_4-2">Arizona</option><option value="AR" id="form_0024_fld_4-3">Arkansas</option><option value="CA" id="form_0024_fld_4-4">California</option><option value="CO" id="form_0024_fld_4-5">Colorado</option><option value="CT" id="form_0024_fld_4-6">Connecticut</option><option value="DE" id="form_0024_fld_4-7">Delaware</option><option value="DC" id="form_0024_fld_4-8">District of Columbia</option><option value="FL" id="form_0024_fld_4-9">Florida</option><option value="GA" id="form_0024_fld_4-10">Georgia</option><option value="HI" id="form_0024_fld_4-11">Hawaii</option><option value="ID" id="form_0024_fld_4-12">Idaho</option><option value="IL" id="form_0024_fld_4-13">Illinois</option><option value="IN" id="form_0024_fld_4-14">Indiana</option><option value="IA" id="form_0024_fld_4-15">Iowa</option><option value="KS" id="form_0024_fld_4-16">Kansas</option><option value="KY" id="form_0024_fld_4-17">Kentucky</option><option value="LA" id="form_0024_fld_4-18">Louisiana</option><option value="ME" id="form_0024_fld_4-19">Maine</option><option value="MD" id="form_0024_fld_4-20">Maryland</option><option value="MA" id="form_0024_fld_4-21">Massachusetts</option><option value="MI" id="form_0024_fld_4-22">Michigan</option><option value="MN" id="form_0024_fld_4-23">Minnesota</option><option value="MS" id="form_0024_fld_4-24">Mississippi</option><option value="MO" id="form_0024_fld_4-25">Missouri</option><option value="MT" id="form_0024_fld_4-26">Montana</option><option value="NE" id="form_0024_fld_4-27">Nebraska</option><option value="NV" id="form_0024_fld_4-28">Nevada</option><option value="NH" id="form_0024_fld_4-29">New Hampshire</option><option value="NJ" id="form_0024_fld_4-30">New Jersey</option><option value="NM" id="form_0024_fld_4-31">New Mexico</option><option value="NY" id="form_0024_fld_4-32">New York</option><option value="NC" id="form_0024_fld_4-33">North Carolina</option><option value="ND" id="form_0024_fld_4-34">North Dakota</option><option value="OH" id="form_0024_fld_4-35">Ohio</option><option value="OK" id="form_0024_fld_4-36">Oklahoma</option><option value="OR" id="form_0024_fld_4-37">Oregon</option><option value="PA" id="form_0024_fld_4-38">Pennsylvania</option><option value="PR" id="form_0024_fld_4-39">Puerto Rico</option><option value="RI" id="form_0024_fld_4-40">Rhode Island</option><option value="SC" id="form_0024_fld_4-41">South Carolina</option><option value="SD" id="form_0024_fld_4-42">South Dakota</option><option value="TN" id="form_0024_fld_4-43">Tennessee</option><option value="TX" id="form_0024_fld_4-44">Texas</option><option value="UT" id="form_0024_fld_4-45">Utah</option><option value="VT" id="form_0024_fld_4-46">Vermont</option><option value="VA" id="form_0024_fld_4-47">Virginia</option><option value="WA" id="form_0024_fld_4-48">Washington</option><option value="WV" id="form_0024_fld_4-49">West Virginia</option><option value="WI" id="form_0024_fld_4-50">Wisconsin</option><option value="WY" id="form_0024_fld_4-51">Wyoming</option><option value="AB" id="form_0024_fld_4-52">Alberta</option><option value="BC" id="form_0024_fld_4-53">British Columbia</option><option value="MB" id="form_0024_fld_4-54">Manitoba</option><option value="NB" id="form_0024_fld_4-55">New Brunswick</option><option value="NL" id="form_0024_fld_4-56">Newfoundland and Labrador</option><option value="NS" id="form_0024_fld_4-57">Nova Scotia</option><option value="ON" id="form_0024_fld_4-58">Ontario</option><option value="PE" id="form_0024_fld_4-59">Prince Edward Island</option><option value="QC" id="form_0024_fld_4-60">Quebec</option><option value="SK" id="form_0024_fld_4-61">Saskatchewan</option> </select> <span class="help-text">If US or Canada</span></div>

<div class="request-kit-field-wrapper id_kit-city required {% if form.city.errors %}error{% endif %}"><label for="id_kit-city">City</label> <input value="{{form.city.value|default_if_none:''}}" type="text" id="id_kit-city" name="kit-city"></div>

<div class="request-kit-field-wrapper id_kit-zipcode required {% if form.zipcode.errors %}error{% endif %}"><label for="id_kit-zipcode">Zip code</label> <input value="{{form.zipcode.value|default_if_none:''}}" type="text" id="id_kit-zipcode" name="kit-zipcode"></div>

<div class="request-kit-field-wrapper id_kit-address1 required {% if form.address1.errors %}error{% endif %}"><label for="id_kit-address1">Address 1</label> <input value="{{form.address1.value|default_if_none:''}}" type="text" id="id_kit-address1" name="kit-address1"></div>

<div class="request-kit-field-wrapper id_kit-address2 {% if form.address2.errors %}error{% endif %}"><label for="id_kit-address2">Address 2</label> <input value="{{form.address2.value|default_if_none:''}}" type="text" id="id_kit-address2" name="kit-address2"></div>

<div class="request-kit-field-wrapper id_kit-phone required {% if form.phone.errors %}error{% endif %}"><label for="id_kit-phone">Work phone</label> <input value="{{form.phone.value|default_if_none:''}}" type="text" maxlength="30" id="id_kit-phone" name="kit-phone"></div>

<div class="request-kit-field-wrapper id_kit-cell_phone required {% if form.cell_phone.errors %}error{% endif %}"><label for="id_kit-cell_phone">Mobile phone</label> <input value="{{form.cell_phone.value|default_if_none:''}}" type="text" maxlength="30" id="id_kit-cell_phone" name="kit-cell_phone"></div>

<div class="request-kit-field-wrapper id_kit-email required {% if form.email.errors %}error{% endif %}"><label for="id_kit-email">Email</label> <input value="{{form.email.value|default_if_none:''}}" type="text" maxlength="77" id="id_kit-email" name="kit-email"></div>

<div class="request-kit-field-wrapper id_kit-specialty required {% if form.specialty.errors %}error{% endif %}"><label for="id_kit-specialty">Medical specialty:</label> {{ form.specialty }}</div>
</div>

<div style="clear:both;"> </div>
</div>
<!-- .request-kit-info-wrapper --></div>
<!-- .form-wrapper --><input value="{{ from_page }}" type="hidden" name="from_page"> <input value="clinical@invitae.com" type="hidden" name="alert-address"></form>

<div class="submit-container"><button type="button" class="btn btn-md btn-color-inherit" id="submit-request-kit">Submit Kit Request</button></div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<h3>Blood draw services in the US and Canada.</h3>

<p>Let us come to you or your patient. We can schedule a blood draw appointment at your office or at your patient's home. This service is offered in the US and Canada at no additional charge.</p>

<p>To request a blood draw service:</p>

<ul class="bullet-list">
	<li>Contact Client Services to schedule your appointment; appointments must be scheduled at least three days in advance.</li>
	<li>We will ship a collection kit to your office or to your patient's home with all the necessary supplies and paperwork to collect the sample.</li>
	<li>Your phlebotomist will arrive at your appointment and collect your sample using the materials from our kit.</li>
</ul>

<p>To make a blood draw appointment, please contact <a href="{% page_url 'portal_common.contact' %}">Client Services</a>.</p>
<br style="clear:left;">
<a class="btn btn-color-inherit btn-md" href="{% page_url 'portal_common.contact' %}">Contact</a></div>
</div>
