<div class="row">
<div class="col-md-12">
<h3>Testes flex&iacute;veis: selecione um &uacute;nico painel, combine v&aacute;rios ou personalize se pr&oacute;prio painel.</h3>

<p>A Invitae est&aacute; fazendo testes de cardiologia mais rapidamente e mais baratos do que nunca. Qualquer que seja a op&ccedil;&atilde;o escolhida, &eacute; oferecida uma tarifa &uacute;nica<sup>*</sup>. S&atilde;o apenas tr&ecirc;s semanas, em m&eacute;dia, desde a coleta at&eacute; os resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0017' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome do QT longo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0017' %}">Ver teste</a>

<p>Painel de 13 genes que inclui os cinco principais genes associados &agrave; s&iacute;ndrome do QT longo -- KCNQ1, KCNH2, SCN5A, KCNE1 e KCNE2 -- al&eacute;m de oito genes adicionais. Fornecemos sequenciamento gen&eacute;tico completo e an&aacute;lise de dele&ccedil;&atilde;o/duplica&ccedil;&atilde;o em um &uacute;nico teste.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0016' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de Brugada</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0016' %}">Ver teste</a>

<p>Painel de 10 genes que inclui o principal gene associado &agrave; SBr -- SCN5A -- al&eacute;m de outros nove genes.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0019' %}"><span class="icon icon-angle-right"></span>Cardiomiopatia hipertr&oacute;fica</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0019' %}">Ver teste</a>

<p>Painel de 16 genes para CH que inclui os 10 principais genes do sarc&ocirc;mero, al&eacute;m de seis genes adicionais.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0018' %}"><span class="icon icon-angle-right"></span> S&iacute;ndrome do QT curto</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0018' %}">Ver teste</a>

<p>Painel de seis genes que inclui KCNH2, CACNA2D1, CACNB2, KCNJ2, KCNQ1 e CACNA1C.</p>
</div>
</div>
</div>

<div class="col-md-5">
<div class="cardio-testing-figure">
<div class="content">&nbsp;</div>
</div>
</div>
</div>
