<div class="row">
<div class="col-md-12">
<h3>Oferecemos opções flexíveis de testes.</h3>

<p>A Invitae oferece opções de testes para câncer de pâncreas amplas e com preço acessível.</p>

<p>Solicite nosso painel de Câncer de Pâncreas Hereditário organizado por especialistas, o mais recente em nosso conjunto de testes de câncer hereditário. Esse painel abrange 17 dos genes mais comumente vinculados a um risco elevado de câncer de pâncreas. Se você quiser se aprofundar, também é possível fazer upgrade para nosso painel de Síndromes de Câncer Hereditário.</p>

<p>Um mesmo <span style="font-size: 16px; line-height: 22px;">preço para q</span>ualquer teste<span style="position: relative; font-size: 11px; line-height: 0; vertical-align: baseline; top: -0.5em;">*</span>. São apenas três semanas, em média, desde a coleta até os resultados.</p>
</div>
</div>

<div class="row">
<div class="col-md-7">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0010' %}"><span class="icon icon-angle-right"></span>Câncer de pâncreas hereditário</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0010' %}">Ver teste</a>

<p>Um painel de 17 genes analisa o risco de um paciente ter câncer de pâncreas hereditário, além de outros cânceres. Outros genes que avaliem o risco hereditário de pancreatite em um paciente podem ser adicionados à sua requisição sem custo adicional.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>Síndromes de câncer hereditário</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver teste</a>

<p>Testa 34 genes comprovadamente associados às síndromes estabelecidas de câncer hereditário.</p>
</div>
</div>
 

<h3>Personalize para análises adicionais.</h3>

<p>Além dos 17 genes do painel de Câncer de pâncreas da Invitae, alguns prestadores também optam por incluir os seguintes genes ao avaliar um paciente quanto à ocorrência de câncer de pâncreas hereditário:</p>

<p><em>CDK4</em>, <em>CFTR</em>, <em>CTRC</em>, e <em>SPINK1</em></p>

<p>Na Invitae, como sempre, você pode personalizar sua requisição para incluir esses genes sem custo adicional. Clique em Ver teste para saber mais.</p>
</div>

<div class="col-md-5">
<div class="pancreatic-cancer">
<div class="interactive-figure">
<div class="figure"><a class="figure3" href="#"><span class="icon"></span>Síndromes de Câncer Hereditário </a> <a class="figure4" href="#"> <span class="icon"></span>Câncer de Pâncreas Hereditário </a></div>

<div class="fig-row">
<div class="title">BRCA1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRCA2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MEN1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">STK11</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">VHL</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">TP53</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDKN2A</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">ATM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALB2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PALLD</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">EPCAM</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MLH1</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MSH6</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PMS2</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">APC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">FANCC</div>

<div class="check"> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTEN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CHEK2</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BRIP1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD51C</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NBN</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BMPR1A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">SMAD4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MUTYH</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">CDK4</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RET</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">PTCH1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">BARD1</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">MRE11A</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">NF1†</div>

<div> </div>

<div class="check"> </div>
</div>

<div class="fig-row">
<div class="title">RAD50</div>

<div> </div>

<div class="check"> </div>
</div>
</div>
</div>

<p> </p>

<p class="fig-footnotes">
† NF1: Os exons 16-24, 31-35 não estão incluídos na análise de deleção/duplicação</p>
</div>
</div>
