<div class="row">
<div class="col-md-12">
<h3>Broaden your search</h3>

<p>Invitae's re-requisition service is offered at no additional charge for diagnostic panel testing and provides the flexibility you need to order the right genes at the right pace.</p>

<p>Depending on your patient’s clinical and family history, it may be appropriate to begin with a smaller panel test and then expand your search to a broader panel if desired.</p>

<p>If you don’t find the answers you’re looking for with your first panel test, you may order more genes within the original <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> within 90 days for no additional charge. Our service includes:</p>

<ul class="bullet-list">
	<li>no additional charge for the new test report</li>
	<li>no new specimen required (if a positive result is found, a new specimen may be required for confirmation testing)</li>
	<li>average 10–21 calendar day turnaround time for the new results</li>
</ul>

<h4><strong>Who is eligible?</strong></h4>

<p>A case is eligible for one re-requisition at no additional charge if:</p>

<ul class="bullet-list">
	<li>the original order was for a diagnostic panel test</li>
	<li>the re-requisition order is placed within 90 days of the original report release</li>
	<li>the genes added are within the same clinical area as the initial order and were available at the time of the original order</li>
</ul>

<p>Beyond 90 days from the original report release date, the patient will be billed $250 for a re-requisition, even if the genes are within the original clinical area. In addition, a new specimen will be required.</p>

<p>Re-requisition is based on a standard Invitae test. Family members tested under Invitae’s <a href="{% page_url 'portal_common.family-testing' %}">family variant testing</a> program are not eligible for re-requisitions at no additional charge.</p>

<p>Please note, we are unable to offer re-requisition from a panel test to exome testing. If you would like to proceed with the Invitae Boosted Exome, please submit a new order and specimen(s).</p>

<h4><strong>How do I order a re-requisition?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Sign In</a>

<p>To use our automated re-requisition tool:</p>

<ul class="bullet-list">
	<li>Sign in to your account and view your order history page.</li>
	<li>Select the order for which you would like to place a re-requisition.</li>
	<li>Click the "View Options" button under the re-requisition section of the Order Status page.</li>
	<li>Use the re-requisition tool to select additional genes, panels, or disorders for your patient.</li>
</ul>

<p>Alternatively, you can also contact our client services team:</p>

<ul class="bullet-list">
	<li>Phone: 800-436-3037 or +1-415-374-7782</li>
	<li>Email: <a href="mailto:clientservices@invitae.com?Subject=Re-requisition">clientservices@invitae.com</a></li>
</ul>

<h4><strong>Can I add genes in a different clinical area?</strong></h4>

<p>You can re-requisition additional genes within another <a href="{% page_url 'portal_common.clinical-areas' %}">clinical area</a> at any time. These orders will be billed separately as a new order and may also require a new specimen, depending on the clinical area of the added genes.</p>
</div>
</div>