<div class="row">
<div class="col-md-12">
<h3>Broaden your search.</h3>

<p>Invitae's re-requisition service is offered at no additional charge and provides the flexibility you need to order the right genes at the right pace.</p>

<p>Depending on your patient’s clinical and family history, it may be appropriate to begin with a smaller genetic test and then expand your search to a broader panel if desired.</p>

<p>If you don’t find the answers you’re looking for with your first genetic test, you may order more genes related to the original indication within 90 days for no additional charge. Our service includes:</p>

<ul class="bullet-list">
	<li>no additional charge for the new test report</li>
	<li>no new sample required (if a positive result is found, a new sample may be required for confirmation testing)</li>
	<li>average three week turnaround time for the new results</li>
</ul>

<h4><strong>Who is eligible?</strong></h4>

<p>A case is eligible for one re-requisition at no additional charge if:</p>

<ul class="bullet-list">
	<li>the re-requisition order is placed within 90 days of the original report release</li>
	<li>the genes added are related to the patient’s original indication for testing and were available at the time of the original order</li>
</ul>

<p>Beyond 90 days from the original report release date, the patient will be billed $475 for re-requisitions related to the same clinical indication.</p>

<h4><strong>How do I order a re-requisition?</strong></h4>
<a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'portal_common.signin' %}">Sign In</a>

<p>To use our automated re-requisition tool:</p>

<ul class="bullet-list">
	<li>Sign in to your account and view your order history page.</li>
	<li>Select the order for which you would like to place a re-requisition.</li>
	<li>Click the "View Options" button under the re-requisition section of the Order Status page.</li>
	<li>Use the re-requisition tool to select additional genes, panels, or disorders for your patient.</li>
</ul>

<p>Alternatively, you can also contact our client services team:</p>

<ul class="bullet-list">
	<li>Phone: 800-436-3037 or +1-415-374-7782</li>
	<li>Email: <a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
</ul>

<p>If you contact client services via email, please do not include any medical records or medical information with your initial inquiry.</p>

<h4><strong>Can I add genes related to a different indication for testing?</strong></h4>

<p>You can re-requisition additional genes related to other indications for testing at any time. These orders will be billed separately as a new order and may also require a new sample, depending on the clinical area of the new indication.</p>
</div>
</div>