<div class="row">
                <div class="col-md-12">
                    <h3>Broaden your search.</h3>
                    
                    <p>Invitae’s free re-requisition service provides the flexibility you need to order the right genes at the right pace.</p>
                    <p>Depending on your patient’s clinical and family history, it may be appropriate to begin with a smaller genetic test and reflex to a broader panel if the initial results are negative or inconclusive.</p>
                    <p>If your patient receives a negative or inconclusive result on an Invitae test, you can test more genes related to the original indication for testing for no additional charge.</p>
                        
                    <ul class="bullet-list">
                        <li>No new sample required<sup>*</sup></li>
                        <li>No additional cost for the new test report</li>
                        <li>Average three week turnaround time for the new results</li>
                    </ul>

                    <p><sup>*</sup>If a positive result is found, a new sample may be required for confirmation testing.</p>

                    <h4><strong>Who is eligible?</strong></h4>

                    <p>A case is eligible for our free re-requisition service if:</p>
                     <ul class="bullet-list">
                        <li>The patient received a negative or inconclusive result on an Invitae genetic test</li>
                        <li>The re-requisition order is placed within 90 days of the original report release<sup>*</sup></li>
                        <li>The genes added are related to the patient’s original indication for testing</li>
                    </ul>

                    <p><sup>*</sup>If you wish to place a re-requisition order after 90 days, the cost is just $500.</p>

                    <h4><strong>How do I apply?</strong></h4>

                    <a href="{% url 'portal_common.signin' %}" class="btn btn-color-inherit btn-sm btn-right">Sign In</a>

                    <p>The preferred method of contact is via our secure messaging system in your online account. To
                        access this system, sign in to your account, view your order history, and select the Order ID
                        number of
                        the patient. You can then click on the messages tab to contact us about Free Re-requisition in a secure and HIPAA-compliant manner.</p>

                    <p>Alternatively, you can also contact our client services team:</p>

                    <ul class="bullet-list">
                        <li>Phone: 800-436-3037 or +1-415-374-7782</li>
                        <li>Email: <a href="mailto:clinical@invitae.com?Subject=Re-requisition">clinical@invitae.com</a></li>
                    </ul>
                    <p>If you contact client services via email, please do not include any medical records or medical
                        information with your initial inquiry.</p>

                    <h4><strong>What if I want to place an order related to a different indication for testing?</strong></h4>

                    <p>You can re-requisition additional genes related to other indications for testing at any time.
                        These orders will be billed separately as a new order and may also require a new sample,
                        depending on the clinical area of the new indication.</p>
                </div>
            </div>