<div class="row">
<div class="col-md-12">
<h3>BRCA y m&aacute;s, a su propio ritmo.</h3>

<p>Nuevas opciones de pedido para c&aacute;ncer hereditario de mama, ovario y endometrial/uterino. Solicite s&oacute;lo los genes BRCA o mejore su opci&oacute;n con cualquiera de nuestros paneles de m&uacute;ltiples genes por el mismo precio<sup>*</sup>.&nbsp;S&oacute;lo tres semanas en promedio desde la muestra hasta los resultados.<br />
&nbsp;</p>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="expandable-item rotate">
<h4><a href="{% url 'physician.condition-detail' 'CND0089' %}"><span class="icon icon-angle-right"></span>S&iacute;ndrome de c&aacute;ncer de mama y de ovario hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.condition-detail' 'CND0089' %}">Ver Prueba</a>

<p>BRCA1 y BRCA2 representan el ~50% de los casos de c&aacute;ncer hereditario de mama y de ovario en mujeres con antecedentes familiares o diagn&oacute;stico a edad temprana. Nuestra prueba incluye la secuenciaci&oacute;n gen&eacute;tica completa y an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0009' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel de alto riesgo </a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0009' %}">Ver Prueba</a>

<p>Cubre trastornos causados por 7 genes que confieren un alto riesgo de c&aacute;ncer de mama durante la vida, que va desde el 40% hasta casi el 90%.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0020' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel de riesgo moderado</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0020' %}">Ver Prueba</a>

<p>Este panel incluye 10&nbsp;genes que se han asociado con un riesgo moderado de desarrollar c&aacute;ncer de mama.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0021' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer de mama hereditario, panel extendido</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0021' %}">Ver Prueba</a>

<p>Este panel cubre 17 genes que est&aacute;n asociados con un mayor riesgo de desarrollar c&aacute;ncer de mama en la vida, as&iacute; como otros tipos de c&aacute;ncer.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0022' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer ginecol&oacute;gico hereditario, panel de alto riesgo</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0022' %}">Ver Prueba</a>

<p>Cubre 9 genes que cuentan con pautas de manejo cl&iacute;nico publicadas.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0007' %}"><span class="icon icon-angle-right"></span>C&aacute;ncer hereditario de mama y ginecol&oacute;gico</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0007' %}">Ver Prueba</a>

<p>(Anteriormente panel de c&aacute;ncer hereditario de mujeres) un panel de 22 genes analiza la gen&eacute;tica para c&aacute;ncer hereditario de mama, de ovario y endometrial/uterino de un paciente.</p>
</div>
</div>

<div class="expandable-item rotate">
<h4><a href="{% url 'physician.panel-detail' 'PNL0004' %}"><span class="icon icon-angle-right"></span>S&iacute;ndromes de c&aacute;ncer hereditarios</a></h4>

<div class="expandable-content"><a class="btn btn-color-inherit btn-sm btn-right" href="{% url 'physician.panel-detail' 'PNL0004' %}">Ver Prueba</a>

<p>Estudia 34 genes que se sabe est&aacute;n asociados con s&iacute;ndromes de c&aacute;ncer hereditarios bien establecidos.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="brca-testing-figure">
<div class="content">&nbsp;</div>
</div>

<p class="fig-footnotes"><sup>*</sup> NF1: los exones 16-24, 31-35 no est&aacute;n incluidos en el an&aacute;lisis de deleci&oacute;n/duplicaci&oacute;n</p>
</div>
</div>
