<p>Fill out the information below to receive regular updates about product offerings, news and events.</p>

<div class="field-wrapper required"><label for="cms_id_first_name">First name</label><input id="cms_id_first_name" name="first_name" type="text" value="{{ user.first_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_last_name">Last name</label><input id="cms_id_last_name" name="last_name" type="text" value="{{ user.last_name }}" /></div>

<div class="field-wrapper required"><label for="cms_id_email">Email</label><input id="cms_id_email" name="email" type="text" value="{{ user.email }}" /></div>

<div class="field-wrapper required "><label for="cms_id_phone">Phone</label><input id="cms_id_phone" name="phone" type="text" value="{{ user.contact_info.phone }}" /></div>

<div class="field-wrapper required">
<div class="field-wrapper required"><label for="cms_id_country">Country</label><select data-country="" data-country-value="#cms_id_country_value" data-long-value="true" data-states-selector="#cms_id_state" id="cms_id_country" name="country"></select>

<div><input id="cms_id_country_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.country%20%7D%7D--&gt;" /></div>
</div>

<div class="field-wrapper required"><label for="cms_id_state">State/Province</label><select data-long-value="true" data-state-value="#cms_id_state_value" id="cms_id_state" name="state"></select>

<div><input id="cms_id_state_value" type="hidden" value="&lt;!--{cke_protected}%7B%7B%20user.contact_info.state%20%7D%7D--&gt;" /></div>
</div>
</div>

<div class="field-wrapper required">
<p>&nbsp;<label for="cms_id_organization">Organization</label><input id="cms_id_organization" name="organization" type="text" value="{{ user.userprofile.practice.name }}" /></p>
</div>

<div class="field-wrapper required"><label for="cms_id_speciality">Primary clincial area</label><select data-selected="{{ user.userprofile.specialty }}" id="cms_id_speciality" name="speciality"><option value="Oncology">Oncology</option><option value="Cardiology">Cardiology</option><option value="Neurology">Neurology</option><option value="Pediatrics">Pediatrics</option><option value="Medical Genetics">Medical Genetics</option><option value="Other Specialty ">Other Specialty</option></select></div>

<div class="field-wrapper required"><label for="cms_id_persona">I am a</label><select data-selected="{{ user.userprofile.persona }}" id="cms_id_persona" name="persona"><option value="Clinical Staff Member">Clinical Staff Member</option><option value="Genetic Counselor">Genetic Counselor</option><option value="Lab Management">Lab Management</option><option value="Nurse Navigator">Nurse Navigator</option><option value="Nurse Practitioner">Nurse Practitioner</option><option value="Registered Nurse">Registered Nurse</option><option value="Researcher">Researcher</option><option value="Resident/Student">Resident/Student</option><option value="Physician">Physician</option><option value="Physician Assistant">Physician Assistant</option><option value="Surgeon">Surgeon</option><option value="Patient">Patient</option><option value="Patient Family/Friend/Advocate">Patient Family/Friend/Advocate</option><option value="Other">Other</option></select></div>

<p><input name="source" type="hidden" value="Advertisement" /></p>

<p><input name="source_description" type="hidden" value="LP Form Test" /></p>

<p><input name="ao_campid" type="hidden" /></p>

<p><button class="btn btn-lg btn-color-mountain" type="submit">SUBMIT</button></p>
