<h1 class="landing-section-header">Our four pillars of value for managed care partners</h1>

<p class="landing-section-subhead">Tap below to learn more</p>

<div class="full-width-content">
<div id="pillar-quality" class="pillars-panel panel">
<div data-target="#pillar-content-quality" data-toggle="collapse" class="pillar-header collapsed"><i class="icon icon-quality"></i> <span class="pillar-name">QUALITY</span> <i class="pillar-indicator"></i></div>

<div id="pillar-content-quality" class="collapse">
<div class="pillar-content">
<h2 class="landing-big-text">A commitment to quality testing</h2>

<ul class="landing-page-bullets color-white">
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Invitae's &gt;1000 patient, peer-reviewed study, published in the <i>Journal of Molecular Diagnostics</i>, shows equivalence to established standards</div>

	<div class="col-xs-12 col-md-3 col-lg-2"><a href="{% page_url 'portal_common.validation-studies' %}" class="btn btn-lg ghost-button">VIEW STUDY</a></div>
	</div>
	</li>
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Highly automated laboratory coupled with a custom informatics environment ensures high-quality results</div>
	</div>
	</li>
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Evidence-based classification system enables reproducible variant reporting in line with ACMG guidelines</div>

	<div class="col-xs-12 col-md-3 col-lg-2"><a href="{% page_url 'portal_common.variant-classification' %}" class="btn btn-lg ghost-button">LEARN MORE</a></div>
	</div>
	</li>
</ul>
</div>
</div>
</div>

<div id="pillar-content" class="pillars-panel panel">
<div data-target="#pillar-content-content" data-toggle="collapse" class="pillar-header collapsed"><i class="icon icon-sliders"></i> <span class="pillar-name">CONTENT</span> <i class="pillar-indicator"></i></div>

<div id="pillar-content-content" class="collapse">
<div class="pillar-content">
<h2 class="landing-big-text">Comprehensive, actionable tests</h2>

<ul class="landing-page-bullets color-white">
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Comprehensive menu covers today's clinically relevant hereditary conditions</div>

	<div class="col-xs-12 col-md-3 col-lg-2"><a href="/physician/search/" class="btn btn-lg ghost-button">VIEW TESTS</a></div>
	</div>
	</li>
	<li>Curated panel tests designed to confirm clinical diagnoses and produce actionable results</li>
	<li>Guidelines-based panels contain only genes which meet clinical practice guidelines</li>
</ul>
</div>
</div>
</div>

<div id="pillar-responsibility" class="pillars-panel panel">
<div data-target="#pillar-content-responsibility" data-toggle="collapse" class="pillar-header collapsed"><i class="icon icon-clipboard-check"></i> <span class="pillar-name">MEDICAL RESPONSIBILITY</span> <i class="pillar-indicator"></i></div>

<div id="pillar-content-responsibility" class="collapse">
<div class="pillar-content">
<h2 class="landing-big-text">Dedication to responsible medicine</h2>

<ul class="landing-page-bullets color-white">
	<li>A clinician must place the order for any Invitae test</li>
	<li>Indication-specific genetic tests are curated by medical and genetic experts</li>
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Invitae's Clinical Support Services help clinicians and patients understand test results</div>

	<div class="col-xs-12 col-md-3 col-lg-2"><a href="{% page_url 'portal_common.gc-services' %}" class="btn btn-lg ghost-button">LEARN MORE</a></div>
	</div>
	</li>
</ul>
</div>
</div>
</div>

<div id="pillar-price" class="pillars-panel panel">
<div data-target="#pillar-content-price" data-toggle="collapse" class="pillar-header collapsed"><i class="icon icon-dollar-sign"></i> <span class="pillar-name">PRICE</span> <i class="pillar-indicator"></i></div>

<div id="pillar-content-price" class="collapse">
<div class="pillar-content">
<h2 class="landing-big-text">Simple pricing. Simple billing. No surprises.</h2>

<ul class="landing-page-bullets color-white">
	<li>Same price for any genetic test within a single clinical area—regardless of the number of genes ordered</li>
	<li>
	<div class="row">
	<div class="col-xs-12 col-md-9 col-lg-10">Re-requisition additional genes within original clinical area at no additional charge within 90 days</div>

	<div class="col-xs-12 col-md-3 col-lg-2"><a href="{% page_url 'portal_common.re-requisition' %}" class="btn btn-lg ghost-button">LEARN MORE</a></div>
	</div>
	</li>
</ul>
</div>
</div>
</div>
</div>
