<div class="row">
<div class="col-md-12">
<h3>Licensing Information</h3>

<p>Invitae is a College of American Pathologists (CAP)-accredited and Clinical Laboratory Improvement Amendments (CLIA)-certified clinical diagnostic laboratory. We offer genetic testing in the US&nbsp;as well as&nbsp;internationally.</p>

<p>Some states require specialized licensure, you can download copies of Invitae&#39;s licenses from the table below. Visit our <a href="{% page_url 'portal_common.new-york' %}">New York approved</a> page to download the lists of tests and genes which are approved or under conditional approval by New York State to be performed at Invitae and do not require a New York exemption form.</p>

<table class="table-with-lines">
	<tbody>
		<tr>
			<th>Licenses and Certifications</th>
			<th>No.</th>
			<th>Expiration Date</th>
		</tr>
		<tr>
			<td><a href=" http://marketing.invitae.com/acton/attachment/7098/f-014f/1/-/-/-/-/Invitae_College-of-American-Pathologists-%28CAP%29-Accreditation.pdf" target="_blank">College of American Pathologists (CAP) Accreditation</a></td>
			<td>LAP: 8770489, AU-ID: 1703789</td>
			<td>October 24, 2016</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-014e/1/-/-/-/-/Invitae_Clinical-Laboratory-Improvement-Amendments-%28CLIA%29-Accreditation.pdf" target="_blank">Clinical Laboratory Improvement Amendments (CLIA) Certificate of Accreditation</a></td>
			<td>05D2040778</td>
			<td>November 25, 2016</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-014d/1/-/-/-/-/Invitae_California-License.pdf" target="_blank">State of California License</a></td>
			<td>CLF00342667</td>
			<td>March 14, 2017</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0150/1/-/-/-/-/Invitae_Florida-License.pdf" target="_blank">State of Florida License</a></td>
			<td>800026836</td>
			<td>June 6, 2017</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0151/1/-/-/-/-/Invitae_Maryland-License.pdf" target="_blank">State of Maryland License</a></td>
			<td>1964</td>
			<td>June 30, 2016</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-03d0/1/-/-/-/-/Invitae_NewYork-License.pdf" target="_blank">State of New York License</a></td>
			<td>PFI: 8884</td>
			<td>June 30, 2016</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0152/1/-/-/-/-/Invitae_Pennsylvania-License.pdf" target="_blank">State of Pennsylvania License</a></td>
			<td>033007</td>
			<td>August 15, 2016</td>
		</tr>
		<tr>
			<td><a href="http://marketing.invitae.com/acton/attachment/7098/f-0153/1/-/-/-/-/Invitae_Rhode-Island-License.pdf" target="_blank">State of Rhode Island License</a></td>
			<td>LCO00745</td>
			<td>December 30, 2016</td>
		</tr>
	</tbody>
</table>
</div>
</div>