<div class="row">
<ul class="pd-breadcrumbs">
	<li><a href="{% page_url 'patient.real-stories' %}">Real stories</a></li>
	<li>Gabriel Low</li>
</ul>
</div>

<div>
<h2><span class="highlighted-text-mountain">Hope with strength</span></h2>

<p></p>

<h5>Gabriel Low</h5>

<p><img width="99%" align="enter" alt="Gabriel Low" src="https://marketing.invitae.com/cdnr/47/acton/attachment/7098/f-0c2d/1/-/-/-/-/Gabriel_Low_photo2a.jpg"></p>

<p>My name is Gabriel Low. I am 17 years old, and I am a competitive triathlete, a singer, and a scientist, among other things. I was born in Colombia, raised in Alaska, and now live in Hilo, Hawaii. All of these things are a part of my identity, and they are definitely not unimportant, but there is one quality of mine that I feel, especially now, is more important than the rest: I am someone affected by a rare chronic disease.</p>

<p>I was diagnosed with hypokalemic periodic paralysis (HKPP) when I was 6 years old. HKPP is a genetic condition characterized by unstable potassium levels in the bloodstream, resulting in muscle weakness and, at times, paralysis. In order for me to lead a near-normal life, I was prescribed numerous medications and dietary restrictions, which I have had to follow religiously throughout my life. These restrictions include a low-salt, low-sugar diet, as well as restricting excess carbohydrates. As a child, living like this was no small challenge.</p>

<p>Now, 11 years after being diagnosed with HKPP, I have learned to manage the disease, function as an ordinary person, and even do extraordinary things. Other than medication and a low-sugar, low-salt diet, I have learned about one more major thing that helps me to function: exercise. Consistent exercise. When I started training for triathlons about one and a half years ago, I noticed a huge change in my ability to “cheat” on my diet. I could start to go out and get ice cream without having to suffer the major consequences that I was used to (slight weakness and overall decrease in functionality) afterwards. I didn’t make the connection with exercise until about a month later, when I took a week off from training. Then, I noticed that HKPP had come back and had started to affect me again, and I was unable to eat as I pleased. However, as soon as I returned to training, I immediately started to notice improvements. From that moment on, I have not stopped exercising. And that consistent exercise has led to something else that has become a large part of my life: competitive triathlon.</p>

<p>In the months before the race, I have decided that I want to take a stronger stance as someone with a rare disease. I have decided to use my strength that I have been granted now for something more than just racing. I want to make a difference in the world of rare diseases. I want to give hope to others like me. I want to raise awareness, to promote support, and advocate increased understanding for rare diseases, in particular, Primary Periodic Paralysis, or PPP. To do this, I am riding across the country and sharing my message with all I can along the way.</p>

<p><i>Learn more about Uncovering Periodic Paralysis <a href="https://www.invitae.com/en/uncoveringperiodicparalysis/">here</a>. </i><i style="font-size: 13px;"><i> </i></i></p>
</div>